{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Centerpoint Universal API",
    "version": "0.0.123",
    "description": "Call Centerpoint actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/centerpoint/latest/actions/create-company": {
      "post": {
        "operationId": "centerpoint.create-company",
        "summary": "Create Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "type",
                  "salesStatus",
                  "timeZone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "custom.customerType": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "options.taxLabelOverride": {
                    "type": "string"
                  },
                  "custom.companyPhoneNumber": {
                    "type": "string"
                  },
                  "options.billingAddress": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "options.isCreditHold": {
                    "type": "boolean"
                  },
                  "salesStatus": {
                    "type": "string"
                  },
                  "options.isTaxExempt": {
                    "type": "boolean"
                  },
                  "timeZone": {
                    "type": "string"
                  },
                  "isBilling": {
                    "type": "boolean"
                  },
                  "options.serviceBillingInstructions": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "options.serviceWorkInstructions": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "options.laborRates": {
                    "type": "string"
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "subpremise": {
                    "type": "string"
                  },
                  "locality": {
                    "type": "string"
                  },
                  "county": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "postalCode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "placeID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "externalID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "importID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "managerID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "website": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "imageID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "closeRate": {
                    "type": "number",
                    "description": "Percentage number between 0 and 1",
                    "x-mindcloud-advanced": true
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/create-contact": {
      "post": {
        "operationId": "centerpoint.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "adjustablePermissions.timekeepingUpdate": {
                    "type": "boolean"
                  },
                  "lists.accountManagers": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "options.truckID": {
                    "type": "string"
                  },
                  "adjustablePermissions.drawingsPricingUpdate": {
                    "type": "boolean"
                  },
                  "companyID": {
                    "type": "number"
                  },
                  "lists.projectManagers": {
                    "type": "boolean"
                  },
                  "options.laborCost": {
                    "type": "number"
                  },
                  "adjustablePermissions.accountDownload": {
                    "type": "boolean"
                  },
                  "lists.serviceHelpers": {
                    "type": "boolean"
                  },
                  "options.propertyIDs[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "userID": {
                    "type": "number"
                  },
                  "lists.technicians": {
                    "type": "boolean"
                  },
                  "options.serviceNotifications": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "userRoleID": {
                    "type": "number"
                  },
                  "groupID": {
                    "type": "number"
                  },
                  "options.serviceNotificationsProperty": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "externalID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.serviceNotificationsCompany": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "importID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.serviceNotificationsTexas": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "email": {
                    "type": "string"
                  },
                  "options.serviceNotificationsNonTexas": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "options.serviceNotificationsCorporate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "position": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "office": {
                    "type": "string",
                    "description": "Main office phone number"
                  },
                  "options.serviceNotificationsNonCorporate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "officeExt": {
                    "type": "string",
                    "description": "Main office phone number extension"
                  },
                  "options.productionNotifications": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "options.productionNotificationsCorporate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "fax": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.productionNotificationsNonCorporate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "imageID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.productionNotificationsCompany": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "options.productionNotificationsProperty": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "allProperties": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "options.allowedFileLibraryTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "isBilling": {
                    "type": "boolean"
                  },
                  "options.allowedMenuItems[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "options.emailSignature": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "lists": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "adjustablePermissions": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/create-file": {
      "post": {
        "operationId": "centerpoint.create-file",
        "summary": "Create File",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/create-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data",
                  "data.attributes",
                  "data.attributes.url",
                  "data.attributes.title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "data.attributes": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "data.attributes.url": {
                    "type": "string"
                  },
                  "data.attributes.title": {
                    "type": "string"
                  },
                  "data.attributes.description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "height": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "mimeType": {
                                "type": "string"
                              },
                              "thumbnailUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "variety": {
                                "type": "string"
                              },
                              "width": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/create-file-upload": {
      "post": {
        "operationId": "centerpoint.create-file-upload",
        "summary": "Create File Upload",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/create-file-upload"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "sourceFile",
                  "subjectType",
                  "subjectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Original filename sent to Centerpoint."
                  },
                  "sourceFile": {
                    "type": "string",
                    "description": "File content. The action converts bare base64 to Centerpoint's required data URI format before sending."
                  },
                  "subjectType": {
                    "type": "string",
                    "description": "Centerpoint subject type for the file attachment.",
                    "enum": [
                      "companies",
                      "productions",
                      "properties"
                    ],
                    "default": "companies"
                  },
                  "subjectId": {
                    "type": "string",
                    "description": "Centerpoint subject id to attach the uploaded file to. For company attachments, use the Centerpoint company id."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Centerpoint model file tags, for example [\"Photos\"]."
                  },
                  "thumbnailSize": {
                    "type": "number",
                    "description": "Thumbnail size for image uploads. Centerpoint examples use 390.",
                    "default": 390
                  },
                  "title": {
                    "type": "string",
                    "description": "Display title for the Centerpoint file."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional file description."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number",
                            "description": "Centerpoint file ID."
                          },
                          "importId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude associated with the file when Centerpoint returns one."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude associated with the file when Centerpoint returns one."
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "thumbnailPath": {
                            "type": "string"
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/create-opportunity": {
      "post": {
        "operationId": "centerpoint.create-opportunity",
        "summary": "Create Opportunity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/create-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "domain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "domain": {
                    "type": "string"
                  },
                  "options.notifications": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.signatureData.isChecked": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "options.contractorNTE": {
                    "type": "string",
                    "description": "A contractor NTE (Not to Exceed) is a contractual clause and cost-control mechanism that sets a maximum, capped amount a contractor can charge for a project or service.",
                    "x-mindcloud-advanced": true
                  },
                  "options.signatureData.name": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.opportunityNTE": {
                    "type": "string",
                    "description": "Overall opportunity NTE (Not to Exceed) is a contractual clause and cost-control mechanism that sets a maximum, capped amount for the overall opportunity."
                  },
                  "options.signatureData.file": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "price": {
                    "type": "number"
                  },
                  "opportunityType": {
                    "type": "string"
                  },
                  "options.signatureData.date": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.truckID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.attachmentID": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options.signatureData.purchaseOrder": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "workflowType": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "options.signatureData": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "type": {
                    "type": "string"
                  },
                  "propertyID": {
                    "type": "string"
                  },
                  "billedCompanyID": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "forecastedAt": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "projectedCloseDate": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/create-property": {
      "post": {
        "operationId": "centerpoint.create-property",
        "summary": "Create Property",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/create-property"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "custom.roofSize": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "options.billingAddress": {
                    "type": "string"
                  },
                  "options.isCreditHold": {
                    "type": "boolean"
                  },
                  "options.isTaxExempt": {
                    "type": "boolean"
                  },
                  "accountID": {
                    "type": "number"
                  },
                  "options.serviceBillingInstructions": {
                    "type": "string"
                  },
                  "companyID": {
                    "type": "string"
                  },
                  "options.serviceWorkInstructions": {
                    "type": "string"
                  },
                  "options.interactivePropertyUrl": {
                    "type": "string"
                  },
                  "primaryContractorID": {
                    "type": "number"
                  },
                  "options.taxCodeIDs[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "primaryBuildingID": {
                    "type": "number"
                  },
                  "externalID": {
                    "type": "string"
                  },
                  "importID": {
                    "type": "string"
                  },
                  "managerID": {
                    "type": "number"
                  },
                  "locationID": {
                    "type": "number"
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/create-transaction": {
      "post": {
        "operationId": "centerpoint.create-transaction",
        "summary": "Create Transaction",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/create-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "data.attributes.amount": {
                    "type": "string"
                  },
                  "data.type": {
                    "type": "string",
                    "description": "transactions"
                  },
                  "data.attributes": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "data.attributes.paymentMethod": {
                    "type": "string"
                  },
                  "data.attributes.notes": {
                    "type": "string"
                  },
                  "data.attributes.receivedDate": {
                    "type": "string"
                  },
                  "data.attributes.invoiceId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/get-cost-code": {
      "get": {
        "operationId": "centerpoint.get-cost-code",
        "summary": "Get cost_code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/get-cost-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "budget"
            }
          },
          {
            "name": "COST_CODE_ID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "spent": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/get-invoice": {
      "get": {
        "operationId": "centerpoint.get-invoice",
        "summary": "Get Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[invoices]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/get-single-company": {
      "get": {
        "operationId": "centerpoint.get-single-company",
        "summary": "Get Single Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/get-single-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "COMPANY_ID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "number"
                              },
                              "closeRate": {
                                "type": "string"
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "county": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "custom": {
                                "type": "object",
                                "properties": {
                                  "licensed": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customWithLabels": {
                                "type": "object",
                                "properties": {
                                  "licensed": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "importId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "options": {
                                "type": "object",
                                "properties": {
                                  "autoGenerateExternalIds": {
                                    "type": "boolean"
                                  },
                                  "billingAddress": {
                                    "type": "string"
                                  },
                                  "dailyProgressReportIncludedWork": {
                                    "type": "string"
                                  },
                                  "dailyProgressReportTimeOfDay": {
                                    "type": "string"
                                  },
                                  "isHideProductPriceFromTechnicians": {
                                    "type": "boolean"
                                  },
                                  "serviceBillingInstructions": {
                                    "type": "string"
                                  },
                                  "taxLabelOverride": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "placeId": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "propertyCount": {
                                "type": "number"
                              },
                              "recentActivity": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "salesStatus": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              },
                              "subpremise": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "website": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/get-single-file": {
      "get": {
        "operationId": "centerpoint.get-single-file",
        "summary": "Get Single File",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/get-single-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "height": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "mimeType": {
                                "type": "string"
                              },
                              "thumbnailUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "variety": {
                                "type": "string"
                              },
                              "width": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/centerpoint/latest/actions/get-single-production": {
      "get": {
        "operationId": "centerpoint.get-single-production",
        "summary": "Get Single Production",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/centerpoint/latest/actions/get-single-production"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PRODUCTION_ID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
[...]
