{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Commerce Layer Universal API",
    "version": "0.0.6",
    "description": "Manage markets, inventory, orders, pricing, and promotions across channels"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/commerceLayer/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/commerceLayer/latest/actions/create-address": {
      "post": {
        "operationId": "commerceLayer.create-address",
        "summary": "Create Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/commerceLayer/latest/actions/create-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "line1",
                  "city",
                  "zipCode",
                  "countryCode",
                  "phone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "business": {
                    "type": "boolean",
                    "description": "Whether the address belongs to a business.",
                    "example": false,
                    "default": false
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The first name for the address contact.",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The last name for the address contact.",
                    "example": "Smith"
                  },
                  "company": {
                    "type": "string",
                    "description": "The company name for a business address.",
                    "example": "The Red Brand Inc.",
                    "x-mindcloud-advanced": true
                  },
                  "line1": {
                    "type": "string",
                    "description": "The first address line.",
                    "example": "2883 Geraldine Lane"
                  },
                  "line2": {
                    "type": "string",
                    "description": "The second address line.",
                    "example": "Apt. 23",
                    "x-mindcloud-advanced": true
                  },
                  "city": {
                    "type": "string",
                    "description": "The city for the address.",
                    "example": "New York"
                  },
                  "zipCode": {
                    "type": "string",
                    "description": "The postal code for the address.",
                    "example": "10013"
                  },
                  "stateCode": {
                    "type": "string",
                    "description": "The state or province code for the address.",
                    "example": "NY",
                    "x-mindcloud-advanced": true
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "The ISO country code for the address.",
                    "example": "US"
                  },
                  "phone": {
                    "type": "string",
                    "description": "The phone number for the address contact.",
                    "example": "+12126463381228"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address for the address contact.",
                    "example": "john@example.com",
                    "x-mindcloud-advanced": true
                  },
                  "notes": {
                    "type": "string",
                    "description": "Additional notes for the address.",
                    "example": "Please ring the bell twice",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "billing_info": {
                                "type": "string"
                              },
                              "business": {
                                "type": "boolean"
                              },
                              "city": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "country_code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "full_address": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "is_geocoded": {
                                "type": "boolean"
                              },
                              "is_localized": {
                                "type": "boolean"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "lat": {
                                "type": "number"
                              },
                              "line_1": {
                                "type": "string"
                              },
                              "line_2": {
                                "type": "string"
                              },
                              "lng": {
                                "type": "number"
                              },
                              "map_url": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "notes": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "provider_name": {
                                "type": "string"
                              },
                              "reference": {
                                "type": "string"
                              },
                              "reference_origin": {
                                "type": "string"
                              },
                              "state_code": {
                                "type": "string"
                              },
                              "static_map_url": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "zip_code": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string"
                              },
                              "organization_id": {
                                "type": "string"
                              },
                              "trace_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "event_stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "events": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "geocoder": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tags": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "versions": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/commerceLayer/latest/actions/create-avalara-account": {
      "post": {
        "operationId": "commerceLayer.create-avalara-account",
        "summary": "Create Avalara Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/commerceLayer/latest/actions/create-avalara-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyCode",
                  "name",
                  "password",
                  "username"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "commitInvoice": {
                    "type": "boolean",
                    "description": "Whether Avalara should commit invoices.",
                    "x-mindcloud-advanced": true
                  },
                  "companyCode": {
                    "type": "string",
                    "description": "Avalara company code.",
                    "example": "DEFAULT"
                  },
                  "ddp": {
                    "type": "boolean",
                    "description": "Whether seller is responsible for duty and import tax.",
                    "x-mindcloud-advanced": true
                  },
                  "name": {
                    "type": "string",
                    "description": "Internal Commerce Layer name for the Avalara account.",
                    "example": "MindCloud Avalara Account"
                  },
                  "password": {
                    "type": "string",
                    "description": "Avalara account password.",
                    "example": "Avalara password"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Optional external reference for the Avalara account.",
                    "example": "MC-AVALARA-ACCOUNT",
                    "x-mindcloud-advanced": true
                  },
                  "referenceOrigin": {
                    "type": "string",
                    "description": "Optional origin for the reference code.",
                    "example": "mindcloud-wizard",
                    "x-mindcloud-advanced": true
                  },
                  "username": {
                    "type": "string",
                    "description": "Avalara account username.",
                    "example": "apps@example.com"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "commit_invoice": {
                                "type": "boolean"
                              },
                              "company_code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "ddp": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "reference": {
                                "type": "string"
                              },
                              "reference_origin": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string"
                              },
                              "organization_id": {
                                "type": "string"
                              },
                              "trace_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "attachments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "event_stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "events": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "markets": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tax_categories": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "versions": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/commerceLayer/latest/actions/create-customer-group": {
      "post": {
        "operationId": "commerceLayer.create-customer-group",
        "summary": "Create Customer Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/commerceLayer/latest/actions/create-customer-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "reference": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "referenceOrigin": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "reference": {
                                "type": "string"
                              },
                              "reference_origin": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string"
                              },
                              "organization_id": {
                                "type": "string"
                              },
                              "trace_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "attachments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customers": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "event_stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "markets": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "versions": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/commerceLayer/latest/actions/create-inventory-model": {
      "post": {
        "operationId": "commerceLayer.create-inventory-model",
        "summary": "Create Inventory Model",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/commerceLayer/latest/actions/create-inventory-model"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The inventory model name.",
                    "example": "EU Inventory Model"
                  },
                  "strategy": {
                    "type": "string",
                    "description": "The inventory split strategy.",
                    "example": "no_split",
                    "default": "no_split",
                    "x-mindcloud-advanced": true
                  },
                  "stockLocationsCutoff": {
                    "type": "number",
                    "description": "The stock locations cutoff value.",
                    "example": 2,
                    "default": 2,
                    "x-mindcloud-advanced": true
                  },
                  "stockReservationCutoff": {
                    "type": "number",
                    "description": "The stock reservation cutoff in seconds.",
                    "example": 3600,
                    "default": 3600,
                    "x-mindcloud-advanced": true
                  },
                  "putStockTransfersOnHold": {
                    "type": "boolean",
                    "description": "Whether stock transfers should be put on hold.",
                    "example": false,
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "manualStockDecrement": {
                    "type": "boolean",
                    "description": "Whether stock decrement should be handled manually.",
                    "example": false,
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "reference": {
                    "type": "string",
                    "description": "An external reference for the inventory model.",
                    "example": "ANY-EXTERNAL-REFERENCE",
                    "x-mindcloud-advanced": true
                  },
                  "referenceOrigin": {
                    "type": "string",
                    "description": "The origin of the external reference.",
                    "example": "ANY-EXTERNAL-REFERENCE-ORIGIN",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "manual_stock_decrement": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "put_stock_transfers_on_hold": {
                                "type": "boolean"
                              },
                              "reference": {
                                "type": "string"
                              },
                              "reference_origin": {
                                "type": "string"
                              },
                              "stock_locations_cutoff": {
                                "type": "number"
                              },
                              "stock_reservation_cutoff": {
                                "type": "number"
                              },
                              "strategy": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string"
                              },
                              "organization_id": {
                                "type": "string"
                              },
                              "trace_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "attachments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "event_stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "inventory_return_locations": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "inventory_stock_locations": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "versions": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/commerceLayer/latest/actions/create-manual-tax-calculator": {
      "post": {
        "operationId": "commerceLayer.create-manual-tax-calculator",
        "summary": "Create Manual Tax Calculator",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/commerceLayer/latest/actions/create-manual-tax-calculator"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The manual tax calculator name.",
                    "example": "MindCloud Manual Tax Calculator"
                  },
                  "reference": {
                    "type": "string",
                    "description": "An external reference for the manual tax calculator.",
                    "example": "MC-MANUAL-TAX-CALCULATOR",
                    "x-mindcloud-advanced": true
                  },
                  "referenceOrigin": {
                    "type": "string",
                    "description": "The origin of the external reference.",
                    "example": "mindcloud-wizard",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "reference": {
                                "type": "string"
                              },
                              "reference_origin": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string"
                              },
                              "organization_id": {
                                "type": "string"
                              },
                              "trace_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "attachments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "event_stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "events": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "markets": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tax_rules": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "versions": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/commerceLayer/latest/actions/create-market": {
      "post": {
        "operationId": "commerceLayer.create-market",
        "summary": "Create Market",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/commerceLayer/latest/actions/create-market"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "merchantId",
                  "priceListId",
                  "inventoryModelId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The market name.",
                    "example": "EU Market"
                  },
                  "code": {
                    "type": "string",
                    "description": "An optional code for the market.",
                    "example": "europe1",
                    "x-mindcloud-advanced": true
                  },
                  "reference": {
                    "type": "string",
                    "description": "An external reference for the market.",
                    "example": "ANY-EXTERNAL-REFERENCE",
                    "x-mindcloud-advanced": true
                  },
                  "referenceOrigin": {
                    "type": "string",
                    "description": "The origin of the external reference.",
                    "example": "ANY-EXTERNAL-REFERENCE-ORIGIN",
                    "x-mindcloud-advanced": true
                  },
                  "merchantId": {
                    "type": "string",
                    "description": "The merchant ID to link to the market.",
                    "example": "DnmVgHyAxK"
                  },
                  "priceListId": {
                    "type": "string",
                    "description": "The price list ID to link to the market.",
                    "example": "gBADpCNdLW"
                  },
                  "inventoryModelId": {
                    "type": "string",
                    "description": "The inventory model ID to link to the market.",
                    "example": "AZQoQSNnWq"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "checkout_url": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "disabled_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "external_order_validation_url": {
                                "type": "string"
                              },
                              "external_prices_url": {
                                "type": "string"
                              },
                              "facebook_pixel_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              },
                              "private": {
                                "type": "boolean"
                              },
                              "reference": {
                                "type": "string"
                              },
                              "reference_origin": {
                                "type": "string"
                              },
                              "shared_secret": {
                                "type": "string"
                              },
                              "shipping_cost_cutoff": {
                                "type": "number"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string"
                              },
                              "organization_id": {
                                "type": "string"
                              },
                              "trace_id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "attachments": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "base_price_list": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customer_group": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "default_payment_method": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "default_shipping_method": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "discount_engine": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "event_stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "geocoder": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "inventory_model": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "merchant": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "order_validation_rules": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "price_list_schedulers": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "price_list": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "stores": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "subscription_model": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tax_calculator": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "versions": {
                                "type": "object",
                                "properties": {
                                  "links": {
                                    "type": "object",
                                    "properties": {
                                      "related": {
                                        "type": "string"
                                      },
                                      "self": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
