{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Gumroad Universal API",
    "version": "0.0.7",
    "description": "Sell products and manage Gumroad sales"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/gumroad/latest/actions/create-custom-field": {
      "post": {
        "operationId": "gumroad.create-custom-field",
        "summary": "Create Custom Field",
        "description": "Creates a new custom field in Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/create-custom-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productId",
                  "name",
                  "required"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productId": {
                    "type": "string",
                    "description": "The product ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "The custom field name."
                  },
                  "required": {
                    "type": "boolean",
                    "description": "Whether the custom field is required."
                  },
                  "variant": {
                    "type": "string",
                    "description": "The variant this custom field applies to, when applicable."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customField": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "required": {
                                "type": "string"
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/create-offer-code": {
      "post": {
        "operationId": "gumroad.create-offer-code",
        "summary": "Create Offer Code",
        "description": "Creates a new offer code in Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/create-offer-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productId",
                  "name",
                  "amountOff"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productId": {
                    "type": "string",
                    "description": "The product ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "The coupon code used at checkout."
                  },
                  "amountOff": {
                    "type": "number",
                    "description": "The discount amount."
                  },
                  "offerType": {
                    "type": "string",
                    "description": "Use cents or percent."
                  },
                  "maxPurchaseCount": {
                    "type": "number",
                    "description": "The maximum number of redemptions allowed."
                  },
                  "universal": {
                    "type": "boolean",
                    "description": "Whether the offer code applies to all products."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "offerCode": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amountCents": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "maxPurchaseCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "timesUsed": {
                                "type": "number"
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/delete-custom-field": {
      "delete": {
        "operationId": "gumroad.delete-custom-field",
        "summary": "Delete Custom Field",
        "description": "Deletes an existing custom field from Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/delete-custom-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "The product ID.",
            "schema": {
              "type": "string",
              "description": "The product ID."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The custom field name.",
            "schema": {
              "type": "string",
              "description": "The custom field name."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/delete-offer-code": {
      "delete": {
        "operationId": "gumroad.delete-offer-code",
        "summary": "Delete Offer Code",
        "description": "Deletes an existing offer code from Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/delete-offer-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "The product ID.",
            "schema": {
              "type": "string",
              "description": "The product ID."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The offer code ID.",
            "schema": {
              "type": "string",
              "description": "The offer code ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/disable-product": {
      "put": {
        "operationId": "gumroad.disable-product",
        "summary": "Disable Product",
        "description": "Disables a product in Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/disable-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The product ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "customDeliveryUrl": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "customizablePrice": {
                                "type": "boolean"
                              },
                              "customPermalink": {
                                "type": "string"
                              },
                              "customReceipt": {
                                "type": "string"
                              },
                              "customSummary": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "fileInfo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "formattedPrice": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isTieredMembership": {
                                "type": "boolean"
                              },
                              "maxPurchaseCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "previewUrl": {
                                "type": "string"
                              },
                              "price": {
                                "type": "number"
                              },
                              "published": {
                                "type": "boolean"
                              },
                              "purchasingPowerParityPrices": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recurrences": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "requireShipping": {
                                "type": "boolean"
                              },
                              "salesCount": {
                                "type": "number"
                              },
                              "salesUsdCents": {
                                "type": "number"
                              },
                              "shortUrl": {
                                "type": "string"
                              },
                              "subscriptionDuration": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "thumbnailUrl": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "variants": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "options": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "isPayWhatYouWant": {
                                            "type": "boolean"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "priceDifference": {
                                            "type": "number"
                                          },
                                          "purchasingPowerParityPrices": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "recurrencePrices": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "viewCount": {
                                "type": "number"
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/enable-product": {
      "put": {
        "operationId": "gumroad.enable-product",
        "summary": "Enable Product",
        "description": "Enables a product in Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/enable-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The product ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "customDeliveryUrl": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "customizablePrice": {
                                "type": "boolean"
                              },
                              "customPermalink": {
                                "type": "string"
                              },
                              "customReceipt": {
                                "type": "string"
                              },
                              "customSummary": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "fileInfo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "formattedPrice": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isTieredMembership": {
                                "type": "boolean"
                              },
                              "maxPurchaseCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "previewUrl": {
                                "type": "string"
                              },
                              "price": {
                                "type": "number"
                              },
                              "published": {
                                "type": "boolean"
                              },
                              "purchasingPowerParityPrices": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recurrences": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "requireShipping": {
                                "type": "boolean"
                              },
                              "salesCount": {
                                "type": "number"
                              },
                              "salesUsdCents": {
                                "type": "number"
                              },
                              "shortUrl": {
                                "type": "string"
                              },
                              "subscriptionDuration": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "thumbnailUrl": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "variants": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "options": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "isPayWhatYouWant": {
                                            "type": "boolean"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "priceDifference": {
                                            "type": "number"
                                          },
                                          "purchasingPowerParityPrices": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "recurrencePrices": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/get-offer-code": {
      "get": {
        "operationId": "gumroad.get-offer-code",
        "summary": "Get Offer Code",
        "description": "Retrieves an offer code from Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/get-offer-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "The product ID.",
            "schema": {
              "type": "string",
              "description": "The product ID."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The offer code ID.",
            "schema": {
              "type": "string",
              "description": "The offer code ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "offerCode": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amountCents": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "maxPurchaseCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "timesUsed": {
                                "type": "number"
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/get-payout": {
      "get": {
        "operationId": "gumroad.get-payout",
        "summary": "Get Payout",
        "description": "Retrieves a payout from Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/get-payout"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The payout ID.",
            "schema": {
              "type": "string",
              "description": "The payout ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "payout": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "disputedSales": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "paymentProcessor": {
                                "type": "string"
                              },
                              "processedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "refundedSales": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "sales": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "status": {
                                "type": "string"
                              },
                              "transactions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "buyerEmail": {
                                      "type": "string"
                                    },
                                    "buyerName": {
                                      "type": "string"
                                    },
                                    "date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "itemName": {
                                      "type": "string"
                                    },
                                    "netTotal": {
                                      "type": "number"
                                    },
                                    "purchaseId": {
                                      "type": "string"
                                    },
                                    "salePrice": {
                                      "type": "number"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/get-product": {
      "get": {
        "operationId": "gumroad.get-product",
        "summary": "Get Product",
        "description": "Retrieves a product from Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The product ID.",
            "schema": {
              "type": "string",
              "description": "The product ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "customDeliveryUrl": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "customizablePrice": {
                                "type": "boolean"
                              },
                              "customPermalink": {
                                "type": "string"
                              },
                              "customReceipt": {
                                "type": "string"
                              },
                              "customSummary": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "fileInfo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "formattedPrice": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isTieredMembership": {
                                "type": "boolean"
                              },
                              "maxPurchaseCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "previewUrl": {
                                "type": "string"
                              },
                              "price": {
                                "type": "number"
                              },
                              "published": {
                                "type": "boolean"
                              },
                              "purchasingPowerParityPrices": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recurrences": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "requireShipping": {
                                "type": "boolean"
                              },
                              "salesCount": {
                                "type": "number"
                              },
                              "salesUsdCents": {
                                "type": "number"
                              },
                              "shortUrl": {
                                "type": "string"
                              },
                              "subscriptionDuration": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "thumbnailUrl": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "variants": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "options": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "isPayWhatYouWant": {
                                            "type": "boolean"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "priceDifference": {
                                            "type": "number"
                                          },
                                          "purchasingPowerParityPrices": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "recurrencePrices": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/get-sale": {
      "get": {
        "operationId": "gumroad.get-sale",
        "summary": "Get Sale",
        "description": "Retrieves a sale from Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/get-sale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The sale ID.",
            "schema": {
              "type": "string",
              "description": "The sale ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sale": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "affiliate": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "amount": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  }
                                }
                              },
                              "amountRefundableInCurrency": {
                                "type": "string"
                              },
                              "averageRating": {
                                "type": "number"
                              },
                              "cancelled": {
                                "type": "boolean"
                              },
                              "canContact": {
                                "type": "boolean"
                              },
                              "card": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "visual": {
                                    "type": "string"
                                  }
                                }
                              },
                              "chargedback": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currencySymbol": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "daystamp": {
                                "type": "string"
                              },
                              "discoverFeeCharged": {
                                "type": "boolean"
                              },
                              "disputed": {
                                "type": "boolean"
                              },
                              "disputeWon": {
                                "type": "boolean"
                              },
                              "email": {
                                "type": "string"
                              },
                              "ended": {
                                "type": "boolean"
                              },
                              "formattedDisplayPrice": {
                                "type": "string"
                              },
                              "formattedTotalPrice": {
                                "type": "string"
                              },
                              "gumroadFee": {
                                "type": "number"
                              },
                              "hasCustomFields": {
                                "type": "boolean"
                              },
                              "hasVariants": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isAdditionalContribution": {
                                "type": "boolean"
                              },
                              "isFollowing": {
                                "type": "boolean"
                              },
                              "isGiftReceiverPurchase": {
                                "type": "boolean"
                              },
                              "isGiftSenderPurchase": {
                                "type": "boolean"
                              },
                              "isProductPhysical": {
                                "type": "boolean"
                              },
                              "isRecurringBilling": {
                                "type": "boolean"
                              },
                              "licenseDisabled": {
                                "type": "boolean"
                              },
                              "licenseId": {
                                "type": "string"
                              },
                              "licenseKey": {
                                "type": "string"
                              },
                              "offerCode": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "displayedAmountOff": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              },
                              "orderId": {
                                "type": "number"
                              },
                              "paid": {
                                "type": "boolean"
                              },
                              "partiallyRefunded": {
                                "type": "boolean"
                              },
                              "price": {
                                "type": "number"
                              },
                              "productHasVariants": {
                                "type": "boolean"
                              },
                              "productId": {
                                "type": "string"
                              },
                              "productName": {
                                "type": "string"
                              },
                              "productPermalink": {
                                "type": "string"
                              },
                              "productRating": {
                                "type": "number"
                              },
                              "purchaseEmail": {
                                "type": "string"
                              },
                              "purchaserId": {
                                "type": "string"
                              },
                              "quantity": {
                                "type": "number"
                              },
                              "recurringCharge": {
                                "type": "boolean"
                              },
                              "referrer": {
                                "type": "string"
                              },
                              "reviewsCount": {
                                "type": "number"
                              },
                              "sellerId": {
                                "type": "string"
                              },
                              "subscriptionDuration": {
                                "type": "string"
                              },
                              "subscriptionId": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string"
                              },
                              "variants": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "variantsAndQuantity": {
                                "type": "string"
                              },
                              "zipCode": {
                                "type": "string"
                              }
                            }
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gumroad/latest/actions/get-subscriber": {
      "get": {
        "operationId": "gumroad.get-subscriber",
        "summary": "Get Subscriber",
        "description": "Retrieves a subscriber from Gumroad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gumroad/latest/actions/get-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The subscriber ID.",
            "schema": {
              "type": "string",
              "description": "The subscriber ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscribers": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cancelledAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "chargeOccurrenceCount": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "endedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "failedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "freeTrialEndsAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "id": {
                                "type": "string"
                              },
                              "licenseKey": {
                                "type": "string"
[...]
