{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Apify Universal API",
    "version": "0.0.13",
    "description": "Connect Apify to list and manage actors, tasks, runs, datasets, key-value stores, request queues, webhooks, schedules, logs, and account data through the Apify API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/apify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/apify/latest/actions/get-account-limits": {
      "get": {
        "operationId": "apify.get-account-limits",
        "summary": "Get Account Limits",
        "description": "Retrieves account limits from Apify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-account-limits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "current": {
                                "type": "object",
                                "properties": {
                                  "activeActorJobCount": {
                                    "type": "number"
                                  },
                                  "actorCount": {
                                    "type": "number"
                                  },
                                  "actorMemoryGbytes": {
                                    "type": "number"
                                  },
                                  "actorTaskCount": {
                                    "type": "number"
                                  },
                                  "monthlyActorComputeUnits": {
                                    "type": "number"
                                  },
                                  "monthlyExternalDataTransferGbytes": {
                                    "type": "number"
                                  },
                                  "monthlyProxySerps": {
                                    "type": "number"
                                  },
                                  "monthlyResidentialProxyGbytes": {
                                    "type": "number"
                                  },
                                  "monthlyUsageUsd": {
                                    "type": "number"
                                  },
                                  "scheduleCount": {
                                    "type": "number"
                                  },
                                  "teamAccountSeatCount": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "limits": {
                                "type": "object",
                                "properties": {
                                  "dataRetentionDays": {
                                    "type": "number"
                                  },
                                  "maxActorCount": {
                                    "type": "number"
                                  },
                                  "maxActorMemoryGbytes": {
                                    "type": "number"
                                  },
                                  "maxActorTaskCount": {
                                    "type": "number"
                                  },
                                  "maxConcurrentActorJobs": {
                                    "type": "number"
                                  },
                                  "maxMonthlyActorComputeUnits": {
                                    "type": "number"
                                  },
                                  "maxMonthlyExternalDataTransferGbytes": {
                                    "type": "number"
                                  },
                                  "maxMonthlyProxySerps": {
                                    "type": "number"
                                  },
                                  "maxMonthlyResidentialProxyGbytes": {
                                    "type": "number"
                                  },
                                  "maxMonthlyUsageUsd": {
                                    "type": "number"
                                  },
                                  "maxScheduleCount": {
                                    "type": "number"
                                  },
                                  "maxTeamAccountSeatCount": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "monthlyUsageCycle": {
                                "type": "object",
                                "properties": {
                                  "endAt": {
                                    "type": "string"
                                  },
                                  "startAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-actor": {
      "get": {
        "operationId": "apify.get-actor",
        "summary": "Get Actor",
        "description": "Retrieves an actor from Apify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-actor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "description": "The ID or username of the actor to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID or username of the actor to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "actorPermissionLevel": {
                                "type": "string"
                              },
                              "categories": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "defaultRunOptions": {
                                "type": "object",
                                "properties": {
                                  "build": {
                                    "type": "string"
                                  },
                                  "memoryMbytes": {
                                    "type": "number"
                                  },
                                  "timeoutSecs": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "deploymentKey": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "exampleRunInput": {
                                "type": "object",
                                "properties": {
                                  "body": {
                                    "type": "string"
                                  },
                                  "contentType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "hasNoDataset": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isCritical": {
                                "type": "boolean"
                              },
                              "isDeprecated": {
                                "type": "boolean"
                              },
                              "isGeneric": {
                                "type": "boolean"
                              },
                              "isPublic": {
                                "type": "boolean"
                              },
                              "isSourceCodeHidden": {
                                "type": "boolean"
                              },
                              "modifiedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "notice": {
                                "type": "string"
                              },
                              "pictureUrl": {
                                "type": "string"
                              },
                              "seoDescription": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "seoTitle": {
                                "type": "string"
                              },
                              "standbyUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "actorReviewCount": {
                                    "type": "number"
                                  },
                                  "actorReviewRating": {
                                    "type": "number"
                                  },
                                  "bookmarkCount": {
                                    "type": "number"
                                  },
                                  "lastRunStartedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "publicActorRunStats30Days": {
                                    "type": "object",
                                    "properties": {
                                      "aborted": {
                                        "type": "number"
                                      },
                                      "failed": {
                                        "type": "number"
                                      },
                                      "succeeded": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "totalBuilds": {
                                    "type": "number"
                                  },
                                  "totalMetamorphs": {
                                    "type": "number"
                                  },
                                  "totalRuns": {
                                    "type": "number"
                                  },
                                  "totalUsers": {
                                    "type": "number"
                                  },
                                  "totalUsers30Days": {
                                    "type": "number"
                                  },
                                  "totalUsers7Days": {
                                    "type": "number"
                                  },
                                  "totalUsers90Days": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "taggedBuilds": {
                                "type": "object",
                                "properties": {
                                  "latest": {
                                    "type": "object",
                                    "properties": {
                                      "buildId": {
                                        "type": "string"
                                      },
                                      "buildNumber": {
                                        "type": "string"
                                      },
                                      "buildNumberInt": {
                                        "type": "number"
                                      },
                                      "finishedAt": {
                                        "type": "string",
                                        "format": "date-time"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "title": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "versions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "buildTag": {
                                      "type": "string"
                                    },
                                    "gitRepoUrl": {
                                      "type": "string"
                                    },
                                    "sourceFiles": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "content": {
                                            "type": "string"
                                          },
                                          "format": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "sourceType": {
                                      "type": "string"
                                    },
                                    "versionNumber": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-actor-build": {
      "get": {
        "operationId": "apify.get-actor-build",
        "summary": "Get Actor Build",
        "description": "Retrieves an actor build from Apify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-actor-build"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "description": "The ID or username of the actor that owns the build.",
            "schema": {
              "type": "string",
              "description": "The ID or username of the actor that owns the build."
            }
          },
          {
            "name": "buildId",
            "in": "query",
            "required": true,
            "description": "The ID of the build to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the build to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "actId": {
                                "type": "string"
                              },
                              "actorDefinition": {
                                "type": "object",
                                "properties": {
                                  "input": {
                                    "type": "object",
                                    "properties": {
                                      "properties": {
                                        "type": "object",
                                        "properties": {
                                          "htmlString": {
                                            "type": "object",
                                            "properties": {
                                              "description": {
                                                "type": "string"
                                              },
                                              "editor": {
                                                "type": "string"
                                              },
                                              "title": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "schemaVersion": {
                                        "type": "number"
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "readme": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "actVersion": {
                                "type": "object",
                                "properties": {
                                  "buildTag": {
                                    "type": "string"
                                  },
                                  "gitRepoUrl": {
                                    "type": "string"
                                  },
                                  "sourceType": {
                                    "type": "string"
                                  },
                                  "versionNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "buildNumber": {
                                "type": "string"
                              },
                              "finishedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gitCommitId": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "inputSchema": {
                                "type": "string"
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "origin": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "options": {
                                "type": "object",
                                "properties": {
                                  "betaPackages": {
                                    "type": "boolean"
                                  },
                                  "diskMbytes": {
                                    "type": "number"
                                  },
                                  "memoryMbytes": {
                                    "type": "number"
                                  },
                                  "useCache": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "readme": {
                                "type": "string"
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "computeUnits": {
                                    "type": "number"
                                  },
                                  "durationMillis": {
                                    "type": "number"
                                  },
                                  "imageSizeBytes": {
                                    "type": "number"
                                  },
                                  "runTimeSecs": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "status": {
                                "type": "string"
                              },
                              "usageTotalUsd": {
                                "type": "number"
                              },
                              "userId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-actor-run": {
      "get": {
        "operationId": "apify.get-actor-run",
        "summary": "Get Actor Run",
        "description": "Retrieves an actor run from Apify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-actor-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "description": "The ID or username of the actor that owns the run.",
            "schema": {
              "type": "string",
              "description": "The ID or username of the actor that owns the run."
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "The ID of the actor run to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the actor run to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "actId": {
                                "type": "string"
                              },
                              "actorTaskId": {
                                "type": "string"
                              },
                              "buildId": {
                                "type": "string"
                              },
                              "buildNumber": {
                                "type": "string"
                              },
                              "consoleUrl": {
                                "type": "string"
                              },
                              "defaultDatasetId": {
                                "type": "string"
                              },
                              "defaultKeyValueStoreId": {
                                "type": "string"
                              },
                              "defaultRequestQueueId": {
                                "type": "string"
                              },
                              "finishedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "id": {
                                "type": "string"
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "origin": {
                                    "type": "string"
                                  },
                                  "userAgent": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "computeUnits": {
                                    "type": "number"
                                  },
                                  "durationMillis": {
                                    "type": "number"
                                  },
                                  "runTimeSecs": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "status": {
                                "type": "string"
                              },
                              "usageTotalUsd": {
                                "type": "number"
                              },
                              "userId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-actor-task": {
      "get": {
        "operationId": "apify.get-actor-task",
        "summary": "Get Actor Task",
        "description": "Retrieves an actor task from Apify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-actor-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorTaskId",
            "in": "query",
            "required": true,
            "description": "The ID of the actor task to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the actor task to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "actId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "id": {
                                "type": "string"
                              },
                              "input": {
                                "type": "object",
                                "properties": {
                                  "message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "modifiedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "options": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "standbyUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "lastRunStartedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "totalRuns": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "title": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-actor-task-input": {
      "get": {
        "operationId": "apify.get-actor-task-input",
        "summary": "Get Actor Task Input",
        "description": "Retrieves input for an Apify actor task.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-actor-task-input"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorTaskId",
            "in": "query",
            "required": true,
            "description": "The ID of the actor task whose input to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the actor task whose input to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-dataset": {
      "get": {
        "operationId": "apify.get-dataset",
        "summary": "Get Dataset",
        "description": "Retrieves a dataset from Apify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-dataset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "query",
            "required": true,
            "description": "The ID of the dataset to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the dataset to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "accessedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "actId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "actRunId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "cleanItemCount": {
                                "type": "number"
                              },
                              "consoleUrl": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "generalAccess": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "itemCount": {
                                "type": "number"
                              },
                              "itemsPublicUrl": {
                                "type": "string"
                              },
                              "modifiedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "schema": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "readCount": {
                                    "type": "number"
                                  },
                                  "storageBytes": {
                                    "type": "number"
                                  },
                                  "writeCount": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "urlSigningSecretKey": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-dataset-items": {
      "get": {
        "operationId": "apify.get-dataset-items",
        "summary": "Get Dataset Items",
        "description": "Retrieves items from an Apify dataset.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-dataset-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "query",
            "required": true,
            "description": "The ID of the dataset whose items to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the dataset whose items to retrieve."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "source": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-dataset-statistics": {
      "get": {
        "operationId": "apify.get-dataset-statistics",
        "summary": "Get Dataset Statistics",
        "description": "Retrieves statistics for an Apify dataset.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-dataset-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "query",
            "required": true,
            "description": "The ID of the dataset whose statistics to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the dataset whose statistics to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "fieldStatistics": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-key-value-store": {
      "get": {
        "operationId": "apify.get-key-value-store",
        "summary": "Get Key-Value Store",
        "description": "Retrieves a key-value store from Apify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-key-value-store"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "query",
            "required": true,
            "description": "The ID of the key-value store to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the key-value store to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "accessedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "actId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "actRunId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "consoleUrl": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "generalAccess": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "keysPublicUrl": {
                                "type": "string"
                              },
                              "modifiedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "recordsPublicUrl": {
                                "type": "string"
                              },
                              "schema": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "deleteCount": {
                                    "type": "number"
                                  },
                                  "listCount": {
                                    "type": "number"
                                  },
                                  "readCount": {
                                    "type": "number"
                                  },
                                  "storageBytes": {
                                    "type": "number"
                                  },
                                  "writeCount": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "urlSigningSecretKey": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apify/latest/actions/get-last-actor-run": {
      "get": {
        "operationId": "apify.get-last-actor-run",
        "summary": "Get Last Actor Run",
        "description": "Retrieves the last run for an Apify actor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apify/latest/actions/get-last-actor-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "description": "The ID or username of the actor whose latest run to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID or username of the actor whose latest run to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
[...]
