{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Precisely Universal API",
    "version": "0.0.7",
    "description": "Geocode addresses, resolve PreciselyIDs, enrich locations, and retrieve geographic datasets like time zones, schools, speed limits, and intersections."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/precisely/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/precisely/latest/actions/geocode-address-basic": {
      "get": {
        "operationId": "precisely.geocode-address-basic",
        "summary": "Geocode Address (Basic)",
        "description": "Retrieves geocoding candidates from Precisely for an address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/geocode-address-basic"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mainAddress",
            "in": "query",
            "required": true,
            "description": "Single-line input address, or the street-address portion when structured fields are used.",
            "schema": {
              "type": "string",
              "description": "Single-line input address, or the street-address portion when structured fields are used."
            }
          },
          {
            "name": "placeName",
            "in": "query",
            "required": false,
            "description": "Building, place, point of interest, company, or firm name associated with the address.",
            "schema": {
              "type": "string",
              "description": "Building, place, point of interest, company, or firm name associated with the address."
            }
          },
          {
            "name": "lastLine",
            "in": "query",
            "required": false,
            "description": "The last line of the address.",
            "schema": {
              "type": "string",
              "description": "The last line of the address."
            }
          },
          {
            "name": "areaName1",
            "in": "query",
            "required": false,
            "description": "Largest geographic area, typically a state or province.",
            "schema": {
              "type": "string",
              "description": "Largest geographic area, typically a state or province."
            }
          },
          {
            "name": "areaName3",
            "in": "query",
            "required": false,
            "description": "City or town name.",
            "schema": {
              "type": "string",
              "description": "City or town name."
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "description": "Postal code in the appropriate format for the selected country.",
            "schema": {
              "type": "string",
              "description": "Postal code in the appropriate format for the selected country."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or country name.",
            "schema": {
              "type": "string",
              "description": "ISO country code or country name."
            }
          },
          {
            "name": "matchMode",
            "in": "query",
            "required": false,
            "description": "Controls how strictly the address is matched.",
            "schema": {
              "type": "string",
              "description": "Controls how strictly the address is matched."
            }
          },
          {
            "name": "maxCands",
            "in": "query",
            "required": false,
            "description": "Maximum number of candidates to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of candidates to return."
            }
          },
          {
            "name": "removeAccentMarks",
            "in": "query",
            "required": false,
            "description": "Suppress accents and diacritical marks in the output.",
            "schema": {
              "type": "boolean",
              "description": "Suppress accents and diacritical marks in the output."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "addressLastLine": {
                                "type": "string",
                                "description": "City, county, region, and country line."
                              },
                              "areaName1": {
                                "type": "string",
                                "description": "Top-level administrative area, typically state or province."
                              },
                              "areaName2": {
                                "type": "string",
                                "description": "Secondary administrative area, typically county or district."
                              },
                              "areaName3": {
                                "type": "string",
                                "description": "City or locality name."
                              },
                              "country": {
                                "type": "string",
                                "description": "Country code or country name."
                              },
                              "customFields": {
                                "type": "object",
                                "properties": {
                                  "ADDRESS_LINE1": {
                                    "type": "string",
                                    "description": "Provider-specific primary address line metadata."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "formattedLocationAddress": {
                            "type": "string",
                            "description": "Formatted geocoded address string."
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "precisionCode": {
                            "type": "string",
                            "description": "Precisely precision code for the match."
                          },
                          "precisionLevel": {
                            "type": "number",
                            "description": "Matched precision level returned for the candidate."
                          },
                          "ranges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Range metadata returned for the candidate."
                          },
                          "sourceDictionary": {
                            "type": "string",
                            "description": "Precisely source dictionary identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/get-preciselyid-by-address": {
      "get": {
        "operationId": "precisely.get-preciselyid-by-address",
        "summary": "Get PreciselyID By Address",
        "description": "Retrieves a PreciselyID for an address in Precisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/get-preciselyid-by-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Single-line address to resolve to a PreciselyID.",
            "schema": {
              "type": "string",
              "description": "Single-line address to resolve to a PreciselyID."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or country name.",
            "schema": {
              "type": "string",
              "description": "ISO country code or country name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "PreciselyID returned for the input address."
                          },
                          "matchedAddress": {
                            "type": "object",
                            "properties": {
                              "addressLastLine": {
                                "type": "string",
                                "description": "City, region, and postal line."
                              },
                              "addressNumber": {
                                "type": "string",
                                "description": "Address number."
                              },
                              "areaName1": {
                                "type": "string",
                                "description": "Top-level administrative area, typically state or province."
                              },
                              "areaName2": {
                                "type": "string",
                                "description": "Secondary administrative area, typically county or district."
                              },
                              "areaName3": {
                                "type": "string",
                                "description": "City or locality name."
                              },
                              "country": {
                                "type": "string",
                                "description": "Country code or country name."
                              },
                              "formattedAddress": {
                                "type": "string",
                                "description": "Fully formatted matched address."
                              },
                              "mainAddressLine": {
                                "type": "string",
                                "description": "Primary street-address line."
                              },
                              "postCode": {
                                "type": "string",
                                "description": "Postal code."
                              },
                              "postCodeExt": {
                                "type": "string",
                                "description": "Postal code extension."
                              },
                              "streetName": {
                                "type": "string",
                                "description": "Street name."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/key-lookup": {
      "get": {
        "operationId": "precisely.key-lookup",
        "summary": "Key Lookup",
        "description": "Retrieves an address from Precisely by PreciselyID or EIR code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/key-lookup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Precisely geocode key value to look up.",
            "schema": {
              "type": "string",
              "description": "Precisely geocode key value to look up."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Key type, for example PB_KEY.",
            "schema": {
              "type": "string",
              "description": "Key type, for example PB_KEY.",
              "default": "PB_KEY"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or country name.",
            "schema": {
              "type": "string",
              "description": "ISO country code or country name."
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": false,
            "description": "Optional object identifier for the lookup request.",
            "schema": {
              "type": "number",
              "description": "Optional object identifier for the lookup request."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "addressLastLine": {
                                "type": "string",
                                "description": "City, region, and postal line."
                              },
                              "addressNumber": {
                                "type": "string",
                                "description": "Address number."
                              },
                              "areaName1": {
                                "type": "string",
                                "description": "Top-level administrative area, typically state or province."
                              },
                              "areaName2": {
                                "type": "string",
                                "description": "Secondary administrative area, typically county or district."
                              },
                              "areaName3": {
                                "type": "string",
                                "description": "City or locality name."
                              },
                              "country": {
                                "type": "string",
                                "description": "Country code or country name."
                              },
                              "customFields": {
                                "type": "object",
                                "properties": {
                                  "PB_KEY": {
                                    "type": "string",
                                    "description": "Precisely PB key for the matched location."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "mainAddressLine": {
                                "type": "string",
                                "description": "Primary street-address line."
                              },
                              "postCode1": {
                                "type": "string",
                                "description": "Primary postal code."
                              },
                              "postCode2": {
                                "type": "string",
                                "description": "Postal code extension."
                              },
                              "streetName": {
                                "type": "string",
                                "description": "Street name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "formattedLocationAddress": {
                            "type": "string",
                            "description": "Formatted city, region, and postal line."
                          },
                          "formattedStreetAddress": {
                            "type": "string",
                            "description": "Formatted street-address line."
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "identifier": {
                            "type": "string",
                            "description": "Provider-specific identifier for the matched location."
                          },
                          "precisionCode": {
                            "type": "string",
                            "description": "Precisely precision code for the match."
                          },
                          "precisionLevel": {
                            "type": "number",
                            "description": "Matched precision level returned for the candidate."
                          },
                          "ranges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Range metadata returned for the candidate."
                          },
                          "sourceDictionary": {
                            "type": "string",
                            "description": "Precisely source dictionary identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/location-by-ip-address": {
      "get": {
        "operationId": "precisely.location-by-ip-address",
        "summary": "Location By IP Address",
        "description": "Retrieves location coordinates from Precisely by IP address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/location-by-ip-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": true,
            "description": "Public IPv4 or IPv6 address to geolocate.",
            "schema": {
              "type": "string",
              "description": "Public IPv4 or IPv6 address to geolocate."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accuracy": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "Unit used for the reported geolocation accuracy."
                              },
                              "value": {
                                "type": "string",
                                "description": "Reported accuracy value."
                              }
                            },
                            "additionalProperties": false
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "ipInfo": {
                            "type": "object",
                            "properties": {
                              "ipAddress": {
                                "type": "string",
                                "description": "Queried IP address."
                              },
                              "network": {
                                "type": "object",
                                "properties": {
                                  "connectionType": {
                                    "type": "string",
                                    "description": "Detected connection type."
                                  },
                                  "ipRouteType": {
                                    "type": "string",
                                    "description": "Detected IP routing classification."
                                  },
                                  "organization": {
                                    "type": "string",
                                    "description": "Network organization."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "place": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "object",
                                    "properties": {
                                      "value": {
                                        "type": "string",
                                        "description": "Detected city."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "continent": {
                                    "type": "string",
                                    "description": "Detected continent."
                                  },
                                  "country": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Detected country code."
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "Detected country name."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "postCode": {
                                    "type": "string",
                                    "description": "Detected postal code."
                                  },
                                  "state": {
                                    "type": "object",
                                    "properties": {
                                      "value": {
                                        "type": "string",
                                        "description": "Detected state or province."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "proxy": {
                                "type": "object",
                                "properties": {
                                  "anonymizerStatus": {
                                    "type": "string",
                                    "description": "Proxy anonymizer status."
                                  },
                                  "level": {
                                    "type": "string",
                                    "description": "Proxy anonymity level."
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Detected proxy type."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/nearby-schools-by-address": {
      "get": {
        "operationId": "precisely.nearby-schools-by-address",
        "summary": "Nearby Schools By Address",
        "description": "Retrieves nearby schools from Precisely by address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/nearby-schools-by-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Single-line street address to search near.",
            "schema": {
              "type": "string",
              "description": "Single-line street address to search near."
            }
          },
          {
            "name": "schoolType",
            "in": "query",
            "required": false,
            "description": "Provider school type code filter.",
            "schema": {
              "type": "string",
              "description": "Provider school type code filter."
            }
          },
          {
            "name": "edLevel",
            "in": "query",
            "required": false,
            "description": "Provider education level code filter.",
            "schema": {
              "type": "string",
              "description": "Provider education level code filter."
            }
          },
          {
            "name": "schoolSubType",
            "in": "query",
            "required": false,
            "description": "Provider school subtype code filter.",
            "schema": {
              "type": "string",
              "description": "Provider school subtype code filter."
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Provider gender code filter.",
            "schema": {
              "type": "string",
              "description": "Provider gender code filter."
            }
          },
          {
            "name": "assignedSchoolsOnly",
            "in": "query",
            "required": false,
            "description": "Return only schools assigned to the address.",
            "schema": {
              "type": "boolean",
              "description": "Return only schools assigned to the address."
            }
          },
          {
            "name": "districtSchoolsOnly",
            "in": "query",
            "required": false,
            "description": "Return only schools in the serving district.",
            "schema": {
              "type": "boolean",
              "description": "Return only schools in the serving district."
            }
          },
          {
            "name": "searchRadius",
            "in": "query",
            "required": false,
            "description": "Radius around the address to search.",
            "schema": {
              "type": "number",
              "description": "Radius around the address to search."
            }
          },
          {
            "name": "searchRadiusUnit",
            "in": "query",
            "required": false,
            "description": "Unit for the search radius.",
            "schema": {
              "type": "string",
              "description": "Unit for the search radius."
            }
          },
          {
            "name": "travelTime",
            "in": "query",
            "required": false,
            "description": "Travel time threshold around the address.",
            "schema": {
              "type": "number",
              "description": "Travel time threshold around the address."
            }
          },
          {
            "name": "travelTimeUnit",
            "in": "query",
            "required": false,
            "description": "Unit for the travel time.",
            "schema": {
              "type": "string",
              "description": "Unit for the travel time."
            }
          },
          {
            "name": "travelMode",
            "in": "query",
            "required": false,
            "description": "Travel mode used for school proximity calculations.",
            "schema": {
              "type": "string",
              "description": "Travel mode used for school proximity calculations."
            }
          },
          {
            "name": "travelDistance",
            "in": "query",
            "required": false,
            "description": "Travel distance threshold around the address.",
            "schema": {
              "type": "number",
              "description": "Travel distance threshold around the address."
            }
          },
          {
            "name": "travelDistanceUnit",
            "in": "query",
            "required": false,
            "description": "Unit for the travel distance.",
            "schema": {
              "type": "string",
              "description": "Unit for the travel distance."
            }
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "required": false,
            "description": "Maximum number of schools to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of schools to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "areaName1": {
                                "type": "string",
                                "description": "State or province for the school."
                              },
                              "areaName3": {
                                "type": "string",
                                "description": "City for the school."
                              },
                              "mainAddressLine": {
                                "type": "string",
                                "description": "Primary address line for the school."
                              },
                              "postCode": {
                                "type": "string",
                                "description": "Postal code for the school."
                              }
                            },
                            "additionalProperties": false
                          },
                          "assigned": {
                            "type": "string",
                            "description": "Whether the school is assigned to the queried address."
                          },
                          "distance": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "Unit used for the distance from the queried address."
                              },
                              "value": {
                                "type": "string",
                                "description": "Distance from the queried address to the school."
                              }
                            },
                            "additionalProperties": false
                          },
                          "educationLevel": {
                            "type": "string",
                            "description": "Provider education-level code."
                          },
                          "educationLevelDesc": {
                            "type": "string",
                            "description": "Education-level label."
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates for the school location."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type for the school location."
                              }
                            },
                            "additionalProperties": false
                          },
                          "highestGrade": {
                            "type": "string",
                            "description": "Highest grade served by the school."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider school identifier."
                          },
                          "lowestGrade": {
                            "type": "string",
                            "description": "Lowest grade served by the school."
                          },
                          "name": {
                            "type": "string",
                            "description": "School name."
                          },
                          "ncesDistrictId": {
                            "type": "string",
                            "description": "NCES district identifier."
                          },
                          "ncesSchoolId": {
                            "type": "string",
                            "description": "NCES school identifier."
                          },
                          "phone": {
                            "type": "string",
                            "description": "School phone number."
                          },
                          "schoolSubType": {
                            "type": "string",
                            "description": "Provider school subtype code."
                          },
                          "schoolSubTypeDesc": {
                            "type": "string",
                            "description": "School subtype label."
                          },
                          "schoolType": {
                            "type": "string",
                            "description": "Provider school type code."
                          },
                          "schoolTypeDesc": {
                            "type": "string",
                            "description": "School type label."
                          },
                          "students": {
                            "type": "string",
                            "description": "Reported student enrollment."
                          },
                          "studentTeacherRatio": {
                            "type": "string",
                            "description": "Reported student-to-teacher ratio."
                          },
                          "teachers": {
                            "type": "string",
                            "description": "Reported teacher count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/nearest-intersection-by-location": {
      "get": {
        "operationId": "precisely.nearest-intersection-by-location",
        "summary": "Nearest Intersection By Location",
        "description": "Retrieves the nearest intersection from Precisely by location.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/nearest-intersection-by-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude for the target point.",
            "schema": {
              "type": "number",
              "description": "Latitude for the target point."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude for the target point.",
            "schema": {
              "type": "number",
              "description": "Longitude for the target point."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "distance": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "Unit used for the reported distance."
                              },
                              "value": {
                                "type": "number",
                                "description": "Distance from the input point to the nearest intersection."
                              }
                            },
                            "additionalProperties": false
                          },
                          "driveDistance": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "Unit used for the reported drive distance."
                              },
                              "value": {
                                "type": "number",
                                "description": "Estimated drive distance to the nearest intersection."
                              }
                            },
                            "additionalProperties": false
                          },
                          "driveTime": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "Unit used for the reported drive time."
                              },
                              "value": {
                                "type": "number",
                                "description": "Estimated drive time to the nearest intersection."
                              }
                            },
                            "additionalProperties": false
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates for the matched intersection."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type for the matched intersection."
                              }
                            },
                            "additionalProperties": false
                          },
                          "roads": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Road segments that form the nearest intersection."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/nearest-speed-limit": {
      "get": {
        "operationId": "precisely.nearest-speed-limit",
        "summary": "Nearest Speed Limit",
        "description": "Retrieves the nearest speed limit from Precisely by location.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/nearest-speed-limit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Two to five semicolon-separated longitude,latitude coordinate pairs.",
            "schema": {
              "type": "string",
              "description": "Two to five semicolon-separated longitude,latitude coordinate pairs."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amPeakAvgSpeed": {
                            "type": "string",
                            "description": "Average observed speed during the morning peak period."
                          },
                          "maxSpeed": {
                            "type": "string",
                            "description": "Posted maximum speed limit for the matched road segment."
                          },
                          "nightAvgSpeed": {
                            "type": "string",
                            "description": "Average observed speed during night hours."
                          },
                          "offPeakAvgSpeed": {
                            "type": "string",
                            "description": "Average observed speed during off-peak periods."
                          },
                          "pmPeakAvgSpeed": {
                            "type": "string",
                            "description": "Average observed speed during the evening peak period."
                          },
                          "road": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Provider identifier for the matched road segment."
                              },
                              "isToll": {
                                "type": "string",
                                "description": "Whether the matched road segment is a toll road."
                              },
                              "lengthInMeters": {
                                "type": "string",
                                "description": "Length of the matched road segment in meters."
                              },
                              "name": {
                                "type": "string",
                                "description": "Matched road name."
                              },
                              "roadClass": {
                                "type": "string",
                                "description": "Road-class label for the matched segment."
                              },
                              "surfaceType": {
                                "type": "string",
                                "description": "Surface type for the matched road segment."
                              },
                              "trafficFlow": {
                                "type": "string",
                                "description": "Traffic-flow direction reported for the matched segment."
                              },
                              "type": {
                                "type": "string",
                                "description": "Road carriageway type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "speedUnit": {
                            "type": "string",
                            "description": "Unit used for the reported speed limit."
                          },
                          "speedVerification": {
                            "type": "string",
                            "description": "Provider verification status for the speed limit."
                          },
                          "weekAvgSpeed": {
                            "type": "string",
                            "description": "Average observed speed across the week."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/reverse-geocode-basic": {
      "get": {
        "operationId": "precisely.reverse-geocode-basic",
        "summary": "Reverse Geocode (Basic)",
        "description": "Retrieves address details from Precisely for a coordinate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/reverse-geocode-basic"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x",
            "in": "query",
            "required": true,
            "description": "Longitude in degrees, for example: -79.391165.",
            "schema": {
              "type": "number",
              "description": "Longitude in degrees, for example: -79.391165."
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "description": "Latitude in degrees, for example: 43.643469.",
            "schema": {
              "type": "number",
              "description": "Latitude in degrees, for example: 43.643469."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO country code or country name.",
            "schema": {
              "type": "string",
              "description": "ISO country code or country name."
            }
          },
          {
            "name": "coordSysName",
            "in": "query",
            "required": false,
            "description": "Coordinate system to convert the geometry to, in codespace:code format, for example EPSG:4326.",
            "schema": {
              "type": "string",
              "description": "Coordinate system to convert the geometry to, in codespace:code format, for example EPSG:4326."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Search radius around the input coordinates.",
            "schema": {
              "type": "number",
              "description": "Search radius around the input coordinates."
            }
          },
          {
            "name": "distanceUnits",
            "in": "query",
            "required": false,
            "description": "Unit of measurement for the search distance.",
            "schema": {
              "type": "string",
              "description": "Unit of measurement for the search distance."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "areaName1": {
                                "type": "string",
                                "description": "Top-level administrative area, typically state or province."
                              },
                              "areaName2": {
                                "type": "string",
                                "description": "Secondary administrative area, typically county or district."
                              },
                              "areaName3": {
                                "type": "string",
                                "description": "City or locality name."
                              },
                              "areaName4": {
                                "type": "string",
                                "description": "Sub-city locality or neighborhood name."
                              },
                              "country": {
                                "type": "string",
                                "description": "Country code or country name."
                              },
                              "customFields": {
                                "type": "object",
                                "properties": {
                                  "GENERIC_FIELD_1": {
                                    "type": "string",
                                    "description": "Provider-specific location identifier returned by Precisely."
                                  },
                                  "REVERSE_GEOCODE_DISTANCE": {
                                    "type": "string",
                                    "description": "Distance from the input point to the matched location."
                                  },
                                  "REVERSE_GEOCODE_DISTANCE_UNIT": {
                                    "type": "string",
                                    "description": "Unit used for the reverse-geocode distance."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "precisionCode": {
                            "type": "string",
                            "description": "Precisely precision code for the reverse geocode match."
                          },
                          "precisionLevel": {
                            "type": "number",
                            "description": "Matched precision level returned for the candidate."
                          },
                          "ranges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Range metadata returned for the candidate."
                          },
                          "sourceDictionary": {
                            "type": "string",
                            "description": "Precisely source dictionary identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/precisely/latest/actions/timezone-by-address": {
      "get": {
        "operationId": "precisely.timezone-by-address",
        "summary": "Timezone By Address",
        "description": "Retrieves time zone details from Precisely by address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/precisely/latest/actions/timezone-by-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Single-line address to resolve to a timezone.",
            "schema": {
              "type": "string",
              "description": "Single-line address to resolve to a timezone."
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "Unix timestamp in milliseconds for the moment to evaluate.",
            "schema": {
              "type": "number",
              "description": "Unix timestamp in milliseconds for the moment to evaluate."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dstOffset": {
                            "type": "number",
                            "description": "Daylight saving offset in milliseconds."
                          },
                          "matchedAddress": {
                            "type": "object",
                            "properties": {
                              "addressLastLine": {
                                "type": "string",
                                "description": "City, county, region, and country line."
                              },
                              "areaName1": {
                                "type": "string",
                                "description": "Top-level administrative area, typically state or province."
                              },
                              "areaName2": {
                                "type": "string",
                                "description": "Secondary administrative area, typically county or district."
                              },
                              "areaName3": {
                                "type": "string",
                                "description": "City or locality name."
                              },
                              "country": {
                                "type": "string",
                                "description": "Country code or country name."
                              },
                              "formattedAddress": {
                                "type": "string",
                                "description": "Formatted matched address."
                              }
                            },
                            "additionalProperties": false
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Evaluated Unix timestamp in milliseconds."
                          },
                          "timezoneName": {
                            "type": "string",
                            "description": "Human-readable timezone name."
                          },
                          "utcOffset": {
                            "type": "number",
                            "description": "UTC offset in milliseconds."
                          },
                          "zoneType": {
                            "type": "string",
                            "description": "IANA timezone identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
[...]
