{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Mailchimp Universal API",
    "version": "0.0.9",
    "description": "Manage audiences, create campaigns, automate emails, and track engagement."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mailChimp/latest/actions/add-audience": {
      "post": {
        "operationId": "mailChimp.add-audience",
        "summary": "Add Audience",
        "description": "Creates a new audience in Mailchimp.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/add-audience"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "permission_reminder",
                  "email_type_option",
                  "contact",
                  "campaign_defaults",
                  "contact.company",
                  "contact.address1",
                  "contact.city",
                  "contact.country",
                  "campaign_defaults.from_name",
                  "campaign_defaults.from_email",
                  "campaign_defaults.subject",
                  "campaign_defaults.language"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "double_optin": {
                    "type": "boolean"
                  },
                  "marketing_permissions": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "description": "Audience name."
                  },
                  "notify_on_subscribe": {
                    "type": "string"
                  },
                  "notify_on_unsubscribe": {
                    "type": "string"
                  },
                  "use_archive_bar": {
                    "type": "boolean"
                  },
                  "permission_reminder": {
                    "type": "string",
                    "description": "Permission reminder shown in footer."
                  },
                  "email_type_option": {
                    "type": "boolean",
                    "description": "Whether users can choose email type."
                  },
                  "contact": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "List contact object."
                  },
                  "campaign_defaults": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Default campaign sender settings."
                  },
                  "contact.company": {
                    "type": "string",
                    "description": "Company name."
                  },
                  "contact.address1": {
                    "type": "string",
                    "description": "Primary street address."
                  },
                  "contact.city": {
                    "type": "string",
                    "description": "City."
                  },
                  "contact.country": {
                    "type": "string",
                    "description": "Two-letter country code."
                  },
                  "campaign_defaults.from_name": {
                    "type": "string",
                    "description": "Default from name."
                  },
                  "campaign_defaults.from_email": {
                    "type": "string",
                    "description": "Default from email address."
                  },
                  "campaign_defaults.subject": {
                    "type": "string",
                    "description": "Default campaign subject."
                  },
                  "campaign_defaults.language": {
                    "type": "string",
                    "description": "Default campaign language (for example en)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignDefaults": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "emailTypeOption": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "permissionReminder": {
                            "type": "string"
                          },
                          "webId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/add-audience-member": {
      "post": {
        "operationId": "mailChimp.add-audience-member",
        "summary": "Add Audience Member",
        "description": "Creates a new member in a Mailchimp audience.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/add-audience-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email_address",
                  "list_id",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email_address": {
                    "type": "string",
                    "description": "Subscriber email address."
                  },
                  "email_type": {
                    "type": "string"
                  },
                  "interests": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ip_opt": {
                    "type": "string"
                  },
                  "ip_signup": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "list_id": {
                    "type": "string",
                    "description": "The unique ID for the Mailchimp audience."
                  },
                  "location": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "marketing_permissions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "merge_fields": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "skip_merge_validation": {
                    "type": "boolean"
                  },
                  "status": {
                    "type": "string",
                    "description": "Subscription status.",
                    "enum": [
                      "cleaned",
                      "pending",
                      "subscribed",
                      "transactional",
                      "unsubscribed"
                    ]
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "timestamp_opt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "timestamp_signup": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "vip": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailAddress": {
                            "type": "string"
                          },
                          "emailType": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "mergeFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stats": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "timestampSignup": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/add-audience-segment": {
      "post": {
        "operationId": "mailChimp.add-audience-segment",
        "summary": "Add Audience Segment",
        "description": "Creates a new segment in a Mailchimp audience.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/add-audience-segment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "list_id",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "list_id": {
                    "type": "string",
                    "description": "The unique ID for the Mailchimp audience."
                  },
                  "name": {
                    "type": "string",
                    "description": "Segment name."
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Segment options object."
                  },
                  "static_segment[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Static segment member list."
                  },
                  "options.match": {
                    "type": "string",
                    "description": "Match type for segment conditions (any or all).",
                    "enum": [
                      "all",
                      "any"
                    ]
                  },
                  "options.conditions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of segment condition objects."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "listId": {
                            "type": "string"
                          },
                          "memberCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "options": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/add-customer": {
      "post": {
        "operationId": "mailChimp.add-customer",
        "summary": "Add Customer",
        "description": "Creates a new customer in a Mailchimp e-commerce store.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/add-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "store_id",
                  "id",
                  "email_address",
                  "opt_in_status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address.address1": {
                    "type": "string"
                  },
                  "address.address2": {
                    "type": "string"
                  },
                  "address.city": {
                    "type": "string"
                  },
                  "address.country": {
                    "type": "string"
                  },
                  "address.country_code": {
                    "type": "string"
                  },
                  "address.postal_code": {
                    "type": "string"
                  },
                  "address.province": {
                    "type": "string"
                  },
                  "address.province_code": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "sms_phone_number": {
                    "type": "string"
                  },
                  "store_id": {
                    "type": "string",
                    "description": "The store id."
                  },
                  "id": {
                    "type": "string",
                    "description": "A unique identifier for the customer in your system."
                  },
                  "email_address": {
                    "type": "string",
                    "description": "The customer's email address."
                  },
                  "opt_in_status": {
                    "type": "boolean",
                    "description": "Whether the customer has opted in to email marketing."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Customer address."
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "The customer's email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "id": {
                            "type": "string",
                            "description": "The customer's unique ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Link relations."
                          },
                          "optInStatus": {
                            "type": "boolean",
                            "description": "Whether the customer is opted in."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/add-e-commerce-store": {
      "post": {
        "operationId": "mailChimp.add-e-commerce-store",
        "summary": "Add E-commerce Store",
        "description": "Creates a new e-commerce store in Mailchimp.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/add-e-commerce-store"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "list_id",
                  "name",
                  "currency_code"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string"
                  },
                  "list_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "currency_code": {
                    "type": "string"
                  },
                  "platform": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "is_syncing": {
                    "type": "boolean"
                  },
                  "email_address": {
                    "type": "string"
                  },
                  "money_format": {
                    "type": "string"
                  },
                  "primary_locale": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address.address1": {
                    "type": "string"
                  },
                  "address.address2": {
                    "type": "string"
                  },
                  "address.city": {
                    "type": "string"
                  },
                  "address.province": {
                    "type": "string"
                  },
                  "address.province_code": {
                    "type": "string"
                  },
                  "address.postal_code": {
                    "type": "string"
                  },
                  "address.country": {
                    "type": "string"
                  },
                  "address.country_code": {
                    "type": "string"
                  },
                  "address.longitude": {
                    "type": "number"
                  },
                  "address.latitude": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "province": {
                                "type": "string"
                              },
                              "provinceCode": {
                                "type": "string"
                              }
                            }
                          },
                          "automations": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "abandonedBrowse": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "isSupported": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "abandonedCart": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "isSupported": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isSyncing": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string"
                                },
                                "method": {
                                  "type": "string"
                                },
                                "rel": {
                                  "type": "string"
                                },
                                "targetSchema": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "listId": {
                            "type": "string"
                          },
                          "listIsActive": {
                            "type": "boolean"
                          },
                          "moneyFormat": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "primaryLocale": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/add-merge-field": {
      "post": {
        "operationId": "mailChimp.add-merge-field",
        "summary": "Add Merge Field",
        "description": "Creates a new merge field in a Mailchimp audience.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/add-merge-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "list_id",
                  "name",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "default_value": {
                    "type": "string"
                  },
                  "display_order": {
                    "type": "number"
                  },
                  "help_text": {
                    "type": "string"
                  },
                  "list_id": {
                    "type": "string",
                    "description": "The unique ID for the Mailchimp audience."
                  },
                  "name": {
                    "type": "string",
                    "description": "Merge field name."
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "tag": {
                    "type": "string",
                    "description": "Merge field tag."
                  },
                  "type": {
                    "type": "string",
                    "description": "Merge field type.",
                    "enum": [
                      "address",
                      "birthday",
                      "date",
                      "dropdown",
                      "imageurl",
                      "number",
                      "phone",
                      "radio",
                      "text",
                      "url",
                      "zip"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayOrder": {
                            "type": "number"
                          },
                          "helpText": {
                            "type": "string"
                          },
                          "listId": {
                            "type": "string"
                          },
                          "mergeId": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "required": {
                            "type": "boolean"
                          },
                          "tag": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/archive-audience-member": {
      "delete": {
        "operationId": "mailChimp.archive-audience-member",
        "summary": "Archive Audience Member",
        "description": "Archives a member in a Mailchimp audience.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/archive-audience-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list_id",
            "in": "query",
            "required": true,
            "description": "The unique ID for the Mailchimp audience.",
            "schema": {
              "type": "string",
              "description": "The unique ID for the Mailchimp audience."
            }
          },
          {
            "name": "subscriber_hash",
            "in": "query",
            "required": true,
            "description": "MD5 hash of the lowercase subscriber email address.",
            "schema": {
              "type": "string",
              "description": "MD5 hash of the lowercase subscriber email address."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/create-campaign": {
      "post": {
        "operationId": "mailChimp.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a new campaign in Mailchimp.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "recipients.list_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "content_type": {
                    "type": "string"
                  },
                  "rss_opts": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "social_card": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "tracking": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "type": {
                    "type": "string",
                    "description": "Campaign type.",
                    "enum": [
                      "absplit",
                      "plaintext",
                      "regular",
                      "rss",
                      "variate"
                    ]
                  },
                  "variate_settings": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "recipients": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Campaign recipients object."
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Campaign settings object."
                  },
                  "recipients.list_id": {
                    "type": "string",
                    "description": "The unique audience (list) id for campaign recipients."
                  },
                  "settings.subject_line": {
                    "type": "string",
                    "description": "Campaign email subject line."
                  },
                  "settings.title": {
                    "type": "string",
                    "description": "Internal campaign title."
                  },
                  "settings.from_name": {
                    "type": "string",
                    "description": "From name used in campaign emails."
                  },
                  "settings.reply_to": {
                    "type": "string",
                    "description": "Reply-to email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archiveUrl": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "createTime": {
                            "type": "string"
                          },
                          "deliveryStatus": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "enabled": {
                                "type": "boolean"
                              }
                            }
                          },
                          "emailsSent": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string"
                                },
                                "method": {
                                  "type": "string"
                                },
                                "rel": {
                                  "type": "string"
                                },
                                "schema": {
                                  "type": "string"
                                },
                                "targetSchema": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "longArchiveUrl": {
                            "type": "string"
                          },
                          "needsBlockRefresh": {
                            "type": "boolean"
                          },
                          "recipients": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "listId": {
                                "type": "string"
                              },
                              "listIsActive": {
                                "type": "boolean"
                              },
                              "listName": {
                                "type": "string"
                              },
                              "recipientCount": {
                                "type": "number"
                              },
                              "segmentText": {
                                "type": "string"
                              }
                            }
                          },
                          "resendable": {
                            "type": "boolean"
                          },
                          "sendTime": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "authenticate": {
                                "type": "boolean"
                              },
                              "autoFooter": {
                                "type": "boolean"
                              },
                              "autoTweet": {
                                "type": "boolean"
                              },
                              "dragAndDrop": {
                                "type": "boolean"
                              },
                              "fbComments": {
                                "type": "boolean"
                              },
                              "folderId": {
                                "type": "string"
                              },
                              "inlineCss": {
                                "type": "boolean"
                              },
                              "templateId": {
                                "type": "number"
                              },
                              "timewarp": {
                                "type": "boolean"
                              },
                              "title": {
                                "type": "string"
                              },
                              "toName": {
                                "type": "string"
                              },
                              "useConversation": {
                                "type": "boolean"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "tracking": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "clicktale": {
                                "type": "string"
                              },
                              "ecomm360": {
                                "type": "boolean"
                              },
                              "goalTracking": {
                                "type": "boolean"
                              },
                              "googleAnalytics": {
                                "type": "string"
                              },
                              "htmlClicks": {
                                "type": "boolean"
                              },
                              "opens": {
                                "type": "boolean"
                              },
                              "textClicks": {
                                "type": "boolean"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "webId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/delete-customer": {
      "delete": {
        "operationId": "mailChimp.delete-customer",
        "summary": "Delete Customer",
        "description": "Deletes an existing customer from a Mailchimp e-commerce store.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/delete-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": true,
            "description": "The store id.",
            "schema": {
              "type": "string",
              "description": "The store id."
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": true,
            "description": "The customer id.",
            "schema": {
              "type": "string",
              "description": "The customer id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/delete-e-commerce-store": {
      "delete": {
        "operationId": "mailChimp.delete-e-commerce-store",
        "summary": "Delete E-commerce Store",
        "description": "Deletes an existing e-commerce store from Mailchimp.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/delete-e-commerce-store"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailChimp/latest/actions/get-audience": {
      "get": {
        "operationId": "mailChimp.get-audience",
        "summary": "Get Audience",
        "description": "Retrieves an audience from Mailchimp.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailChimp/latest/actions/get-audience"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_total_contacts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "list_id",
            "in": "query",
            "required": true,
            "description": "The unique ID for the Mailchimp audience.",
            "schema": {
              "type": "string",
              "description": "The unique ID for the Mailchimp audience."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "beamerAddress": {
                            "type": "string"
                          },
                          "campaignDefaults": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "fromEmail": {
                                "type": "string"
                              },
                              "fromName": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "subject": {
                                "type": "string"
                              }
                            }
                          },
                          "contact": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "zip": {
                                "type": "string"
                              }
                            }
                          },
                          "dateCreated": {
                            "type": "string"
                          },
                          "doubleOptin": {
                            "type": "boolean"
                          },
                          "emailTypeOption": {
                            "type": "boolean"
                          },
                          "hasWelcome": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string"
                                },
                                "method": {
                                  "type": "string"
                                },
                                "rel": {
                                  "type": "string"
                                },
                                "targetSchema": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "listRating": {
                            "type": "number"
                          },
                          "marketingPermissions": {
                            "type": "boolean"
                          },
                          "modules": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "notifyOnSubscribe": {
                            "type": "string"
                          },
                          "notifyOnUnsubscribe": {
                            "type": "string"
                          },
                          "permissionReminder": {
                            "type": "string"
                          },
                          "stats": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "avgSubRate": {
                                "type": "number"
                              },
                              "avgUnsubRate": {
                                "type": "number"
                              },
                              "campaignCount": {
                                "type": "number"
                              },
                              "campaignLastSent": {
                                "type": "string"
                              },
                              "cleanedCount": {
                                "type": "number"
                              },
                              "cleanedCountSinceSend": {
                                "type": "number"
                              },
                              "clickRate": {
                                "type": "number"
                              },
                              "lastSubDate": {
                                "type": "string"
                              },
                              "lastUnsubDate": {
                                "type": "string"
                              },
                              "memberCount": {
                                "type": "number"
                              },
                              "memberCountSinceSend": {
                                "type": "number"
                              },
                              "mergeFieldCount": {
                                "type": "number"
                              },
                              "openRate": {
                                "type": "number"
                              },
                              "targetSubRate": {
                                "type": "number"
                              },
                              "unsubscribeCount": {
                                "type": "number"
                              },
                              "unsubscribeCountSinceSend": {
                                "type": "number"
                              }
                            }
                          },
                          "subscribeUrlLong": {
                            "type": "string"
                          },
                          "subscribeUrlShort": {
                            "type": "string"
                          },
                          "useArchiveBar": {
                            "type": "boolean"
                          },
                          "visibility": {
                            "type": "string"
                          },
                          "webId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
[...]
