{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Trak Qr Automation Universal API",
    "version": "0.1.4",
    "description": "Create Trak QR-code events, add attendees, register event partners, and check partner attendee balance through the Trak Events Partner API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/trakQrAutomation/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/trakQrAutomation/latest/actions/create-attendee": {
      "post": {
        "operationId": "trakQrAutomation.create-attendee",
        "summary": "Create Attendee",
        "description": "Creates a new attendee for an event in Trak Qr Automation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trakQrAutomation/latest/actions/create-attendee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventKey",
                  "attachments[]",
                  "attachments[].kind",
                  "attachments[].val"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventKey": {
                    "type": "string",
                    "description": "Generated event key returned by Create Event."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Optional comments on the attendee."
                  },
                  "attachments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Attendee form data fields."
                  },
                  "attachments[].kind": {
                    "type": "string",
                    "description": "Attachment field name matching an event form field."
                  },
                  "attachments[].val": {
                    "type": "string",
                    "description": "Attachment field value. Trak accepts a number, string, or string array."
                  },
                  "attachments[].internal": {
                    "type": "boolean",
                    "description": "Set true for technical fields that should not be shown in the Trak UI.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pdfUrl": {
                            "type": "string",
                            "description": "URL for downloading the PDF ticket. Append &inline=true to display it in browser."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trakQrAutomation/latest/actions/create-event": {
      "post": {
        "operationId": "trakQrAutomation.create-event",
        "summary": "Create Event",
        "description": "Creates a new event in Trak Qr Automation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trakQrAutomation/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "eventId",
                  "formFields[]",
                  "formFields[].name",
                  "formFields[].editor"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Event user-facing name, used as app title in Trak."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "Your internal event ID, used as correlation ID."
                  },
                  "formFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Schema of attendee attachment fields for this event."
                  },
                  "formFields[].name": {
                    "type": "string",
                    "description": "Field name used as label and report column header."
                  },
                  "formFields[].editor": {
                    "type": "string",
                    "description": "Field type: number, line, text, select, radios, or checkboxes.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5"
                    ]
                  },
                  "formFields[].values[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed values for select, radios, and checkboxes fields."
                  },
                  "titleFormat": {
                    "type": "string",
                    "description": "Mini-template for ticket titles, such as {First name} {Last name}.",
                    "x-mindcloud-advanced": true
                  },
                  "logoUrl": {
                    "type": "string",
                    "description": "Optional PNG or JPG logo URL for tickets, ideally 300x300px with a white background.",
                    "x-mindcloud-advanced": true
                  },
                  "bgUrl": {
                    "type": "string",
                    "description": "Optional PNG or JPG ticket background URL, ideally 596x842px.",
                    "x-mindcloud-advanced": true
                  },
                  "creatorInfo": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional information about the form creator.",
                    "x-mindcloud-advanced": true
                  },
                  "creatorInfo.ip": {
                    "type": "string",
                    "description": "Creator IP address.",
                    "x-mindcloud-advanced": true
                  },
                  "creatorInfo.loc": {
                    "type": "string",
                    "description": "Creator country or town.",
                    "x-mindcloud-advanced": true
                  },
                  "creatorInfo.email": {
                    "type": "string",
                    "description": "Creator email used for support.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string",
                            "description": "Internal event ID from the request."
                          },
                          "eventKey": {
                            "type": "string",
                            "description": "Generated Trak event key used when creating attendees."
                          },
                          "urls": {
                            "type": "object",
                            "properties": {
                              "access": {
                                "type": "string"
                              },
                              "allReport": {
                                "type": "string"
                              },
                              "cancel": {
                                "type": "string"
                              },
                              "canceledReport": {
                                "type": "string"
                              },
                              "checkedInReport": {
                                "type": "string"
                              },
                              "checkIn": {
                                "type": "string"
                              },
                              "csvCheckInReport": {
                                "type": "string"
                              },
                              "dashboard": {
                                "type": "string"
                              },
                              "designer": {
                                "type": "string"
                              },
                              "lookup": {
                                "type": "string"
                              },
                              "notCheckedInReport": {
                                "type": "string"
                              },
                              "pay": {
                                "type": "string"
                              },
                              "register": {
                                "type": "string"
                              },
                              "scanCountsReport": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trakQrAutomation/latest/actions/create-partner": {
      "post": {
        "operationId": "trakQrAutomation.create-partner",
        "summary": "Create Partner",
        "description": "Creates a new partner in Trak Qr Automation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trakQrAutomation/latest/actions/create-partner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "brand",
                  "description"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email where the Trak API key will be sent."
                  },
                  "brand": {
                    "type": "string",
                    "description": "User-facing brand name of your product."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of your integration use case. This is not shown to users."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Human-readable registration result. The API key is sent by email."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trakQrAutomation/latest/actions/get-partner-balance": {
      "get": {
        "operationId": "trakQrAutomation.get-partner-balance",
        "summary": "Get Partner Balance",
        "description": "Retrieves partner balance from Trak Qr Automation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trakQrAutomation/latest/actions/get-partner-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Optional attendee creation start date, inclusive, in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Optional attendee creation start date, inclusive, in ISO 8601 format."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Optional attendee creation end date, exclusive, in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Optional attendee creation end date, exclusive, in ISO 8601 format."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendeesCount": {
                            "type": "number",
                            "description": "Number of attendees created so far."
                          },
                          "eventId": {
                            "type": "string",
                            "description": "Internal event ID used as correlation ID."
                          },
                          "title": {
                            "type": "string",
                            "description": "Event title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
