{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GNews Universal API",
    "version": "0.0.5",
    "description": "Search news articles and track top headlines"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/gNews/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/gNews/latest/actions/list-top-headlines": {
      "get": {
        "operationId": "gNews.list-top-headlines",
        "summary": "List Top Headlines",
        "description": "Retrieves current top news headlines from GNews.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gNews/latest/actions/list-top-headlines"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Keywords used to find relevant headlines.",
            "schema": {
              "type": "string",
              "description": "Keywords used to find relevant headlines."
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter headlines by category.",
            "schema": {
              "type": "string",
              "description": "Filter headlines by category."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Filter headlines by article language code.",
            "schema": {
              "type": "string",
              "description": "Filter headlines by article language code."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter headlines by country code.",
            "schema": {
              "type": "string",
              "description": "Filter headlines by country code."
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "Maximum number of articles to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of articles to return."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return."
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Only include articles published on or after this date and time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include articles published on or after this date and time."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Only include articles published on or before this date and time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include articles published on or before this date and time."
            }
          },
          {
            "name": "nullable",
            "in": "query",
            "required": false,
            "description": "Fields allowed to return null values.",
            "schema": {
              "type": "string",
              "description": "Fields allowed to return null values."
            }
          },
          {
            "name": "truncate",
            "in": "query",
            "required": false,
            "description": "Truncate the content field when set to content.",
            "schema": {
              "type": "string",
              "description": "Truncate the content field when set to content."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "lang": {
                            "type": "string"
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gNews/latest/actions/search-articles": {
      "get": {
        "operationId": "gNews.search-articles",
        "summary": "Search Articles",
        "description": "Searches GNews for news articles by keyword.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gNews/latest/actions/search-articles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Keywords used to find matching news articles.",
            "schema": {
              "type": "string",
              "description": "Keywords used to find matching news articles."
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Filter returned articles by language code.",
            "schema": {
              "type": "string",
              "description": "Filter returned articles by language code."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter returned articles by publication country code.",
            "schema": {
              "type": "string",
              "description": "Filter returned articles by publication country code."
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "Maximum number of articles to return per page.",
            "schema": {
              "type": "number",
              "description": "Maximum number of articles to return per page."
            }
          },
          {
            "name": "searchIn",
            "in": "query",
            "required": false,
            "description": "Choose which article fields are searched for the query terms.",
            "schema": {
              "type": "string",
              "description": "Choose which article fields are searched for the query terms."
            }
          },
          {
            "name": "nullable",
            "in": "query",
            "required": false,
            "description": "Allow selected attributes to be returned as null.",
            "schema": {
              "type": "string",
              "description": "Allow selected attributes to be returned as null."
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Only include articles published on or after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include articles published on or after this ISO 8601 timestamp."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Only include articles published on or before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include articles published on or before this ISO 8601 timestamp."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort articles by publication date or relevance.",
            "schema": {
              "type": "string",
              "description": "Sort articles by publication date or relevance."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return."
            }
          },
          {
            "name": "truncate",
            "in": "query",
            "required": false,
            "description": "Truncate selected fields such as content.",
            "schema": {
              "type": "string",
              "description": "Truncate selected fields such as content."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "lang": {
                            "type": "string"
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
