{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ProjectManager Universal API",
    "version": "0.0.5",
    "description": "Production-ready ProjectManager wrapper built from official REST API documentation with API key authentication and a curated 40-action catalog for projects, tasks, tags, resources, meetings, notifications, and risks."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/projectManager/latest/actions/add-task-tag-to-task": {
      "put": {
        "operationId": "projectManager.add-task-tag-to-task",
        "summary": "Add TaskTag to Task",
        "description": "Adds a task tag to a task in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/add-task-tag-to-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId",
                  "value[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "string",
                    "description": "The unique identifier of the Task for which we will add TaskTags",
                    "example": "22222222-2222-2222-2222-222222222222"
                  },
                  "value[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "changeSetId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/create-meeting": {
      "post": {
        "operationId": "projectManager.create-meeting",
        "summary": "Create Meeting",
        "description": "Creates a new meeting in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/create-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The common name of this Task.",
                    "example": "MindCloud Sample"
                  },
                  "description": {
                    "type": "string",
                    "description": "This field contains the task's \"Note\" or \"Description\", which is a description of the work to be done to complete the task.\r\n            \r\nWithin the ProjectManager application, you can use this field as follows:\r\n* When in the Board or List view, click on a task to open the task panel, then edit the \"Description\" field.",
                    "example": "MindCloud sample description."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "The date when work on this Task is planned to begin.\r\n            \r\nThis value contains only the date in year-month-day format.  For display, this\r\ndate will always be shown as this same year-month-day regardless of time zone.\r\n time needs to be in 15-minute increments, valid values are 0, 15, 30, 45",
                    "example": "2026-04-10T09:00:00Z"
                  },
                  "durationMinutes": {
                    "type": "number",
                    "description": "The duration (in 15-minute increments) for this Meeting.",
                    "example": 1
                  },
                  "assignees[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Specify a list of resources to assign to this NPT"
                  },
                  "priority": {
                    "type": "number",
                    "description": "The numeric of the Priority for this Meeting",
                    "example": 1
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The unique identifier of the Project for this Meeting",
                    "example": "11111111-1111-1111-1111-111111111111"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignees": {
                            "type": "object",
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "colorName": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "shortName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "plannedDuration": {
                            "type": "number"
                          },
                          "plannedEffort": {
                            "type": "number"
                          },
                          "plannedFinishDate": {
                            "type": "string"
                          },
                          "plannedStartDate": {
                            "type": "string"
                          },
                          "priorityId": {
                            "type": "number"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "shortId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "todos": {
                            "type": "object",
                            "properties": {
                              "complete": {
                                "type": "boolean"
                              },
                              "createDate": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "modifyDate": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/create-or-update-task-assignee": {
      "put": {
        "operationId": "projectManager.create-or-update-task-assignee",
        "summary": "Create Or Update TaskAssignee",
        "description": "Creates or updates task assignees in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/create-or-update-task-assignee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId",
                  "value[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "string",
                    "description": "The unique identifier of the Task to add or update an assignment",
                    "example": "22222222-2222-2222-2222-222222222222"
                  },
                  "value[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "changeSetId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/create-project": {
      "post": {
        "operationId": "projectManager.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Project.",
                    "example": "MindCloud Sample"
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description of the Project",
                    "example": "MindCloud sample description."
                  },
                  "shortId": {
                    "type": "string",
                    "description": "Specify the shortId for this project. If left blank a shortId will be generated.\r\n            \r\nA short identifier that uniquely identifies this Project within your Workspace\r\nusing a single letter followed by a number.  This code can be used for APIs\r\nthat accept Project unique identifiers.\r\n            \r\nYou can observe the short ID within the application by observing the URL of\r\nthe page you visit when you click on this project.  The page's URL will appear\r\nin the form `https://pm.app.projectmanager.com/project/board/D16` - in this\r\nexample, the `ShortId` is `D16`.\r\n            \r\nThis id can only be set on creation, and can not be updated.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "shortName": {
                    "type": "string",
                    "description": "An optional project short name. Up to 7 symbols",
                    "example": "Create Project Short Name"
                  },
                  "folderId": {
                    "type": "string",
                    "description": "The unique identifier of the folder of this project, or null if not assigned.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "projectAccess": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Project Access object"
                  },
                  "projectAccess.everyone": {
                    "type": "boolean",
                    "description": "If set to true every user will get access to this project",
                    "example": true
                  },
                  "projectAccess.members[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "If everyone is set to false the list of members will be used to give people access"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "The unique identifier of the customer for this project, or null if not customer specific",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "managerId": {
                    "type": "string",
                    "description": "The unique identifier of the manager of this project, or null if not assigned.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "chargeCodeId": {
                    "type": "string",
                    "description": "The unique identifier of the ChargeCode for this Project, if one has been selected.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "statusId": {
                    "type": "string",
                    "description": "The ProjectStatus chosen for this Project, if one has been selected.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "priorityId": {
                    "type": "string",
                    "description": "The ProjectPriority level of this Project, if one has been selected.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "hourlyRate": {
                    "type": "number",
                    "description": "The default hourly rate for work on this Project.  This rate will be used\r\nif an assignee working on this Project does not have an hourly rate configured\r\nin their profile.",
                    "example": 1
                  },
                  "budget": {
                    "type": "number",
                    "description": "The proposed budget for this Project.",
                    "example": 1
                  },
                  "statusUpdate": {
                    "type": "string",
                    "description": "Contains an optional status update for Projects that can be used to summarize\r\nthe status of multiple Projects at a glance.\r\n            \r\nYou can edit the StatusUpdate field on the Portfolio page of the application.",
                    "example": "2026-04-10"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "When creating a Project, you can optionally specify a Template to use to construct\r\nthe Project using a collection of pre-designed Tasks.\r\n            \r\nSpecifying a value in the TemplateId field will copy default settings for Tasks from\r\nyour template Project into the newly created Project.\r\n            \r\nThis field does not support custom templates.  You must choose from a list of\r\nProjectManager-supplied templates.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "template": {
                    "type": "boolean",
                    "description": "True if this Project is a Template project. Template projects can be used as",
                    "example": true
                  },
                  "targetDate": {
                    "type": "string",
                    "description": "The target planned completion date for this Project, or null if one has\r\nnot been selected.  This value can be updated in the Project Settings\r\npage or the Portfolio Project page within the application.",
                    "example": "2026-04-10"
                  },
                  "favorite": {
                    "type": "boolean",
                    "description": "True if this Project is marked as favorite for current user",
                    "example": true
                  },
                  "updatePlannedWithActual": {
                    "type": "boolean",
                    "description": "True if allow actual dates to update planned dates",
                    "example": true
                  },
                  "taskStatusCreate[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Create default task status upfront"
                  },
                  "workingDays": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Working Days object"
                  },
                  "workingDays.monday": {
                    "type": "boolean",
                    "description": "Set this value to true if Monday is considered a working day for this project.",
                    "example": true
                  },
                  "workingDays.tuesday": {
                    "type": "boolean",
                    "description": "Set this value to true if Tuesday is considered a working day for this project.",
                    "example": true
                  },
                  "workingDays.wednesday": {
                    "type": "boolean",
                    "description": "Set this value to true if Wednesday is considered a working day for this project.",
                    "example": true
                  },
                  "workingDays.thursday": {
                    "type": "boolean",
                    "description": "Set this value to true if Thursday is considered a working day for this project.",
                    "example": true
                  },
                  "workingDays.friday": {
                    "type": "boolean",
                    "description": "Set this value to true if Friday is considered a working day for this project.",
                    "example": true
                  },
                  "workingDays.saturday": {
                    "type": "boolean",
                    "description": "Set this value to true if Saturday is considered a working day for this project.",
                    "example": true
                  },
                  "workingDays.sunday": {
                    "type": "boolean",
                    "description": "Set this value to true if Sunday is considered a working day for this project.",
                    "example": true
                  },
                  "externalReferenceId": {
                    "type": "string",
                    "description": "An optional external reference identifier for this Project.\r\nThis value can be used to link the Project to records in external systems,\r\nsuch as ERP, CRM, or other integrations.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "weekStartsOnMonday": {
                    "type": "boolean",
                    "description": "Controls which day is considered the first day of the week for this project.\r\nIf not specified, this will be Sunday in the US and Monday everywhere else.\r\nIf true, the week starts on Monday. If false, the week starts on Sunday.",
                    "example": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualFinishDate": {
                            "type": "string"
                          },
                          "actualStartDate": {
                            "type": "string"
                          },
                          "budget": {
                            "type": "number"
                          },
                          "chargeCode": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "creationTemplateId": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "externalReferenceId": {
                            "type": "string"
                          },
                          "favorite": {
                            "type": "boolean"
                          },
                          "fieldValues": {
                            "type": "object",
                            "properties": {
                              "createdDate": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "modifiedDate": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "shortId": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "files": {
                            "type": "object",
                            "properties": {
                              "folder": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "task": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "shortId": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "folder": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hourlyRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isTemplate": {
                            "type": "boolean"
                          },
                          "manager": {
                            "type": "object",
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "members": {
                            "type": "object",
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "permission": {
                                "type": "string"
                              },
                              "permissionOptions": {
                                "type": "object",
                                "properties": {
                                  "collaborate": {
                                    "type": "boolean"
                                  },
                                  "editor": {
                                    "type": "boolean"
                                  },
                                  "guest": {
                                    "type": "boolean"
                                  },
                                  "manager": {
                                    "type": "boolean"
                                  },
                                  "none": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "role": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "modifyDate": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "percentComplete": {
                            "type": "number"
                          },
                          "plannedFinishDate": {
                            "type": "string"
                          },
                          "plannedStartDate": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "shortCode": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "isDeleted": {
                                "type": "boolean"
                              },
                              "isSystem": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "statusUpdate": {
                            "type": "string"
                          },
                          "targetDate": {
                            "type": "string"
                          },
                          "updatePlannedWithActual": {
                            "type": "boolean"
                          },
                          "workingDays": {
                            "type": "object",
                            "properties": {
                              "friday": {
                                "type": "boolean"
                              },
                              "monday": {
                                "type": "boolean"
                              },
                              "saturday": {
                                "type": "boolean"
                              },
                              "sunday": {
                                "type": "boolean"
                              },
                              "thursday": {
                                "type": "boolean"
                              },
                              "tuesday": {
                                "type": "boolean"
                              },
                              "wednesday": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/create-resource": {
      "post": {
        "operationId": "projectManager.create-resource",
        "summary": "Create Resource",
        "description": "Creates a new resource in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/create-resource"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The first name of the person Resource.\r\n            \r\nApplies to personnel Resources only.",
                    "example": "Create Resource First Name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The last name of the person Resource.\r\n            \r\nApplies to personnel Resources only.",
                    "example": "Create Resource Last Name"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address of this Resource.",
                    "example": "apps@mindcloud.co"
                  },
                  "hourlyRate": {
                    "type": "number",
                    "description": "The basic hourly rate for this Resource.",
                    "example": 1
                  },
                  "phone": {
                    "type": "string",
                    "description": "The phone number associated with this Resource.",
                    "example": "+15555550123"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city where this Resource is located.",
                    "example": "sample-city"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or region where this Resource is located.  This value is not constrained\r\nto a list of known states or regions.",
                    "example": "sample-state"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "A text field indicating the country in which this Resource is located.\r\nThis value must be one of the following: US, NZ, AU.",
                    "example": "sample-countrycode"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Free-form text notes about this Resource.  You may use this field to store extra\r\ninformation about the Resource.",
                    "example": "MindCloud sample notes."
                  },
                  "roleId": {
                    "type": "string",
                    "description": "The Role Id associated with this Resource.\r\n            \r\nApplies to personnel Resources only.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "teamIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of ResourceTeams to which this Resource belongs."
                  },
                  "skillIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of ResourceSkills possessed by this Resource."
                  },
                  "colorName": {
                    "type": "string",
                    "description": "Collaboration Color for this resource.\r\n            \r\neg. teal, cyan, lightblue, blurple, purple, pink, orange, gray",
                    "example": "#336699"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for this Resource.",
                    "example": "sample-language"
                  },
                  "country": {
                    "type": "string",
                    "description": "Deprecated - this property is no longer being used.  Please pass in Country data on\r\nthe CountryCode property.\r\n            \r\nA text field indicating the country in which this Resource is located.  This value\r\nis not constrained to the list of known ISO 3166 country names or codes.",
                    "example": "sample-country"
                  },
                  "role": {
                    "type": "string",
                    "description": "Deprecated - this property is no longer being used.  Please pass in Role data on\r\nthe RoleId property\r\n            \r\nThe Role privileges associated with this Resource.\r\n            \r\nApplies to personnel Resources only.",
                    "example": "sample-role"
                  },
                  "teams[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Deprecated - this property is no longer being used.  Please pass in Team data on\r\nthe TeamIds property\r\n            \r\nThe list of ResourceTeams to which this Resource belongs."
                  },
                  "skills[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Deprecated - this property is no longer being used.  Please pass in Skill data on\r\nthe SkillIds property\r\n            \r\nThe list of ResourceSkills possessed by this Resource."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approver": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "avatarUrl": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "colorName": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryName": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hourlyRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "initials": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "modifiedDate": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "onlineDateTime": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "resourceTypeId": {
                            "type": "number"
                          },
                          "role": {
                            "type": "string"
                          },
                          "skills": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "inUse": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "state": {
                            "type": "string"
                          },
                          "teams": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/create-tag": {
      "post": {
        "operationId": "projectManager.create-tag",
        "summary": "Create Tag",
        "description": "Creates a new tag in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/create-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of this Tag.",
                    "example": "MindCloud Sample"
                  },
                  "color": {
                    "type": "string",
                    "description": "The color that will be used to represent this Tag visually.  This color\r\nis automatically chosen by the application when a user creates a Tag.\r\n            \r\nYou can choose specify any color that can be represented using HTML RGB\r\nsyntax such as `#0088FF`, in the format `RRGGBB`.  You may not use names\r\nfor colors.",
                    "example": "#336699"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/create-task": {
      "post": {
        "operationId": "projectManager.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The unique identifier of the Project that will contain this Task",
                    "example": "11111111-1111-1111-1111-111111111111"
                  },
                  "name": {
                    "type": "string",
                    "description": "The common name of this Task.",
                    "example": "MindCloud Sample"
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of the work to be performed in this Task.",
                    "example": "MindCloud sample description."
                  },
                  "percentComplete": {
                    "type": "number",
                    "description": "The numerical percentage, from 0-100, representing the percentage completion\r\nfor this Task.  Any numbers below zero or above 100 will be clamped to the\r\nminimum or maximum value.\r\n            \r\nThis value can be edited manually in the Gantt chart view of the application,\r\nor can be selected on the Task Detail page within the Kanban board.",
                    "example": 1
                  },
                  "statusId": {
                    "type": "string",
                    "description": "The unique identifier of the TaskStatus for this Task",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "priorityId": {
                    "type": "number",
                    "description": "A numerical value representing the Priority of this Task"
                  },
                  "assignees[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of unique identifiers of TaskAssignees to be assigned to this Task"
                  },
                  "plannedStartDate": {
                    "type": "string",
                    "description": "The date when work on this Task is planned to begin.",
                    "example": "2026-04-10"
                  },
                  "plannedFinishDate": {
                    "type": "string",
                    "description": "The date when work on this Task is expected to complete.",
                    "example": "2026-04-10"
                  },
                  "plannedDuration": {
                    "type": "number",
                    "description": "The planned duration (in minutes) for this Task.  Cannot be negative.",
                    "example": 1
                  },
                  "plannedEffort": {
                    "type": "number",
                    "description": "The planned effort (in minutes) for this Task.  Cannot be negative.",
                    "example": 1
                  },
                  "plannedCost": {
                    "type": "number",
                    "description": "The planned cost for this Task.  Cannot be negative.",
                    "example": 1
                  },
                  "actualStartDate": {
                    "type": "string",
                    "description": "The date when work on this Task actually started, if known.",
                    "example": "2026-04-10"
                  },
                  "actualCost": {
                    "type": "number",
                    "description": "The actual cost of this Task to date, if known.",
                    "example": 1
                  },
                  "theme": {
                    "type": "string",
                    "description": "Color theme definition for this task.\r\n            \r\neg. Blue, Brown, DarkBlue, DarkGrey, Gold, Green, Grey, LightBrown, LightGreen,\r\nLightGrey, LightPurple, LightYellow, Magenta, Mauve, Navy, Orange, Purple, Red.",
                    "example": "sample-theme"
                  },
                  "isLocked": {
                    "type": "boolean",
                    "description": "Unlocked tasks can be adjusted by changes to their dependencies, resource leveling, or other factors.\r\n            \r\nAll tasks are unlocked by default.\r\n            \r\nIf a task is set to `IsLocked` = `true`, the dates and assigned resources are locked for this task and will not\r\nbe automatically changed by any process.",
                    "example": true
                  },
                  "isMilestone": {
                    "type": "boolean",
                    "description": "True if this task is a milestone.  Milestones represent a specific point in time for the project.  When a\r\nmilestone is locked, it represents a fixed time within the project that can be used to relate to other tasks.",
                    "example": true
                  },
                  "parentId": {
                    "type": "string",
                    "description": "Gets or sets the unique identifier of the parent task.\r\nIf set, this task will be a child of the specified parent task, supporting task hierarchies and sub-tasks.",
                    "example": "88888888-8888-8888-8888-888888888888"
                  },
                  "index": {
                    "type": "number",
                    "description": "Gets or sets the position of the task within the list of project tasks.\r\nUsed to determine the order of tasks in the project with the first task being 1.",
                    "example": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "changeSetId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/create-task-comment": {
      "post": {
        "operationId": "projectManager.create-task-comment",
        "summary": "Create Task Comment",
        "description": "Creates a new task comment in ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/create-task-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "string",
                    "description": "The unique ID number of the task being commented upon",
                    "example": "22222222-2222-2222-2222-222222222222"
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the comment to add to the discussion, in Markdown format.\r\n            \r\nDiscussion comments are formatted using [Markdown](https://www.markdownguide.org/)\r\nand users should be aware that HTML embedding is not permitted due to the risk of cross-site\r\nattacks and other embedding challenges.",
                    "example": "MindCloud sample text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "discussionCommentId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/projectManager/latest/actions/delete-project": {
      "delete": {
        "operationId": "projectManager.delete-project",
        "summary": "Delete Project",
        "description": "Deletes an existing project from ProjectManager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/projectManager/latest/actions/delete-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the Project to delete",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the Project to delete",
              "example": "11111111-1111-1111-1111-111111111111"
            }
          },
          {
            "name": "hardDelete",
            "in": "query",
            "required": false,
            "description": "Hard delete project true or false",
            "schema": {
              "type": "boolean",
              "description": "Hard delete project true or false",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "object",
                            "properties": {
                              "additionalErrors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "message": {
                                "type": "string"
                              },
                              "technicalError": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasError": {
                            "type": "boolean"
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
[...]
