{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Leverly Universal API",
    "version": "0.0.3",
    "description": "Send leads to Leverly and stop queued calls"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/leverly/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/leverly/latest/actions/create-call": {
      "post": {
        "operationId": "leverly.create-call",
        "summary": "Create Call",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leverly/latest/actions/create-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "phone1"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address1": {
                    "type": "string",
                    "description": "Lead's address."
                  },
                  "area": {
                    "type": "string",
                    "description": "Lead's area of interest."
                  },
                  "callDelay": {
                    "type": "number",
                    "description": "Delay before the initial call in seconds."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "Caller ID to display on leg 1 of the call."
                  },
                  "city": {
                    "type": "string",
                    "description": "Lead's city."
                  },
                  "comments": {
                    "type": "string",
                    "description": "Lead comments."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Lead's company name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Lead's email address."
                  },
                  "keyword": {
                    "type": "string",
                    "description": "Lead's keyword."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Lead's last name."
                  },
                  "leadSource": {
                    "type": "string",
                    "description": "Lead's source."
                  },
                  "location": {
                    "type": "string",
                    "description": "Lead's location."
                  },
                  "phone2": {
                    "type": "string",
                    "description": "Lead's second phone number."
                  },
                  "phone3": {
                    "type": "string",
                    "description": "Lead's third phone number."
                  },
                  "phone4": {
                    "type": "string",
                    "description": "Lead's fourth phone number."
                  },
                  "program": {
                    "type": "string",
                    "description": "Lead's program of interest."
                  },
                  "repPhone": {
                    "type": "string",
                    "description": "Representative phone number. Separate multiple numbers with commas."
                  },
                  "routingType": {
                    "type": "number",
                    "description": "1 = Step ringing, 2 = Round robin, 3 = Simultaneous."
                  },
                  "state": {
                    "type": "string",
                    "description": "Lead's state."
                  },
                  "vendorLeadId": {
                    "type": "string",
                    "description": "Vendor lead identifier used to reconcile and stop a submitted call later."
                  },
                  "zip": {
                    "type": "string",
                    "description": "Lead's ZIP code."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Lead's first name."
                  },
                  "phone1": {
                    "type": "string",
                    "description": "Lead's primary phone number."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inquiryId": {
                            "type": "number",
                            "description": "Leverly inquiry identifier for the submitted lead."
                          },
                          "message": {
                            "type": "string",
                            "description": "Human-readable result message returned by Leverly."
                          },
                          "status": {
                            "type": "string",
                            "description": "Result status returned by Leverly."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/leverly/latest/actions/salesforce-stop-call": {
      "delete": {
        "operationId": "leverly.salesforce-stop-call",
        "summary": "Salesforce Stop Call",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leverly/latest/actions/salesforce-stop-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Salesforce lead ID sent in the outbound message.",
            "schema": {
              "type": "string",
              "description": "Salesforce lead ID sent in the outbound message."
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "description": "Lead primary phone number.",
            "schema": {
              "type": "string",
              "description": "Lead primary phone number."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "soapenv:Envelope": {
                            "type": "object",
                            "properties": {
                              "soapenv:Body": {
                                "type": "object",
                                "properties": {
                                  "notifications": {
                                    "type": "object",
                                    "properties": {
                                      "Ack": {
                                        "type": "string",
                                        "description": "SOAP acknowledgment returned by Leverly for the Salesforce stop-call notification."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/leverly/latest/actions/stop-call": {
      "delete": {
        "operationId": "leverly.stop-call",
        "summary": "Stop Call",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leverly/latest/actions/stop-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendorLeadId",
            "in": "query",
            "required": false,
            "description": "Vendor lead ID from your system. It must have been included in the original post.",
            "schema": {
              "type": "string",
              "description": "Vendor lead ID from your system. It must have been included in the original post."
            }
          },
          {
            "name": "phone1",
            "in": "query",
            "required": false,
            "description": "Lead phone number in 1NNNNNNNNNN format.",
            "schema": {
              "type": "string",
              "description": "Lead phone number in 1NNNNNNNNNN format."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Failure-path error code from Stop Call runtime evidence."
                          },
                          "data": {
                            "type": "string",
                            "description": "Failure-path provider response text from Stop Call runtime evidence."
                          },
                          "message": {
                            "type": "string",
                            "description": "Failure-path error message from Stop Call runtime evidence."
                          },
                          "name": {
                            "type": "string",
                            "description": "Failure-path error object field from Stop Call runtime evidence."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
