{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "OneSignal Universal API",
    "version": "0.0.8",
    "description": "Send messages and manage users, segments, and templates"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/oneSignal/latest/actions/create-or-update-alias": {
      "put": {
        "operationId": "oneSignal.create-or-update-alias",
        "summary": "Create or Update Alias",
        "description": "Creates or updates a user alias in OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/create-or-update-alias"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "aliasId",
                  "aliasLabel",
                  "identity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "aliasId": {
                    "type": "string",
                    "description": "The alias value for the selected alias label."
                  },
                  "aliasLabel": {
                    "type": "string",
                    "description": "The alias namespace to look up, such as external_id."
                  },
                  "identity": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An object of aliases to create or update on the user."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identity": {
                            "type": "object",
                            "properties": {
                              "externalId": {
                                "type": "string"
                              },
                              "onesignalId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/create-subscription-by-alias": {
      "post": {
        "operationId": "oneSignal.create-subscription-by-alias",
        "summary": "Create Subscription by Alias",
        "description": "Creates a subscription in OneSignal by alias.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/create-subscription-by-alias"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "aliasId",
                  "aliasLabel",
                  "subscription"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "aliasId": {
                    "type": "string",
                    "description": "The alias value for the selected alias label."
                  },
                  "aliasLabel": {
                    "type": "string",
                    "description": "The alias namespace to look up, such as external_id."
                  },
                  "subscription": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The subscription object to create for the user."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscription": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string"
                              },
                              "appVersion": {
                                "type": "string"
                              },
                              "carrier": {
                                "type": "string"
                              },
                              "deviceModel": {
                                "type": "string"
                              },
                              "deviceOs": {
                                "type": "string"
                              },
                              "enabled": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "netType": {
                                "type": "number"
                              },
                              "notificationTypes": {
                                "type": "number"
                              },
                              "rooted": {
                                "type": "boolean"
                              },
                              "sdk": {
                                "type": "string"
                              },
                              "sessionCount": {
                                "type": "number"
                              },
                              "sessionTime": {
                                "type": "number"
                              },
                              "testType": {
                                "type": "number"
                              },
                              "token": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "webAuth": {
                                "type": "string"
                              },
                              "webP256": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/create-template": {
      "post": {
        "operationId": "oneSignal.create-template",
        "summary": "Create Template",
        "description": "Creates a template in OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contents",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contents": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Localized template contents keyed by language code, such as {\"en\":\"Hello from OneSignal\"}."
                  },
                  "name": {
                    "type": "string",
                    "description": "A name for the template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channel": {
                            "type": "string"
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "contents": {
                                "type": "object",
                                "properties": {
                                  "en": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "disableEmailClickTracking": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailBody": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailPreheader": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailReplyToAddress": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "emailSubject": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "globalImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "huaweiBadgeAddNum": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "huaweiBadgeClass": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "huaweiBadgeSetNum": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isAdm": {
                                "type": "boolean"
                              },
                              "isAlexa": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isAndroid": {
                                "type": "boolean"
                              },
                              "isChrome": {
                                "type": "boolean"
                              },
                              "isChromeWeb": {
                                "type": "boolean"
                              },
                              "isEdge": {
                                "type": "boolean"
                              },
                              "isEmail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isFirefox": {
                                "type": "boolean"
                              },
                              "isHuawei": {
                                "type": "boolean"
                              },
                              "isIos": {
                                "type": "boolean"
                              },
                              "isMacOSX": {
                                "type": "boolean"
                              },
                              "isSafari": {
                                "type": "boolean"
                              },
                              "isSMS": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "isWP": {
                                "type": "boolean"
                              },
                              "isWPWNS": {
                                "type": "boolean"
                              },
                              "smsFrom": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "smsMediaUrls": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "subtitle": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "url": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/create-user": {
      "post": {
        "operationId": "oneSignal.create-user",
        "summary": "Create User",
        "description": "Creates a user in OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "identity",
                  "subscriptions[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "identity": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An object of user aliases, such as {\"external_id\":\"user-123\"}."
                  },
                  "subscriptions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of subscription objects to attach to the user."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identity": {
                            "type": "object",
                            "properties": {
                              "externalId": {
                                "type": "string"
                              },
                              "onesignalId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "subscriptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/delete-subscription": {
      "delete": {
        "operationId": "oneSignal.delete-subscription",
        "summary": "Delete Subscription",
        "description": "Deletes a subscription from OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/delete-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "description": "The identifier of the subscription in UUID v4 format.",
            "schema": {
              "type": "string",
              "description": "The identifier of the subscription in UUID v4 format."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/delete-template": {
      "delete": {
        "operationId": "oneSignal.delete-template",
        "summary": "Delete Template",
        "description": "Deletes a template from OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/delete-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "description": "The identifier of the template in UUID v4 format.",
            "schema": {
              "type": "string",
              "description": "The identifier of the template in UUID v4 format."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the template deletion completed successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/delete-user": {
      "delete": {
        "operationId": "oneSignal.delete-user",
        "summary": "Delete User",
        "description": "Deletes a user from OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aliasId",
            "in": "query",
            "required": true,
            "description": "The alias value for the selected alias label.",
            "schema": {
              "type": "string",
              "description": "The alias value for the selected alias label."
            }
          },
          {
            "name": "aliasLabel",
            "in": "query",
            "required": true,
            "description": "The alias namespace to look up, such as external_id.",
            "schema": {
              "type": "string",
              "description": "The alias namespace to look up, such as external_id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identity": {
                            "type": "object",
                            "properties": {
                              "onesignalId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/export-audience-activity-csv": {
      "get": {
        "operationId": "oneSignal.export-audience-activity-csv",
        "summary": "Export Audience Activity CSV",
        "description": "Exports audience activity as CSV from OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/export-audience-activity-csv"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The identifier of the message in UUID v4 format.",
            "schema": {
              "type": "string",
              "description": "The identifier of the message in UUID v4 format."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "csvFileUrl": {
                            "type": "string",
                            "description": "The download URL for the generated audience activity CSV export."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/get-message": {
      "get": {
        "operationId": "oneSignal.get-message",
        "summary": "Get Message",
        "description": "Retrieves message details from OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/get-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notificationId",
            "in": "query",
            "required": true,
            "description": "The OneSignal notification ID to fetch.",
            "schema": {
              "type": "string",
              "description": "The OneSignal notification ID to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "admBigPicture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "admGroup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "admLargeIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "admSmallIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "admSound": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "alexaDisplayTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "alexaSsml": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "amazonBackgroundData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "androidAccentColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "androidChannelId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "androidGroup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "androidGroupMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "androidLedColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "androidSound": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "androidVisibility": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "apnsAlert": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appId": {
                            "type": "string"
                          },
                          "appUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bigPicture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "buttons": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "canceled": {
                            "type": "boolean"
                          },
                          "chromeBigPicture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chromeIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chromeWebBadge": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chromeWebIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chromeWebImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "contentAvailable": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "converted": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "delayedOption": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deliveryTimeOfDay": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailClickTrackingDisabled": {
                            "type": "boolean"
                          },
                          "emailFromAddress": {
                            "type": "string"
                          },
                          "emailFromName": {
                            "type": "string"
                          },
                          "emailPreheader": {
                            "type": "string"
                          },
                          "emailReplyToAddress": {
                            "type": "string"
                          },
                          "emailSubject": {
                            "type": "string"
                          },
                          "errored": {
                            "type": "number"
                          },
                          "failed": {
                            "type": "number"
                          },
                          "fcapGroupIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fcapStatus": {
                            "type": "string"
                          },
                          "filters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "firefoxIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "globalImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiAccentColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiBadgeAddNum": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiBadgeClass": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiBadgeSetNum": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiBigPicture": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiBiTag": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiCategory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiChannelId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiExistingChannelId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiGroup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiGroupMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiLargeIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiLedColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiMsgType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiSmallIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiSound": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "huaweiVisibility": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "includeAliases": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "includeExternalUserIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "includePlayerIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "includeUnsubscribed": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "influencedOpens": {
                            "type": "number"
                          },
                          "iosAttachments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iosBadgeCount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iosBadgeType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iosCategory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iosInterruptionLevel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iosRelevanceScore": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iosSound": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isAdm": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isAlexa": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isAndroid": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isChrome": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isChromeWeb": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isEdge": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isEmail": {
                            "type": "boolean"
                          },
                          "isFirefox": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isHuawei": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isIos": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isSafari": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isSMS": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isWP": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isWPWNS": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "largeIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "platformDeliveryStats": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "object",
                                "properties": {
                                  "bounced": {
                                    "type": "number"
                                  },
                                  "clicks": {
                                    "type": "number"
                                  },
                                  "converted": {
                                    "type": "number"
                                  },
                                  "errored": {
                                    "type": "number"
                                  },
                                  "failed": {
                                    "type": "number"
                                  },
                                  "opened": {
                                    "type": "number"
                                  },
                                  "received": {
                                    "type": "number"
                                  },
                                  "reportedSpam": {
                                    "type": "number"
                                  },
                                  "successful": {
                                    "type": "number"
                                  },
                                  "suppressed": {
                                    "type": "number"
                                  },
                                  "uniqueClicks": {
                                    "type": "number"
                                  },
                                  "uniqueOpens": {
                                    "type": "number"
                                  },
                                  "unsubscribed": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "queuedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "received": {
                            "type": "number"
                          },
                          "remaining": {
                            "type": "number"
                          },
                          "sendAfter": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "smallIcon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "smsFrom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "smsMediaUrls": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "spokenText": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subtitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "successful": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "targetContentIdentifier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "templateId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "threadId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "throttleRatePerMinute": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ttl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "url": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webButtons": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webPushTopic": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "wpSound": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "wpWnsSound": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/get-segment": {
      "get": {
        "operationId": "oneSignal.get-segment",
        "summary": "Get Segment",
        "description": "Retrieves segment details from OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/get-segment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "query",
            "required": true,
            "description": "The OneSignal segment ID to fetch.",
            "schema": {
              "type": "string",
              "description": "The OneSignal segment ID to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscriberCount": {
                            "type": "number",
                            "description": "The number of subscribers currently in the segment."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/get-template": {
      "get": {
        "operationId": "oneSignal.get-template",
        "summary": "Get Template",
        "description": "Retrieves template details from OneSignal.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/get-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "description": "The OneSignal template ID to fetch.",
            "schema": {
              "type": "string",
              "description": "The OneSignal template ID to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oneSignal/latest/actions/get-user": {
      "get": {
        "operationId": "oneSignal.get-user",
        "summary": "Get User",
        "description": "Retrieves a user from OneSignal by alias.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oneSignal/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aliasId",
            "in": "query",
            "required": true,
            "description": "The alias value for the user to fetch.",
            "schema": {
              "type": "string",
              "description": "The alias value for the user to fetch."
            }
          },
          {
            "name": "aliasLabel",
            "in": "query",
            "required": true,
            "description": "The alias type to look up, such as external_id.",
            "schema": {
              "type": "string",
              "description": "The alias type to look up, such as external_id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
[...]
