{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Captain Data Universal API",
    "version": "0.0.7",
    "description": "Captain Data API integration for workspace quotas, people enrichment and search, company enrichment and search, and related Captain Data automation endpoints."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/captainData/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/captainData/latest/actions/enrich-company": {
      "get": {
        "operationId": "captainData.enrich-company",
        "summary": "Enrich Company",
        "description": "Retrieves detailed company data from Captain Data by LinkedIn URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/enrich-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedinCompanyUrl",
            "in": "query",
            "required": true,
            "description": "LinkedIn company URL to enrich.",
            "schema": {
              "type": "string",
              "description": "LinkedIn company URL to enrich."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "city": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "employees_range": {
                            "type": "string"
                          },
                          "geographic_area": {
                            "type": "string"
                          },
                          "headquarters": {
                            "type": "string"
                          },
                          "industries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "industry": {
                            "type": "string"
                          },
                          "last_funding_investors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "li_company_id": {
                            "type": "number"
                          },
                          "li_company_url": {
                            "type": "string"
                          },
                          "li_employees_url": {
                            "type": "string"
                          },
                          "li_followers_count": {
                            "type": "number"
                          },
                          "li_job_search_url": {
                            "type": "string"
                          },
                          "li_page_claimed": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "logo_url": {
                            "type": "string"
                          },
                          "number_employees": {
                            "type": "number"
                          },
                          "number_of_locations": {
                            "type": "number"
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "sn_company_url": {
                            "type": "string"
                          },
                          "specialties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tagline": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captainData/latest/actions/enrich-people": {
      "get": {
        "operationId": "captainData.enrich-people",
        "summary": "Enrich People",
        "description": "Retrieves detailed person data from Captain Data by LinkedIn URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/enrich-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedinProfileUrl",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL to enrich.",
            "schema": {
              "type": "string",
              "description": "LinkedIn profile URL to enrich."
            }
          },
          {
            "name": "fullEnrich",
            "in": "query",
            "required": false,
            "description": "Include additional experiences, skills, and education details.",
            "schema": {
              "type": "boolean",
              "description": "Include additional experiences, skills, and education details.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "birth_date": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "company_uid": {
                            "type": "string"
                          },
                          "education": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "experiences": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "headline": {
                            "type": "string"
                          },
                          "job_title": {
                            "type": "string"
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "li_company_id": {
                            "type": "string"
                          },
                          "li_company_url": {
                            "type": "string"
                          },
                          "li_number_connections": {
                            "type": "number"
                          },
                          "li_number_followers": {
                            "type": "number"
                          },
                          "li_people_post_search_url": {
                            "type": "string"
                          },
                          "li_profile_country": {
                            "type": "string"
                          },
                          "li_profile_handle": {
                            "type": "string"
                          },
                          "li_profile_id": {
                            "type": "number"
                          },
                          "li_profile_image_url": {
                            "type": "string"
                          },
                          "li_profile_language": {
                            "type": "string"
                          },
                          "li_profile_url": {
                            "type": "string"
                          },
                          "li_school_url": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "open_to_work": {
                            "type": "boolean"
                          },
                          "past_company_name": {
                            "type": "string"
                          },
                          "past_company_uid": {
                            "type": "string"
                          },
                          "past_job_title": {
                            "type": "string"
                          },
                          "past_li_company_id": {
                            "type": "string"
                          },
                          "past_li_company_url": {
                            "type": "string"
                          },
                          "school_name": {
                            "type": "string"
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "summary": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "volunteer_experiences": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captainData/latest/actions/find-company": {
      "get": {
        "operationId": "captainData.find-company",
        "summary": "Find Company",
        "description": "Finds a company in Captain Data by company name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/find-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": true,
            "description": "Company name to resolve to a Captain Data company UID.",
            "schema": {
              "type": "string",
              "description": "Company name to resolve to a Captain Data company UID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "li_company_id": {
                            "type": "string"
                          },
                          "li_company_url": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captainData/latest/actions/find-company-employees": {
      "get": {
        "operationId": "captainData.find-company-employees",
        "summary": "Find Company Employees",
        "description": "Finds company employees in Captain Data by company UID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/find-company-employees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyUid",
            "in": "query",
            "required": true,
            "description": "Captain Data company UID from Find Company or Search Companies.",
            "schema": {
              "type": "string",
              "description": "Captain Data company UID from Find Company or Search Companies."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Optional Sales Navigator people-search query for employee filtering.",
            "schema": {
              "type": "string",
              "description": "Optional Sales Navigator people-search query for employee filtering."
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the X-Pagination-Next response header.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from the X-Pagination-Next response header."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Captain Data fixed employee-search page size. Leave at the documented default.",
            "schema": {
              "type": "number",
              "description": "Captain Data fixed employee-search page size. Leave at the documented default.",
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company_name": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "headline": {
                            "type": "string"
                          },
                          "job_title": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "li_profile_id": {
                            "type": "number"
                          },
                          "li_profile_url": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "profile_image_url": {
                            "type": "string"
                          },
                          "recently_hired": {
                            "type": "boolean"
                          },
                          "recently_promoted": {
                            "type": "boolean"
                          },
                          "sn_company_id": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "tenure_end": {
                            "type": "string"
                          },
                          "tenure_length": {
                            "type": "string"
                          },
                          "tenure_start": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captainData/latest/actions/find-people": {
      "get": {
        "operationId": "captainData.find-people",
        "summary": "Find People",
        "description": "Finds a person in Captain Data by full name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/find-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "required": true,
            "description": "Exact full name to look up.",
            "schema": {
              "type": "string",
              "description": "Exact full name to look up."
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "description": "Optional company name to disambiguate the person search.",
            "schema": {
              "type": "string",
              "description": "Optional company name to disambiguate the person search."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "li_profile_id": {
                            "type": "number"
                          },
                          "li_profile_url": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captainData/latest/actions/get-quotas": {
      "get": {
        "operationId": "captainData.get-quotas",
        "summary": "Get Quotas",
        "description": "Retrieves workspace quota details from Captain Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/get-quotas"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credits_left": {
                            "type": "number"
                          },
                          "credits_max": {
                            "type": "number"
                          },
                          "credits_used": {
                            "type": "number"
                          },
                          "current_month_end": {
                            "type": "string"
                          },
                          "current_month_start": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan_name": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captainData/latest/actions/search-companies": {
      "get": {
        "operationId": "captainData.search-companies",
        "summary": "Search Companies",
        "description": "Finds companies in Captain Data by Sales Navigator query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/search-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Sales Navigator company search query copied from the LinkedIn search URL.",
            "schema": {
              "type": "string",
              "description": "Sales Navigator company search query copied from the LinkedIn search URL."
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the X-Pagination-Next response header.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from the X-Pagination-Next response header."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Captain Data fixed company-search page size. Leave at the documented default.",
            "schema": {
              "type": "number",
              "description": "Captain Data fixed company-search page size. Leave at the documented default.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "li_company_id": {
                            "type": "number"
                          },
                          "li_company_url": {
                            "type": "string"
                          },
                          "number_employees": {
                            "type": "string"
                          },
                          "sn_company_url": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captainData/latest/actions/search-people": {
      "get": {
        "operationId": "captainData.search-people",
        "summary": "Search People",
        "description": "Finds people in Captain Data by Sales Navigator query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captainData/latest/actions/search-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Sales Navigator people search query copied from the LinkedIn search URL.",
            "schema": {
              "type": "string",
              "description": "Sales Navigator people search query copied from the LinkedIn search URL."
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from the X-Pagination-Next response header.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from the X-Pagination-Next response header."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Captain Data fixed people-search page size. Leave at the documented default.",
            "schema": {
              "type": "number",
              "description": "Captain Data fixed people-search page size. Leave at the documented default.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company_name": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "job_end": {
                            "type": "string"
                          },
                          "job_start": {
                            "type": "string"
                          },
                          "job_time_period": {
                            "type": "string"
                          },
                          "job_title": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "li_company_id": {
                            "type": "number"
                          },
                          "li_profile_id": {
                            "type": "number"
                          },
                          "li_profile_image_url": {
                            "type": "string"
                          },
                          "li_profile_url": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "recently_hired": {
                            "type": "boolean"
                          },
                          "recently_promoted": {
                            "type": "boolean"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
