{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PagePixels Universal API",
    "version": "0.0.6",
    "description": "Capture, schedule, and analyze website screenshots and domain data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pagePixels/latest/actions/capture-next-scheduled-screenshot": {
      "post": {
        "operationId": "pagePixels.capture-next-scheduled-screenshot",
        "summary": "Capture Next Scheduled Screenshot",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/capture-next-scheduled-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "screenshotConfigurationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "screenshotConfigurationId": {
                    "type": "string",
                    "description": "The screenshot configuration ID to capture immediately."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "embedUrl": {
                            "type": "string",
                            "description": "The embed URL for the screenshot configuration being captured."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "The background job ID created for the capture."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether PagePixels accepted the immediate capture request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/capture-screenshot": {
      "get": {
        "operationId": "pagePixels.capture-screenshot",
        "summary": "Capture Screenshot",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/capture-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The web page URL to capture.",
            "schema": {
              "type": "string",
              "description": "The web page URL to capture."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ai": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested AI analysis metadata returned with the screenshot."
                          },
                          "directLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot image."
                          },
                          "directThumbnailLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot thumbnail."
                          },
                          "embedUrl": {
                            "type": "string",
                            "description": "The embed URL for the screenshot or screenshot configuration."
                          },
                          "id": {
                            "type": "string",
                            "description": "The screenshot record ID returned by PagePixels."
                          },
                          "isBrowserExtensionScreenshot": {
                            "type": "boolean",
                            "description": "Whether the screenshot came from the browser extension flow."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "The background job ID when PagePixels associates one with the screenshot."
                          },
                          "screenshotConfigurationId": {
                            "type": "string",
                            "description": "The screenshot configuration ID associated with the captured screenshot."
                          },
                          "takenAt": {
                            "type": "string",
                            "description": "The ISO-like timestamp for when the screenshot was captured."
                          },
                          "takenAtTimestamp": {
                            "type": "string",
                            "description": "The capture timestamp value returned by PagePixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/create-scheduled-screenshot": {
      "post": {
        "operationId": "pagePixels.create-scheduled-screenshot",
        "summary": "Create Scheduled Screenshot",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/create-scheduled-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url",
                  "scheduledEvery",
                  "scheduledInterval"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The public web page URL to schedule for screenshots."
                  },
                  "scheduledEvery": {
                    "type": "number",
                    "description": "How often to capture the screenshot."
                  },
                  "scheduledInterval": {
                    "type": "string",
                    "description": "The scheduler interval unit such as minutes."
                  },
                  "multiStepActions": {
                    "type": "string",
                    "description": "JSON array of PagePixels multi-step actions, including change notification rules.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "embedUrl": {
                            "type": "string",
                            "description": "The embed URL for the created screenshot configuration."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "The background job ID started for the initial capture."
                          },
                          "screenshotConfigurationId": {
                            "type": "string",
                            "description": "The created screenshot configuration ID."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether PagePixels accepted the scheduled screenshot creation request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/create-website-domain-research-request": {
      "post": {
        "operationId": "pagePixels.create-website-domain-research-request",
        "summary": "Create Website Domain Research Request",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/create-website-domain-research-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "domains[]",
                  "structures[0].data_type",
                  "structures[0].data_field_name",
                  "structures[0].data_field_prompt_description"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name for this research job."
                  },
                  "additionalNotes": {
                    "type": "string",
                    "description": "Optional notes for the research job."
                  },
                  "domains[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of domains to analyze."
                  },
                  "structures[0].data_type": {
                    "type": "string",
                    "description": "The data type to extract for the first structure entry."
                  },
                  "structures[0].data_field_name": {
                    "type": "string",
                    "description": "The result field name for the first structure entry."
                  },
                  "structures[0].data_field_prompt_description": {
                    "type": "string",
                    "description": "The extraction prompt for the first structure entry."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jobId": {
                            "type": "string",
                            "description": "The unique identifier for the created domain research job."
                          },
                          "status": {
                            "type": "string",
                            "description": "The initial job status returned by PagePixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/delete-screenshot-configuration": {
      "delete": {
        "operationId": "pagePixels.delete-screenshot-configuration",
        "summary": "Delete Screenshot Configuration",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/delete-screenshot-configuration"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "screenshotConfigurationId",
            "in": "query",
            "required": true,
            "description": "The screenshot configuration ID to delete.",
            "schema": {
              "type": "string",
              "description": "The screenshot configuration ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested screenshot configuration settings for the deleted configuration."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The creation timestamp returned by PagePixels."
                          },
                          "host": {
                            "type": "string",
                            "description": "The host or URL tracked by the deleted configuration."
                          },
                          "id": {
                            "type": "string",
                            "description": "The deleted screenshot configuration ID."
                          },
                          "ids": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested ID bundle returned by PagePixels, including embed URL and last job ID."
                          },
                          "isBrowserExtensionScreenshot": {
                            "type": "boolean",
                            "description": "Whether the deleted configuration originated from the browser extension flow."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/get-account-limits": {
      "get": {
        "operationId": "pagePixels.get-account-limits",
        "summary": "Get Account Limits",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/get-account-limits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aiAnalysisRequestsCurrentMonthUsage": {
                            "type": "number",
                            "description": "The AI analysis requests used in the current month."
                          },
                          "aiAnalysisRequestsLimit": {
                            "type": "number",
                            "description": "The AI analysis request limit for the current month."
                          },
                          "realLocationBandwidthCurrentMonthUsageInBytes": {
                            "type": "number",
                            "description": "The real location bandwidth used in the current month in bytes."
                          },
                          "realLocationBandwidthLimitInBytes": {
                            "type": "number",
                            "description": "The monthly real location bandwidth limit in bytes."
                          },
                          "screenshotCurrentMonthUsage": {
                            "type": "number",
                            "description": "The screenshot requests used in the current month."
                          },
                          "screenshotLimit": {
                            "type": "number",
                            "description": "The screenshot request limit for the current month."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/get-job-status": {
      "get": {
        "operationId": "pagePixels.get-job-status",
        "summary": "Get Job Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/get-job-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "The PagePixels job ID returned by create or capture endpoints.",
            "schema": {
              "type": "string",
              "description": "The PagePixels job ID returned by create or capture endpoints."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ai": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested AI analysis metadata returned with the screenshot."
                          },
                          "directLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot image."
                          },
                          "directThumbnailLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot thumbnail."
                          },
                          "embedUrl": {
                            "type": "string",
                            "description": "The embed URL for the screenshot or screenshot configuration."
                          },
                          "id": {
                            "type": "string",
                            "description": "The screenshot record ID returned by PagePixels."
                          },
                          "isBrowserExtensionScreenshot": {
                            "type": "boolean",
                            "description": "Whether the screenshot came from the browser extension flow."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "The background job ID associated with the screenshot."
                          },
                          "screenshotConfigurationId": {
                            "type": "string",
                            "description": "The screenshot configuration ID associated with the captured screenshot."
                          },
                          "takenAt": {
                            "type": "string",
                            "description": "The ISO-like timestamp for when the screenshot was captured."
                          },
                          "takenAtTimestamp": {
                            "type": "string",
                            "description": "The capture timestamp value returned by PagePixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/get-screenshot-configuration": {
      "get": {
        "operationId": "pagePixels.get-screenshot-configuration",
        "summary": "Get Screenshot Configuration",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/get-screenshot-configuration"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "screenshotConfigurationId",
            "in": "query",
            "required": true,
            "description": "The screenshot configuration ID returned by PagePixels.",
            "schema": {
              "type": "string",
              "description": "The screenshot configuration ID returned by PagePixels."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested screenshot configuration settings returned by PagePixels."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The creation timestamp returned by PagePixels."
                          },
                          "host": {
                            "type": "string",
                            "description": "The host or URL tracked by the configuration."
                          },
                          "id": {
                            "type": "string",
                            "description": "The screenshot configuration ID."
                          },
                          "ids": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested ID bundle returned by PagePixels, including embed URL and last job ID."
                          },
                          "isBrowserExtensionScreenshot": {
                            "type": "boolean",
                            "description": "Whether the configuration originated from the browser extension flow."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/get-screenshots-from-configuration": {
      "get": {
        "operationId": "pagePixels.get-screenshots-from-configuration",
        "summary": "Get Screenshots From Configuration",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/get-screenshots-from-configuration"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "screenshotConfigurationId",
            "in": "query",
            "required": true,
            "description": "The screenshot configuration ID whose screenshots should be listed.",
            "schema": {
              "type": "string",
              "description": "The screenshot configuration ID whose screenshots should be listed."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The result page to retrieve.",
            "schema": {
              "type": "number",
              "description": "The result page to retrieve."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "number",
              "description": "The number of records to retrieve."
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Only include records created after this unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include records created after this unix timestamp."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Only include records created before this unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include records created before this unix timestamp."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order, either ASC or DESC.",
            "schema": {
              "type": "string",
              "description": "Sort order, either ASC or DESC."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ai": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested AI analysis metadata returned with the screenshot."
                          },
                          "directLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot image."
                          },
                          "directThumbnailLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot thumbnail."
                          },
                          "embedUrl": {
                            "type": "string",
                            "description": "The embed URL for the screenshot or screenshot configuration."
                          },
                          "id": {
                            "type": "string",
                            "description": "The screenshot record ID returned by PagePixels."
                          },
                          "isBrowserExtensionScreenshot": {
                            "type": "boolean",
                            "description": "Whether the screenshot came from the browser extension flow."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "The background job ID associated with the screenshot."
                          },
                          "screenshotConfigurationId": {
                            "type": "string",
                            "description": "The screenshot configuration ID associated with the captured screenshot."
                          },
                          "takenAt": {
                            "type": "string",
                            "description": "The ISO-like timestamp for when the screenshot was captured."
                          },
                          "takenAtTimestamp": {
                            "type": "string",
                            "description": "The capture timestamp value returned by PagePixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/get-website-domain-research-job-status": {
      "get": {
        "operationId": "pagePixels.get-website-domain-research-job-status",
        "summary": "Get Website Domain Research Job Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/get-website-domain-research-job-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "The PagePixels domain research job ID.",
            "schema": {
              "type": "string",
              "description": "The PagePixels domain research job ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedDomains": {
                            "type": "number",
                            "description": "The number of domains processed successfully so far."
                          },
                          "failedDomains": {
                            "type": "number",
                            "description": "The number of domains that failed processing."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "The unique identifier for the domain research job."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the domain research job."
                          },
                          "percentComplete": {
                            "type": "number",
                            "description": "The completion percentage reported by PagePixels."
                          },
                          "status": {
                            "type": "string",
                            "description": "The current provider status for the job."
                          },
                          "totalDomains": {
                            "type": "number",
                            "description": "The total number of domains included in the job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/get-website-domain-research-report": {
      "get": {
        "operationId": "pagePixels.get-website-domain-research-report",
        "summary": "Get Website Domain Research Report",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/get-website-domain-research-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "The PagePixels domain research job ID.",
            "schema": {
              "type": "string",
              "description": "The PagePixels domain research job ID."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Optional output format. Use csv for CSV output; omit for JSON.",
            "schema": {
              "type": "string",
              "description": "Optional output format. Use csv for CSV output; omit for JSON."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/list-all-change-notifications": {
      "get": {
        "operationId": "pagePixels.list-all-change-notifications",
        "summary": "List All Change Notifications",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/list-all-change-notifications"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The result page to retrieve.",
            "schema": {
              "type": "number",
              "description": "The result page to retrieve."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "number",
              "description": "The number of records to retrieve."
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Only include records created after this unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include records created after this unix timestamp."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Only include records created before this unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include records created before this unix timestamp."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order, either ASC or DESC.",
            "schema": {
              "type": "string",
              "description": "Sort order, either ASC or DESC."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The change notification rule configuration returned by PagePixels."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier for the change notification record."
                          },
                          "previousValue": {
                            "type": "string",
                            "description": "The previously captured selector value before the detected change."
                          },
                          "retrievedValue": {
                            "type": "string",
                            "description": "The newly captured selector value that triggered the notification."
                          },
                          "screenshotConfigurationId": {
                            "type": "string",
                            "description": "The screenshot configuration ID that produced the notification."
                          },
                          "sentAt": {
                            "type": "string",
                            "description": "The timestamp when PagePixels sent the notification webhook."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagePixels/latest/actions/list-all-screenshots": {
      "get": {
        "operationId": "pagePixels.list-all-screenshots",
        "summary": "List All Screenshots",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagePixels/latest/actions/list-all-screenshots"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The result page to retrieve.",
            "schema": {
              "type": "number",
              "description": "The result page to retrieve."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of records to retrieve.",
            "schema": {
              "type": "number",
              "description": "The number of records to retrieve."
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Only include records created after this unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include records created after this unix timestamp."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Only include records created before this unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include records created before this unix timestamp."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order, either ASC or DESC.",
            "schema": {
              "type": "string",
              "description": "Sort order, either ASC or DESC."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ai": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The nested AI analysis metadata returned with the screenshot."
                          },
                          "directLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot image."
                          },
                          "directThumbnailLink": {
                            "type": "string",
                            "description": "The direct CDN URL for the generated screenshot thumbnail."
                          },
                          "embedUrl": {
                            "type": "string",
                            "description": "The embed URL for the screenshot or screenshot configuration."
                          },
                          "id": {
                            "type": "string",
                            "description": "The screenshot record ID returned by PagePixels."
                          },
                          "isBrowserExtensionScreenshot": {
                            "type": "boolean",
                            "description": "Whether the screenshot came from the browser extension flow."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "The background job ID associated with the screenshot."
                          },
                          "screenshotConfigurationId": {
                            "type": "string",
                            "description": "The screenshot configuration ID associated with the captured screenshot."
                          },
                          "takenAt": {
                            "type": "string",
                            "description": "The ISO-like timestamp for when the screenshot was captured."
                          },
                          "takenAtTimestamp": {
                            "type": "string",
                            "description": "The capture timestamp value returned by PagePixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
[...]
