{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Track-POD Universal API",
    "version": "0.0.4",
    "description": "Last-mile delivery and electronic proof-of-delivery platform for managing orders, routes, drivers, vehicles, and delivery tracking."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/trackPOD/latest/actions/add-driver": {
      "post": {
        "operationId": "trackPOD.add-driver",
        "summary": "Add Driver",
        "description": "Creates a new driver in Track-POD.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/add-driver"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Active": {
                    "type": "boolean",
                    "description": "Whether the driver is active.",
                    "default": true
                  },
                  "Depot": {
                    "type": "string",
                    "description": "Depot name."
                  },
                  "DepotId": {
                    "type": "string",
                    "description": "Depot identifier."
                  },
                  "HomeAddress": {
                    "type": "string",
                    "description": "Driver home address."
                  },
                  "Name": {
                    "type": "string",
                    "description": "Driver name."
                  },
                  "Note": {
                    "type": "string",
                    "description": "Driver note."
                  },
                  "Password": {
                    "type": "string",
                    "description": "Driver password for Track-POD."
                  },
                  "Phone": {
                    "type": "string",
                    "description": "Driver phone number."
                  },
                  "Username": {
                    "type": "string",
                    "description": "Driver username for Track-POD."
                  },
                  "Vehicle": {
                    "type": "string",
                    "description": "Assigned vehicle number or name."
                  },
                  "Zone": {
                    "type": "string",
                    "description": "Driver zone."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/add-existing-order-to-route": {
      "put": {
        "operationId": "trackPOD.add-existing-order-to-route",
        "summary": "Add Existing Order To Route",
        "description": "Updates a Track-POD route by adding an existing order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/add-existing-order-to-route"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "orderId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "allowReschedule": {
                    "type": "boolean",
                    "description": "Allow rescheduling and transferring an order with failed delivery status from another route.",
                    "default": false
                  },
                  "allowTransfer": {
                    "type": "boolean",
                    "description": "Allow transferring an order without delivery status from another route.",
                    "default": false
                  },
                  "id": {
                    "type": "string",
                    "description": "Track-POD unique identifier for the route.",
                    "example": "route-1001"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "Track-POD unique identifier for the order.",
                    "example": "31cc9a7a-5658-4f7a-8c7c-99fe7f7173d6"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/add-existing-order-to-route-by-code": {
      "put": {
        "operationId": "trackPOD.add-existing-order-to-route-by-code",
        "summary": "Add Existing Order To Route By Code",
        "description": "Updates a Track-POD route by adding an existing order by number.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/add-existing-order-to-route-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "code",
                  "number"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "Route code"
                  },
                  "number": {
                    "type": "string",
                    "description": "Order number"
                  },
                  "allowTransfer": {
                    "type": "boolean",
                    "description": "Allow transfer from another route",
                    "default": false
                  },
                  "allowReschedule": {
                    "type": "boolean",
                    "description": "Allow reschedule from another route",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/add-route": {
      "post": {
        "operationId": "trackPOD.add-route",
        "summary": "Add Route",
        "description": "Creates a new route in Track-POD.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/add-route"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Code": {
                    "type": "string",
                    "description": "Route code."
                  },
                  "Date": {
                    "type": "string",
                    "description": "Route date and time."
                  },
                  "Depot": {
                    "type": "string",
                    "description": "Depot name."
                  },
                  "DepotId": {
                    "type": "string",
                    "description": "Depot identifier."
                  },
                  "DriverLogin": {
                    "type": "string",
                    "description": "Driver login."
                  },
                  "DriverName": {
                    "type": "string",
                    "description": "Driver name."
                  },
                  "DriverPassword": {
                    "type": "string",
                    "description": "Driver password."
                  },
                  "DriverVehicle": {
                    "type": "string",
                    "description": "Driver vehicle."
                  },
                  "Id": {
                    "type": "string",
                    "description": "Route identifier."
                  },
                  "Orders[0].Address": {
                    "type": "string",
                    "description": "First route order address."
                  },
                  "Orders[0].ContactName": {
                    "type": "string",
                    "description": "First route order contact name."
                  },
                  "Orders[0].Date": {
                    "type": "string",
                    "description": "First route order date and time."
                  },
                  "Orders[0].Note": {
                    "type": "string",
                    "description": "First route order note."
                  },
                  "Orders[0].Number": {
                    "type": "string",
                    "description": "First route order number."
                  },
                  "Orders[0].Phone": {
                    "type": "string",
                    "description": "First route order phone."
                  },
                  "Orders[0].TimeSlotFrom": {
                    "type": "string",
                    "description": "First route order time window start."
                  },
                  "Orders[0].TimeSlotTo": {
                    "type": "string",
                    "description": "First route order time window end."
                  },
                  "Orders[1].Address": {
                    "type": "string",
                    "description": "Second route order address."
                  },
                  "Orders[1].ContactName": {
                    "type": "string",
                    "description": "Second route order contact name."
                  },
                  "Orders[1].Date": {
                    "type": "string",
                    "description": "Second route order date and time."
                  },
                  "Orders[1].Note": {
                    "type": "string",
                    "description": "Second route order note."
                  },
                  "Orders[1].Number": {
                    "type": "string",
                    "description": "Second route order number."
                  },
                  "Orders[1].Phone": {
                    "type": "string",
                    "description": "Second route order phone."
                  },
                  "Orders[1].TimeSlotFrom": {
                    "type": "string",
                    "description": "Second route order time window start."
                  },
                  "Orders[1].TimeSlotTo": {
                    "type": "string",
                    "description": "Second route order time window end."
                  },
                  "ReturnToDepot": {
                    "type": "boolean",
                    "description": "Whether the route returns to the depot.",
                    "default": false
                  },
                  "RouteDate": {
                    "type": "string",
                    "description": "Route date and time."
                  },
                  "StartFromDepot": {
                    "type": "boolean",
                    "description": "Whether the route starts from the depot.",
                    "default": true
                  },
                  "StartTimePlan": {
                    "type": "string",
                    "description": "Planned route start time."
                  },
                  "Vehicle.Carrier": {
                    "type": "string",
                    "description": "Route vehicle carrier."
                  },
                  "Vehicle.CarrierCode": {
                    "type": "string",
                    "description": "Route vehicle carrier code."
                  },
                  "Vehicle.Number": {
                    "type": "string",
                    "description": "Route vehicle number."
                  },
                  "Vehicle.Pallets": {
                    "type": "number",
                    "description": "Route vehicle pallet capacity."
                  },
                  "Vehicle.Volume": {
                    "type": "number",
                    "description": "Route vehicle volume capacity."
                  },
                  "Vehicle.Weight": {
                    "type": "number",
                    "description": "Route vehicle weight capacity."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/add-unscheduled-order": {
      "post": {
        "operationId": "trackPOD.add-unscheduled-order",
        "summary": "Add Unscheduled Order",
        "description": "Creates a new unscheduled order in Track-POD.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/add-unscheduled-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Address": {
                    "type": "string",
                    "description": "Delivery address."
                  },
                  "AddressLat": {
                    "type": "number",
                    "description": "Delivery latitude."
                  },
                  "AddressLon": {
                    "type": "number",
                    "description": "Delivery longitude."
                  },
                  "AddressZone": {
                    "type": "string",
                    "description": "Delivery address zone."
                  },
                  "Barcode": {
                    "type": "string",
                    "description": "Order barcode."
                  },
                  "Client": {
                    "type": "string",
                    "description": "Client name."
                  },
                  "COD": {
                    "type": "number",
                    "description": "Cash on delivery amount."
                  },
                  "ContactName": {
                    "type": "string",
                    "description": "Recipient contact name."
                  },
                  "CustomerReferenceId": {
                    "type": "string",
                    "description": "Customer reference identifier."
                  },
                  "CustomFields[0].Id": {
                    "type": "string",
                    "description": "First custom field identifier."
                  },
                  "CustomFields[0].Value": {
                    "type": "string",
                    "description": "First custom field value."
                  },
                  "CustomFields[1].Id": {
                    "type": "string",
                    "description": "Second custom field identifier."
                  },
                  "CustomFields[1].Value": {
                    "type": "string",
                    "description": "Second custom field value."
                  },
                  "Date": {
                    "type": "string",
                    "description": "Order date and time."
                  },
                  "Depot": {
                    "type": "string",
                    "description": "Depot name."
                  },
                  "Email": {
                    "type": "string",
                    "description": "Recipient email."
                  },
                  "GoodsList[0].Cost": {
                    "type": "number",
                    "description": "First goods cost."
                  },
                  "GoodsList[0].GoodsBarcode": {
                    "type": "string",
                    "description": "First goods barcode."
                  },
                  "GoodsList[0].GoodsId": {
                    "type": "string",
                    "description": "First goods item identifier."
                  },
                  "GoodsList[0].GoodsName": {
                    "type": "string",
                    "description": "First goods item name."
                  },
                  "GoodsList[0].GoodsUnit": {
                    "type": "string",
                    "description": "First goods unit."
                  },
                  "GoodsList[0].Note": {
                    "type": "string",
                    "description": "First goods note."
                  },
                  "GoodsList[0].OrderLineBarcode": {
                    "type": "string",
                    "description": "First goods order-line barcode."
                  },
                  "GoodsList[0].OrderLineId": {
                    "type": "string",
                    "description": "First goods line identifier."
                  },
                  "GoodsList[0].Quantity": {
                    "type": "number",
                    "description": "First goods quantity."
                  },
                  "GoodsList[1].Cost": {
                    "type": "number",
                    "description": "Second goods cost."
                  },
                  "GoodsList[1].GoodsBarcode": {
                    "type": "string",
                    "description": "Second goods barcode."
                  },
                  "GoodsList[1].GoodsId": {
                    "type": "string",
                    "description": "Second goods item identifier."
                  },
                  "GoodsList[1].GoodsName": {
                    "type": "string",
                    "description": "Second goods item name."
                  },
                  "GoodsList[1].GoodsUnit": {
                    "type": "string",
                    "description": "Second goods unit."
                  },
                  "GoodsList[1].Note": {
                    "type": "string",
                    "description": "Second goods note."
                  },
                  "GoodsList[1].OrderLineBarcode": {
                    "type": "string",
                    "description": "Second goods order-line barcode."
                  },
                  "GoodsList[1].OrderLineId": {
                    "type": "string",
                    "description": "Second goods line identifier."
                  },
                  "GoodsList[1].Quantity": {
                    "type": "number",
                    "description": "Second goods quantity."
                  },
                  "Id": {
                    "type": "string",
                    "description": "Order identifier."
                  },
                  "InvoiceId": {
                    "type": "string",
                    "description": "Invoice identifier."
                  },
                  "Note": {
                    "type": "string",
                    "description": "Order note."
                  },
                  "NotificationsPolicy.AtDepartureNotificationEnabled": {
                    "type": "boolean",
                    "description": "Send a departure notification."
                  },
                  "NotificationsPolicy.AtRouteStartNotificationEnabled": {
                    "type": "boolean",
                    "description": "Send a route-start notification."
                  },
                  "NotificationsPolicy.EnRouteNotificationEnabled": {
                    "type": "boolean",
                    "description": "Send an en-route notification."
                  },
                  "NotificationsPolicy.PriorToRouteNotificationEnabled": {
                    "type": "boolean",
                    "description": "Send a prior-to-route notification."
                  },
                  "Number": {
                    "type": "string",
                    "description": "Order number."
                  },
                  "Pallets": {
                    "type": "number",
                    "description": "Order pallets."
                  },
                  "Phone": {
                    "type": "string",
                    "description": "Recipient phone number."
                  },
                  "PickupOrder.Address": {
                    "type": "string",
                    "description": "Pickup address."
                  },
                  "PickupOrder.AddressId": {
                    "type": "string",
                    "description": "Pickup address identifier."
                  },
                  "PickupOrder.AddressLat": {
                    "type": "number",
                    "description": "Pickup latitude."
                  },
                  "PickupOrder.AddressLon": {
                    "type": "number",
                    "description": "Pickup longitude."
                  },
                  "PickupOrder.AddressZone": {
                    "type": "string",
                    "description": "Pickup address zone."
                  },
                  "PickupOrder.Client": {
                    "type": "string",
                    "description": "Pickup client name."
                  },
                  "PickupOrder.ClientId": {
                    "type": "string",
                    "description": "Pickup client identifier."
                  },
                  "PickupOrder.COD": {
                    "type": "number",
                    "description": "Pickup cash on delivery amount."
                  },
                  "PickupOrder.ContactName": {
                    "type": "string",
                    "description": "Pickup contact name."
                  },
                  "PickupOrder.CustomFields[0].Id": {
                    "type": "string",
                    "description": "First pickup custom field identifier."
                  },
                  "PickupOrder.CustomFields[0].Value": {
                    "type": "string",
                    "description": "First pickup custom field value."
                  },
                  "PickupOrder.CustomFields[1].Id": {
                    "type": "string",
                    "description": "Second pickup custom field identifier."
                  },
                  "PickupOrder.CustomFields[1].Value": {
                    "type": "string",
                    "description": "Second pickup custom field value."
                  },
                  "PickupOrder.Email": {
                    "type": "string",
                    "description": "Pickup email."
                  },
                  "PickupOrder.Note": {
                    "type": "string",
                    "description": "Pickup note."
                  },
                  "PickupOrder.Phone": {
                    "type": "string",
                    "description": "Pickup phone number."
                  },
                  "PickupOrder.ServiceTime": {
                    "type": "number",
                    "description": "Pickup service time."
                  },
                  "PickupOrder.TimeSlotFrom": {
                    "type": "string",
                    "description": "Pickup time window start."
                  },
                  "PickupOrder.TimeSlotTo": {
                    "type": "string",
                    "description": "Pickup time window end."
                  },
                  "Priority": {
                    "type": "number",
                    "description": "Order priority."
                  },
                  "ServiceTime": {
                    "type": "number",
                    "description": "Planned service time."
                  },
                  "Shipper": {
                    "type": "string",
                    "description": "Shipper name."
                  },
                  "TeamCode": {
                    "type": "string",
                    "description": "Team code."
                  },
                  "TimeSlotFrom": {
                    "type": "string",
                    "description": "Start of the delivery time window."
                  },
                  "TimeSlotTo": {
                    "type": "string",
                    "description": "End of the delivery time window."
                  },
                  "Type": {
                    "type": "number",
                    "description": "Order type."
                  },
                  "updateAddressGps": {
                    "type": "boolean",
                    "description": "Force-update existing address latitude/longitude from the payload.",
                    "default": false
                  },
                  "updateGoodsPrice": {
                    "type": "boolean",
                    "description": "Force-update existing goods prices from the payload.",
                    "default": false
                  },
                  "Volume": {
                    "type": "number",
                    "description": "Order volume."
                  },
                  "Weight": {
                    "type": "number",
                    "description": "Order weight."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/add-unscheduled-orders-bulk": {
      "post": {
        "operationId": "trackPOD.add-unscheduled-orders-bulk",
        "summary": "Add Unscheduled Orders Bulk",
        "description": "Creates new unscheduled orders in bulk in Track-POD.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/add-unscheduled-orders-bulk"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Orders[0].Address": {
                    "type": "string",
                    "description": "First bulk order address."
                  },
                  "Orders[0].Client": {
                    "type": "string",
                    "description": "First bulk order client name."
                  },
                  "Orders[0].ContactName": {
                    "type": "string",
                    "description": "First bulk order contact name."
                  },
                  "Orders[0].Date": {
                    "type": "string",
                    "description": "First bulk order date and time."
                  },
                  "Orders[0].Number": {
                    "type": "string",
                    "description": "First bulk order number."
                  },
                  "Orders[0].Phone": {
                    "type": "string",
                    "description": "First bulk order phone number."
                  },
                  "Orders[0].TimeSlotFrom": {
                    "type": "string",
                    "description": "First bulk order time window start."
                  },
                  "Orders[0].TimeSlotTo": {
                    "type": "string",
                    "description": "First bulk order time window end."
                  },
                  "Orders[1].Address": {
                    "type": "string",
                    "description": "Second bulk order address."
                  },
                  "Orders[1].Client": {
                    "type": "string",
                    "description": "Second bulk order client name."
                  },
                  "Orders[1].ContactName": {
                    "type": "string",
                    "description": "Second bulk order contact name."
                  },
                  "Orders[1].Date": {
                    "type": "string",
                    "description": "Second bulk order date and time."
                  },
                  "Orders[1].Number": {
                    "type": "string",
                    "description": "Second bulk order number."
                  },
                  "Orders[1].Phone": {
                    "type": "string",
                    "description": "Second bulk order phone number."
                  },
                  "Orders[1].TimeSlotFrom": {
                    "type": "string",
                    "description": "Second bulk order time window start."
                  },
                  "Orders[1].TimeSlotTo": {
                    "type": "string",
                    "description": "Second bulk order time window end."
                  },
                  "Orders[2].Address": {
                    "type": "string",
                    "description": "Third bulk order address."
                  },
                  "Orders[2].Client": {
                    "type": "string",
                    "description": "Third bulk order client name."
                  },
                  "Orders[2].ContactName": {
                    "type": "string",
                    "description": "Third bulk order contact name."
                  },
                  "Orders[2].Date": {
                    "type": "string",
                    "description": "Third bulk order date and time."
                  },
                  "Orders[2].Number": {
                    "type": "string",
                    "description": "Third bulk order number."
                  },
                  "Orders[2].Phone": {
                    "type": "string",
                    "description": "Third bulk order phone number."
                  },
                  "Orders[2].TimeSlotFrom": {
                    "type": "string",
                    "description": "Third bulk order time window start."
                  },
                  "Orders[2].TimeSlotTo": {
                    "type": "string",
                    "description": "Third bulk order time window end."
                  },
                  "updateAddressGps": {
                    "type": "boolean",
                    "description": "Force-update existing address latitude/longitude from each payload order.",
                    "default": false
                  },
                  "updateGoodsPrice": {
                    "type": "boolean",
                    "description": "Force-update existing goods prices from each payload order.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/add-vehicle": {
      "post": {
        "operationId": "trackPOD.add-vehicle",
        "summary": "Add Vehicle",
        "description": "Creates a new vehicle in Track-POD.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/add-vehicle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "BaseFare": {
                    "type": "number",
                    "description": "Base fare."
                  },
                  "Carrier": {
                    "type": "string",
                    "description": "Carrier name."
                  },
                  "CarrierCode": {
                    "type": "string",
                    "description": "Carrier code."
                  },
                  "CostPerDistance": {
                    "type": "number",
                    "description": "Cost per distance unit."
                  },
                  "CostPerHour": {
                    "type": "number",
                    "description": "Cost per hour."
                  },
                  "Depot": {
                    "type": "string",
                    "description": "Depot name."
                  },
                  "DepotId": {
                    "type": "string",
                    "description": "Depot identifier."
                  },
                  "DriverId": {
                    "type": "string",
                    "description": "Assigned driver identifier."
                  },
                  "DriverUsername": {
                    "type": "string",
                    "description": "Assigned driver username."
                  },
                  "EmissionCo2": {
                    "type": "number",
                    "description": "CO2 emission value."
                  },
                  "MaxDistance": {
                    "type": "number",
                    "description": "Maximum travel distance."
                  },
                  "MaxNodes": {
                    "type": "number",
                    "description": "Maximum route nodes."
                  },
                  "MaxWorkTime": {
                    "type": "number",
                    "description": "Maximum work time."
                  },
                  "Number": {
                    "type": "string",
                    "description": "Vehicle number."
                  },
                  "Pallets": {
                    "type": "number",
                    "description": "Vehicle pallet capacity."
                  },
                  "SpeedRatio": {
                    "type": "number",
                    "description": "Speed ratio."
                  },
                  "StartTime": {
                    "type": "string",
                    "description": "Vehicle start time."
                  },
                  "VehicleType": {
                    "type": "string",
                    "description": "Vehicle type identifier."
                  },
                  "Volume": {
                    "type": "number",
                    "description": "Vehicle volume capacity."
                  },
                  "Weight": {
                    "type": "number",
                    "description": "Vehicle weight capacity."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/delete-driver-by-id": {
      "delete": {
        "operationId": "trackPOD.delete-driver-by-id",
        "summary": "Delete Driver By Id",
        "description": "Deletes an existing driver from Track-POD by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/delete-driver-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Track-POD driver identifier.",
            "schema": {
              "type": "string",
              "description": "Track-POD driver identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/delete-order-by-id": {
      "delete": {
        "operationId": "trackPOD.delete-order-by-id",
        "summary": "Delete Order By Id",
        "description": "Deletes an existing order from Track-POD by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/delete-order-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Track-POD order identifier.",
            "schema": {
              "type": "string",
              "description": "Track-POD order identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/delete-order-by-number": {
      "delete": {
        "operationId": "trackPOD.delete-order-by-number",
        "summary": "Delete Order By Number",
        "description": "Deletes an existing order from Track-POD by number.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/delete-order-by-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": true,
            "description": "Order number",
            "schema": {
              "type": "string",
              "description": "Order number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/delete-route-by-code": {
      "delete": {
        "operationId": "trackPOD.delete-route-by-code",
        "summary": "Delete Route By Code",
        "description": "Deletes an existing route from Track-POD by code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/delete-route-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "Route code",
            "schema": {
              "type": "string",
              "description": "Route code"
            }
          },
          {
            "name": "deleteOrders",
            "in": "query",
            "required": false,
            "description": "Delete route orders too",
            "schema": {
              "type": "boolean",
              "description": "Delete route orders too",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trackPOD/latest/actions/delete-route-by-id": {
      "delete": {
        "operationId": "trackPOD.delete-route-by-id",
        "summary": "Delete Route By Id",
        "description": "Deletes an existing route from Track-POD by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trackPOD/latest/actions/delete-route-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Track-POD route identifier.",
            "schema": {
              "type": "string",
              "description": "Track-POD route identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Detail": {
                            "type": "string",
                            "description": "A human-readable explanation specific to this response."
                          },
                          "Status": {
                            "type": "number",
                            "description": "The HTTP status code for the response"
                          },
                          "Title": {
                            "type": "string",
                            "description": "A short, human-readable summary of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
[...]
