{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Microsoft 365 Calendar Universal API",
    "version": "0.0.4",
    "description": "Access Microsoft 365 calendar data through Microsoft Graph, including calendars, events, and calendar views for the signed-in user."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/microsoft365Calendar/latest/actions/accept-event": {
      "put": {
        "operationId": "microsoft365Calendar.accept-event",
        "summary": "Accept Event",
        "description": "Accepts an event invitation in Microsoft 365 Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/accept-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "The ID of the Outlook event to accept.",
                    "example": "AAMkAG..."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional comment to include with the accept response.",
                    "example": "Accepted from MindCloud verification"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoft365Calendar/latest/actions/create-event": {
      "post": {
        "operationId": "microsoft365Calendar.create-event",
        "summary": "Create Event",
        "description": "Creates a new event in Microsoft 365 Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subject",
                  "start.dateTime",
                  "end.dateTime"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subject": {
                    "type": "string",
                    "description": "The calendar event subject.",
                    "example": "MindCloud calendar test event"
                  },
                  "start.dateTime": {
                    "type": "string",
                    "description": "Event start date and time in ISO format. Use UTC values such as 2026-03-19T15:00:00.",
                    "example": "2026-03-19T15:00:00"
                  },
                  "end.dateTime": {
                    "type": "string",
                    "description": "Event end date and time in ISO format. Use UTC values such as 2026-03-19T15:30:00.",
                    "example": "2026-03-19T15:30:00"
                  },
                  "location.displayName": {
                    "type": "string",
                    "description": "Optional event location display name.",
                    "example": "MindCloud HQ"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "Plain-text preview of the event body."
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event end date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event end time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Event ID."
                          },
                          "isAllDay": {
                            "type": "boolean",
                            "description": "Whether the event lasts all day."
                          },
                          "isCancelled": {
                            "type": "boolean",
                            "description": "Whether the event is cancelled."
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Event location display name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Organizer email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Organizer display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event start date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event start time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "subject": {
                            "type": "string",
                            "description": "Event subject."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook web URL for the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoft365Calendar/latest/actions/delete-event": {
      "delete": {
        "operationId": "microsoft365Calendar.delete-event",
        "summary": "Delete Event",
        "description": "Deletes an existing event from Microsoft 365 Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/delete-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The ID of the Outlook event to delete.",
            "schema": {
              "type": "string",
              "description": "The ID of the Outlook event to delete.",
              "example": "AAMkAG..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoft365Calendar/latest/actions/get-event": {
      "get": {
        "operationId": "microsoft365Calendar.get-event",
        "summary": "Get Event",
        "description": "Retrieves an event from Microsoft 365 Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The ID of the Outlook event.",
            "schema": {
              "type": "string",
              "description": "The ID of the Outlook event.",
              "example": "AAMkAG..."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "Plain-text preview of the event body."
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event end date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event end time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Event ID."
                          },
                          "isAllDay": {
                            "type": "boolean",
                            "description": "Whether the event lasts all day."
                          },
                          "isCancelled": {
                            "type": "boolean",
                            "description": "Whether the event is cancelled."
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Event location display name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Organizer email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Organizer display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event start date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event start time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "subject": {
                            "type": "string",
                            "description": "Event subject."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook web URL for the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoft365Calendar/latest/actions/list-calendar-view": {
      "get": {
        "operationId": "microsoft365Calendar.list-calendar-view",
        "summary": "List Calendar View",
        "description": "Retrieves events from Microsoft 365 Calendar for a time range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/list-calendar-view"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDateTime",
            "in": "query",
            "required": true,
            "description": "Start of the calendar view window in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "Start of the calendar view window in ISO 8601 format.",
              "example": "2026-03-19T00:00:00Z"
            }
          },
          {
            "name": "endDateTime",
            "in": "query",
            "required": true,
            "description": "End of the calendar view window in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "End of the calendar view window in ISO 8601 format.",
              "example": "2026-03-20T00:00:00Z"
            }
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "Number of events to return in the requested calendar window.",
            "schema": {
              "type": "number",
              "description": "Number of events to return in the requested calendar window.",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "Plain-text preview of the event body."
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event end date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event end time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Event ID."
                          },
                          "isAllDay": {
                            "type": "boolean",
                            "description": "Whether the event lasts all day."
                          },
                          "isCancelled": {
                            "type": "boolean",
                            "description": "Whether the event is cancelled."
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Event location display name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Organizer email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Organizer display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event start date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event start time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "subject": {
                            "type": "string",
                            "description": "Event subject."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook web URL for the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoft365Calendar/latest/actions/list-calendars": {
      "get": {
        "operationId": "microsoft365Calendar.list-calendars",
        "summary": "List Calendars",
        "description": "Retrieves calendars from Microsoft 365 Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/list-calendars"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canEdit": {
                            "type": "boolean",
                            "description": "Whether the signed-in user can edit the calendar."
                          },
                          "canShare": {
                            "type": "boolean",
                            "description": "Whether the signed-in user can share the calendar."
                          },
                          "color": {
                            "type": "string",
                            "description": "Calendar color."
                          },
                          "id": {
                            "type": "string",
                            "description": "Calendar ID."
                          },
                          "isDefaultCalendar": {
                            "type": "boolean",
                            "description": "Whether this is the default calendar."
                          },
                          "isRemovable": {
                            "type": "boolean",
                            "description": "Whether the calendar can be removed."
                          },
                          "name": {
                            "type": "string",
                            "description": "Calendar display name."
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Calendar owner email address."
                              },
                              "name": {
                                "type": "string",
                                "description": "Calendar owner display name."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoft365Calendar/latest/actions/list-events": {
      "get": {
        "operationId": "microsoft365Calendar.list-events",
        "summary": "List Events",
        "description": "Retrieves events from Microsoft 365 Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/list-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "description": "Number of events to return.",
            "schema": {
              "type": "number",
              "description": "Number of events to return.",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "Plain-text preview of the event body."
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event end date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event end time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Event ID."
                          },
                          "isAllDay": {
                            "type": "boolean",
                            "description": "Whether the event lasts all day."
                          },
                          "isCancelled": {
                            "type": "boolean",
                            "description": "Whether the event is cancelled."
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Event location display name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Organizer email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Organizer display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event start date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event start time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "subject": {
                            "type": "string",
                            "description": "Event subject."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook web URL for the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoft365Calendar/latest/actions/update-event": {
      "put": {
        "operationId": "microsoft365Calendar.update-event",
        "summary": "Update Event",
        "description": "Updates an existing event in Microsoft 365 Calendar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoft365Calendar/latest/actions/update-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "The ID of the Outlook event to update.",
                    "example": "AAMkAG..."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Updated subject for the Outlook event.",
                    "example": "Updated MindCloud calendar test event"
                  },
                  "start.dateTime": {
                    "type": "string",
                    "description": "Optional updated event start date and time.",
                    "example": "2026-04-14T15:00:00"
                  },
                  "end.dateTime": {
                    "type": "string",
                    "description": "Optional updated event end date and time.",
                    "example": "2026-04-14T15:30:00"
                  },
                  "start.timeZone": {
                    "type": "string",
                    "description": "Optional updated event start time zone. Provide this when changing the start date/time.",
                    "example": "UTC",
                    "x-mindcloud-advanced": true
                  },
                  "end.timeZone": {
                    "type": "string",
                    "description": "Optional updated event end time zone. Provide this when changing the end date/time.",
                    "example": "UTC",
                    "x-mindcloud-advanced": true
                  },
                  "location.displayName": {
                    "type": "string",
                    "description": "Optional updated event location display name.",
                    "example": "Conference Room"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bodyPreview": {
                            "type": "string",
                            "description": "Plain-text preview of the event body."
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event end date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event end time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Event ID."
                          },
                          "isAllDay": {
                            "type": "boolean",
                            "description": "Whether the event lasts all day."
                          },
                          "isCancelled": {
                            "type": "boolean",
                            "description": "Whether the event is cancelled."
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Event location display name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Organizer email address."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Organizer display name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "dateTime": {
                                "type": "string",
                                "description": "Event start date and time."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "Event start time zone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "subject": {
                            "type": "string",
                            "description": "Event subject."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Outlook web URL for the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
