{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Department of Agriculture Universal API",
    "version": "0.0.3",
    "description": "Access USDA Economic Research Service Agricultural Resource Management Survey data, including states, years, reports, variables, farm types, categories, and survey result records."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/departmentOfAgriculture/latest/actions/get-arms-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-arms-survey-data",
        "summary": "Get ARMS Survey Data",
        "description": "Retrieves ARMS survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-arms-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "report",
            "in": "query",
            "required": true,
            "description": "ARMS report number or report name.",
            "schema": {
              "type": "string",
              "description": "ARMS report number or report name."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "ARMS variable abbreviation such as `kount`.",
            "schema": {
              "type": "string",
              "description": "ARMS variable abbreviation such as `kount`."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State code/name; provider defaults to all survey states.",
            "schema": {
              "type": "string",
              "description": "State code/name; provider defaults to all survey states."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Farm type filter; provider defaults to All Farms.",
            "schema": {
              "type": "string",
              "description": "Farm type filter; provider defaults to All Farms."
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Primary ARMS category abbreviation or name.",
            "schema": {
              "type": "string",
              "description": "Primary ARMS category abbreviation or name."
            }
          },
          {
            "name": "categoryValue",
            "in": "query",
            "required": false,
            "description": "Primary category value; provider defaults to Total when category is used.",
            "schema": {
              "type": "string",
              "description": "Primary category value; provider defaults to Total when category is used."
            }
          },
          {
            "name": "category2",
            "in": "query",
            "required": false,
            "description": "Secondary ARMS category abbreviation or name.",
            "schema": {
              "type": "string",
              "description": "Secondary ARMS category abbreviation or name."
            }
          },
          {
            "name": "category2Value",
            "in": "query",
            "required": false,
            "description": "Secondary category value; provider defaults to Total when category2 is used.",
            "schema": {
              "type": "string",
              "description": "Secondary category value; provider defaults to Total when category2 is used."
            }
          },
          {
            "name": "subReport",
            "in": "query",
            "required": false,
            "description": "Optional ARMS sub-report ID.",
            "schema": {
              "type": "number",
              "description": "Optional ARMS sub-report ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "Primary category."
                          },
                          "category2": {
                            "type": "string",
                            "description": "Secondary category."
                          },
                          "category2Value": {
                            "type": "string",
                            "description": "Secondary category value."
                          },
                          "categoryValue": {
                            "type": "string",
                            "description": "Primary category value."
                          },
                          "dec_Disp": {
                            "type": "number",
                            "description": "Decimal display precision."
                          },
                          "estimate": {
                            "type": "number",
                            "description": "Estimated value."
                          },
                          "farmType": {
                            "type": "string",
                            "description": "Farm type."
                          },
                          "fips_St": {
                            "type": "string",
                            "description": "State FIPS code."
                          },
                          "median": {
                            "type": "number",
                            "description": "Median value, when supplied."
                          },
                          "report_Num": {
                            "type": "number",
                            "description": "Report number."
                          },
                          "reportName": {
                            "type": "string",
                            "description": "Report name."
                          },
                          "rse": {
                            "type": "number",
                            "description": "Relative standard error."
                          },
                          "stat_Year": {
                            "type": "number",
                            "description": "Survey year."
                          },
                          "stateName": {
                            "type": "string",
                            "description": "State name."
                          },
                          "statistic": {
                            "type": "string",
                            "description": "Statistic label."
                          },
                          "unreliable_Est": {
                            "type": "number",
                            "description": "Provider unreliable-estimate flag."
                          },
                          "variableId": {
                            "type": "string",
                            "description": "Variable abbreviation."
                          },
                          "variableName": {
                            "type": "string",
                            "description": "Variable display name."
                          },
                          "variableUnit": {
                            "type": "string",
                            "description": "Variable unit."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-arms-survey-data-by-report": {
      "get": {
        "operationId": "departmentOfAgriculture.get-arms-survey-data-by-report",
        "summary": "Get ARMS Survey Data by Report",
        "description": "Retrieves ARMS survey data by report from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-arms-survey-data-by-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "report",
            "in": "query",
            "required": true,
            "description": "ARMS report number or report name.",
            "schema": {
              "type": "string",
              "description": "ARMS report number or report name."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation such as `kount`.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation such as `kount`."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state code/name; provider defaults to all survey states.",
            "schema": {
              "type": "string",
              "description": "Optional state code/name; provider defaults to all survey states."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Optional primary category.",
            "schema": {
              "type": "string",
              "description": "Optional primary category."
            }
          },
          {
            "name": "categoryValue",
            "in": "query",
            "required": false,
            "description": "Optional primary category value.",
            "schema": {
              "type": "string",
              "description": "Optional primary category value."
            }
          },
          {
            "name": "category2",
            "in": "query",
            "required": false,
            "description": "Optional secondary category.",
            "schema": {
              "type": "string",
              "description": "Optional secondary category."
            }
          },
          {
            "name": "category2Value",
            "in": "query",
            "required": false,
            "description": "Optional secondary category value.",
            "schema": {
              "type": "string",
              "description": "Optional secondary category value."
            }
          },
          {
            "name": "subReport",
            "in": "query",
            "required": false,
            "description": "Optional ARMS sub-report ID.",
            "schema": {
              "type": "number",
              "description": "Optional ARMS sub-report ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "Primary category."
                          },
                          "category2": {
                            "type": "string",
                            "description": "Secondary category."
                          },
                          "category2Value": {
                            "type": "string",
                            "description": "Secondary category value."
                          },
                          "categoryValue": {
                            "type": "string",
                            "description": "Primary category value."
                          },
                          "dec_Disp": {
                            "type": "number",
                            "description": "Decimal display precision."
                          },
                          "estimate": {
                            "type": "number",
                            "description": "Estimated value."
                          },
                          "farmType": {
                            "type": "string",
                            "description": "Farm type."
                          },
                          "fips_St": {
                            "type": "string",
                            "description": "State FIPS code."
                          },
                          "median": {
                            "type": "number",
                            "description": "Median value, when supplied."
                          },
                          "report_Num": {
                            "type": "number",
                            "description": "Report number."
                          },
                          "reportName": {
                            "type": "string",
                            "description": "Report name."
                          },
                          "rse": {
                            "type": "number",
                            "description": "Relative standard error."
                          },
                          "stat_Year": {
                            "type": "number",
                            "description": "Survey year."
                          },
                          "stateName": {
                            "type": "string",
                            "description": "State name."
                          },
                          "statistic": {
                            "type": "string",
                            "description": "Statistic label."
                          },
                          "unreliable_Est": {
                            "type": "number",
                            "description": "Provider unreliable-estimate flag."
                          },
                          "variableId": {
                            "type": "string",
                            "description": "Variable abbreviation."
                          },
                          "variableName": {
                            "type": "string",
                            "description": "Variable display name."
                          },
                          "variableUnit": {
                            "type": "string",
                            "description": "Variable unit."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-farm-business-balance-sheet-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-farm-business-balance-sheet-survey-data",
        "summary": "Get Farm Business Balance Sheet Survey Data",
        "description": "Retrieves Farm Business Balance Sheet survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-farm-business-balance-sheet-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-farm-business-debt-repayment-capacity-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-farm-business-debt-repayment-capacity-survey-data",
        "summary": "Get Farm Business Debt Repayment Capacity Survey Data",
        "description": "Retrieves Farm Business Debt Repayment Capacity survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-farm-business-debt-repayment-capacity-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-farm-business-financial-ratios-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-farm-business-financial-ratios-survey-data",
        "summary": "Get Farm Business Financial Ratios Survey Data",
        "description": "Retrieves Farm Business Financial Ratios survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-farm-business-financial-ratios-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-farm-business-income-statement-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-farm-business-income-statement-survey-data",
        "summary": "Get Farm Business Income Statement Survey Data",
        "description": "Retrieves Farm Business Income Statement survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-farm-business-income-statement-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-government-payments-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-government-payments-survey-data",
        "summary": "Get Government Payments Survey Data",
        "description": "Retrieves Government Payments survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-government-payments-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-operator-household-balance-sheet-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-operator-household-balance-sheet-survey-data",
        "summary": "Get Operator Household Balance Sheet Survey Data",
        "description": "Retrieves Operator Household Balance Sheet survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-operator-household-balance-sheet-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-operator-household-income-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-operator-household-income-survey-data",
        "summary": "Get Operator Household Income Survey Data",
        "description": "Retrieves Operator Household Income survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-operator-household-income-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/get-structural-characteristics-survey-data": {
      "get": {
        "operationId": "departmentOfAgriculture.get-structural-characteristics-survey-data",
        "summary": "Get Structural Characteristics Survey Data",
        "description": "Retrieves Structural Characteristics survey data from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/get-structural-characteristics-survey-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "ARMS survey year.",
            "schema": {
              "type": "number",
              "description": "ARMS survey year."
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "description": "Optional ARMS variable abbreviation.",
            "schema": {
              "type": "string",
              "description": "Optional ARMS variable abbreviation."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional state filter.",
            "schema": {
              "type": "string",
              "description": "Optional state filter."
            }
          },
          {
            "name": "farmType",
            "in": "query",
            "required": false,
            "description": "Optional farm type filter.",
            "schema": {
              "type": "string",
              "description": "Optional farm type filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "categoryValue": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "number"
                          },
                          "farmType": {
                            "type": "string"
                          },
                          "fips_St": {
                            "type": "string"
                          },
                          "median": {
                            "type": "number"
                          },
                          "report_Num": {
                            "type": "number"
                          },
                          "reportName": {
                            "type": "string"
                          },
                          "rse": {
                            "type": "number"
                          },
                          "stat_Year": {
                            "type": "number"
                          },
                          "stateName": {
                            "type": "string"
                          },
                          "statistic": {
                            "type": "string"
                          },
                          "variableId": {
                            "type": "string"
                          },
                          "variableName": {
                            "type": "string"
                          },
                          "variableUnit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/departmentOfAgriculture/latest/actions/list-arms-categories": {
      "get": {
        "operationId": "departmentOfAgriculture.list-arms-categories",
        "summary": "List ARMS Categories",
        "description": "Retrieves ARMS categories from Department of Agriculture.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/departmentOfAgriculture/latest/actions/list-arms-categories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abb": {
                            "type": "string",
                            "description": "Category abbreviation."
                          },
                          "desc": {
                            "type": "string",
                            "description": "Category description."
                          },
                          "element_Dim": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available values for the category."
                          },
                          "header": {
                            "type": "string",
                            "description": "Category name."
                          },
                          "seq": {
                            "type": "number",
                            "description": "Category sequence."
                          },
                          "terms": {
                            "type": "string",
                            "description": "Provider search terms."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
[...]
