{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Form.taxi Universal API",
    "version": "0.0.5",
    "description": "Read form submissions with API-key auth and create new Form.taxi form endpoints without prior authentication."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/formtaxi/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/formtaxi/latest/actions/create-endpoint": {
      "post": {
        "operationId": "formtaxi.create-endpoint",
        "summary": "Create Endpoint",
        "description": "Creates a new endpoint in Form.taxi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formtaxi/latest/actions/create-endpoint"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "formName",
                  "language"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address used as the destination for form submissions and as the username for the new account.",
                    "example": "user@example.com"
                  },
                  "formName": {
                    "type": "string",
                    "description": "Name of the form to create.",
                    "example": "Contact Form"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language for the account and email notifications.",
                    "example": "en"
                  },
                  "websiteUrl": {
                    "type": "string",
                    "description": "Website where the form will be used.",
                    "example": "https://example.com",
                    "x-mindcloud-advanced": true
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA time zone identifier for the account.",
                    "example": "Europe/Vienna",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endpoint_url": {
                            "type": "string",
                            "description": "The created Form.taxi endpoint URL."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the endpoint creation succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formtaxi/latest/actions/list-form-submissions": {
      "get": {
        "operationId": "formtaxi.list-form-submissions",
        "summary": "List Form Submissions",
        "description": "Retrieves form submissions from Form.taxi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formtaxi/latest/actions/list-form-submissions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formCode",
            "in": "query",
            "required": true,
            "description": "The unique code of the form. Form.taxi shows it in the form settings.",
            "schema": {
              "type": "string",
              "description": "The unique code of the form. Form.taxi shows it in the form settings."
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return only submissions created on or after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "description": "Return only submissions created on or after this ISO 8601 timestamp."
            }
          },
          {
            "name": "spam",
            "in": "query",
            "required": false,
            "description": "Include submissions from the spam folder when set to true.",
            "schema": {
              "type": "boolean",
              "description": "Include submissions from the spam folder when set to true."
            }
          },
          {
            "name": "attachments",
            "in": "query",
            "required": false,
            "description": "Set to false to exclude file attachments from the response.",
            "schema": {
              "type": "boolean",
              "description": "Set to false to exclude file attachments from the response."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_box": {
                            "type": "string",
                            "description": "Folder where the submission is stored."
                          },
                          "_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time of the submission."
                          },
                          "_id": {
                            "type": "string",
                            "description": "Unique ID of the submission."
                          },
                          "_url": {
                            "type": "string",
                            "description": "Direct URL of the submission in the Form.taxi panel."
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "File attachments included with the submission."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Form field values as key-value pairs."
                          },
                          "fields_summary": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "string",
                                "description": "HTML summary of submitted fields."
                              },
                              "markdown": {
                                "type": "string",
                                "description": "Markdown summary of submitted fields."
                              },
                              "text": {
                                "type": "string",
                                "description": "Plain-text summary of submitted fields."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
