{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "httpSMS Universal API",
    "version": "0.0.8",
    "description": "Send, receive, and automate SMS with Android phones"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/httpSMS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/httpSMS/latest/actions/list-messages": {
      "get": {
        "operationId": "httpSMS.list-messages",
        "summary": "List Messages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/httpSMS/latest/actions/list-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "description": "The owner's phone number.",
            "schema": {
              "type": "string",
              "description": "The owner's phone number."
            }
          },
          {
            "name": "contact",
            "in": "query",
            "required": true,
            "description": "The contact's phone number.",
            "schema": {
              "type": "string",
              "description": "The contact's phone number."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter messages containing this query.",
            "schema": {
              "type": "string",
              "description": "Filter messages containing this query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of messages to return.",
            "schema": {
              "type": "number",
              "description": "Number of messages to return."
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of messages to skip.",
            "schema": {
              "type": "number",
              "description": "Number of messages to skip."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Attachment URLs sent with the message."
                          },
                          "contact": {
                            "type": "string",
                            "description": "The contact phone number for the message thread."
                          },
                          "content": {
                            "type": "string",
                            "description": "The SMS or MMS message content."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message record was created."
                          },
                          "deliveredAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was delivered to the recipient."
                          },
                          "encrypted": {
                            "type": "boolean",
                            "description": "Whether the message content is end-to-end encrypted."
                          },
                          "expiredAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message expired before sending."
                          },
                          "failedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message send failed."
                          },
                          "failureReason": {
                            "type": "string",
                            "description": "The provider failure reason when the message did not send."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique message ID."
                          },
                          "lastAttemptedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the system last attempted to send the message."
                          },
                          "maxSendAttempts": {
                            "type": "number",
                            "description": "The maximum number of send attempts allowed."
                          },
                          "orderTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The ordering timestamp used for message sorting."
                          },
                          "owner": {
                            "type": "string",
                            "description": "The owner phone number used for the message."
                          },
                          "receivedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the device received the message."
                          },
                          "requestId": {
                            "type": "string",
                            "description": "The client-supplied request ID, when provided."
                          },
                          "requestReceivedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the API request was received by httpSMS."
                          },
                          "scheduledAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message was scheduled."
                          },
                          "scheduledSendTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The scheduled send time in the profile timezone."
                          },
                          "sendAttemptCount": {
                            "type": "number",
                            "description": "How many send attempts have been made."
                          },
                          "sendTime": {
                            "type": "number",
                            "description": "The send duration in nanoseconds."
                          },
                          "sentAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the phone sent the message."
                          },
                          "sim": {
                            "type": "string",
                            "description": "The SIM slot used to send the message."
                          },
                          "status": {
                            "type": "string",
                            "description": "The current message status."
                          },
                          "type": {
                            "type": "string",
                            "description": "The message type."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the message record was last updated."
                          },
                          "userId": {
                            "type": "string",
                            "description": "The owning user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
