{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Productive.io Universal API",
    "version": "0.0.9",
    "description": "Manage projects, people, time tracking, deals, budgets, and financial operations in Productive."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/productiveio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/productiveio/latest/actions/get-booking": {
      "get": {
        "operationId": "productiveio.get-booking",
        "summary": "Get Booking",
        "description": "Retrieves a booking from your Productive.io account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/productiveio/latest/actions/get-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Productive resource ID.",
            "schema": {
              "type": "string",
              "description": "The Productive resource ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "approved": {
                                "type": "boolean"
                              },
                              "approvedAt": {
                                "type": "string"
                              },
                              "autotracking": {
                                "type": "boolean"
                              },
                              "bookingMethodId": {
                                "type": "number"
                              },
                              "canceled": {
                                "type": "boolean"
                              },
                              "canceledAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "string"
                              },
                              "draft": {
                                "type": "boolean"
                              },
                              "endedOn": {
                                "type": "string"
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "hours": {
                                "type": "number"
                              },
                              "lastActivityAt": {
                                "type": "string"
                              },
                              "note": {
                                "type": "string"
                              },
                              "peopleCustomFields": {
                                "type": "string"
                              },
                              "percentage": {
                                "type": "number"
                              },
                              "rejected": {
                                "type": "boolean"
                              },
                              "rejectedAt": {
                                "type": "string"
                              },
                              "rejectedReason": {
                                "type": "string"
                              },
                              "stageType": {
                                "type": "number"
                              },
                              "startedOn": {
                                "type": "string"
                              },
                              "time": {
                                "type": "number"
                              },
                              "totalTime": {
                                "type": "number"
                              },
                              "totalWorkingDays": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "approvalStatuses": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "approver": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "attachments": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "canceler": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "creator": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customFieldAttachments": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customFieldPeople": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "event": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "organization": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "origin": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "person": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "rejecter": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "service": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "updater": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/productiveio/latest/actions/get-company": {
      "get": {
        "operationId": "productiveio.get-company",
        "summary": "Get Company",
        "description": "Retrieves a company from your Productive.io account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/productiveio/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Productive resource ID.",
            "schema": {
              "type": "string",
              "description": "The Productive resource ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archivedAt": {
                                "type": "string"
                              },
                              "avatarUrl": {
                                "type": "string"
                              },
                              "billingName": {
                                "type": "string"
                              },
                              "companyCode": {
                                "type": "string"
                              },
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "addresses": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "phones": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "websites": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "string"
                              },
                              "defaultCurrency": {
                                "type": "string"
                              },
                              "defaultDocumentTypeId": {
                                "type": "string"
                              },
                              "defaultSubsidiaryId": {
                                "type": "string"
                              },
                              "defaultTaxRateId": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "dueDays": {
                                "type": "number"
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "externalSync": {
                                "type": "boolean"
                              },
                              "lastActivityAt": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "originalAvatarUrl": {
                                "type": "string"
                              },
                              "parentCompanyId": {
                                "type": "string"
                              },
                              "projectlessBudgets": {
                                "type": "boolean"
                              },
                              "sampleData": {
                                "type": "boolean"
                              },
                              "tagList": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "vat": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "customFieldAttachments": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customFieldPeople": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "defaultSubsidiary": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "defaultTaxRate": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "einvoiceIdentity": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "integrationExporterConfiguration": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "organization": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "parentCompany": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/productiveio/latest/actions/get-contact-entry": {
      "get": {
        "operationId": "productiveio.get-contact-entry",
        "summary": "Get Contact Entry",
        "description": "Retrieves a contact entry from your Productive.io account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/productiveio/latest/actions/get-contact-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Productive resource ID.",
            "schema": {
              "type": "string",
              "description": "The Productive resource ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "billingAddress": {
                                "type": "string"
                              },
                              "billingEmail": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "contactableType": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "vat": {
                                "type": "string"
                              },
                              "website": {
                                "type": "string"
                              },
                              "zipcode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "company": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "invoice": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "invoiceTemplate": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "organization": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "person": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "purchaseOrder": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "subsidiary": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/productiveio/latest/actions/get-contract": {
      "get": {
        "operationId": "productiveio.get-contract",
        "summary": "Get Contract",
        "description": "Retrieves a contract from your Productive.io account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/productiveio/latest/actions/get-contract"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Productive resource ID.",
            "schema": {
              "type": "string",
              "description": "The Productive resource ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/productiveio/latest/actions/get-deal": {
      "get": {
        "operationId": "productiveio.get-deal",
        "summary": "Get Deal",
        "description": "Retrieves a deal from your Productive.io account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/productiveio/latest/actions/get-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Productive resource ID.",
            "schema": {
              "type": "string",
              "description": "The Productive resource ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "accessToDeal": {
                                "type": "boolean"
                              },
                              "amountCredited": {
                                "type": "number"
                              },
                              "amountCreditedDefault": {
                                "type": "number"
                              },
                              "amountCreditedNormalized": {
                                "type": "number"
                              },
                              "billableTime": {
                                "type": "number"
                              },
                              "budget": {
                                "type": "boolean"
                              },
                              "budgetedTime": {
                                "type": "number"
                              },
                              "budgetTotal": {
                                "type": "number"
                              },
                              "budgetTotalDefault": {
                                "type": "number"
                              },
                              "budgetTotalNormalized": {
                                "type": "number"
                              },
                              "budgetUsed": {
                                "type": "number"
                              },
                              "budgetUsedDefault": {
                                "type": "number"
                              },
                              "budgetUsedNormalized": {
                                "type": "number"
                              },
                              "budgetWarning": {
                                "type": "string"
                              },
                              "clientAccess": {
                                "type": "boolean"
                              },
                              "closedAt": {
                                "type": "string"
                              },
                              "colorId": {
                                "type": "string"
                              },
                              "cost": {
                                "type": "number"
                              },
                              "costDefault": {
                                "type": "number"
                              },
                              "costNormalized": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "currencyDefault": {
                                "type": "string"
                              },
                              "currencyNormalized": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              },
                              "daysInCurrentStage": {
                                "type": "number"
                              },
                              "daysSinceCreated": {
                                "type": "number"
                              },
                              "daysSinceLastActivity": {
                                "type": "number"
                              },
                              "dealNumber": {
                                "type": "string"
                              },
                              "dealTypeId": {
                                "type": "number"
                              },
                              "deletedAt": {
                                "type": "string"
                              },
                              "deliveredOn": {
                                "type": "string"
                              },
                              "discount": {
                                "type": "string"
                              },
                              "draftInvoiced": {
                                "type": "number"
                              },
                              "draftInvoicedDefault": {
                                "type": "number"
                              },
                              "draftInvoicedNormalized": {
                                "type": "number"
                              },
                              "editorConfig": {
                                "type": "string"
                              },
                              "emailKey": {
                                "type": "string"
                              },
                              "endDate": {
                                "type": "string"
                              },
                              "estimatedTime": {
                                "type": "number"
                              },
                              "exchangeDate": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "string"
                              },
                              "expense": {
                                "type": "number"
                              },
                              "expenseApproval": {
                                "type": "boolean"
                              },
                              "expenseDefault": {
                                "type": "number"
                              },
                              "expenseNormalized": {
                                "type": "number"
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "externalSync": {
                                "type": "boolean"
                              },
                              "footer": {
                                "type": "string"
                              },
                              "footerInterpolated": {
                                "type": "string"
                              },
                              "invoiced": {
                                "type": "number"
                              },
                              "invoicedDefault": {
                                "type": "number"
                              },
                              "invoicedNormalized": {
                                "type": "number"
                              },
                              "lastActivityAt": {
                                "type": "string"
                              },
                              "lostComment": {
                                "type": "string"
                              },
                              "manDayMinutes": {
                                "type": "number"
                              },
                              "manualInvoicingStatusId": {
                                "type": "number"
                              },
                              "manuallyInvoiced": {
                                "type": "number"
                              },
                              "manuallyInvoicedDefault": {
                                "type": "number"
                              },
                              "manuallyInvoicedNormalized": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "note": {
                                "type": "string"
                              },
                              "noteInterpolated": {
                                "type": "string"
                              },
                              "number": {
                                "type": "string"
                              },
                              "originDealId": {
                                "type": "string"
                              },
                              "pendingInvoicing": {
                                "type": "number"
                              },
                              "pendingInvoicingDefault": {
                                "type": "number"
                              },
                              "pendingInvoicingNormalized": {
                                "type": "number"
                              },
                              "position": {
                                "type": "number"
                              },
                              "previousProbability": {
                                "type": "string"
                              },
                              "probability": {
                                "type": "number"
                              },
                              "profit": {
                                "type": "number"
                              },
                              "profitDefault": {
                                "type": "number"
                              },
                              "profitMargin": {
                                "type": "string"
                              },
                              "profitMarginDefault": {
                                "type": "string"
                              },
                              "profitMarginNormalized": {
                                "type": "string"
                              },
                              "profitNormalized": {
                                "type": "number"
                              },
                              "projectedRevenue": {
                                "type": "number"
                              },
                              "projectedRevenueDefault": {
                                "type": "number"
                              },
                              "projectedRevenueNormalized": {
                                "type": "number"
                              },
                              "proposalFooter": {
                                "type": "string"
                              },
                              "proposalFooterInterpolated": {
                                "type": "string"
                              },
                              "proposalNote": {
                                "type": "string"
                              },
                              "proposalNoteInterpolated": {
                                "type": "string"
                              },
                              "purchaseOrderNumber": {
                                "type": "string"
                              },
                              "revenue": {
                                "type": "number"
                              },
                              "revenueDefault": {
                                "type": "number"
                              },
                              "revenueDistributionMethod": {
                                "type": "string"
                              },
                              "revenueDistributionType": {
                                "type": "string"
                              },
                              "revenueNormalized": {
                                "type": "number"
                              },
                              "roundingIntervalId": {
                                "type": "string"
                              },
                              "roundingMethodId": {
                                "type": "number"
                              },
                              "salesClosedAt": {
                                "type": "string"
                              },
                              "salesClosedOn": {
                                "type": "string"
                              },
                              "salesStatusUpdatedAt": {
                                "type": "string"
                              },
                              "sampleData": {
                                "type": "boolean"
                              },
                              "servicesRevenue": {
                                "type": "number"
                              },
                              "servicesRevenueDefault": {
                                "type": "number"
                              },
                              "servicesRevenueNormalized": {
                                "type": "number"
                              },
                              "serviceTypeRestrictedTracking": {
                                "type": "boolean"
                              },
                              "suffix": {
                                "type": "string"
                              },
                              "tagList": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "timeApproval": {
                                "type": "boolean"
                              },
                              "timeToClose": {
                                "type": "string"
                              },
                              "todoCount": {
                                "type": "number"
                              },
                              "todoDueDate": {
                                "type": "string"
                              },
                              "trackingTypeId": {
                                "type": "number"
                              },
                              "validateExpenseWhenClosing": {
                                "type": "boolean"
                              },
                              "workedTime": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "approvalPolicyAssignment": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "automaticInvoicingRule": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "company": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "contract": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "creator": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customFieldAttachments": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customFieldPeople": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dealStatus": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "documentType": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "expenseApprovalWorkflow": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "invoiceTemplate": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "lostReason": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "nextTodo": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "organization": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "originDeal": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pipeline": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "project": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "proposalDocumentType": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "responsible": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "subsidiary": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "taxRate": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "template": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "timeApprovalWorkflow": {
                                "type": "object",
                                "properties": {
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "included": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/productiveio/latest/actions/get-expense": {
      "get": {
        "operationId": "productiveio.get-expense",
        "summary": "Get Expense",
        "description": "Retrieves an expense from your Productive.io account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/productiveio/latest/actions/get-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Productive resource ID.",
            "schema": {
              "type": "string",
              "description": "The Productive resource ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "amountDefault": {
                                "type": "number"
                              },
                              "amountNormalized": {
                                "type": "number"
                              },
                              "amountWithTax": {
                                "type": "number"
                              },
                              "amountWithTaxDefault": {
                                "type": "number"
                              },
                              "amountWithTaxNormalized": {
                                "type": "number"
                              },
                              "approved": {
                                "type": "boolean"
                              },
                              "approvedAt": {
                                "type": "string"
                              },
                              "billableAmount": {
                                "type": "number"
                              },
                              "billableAmountDefault": {
                                "type": "number"
                              },
                              "billableAmountNormalized": {
                                "type": "number"
                              },
                              "companyReferenceId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "currencyDefault": {
                                "type": "string"
                              },
                              "currencyNormalized": {
                                "type": "string"
                              },
                              "customFields": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "string"
                              },
                              "draft": {
                                "type": "boolean"
                              },
                              "exchangeDate": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "string"
                              },
                              "exchangeRateNormalized": {
                                "type": "string"
[...]
