{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Google Maps Universal API",
    "version": "0.0.9",
    "description": "Call Google Maps actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/googleMaps/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/googleMaps/latest/actions/geocode-address": {
      "get": {
        "operationId": "googleMaps.geocode-address",
        "summary": "Geocode Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleMaps/latest/actions/geocode-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addressComponents": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "longName": {
                                        "type": "string"
                                      },
                                      "shortName": {
                                        "type": "string"
                                      },
                                      "types": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "formattedAddress": {
                                  "type": "string"
                                },
                                "geometry": {
                                  "type": "object",
                                  "properties": {
                                    "bounds": {
                                      "type": "object",
                                      "properties": {
                                        "northeast": {
                                          "type": "object",
                                          "properties": {
                                            "lat": {
                                              "type": "number"
                                            },
                                            "lng": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "southwest": {
                                          "type": "object",
                                          "properties": {
                                            "lat": {
                                              "type": "number"
                                            },
                                            "lng": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "location": {
                                      "type": "object",
                                      "properties": {
                                        "lat": {
                                          "type": "number"
                                        },
                                        "lng": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "locationType": {
                                      "type": "string"
                                    },
                                    "viewport": {
                                      "type": "object",
                                      "properties": {
                                        "northeast": {
                                          "type": "object",
                                          "properties": {
                                            "lat": {
                                              "type": "number"
                                            },
                                            "lng": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "southwest": {
                                          "type": "object",
                                          "properties": {
                                            "lat": {
                                              "type": "number"
                                            },
                                            "lng": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "navigationPoints": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "location": {
                                        "type": "object",
                                        "properties": {
                                          "latitude": {
                                            "type": "number"
                                          },
                                          "longitude": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "placeId": {
                                  "type": "string"
                                },
                                "types": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleMaps/latest/actions/get-route-matrix": {
      "get": {
        "operationId": "googleMaps.get-route-matrix",
        "summary": "Get Route Matrix",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleMaps/latest/actions/get-route-matrix"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinations[].longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "destinations[].latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "origins[].latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "origins[].routeModifiers.avoidTolls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "origins[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "origins[].longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "origins[].routeModifiers.avoidHighways",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "destinations[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "origins[].routeModifiers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "origins[].routeModifiers.avoidFerries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "origins[].routeModifiers.avoidIndoor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "routingPreference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "travelMode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "condition": {
                            "type": "string"
                          },
                          "destinationIndex": {
                            "type": "number"
                          },
                          "distanceMeters": {
                            "type": "number"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "originIndex": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleMaps/latest/actions/validate-address": {
      "post": {
        "operationId": "googleMaps.validate-address",
        "summary": "Validate Address",
        "description": "Validates an Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleMaps/latest/actions/validate-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address.regionCode": {
                    "type": "string",
                    "description": "Optional, but helpful for a complete validation. i.e. `CA` for Canada."
                  },
                  "address.addressLines": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Required. Unstructured address lines describing the lower levels of an address.\n\nBecause values in addressLines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address.\n\nThe minimum permitted structural representation of an address consists of all information placed in the addressLines. If a regionCode is not provided, the region is inferred from the address lines.\n\nCreating an address only containing addressLines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseId": {
                            "type": "string"
                          },
                          "result": {
                            "type": "object",
                            "properties": {
                              "verdict": {
                                "type": "object",
                                "properties": {
                                  "inputGranularity": {
                                    "type": "string"
                                  },
                                  "validationGranularity": {
                                    "type": "string"
                                  },
                                  "geocodeGranularity": {
                                    "type": "string"
                                  },
                                  "addressComplete": {
                                    "type": "boolean"
                                  },
                                  "hasInferredComponents": {
                                    "type": "boolean"
                                  },
                                  "possibleNextAction": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "formattedAddress": {
                                    "type": "string"
                                  },
                                  "postalAddress": {
                                    "type": "object",
                                    "properties": {
                                      "regionCode": {
                                        "type": "string"
                                      },
                                      "languageCode": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "string"
                                      },
                                      "administrativeArea": {
                                        "type": "string"
                                      },
                                      "locality": {
                                        "type": "string"
                                      },
                                      "addressLines": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "addressComponents": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "componentName": {
                                          "type": "object",
                                          "properties": {
                                            "text": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "componentType": {
                                          "type": "string"
                                        },
                                        "confirmationLevel": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "geocode": {
                                "type": "object",
                                "properties": {
                                  "location": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number"
                                      },
                                      "longitude": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plusCode": {
                                    "type": "object",
                                    "properties": {
                                      "globalCode": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "bounds": {
                                    "type": "object",
                                    "properties": {
                                      "low": {
                                        "type": "object",
                                        "properties": {
                                          "latitude": {
                                            "type": "number"
                                          },
                                          "longitude": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "high": {
                                        "type": "object",
                                        "properties": {
                                          "latitude": {
                                            "type": "number"
                                          },
                                          "longitude": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "placeId": {
                                    "type": "string"
                                  },
                                  "placeTypes": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
