{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TgBooster Universal API",
    "version": "0.0.2",
    "description": "Manage Telegram Ads cabinets, campaigns, and reports"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tgBooster/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tgBooster/latest/actions/get-reports": {
      "get": {
        "operationId": "tgBooster.get-reports",
        "summary": "Get Reports",
        "description": "Retrieves custom campaign reports from a TgBooster cabinet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tgBooster/latest/actions/get-reports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cabinetId",
            "in": "query",
            "required": true,
            "description": "Cabinet ID returned by List Cabinets.",
            "schema": {
              "type": "number",
              "description": "Cabinet ID returned by List Cabinets.",
              "example": 242
            }
          },
          {
            "name": "groups[date][day]",
            "in": "query",
            "required": false,
            "description": "Group report rows by day.",
            "schema": {
              "type": "boolean",
              "description": "Group report rows by day.",
              "default": true
            }
          },
          {
            "name": "groups[date][week]",
            "in": "query",
            "required": false,
            "description": "Group report rows by week.",
            "schema": {
              "type": "boolean",
              "description": "Group report rows by week.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "groups[ads][company]",
            "in": "query",
            "required": false,
            "description": "Group report rows by campaign.",
            "schema": {
              "type": "boolean",
              "description": "Group report rows by campaign."
            }
          },
          {
            "name": "groups[ads][ad]",
            "in": "query",
            "required": false,
            "description": "Group report rows by ad.",
            "schema": {
              "type": "boolean",
              "description": "Group report rows by ad.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "groups[ads][adUrl]",
            "in": "query",
            "required": false,
            "description": "Group report rows by ad URL.",
            "schema": {
              "type": "boolean",
              "description": "Group report rows by ad URL.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filters[company][]",
            "in": "query",
            "required": false,
            "description": "Campaign IDs to include in the report.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Campaign IDs to include in the report.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters[dates][]",
            "in": "query",
            "required": false,
            "description": "Two report dates: start date and end date.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Two report dates: start date and end date."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "metrics[views]",
            "in": "query",
            "required": false,
            "description": "Include views metric.",
            "schema": {
              "type": "boolean",
              "description": "Include views metric.",
              "default": true
            }
          },
          {
            "name": "metrics[clicks]",
            "in": "query",
            "required": false,
            "description": "Include clicks metric.",
            "schema": {
              "type": "boolean",
              "description": "Include clicks metric.",
              "default": true
            }
          },
          {
            "name": "metrics[joins]",
            "in": "query",
            "required": false,
            "description": "Include joins metric.",
            "schema": {
              "type": "boolean",
              "description": "Include joins metric.",
              "default": true
            }
          },
          {
            "name": "metrics[spent]",
            "in": "query",
            "required": false,
            "description": "Include spent metric.",
            "schema": {
              "type": "boolean",
              "description": "Include spent metric.",
              "default": true
            }
          },
          {
            "name": "metrics[ctr]",
            "in": "query",
            "required": false,
            "description": "Include CTR metric.",
            "schema": {
              "type": "boolean",
              "description": "Include CTR metric.",
              "default": true
            }
          },
          {
            "name": "metrics[cv]",
            "in": "query",
            "required": false,
            "description": "Include conversion from views to joins.",
            "schema": {
              "type": "boolean",
              "description": "Include conversion from views to joins.",
              "default": true
            }
          },
          {
            "name": "metrics[cpc]",
            "in": "query",
            "required": false,
            "description": "Include CPC metric.",
            "schema": {
              "type": "boolean",
              "description": "Include CPC metric.",
              "default": true
            }
          },
          {
            "name": "metrics[cps]",
            "in": "query",
            "required": false,
            "description": "Include CPS metric.",
            "schema": {
              "type": "boolean",
              "description": "Include CPS metric.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date_day": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Report day when grouped by day."
                          },
                          "metric_clicks": {
                            "type": "string",
                            "description": "Clicks metric as returned by TgBooster."
                          },
                          "metric_cpc": {
                            "type": "number",
                            "description": "CPC metric."
                          },
                          "metric_cps": {
                            "type": "number",
                            "description": "CPS metric."
                          },
                          "metric_ctr": {
                            "type": "number",
                            "description": "CTR metric."
                          },
                          "metric_cv": {
                            "type": "number",
                            "description": "Conversion metric from views to joins."
                          },
                          "metric_joins": {
                            "type": "string",
                            "description": "Joins metric as returned by TgBooster."
                          },
                          "metric_spent": {
                            "type": "string",
                            "description": "Spent metric as returned by TgBooster."
                          },
                          "metric_views": {
                            "type": "string",
                            "description": "Views metric as returned by TgBooster."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tgBooster/latest/actions/list-cabinets": {
      "get": {
        "operationId": "tgBooster.list-cabinets",
        "summary": "List Cabinets",
        "description": "Retrieves Telegram Ads cabinets from TgBooster.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tgBooster/latest/actions/list-cabinets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Cabinet creation timestamp."
                          },
                          "id": {
                            "type": "number",
                            "description": "Cabinet ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Cabinet name."
                          },
                          "photo": {
                            "type": "string",
                            "description": "Cabinet photo value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tgBooster/latest/actions/list-campaigns": {
      "get": {
        "operationId": "tgBooster.list-campaigns",
        "summary": "List Campaigns",
        "description": "Retrieves campaigns from a specific TgBooster cabinet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tgBooster/latest/actions/list-campaigns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cabinetId",
            "in": "query",
            "required": true,
            "description": "Cabinet ID returned by List Cabinets.",
            "schema": {
              "type": "number",
              "description": "Cabinet ID returned by List Cabinets.",
              "example": 242
            }
          },
          {
            "name": "filters[startDate]",
            "in": "query",
            "required": false,
            "description": "Start date for campaign statistics filtering.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date for campaign statistics filtering.",
              "example": "2023-03-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filters[finishDate]",
            "in": "query",
            "required": false,
            "description": "Finish date for campaign statistics filtering.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Finish date for campaign statistics filtering.",
              "example": "2023-09-10",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ads_active_count": {
                            "type": "number",
                            "description": "Active ad count."
                          },
                          "ads_count": {
                            "type": "number",
                            "description": "Total ad count."
                          },
                          "ads_sum_budget": {
                            "type": "string",
                            "description": "Sum of ad budgets as returned by TgBooster."
                          },
                          "cabinet_id": {
                            "type": "number",
                            "description": "Parent cabinet ID."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign creation timestamp."
                          },
                          "id": {
                            "type": "number",
                            "description": "Campaign ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Campaign name."
                          },
                          "stat_clicks": {
                            "type": "string",
                            "description": "Campaign clicks statistic as returned by TgBooster."
                          },
                          "stat_joins": {
                            "type": "string",
                            "description": "Campaign joins statistic as returned by TgBooster."
                          },
                          "stat_spent": {
                            "type": "string",
                            "description": "Campaign spent statistic as returned by TgBooster."
                          },
                          "stat_views": {
                            "type": "string",
                            "description": "Campaign views statistic as returned by TgBooster."
                          },
                          "status_id": {
                            "type": "number",
                            "description": "Campaign status ID."
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "Nested status ID."
                              },
                              "indicator": {
                                "type": "string",
                                "description": "Nested status indicator."
                              },
                              "name": {
                                "type": "string",
                                "description": "Nested status label."
                              }
                            },
                            "additionalProperties": false
                          },
                          "system": {
                            "type": "number",
                            "description": "System campaign flag."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Campaign update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
