{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "OMDb Universal API",
    "version": "0.0.5",
    "description": "Search movies, series, and episodes by title or IMDb ID"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/oMDb/latest/actions/get-episode-by-imdb-id": {
      "get": {
        "operationId": "oMDb.get-episode-by-imdb-id",
        "summary": "Get Episode by IMDb ID",
        "description": "Retrieves an episode from OMDb by series IMDb ID, season, and episode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-episode-by-imdb-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imdbId",
            "in": "query",
            "required": true,
            "description": "Series IMDb ID to use for the episode lookup.",
            "schema": {
              "type": "string",
              "description": "Series IMDb ID to use for the episode lookup."
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "Season number that contains the episode.",
            "schema": {
              "type": "number",
              "description": "Season number that contains the episode."
            }
          },
          {
            "name": "episode",
            "in": "query",
            "required": true,
            "description": "Episode number within the season.",
            "schema": {
              "type": "number",
              "description": "Episode number within the season."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Actors": {
                            "type": "string"
                          },
                          "Awards": {
                            "type": "string"
                          },
                          "BoxOffice": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "Director": {
                            "type": "string"
                          },
                          "DVD": {
                            "type": "string"
                          },
                          "Episode": {
                            "type": "string"
                          },
                          "Genre": {
                            "type": "string"
                          },
                          "imdbID": {
                            "type": "string"
                          },
                          "imdbRating": {
                            "type": "string"
                          },
                          "imdbVotes": {
                            "type": "string"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "Metascore": {
                            "type": "string"
                          },
                          "Plot": {
                            "type": "string"
                          },
                          "Poster": {
                            "type": "string"
                          },
                          "Production": {
                            "type": "string"
                          },
                          "Rated": {
                            "type": "string"
                          },
                          "Ratings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Released": {
                            "type": "string"
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Runtime": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "seriesID": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          },
                          "Website": {
                            "type": "string"
                          },
                          "Writer": {
                            "type": "string"
                          },
                          "Year": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/get-episode-by-series-title": {
      "get": {
        "operationId": "oMDb.get-episode-by-series-title",
        "summary": "Get Episode by Series Title",
        "description": "Retrieves an episode from OMDb by series title, season, and episode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-episode-by-series-title"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Series title to use for the episode lookup.",
            "schema": {
              "type": "string",
              "description": "Series title to use for the episode lookup."
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "Season number that contains the episode.",
            "schema": {
              "type": "number",
              "description": "Season number that contains the episode."
            }
          },
          {
            "name": "episode",
            "in": "query",
            "required": true,
            "description": "Episode number within the season.",
            "schema": {
              "type": "number",
              "description": "Episode number within the season."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Actors": {
                            "type": "string"
                          },
                          "Awards": {
                            "type": "string"
                          },
                          "BoxOffice": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "Director": {
                            "type": "string"
                          },
                          "DVD": {
                            "type": "string"
                          },
                          "Episode": {
                            "type": "string"
                          },
                          "Genre": {
                            "type": "string"
                          },
                          "imdbID": {
                            "type": "string"
                          },
                          "imdbRating": {
                            "type": "string"
                          },
                          "imdbVotes": {
                            "type": "string"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "Metascore": {
                            "type": "string"
                          },
                          "Plot": {
                            "type": "string"
                          },
                          "Poster": {
                            "type": "string"
                          },
                          "Production": {
                            "type": "string"
                          },
                          "Rated": {
                            "type": "string"
                          },
                          "Ratings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Released": {
                            "type": "string"
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Runtime": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "seriesID": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          },
                          "Website": {
                            "type": "string"
                          },
                          "Writer": {
                            "type": "string"
                          },
                          "Year": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/get-movie-by-title": {
      "get": {
        "operationId": "oMDb.get-movie-by-title",
        "summary": "Get Movie by Title",
        "description": "Retrieves movie details from OMDb by title.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-movie-by-title"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Movie title to look up.",
            "schema": {
              "type": "string",
              "description": "Movie title to look up."
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Release year to narrow the movie lookup.",
            "schema": {
              "type": "number",
              "description": "Release year to narrow the movie lookup."
            }
          },
          {
            "name": "plot",
            "in": "query",
            "required": false,
            "description": "Return the short or full plot.",
            "schema": {
              "type": "string",
              "description": "Return the short or full plot.",
              "enum": [
                "full",
                "short"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Actors": {
                            "type": "string"
                          },
                          "Awards": {
                            "type": "string"
                          },
                          "BoxOffice": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "Director": {
                            "type": "string"
                          },
                          "DVD": {
                            "type": "string"
                          },
                          "Episode": {
                            "type": "string"
                          },
                          "Genre": {
                            "type": "string"
                          },
                          "imdbID": {
                            "type": "string"
                          },
                          "imdbRating": {
                            "type": "string"
                          },
                          "imdbVotes": {
                            "type": "string"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "Metascore": {
                            "type": "string"
                          },
                          "Plot": {
                            "type": "string"
                          },
                          "Poster": {
                            "type": "string"
                          },
                          "Production": {
                            "type": "string"
                          },
                          "Rated": {
                            "type": "string"
                          },
                          "Ratings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Released": {
                            "type": "string"
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Runtime": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "seriesID": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          },
                          "Website": {
                            "type": "string"
                          },
                          "Writer": {
                            "type": "string"
                          },
                          "Year": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/get-season-by-imdb-id": {
      "get": {
        "operationId": "oMDb.get-season-by-imdb-id",
        "summary": "Get Season by IMDb ID",
        "description": "Retrieves a season from OMDb by series IMDb ID and season.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-season-by-imdb-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imdbId",
            "in": "query",
            "required": true,
            "description": "Series IMDb ID to use for the season lookup.",
            "schema": {
              "type": "string",
              "description": "Series IMDb ID to use for the season lookup."
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "Season number to return.",
            "schema": {
              "type": "number",
              "description": "Season number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Episodes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/get-season-by-series-title": {
      "get": {
        "operationId": "oMDb.get-season-by-series-title",
        "summary": "Get Season by Series Title",
        "description": "Retrieves a season from OMDb by series title and season.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-season-by-series-title"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Series title to use for the season lookup.",
            "schema": {
              "type": "string",
              "description": "Series title to use for the season lookup."
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "Season number to return.",
            "schema": {
              "type": "number",
              "description": "Season number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Episodes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/get-series-by-title": {
      "get": {
        "operationId": "oMDb.get-series-by-title",
        "summary": "Get Series by Title",
        "description": "Retrieves series details from OMDb by title.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-series-by-title"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Series title to look up.",
            "schema": {
              "type": "string",
              "description": "Series title to look up."
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Release year to narrow the series lookup.",
            "schema": {
              "type": "number",
              "description": "Release year to narrow the series lookup."
            }
          },
          {
            "name": "plot",
            "in": "query",
            "required": false,
            "description": "Return the short or full plot.",
            "schema": {
              "type": "string",
              "description": "Return the short or full plot.",
              "enum": [
                "full",
                "short"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Actors": {
                            "type": "string"
                          },
                          "Awards": {
                            "type": "string"
                          },
                          "BoxOffice": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "Director": {
                            "type": "string"
                          },
                          "DVD": {
                            "type": "string"
                          },
                          "Episode": {
                            "type": "string"
                          },
                          "Genre": {
                            "type": "string"
                          },
                          "imdbID": {
                            "type": "string"
                          },
                          "imdbRating": {
                            "type": "string"
                          },
                          "imdbVotes": {
                            "type": "string"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "Metascore": {
                            "type": "string"
                          },
                          "Plot": {
                            "type": "string"
                          },
                          "Poster": {
                            "type": "string"
                          },
                          "Production": {
                            "type": "string"
                          },
                          "Rated": {
                            "type": "string"
                          },
                          "Ratings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Released": {
                            "type": "string"
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Runtime": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "seriesID": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          },
                          "Website": {
                            "type": "string"
                          },
                          "Writer": {
                            "type": "string"
                          },
                          "Year": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/get-title-by-imdb-id": {
      "get": {
        "operationId": "oMDb.get-title-by-imdb-id",
        "summary": "Get Title by IMDb ID",
        "description": "Retrieves title details from OMDb by IMDb ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-title-by-imdb-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imdbId",
            "in": "query",
            "required": true,
            "description": "A valid IMDb ID, such as tt3896198.",
            "schema": {
              "type": "string",
              "description": "A valid IMDb ID, such as tt3896198."
            }
          },
          {
            "name": "plot",
            "in": "query",
            "required": false,
            "description": "Return the short or full plot.",
            "schema": {
              "type": "string",
              "description": "Return the short or full plot.",
              "enum": [
                "full",
                "short"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Actors": {
                            "type": "string"
                          },
                          "Awards": {
                            "type": "string"
                          },
                          "BoxOffice": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "Director": {
                            "type": "string"
                          },
                          "DVD": {
                            "type": "string"
                          },
                          "Episode": {
                            "type": "string"
                          },
                          "Genre": {
                            "type": "string"
                          },
                          "imdbID": {
                            "type": "string"
                          },
                          "imdbRating": {
                            "type": "string"
                          },
                          "imdbVotes": {
                            "type": "string"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "Metascore": {
                            "type": "string"
                          },
                          "Plot": {
                            "type": "string"
                          },
                          "Poster": {
                            "type": "string"
                          },
                          "Production": {
                            "type": "string"
                          },
                          "Rated": {
                            "type": "string"
                          },
                          "Ratings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Released": {
                            "type": "string"
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Runtime": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "seriesID": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          },
                          "Website": {
                            "type": "string"
                          },
                          "Writer": {
                            "type": "string"
                          },
                          "Year": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/get-title-by-title": {
      "get": {
        "operationId": "oMDb.get-title-by-title",
        "summary": "Get Title by Title",
        "description": "Retrieves title details from OMDb by title.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/get-title-by-title"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Movie, series, or episode title to look up.",
            "schema": {
              "type": "string",
              "description": "Movie, series, or episode title to look up."
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Release year to narrow the title lookup.",
            "schema": {
              "type": "number",
              "description": "Release year to narrow the title lookup."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Restrict the lookup to a movie, series, or episode.",
            "schema": {
              "type": "string",
              "description": "Restrict the lookup to a movie, series, or episode.",
              "enum": [
                "episode",
                "movie",
                "series"
              ]
            }
          },
          {
            "name": "plot",
            "in": "query",
            "required": false,
            "description": "Return the short or full plot.",
            "schema": {
              "type": "string",
              "description": "Return the short or full plot.",
              "enum": [
                "full",
                "short"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Actors": {
                            "type": "string"
                          },
                          "Awards": {
                            "type": "string"
                          },
                          "BoxOffice": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "Director": {
                            "type": "string"
                          },
                          "DVD": {
                            "type": "string"
                          },
                          "Episode": {
                            "type": "string"
                          },
                          "Genre": {
                            "type": "string"
                          },
                          "imdbID": {
                            "type": "string"
                          },
                          "imdbRating": {
                            "type": "string"
                          },
                          "imdbVotes": {
                            "type": "string"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "Metascore": {
                            "type": "string"
                          },
                          "Plot": {
                            "type": "string"
                          },
                          "Poster": {
                            "type": "string"
                          },
                          "Production": {
                            "type": "string"
                          },
                          "Rated": {
                            "type": "string"
                          },
                          "Ratings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Released": {
                            "type": "string"
                          },
                          "Response": {
                            "type": "string"
                          },
                          "Runtime": {
                            "type": "string"
                          },
                          "Season": {
                            "type": "string"
                          },
                          "seriesID": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "totalSeasons": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          },
                          "Website": {
                            "type": "string"
                          },
                          "Writer": {
                            "type": "string"
                          },
                          "Year": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/search-movies": {
      "get": {
        "operationId": "oMDb.search-movies",
        "summary": "Search Movies",
        "description": "Finds movies in OMDb by search term.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/search-movies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTitle",
            "in": "query",
            "required": true,
            "description": "Movie title text to search.",
            "schema": {
              "type": "string",
              "description": "Movie title text to search."
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Release year to narrow the movie search.",
            "schema": {
              "type": "number",
              "description": "Release year to narrow the movie search."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page number to return.",
            "schema": {
              "type": "number",
              "description": "Results page number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Response": {
                            "type": "string"
                          },
                          "Search": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "totalResults": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/search-series": {
      "get": {
        "operationId": "oMDb.search-series",
        "summary": "Search Series",
        "description": "Finds series in OMDb by search term.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/search-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTitle",
            "in": "query",
            "required": true,
            "description": "Series title text to search.",
            "schema": {
              "type": "string",
              "description": "Series title text to search."
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Release year to narrow the series search.",
            "schema": {
              "type": "number",
              "description": "Release year to narrow the series search."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page number to return.",
            "schema": {
              "type": "number",
              "description": "Results page number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Response": {
                            "type": "string"
                          },
                          "Search": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "totalResults": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oMDb/latest/actions/search-titles": {
      "get": {
        "operationId": "oMDb.search-titles",
        "summary": "Search Titles",
        "description": "Finds titles in OMDb by search term.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oMDb/latest/actions/search-titles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTitle",
            "in": "query",
            "required": true,
            "description": "Title text to search across OMDb.",
            "schema": {
              "type": "string",
              "description": "Title text to search across OMDb."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Restrict search results to a movie, series, or episode.",
            "schema": {
              "type": "string",
              "description": "Restrict search results to a movie, series, or episode.",
              "enum": [
                "episode",
                "movie",
                "series"
              ]
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Release year to narrow the search.",
            "schema": {
              "type": "number",
              "description": "Release year to narrow the search."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page number to return.",
            "schema": {
              "type": "number",
              "description": "Results page number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Response": {
                            "type": "string"
                          },
                          "Search": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "totalResults": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
