{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ManyReach Universal API",
    "version": "0.0.13",
    "description": "ManyReach is a cold email outreach platform for managing prospects, campaigns, replies, and outreach automation workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/manyReach/latest/actions/add-prospect-tag": {
      "post": {
        "operationId": "manyReach.add-prospect-tag",
        "summary": "Add Prospect Tag",
        "description": "Adds a tag to a prospect in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/add-prospect-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tagId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Prospect ID."
                  },
                  "tagId": {
                    "type": "string",
                    "description": "Tag ID to attach to the prospect."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/add-prospects-in-bulk": {
      "post": {
        "operationId": "manyReach.add-prospects-in-bulk",
        "summary": "Add Prospects in Bulk",
        "description": "Creates prospects in bulk in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/add-prospects-in-bulk"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listId",
                  "prospects"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listId": {
                    "type": "string",
                    "description": "Required list ID to which all prospects will be added"
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "Optional campaign ID to add prospects to"
                  },
                  "addOnlyIfNew": {
                    "type": "boolean",
                    "description": "Only add prospects that are new in CRM"
                  },
                  "notInOtherCampaign": {
                    "type": "boolean",
                    "description": "Check if prospect is already in other campaigns"
                  },
                  "prospects": {
                    "type": "string",
                    "description": "Array of prospect objects to create in bulk."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignAdded": {
                            "type": "number"
                          },
                          "duplicatesInBatch": {
                            "type": "number"
                          },
                          "prospectsInserted": {
                            "type": "number"
                          },
                          "prospectsUpdated": {
                            "type": "number"
                          },
                          "subscriptionsAdded": {
                            "type": "number"
                          },
                          "totalProcessed": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-campaign": {
      "post": {
        "operationId": "manyReach.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a new campaign in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Campaign name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeProspectCount": {
                            "type": "number"
                          },
                          "bccEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "body": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bounceCount": {
                            "type": "number"
                          },
                          "campaignId": {
                            "type": "number"
                          },
                          "ccEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clickCount": {
                            "type": "number"
                          },
                          "conversionCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "dailyLimit": {
                            "type": "number"
                          },
                          "dailyLimitIncrease": {
                            "type": "boolean"
                          },
                          "dailyLimitIncreasePercent": {
                            "type": "number"
                          },
                          "dailyLimitIncreaseToMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dailyLimitInitial": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dailyLimitInitialEnabled": {
                            "type": "boolean"
                          },
                          "dailyLimitOnDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dailyLimitPer": {
                            "type": "string"
                          },
                          "dailyLimitPrioritize": {
                            "type": "string"
                          },
                          "dailyLimitWhichEmailsCount": {
                            "type": "string"
                          },
                          "deactivateIfMissingPlaceholder": {
                            "type": "boolean"
                          },
                          "delayMinMinutes": {
                            "type": "number"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "espLimitEnabled": {
                            "type": "boolean"
                          },
                          "espLimitToGoogle": {
                            "type": "boolean"
                          },
                          "espLimitToMicrosoft": {
                            "type": "boolean"
                          },
                          "espLimitToOther": {
                            "type": "boolean"
                          },
                          "espMatchEnabled": {
                            "type": "boolean"
                          },
                          "espMatchType": {
                            "type": "string"
                          },
                          "folderId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fromEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fromName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "initialBounceCount": {
                            "type": "number"
                          },
                          "initialClickCount": {
                            "type": "number"
                          },
                          "initialConversionCount": {
                            "type": "number"
                          },
                          "initialInterestedCount": {
                            "type": "number"
                          },
                          "initialOpenCount": {
                            "type": "number"
                          },
                          "initialReplyCount": {
                            "type": "number"
                          },
                          "interestedCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "openCount": {
                            "type": "number"
                          },
                          "prospectCount": {
                            "type": "number"
                          },
                          "prospectValue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "replyBccEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "replyCcEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "replyCount": {
                            "type": "number"
                          },
                          "replyToEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleSending": {
                            "type": "boolean"
                          },
                          "scheduleSendOnDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleSendOnDateEnabled": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleSendOnDateHours": {
                            "type": "number"
                          },
                          "scheduleSendOnDateMinutes": {
                            "type": "number"
                          },
                          "scheduleTimeZone": {
                            "type": "string"
                          },
                          "sendFri": {
                            "type": "boolean"
                          },
                          "sendFriAfter": {
                            "type": "number"
                          },
                          "sendFriBefore": {
                            "type": "number"
                          },
                          "sendMon": {
                            "type": "boolean"
                          },
                          "sendMonAfter": {
                            "type": "number"
                          },
                          "sendMonBefore": {
                            "type": "number"
                          },
                          "sendSat": {
                            "type": "boolean"
                          },
                          "sendSatAfter": {
                            "type": "number"
                          },
                          "sendSatBefore": {
                            "type": "number"
                          },
                          "sendSun": {
                            "type": "boolean"
                          },
                          "sendSunAfter": {
                            "type": "number"
                          },
                          "sendSunBefore": {
                            "type": "number"
                          },
                          "sendThu": {
                            "type": "boolean"
                          },
                          "sendThuAfter": {
                            "type": "number"
                          },
                          "sendThuBefore": {
                            "type": "number"
                          },
                          "sendTue": {
                            "type": "boolean"
                          },
                          "sendTueAfter": {
                            "type": "number"
                          },
                          "sendTueBefore": {
                            "type": "number"
                          },
                          "sendUnsubscribeListHeader": {
                            "type": "boolean"
                          },
                          "sendWed": {
                            "type": "boolean"
                          },
                          "sendWedAfter": {
                            "type": "number"
                          },
                          "sendWedBefore": {
                            "type": "number"
                          },
                          "sentCount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "stopCoworkersOnReply": {
                            "type": "boolean"
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "textOnlyEmails": {
                            "type": "boolean"
                          },
                          "trackClicks": {
                            "type": "boolean"
                          },
                          "trackOpens": {
                            "type": "boolean"
                          },
                          "useProspectsTimeZone": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-campaign-copy": {
      "post": {
        "operationId": "manyReach.create-campaign-copy",
        "summary": "Create Campaign Copy",
        "description": "Creates a copy of a campaign in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-campaign-copy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Campaign ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeProspectCount": {
                            "type": "number"
                          },
                          "bccEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "body": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bounceCount": {
                            "type": "number"
                          },
                          "campaignId": {
                            "type": "number"
                          },
                          "ccEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clickCount": {
                            "type": "number"
                          },
                          "conversionCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "dailyLimit": {
                            "type": "number"
                          },
                          "dailyLimitIncrease": {
                            "type": "boolean"
                          },
                          "dailyLimitIncreasePercent": {
                            "type": "number"
                          },
                          "dailyLimitIncreaseToMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dailyLimitInitial": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dailyLimitInitialEnabled": {
                            "type": "boolean"
                          },
                          "dailyLimitOnDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dailyLimitPer": {
                            "type": "string"
                          },
                          "dailyLimitPrioritize": {
                            "type": "string"
                          },
                          "dailyLimitWhichEmailsCount": {
                            "type": "string"
                          },
                          "deactivateIfMissingPlaceholder": {
                            "type": "boolean"
                          },
                          "delayMinMinutes": {
                            "type": "number"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "espLimitEnabled": {
                            "type": "boolean"
                          },
                          "espLimitToGoogle": {
                            "type": "boolean"
                          },
                          "espLimitToMicrosoft": {
                            "type": "boolean"
                          },
                          "espLimitToOther": {
                            "type": "boolean"
                          },
                          "espMatchEnabled": {
                            "type": "boolean"
                          },
                          "espMatchType": {
                            "type": "string"
                          },
                          "folderId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fromEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fromName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "initialBounceCount": {
                            "type": "number"
                          },
                          "initialClickCount": {
                            "type": "number"
                          },
                          "initialConversionCount": {
                            "type": "number"
                          },
                          "initialInterestedCount": {
                            "type": "number"
                          },
                          "initialOpenCount": {
                            "type": "number"
                          },
                          "initialReplyCount": {
                            "type": "number"
                          },
                          "interestedCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "openCount": {
                            "type": "number"
                          },
                          "prospectCount": {
                            "type": "number"
                          },
                          "prospectValue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "replyBccEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "replyCcEmails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "replyCount": {
                            "type": "number"
                          },
                          "replyToEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleSending": {
                            "type": "boolean"
                          },
                          "scheduleSendOnDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleSendOnDateEnabled": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleSendOnDateHours": {
                            "type": "number"
                          },
                          "scheduleSendOnDateMinutes": {
                            "type": "number"
                          },
                          "scheduleTimeZone": {
                            "type": "string"
                          },
                          "sendFri": {
                            "type": "boolean"
                          },
                          "sendFriAfter": {
                            "type": "number"
                          },
                          "sendFriBefore": {
                            "type": "number"
                          },
                          "sendMon": {
                            "type": "boolean"
                          },
                          "sendMonAfter": {
                            "type": "number"
                          },
                          "sendMonBefore": {
                            "type": "number"
                          },
                          "sendSat": {
                            "type": "boolean"
                          },
                          "sendSatAfter": {
                            "type": "number"
                          },
                          "sendSatBefore": {
                            "type": "number"
                          },
                          "sendSun": {
                            "type": "boolean"
                          },
                          "sendSunAfter": {
                            "type": "number"
                          },
                          "sendSunBefore": {
                            "type": "number"
                          },
                          "sendThu": {
                            "type": "boolean"
                          },
                          "sendThuAfter": {
                            "type": "number"
                          },
                          "sendThuBefore": {
                            "type": "number"
                          },
                          "sendTue": {
                            "type": "boolean"
                          },
                          "sendTueAfter": {
                            "type": "number"
                          },
                          "sendTueBefore": {
                            "type": "number"
                          },
                          "sendUnsubscribeListHeader": {
                            "type": "boolean"
                          },
                          "sendWed": {
                            "type": "boolean"
                          },
                          "sendWedAfter": {
                            "type": "number"
                          },
                          "sendWedBefore": {
                            "type": "number"
                          },
                          "sentCount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "stopCoworkersOnReply": {
                            "type": "boolean"
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "textOnlyEmails": {
                            "type": "boolean"
                          },
                          "trackClicks": {
                            "type": "boolean"
                          },
                          "trackOpens": {
                            "type": "boolean"
                          },
                          "useProspectsTimeZone": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-campaign-sequence": {
      "post": {
        "operationId": "manyReach.create-campaign-sequence",
        "summary": "Create Campaign Sequence",
        "description": "Creates a sequence for a campaign in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-campaign-sequence"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Campaign ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Sequence name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conditionAction": {
                            "type": "string"
                          },
                          "conditionExtra": {
                            "type": "boolean"
                          },
                          "conditionNegate": {
                            "type": "boolean"
                          },
                          "conditionOperator": {
                            "type": "string"
                          },
                          "conditionReply": {
                            "type": "string"
                          },
                          "conditionTimes": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sequenceId": {
                            "type": "number"
                          },
                          "shortName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-mailing-list": {
      "post": {
        "operationId": "manyReach.create-mailing-list",
        "summary": "Create Mailing List",
        "description": "Creates a new mailing list in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-mailing-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "List title."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "folderId": {
                            "type": "number"
                          },
                          "listId": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-prospect": {
      "post": {
        "operationId": "manyReach.create-prospect",
        "summary": "Create Prospect",
        "description": "Creates a new prospect in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-prospect"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "baseListId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "baseListId": {
                    "type": "string",
                    "description": "List ID to attach the prospect to."
                  },
                  "email": {
                    "type": "string",
                    "description": "Prospect email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "baseListId": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "prospectId": {
                            "type": "number"
                          },
                          "sendingActive": {
                            "type": "boolean"
                          },
                          "sendingStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-sender": {
      "post": {
        "operationId": "manyReach.create-sender",
        "summary": "Create Sender",
        "description": "Creates a new sender in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-sender"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customImapPass",
                  "customImapPort",
                  "customImapServer",
                  "customSmtpPass",
                  "customSmtpPort",
                  "customSmtpServer",
                  "dailyLimit",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customImapPass": {
                    "type": "string",
                    "description": "IMAP password."
                  },
                  "customImapPort": {
                    "type": "string",
                    "description": "IMAP server port."
                  },
                  "customImapServer": {
                    "type": "string",
                    "description": "IMAP server hostname."
                  },
                  "customImapUsername": {
                    "type": "string",
                    "description": "IMAP username."
                  },
                  "customSmtpPass": {
                    "type": "string",
                    "description": "SMTP password."
                  },
                  "customSmtpPort": {
                    "type": "number",
                    "description": "SMTP server port."
                  },
                  "customSmtpServer": {
                    "type": "string",
                    "description": "SMTP server hostname."
                  },
                  "customSmtpUsername": {
                    "type": "string",
                    "description": "SMTP username."
                  },
                  "customWarmupTag": {
                    "type": "string",
                    "description": "Custom tag applied to warmup behavior."
                  },
                  "dailyLimit": {
                    "type": "number",
                    "description": "Maximum emails the sender can send per day."
                  },
                  "dailyLimitIncrease": {
                    "type": "boolean",
                    "description": "Whether the daily limit increases automatically."
                  },
                  "dailyLimitIncreasePercent": {
                    "type": "number",
                    "description": "Percentage increase applied to the daily limit."
                  },
                  "dailyLimitIncreaseToMax": {
                    "type": "number",
                    "description": "Maximum daily limit when automatic increases are enabled."
                  },
                  "delayMin": {
                    "type": "number",
                    "description": "Delay in minutes between sent emails."
                  },
                  "email": {
                    "type": "string",
                    "description": "Sender email address."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Sender first name."
                  },
                  "folder": {
                    "type": "string",
                    "description": "Folder used to organize the sender."
                  },
                  "fromName": {
                    "type": "string",
                    "description": "Display name shown in outgoing emails."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Sender last name."
                  },
                  "replyTo": {
                    "type": "string",
                    "description": "Reply-to email address."
                  },
                  "senderCustom1": {
                    "type": "string",
                    "description": "Custom sender field 1."
                  },
                  "senderCustom10": {
                    "type": "string",
                    "description": "Custom sender field 10."
                  },
                  "senderCustom2": {
                    "type": "string",
                    "description": "Custom sender field 2."
                  },
                  "senderCustom3": {
                    "type": "string",
                    "description": "Custom sender field 3."
                  },
                  "senderCustom4": {
                    "type": "string",
                    "description": "Custom sender field 4."
                  },
                  "senderCustom5": {
                    "type": "string",
                    "description": "Custom sender field 5."
                  },
                  "senderCustom6": {
                    "type": "string",
                    "description": "Custom sender field 6."
                  },
                  "senderCustom7": {
                    "type": "string",
                    "description": "Custom sender field 7."
                  },
                  "senderCustom8": {
                    "type": "string",
                    "description": "Custom sender field 8."
                  },
                  "senderCustom9": {
                    "type": "string",
                    "description": "Custom sender field 9."
                  },
                  "signature": {
                    "type": "string",
                    "description": "Email signature HTML."
                  },
                  "trackingDomain": {
                    "type": "string",
                    "description": "Custom tracking domain for the sender."
                  },
                  "warmup": {
                    "type": "boolean",
                    "description": "Whether sender warmup is enabled."
                  },
                  "warmupDailyLimit": {
                    "type": "number",
                    "description": "Daily sending limit used during warmup."
                  },
                  "warmupDailyLimitIncrease": {
                    "type": "boolean",
                    "description": "Whether the warmup daily limit increases automatically."
                  },
                  "warmupDailyLimitIncreasePercent": {
                    "type": "number",
                    "description": "Percentage increase applied to the warmup daily limit."
                  },
                  "warmupDailyLimitIncreaseToMax": {
                    "type": "number",
                    "description": "Maximum warmup daily limit when automatic increases are enabled."
                  },
                  "warmupReplyPercent": {
                    "type": "number",
                    "description": "Expected reply percentage during warmup."
                  },
                  "warmupSkipWeekends": {
                    "type": "boolean",
                    "description": "Whether warmup activity skips weekends."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customImapPort": {
                            "type": "string"
                          },
                          "customImapServer": {
                            "type": "string"
                          },
                          "customImapUsername": {
                            "type": "string"
                          },
                          "customSmtpPort": {
                            "type": "number"
                          },
                          "customSmtpServer": {
                            "type": "string"
                          },
                          "customSmtpUsername": {
                            "type": "string"
                          },
                          "customWarmupTag": {
                            "type": "string"
                          },
                          "dailyLimit": {
                            "type": "number"
                          },
                          "dailyLimitIncrease": {
                            "type": "boolean"
                          },
                          "dailyLimitIncreasePercent": {
                            "type": "number"
                          },
                          "dailyLimitIncreaseToMax": {
                            "type": "number"
                          },
                          "dateDisconnected": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateWarmupDisconnected": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "delayMin": {
                            "type": "number"
                          },
                          "disconnected": {
                            "type": "boolean"
                          },
                          "disconnectionReason": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "folder": {
                            "type": "string"
                          },
                          "fromName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "replyTo": {
                            "type": "string"
                          },
                          "senderCustom1": {
                            "type": "string"
                          },
                          "senderCustom10": {
                            "type": "string"
                          },
                          "senderCustom2": {
                            "type": "string"
                          },
                          "senderCustom3": {
                            "type": "string"
                          },
                          "senderCustom4": {
                            "type": "string"
                          },
                          "senderCustom5": {
                            "type": "string"
                          },
                          "senderCustom6": {
                            "type": "string"
                          },
                          "senderCustom7": {
                            "type": "string"
                          },
                          "senderCustom8": {
                            "type": "string"
                          },
                          "senderCustom9": {
                            "type": "string"
                          },
                          "senderId": {
                            "type": "number"
                          },
                          "signature": {
                            "type": "string"
                          },
                          "trackingDomain": {
                            "type": "string"
                          },
                          "warmup": {
                            "type": "boolean"
                          },
                          "warmupDailyLimit": {
                            "type": "number"
                          },
                          "warmupDailyLimitIncrease": {
                            "type": "boolean"
                          },
                          "warmupDailyLimitIncreasePercent": {
                            "type": "number"
                          },
                          "warmupDailyLimitIncreaseToMax": {
                            "type": "number"
                          },
                          "warmupRemovalReason": {
                            "type": "string"
                          },
                          "warmupReplyPercent": {
                            "type": "number"
                          },
                          "warmupSkipWeekends": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-sequence-follow-up": {
      "post": {
        "operationId": "manyReach.create-sequence-follow-up",
        "summary": "Create Sequence Follow-Up",
        "description": "Creates a follow-up for a sequence in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-sequence-follow-up"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "waitMin",
                  "waitUnits"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Sequence ID."
                  },
                  "waitMin": {
                    "type": "string",
                    "description": "Wait duration amount before the follow-up."
                  },
                  "waitUnits": {
                    "type": "string",
                    "description": "Units for the wait duration."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": {
                            "type": "string"
                          },
                          "bounceCount": {
                            "type": "number"
                          },
                          "clickCount": {
                            "type": "number"
                          },
                          "followupId": {
                            "type": "number"
                          },
                          "interestedCount": {
                            "type": "number"
                          },
                          "openCount": {
                            "type": "number"
                          },
                          "replyCount": {
                            "type": "number"
                          },
                          "replyInThread": {
                            "type": "boolean"
                          },
                          "replyInThreadToFollowupId": {
                            "type": "number"
                          },
                          "sendInSameThread": {
                            "type": "boolean"
                          },
                          "sentCount": {
                            "type": "number"
                          },
                          "sequenceId": {
                            "type": "number"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "useOriginalSubject": {
                            "type": "boolean"
                          },
                          "waitMin": {
                            "type": "number"
                          },
                          "waitUnits": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-tag": {
      "post": {
        "operationId": "manyReach.create-tag",
        "summary": "Create Tag",
        "description": "Creates a new tag in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Tag title."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tagId": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/manyReach/latest/actions/create-user": {
      "post": {
        "operationId": "manyReach.create-user",
        "summary": "Create User",
        "description": "Creates a new user in ManyReach.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/manyReach/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountType",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountType": {
                    "type": "string",
                    "description": "User permission level."
                  },
                  "email": {
                    "type": "string",
                    "description": "User email address."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "User first name."
                  },
                  "lastName": {
[...]
