{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "YNAB Universal API",
    "version": "0.0.3",
    "description": "Manage budgets, accounts, categories, and transactions"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ynab/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ynab/latest/actions/get-account": {
      "get": {
        "operationId": "ynab.get-account",
        "summary": "Get Account",
        "description": "Retrieves an account from a YNAB plan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "The current account balance in milliunits."
                          },
                          "balanceFormatted": {
                            "type": "string",
                            "description": "The current account balance formatted for display."
                          },
                          "closed": {
                            "type": "boolean",
                            "description": "Whether the account is closed."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the account has been deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "The YNAB account ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The account name."
                          },
                          "onBudget": {
                            "type": "boolean",
                            "description": "Whether the account is on budget."
                          },
                          "type": {
                            "type": "string",
                            "description": "The account type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-category": {
      "get": {
        "operationId": "ynab.get-category",
        "summary": "Get Category",
        "description": "Retrieves a category from a YNAB plan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used."
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": true,
            "description": "The id of the category.",
            "schema": {
              "type": "string",
              "description": "The id of the category."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "number",
                            "description": "The activity amount in milliunits."
                          },
                          "activityCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted activity amount in milliunits."
                          },
                          "activityFormatted": {
                            "type": "string",
                            "description": "The formatted activity amount."
                          },
                          "balance": {
                            "type": "number",
                            "description": "The category balance in milliunits."
                          },
                          "balanceCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted category balance in milliunits."
                          },
                          "balanceFormatted": {
                            "type": "string",
                            "description": "The formatted category balance."
                          },
                          "budgeted": {
                            "type": "number",
                            "description": "The budgeted amount in milliunits."
                          },
                          "budgetedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted budgeted amount in milliunits."
                          },
                          "budgetedFormatted": {
                            "type": "string",
                            "description": "The formatted budgeted amount."
                          },
                          "categoryGroupId": {
                            "type": "string",
                            "description": "The parent category group ID."
                          },
                          "categoryGroupName": {
                            "type": "string",
                            "description": "The parent category group name."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the category has been deleted."
                          },
                          "goalCadence": {
                            "type": "number",
                            "description": "The goal cadence, when present."
                          },
                          "goalCadenceFrequency": {
                            "type": "number",
                            "description": "The goal cadence frequency, when present."
                          },
                          "goalCreationMonth": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The month the goal was created, when present."
                          },
                          "goalDay": {
                            "type": "number",
                            "description": "The goal day, when present."
                          },
                          "goalMonthsToBudget": {
                            "type": "number",
                            "description": "The remaining months to budget, when present."
                          },
                          "goalNeedsWholeAmount": {
                            "type": "boolean",
                            "description": "Whether the goal requires the full amount."
                          },
                          "goalOverallFunded": {
                            "type": "number",
                            "description": "The overall funded amount in milliunits, when present."
                          },
                          "goalOverallFundedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted overall funded amount in milliunits, when present."
                          },
                          "goalOverallFundedFormatted": {
                            "type": "string",
                            "description": "The formatted overall funded amount, when present."
                          },
                          "goalOverallLeft": {
                            "type": "number",
                            "description": "The remaining amount left toward the goal in milliunits, when present."
                          },
                          "goalOverallLeftCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted remaining goal amount in milliunits, when present."
                          },
                          "goalOverallLeftFormatted": {
                            "type": "string",
                            "description": "The formatted remaining goal amount, when present."
                          },
                          "goalPercentageComplete": {
                            "type": "number",
                            "description": "The percentage complete for the goal, when present."
                          },
                          "goalSnoozedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the goal was snoozed, when present."
                          },
                          "goalTarget": {
                            "type": "number",
                            "description": "The goal target amount in milliunits."
                          },
                          "goalTargetCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted goal target amount in milliunits."
                          },
                          "goalTargetDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The target date for the goal, when present."
                          },
                          "goalTargetFormatted": {
                            "type": "string",
                            "description": "The formatted goal target amount."
                          },
                          "goalTargetMonth": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The target month for the goal, when present."
                          },
                          "goalType": {
                            "type": "string",
                            "description": "The goal type, when present."
                          },
                          "goalUnderFunded": {
                            "type": "number",
                            "description": "The underfunded amount in milliunits, when present."
                          },
                          "goalUnderFundedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted underfunded amount in milliunits, when present."
                          },
                          "goalUnderFundedFormatted": {
                            "type": "string",
                            "description": "The formatted underfunded amount, when present."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether the category is hidden."
                          },
                          "id": {
                            "type": "string",
                            "description": "The YNAB category ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The category name."
                          },
                          "note": {
                            "type": "string",
                            "description": "The category note, when present."
                          },
                          "originalCategoryGroupId": {
                            "type": "string",
                            "description": "The original category group ID, when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-month": {
      "get": {
        "operationId": "ynab.get-month",
        "summary": "Get Month",
        "description": "Retrieves a month from a YNAB plan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-month"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used."
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "description": "The budget month in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "The budget month in YYYY-MM-DD format."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "number",
                            "description": "The total activity for the month in milliunits."
                          },
                          "activityCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted activity amount for the month in milliunits."
                          },
                          "activityFormatted": {
                            "type": "string",
                            "description": "The formatted activity amount for the month."
                          },
                          "ageOfMoney": {
                            "type": "number",
                            "description": "The age of money metric for the month."
                          },
                          "budgeted": {
                            "type": "number",
                            "description": "The total budgeted amount for the month in milliunits."
                          },
                          "budgetedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted budgeted amount for the month in milliunits."
                          },
                          "budgetedFormatted": {
                            "type": "string",
                            "description": "The formatted budgeted amount for the month."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The month category rows."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the month record has been deleted."
                          },
                          "income": {
                            "type": "number",
                            "description": "The total income for the month in milliunits."
                          },
                          "incomeCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted income amount for the month in milliunits."
                          },
                          "incomeFormatted": {
                            "type": "string",
                            "description": "The formatted income amount for the month."
                          },
                          "month": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The month represented by this detailed budget view."
                          },
                          "note": {
                            "type": "string",
                            "description": "The month note, when present."
                          },
                          "toBeBudgeted": {
                            "type": "number",
                            "description": "The amount still available to budget in milliunits."
                          },
                          "toBeBudgetedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted amount still available to budget in milliunits."
                          },
                          "toBeBudgetedFormatted": {
                            "type": "string",
                            "description": "The formatted amount still available to budget."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-month-category": {
      "get": {
        "operationId": "ynab.get-month-category",
        "summary": "Get Month Category",
        "description": "Retrieves a category for a specific month in YNAB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-month-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used or default when enabled.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used or default when enabled."
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "description": "The plan month in YYYY-MM-DD format or current.",
            "schema": {
              "type": "string",
              "description": "The plan month in YYYY-MM-DD format or current."
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": true,
            "description": "The id of the category.",
            "schema": {
              "type": "string",
              "description": "The id of the category."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activity": {
                            "type": "number",
                            "description": "The activity amount in milliunits."
                          },
                          "activityCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted activity amount in milliunits."
                          },
                          "activityFormatted": {
                            "type": "string",
                            "description": "The formatted activity amount."
                          },
                          "balance": {
                            "type": "number",
                            "description": "The category balance in milliunits."
                          },
                          "balanceCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted category balance in milliunits."
                          },
                          "balanceFormatted": {
                            "type": "string",
                            "description": "The formatted category balance."
                          },
                          "budgeted": {
                            "type": "number",
                            "description": "The budgeted amount in milliunits."
                          },
                          "budgetedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted budgeted amount in milliunits."
                          },
                          "budgetedFormatted": {
                            "type": "string",
                            "description": "The formatted budgeted amount."
                          },
                          "categoryGroupId": {
                            "type": "string",
                            "description": "The parent category group ID."
                          },
                          "categoryGroupName": {
                            "type": "string",
                            "description": "The parent category group name."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the category has been deleted."
                          },
                          "goalCadence": {
                            "type": "number",
                            "description": "The goal cadence, when present."
                          },
                          "goalCadenceFrequency": {
                            "type": "number",
                            "description": "The goal cadence frequency, when present."
                          },
                          "goalCreationMonth": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The month the goal was created, when present."
                          },
                          "goalDay": {
                            "type": "number",
                            "description": "The goal day, when present."
                          },
                          "goalMonthsToBudget": {
                            "type": "number",
                            "description": "The remaining months to budget, when present."
                          },
                          "goalNeedsWholeAmount": {
                            "type": "boolean",
                            "description": "Whether the goal requires the full amount."
                          },
                          "goalOverallFunded": {
                            "type": "number",
                            "description": "The overall funded amount in milliunits, when present."
                          },
                          "goalOverallFundedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted overall funded amount in milliunits, when present."
                          },
                          "goalOverallFundedFormatted": {
                            "type": "string",
                            "description": "The formatted overall funded amount, when present."
                          },
                          "goalOverallLeft": {
                            "type": "number",
                            "description": "The remaining amount left toward the goal in milliunits, when present."
                          },
                          "goalOverallLeftCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted remaining goal amount in milliunits, when present."
                          },
                          "goalOverallLeftFormatted": {
                            "type": "string",
                            "description": "The formatted remaining goal amount, when present."
                          },
                          "goalPercentageComplete": {
                            "type": "number",
                            "description": "The percentage complete for the goal, when present."
                          },
                          "goalSnoozedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the goal was snoozed, when present."
                          },
                          "goalTarget": {
                            "type": "number",
                            "description": "The goal target amount in milliunits."
                          },
                          "goalTargetCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted goal target amount in milliunits."
                          },
                          "goalTargetDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The target date for the goal, when present."
                          },
                          "goalTargetFormatted": {
                            "type": "string",
                            "description": "The formatted goal target amount."
                          },
                          "goalTargetMonth": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The target month for the goal, when present."
                          },
                          "goalType": {
                            "type": "string",
                            "description": "The goal type, when present."
                          },
                          "goalUnderFunded": {
                            "type": "number",
                            "description": "The underfunded amount in milliunits, when present."
                          },
                          "goalUnderFundedCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted underfunded amount in milliunits, when present."
                          },
                          "goalUnderFundedFormatted": {
                            "type": "string",
                            "description": "The formatted underfunded amount, when present."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether the category is hidden."
                          },
                          "id": {
                            "type": "string",
                            "description": "The YNAB category ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The category name."
                          },
                          "note": {
                            "type": "string",
                            "description": "The category note, when present."
                          },
                          "originalCategoryGroupId": {
                            "type": "string",
                            "description": "The original category group ID, when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-payee": {
      "get": {
        "operationId": "ynab.get-payee",
        "summary": "Get Payee",
        "description": "Retrieves a payee from a YNAB plan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-payee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used or default when enabled.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used or default when enabled."
            }
          },
          {
            "name": "payeeId",
            "in": "query",
            "required": true,
            "description": "The id of the payee.",
            "schema": {
              "type": "string",
              "description": "The id of the payee."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the payee has been deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "The YNAB payee ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The payee name."
                          },
                          "transferAccountId": {
                            "type": "string",
                            "description": "The linked transfer account ID, when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-payee-location": {
      "get": {
        "operationId": "ynab.get-payee-location",
        "summary": "Get Payee Location",
        "description": "Retrieves a payee location from a YNAB plan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-payee-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used or default when enabled.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used or default when enabled."
            }
          },
          {
            "name": "payeeLocationId",
            "in": "query",
            "required": true,
            "description": "The id of the payee location.",
            "schema": {
              "type": "string",
              "description": "The id of the payee location."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the payee location has been deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "The payee location ID."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "The latitude for the payee location."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "The longitude for the payee location."
                          },
                          "payeeId": {
                            "type": "string",
                            "description": "The associated payee ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-plan": {
      "get": {
        "operationId": "ynab.get-plan",
        "summary": "Get Plan",
        "description": "Retrieves a full plan export from YNAB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-plan"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used."
            }
          },
          {
            "name": "lastKnowledgeOfServer",
            "in": "query",
            "required": false,
            "description": "Only include entities changed since this server knowledge value.",
            "schema": {
              "type": "number",
              "description": "Only include entities changed since this server knowledge value."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The accounts in the plan."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The categories in the plan."
                          },
                          "categoryGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The category groups in the plan."
                          },
                          "currencyFormat": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The plan currency format settings."
                          },
                          "dateFormat": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The plan date format settings."
                          },
                          "firstMonth": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The first month available in the plan."
                          },
                          "id": {
                            "type": "string",
                            "description": "The YNAB plan ID."
                          },
                          "lastModifiedOn": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the plan was last modified."
                          },
                          "lastMonth": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last month available in the plan."
                          },
                          "months": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The months in the plan."
                          },
                          "name": {
                            "type": "string",
                            "description": "The plan name."
                          },
                          "payeeLocations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The payee locations in the plan."
                          },
                          "payees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The payees in the plan."
                          },
                          "scheduledSubtransactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The scheduled subtransactions in the plan."
                          },
                          "scheduledTransactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The scheduled transactions in the plan."
                          },
                          "subtransactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The subtransactions in the plan."
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The transactions in the plan."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-plan-settings": {
      "get": {
        "operationId": "ynab.get-plan-settings",
        "summary": "Get Plan Settings",
        "description": "Retrieves plan settings from YNAB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-plan-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used or default when enabled.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used or default when enabled."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currencyFormat": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The plan currency format settings."
                          },
                          "dateFormat": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The plan date format settings."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-scheduled-transaction": {
      "get": {
        "operationId": "ynab.get-scheduled-transaction",
        "summary": "Get Scheduled Transaction",
        "description": "Retrieves a scheduled transaction from a YNAB plan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-scheduled-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "The id of the plan. You can also use last-used or default when enabled.",
            "schema": {
              "type": "string",
              "description": "The id of the plan. You can also use last-used or default when enabled."
            }
          },
          {
            "name": "scheduledTransactionId",
            "in": "query",
            "required": true,
            "description": "The id of the scheduled transaction.",
            "schema": {
              "type": "string",
              "description": "The id of the scheduled transaction."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string",
                            "description": "The source account ID."
                          },
                          "accountName": {
                            "type": "string",
                            "description": "The account name."
                          },
                          "amount": {
                            "type": "number",
                            "description": "The scheduled transaction amount in milliunits."
                          },
                          "amountCurrency": {
                            "type": "number",
                            "description": "The currency-adjusted scheduled transaction amount."
                          },
                          "amountFormatted": {
                            "type": "string",
                            "description": "The formatted scheduled transaction amount."
                          },
                          "categoryId": {
                            "type": "string",
                            "description": "The category ID, when present."
                          },
                          "categoryName": {
                            "type": "string",
                            "description": "The category name, when present."
                          },
                          "dateFirst": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The first scheduled date."
                          },
                          "dateNext": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The next scheduled date."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the scheduled transaction has been deleted."
                          },
                          "flagColor": {
                            "type": "string",
                            "description": "The scheduled transaction flag color, when present."
                          },
                          "flagName": {
                            "type": "string",
                            "description": "The scheduled transaction flag name, when present."
                          },
                          "frequency": {
                            "type": "string",
                            "description": "The scheduled transaction frequency."
                          },
                          "id": {
                            "type": "string",
                            "description": "The scheduled transaction ID."
                          },
                          "memo": {
                            "type": "string",
                            "description": "The scheduled transaction memo, when present."
                          },
                          "payeeId": {
                            "type": "string",
                            "description": "The payee ID, when present."
                          },
                          "payeeName": {
                            "type": "string",
                            "description": "The payee name, when present."
                          },
                          "subtransactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The scheduled subtransactions."
                          },
                          "transferAccountId": {
                            "type": "string",
                            "description": "The transfer account ID, when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-transaction": {
      "get": {
        "operationId": "ynab.get-transaction",
        "summary": "Get Transaction",
        "description": "Retrieves a transaction from a YNAB plan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountName": {
                            "type": "string",
                            "description": "The account name."
                          },
                          "amount": {
                            "type": "number",
                            "description": "The transaction amount in milliunits."
                          },
                          "amountFormatted": {
                            "type": "string",
                            "description": "The transaction amount formatted for display."
                          },
                          "approved": {
                            "type": "boolean",
                            "description": "Whether the transaction is approved."
                          },
                          "categoryName": {
                            "type": "string",
                            "description": "The category name when present."
                          },
                          "cleared": {
                            "type": "string",
                            "description": "The cleared status."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The transaction date."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the transaction has been deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "The YNAB transaction ID."
                          },
                          "payeeName": {
                            "type": "string",
                            "description": "The payee name when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ynab/latest/actions/get-user": {
      "get": {
        "operationId": "ynab.get-user",
        "summary": "Get User",
        "description": "Retrieves the authenticated user from YNAB.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ynab/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The YNAB user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
[...]
