{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ghost Universal API",
    "version": "0.0.8",
    "description": "Create, publish, and manage Ghost posts, members, and newsletters"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ghost/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ghost/latest/actions/copy-page": {
      "post": {
        "operationId": "ghost.copy-page",
        "summary": "Copy Page",
        "description": "Creates a copy of a page in Ghost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ghost/latest/actions/copy-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Ghost page ID to copy."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accessibility": {
                                  "type": "string"
                                },
                                "bio": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "bluesky": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "commentNotifications": {
                                  "type": "boolean"
                                },
                                "coverImage": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "donationNotifications": {
                                  "type": "boolean"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "facebook": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "freeMemberSignupNotification": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "instagram": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lastSeen": {
                                  "type": "string"
                                },
                                "linkedin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "location": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "mastodon": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "mentionNotifications": {
                                  "type": "boolean"
                                },
                                "metaDescription": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "metaTitle": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "milestoneNotifications": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "paidSubscriptionCanceledNotification": {
                                  "type": "boolean"
                                },
                                "paidSubscriptionStartedNotification": {
                                  "type": "boolean"
                                },
                                "profileImage": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "recommendationNotifications": {
                                  "type": "boolean"
                                },
                                "roles": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "updatedAt": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "threads": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tiktok": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tour": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "twitter": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "website": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "youtube": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "canonicalUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "codeinjectionFoot": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "codeinjectionHead": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentId": {
                            "type": "string"
                          },
                          "count": {
                            "type": "object",
                            "properties": {
                              "negativeFeedback": {
                                "type": "number"
                              },
                              "paidConversions": {
                                "type": "number"
                              },
                              "positiveFeedback": {
                                "type": "number"
                              },
                              "signups": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customExcerpt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customTemplate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "excerpt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "featured": {
                            "type": "boolean"
                          },
                          "featureImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "featureImageAlt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "featureImageCaption": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "frontmatter": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lexical": {
                            "type": "string"
                          },
                          "metaDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "metaTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mobiledoc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ogDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ogImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ogTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "primaryAuthor": {
                            "type": "object",
                            "properties": {
                              "accessibility": {
                                "type": "string"
                              },
                              "bio": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bluesky": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "commentNotifications": {
                                "type": "boolean"
                              },
                              "coverImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "donationNotifications": {
                                "type": "boolean"
                              },
                              "email": {
                                "type": "string"
                              },
                              "facebook": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "freeMemberSignupNotification": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instagram": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastSeen": {
                                "type": "string"
                              },
                              "linkedin": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "location": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mastodon": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mentionNotifications": {
                                "type": "boolean"
                              },
                              "metaDescription": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "metaTitle": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "milestoneNotifications": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "paidSubscriptionCanceledNotification": {
                                "type": "boolean"
                              },
                              "paidSubscriptionStartedNotification": {
                                "type": "boolean"
                              },
                              "profileImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recommendationNotifications": {
                                "type": "boolean"
                              },
                              "roles": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "updatedAt": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "slug": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "threads": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tiktok": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tour": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "twitter": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "website": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "youtube": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "primaryTag": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "publishedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "showTitleAndFeatureImage": {
                            "type": "boolean"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tiers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "type": "boolean"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "currency": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "monthlyPrice": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "monthlyPriceId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "name": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "trialDays": {
                                  "type": "number"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "visibility": {
                                  "type": "string"
                                },
                                "welcomePageUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "yearlyPrice": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "yearlyPriceId": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "twitterDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "twitterImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "twitterTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ghost/latest/actions/create-member": {
      "post": {
        "operationId": "ghost.create-member",
        "summary": "Create Member",
        "description": "Creates a new member in Ghost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ghost/latest/actions/create-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "members[0].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "members[0].email": {
                    "type": "string",
                    "description": "Email address for the member to create."
                  },
                  "members[0].name": {
                    "type": "string",
                    "description": "Display name for the member."
                  },
                  "members[0].labels[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional member labels to assign."
                  },
                  "members[0].newsletters[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional newsletters to subscribe the member to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attribution": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "referrerMedium": {
                                "type": "string"
                              },
                              "referrerSource": {
                                "type": "string"
                              },
                              "referrerUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "url": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "avatarImage": {
                            "type": "string"
                          },
                          "canComment": {
                            "type": "boolean"
                          },
                          "commenting": {
                            "type": "object",
                            "properties": {
                              "disabled": {
                                "type": "boolean"
                              },
                              "disabledReason": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "disabledUntil": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "comped": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "emailCount": {
                            "type": "number"
                          },
                          "emailOpenedCount": {
                            "type": "number"
                          },
                          "emailOpenRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailSuppression": {
                            "type": "object",
                            "properties": {
                              "info": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "suppressed": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "geolocation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastSeenAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "newsletters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "note": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscribed": {
                            "type": "boolean"
                          },
                          "unsubscribeUrl": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ghost/latest/actions/create-newsletter": {
      "post": {
        "operationId": "ghost.create-newsletter",
        "summary": "Create Newsletter",
        "description": "Creates a new newsletter in Ghost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ghost/latest/actions/create-newsletter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "newsletters[0].name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "optInExisting": {
                    "type": "boolean",
                    "description": "Whether existing members should be opted into the new newsletter.",
                    "example": false,
                    "x-mindcloud-advanced": true
                  },
                  "newsletters[0].name": {
                    "type": "string",
                    "description": "Public name for the newsletter.",
                    "example": "Ghost Stage 3 Test Newsletter"
                  },
                  "newsletters[0].description": {
                    "type": "string",
                    "description": "Public description for the newsletter.",
                    "example": "Temporary stage 3 newsletter"
                  },
                  "newsletters[0].senderReplyTo": {
                    "type": "string",
                    "description": "Reply-to behavior for newsletter emails.",
                    "example": "newsletter"
                  },
                  "newsletters[0].status": {
                    "type": "string",
                    "description": "Newsletter status.",
                    "example": "active"
                  },
                  "newsletters[0].subscribeOnSignup": {
                    "type": "boolean",
                    "description": "Whether new members should be subscribed on signup.",
                    "example": false
                  },
                  "newsletters[0].showHeaderName": {
                    "type": "boolean",
                    "description": "Whether to show the site name in the newsletter header.",
                    "example": false
                  },
                  "newsletters[0].titleFontCategory": {
                    "type": "string",
                    "description": "Title font category, such as sans_serif.",
                    "example": "sans_serif"
                  },
                  "newsletters[0].titleAlignment": {
                    "type": "string",
                    "description": "Title alignment, such as center.",
                    "example": "center"
                  },
                  "newsletters[0].showBadge": {
                    "type": "boolean",
                    "description": "Whether to show the newsletter badge.",
                    "example": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backgroundColor": {
                            "type": "string"
                          },
                          "bodyFontCategory": {
                            "type": "string"
                          },
                          "buttonColor": {
                            "type": "string"
                          },
                          "buttonCorners": {
                            "type": "string"
                          },
                          "buttonStyle": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dividerColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "feedbackEnabled": {
                            "type": "boolean"
                          },
                          "footerContent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "headerBackgroundColor": {
                            "type": "string"
                          },
                          "headerImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageCorners": {
                            "type": "string"
                          },
                          "linkColor": {
                            "type": "string"
                          },
                          "linkStyle": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "postTitleColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sectionTitleColor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "senderEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "senderName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "senderReplyTo": {
                            "type": "string"
                          },
                          "showBadge": {
                            "type": "boolean"
                          },
                          "showCommentCta": {
                            "type": "boolean"
                          },
                          "showExcerpt": {
                            "type": "boolean"
                          },
                          "showFeatureImage": {
                            "type": "boolean"
                          },
                          "showHeaderIcon": {
                            "type": "boolean"
                          },
                          "showHeaderName": {
                            "type": "boolean"
                          },
                          "showHeaderTitle": {
                            "type": "boolean"
                          },
                          "showLatestPosts": {
                            "type": "boolean"
                          },
                          "showPostTitleSection": {
                            "type": "boolean"
                          },
                          "showSubscriptionDetails": {
                            "type": "boolean"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscribeOnSignup": {
                            "type": "boolean"
                          },
                          "titleAlignment": {
                            "type": "string"
                          },
                          "titleFontCategory": {
                            "type": "string"
                          },
                          "titleFontWeight": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ghost/latest/actions/create-offer": {
      "post": {
        "operationId": "ghost.create-offer",
        "summary": "Create Offer",
        "description": "Creates a new offer in Ghost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ghost/latest/actions/create-offer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "offers[0].name",
                  "offers[0].code",
                  "offers[0].type",
                  "offers[0].cadence",
                  "offers[0].amount",
                  "offers[0].duration",
                  "offers[0].tier.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "offers[0].name": {
                    "type": "string"
                  },
                  "offers[0].code": {
                    "type": "string"
                  },
                  "offers[0].displayTitle": {
                    "type": "string"
                  },
                  "offers[0].displayDescription": {
                    "type": "string"
                  },
                  "offers[0].type": {
                    "type": "string"
                  },
                  "offers[0].cadence": {
                    "type": "string"
                  },
                  "offers[0].amount": {
                    "type": "number"
                  },
                  "offers[0].duration": {
                    "type": "string"
                  },
                  "offers[0].durationInMonths": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "offers[0].currencyRestriction": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "offers[0].currency": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "offers[0].status": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "offers[0].redemptionCount": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "offers[0].tier.id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "cadence": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currencyRestriction": {
                            "type": "boolean"
                          },
                          "displayDescription": {
                            "type": "string"
                          },
                          "displayTitle": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "durationInMonths": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastRedeemed": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "redemptionCount": {
                            "type": "number"
                          },
                          "redemptionType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tier": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ghost/latest/actions/create-page": {
      "post": {
        "operationId": "ghost.create-page",
        "summary": "Create Page",
        "description": "Creates a new page in Ghost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ghost/latest/actions/create-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pages[].title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pages[].title": {
                    "type": "string",
                    "description": "Title for the new Ghost page."
                  },
                  "pages[].status": {
                    "type": "string",
                    "description": "Initial status for the page."
                  },
                  "pages[].lexical": {
                    "type": "string",
                    "description": "Lexical editor JSON content for the page."
                  },
                  "pages[].html": {
                    "type": "string",
                    "description": "HTML content for the page."
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional source format for the create payload."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accessibility": {
                                  "type": "string"
                                },
                                "bio": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "bluesky": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "commentNotifications": {
                                  "type": "boolean"
                                },
                                "coverImage": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "donationNotifications": {
                                  "type": "boolean"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "facebook": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "freeMemberSignupNotification": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "instagram": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lastSeen": {
                                  "type": "string"
                                },
                                "linkedin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "location": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "mastodon": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "mentionNotifications": {
                                  "type": "boolean"
                                },
                                "metaDescription": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "metaTitle": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "milestoneNotifications": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "paidSubscriptionCanceledNotification": {
                                  "type": "boolean"
                                },
                                "paidSubscriptionStartedNotification": {
                                  "type": "boolean"
                                },
                                "profileImage": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "recommendationNotifications": {
                                  "type": "boolean"
                                },
                                "roles": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "updatedAt": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "threads": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tiktok": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "tour": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "twitter": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "website": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "youtube": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "canonicalUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "codeinjectionFoot": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "codeinjectionHead": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commentId": {
                            "type": "string"
                          },
                          "count": {
                            "type": "object",
                            "properties": {
                              "negativeFeedback": {
                                "type": "number"
                              },
                              "paidConversions": {
                                "type": "number"
                              },
                              "positiveFeedback": {
                                "type": "number"
                              },
                              "signups": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customExcerpt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customTemplate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "excerpt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "featured": {
                            "type": "boolean"
                          },
                          "featureImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "featureImageAlt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "featureImageCaption": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "frontmatter": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lexical": {
                            "type": "string"
                          },
                          "metaDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "metaTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mobiledoc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ogDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ogImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ogTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "primaryAuthor": {
                            "type": "object",
                            "properties": {
                              "accessibility": {
                                "type": "string"
                              },
                              "bio": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "bluesky": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "commentNotifications": {
                                "type": "boolean"
                              },
                              "coverImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "donationNotifications": {
                                "type": "boolean"
                              },
                              "email": {
                                "type": "string"
                              },
                              "facebook": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "freeMemberSignupNotification": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "instagram": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastSeen": {
                                "type": "string"
                              },
                              "linkedin": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "location": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mastodon": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mentionNotifications": {
                                "type": "boolean"
                              },
                              "metaDescription": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "metaTitle": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "milestoneNotifications": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "paidSubscriptionCanceledNotification": {
                                "type": "boolean"
                              },
                              "paidSubscriptionStartedNotification": {
                                "type": "boolean"
                              },
                              "profileImage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recommendationNotifications": {
                                "type": "boolean"
                              },
                              "roles": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "updatedAt": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "slug": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "threads": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tiktok": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tour": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "twitter": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "website": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "youtube": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "primaryTag": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "publishedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "showTitleAndFeatureImage": {
                            "type": "boolean"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tiers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "type": "boolean"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "currency": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "monthlyPrice": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "monthlyPriceId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "name": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "trialDays": {
                                  "type": "number"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "visibility": {
                                  "type": "string"
                                },
                                "welcomePageUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "yearlyPrice": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "yearlyPriceId": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "twitterDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "twitterImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "twitterTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ghost/latest/actions/create-post": {
      "post": {
        "operationId": "ghost.create-post",
        "summary": "Create Post",
        "description": "Creates a new post in Ghost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ghost/latest/actions/create-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "posts[].title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "posts[].title": {
                    "type": "string",
                    "description": "Title for the new post.",
                    "example": "Stage 3 Draft Post"
                  },
                  "posts[].status": {
                    "type": "string",
                    "description": "Initial status for the new post.",
                    "example": "draft"
                  },
                  "posts[].lexical": {
                    "type": "string",
                    "description": "Ghost Lexical editor payload.",
                    "example": "[object Object]"
                  },
                  "posts[].html": {
                    "type": "string",
                    "description": "HTML content for the new post when source=html.",
                    "example": "<p>Hello from MindCloud</p>"
                  },
                  "source": {
                    "type": "string",
                    "description": "Input format for the content payload.",
                    "example": "html",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accessibility": {
                                  "type": "string"
                                },
                                "bio": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "bluesky": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "commentNotifications": {
                                  "type": "boolean"
                                },
                                "coverImage": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "donationNotifications": {
                                  "type": "boolean"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "facebook": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "freeMemberSignupNotification": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "instagram": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lastSeen": {
                                  "type": "string"
                                },
                                "linkedin": {
                                  "type": "object",
[...]
