{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Dialpad Universal API",
    "version": "0.0.5",
    "description": "Manage Dialpad users, calls, messages, and contact center resources"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dialpad/latest/actions/create-channel": {
      "post": {
        "operationId": "dialpad.create-channel",
        "summary": "Create Channel",
        "description": "Creates a new channel in Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/create-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "description",
                  "privacyType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "[single-line only] The name of the channel.",
                    "example": "MindCloud Test Channel"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the channel.",
                    "example": "Temporary test channel for MindCloud verification"
                  },
                  "privacyType": {
                    "type": "string",
                    "description": "The privacy type of the channel.",
                    "enum": [
                      "private",
                      "public"
                    ]
                  },
                  "userId": {
                    "type": "number",
                    "description": "The ID of the user who owns the channel. Just for company level API key.",
                    "example": 6236728822472704,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/create-contact": {
      "post": {
        "operationId": "dialpad.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "first_name",
                  "last_name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "company_name": {
                    "type": "string",
                    "description": "The contact's company name."
                  },
                  "emails[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The contact's emails. The first email in the list is the contact's primary email."
                  },
                  "extension": {
                    "type": "string",
                    "description": "The contact's extension number."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The contact's first name."
                  },
                  "job_title": {
                    "type": "string",
                    "description": "The contact's job title."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The contact's last name."
                  },
                  "owner_id": {
                    "type": "string",
                    "description": "If provided, a local contact will be created for this user."
                  },
                  "phones[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The contact's phone numbers. The first number in the list is the contact's primary phone."
                  },
                  "urls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of websites associated with or belonging to this contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "primaryEmail": {
                            "type": "string"
                          },
                          "primaryPhone": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/create-meeting": {
      "post": {
        "operationId": "dialpad.create-meeting",
        "summary": "Create Meeting",
        "description": "Creates a new meeting in Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/create-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userId",
                  "title",
                  "meetingType",
                  "startDatetime",
                  "endDatetime"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userId": {
                    "type": "number",
                    "description": "The Dialpad user's id.",
                    "example": 6236728822472704
                  },
                  "title": {
                    "type": "string",
                    "description": "The meeting's title.",
                    "example": "MindCloud test meeting"
                  },
                  "meetingType": {
                    "type": "string",
                    "description": "The meeting's type.",
                    "enum": [
                      "CUSTOM_UNIQUE_MEETING",
                      "LARGE_MEETING",
                      "PERSONAL",
                      "UNIQUE_MEETING"
                    ]
                  },
                  "startDatetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The meeting's start time (UTC seconds-since-epoch timestamp).",
                    "example": "2026-03-20T15:00:00Z"
                  },
                  "endDatetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The meeting's end time (UTC seconds-since-epoch timestamp).",
                    "example": "2026-03-20T15:30:00Z"
                  },
                  "duration": {
                    "type": "number",
                    "description": "Duration of the meeting in seconds.",
                    "example": 1800,
                    "x-mindcloud-advanced": true
                  },
                  "callOut": {
                    "type": "boolean",
                    "description": "Whether or not the meeting should call the participants.",
                    "x-mindcloud-advanced": true
                  },
                  "recurrence": {
                    "type": "string",
                    "description": "How often the meeting should be repeated.",
                    "example": "FREQ=WEEKLY;COUNT=4",
                    "x-mindcloud-advanced": true
                  },
                  "participantsInfo[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The list of users that participate in the meeting.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callOut": {
                            "type": "boolean"
                          },
                          "dialInNumber": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "endDatetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instanceId": {
                            "type": "string"
                          },
                          "isModerated": {
                            "type": "boolean"
                          },
                          "meetingType": {
                            "type": "string"
                          },
                          "meetingUrl": {
                            "type": "string"
                          },
                          "organizerPin": {
                            "type": "string"
                          },
                          "participantPin": {
                            "type": "string"
                          },
                          "participantsInfo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "callInMethod": {
                                  "type": "string"
                                },
                                "displayName": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "isOrganizer": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "phoneNumber": {
                                  "type": "string"
                                },
                                "talkTime": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "recurrence": {
                            "type": "string"
                          },
                          "recurrenceEndDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "startDatetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/create-or-update-contact": {
      "post": {
        "operationId": "dialpad.create-or-update-contact",
        "summary": "Create or Update Contact",
        "description": "Creates or updates a contact in Dialpad by unique ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/create-or-update-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "first_name",
                  "last_name",
                  "uid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "company_name": {
                    "type": "string",
                    "description": "The contact's company name."
                  },
                  "emails[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The contact's emails. The first email in the list is the contact's primary email."
                  },
                  "extension": {
                    "type": "string",
                    "description": "The contact's extension number."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The contact's first name."
                  },
                  "job_title": {
                    "type": "string",
                    "description": "The contact's job title."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The contact's last name."
                  },
                  "phones[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The contact's phone numbers. The first number in the list is the contact's primary phone."
                  },
                  "uid": {
                    "type": "string",
                    "description": "The unique id to be included as part of the contact's generated id."
                  },
                  "urls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of websites associated with or belonging to this contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "primaryEmail": {
                            "type": "string"
                          },
                          "primaryPhone": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/create-user": {
      "post": {
        "operationId": "dialpad.create-user",
        "summary": "Create User",
        "description": "Creates a new user in Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "office_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "auto_assign": {
                    "type": "boolean",
                    "description": "If set to true, a number will be automatically assigned.",
                    "default": false
                  },
                  "email": {
                    "type": "string",
                    "description": "The user's email."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The user's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The user's last name."
                  },
                  "license": {
                    "type": "string",
                    "description": "The user's license type. This affects billing for the user.",
                    "default": "talk"
                  },
                  "office_id": {
                    "type": "number",
                    "description": "The user's office id."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "dateAdded": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "doNotDisturb": {
                            "type": "boolean"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hasRbac": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "internationalDialingEnabled": {
                            "type": "boolean"
                          },
                          "isAdmin": {
                            "type": "boolean"
                          },
                          "isAvailable": {
                            "type": "boolean"
                          },
                          "isOnDuty": {
                            "type": "boolean"
                          },
                          "isOnline": {
                            "type": "boolean"
                          },
                          "isSuperAdmin": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "license": {
                            "type": "string"
                          },
                          "muted": {
                            "type": "boolean"
                          },
                          "officeId": {
                            "type": "string"
                          },
                          "onboardingCompleted": {
                            "type": "boolean"
                          },
                          "remoteService": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "voicemail": {
                            "type": "object",
                            "properties": {
                              "isDefaultVoicemail": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "voicemailNotificationsEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/get-call": {
      "get": {
        "operationId": "dialpad.get-call",
        "summary": "Get Call",
        "description": "Retrieves detailed information for a concluded call in Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/get-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The call's id.",
            "schema": {
              "type": "number",
              "description": "The call's id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callId": {
                            "type": "string",
                            "description": "The call ID."
                          },
                          "contact": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The contact involved in the call."
                          },
                          "dateConnected": {
                            "type": "number",
                            "description": "Timestamp when the call connected."
                          },
                          "dateEnded": {
                            "type": "number",
                            "description": "Timestamp when the call ended."
                          },
                          "dateStarted": {
                            "type": "number",
                            "description": "Timestamp when the call began in Dialpad."
                          },
                          "direction": {
                            "type": "string",
                            "description": "Call direction."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Duration of the call in milliseconds."
                          },
                          "externalNumber": {
                            "type": "string",
                            "description": "The phone number external to the organization."
                          },
                          "internalNumber": {
                            "type": "string",
                            "description": "The phone number internal to the organization."
                          },
                          "isTransferred": {
                            "type": "boolean",
                            "description": "Whether the call was transferred."
                          },
                          "state": {
                            "type": "string",
                            "description": "Current call state."
                          },
                          "target": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The call target."
                          },
                          "totalDuration": {
                            "type": "number",
                            "description": "Total duration including ring time."
                          },
                          "transcriptionText": {
                            "type": "string",
                            "description": "Text of call transcription when available."
                          },
                          "wasRecorded": {
                            "type": "boolean",
                            "description": "Whether the call was recorded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/get-call-ai-recap": {
      "get": {
        "operationId": "dialpad.get-call-ai-recap",
        "summary": "Get Call AI Recap",
        "description": "Retrieves an AI recap for a Dialpad call.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/get-call-ai-recap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The call's id.",
            "schema": {
              "type": "number",
              "description": "The call's id."
            }
          },
          {
            "name": "summary_format",
            "in": "query",
            "required": false,
            "description": "The format of the summary to retrieve.",
            "schema": {
              "type": "string",
              "description": "The format of the summary to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Action items extracted from the call."
                          },
                          "callId": {
                            "type": "string",
                            "description": "The ID of the call for which the AI recap was generated."
                          },
                          "dateCreated": {
                            "type": "number",
                            "description": "When the AI recap was created, in milliseconds."
                          },
                          "dateModified": {
                            "type": "number",
                            "description": "When the AI recap was last modified, in milliseconds."
                          },
                          "disposition": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Disposition content for the call."
                          },
                          "isInternalCall": {
                            "type": "boolean",
                            "description": "Whether the call was internal."
                          },
                          "purposes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Purpose items extracted from the call."
                          },
                          "source": {
                            "type": "string",
                            "description": "The language model source."
                          },
                          "summary": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The summary content in the requested format."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/get-call-transcript": {
      "get": {
        "operationId": "dialpad.get-call-transcript",
        "summary": "Get Call Transcript",
        "description": "Retrieves a Dialpad AI transcript for a call.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/get-call-transcript"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_id",
            "in": "query",
            "required": true,
            "description": "The call's id.",
            "schema": {
              "type": "number",
              "description": "The call's id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callId": {
                            "type": "string",
                            "description": "The call ID."
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Transcript lines for the call."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/get-channel": {
      "get": {
        "operationId": "dialpad.get-channel",
        "summary": "Get Channel",
        "description": "Retrieves detailed channel information from Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/get-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The channel id.",
            "schema": {
              "type": "string",
              "description": "The channel id.",
              "example": "1234567890"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/get-contact": {
      "get": {
        "operationId": "dialpad.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves detailed contact information from Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The contact's id.",
            "schema": {
              "type": "string",
              "description": "The contact's id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "primaryEmail": {
                            "type": "string"
                          },
                          "primaryPhone": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/get-current-user": {
      "get": {
        "operationId": "dialpad.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adminOfficeIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "dateActive": {
                            "type": "string"
                          },
                          "dateAdded": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "doNotDisturb": {
                            "type": "boolean"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hasRbac": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "internationalDialingEnabled": {
                            "type": "boolean"
                          },
                          "isAdmin": {
                            "type": "boolean"
                          },
                          "isAvailable": {
                            "type": "boolean"
                          },
                          "isOnDuty": {
                            "type": "boolean"
                          },
                          "isOnline": {
                            "type": "boolean"
                          },
                          "isSuperAdmin": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "license": {
                            "type": "string"
                          },
                          "muted": {
                            "type": "boolean"
                          },
                          "officeId": {
                            "type": "string"
                          },
                          "onboardingCompleted": {
                            "type": "boolean"
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "remoteService": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "voicemail": {
                            "type": "object",
                            "properties": {
                              "isDefaultVoicemail": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "voicemailNotificationsEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dialpad/latest/actions/get-meeting": {
      "get": {
        "operationId": "dialpad.get-meeting",
        "summary": "Get Meeting",
        "description": "Retrieves detailed meeting information from Dialpad.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dialpad/latest/actions/get-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The meeting room's ID.",
            "schema": {
              "type": "string",
              "description": "The meeting room's ID.",
              "example": "1234567890"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "The Dialpad user's id.",
            "schema": {
              "type": "number",
              "description": "The Dialpad user's id.",
              "example": 6236728822472704,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callOut": {
                            "type": "boolean"
                          },
                          "dialInNumber": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "endDatetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instanceId": {
                            "type": "string"
                          },
                          "isModerated": {
                            "type": "boolean"
                          },
                          "meetingType": {
                            "type": "string"
                          },
                          "meetingUrl": {
                            "type": "string"
                          },
                          "organizerPin": {
                            "type": "string"
                          },
                          "participantPin": {
                            "type": "string"
                          },
                          "participantsInfo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "callInMethod": {
                                  "type": "string"
                                },
                                "displayName": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "isOrganizer": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "phoneNumber": {
                                  "type": "string"
                                },
                                "talkTime": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "recurrence": {
                            "type": "string"
                          },
                          "recurrenceEndDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "startDatetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
[...]
