{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Humanitix Universal API",
    "version": "0.0.5",
    "description": "The Humanitix Public API for fetching event, order, ticket, or tag information."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/humanitix/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/humanitix/latest/actions/get-event": {
      "get": {
        "operationId": "humanitix.get-event",
        "summary": "Get Event",
        "description": "Retrieves an event from Humanitix by event ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/humanitix/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The Humanitix event ID.",
            "schema": {
              "type": "string",
              "description": "The Humanitix event ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalQuestions": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "affiliateCodes": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "classification": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "subcategory": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "dates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "boolean"
                                },
                                "disabled": {
                                  "type": "boolean"
                                },
                                "endDate": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "startDate": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "eventLocation": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "addressComponents": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "latLng": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "eventModules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "children": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "component": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isEventDescription": {
                                  "type": "boolean"
                                },
                                "moduleType": {
                                  "type": "string"
                                },
                                "props": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "content": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "keywords": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "location": {
                            "type": "string"
                          },
                          "markedAsSoldOut": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "packagedTickets": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "paymentOptions": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "refundSettings": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "customRefundPolicy": {
                                    "type": "string"
                                  },
                                  "refundPolicy": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "pricing": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "maximumPrice": {
                                "type": "number"
                              },
                              "minimumPrice": {
                                "type": "number"
                              }
                            }
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "sharingDescription": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "suspendSales": {
                            "type": "boolean"
                          },
                          "tagIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "ticketTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "boolean"
                                },
                                "disabled": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isDonation": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "totalCapacity": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/humanitix/latest/actions/get-order": {
      "get": {
        "operationId": "humanitix.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order for an event from Humanitix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/humanitix/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The Humanitix event ID.",
            "schema": {
              "type": "string",
              "description": "The Humanitix event ID."
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "The Humanitix order ID.",
            "schema": {
              "type": "string",
              "description": "The Humanitix order ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/humanitix/latest/actions/list-events": {
      "get": {
        "operationId": "humanitix.list-events",
        "summary": "List Events",
        "description": "Retrieves events from Humanitix for the connected account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/humanitix/latest/actions/list-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "additionalQuestions": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "affiliateCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "classification": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "category": {
                                      "type": "string"
                                    },
                                    "subcategory": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "dates": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "deleted": {
                                        "type": "boolean"
                                      },
                                      "disabled": {
                                        "type": "boolean"
                                      },
                                      "endDate": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "startDate": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "description": {
                                  "type": "string"
                                },
                                "endDate": {
                                  "type": "string"
                                },
                                "eventLocation": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "addressComponents": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "latLng": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "eventModules": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "children": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "component": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "isEventDescription": {
                                        "type": "boolean"
                                      },
                                      "moduleType": {
                                        "type": "string"
                                      },
                                      "props": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "content": {
                                            "type": "string"
                                          },
                                          "title": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "keywords": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "location": {
                                  "type": "string"
                                },
                                "markedAsSoldOut": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "packagedTickets": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "paymentOptions": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "refundSettings": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "customRefundPolicy": {
                                          "type": "string"
                                        },
                                        "refundPolicy": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "pricing": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "maximumPrice": {
                                      "type": "number"
                                    },
                                    "minimumPrice": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "public": {
                                  "type": "boolean"
                                },
                                "published": {
                                  "type": "boolean"
                                },
                                "sharingDescription": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "startDate": {
                                  "type": "string"
                                },
                                "suspendSales": {
                                  "type": "boolean"
                                },
                                "tagIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "ticketTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "deleted": {
                                        "type": "boolean"
                                      },
                                      "disabled": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "isDonation": {
                                        "type": "boolean"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "price": {
                                        "type": "number"
                                      },
                                      "quantity": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "timezone": {
                                  "type": "string"
                                },
                                "totalCapacity": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/humanitix/latest/actions/list-orders": {
      "get": {
        "operationId": "humanitix.list-orders",
        "summary": "List Orders",
        "description": "Retrieves orders for an event from Humanitix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/humanitix/latest/actions/list-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The Humanitix event ID.",
            "schema": {
              "type": "string",
              "description": "The Humanitix event ID."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orders": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
