{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "URL.dev Universal API",
    "version": "0.0.2",
    "description": "Use hosted tools through APIs and MCP servers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/uRLdev/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/uRLdev/latest/actions/get-current-weather": {
      "get": {
        "operationId": "uRLdev.get-current-weather",
        "summary": "Get Current Weather",
        "description": "Retrieves current weather for coordinates from URL.dev.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uRLdev/latest/actions/get-current-weather"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate for the current weather lookup.",
            "schema": {
              "type": "number",
              "description": "Latitude coordinate for the current weather lookup.",
              "default": 37.7749
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate for the current weather lookup.",
            "schema": {
              "type": "number",
              "description": "Longitude coordinate for the current weather lookup.",
              "default": -122.4194
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "current": {
                            "type": "object",
                            "properties": {
                              "apparentTemperature": {
                                "type": "number"
                              },
                              "cloudCover": {
                                "type": "number"
                              },
                              "interval": {
                                "type": "number"
                              },
                              "isDay": {
                                "type": "number"
                              },
                              "precipitation": {
                                "type": "number"
                              },
                              "pressureMsl": {
                                "type": "number"
                              },
                              "rain": {
                                "type": "number"
                              },
                              "relativeHumidity2m": {
                                "type": "number"
                              },
                              "showers": {
                                "type": "number"
                              },
                              "snowfall": {
                                "type": "number"
                              },
                              "surfacePressure": {
                                "type": "number"
                              },
                              "temperature2m": {
                                "type": "number"
                              },
                              "time": {
                                "type": "string"
                              },
                              "weatherCode": {
                                "type": "number"
                              },
                              "weatherDescription": {
                                "type": "string"
                              },
                              "windDirection10m": {
                                "type": "number"
                              },
                              "windGusts10m": {
                                "type": "number"
                              },
                              "windSpeed10m": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "currentUnits": {
                            "type": "object",
                            "properties": {
                              "apparentTemperature": {
                                "type": "string"
                              },
                              "cloudCover": {
                                "type": "string"
                              },
                              "interval": {
                                "type": "string"
                              },
                              "isDay": {
                                "type": "string"
                              },
                              "precipitation": {
                                "type": "string"
                              },
                              "pressureMsl": {
                                "type": "string"
                              },
                              "rain": {
                                "type": "string"
                              },
                              "relativeHumidity2m": {
                                "type": "string"
                              },
                              "showers": {
                                "type": "string"
                              },
                              "snowfall": {
                                "type": "string"
                              },
                              "surfacePressure": {
                                "type": "string"
                              },
                              "temperature2m": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              },
                              "weatherCode": {
                                "type": "string"
                              },
                              "windDirection10m": {
                                "type": "string"
                              },
                              "windGusts10m": {
                                "type": "string"
                              },
                              "windSpeed10m": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "elevation": {
                            "type": "number"
                          },
                          "generationtimeMs": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "timezoneAbbreviation": {
                            "type": "string"
                          },
                          "utcOffsetSeconds": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
