{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Streak Universal API",
    "version": "0.0.7",
    "description": "Manage sales pipelines and customer relationships in Gmail"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/streak/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/streak/latest/actions/create-box": {
      "post": {
        "operationId": "streak.create-box",
        "summary": "Create Box",
        "description": "Creates a new box in Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/create-box"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pipelineKey",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pipelineKey": {
                    "type": "string",
                    "description": "The key of the pipeline the box should belong to."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of this box."
                  },
                  "stageKey": {
                    "type": "string",
                    "description": "The stage of this box."
                  },
                  "notes": {
                    "type": "string",
                    "description": "The notes on the box.",
                    "x-mindcloud-advanced": true
                  },
                  "assignedToSharingEntries": {
                    "type": "string",
                    "description": "The member(s) of your team this box will be assigned to. This must be an array of objects with `email` properties encoded as a JSON string.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedToSharingEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The users assigned to the box."
                          },
                          "boxKey": {
                            "type": "string",
                            "description": "The box identifier."
                          },
                          "callLogCount": {
                            "type": "number",
                            "description": "The number of call logs on the box."
                          },
                          "commentCount": {
                            "type": "number",
                            "description": "The number of comments on the box."
                          },
                          "creationSourceType": {
                            "type": "string",
                            "description": "How the box was created."
                          },
                          "creationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box was created."
                          },
                          "creatorKey": {
                            "type": "string",
                            "description": "The user who created the box."
                          },
                          "creatorSharingEntry": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The creator sharing entry."
                          },
                          "emailAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Email addresses associated with the box."
                          },
                          "emailAddressesAutoExtracted": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Email addresses auto-extracted for the box."
                          },
                          "emailAddressesBlacklist": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Blacklisted email addresses for the box."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The box field values keyed by field ID."
                          },
                          "fieldsAutofillStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Autofill status keyed by field ID."
                          },
                          "fileCount": {
                            "type": "number",
                            "description": "The number of files linked to the box."
                          },
                          "followerCount": {
                            "type": "number",
                            "description": "The number of followers on the box."
                          },
                          "followerKeys": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The follower user keys."
                          },
                          "followerSharingEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The users following the box."
                          },
                          "freshness": {
                            "type": "number",
                            "description": "The freshness score for the box."
                          },
                          "gmailThreadCount": {
                            "type": "number",
                            "description": "The number of Gmail threads linked to the box."
                          },
                          "incompleteTaskAssigneeKeySet": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user keys assigned to incomplete tasks."
                          },
                          "incompleteTaskAssigneeSharingEntrySet": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The sharing entries for incomplete task assignees."
                          },
                          "key": {
                            "type": "string",
                            "description": "The box key alias."
                          },
                          "lastSavedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box was last saved."
                          },
                          "lastStageChangeTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box last changed stages."
                          },
                          "lastUpdatedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box was last updated."
                          },
                          "linkedBoxKeys": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The linked box keys."
                          },
                          "meetingNotesCount": {
                            "type": "number",
                            "description": "The number of meeting notes on the box."
                          },
                          "name": {
                            "type": "string",
                            "description": "The box name."
                          },
                          "notes": {
                            "type": "string",
                            "description": "The notes of the box."
                          },
                          "overdueTaskAssigneeKeySet": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user keys assigned to overdue tasks."
                          },
                          "overdueTaskAssigneeSharingEntrySet": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The sharing entries for overdue task assignees."
                          },
                          "pipelineKey": {
                            "type": "string",
                            "description": "The pipeline the box belongs to."
                          },
                          "stageHistoryEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The box stage history entries."
                          },
                          "stageKey": {
                            "type": "string",
                            "description": "The current stage key."
                          },
                          "taskAssigneeKeySet": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user keys assigned to tasks."
                          },
                          "taskAssigneeSharingEntrySet": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The sharing entries for task assignees."
                          },
                          "taskCompleteCount": {
                            "type": "number",
                            "description": "The number of completed tasks."
                          },
                          "taskIncompleteCount": {
                            "type": "number",
                            "description": "The number of incomplete tasks."
                          },
                          "taskOverdueCount": {
                            "type": "number",
                            "description": "The number of overdue tasks."
                          },
                          "taskPercentageComplete": {
                            "type": "number",
                            "description": "The percentage of tasks completed."
                          },
                          "taskTotal": {
                            "type": "number",
                            "description": "The total number of tasks."
                          },
                          "totalCallLogDuration": {
                            "type": "number",
                            "description": "The total duration of call logs."
                          },
                          "totalMeetingNotesDuration": {
                            "type": "number",
                            "description": "The total duration of meeting notes."
                          },
                          "totalNumberOfEmails": {
                            "type": "number",
                            "description": "The total number of emails on the box."
                          },
                          "totalNumberOfLastSentEmailLinksClicks": {
                            "type": "number",
                            "description": "The total number of link clicks on the last sent email."
                          },
                          "totalNumberOfLastSentEmailViews": {
                            "type": "number",
                            "description": "The total number of views on the last sent email."
                          },
                          "totalNumberOfReceivedEmails": {
                            "type": "number",
                            "description": "The total number of received emails on the box."
                          },
                          "totalNumberOfSentEmails": {
                            "type": "number",
                            "description": "The total number of sent emails on the box."
                          },
                          "totalNumberOfSentEmailsViews": {
                            "type": "number",
                            "description": "The total number of views across sent emails."
                          },
                          "violations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Any recorded box violations."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/create-comment": {
      "post": {
        "operationId": "streak.create-comment",
        "summary": "Create Comment",
        "description": "Creates a new comment in Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "boxKey",
                  "message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "boxKey": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "boxKey": {
                            "type": "string",
                            "description": "The box that owns the comment."
                          },
                          "commentKey": {
                            "type": "string",
                            "description": "The comment key."
                          },
                          "creatorKey": {
                            "type": "string",
                            "description": "The user who created the comment."
                          },
                          "key": {
                            "type": "string",
                            "description": "The comment key alias."
                          },
                          "lastSavedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the comment was last saved."
                          },
                          "message": {
                            "type": "string",
                            "description": "The comment message."
                          },
                          "newsfeedEntryKey": {
                            "type": "string",
                            "description": "The related newsfeed entry key."
                          },
                          "pipelineKey": {
                            "type": "string",
                            "description": "The pipeline that owns the comment."
                          },
                          "reactionSummary": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Reaction summary entries."
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the comment was created."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/create-contact": {
      "post": {
        "operationId": "streak.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "teamKey",
                  "emailAddresses"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "teamKey": {
                    "type": "string",
                    "description": "Team key."
                  },
                  "emailAddresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Email addresses to associate with the contact."
                  },
                  "getIfExisting": {
                    "type": "boolean",
                    "description": "If true, return an existing contact when the email already exists."
                  },
                  "givenName": {
                    "type": "string",
                    "description": "First name."
                  },
                  "familyName": {
                    "type": "string",
                    "description": "Last name."
                  },
                  "title": {
                    "type": "string",
                    "description": "Contact title or description."
                  },
                  "other": {
                    "type": "string",
                    "description": "Notes or other uncategorized information."
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Addresses to associate with the contact."
                  },
                  "phoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers to associate with the contact."
                  },
                  "twitterHandle": {
                    "type": "string",
                    "description": "Twitter handle."
                  },
                  "facebookHandle": {
                    "type": "string",
                    "description": "Facebook handle."
                  },
                  "linkedinHandle": {
                    "type": "string",
                    "description": "LinkedIn handle."
                  },
                  "photoUrl": {
                    "type": "string",
                    "description": "Photo URL."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contact addresses."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was created."
                          },
                          "creatorKey": {
                            "type": "string",
                            "description": "The user who created the contact."
                          },
                          "emailAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contact email addresses."
                          },
                          "familyName": {
                            "type": "string",
                            "description": "The contact's last name."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values keyed by field ID."
                          },
                          "givenName": {
                            "type": "string",
                            "description": "The contact's first name."
                          },
                          "key": {
                            "type": "string",
                            "description": "The contact key."
                          },
                          "lastEnrichmentTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was last enriched."
                          },
                          "lastSavedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was last saved."
                          },
                          "lastSavedUserKey": {
                            "type": "string",
                            "description": "The user who last saved the contact."
                          },
                          "other": {
                            "type": "string",
                            "description": "Additional notes stored on the contact."
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contact phone numbers."
                          },
                          "teamKey": {
                            "type": "string",
                            "description": "The team the contact belongs to."
                          },
                          "versionTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the current contact version was written."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/create-task": {
      "post": {
        "operationId": "streak.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "boxKey",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "boxKey": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "assignedToSharingEntries[].email": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedToSharingEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Assignees for the task."
                          },
                          "boxKey": {
                            "type": "string",
                            "description": "The box that owns the task."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the task was created."
                          },
                          "creatorKey": {
                            "type": "string",
                            "description": "The user who created the task."
                          },
                          "creatorSharingEntry": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The sharing entry for the task creator."
                          },
                          "isDraft": {
                            "type": "boolean",
                            "description": "Whether the task is still a draft."
                          },
                          "key": {
                            "type": "string",
                            "description": "The task key."
                          },
                          "lastSavedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the task was last saved."
                          },
                          "lastStatusChangeDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the task status last changed."
                          },
                          "pipelineKey": {
                            "type": "string",
                            "description": "The pipeline that owns the task."
                          },
                          "reminderStatus": {
                            "type": "string",
                            "description": "The reminder status."
                          },
                          "sortOrder": {
                            "type": "string",
                            "description": "The task ordering token."
                          },
                          "status": {
                            "type": "string",
                            "description": "The task status."
                          },
                          "text": {
                            "type": "string",
                            "description": "The task text."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/get-box": {
      "get": {
        "operationId": "streak.get-box",
        "summary": "Get Box",
        "description": "Retrieves a box from Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/get-box"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boxKey",
            "in": "query",
            "required": true,
            "description": "The key of the box to retrieve.",
            "schema": {
              "type": "string",
              "description": "The key of the box to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedToSharingEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The users assigned to the box."
                          },
                          "boxKey": {
                            "type": "string",
                            "description": "The box identifier."
                          },
                          "callLogCount": {
                            "type": "number",
                            "description": "The number of call logs on the box."
                          },
                          "commentCount": {
                            "type": "number",
                            "description": "The number of comments on the box."
                          },
                          "creationSourceType": {
                            "type": "string",
                            "description": "How the box was created."
                          },
                          "creationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box was created."
                          },
                          "creatorKey": {
                            "type": "string",
                            "description": "The user who created the box."
                          },
                          "creatorSharingEntry": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The creator sharing entry."
                          },
                          "emailAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Email addresses associated with the box."
                          },
                          "emailAddressesAutoExtracted": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Email addresses auto-extracted for the box."
                          },
                          "emailAddressesBlacklist": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Blacklisted email addresses for the box."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The box field values keyed by field ID."
                          },
                          "fieldsAutofillStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Autofill status keyed by field ID."
                          },
                          "fileCount": {
                            "type": "number",
                            "description": "The number of files linked to the box."
                          },
                          "followerCount": {
                            "type": "number",
                            "description": "The number of followers on the box."
                          },
                          "followerKeys": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The follower user keys."
                          },
                          "followerSharingEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The users following the box."
                          },
                          "freshness": {
                            "type": "number",
                            "description": "The freshness score for the box."
                          },
                          "gmailThreadCount": {
                            "type": "number",
                            "description": "The number of Gmail threads linked to the box."
                          },
                          "incompleteTaskAssigneeKeySet": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user keys assigned to incomplete tasks."
                          },
                          "incompleteTaskAssigneeSharingEntrySet": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The sharing entries for incomplete task assignees."
                          },
                          "key": {
                            "type": "string",
                            "description": "The box key alias."
                          },
                          "lastSavedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box was last saved."
                          },
                          "lastStageChangeTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box last changed stages."
                          },
                          "lastUpdatedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box was last updated."
                          },
                          "linkedBoxKeys": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The linked box keys."
                          },
                          "meetingNotesCount": {
                            "type": "number",
                            "description": "The number of meeting notes on the box."
                          },
                          "name": {
                            "type": "string",
                            "description": "The box name."
                          },
                          "notes": {
                            "type": "string",
                            "description": "The notes of the box."
                          },
                          "overdueTaskAssigneeKeySet": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user keys assigned to overdue tasks."
                          },
                          "overdueTaskAssigneeSharingEntrySet": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The sharing entries for overdue task assignees."
                          },
                          "pipelineKey": {
                            "type": "string",
                            "description": "The pipeline the box belongs to."
                          },
                          "stageHistoryEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The box stage history entries."
                          },
                          "stageKey": {
                            "type": "string",
                            "description": "The current stage key."
                          },
                          "taskAssigneeKeySet": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user keys assigned to tasks."
                          },
                          "taskAssigneeSharingEntrySet": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The sharing entries for task assignees."
                          },
                          "taskCompleteCount": {
                            "type": "number",
                            "description": "The number of completed tasks."
                          },
                          "taskIncompleteCount": {
                            "type": "number",
                            "description": "The number of incomplete tasks."
                          },
                          "taskOverdueCount": {
                            "type": "number",
                            "description": "The number of overdue tasks."
                          },
                          "taskPercentageComplete": {
                            "type": "number",
                            "description": "The percentage of tasks completed."
                          },
                          "taskTotal": {
                            "type": "number",
                            "description": "The total number of tasks."
                          },
                          "totalCallLogDuration": {
                            "type": "number",
                            "description": "The total duration of call logs."
                          },
                          "totalMeetingNotesDuration": {
                            "type": "number",
                            "description": "The total duration of meeting notes."
                          },
                          "totalNumberOfEmails": {
                            "type": "number",
                            "description": "The total number of emails on the box."
                          },
                          "totalNumberOfLastSentEmailLinksClicks": {
                            "type": "number",
                            "description": "The total number of link clicks on the last sent email."
                          },
                          "totalNumberOfLastSentEmailViews": {
                            "type": "number",
                            "description": "The total number of views on the last sent email."
                          },
                          "totalNumberOfReceivedEmails": {
                            "type": "number",
                            "description": "The total number of received emails on the box."
                          },
                          "totalNumberOfSentEmails": {
                            "type": "number",
                            "description": "The total number of sent emails on the box."
                          },
                          "totalNumberOfSentEmailsViews": {
                            "type": "number",
                            "description": "The total number of views across sent emails."
                          },
                          "violations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Any recorded box violations."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/get-box-timeline": {
      "get": {
        "operationId": "streak.get-box-timeline",
        "summary": "Get Box Timeline",
        "description": "Retrieves timeline entries for a box in Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/get-box-timeline"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boxKey",
            "in": "query",
            "required": true,
            "description": "The key of the box to get the timeline for.",
            "schema": {
              "type": "string",
              "description": "The key of the box to get the timeline for."
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "The timeline entity types to include.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CALL_LOGS",
                  "COMMENTS",
                  "EMAILS",
                  "FILES",
                  "HANGOUTS_CHAT",
                  "MEETING_NOTES",
                  "NEWSFEED_BOX_CREATION_MOVE",
                  "NEWSFEED_BOX_EDIT"
                ]
              },
              "description": "The timeline entity types to include.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Whether to return results in ascending or descending timestamp order.",
            "schema": {
              "type": "string",
              "description": "Whether to return results in ascending or descending timestamp order.",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startTimestamp",
            "in": "query",
            "required": false,
            "description": "The timestamp boundary for returned results.",
            "schema": {
              "type": "number",
              "description": "The timestamp boundary for returned results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/get-contact": {
      "get": {
        "operationId": "streak.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactKey",
            "in": "query",
            "required": true,
            "description": "Contact key.",
            "schema": {
              "type": "string",
              "description": "Contact key."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contact addresses."
                          },
                          "contactLinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Links from this contact to related contacts."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was created."
                          },
                          "creatorKey": {
                            "type": "string",
                            "description": "The user who created the contact."
                          },
                          "domains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Domains associated with the contact."
                          },
                          "emailAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contact email addresses."
                          },
                          "familyName": {
                            "type": "string",
                            "description": "The contact's last name."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values keyed by field ID."
                          },
                          "givenName": {
                            "type": "string",
                            "description": "The contact's first name."
                          },
                          "key": {
                            "type": "string",
                            "description": "The contact key."
                          },
                          "lastEnrichmentTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was last enriched."
                          },
                          "lastSavedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the contact was last saved."
                          },
                          "lastSavedUserKey": {
                            "type": "string",
                            "description": "The user who last saved the contact."
                          },
                          "normalizedDomains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Normalized domains associated with the contact."
                          },
                          "orgLinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Links from this contact to related organizations."
                          },
                          "other": {
                            "type": "string",
                            "description": "Additional notes stored on the contact."
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The contact phone numbers."
                          },
                          "teamKey": {
                            "type": "string",
                            "description": "The team the contact belongs to."
                          },
                          "versionTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the current contact version was written."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/get-current-user": {
      "get": {
        "operationId": "streak.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Streak.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canceledTrial": {
                            "type": "boolean"
                          },
                          "creationTimestamp": {
                            "type": "number"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstExtension": {
                            "type": "string"
                          },
                          "firstOauthTimestamp": {
                            "type": "number"
                          },
                          "googleAnalyticsClientId": {
                            "type": "string"
                          },
                          "googleProfileFirstName": {
                            "type": "string"
                          },
                          "googleProfileFullName": {
                            "type": "string"
                          },
                          "googleProfileGender": {
                            "type": "string"
                          },
                          "googleProfileId": {
                            "type": "string"
                          },
                          "googleProfileLastName": {
                            "type": "string"
                          },
                          "googleProfileLink": {
                            "type": "string"
                          },
                          "googleProfileLocale": {
                            "type": "string"
                          },
                          "googleProfilePhotoUrl": {
                            "type": "string"
                          },
                          "hasCancellationDiscount": {
                            "type": "boolean"
                          },
                          "intercomHmac": {
                            "type": "string"
                          },
                          "isOauthComplete": {
                            "type": "boolean"
                          },
                          "key": {
                            "type": "string"
                          },
                          "lastProPlusTrialStart": {
                            "type": "number"
                          },
                          "lastSavedTimestamp": {
                            "type": "number"
                          },
                          "lastSeenTimestamp": {
                            "type": "number"
                          },
                          "lastTrialLength": {
                            "type": "number"
                          },
                          "lastTrialStart": {
                            "type": "number"
                          },
                          "lastUpdatedTimestamp": {
                            "type": "number"
                          },
                          "onTrialWithoutCreditCard": {
                            "type": "boolean"
                          },
                          "orgKey": {
                            "type": "string"
                          },
                          "timezoneId": {
                            "type": "string"
                          },
                          "tourId": {
                            "type": "string"
                          },
                          "usedPlatforms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "userKey": {
                            "type": "string"
                          },
                          "userSettingsKey": {
                            "type": "string"
                          },
                          "userSource": {
                            "type": "string"
                          },
                          "wantsTaskDigestEmail": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streak/latest/actions/get-multiple-boxes": {
      "get": {
        "operationId": "streak.get-multiple-boxes",
        "summary": "Get multiple boxes",
        "description": "Retrieves multiple boxes from a Streak pipeline.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streak/latest/actions/get-multiple-boxes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineKey",
            "in": "query",
            "required": true,
            "description": "The key of the pipeline containing the boxes to retrieve.",
            "schema": {
              "type": "string",
              "description": "The key of the pipeline containing the boxes to retrieve."
            }
          },
          {
            "name": "boxKeys[]",
            "in": "query",
            "required": true,
            "description": "The box keys to retrieve.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The box keys to retrieve."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedToSharingEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The users assigned to the box."
                          },
                          "boxKey": {
                            "type": "string",
                            "description": "The box identifier."
                          },
                          "callLogCount": {
                            "type": "number",
                            "description": "The number of call logs on the box."
                          },
                          "commentCount": {
                            "type": "number",
                            "description": "The number of comments on the box."
                          },
                          "creationSourceType": {
                            "type": "string",
                            "description": "How the box was created."
                          },
                          "creationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the box was created."
                          },
                          "creatorKey": {
                            "type": "string",
                            "description": "The user who created the box."
                          },
                          "creatorSharingEntry": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The creator sharing entry."
                          },
                          "emailAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Email addresses associated with the box."
                          },
                          "emailAddressesAutoExtracted": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
[...]
