{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Wodely Universal API",
    "version": "0.0.7",
    "description": "Manage last-mile delivery operations and commerce order integrations with Wodely"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/wodely/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/wodely/latest/actions/assign-tasks-to-driver-in-batch": {
      "put": {
        "operationId": "wodely.assign-tasks-to-driver-in-batch",
        "summary": "Assign Tasks to Driver in Batch",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/assign-tasks-to-driver-in-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "assignments[].taskGuid",
                  "assignments[].driverUserId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assignments[].taskGuid": {
                    "type": "string",
                    "description": "Task Id.",
                    "example": "DD2A6408A6"
                  },
                  "assignments[].driverUserId": {
                    "type": "string",
                    "description": "Driver user id, username, or email.",
                    "example": "driver@example.com"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/create-cloudwaitress-order": {
      "post": {
        "operationId": "wodely.create-cloudwaitress-order",
        "summary": "Create CloudWaitress Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/create-cloudwaitress-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "secret": {
                    "type": "string",
                    "description": "CloudWaitress webhook secret value."
                  },
                  "event": {
                    "type": "string",
                    "description": "CloudWaitress webhook event identifier."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "CloudWaitress webhook event ID."
                  },
                  "restaurantId": {
                    "type": "string",
                    "description": "CloudWaitress restaurant identifier."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "CloudWaitress webhook data object containing the order payload."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "traceId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/create-gloriafood-job": {
      "post": {
        "operationId": "wodely.create-gloriafood-job",
        "summary": "Create GloriaFood Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/create-gloriafood-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "traceId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/create-task": {
      "post": {
        "operationId": "wodely.create-task",
        "summary": "Create Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskTypeId",
                  "destinationAddress"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskTypeId": {
                    "type": "number",
                    "description": "Task type: 1 Delivery, 2 Pickup, 3 Appointment, 4 Field Workforce, 5 In-store Pickup, 6 Curbside Pickup, 7 Drive-thru Pickup.",
                    "example": 1
                  },
                  "destinationAddress": {
                    "type": "string",
                    "description": "Full destination address for geocoding.",
                    "example": "1600 Amphitheatre Parkway, Mountain View, CA 94043, USA"
                  },
                  "taskDesc": {
                    "type": "string",
                    "description": "Short task description.",
                    "example": "MindCloud verification task"
                  },
                  "externalKey": {
                    "type": "string",
                    "description": "External order ID or barcode.",
                    "example": "mindcloud-wodely-verification-001",
                    "x-mindcloud-advanced": true
                  },
                  "alert": {
                    "type": "string",
                    "description": "Set `N` to disable email and SMS notifications.",
                    "example": "N",
                    "x-mindcloud-advanced": true
                  },
                  "afterDateTime": {
                    "type": "string",
                    "description": "Complete-after time in UTC ISO 8601.",
                    "example": "2026-03-27T17:00:00Z",
                    "x-mindcloud-advanced": true
                  },
                  "beforeDateTime": {
                    "type": "string",
                    "description": "Complete-before time in UTC ISO 8601.",
                    "example": "2026-03-27T18:00:00Z",
                    "x-mindcloud-advanced": true
                  },
                  "requesterName": {
                    "type": "string",
                    "description": "Requester or sender name.",
                    "example": "MindCloud QA"
                  },
                  "recipientName": {
                    "type": "string",
                    "description": "Destination recipient name.",
                    "example": "MindCloud QA"
                  },
                  "recipientPhone": {
                    "type": "string",
                    "description": "Destination recipient phone number.",
                    "example": "+15555550123",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number",
                            "description": "Account identifier."
                          },
                          "afterDateTime": {
                            "type": "string",
                            "description": "Complete-after timestamp in UTC."
                          },
                          "alert": {
                            "type": "string",
                            "description": "Notification alert setting."
                          },
                          "amountDue": {
                            "type": "number",
                            "description": "Amount due."
                          },
                          "assignedToDriverUserId": {
                            "type": "string",
                            "description": "Assigned driver user identifier."
                          },
                          "assignedToTeamId": {
                            "type": "number",
                            "description": "Assigned team identifier."
                          },
                          "beforeDateTime": {
                            "type": "string",
                            "description": "Complete-before timestamp in UTC."
                          },
                          "capacity": {
                            "type": "number",
                            "description": "Task capacity value."
                          },
                          "completedCode": {
                            "type": "string",
                            "description": "Completion code."
                          },
                          "completedCoordinates": {
                            "type": "string",
                            "description": "Completion coordinates."
                          },
                          "completedDateTime": {
                            "type": "string",
                            "description": "Completion timestamp in UTC."
                          },
                          "completedNotes": {
                            "type": "string",
                            "description": "Completion notes."
                          },
                          "completedRecipientName": {
                            "type": "string",
                            "description": "Completion recipient name."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "description": "Task creation timestamp in UTC."
                          },
                          "deliveryFee": {
                            "type": "number",
                            "description": "Delivery fee."
                          },
                          "destinationAddress": {
                            "type": "string",
                            "description": "Destination address."
                          },
                          "destinationBuilding": {
                            "type": "string",
                            "description": "Destination building details."
                          },
                          "destinationCoordinates": {
                            "type": "string",
                            "description": "Destination coordinates."
                          },
                          "destinationNotes": {
                            "type": "string",
                            "description": "Destination notes."
                          },
                          "dispatchAddress": {
                            "type": "string",
                            "description": "Dispatch or pickup address."
                          },
                          "dispatchBuilding": {
                            "type": "string",
                            "description": "Dispatch or pickup building details."
                          },
                          "dispatchCoordinates": {
                            "type": "string",
                            "description": "Dispatch or pickup coordinates."
                          },
                          "dispatchNotes": {
                            "type": "string",
                            "description": "Dispatch or pickup notes."
                          },
                          "distance": {
                            "type": "number",
                            "description": "Distance value returned by Wodely."
                          },
                          "driverName": {
                            "type": "string",
                            "description": "Assigned driver name."
                          },
                          "eta": {
                            "type": "string",
                            "description": "Estimated arrival timestamp in UTC."
                          },
                          "externalKey": {
                            "type": "string",
                            "description": "External task key or barcode."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Task GUID."
                          },
                          "id": {
                            "type": "number",
                            "description": "Numeric task identifier."
                          },
                          "lineCount": {
                            "type": "number",
                            "description": "Number of package lines."
                          },
                          "merchantId": {
                            "type": "string",
                            "description": "Merchant identifier."
                          },
                          "merchantName": {
                            "type": "string",
                            "description": "Merchant name."
                          },
                          "modifiedDateTime": {
                            "type": "string",
                            "description": "Task last modified timestamp in UTC."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority identifier."
                          },
                          "recipientEmail": {
                            "type": "string",
                            "description": "Recipient email."
                          },
                          "recipientId": {
                            "type": "number",
                            "description": "Recipient identifier."
                          },
                          "recipientName": {
                            "type": "string",
                            "description": "Recipient name."
                          },
                          "recipientPhone": {
                            "type": "string",
                            "description": "Recipient phone."
                          },
                          "requesterEmail": {
                            "type": "string",
                            "description": "Requester or sender email."
                          },
                          "requesterName": {
                            "type": "string",
                            "description": "Requester or sender name."
                          },
                          "requesterPhone": {
                            "type": "string",
                            "description": "Requester or sender phone."
                          },
                          "requirements": {
                            "type": "string",
                            "description": "Proof-of-delivery requirements."
                          },
                          "routeName": {
                            "type": "string",
                            "description": "Route name."
                          },
                          "routePlanId": {
                            "type": "number",
                            "description": "Route plan identifier."
                          },
                          "routeSortId": {
                            "type": "number",
                            "description": "Route sort identifier."
                          },
                          "serviceId": {
                            "type": "number",
                            "description": "Service identifier."
                          },
                          "serviceName": {
                            "type": "string",
                            "description": "Service name."
                          },
                          "serviceTime": {
                            "type": "string",
                            "description": "Service time in minutes."
                          },
                          "skills": {
                            "type": "string",
                            "description": "Required or matched skills."
                          },
                          "statusColour": {
                            "type": "string",
                            "description": "Task status colour value."
                          },
                          "statusDesc": {
                            "type": "string",
                            "description": "Task status label."
                          },
                          "statusIcon": {
                            "type": "string",
                            "description": "Task status icon value."
                          },
                          "statusId": {
                            "type": "number",
                            "description": "Task status identifier."
                          },
                          "tag1": {
                            "type": "string",
                            "description": "Custom field 1."
                          },
                          "tag2": {
                            "type": "string",
                            "description": "Custom field 2."
                          },
                          "tag3": {
                            "type": "string",
                            "description": "Custom field 3."
                          },
                          "tag4": {
                            "type": "string",
                            "description": "Custom field 4."
                          },
                          "tag5": {
                            "type": "string",
                            "description": "Custom field 5."
                          },
                          "taskDesc": {
                            "type": "string",
                            "description": "Task description."
                          },
                          "taskFailedReason": {
                            "type": "string",
                            "description": "Task failure reason."
                          },
                          "teamName": {
                            "type": "string",
                            "description": "Assigned team name."
                          },
                          "templateData": {
                            "type": "string",
                            "description": "Template data payload."
                          },
                          "templateId": {
                            "type": "number",
                            "description": "Template identifier."
                          },
                          "templateName": {
                            "type": "string",
                            "description": "Template name."
                          },
                          "totalAmount": {
                            "type": "number",
                            "description": "Total task amount."
                          },
                          "totalQty": {
                            "type": "number",
                            "description": "Total package quantity."
                          },
                          "totalWeight": {
                            "type": "number",
                            "description": "Total task weight."
                          },
                          "typeDesc": {
                            "type": "string",
                            "description": "Task type label."
                          },
                          "typeId": {
                            "type": "number",
                            "description": "Task type identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/create-task-packages-in-batch": {
      "post": {
        "operationId": "wodely.create-task-packages-in-batch",
        "summary": "Create Task Packages in Batch",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/create-task-packages-in-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskGuid",
                  "packages[].productDesc"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskGuid": {
                    "type": "string",
                    "description": "Task identifier returned by Wodely.",
                    "example": "your-task-guid"
                  },
                  "deleteOldPackages": {
                    "type": "boolean",
                    "description": "Delete all existing packages on the task before adding the new ones.",
                    "x-mindcloud-advanced": true
                  },
                  "packages[].productId": {
                    "type": "string",
                    "description": "Product Id or item Id"
                  },
                  "packages[].productDesc": {
                    "type": "string",
                    "description": "Short description of the package item.",
                    "example": "Verification package"
                  },
                  "packages[].orderId": {
                    "type": "string",
                    "description": "Order Id"
                  },
                  "packages[].quantity": {
                    "type": "number",
                    "description": "Quantity for each package line.",
                    "example": 1
                  },
                  "packages[].weight": {
                    "type": "number",
                    "description": "Weight for each package line.",
                    "example": 2.5,
                    "x-mindcloud-advanced": true
                  },
                  "packages[].price": {
                    "type": "number",
                    "description": "Price or line total for each package line.",
                    "example": 19.99,
                    "x-mindcloud-advanced": true
                  },
                  "packages[].packageTypeId": {
                    "type": "number",
                    "description": "Package type identifier.",
                    "example": 10,
                    "x-mindcloud-advanced": true
                  },
                  "packages[].labelId": {
                    "type": "string",
                    "description": "Label or barcode",
                    "x-mindcloud-advanced": true
                  },
                  "packages[].field1": {
                    "type": "string",
                    "description": "Custom Field 1",
                    "x-mindcloud-advanced": true
                  },
                  "packages[].field2": {
                    "type": "string",
                    "description": "Custom Field 2",
                    "x-mindcloud-advanced": true
                  },
                  "packages[].field3": {
                    "type": "string",
                    "description": "Custom Field 3",
                    "x-mindcloud-advanced": true
                  },
                  "packages[].field4": {
                    "type": "string",
                    "description": "Custom Field 4",
                    "x-mindcloud-advanced": true
                  },
                  "packages[].field5": {
                    "type": "string",
                    "description": "Custom Field 5",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field1": {
                            "type": "string",
                            "description": "Custom field 1."
                          },
                          "field2": {
                            "type": "string",
                            "description": "Custom field 2."
                          },
                          "field3": {
                            "type": "string",
                            "description": "Custom field 3."
                          },
                          "field4": {
                            "type": "string",
                            "description": "Custom field 4."
                          },
                          "field5": {
                            "type": "string",
                            "description": "Custom field 5."
                          },
                          "id": {
                            "type": "number",
                            "description": "Package identifier."
                          },
                          "labelId": {
                            "type": "string",
                            "description": "Package label or barcode identifier."
                          },
                          "orderId": {
                            "type": "string",
                            "description": "Order identifier associated with the package."
                          },
                          "packageTypeDesc": {
                            "type": "string",
                            "description": "Package type description."
                          },
                          "packageTypeId": {
                            "type": "number",
                            "description": "Package type identifier."
                          },
                          "price": {
                            "type": "number",
                            "description": "Package price or line total."
                          },
                          "productDesc": {
                            "type": "string",
                            "description": "Package product description."
                          },
                          "productId": {
                            "type": "string",
                            "description": "Product or item identifier."
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Package quantity."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Numeric task identifier linked to the package."
                          },
                          "weight": {
                            "type": "number",
                            "description": "Package weight."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/create-tasks-in-batch": {
      "post": {
        "operationId": "wodely.create-tasks-in-batch",
        "summary": "Create Tasks in Batch",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/create-tasks-in-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tasks[].taskTypeId",
                  "tasks[].destinationAddress"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tasks[].taskTypeId": {
                    "type": "number",
                    "description": "1: Delivery; 2: Pickup; 3: Appointment; 4: Field Workforce; 5: In-store Pickup; 6: Curbside Pickup; 7: Drive-thru Pickup.",
                    "example": 1
                  },
                  "tasks[].destinationAddress": {
                    "type": "string",
                    "description": "Full delivery destination address.",
                    "example": "1600 Amphitheatre Parkway, Mountain View, CA 94043, USA"
                  },
                  "tasks[].taskDesc": {
                    "type": "string",
                    "description": "Short description of the task."
                  },
                  "tasks[].externalKey": {
                    "type": "string",
                    "description": "External order Id or barcode.",
                    "example": "order-123",
                    "x-mindcloud-advanced": true
                  },
                  "tasks[].alert": {
                    "type": "string",
                    "description": "Set to N to disable notifications.",
                    "example": "N",
                    "x-mindcloud-advanced": true
                  },
                  "tasks[].afterDateTime": {
                    "type": "string",
                    "description": "Complete after time in UTC ISO 8601.",
                    "example": "2026-03-27T18:00:00Z",
                    "x-mindcloud-advanced": true
                  },
                  "tasks[].beforeDateTime": {
                    "type": "string",
                    "description": "Complete before time in UTC ISO 8601.",
                    "example": "2026-03-28T18:00:00Z",
                    "x-mindcloud-advanced": true
                  },
                  "tasks[].requesterName": {
                    "type": "string",
                    "description": "Requester or sender name."
                  },
                  "tasks[].recipientName": {
                    "type": "string",
                    "description": "Destination recipient name."
                  },
                  "tasks[].recipientPhone": {
                    "type": "string",
                    "description": "Destination recipient phone."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alert": {
                            "type": "string"
                          },
                          "assignedToDriverUserId": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string"
                          },
                          "destinationAddress": {
                            "type": "string"
                          },
                          "externalKey": {
                            "type": "string"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "statusDesc": {
                            "type": "string"
                          },
                          "statusId": {
                            "type": "number"
                          },
                          "taskDesc": {
                            "type": "string"
                          },
                          "typeDesc": {
                            "type": "string"
                          },
                          "typeId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/create-yelo-order": {
      "post": {
        "operationId": "wodely.create-yelo-order",
        "summary": "Create Yelo Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/create-yelo-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "traceId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/delete-task": {
      "delete": {
        "operationId": "wodely.delete-task",
        "summary": "Delete Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/delete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskGuid",
            "in": "query",
            "required": true,
            "description": "Task identifier returned by Wodely.",
            "schema": {
              "type": "string",
              "description": "Task identifier returned by Wodely.",
              "example": "your-task-guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/delete-task-package": {
      "delete": {
        "operationId": "wodely.delete-task-package",
        "summary": "Delete Task Package",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/delete-task-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "description": "Package identifier returned by Wodely.",
            "schema": {
              "type": "number",
              "description": "Package identifier returned by Wodely.",
              "example": 12345
            }
          },
          {
            "name": "taskGuid",
            "in": "query",
            "required": true,
            "description": "Task identifier for the package.",
            "schema": {
              "type": "string",
              "description": "Task identifier for the package.",
              "example": "your-task-guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/get-task": {
      "get": {
        "operationId": "wodely.get-task",
        "summary": "Get Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskGuid",
            "in": "query",
            "required": true,
            "description": "Task identifier returned by Wodely.",
            "schema": {
              "type": "string",
              "description": "Task identifier returned by Wodely.",
              "example": "your-task-guid"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number",
                            "description": "Account identifier."
                          },
                          "afterDateTime": {
                            "type": "string",
                            "description": "Complete-after timestamp in UTC."
                          },
                          "alert": {
                            "type": "string",
                            "description": "Notification alert setting."
                          },
                          "amountDue": {
                            "type": "number",
                            "description": "Amount due."
                          },
                          "assignedToDriverUserId": {
                            "type": "string",
                            "description": "Assigned driver user identifier."
                          },
                          "assignedToTeamId": {
                            "type": "number",
                            "description": "Assigned team identifier."
                          },
                          "beforeDateTime": {
                            "type": "string",
                            "description": "Complete-before timestamp in UTC."
                          },
                          "capacity": {
                            "type": "number",
                            "description": "Task capacity value."
                          },
                          "completedCode": {
                            "type": "string",
                            "description": "Completion code."
                          },
                          "completedCoordinates": {
                            "type": "string",
                            "description": "Completion coordinates."
                          },
                          "completedDateTime": {
                            "type": "string",
                            "description": "Completion timestamp in UTC."
                          },
                          "completedNotes": {
                            "type": "string",
                            "description": "Completion notes."
                          },
                          "completedRecipientName": {
                            "type": "string",
                            "description": "Completion recipient name."
                          },
                          "createdDateTime": {
                            "type": "string",
                            "description": "Task creation timestamp in UTC."
                          },
                          "deliveryFee": {
                            "type": "number",
                            "description": "Delivery fee."
                          },
                          "destinationAddress": {
                            "type": "string",
                            "description": "Destination address."
                          },
                          "destinationBuilding": {
                            "type": "string",
                            "description": "Destination building details."
                          },
                          "destinationCoordinates": {
                            "type": "string",
                            "description": "Destination coordinates."
                          },
                          "destinationNotes": {
                            "type": "string",
                            "description": "Destination notes."
                          },
                          "dispatchAddress": {
                            "type": "string",
                            "description": "Dispatch or pickup address."
                          },
                          "dispatchBuilding": {
                            "type": "string",
                            "description": "Dispatch or pickup building details."
                          },
                          "dispatchCoordinates": {
                            "type": "string",
                            "description": "Dispatch or pickup coordinates."
                          },
                          "dispatchNotes": {
                            "type": "string",
                            "description": "Dispatch or pickup notes."
                          },
                          "distance": {
                            "type": "number",
                            "description": "Distance value returned by Wodely."
                          },
                          "driverName": {
                            "type": "string",
                            "description": "Assigned driver name."
                          },
                          "eta": {
                            "type": "string",
                            "description": "Estimated arrival timestamp in UTC."
                          },
                          "externalKey": {
                            "type": "string",
                            "description": "External task key or barcode."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Task GUID."
                          },
                          "id": {
                            "type": "number",
                            "description": "Numeric task identifier."
                          },
                          "lineCount": {
                            "type": "number",
                            "description": "Number of package lines."
                          },
                          "merchantId": {
                            "type": "string",
                            "description": "Merchant identifier."
                          },
                          "merchantName": {
                            "type": "string",
                            "description": "Merchant name."
                          },
                          "modifiedDateTime": {
                            "type": "string",
                            "description": "Task last modified timestamp in UTC."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Priority identifier."
                          },
                          "recipientEmail": {
                            "type": "string",
                            "description": "Recipient email."
                          },
                          "recipientId": {
                            "type": "number",
                            "description": "Recipient identifier."
                          },
                          "recipientName": {
                            "type": "string",
                            "description": "Recipient name."
                          },
                          "recipientPhone": {
                            "type": "string",
                            "description": "Recipient phone."
                          },
                          "requesterEmail": {
                            "type": "string",
                            "description": "Requester or sender email."
                          },
                          "requesterName": {
                            "type": "string",
                            "description": "Requester or sender name."
                          },
                          "requesterPhone": {
                            "type": "string",
                            "description": "Requester or sender phone."
                          },
                          "requirements": {
                            "type": "string",
                            "description": "Proof-of-delivery requirements."
                          },
                          "routeName": {
                            "type": "string",
                            "description": "Route name."
                          },
                          "routePlanId": {
                            "type": "number",
                            "description": "Route plan identifier."
                          },
                          "routeSortId": {
                            "type": "number",
                            "description": "Route sort identifier."
                          },
                          "serviceId": {
                            "type": "number",
                            "description": "Service identifier."
                          },
                          "serviceName": {
                            "type": "string",
                            "description": "Service name."
                          },
                          "serviceTime": {
                            "type": "string",
                            "description": "Service time in minutes."
                          },
                          "skills": {
                            "type": "string",
                            "description": "Required or matched skills."
                          },
                          "statusColour": {
                            "type": "string",
                            "description": "Task status colour value."
                          },
                          "statusDesc": {
                            "type": "string",
                            "description": "Task status label."
                          },
                          "statusIcon": {
                            "type": "string",
                            "description": "Task status icon value."
                          },
                          "statusId": {
                            "type": "number",
                            "description": "Task status identifier."
                          },
                          "tag1": {
                            "type": "string",
                            "description": "Custom field 1."
                          },
                          "tag2": {
                            "type": "string",
                            "description": "Custom field 2."
                          },
                          "tag3": {
                            "type": "string",
                            "description": "Custom field 3."
                          },
                          "tag4": {
                            "type": "string",
                            "description": "Custom field 4."
                          },
                          "tag5": {
                            "type": "string",
                            "description": "Custom field 5."
                          },
                          "taskDesc": {
                            "type": "string",
                            "description": "Task description."
                          },
                          "taskFailedReason": {
                            "type": "string",
                            "description": "Task failure reason."
                          },
                          "teamName": {
                            "type": "string",
                            "description": "Assigned team name."
                          },
                          "templateData": {
                            "type": "string",
                            "description": "Template data payload."
                          },
                          "templateId": {
                            "type": "number",
                            "description": "Template identifier."
                          },
                          "templateName": {
                            "type": "string",
                            "description": "Template name."
                          },
                          "totalAmount": {
                            "type": "number",
                            "description": "Total task amount."
                          },
                          "totalQty": {
                            "type": "number",
                            "description": "Total package quantity."
                          },
                          "totalWeight": {
                            "type": "number",
                            "description": "Total task weight."
                          },
                          "typeDesc": {
                            "type": "string",
                            "description": "Task type label."
                          },
                          "typeId": {
                            "type": "number",
                            "description": "Task type identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wodely/latest/actions/get-task-package": {
      "get": {
        "operationId": "wodely.get-task-package",
        "summary": "Get Task Package",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wodely/latest/actions/get-task-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "description": "Package identifier returned by Wodely.",
            "schema": {
              "type": "number",
              "description": "Package identifier returned by Wodely.",
              "example": 12345
            }
          },
          {
            "name": "taskGuid",
            "in": "query",
            "required": true,
            "description": "Task identifier for the package.",
            "schema": {
              "type": "string",
              "description": "Task identifier for the package.",
              "example": "your-task-guid"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
[...]
