{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Dukaan Universal API",
    "version": "0.0.4",
    "description": "Dukaan Public APIs for building custom apps, plugins, workflows, and store operations across products, orders, customers, discounts, and inventory."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dukaan/latest/actions/add-customer-tag": {
      "post": {
        "operationId": "dukaan.add-customer-tag",
        "summary": "Add Customer Tag",
        "description": "Adds a tag to a customer in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/add-customer-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "storeUuid",
                  "tag",
                  "objectId",
                  "contentType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "storeUuid": {
                    "type": "string",
                    "description": "Dukaan store UUID from developer settings.",
                    "example": "your-store-uuid"
                  },
                  "tag": {
                    "type": "number",
                    "description": "Dukaan tag ID.",
                    "example": 90198
                  },
                  "objectId": {
                    "type": "string",
                    "description": "Customer/store lead object ID to tag.",
                    "example": "21881957"
                  },
                  "contentType": {
                    "type": "string",
                    "description": "Dukaan content type for the tagged object.",
                    "default": "storelead"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content_type": {
                            "type": "string",
                            "description": "Tagged object content type"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan tag ID"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Tag name"
                          },
                          "object_id": {
                            "type": "number",
                            "description": "Tagged object ID"
                          },
                          "tag": {
                            "type": "number",
                            "description": "Existing tag ID"
                          },
                          "tag_for": {
                            "type": "string",
                            "description": "Tag target type"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan tag UUID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-customer": {
      "post": {
        "operationId": "dukaan.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "mobile",
                  "store"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Customer name.",
                    "example": "Sample Customer"
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address.",
                    "example": "customer@example.com"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Customer mobile number.",
                    "example": "+91-9999999998"
                  },
                  "store": {
                    "type": "number",
                    "description": "Store ID for the customer.",
                    "example": 102712269
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_line": {
                            "type": "string",
                            "description": "Customer address line"
                          },
                          "city": {
                            "type": "string",
                            "description": "Customer city"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email address"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan customer or audience record ID"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "Customer mobile number"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Customer notes"
                          },
                          "orders_count": {
                            "type": "number",
                            "description": "Customer order count"
                          },
                          "orders_total_cost": {
                            "type": "number",
                            "description": "Total customer order value"
                          },
                          "pin": {
                            "type": "string",
                            "description": "Customer postal code"
                          },
                          "state": {
                            "type": "string",
                            "description": "Customer state"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Customer tags"
                          },
                          "type": {
                            "type": "string",
                            "description": "Customer type"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan customer UUID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-customer-tag-definition": {
      "post": {
        "operationId": "dukaan.create-customer-tag-definition",
        "summary": "Create Customer Tag Definition",
        "description": "Creates a new customer tag definition in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-customer-tag-definition"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "storeUuid",
                  "tagFor",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "storeUuid": {
                    "type": "string",
                    "description": "Dukaan store UUID from developer settings.",
                    "example": "your-store-uuid"
                  },
                  "tagFor": {
                    "type": "string",
                    "description": "Dukaan object type this tag applies to.",
                    "default": "storelead"
                  },
                  "name": {
                    "type": "string",
                    "description": "Customer tag name.",
                    "example": "VIP"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content_type": {
                            "type": "string",
                            "description": "Tagged object content type"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan tag ID"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Tag name"
                          },
                          "object_id": {
                            "type": "number",
                            "description": "Tagged object ID"
                          },
                          "tag": {
                            "type": "number",
                            "description": "Existing tag ID"
                          },
                          "tag_for": {
                            "type": "string",
                            "description": "Tag target type"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan tag UUID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-discount": {
      "post": {
        "operationId": "dukaan.create-discount",
        "summary": "Create Discount",
        "description": "Creates a new discount in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-discount"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "code",
                  "discountValue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "Discount code.",
                    "example": "SUMMER20"
                  },
                  "discountValue": {
                    "type": "string",
                    "description": "Discount value.",
                    "example": "20"
                  },
                  "minOrderValue": {
                    "type": "string",
                    "description": "Minimum order value.",
                    "example": "500"
                  },
                  "discountType": {
                    "type": "number",
                    "description": "Dukaan discount type code.",
                    "default": 0
                  },
                  "autoApply": {
                    "type": "boolean",
                    "description": "Whether Dukaan should auto-apply the coupon.",
                    "default": true
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Whether the discount is active.",
                    "default": true
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Discount start date/time."
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Discount expiry date/time."
                  },
                  "maxDiscount": {
                    "type": "string",
                    "description": "Maximum discount amount.",
                    "example": "100"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Discount code"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Discount description"
                          },
                          "discount_type": {
                            "type": "number",
                            "description": "Discount type code"
                          },
                          "discount_value": {
                            "type": "number",
                            "description": "Discount amount or percentage"
                          },
                          "expiry_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Discount expiry timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan discount ID"
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the discount is active"
                          },
                          "is_hidden": {
                            "type": "boolean",
                            "description": "Whether the discount is hidden"
                          },
                          "max_discount": {
                            "type": "number",
                            "description": "Maximum discount amount"
                          },
                          "min_order_value": {
                            "type": "number",
                            "description": "Minimum order value"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Discount start timestamp"
                          },
                          "total_usage_count": {
                            "type": "number",
                            "description": "Total usage count"
                          },
                          "uses_per_customer": {
                            "type": "number",
                            "description": "Allowed uses per customer"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan discount UUID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-order": {
      "post": {
        "operationId": "dukaan.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "store",
                  "lineItems[]",
                  "mobile",
                  "address"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "store": {
                    "type": "string",
                    "description": "Store UUID for the order.",
                    "example": "your-store-uuid"
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Order line item objects."
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Buyer mobile number.",
                    "example": "+91 9999999999"
                  },
                  "buyerPin": {
                    "type": "string",
                    "description": "Buyer postal code.",
                    "example": "560102"
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Buyer address object."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Order notes.",
                    "example": "Added a note"
                  },
                  "paymentMode": {
                    "type": "number",
                    "description": "Dukaan payment mode code.",
                    "default": 0
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyer_address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Buyer address details"
                          },
                          "coupon_discount": {
                            "type": "number",
                            "description": "Coupon discount amount"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "delivery_cost": {
                            "type": "number",
                            "description": "Delivery charge"
                          },
                          "display_order_id": {
                            "type": "string",
                            "description": "Human-readable order ID"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan order ID"
                          },
                          "is_new": {
                            "type": "boolean",
                            "description": "Whether the order is new"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order line items"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Order notes"
                          },
                          "payment_mode": {
                            "type": "number",
                            "description": "Payment mode code"
                          },
                          "product_count": {
                            "type": "number",
                            "description": "Number of products in the order"
                          },
                          "status": {
                            "type": "number",
                            "description": "Order status code"
                          },
                          "total_cost": {
                            "type": "number",
                            "description": "Order total cost"
                          },
                          "type": {
                            "type": "number",
                            "description": "Order type code"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan order UUID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-product": {
      "post": {
        "operationId": "dukaan.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "storeUuid",
                  "name",
                  "sellingPrice",
                  "store"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "storeUuid": {
                    "type": "string",
                    "description": "Dukaan store UUID from developer settings.",
                    "example": "your-store-uuid"
                  },
                  "name": {
                    "type": "string",
                    "description": "Product name.",
                    "example": "Sample Product"
                  },
                  "sellingPrice": {
                    "type": "number",
                    "description": "Product selling price.",
                    "example": 900
                  },
                  "originalPrice": {
                    "type": "number",
                    "description": "Product original price.",
                    "example": 1000
                  },
                  "unit": {
                    "type": "string",
                    "description": "Product unit.",
                    "default": "piece"
                  },
                  "baseQty": {
                    "type": "number",
                    "description": "Base quantity for the product.",
                    "default": 1
                  },
                  "description": {
                    "type": "string",
                    "description": "Product description HTML.",
                    "example": "Product description"
                  },
                  "categories[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Category IDs for the product."
                  },
                  "store": {
                    "type": "string",
                    "description": "Store UUID for the product body.",
                    "example": "your-store-uuid"
                  },
                  "skuCode": {
                    "type": "string",
                    "description": "Product SKU code.",
                    "example": "SKU-SAMPLE-200"
                  },
                  "inventoryQuantity": {
                    "type": "number",
                    "description": "Total product inventory quantity.",
                    "example": 150
                  },
                  "inStock": {
                    "type": "boolean",
                    "description": "Whether the product is in stock.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "all_images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Product image URLs"
                          },
                          "base_qty": {
                            "type": "number",
                            "description": "Base quantity"
                          },
                          "categories_data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Associated categories"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan product ID"
                          },
                          "image": {
                            "type": "string",
                            "description": "Primary image URL"
                          },
                          "in_stock": {
                            "type": "boolean",
                            "description": "Whether the product is in stock"
                          },
                          "inventory_quantity": {
                            "type": "number",
                            "description": "Available inventory quantity"
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the product is active"
                          },
                          "name": {
                            "type": "string",
                            "description": "Product name"
                          },
                          "original_price": {
                            "type": "number",
                            "description": "Original price"
                          },
                          "selling_price": {
                            "type": "number",
                            "description": "Selling price"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Product slug"
                          },
                          "unit": {
                            "type": "string",
                            "description": "Product unit"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan product UUID"
                          },
                          "web_url": {
                            "type": "string",
                            "description": "Storefront product URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-product-category": {
      "post": {
        "operationId": "dukaan.create-product-category",
        "summary": "Create Product Category",
        "description": "Creates a new product category in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-product-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "store"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Category name.",
                    "example": "Summer Collection"
                  },
                  "store": {
                    "type": "string",
                    "description": "Store UUID or ID for the category.",
                    "example": "your-store-uuid"
                  },
                  "showTo": {
                    "type": "number",
                    "description": "Dukaan visibility value for the category.",
                    "default": 3
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Category description"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan category ID"
                          },
                          "image": {
                            "type": "string",
                            "description": "Category image URL"
                          },
                          "in_stock": {
                            "type": "boolean",
                            "description": "Whether the category has stock"
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the category is active"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Category name"
                          },
                          "position": {
                            "type": "number",
                            "description": "Category sort position"
                          },
                          "product_count": {
                            "type": "number",
                            "description": "Number of products in the category"
                          },
                          "seo_data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "SEO metadata"
                          },
                          "show_to": {
                            "type": "number",
                            "description": "Audience visibility setting"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Category slug"
                          },
                          "sub_categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Nested subcategories"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan category UUID"
                          },
                          "web_url": {
                            "type": "string",
                            "description": "Storefront category URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-product-with-variants": {
      "post": {
        "operationId": "dukaan.create-product-with-variants",
        "summary": "Create Product With Variants",
        "description": "Creates a new product with variants in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-product-with-variants"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "storeUuid",
                  "name",
                  "sellingPrice",
                  "store",
                  "skus[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "storeUuid": {
                    "type": "string",
                    "description": "Dukaan store UUID from developer settings.",
                    "example": "your-store-uuid"
                  },
                  "name": {
                    "type": "string",
                    "description": "Product name.",
                    "example": "Sample Product With Variants"
                  },
                  "sellingPrice": {
                    "type": "number",
                    "description": "Product selling price.",
                    "example": 90
                  },
                  "originalPrice": {
                    "type": "number",
                    "description": "Product original price.",
                    "example": 100
                  },
                  "unit": {
                    "type": "string",
                    "description": "Product unit.",
                    "default": "piece"
                  },
                  "description": {
                    "type": "string",
                    "description": "Product description HTML.",
                    "example": "Product description"
                  },
                  "categories[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Category IDs for the product."
                  },
                  "store": {
                    "type": "string",
                    "description": "Store UUID for the product body.",
                    "example": "your-store-uuid"
                  },
                  "skus[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Variant SKU objects."
                  },
                  "inStock": {
                    "type": "boolean",
                    "description": "Whether the product is in stock.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "all_images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Product image URLs"
                          },
                          "base_qty": {
                            "type": "number",
                            "description": "Base quantity"
                          },
                          "categories_data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Associated categories"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan product ID"
                          },
                          "image": {
                            "type": "string",
                            "description": "Primary image URL"
                          },
                          "in_stock": {
                            "type": "boolean",
                            "description": "Whether the product is in stock"
                          },
                          "inventory_quantity": {
                            "type": "number",
                            "description": "Available inventory quantity"
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the product is active"
                          },
                          "name": {
                            "type": "string",
                            "description": "Product name"
                          },
                          "original_price": {
                            "type": "number",
                            "description": "Original price"
                          },
                          "selling_price": {
                            "type": "number",
                            "description": "Selling price"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Product slug"
                          },
                          "unit": {
                            "type": "string",
                            "description": "Product unit"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan product UUID"
                          },
                          "web_url": {
                            "type": "string",
                            "description": "Storefront product URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/create-warehouse": {
      "post": {
        "operationId": "dukaan.create-warehouse",
        "summary": "Create Warehouse",
        "description": "Creates a new warehouse in Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/create-warehouse"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "contactPersonName",
                  "mobileNumber",
                  "pincode",
                  "addressLine1",
                  "city",
                  "state",
                  "country"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Warehouse name.",
                    "example": "Main Warehouse"
                  },
                  "contactPersonName": {
                    "type": "string",
                    "description": "Warehouse contact person name.",
                    "example": "Suresh"
                  },
                  "mobileNumber": {
                    "type": "string",
                    "description": "Warehouse mobile number.",
                    "example": "9999999991"
                  },
                  "pincode": {
                    "type": "string",
                    "description": "Warehouse postal code.",
                    "example": "560103"
                  },
                  "addressLine1": {
                    "type": "string",
                    "description": "Warehouse address line 1.",
                    "example": "Warehouse address"
                  },
                  "city": {
                    "type": "string",
                    "description": "Warehouse city.",
                    "example": "Bangalore"
                  },
                  "state": {
                    "type": "string",
                    "description": "Warehouse state.",
                    "example": "Karnataka"
                  },
                  "country": {
                    "type": "string",
                    "description": "Warehouse country code.",
                    "default": "in"
                  },
                  "termsChecked": {
                    "type": "boolean",
                    "description": "Whether terms were checked.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "Warehouse address line 1"
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "Warehouse address line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Warehouse city"
                          },
                          "contact_person_name": {
                            "type": "string",
                            "description": "Warehouse contact person"
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Warehouse country details"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan warehouse ID"
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the warehouse is active"
                          },
                          "is_primary_warehouse": {
                            "type": "boolean",
                            "description": "Whether this is the primary warehouse"
                          },
                          "mobile_number": {
                            "type": "string",
                            "description": "Warehouse contact mobile number"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Warehouse name"
                          },
                          "pincode": {
                            "type": "string",
                            "description": "Warehouse postal code"
                          },
                          "state": {
                            "type": "string",
                            "description": "Warehouse state"
                          },
                          "store": {
                            "type": "number",
                            "description": "Dukaan store ID"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan warehouse UUID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/get-customer-details": {
      "get": {
        "operationId": "dukaan.get-customer-details",
        "summary": "Get Customer Details",
        "description": "Retrieves customer details from Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/get-customer-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeLeadId",
            "in": "query",
            "required": true,
            "description": "Dukaan store lead/customer ID.",
            "schema": {
              "type": "number",
              "description": "Dukaan store lead/customer ID.",
              "example": 21881957
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_line": {
                            "type": "string",
                            "description": "Customer address line"
                          },
                          "city": {
                            "type": "string",
                            "description": "Customer city"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email address"
                          },
                          "id": {
                            "type": "number",
                            "description": "Dukaan customer or audience record ID"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "Customer mobile number"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Customer notes"
                          },
                          "orders_count": {
                            "type": "number",
                            "description": "Customer order count"
                          },
                          "orders_total_cost": {
                            "type": "number",
                            "description": "Total customer order value"
                          },
                          "pin": {
                            "type": "string",
                            "description": "Customer postal code"
                          },
                          "state": {
                            "type": "string",
                            "description": "Customer state"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Customer tags"
                          },
                          "type": {
                            "type": "string",
                            "description": "Customer type"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Dukaan customer UUID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dukaan/latest/actions/get-order": {
      "get": {
        "operationId": "dukaan.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order from Dukaan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dukaan/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderUuid",
            "in": "query",
            "required": true,
            "description": "Dukaan order UUID.",
            "schema": {
              "type": "string",
              "description": "Dukaan order UUID.",
              "example": "order-uuid"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
[...]
