{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ImageRouter Universal API",
    "version": "0.0.2",
    "description": "Generate images and videos with ImageRouter models"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/imageRouter/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/imageRouter/latest/actions/get-credit-usage-by-api-key": {
      "get": {
        "operationId": "imageRouter.get-credit-usage-by-api-key",
        "summary": "Get Credit Usage By API Key",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/imageRouter/latest/actions/get-credit-usage-by-api-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credit_usage": {
                            "type": "string",
                            "description": "Total credit usage."
                          },
                          "remaining_credits": {
                            "type": "string",
                            "description": "Remaining account credits."
                          },
                          "total_deposits": {
                            "type": "string",
                            "description": "Total completed deposits."
                          },
                          "usage_by_api_key": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "api_key_id": {
                                  "type": "string",
                                  "description": "API key identifier."
                                },
                                "api_key_name": {
                                  "type": "string",
                                  "description": "API key name."
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "API key creation timestamp when available."
                                },
                                "credit_usage": {
                                  "type": "string",
                                  "description": "Credit usage for the API key."
                                },
                                "is_active": {
                                  "type": "boolean",
                                  "description": "Whether the API key is active."
                                },
                                "total_requests": {
                                  "type": "number",
                                  "description": "Total requests for the API key."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/imageRouter/latest/actions/get-credits": {
      "get": {
        "operationId": "imageRouter.get-credits",
        "summary": "Get Credits",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/imageRouter/latest/actions/get-credits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credit_usage": {
                            "type": "string",
                            "description": "Total credit usage."
                          },
                          "remaining_credits": {
                            "type": "string",
                            "description": "Remaining account credits."
                          },
                          "total_deposits": {
                            "type": "string",
                            "description": "Total completed deposits."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/imageRouter/latest/actions/get-model": {
      "get": {
        "operationId": "imageRouter.get-model",
        "summary": "Get Model",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/imageRouter/latest/actions/get-model"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelId",
            "in": "query",
            "required": true,
            "description": "The ImageRouter model ID, such as google/gemini-2.5-flash.",
            "schema": {
              "type": "string",
              "description": "The ImageRouter model ID, such as google/gemini-2.5-flash."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aliases": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Model aliases."
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Model identifier."
                          },
                          "inputs": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Supported input capabilities."
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Model output types."
                            }
                          },
                          "price": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Pricing data."
                          },
                          "release_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release date when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/imageRouter/latest/actions/list-models": {
      "get": {
        "operationId": "imageRouter.list-models",
        "summary": "List Models",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/imageRouter/latest/actions/list-models"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputType",
            "in": "query",
            "required": false,
            "description": "Filter by output type: image or video.",
            "schema": {
              "type": "string",
              "description": "Filter by output type: image or video."
            }
          },
          {
            "name": "inputType",
            "in": "query",
            "required": false,
            "description": "Filter by supported input: image, mask, quality, size, or seconds.",
            "schema": {
              "type": "string",
              "description": "Filter by supported input: image, mask, quality, size, or seconds."
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Filter by provider name, partial and case-insensitive.",
            "schema": {
              "type": "string",
              "description": "Filter by provider name, partial and case-insensitive."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter by model name or alias, partial and case-insensitive.",
            "schema": {
              "type": "string",
              "description": "Filter by model name or alias, partial and case-insensitive."
            }
          },
          {
            "name": "free",
            "in": "query",
            "required": false,
            "description": "true to show only free models, false to show only paid models.",
            "schema": {
              "type": "boolean",
              "description": "true to show only free models, false to show only paid models."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include; id is always included.",
            "schema": {
              "type": "string",
              "description": "Comma-separated response fields to include; id is always included.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort by name, provider, price, or date.",
            "schema": {
              "type": "string",
              "description": "Sort by name, provider, price, or date.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of models to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of models to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aliases": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Model aliases."
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Model identifier."
                          },
                          "inputs": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Supported input capabilities.",
                            "properties": {
                              "image": {
                                "type": "boolean",
                                "description": "Whether the model accepts input images."
                              },
                              "mask": {
                                "type": "boolean",
                                "description": "Whether the model accepts masks."
                              },
                              "quality": {
                                "type": "boolean",
                                "description": "Whether the model supports quality settings."
                              },
                              "seconds": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Supported video durations."
                                }
                              },
                              "size": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Supported sizes."
                                }
                              }
                            }
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Model output types."
                            }
                          },
                          "price": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Pricing data.",
                            "properties": {
                              "average": {
                                "type": "number",
                                "description": "Average price in USD."
                              },
                              "max": {
                                "type": "number",
                                "description": "Maximum price in USD."
                              },
                              "min": {
                                "type": "number",
                                "description": "Minimum price in USD."
                              }
                            }
                          },
                          "release_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release date when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
