{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Mx Toolbox Universal API",
    "version": "0.0.2",
    "description": "Check DNS, MX, and email delivery health with MxToolbox"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mxToolbox/latest/actions/check-blocklist": {
      "get": {
        "operationId": "mxToolbox.check-blocklist",
        "summary": "Check Blocklist",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/check-blocklist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "IP address or hostname to check on blocklists.",
            "schema": {
              "type": "string",
              "description": "IP address or hostname to check on blocklists."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/check-dns-servers": {
      "get": {
        "operationId": "mxToolbox.check-dns-servers",
        "summary": "Check DNS Servers",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/check-dns-servers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to check DNS servers for.",
            "schema": {
              "type": "string",
              "description": "Domain to check DNS servers for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/lookup-a-record": {
      "get": {
        "operationId": "mxToolbox.lookup-a-record",
        "summary": "Lookup A Record",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/lookup-a-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain or hostname to resolve an A record for.",
            "schema": {
              "type": "string",
              "description": "Domain or hostname to resolve an A record for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/lookup-aaaa-record": {
      "get": {
        "operationId": "mxToolbox.lookup-aaaa-record",
        "summary": "Lookup AAAA Record",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/lookup-aaaa-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain or hostname to resolve an AAAA record for.",
            "schema": {
              "type": "string",
              "description": "Domain or hostname to resolve an AAAA record for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/lookup-asn-information": {
      "get": {
        "operationId": "mxToolbox.lookup-asn-information",
        "summary": "Lookup ASN Information",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/lookup-asn-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": true,
            "description": "IP address to look up in ASN data.",
            "schema": {
              "type": "string",
              "description": "IP address to look up in ASN data."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/lookup-bimi-record": {
      "get": {
        "operationId": "mxToolbox.lookup-bimi-record",
        "summary": "Lookup BIMI Record",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/lookup-bimi-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to run the BIMI lookup against.",
            "schema": {
              "type": "string",
              "description": "Domain to run the BIMI lookup against."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/lookup-cname-record": {
      "get": {
        "operationId": "mxToolbox.lookup-cname-record",
        "summary": "Lookup CNAME Record",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/lookup-cname-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "description": "Hostname to resolve a CNAME record for.",
            "schema": {
              "type": "string",
              "description": "Hostname to resolve a CNAME record for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/lookup-dkim-record": {
      "get": {
        "operationId": "mxToolbox.lookup-dkim-record",
        "summary": "Lookup DKIM Record",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/lookup-dkim-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordName",
            "in": "query",
            "required": true,
            "description": "Provide either domain:selector or selector._domainkey.domain.",
            "schema": {
              "type": "string",
              "description": "Provide either domain:selector or selector._domainkey.domain."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mxToolbox/latest/actions/lookup-dmarc-record": {
      "get": {
        "operationId": "mxToolbox.lookup-dmarc-record",
        "summary": "Lookup DMARC Record",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mxToolbox/latest/actions/lookup-dmarc-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to run the DMARC lookup against.",
            "schema": {
              "type": "string",
              "description": "Domain to run the DMARC lookup against."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "argumentType": {
                            "type": "string",
                            "description": "Input type classified by MxToolbox."
                          },
                          "command": {
                            "type": "string",
                            "description": "Lookup command that handled the request."
                          },
                          "commandArgument": {
                            "type": "string",
                            "description": "Final lookup input sent to the provider."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Error entries returned by MxToolbox."
                          },
                          "failed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failed checks returned by MxToolbox."
                          },
                          "hasSubscriptions": {
                            "type": "boolean",
                            "description": "Whether the target already has monitor subscriptions."
                          },
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Primary lookup result rows returned by MxToolbox."
                          },
                          "isEndpoint": {
                            "type": "boolean",
                            "description": "Whether the result refers to a direct endpoint target."
                          },
                          "isError": {
                            "type": "boolean",
                            "description": "Whether the lookup returned an error state."
                          },
                          "passed": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Passing checks returned by MxToolbox."
                          },
                          "relatedLookups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related MxToolbox lookups suggested by the provider."
                          },
                          "reportingNameServer": {
                            "type": "string",
                            "description": "Authoritative server reported by the lookup when available."
                          },
                          "resourceRecordType": {
                            "type": "number",
                            "description": "DNS record type identifier when available."
                          },
                          "timeouts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Timeout entries returned by MxToolbox."
                          },
                          "timeRecorded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Provider timestamp for the lookup result."
                          },
                          "timeToComplete": {
                            "type": "string",
                            "description": "Provider-reported lookup duration in milliseconds."
                          },
                          "transcript": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Diagnostic transcript from the provider."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Provider request identifier when present."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Warning checks returned by MxToolbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
[...]
