{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "OnePageCRM Universal API",
    "version": "0.0.11",
    "description": "Track leads, manage contacts, and follow up on sales"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/onePageCRM/latest/actions/change-contact-owner": {
      "put": {
        "operationId": "onePageCRM.change-contact-owner",
        "summary": "Change Contact Owner",
        "description": "Changes a contact's owner in OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/change-contact-owner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactId",
                  "ownerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "Contact ID.",
                    "example": "Select a contact"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "Owner ID.",
                    "example": "Select a user"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zipCode": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "contactsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastTimelineUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "syncedStatusId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncedTags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncingStatus": {
                            "type": "boolean"
                          },
                          "syncingTags": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/change-contact-status": {
      "put": {
        "operationId": "onePageCRM.change-contact-status",
        "summary": "Change Contact Status",
        "description": "Changes a contact's status in OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/change-contact-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactId",
                  "statusId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "Contact ID.",
                    "example": "Select a contact"
                  },
                  "statusId": {
                    "type": "string",
                    "description": "Status ID.",
                    "example": "Select a status"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zipCode": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "contactsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastTimelineUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "syncedStatusId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncedTags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncingStatus": {
                            "type": "boolean"
                          },
                          "syncingTags": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/create-action": {
      "post": {
        "operationId": "onePageCRM.create-action",
        "summary": "Create Action",
        "description": "Creates a new action in OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/create-action"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "ID of the contact associated with the action.",
                    "example": "5aba31ea9007ba0f570c92d4"
                  },
                  "text": {
                    "type": "string",
                    "description": "The main text or description of the action.",
                    "example": "#1 Email Jane introducing our organization"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the action.",
                    "enum": [
                      "asap",
                      "date",
                      "date_time",
                      "done",
                      "queued",
                      "queued_with_date",
                      "waiting"
                    ],
                    "default": "date"
                  },
                  "date": {
                    "type": "string",
                    "description": "Due date for the action in YYYY-MM-DD format.",
                    "example": "2026-03-10"
                  },
                  "exactTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "UNIX epoch time in seconds when the action is due.",
                    "example": "2018-05-16T12:00:00Z",
                    "x-mindcloud-advanced": true
                  },
                  "assigneeId": {
                    "type": "string",
                    "description": "ID of the user assigned to the action.",
                    "example": "5aaa9b009007ba08c9ebaef7",
                    "x-mindcloud-advanced": true
                  },
                  "position": {
                    "type": "number",
                    "description": "Position of the action in the queued actions list.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "done": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/create-contact": {
      "post": {
        "operationId": "onePageCRM.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name of the contact.",
                    "example": "Joe"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the contact.",
                    "example": "Bloggs"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Name of the company the contact belongs to.",
                    "example": "Acme Inc."
                  },
                  "emails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Email addresses associated with the contact."
                  },
                  "phones[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Phone numbers associated with the contact."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Job title of the contact.",
                    "x-mindcloud-advanced": true
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the contact.",
                    "x-mindcloud-advanced": true
                  },
                  "companyId": {
                    "type": "string",
                    "description": "ID of the company the contact belongs to.",
                    "x-mindcloud-advanced": true
                  },
                  "statusId": {
                    "type": "string",
                    "description": "ID of the contact status.",
                    "example": "Select a status",
                    "x-mindcloud-advanced": true
                  },
                  "leadSourceId": {
                    "type": "string",
                    "description": "ID of the lead source.",
                    "example": "Select a lead source",
                    "x-mindcloud-advanced": true
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "ID of the user who owns the contact.",
                    "example": "Select a user",
                    "x-mindcloud-advanced": true
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags applied to the contact.",
                    "x-mindcloud-advanced": true
                  },
                  "starred": {
                    "type": "boolean",
                    "description": "Whether the contact is starred.",
                    "x-mindcloud-advanced": true
                  },
                  "background": {
                    "type": "string",
                    "description": "Background information about the contact.",
                    "x-mindcloud-advanced": true
                  },
                  "urls[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "URLs associated with the contact.",
                    "x-mindcloud-advanced": true
                  },
                  "addressList[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Addresses associated with the contact.",
                    "x-mindcloud-advanced": true
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Extra user-configurable contact fields.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zipCode": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "contactsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastTimelineUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "syncedStatusId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncedTags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncingStatus": {
                            "type": "boolean"
                          },
                          "syncingTags": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/create-deal": {
      "post": {
        "operationId": "onePageCRM.create-deal",
        "summary": "Create Deal",
        "description": "Creates a new deal in OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/create-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactId",
                  "ownerId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "ID of the contact the deal belongs to",
                    "example": "Joe"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "ID of the user who owns the deal",
                    "example": "apps@mindcloud.co"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the deal",
                    "example": "Codex Stage 3 Test Deal"
                  },
                  "pipelineId": {
                    "type": "string",
                    "description": "ID of the pipeline the deal belongs to",
                    "example": "Sales"
                  },
                  "salesPipelineId": {
                    "type": "string",
                    "description": "ID of the sales pipeline the deal belongs to",
                    "example": "Sales",
                    "x-mindcloud-advanced": true
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the deal",
                    "enum": [
                      "lost",
                      "pending",
                      "won"
                    ]
                  },
                  "stage": {
                    "type": "number",
                    "description": "Progress stage for a pending deal",
                    "example": 60,
                    "x-mindcloud-advanced": true
                  },
                  "expectedCloseDate": {
                    "type": "string",
                    "description": "Date the deal is expected to close in YYYY-MM-DD format.",
                    "example": "2026-04-10"
                  },
                  "closeDate": {
                    "type": "string",
                    "description": "Date the deal actually closed in YYYY-MM-DD format.",
                    "example": "2026-03-10",
                    "x-mindcloud-advanced": true
                  },
                  "date": {
                    "type": "string",
                    "description": "Creation date of the deal in YYYY-MM-DD format.",
                    "example": "2026-03-10",
                    "x-mindcloud-advanced": true
                  },
                  "amount": {
                    "type": "number",
                    "description": "Monetary value of the deal",
                    "example": 1250
                  },
                  "months": {
                    "type": "number",
                    "description": "Number of months for a multi-month deal",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "cost": {
                    "type": "number",
                    "description": "Monetary cost of the deal",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "commissionBase": {
                    "type": "string",
                    "description": "Base used to calculate the commission",
                    "enum": [
                      "amount",
                      "margin"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "commissionType": {
                    "type": "string",
                    "description": "Type of commission for the deal",
                    "enum": [
                      "absolute",
                      "none",
                      "percentage"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "commission": {
                    "type": "number",
                    "description": "Commission payable for the deal",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "commissionPercentage": {
                    "type": "number",
                    "description": "Commission percentage for the deal",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "text": {
                    "type": "string",
                    "description": "Extra notes related to the deal",
                    "example": "Follow-up proposal sent",
                    "x-mindcloud-advanced": true
                  },
                  "hasDealItems": {
                    "type": "boolean",
                    "description": "Set to true to create or keep deal items",
                    "x-mindcloud-advanced": true
                  },
                  "dealItems[].name": {
                    "type": "string",
                    "description": "Name of the deal item",
                    "example": "Conference software",
                    "x-mindcloud-advanced": true
                  },
                  "dealItems[].description": {
                    "type": "string",
                    "description": "Description of the deal item",
                    "example": "3 hotels",
                    "x-mindcloud-advanced": true
                  },
                  "dealItems[].cost": {
                    "type": "number",
                    "description": "Cost of the deal item",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "dealItems[].price": {
                    "type": "number",
                    "description": "Price of the deal item",
                    "example": 5130,
                    "x-mindcloud-advanced": true
                  },
                  "dealItems[].qty": {
                    "type": "number",
                    "description": "Quantity of the deal item",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "dealItems[].predefinedItemId": {
                    "type": "string",
                    "description": "ID of the predefined item used for deal item creation",
                    "example": "69b0275320594670de9e9477",
                    "x-mindcloud-advanced": true
                  },
                  "dealFields[].dealField.id": {
                    "type": "string",
                    "description": "ID of the deal custom field to set",
                    "example": "5aad9b039007ba28c9ebad56",
                    "x-mindcloud-advanced": true
                  },
                  "dealFields[].value": {
                    "type": "string",
                    "description": "Value for the deal custom field",
                    "example": "Large",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "author": {
                            "type": "string"
                          },
                          "commission": {
                            "type": "number"
                          },
                          "commissionBase": {
                            "type": "string"
                          },
                          "commissionPercentage": {
                            "type": "number"
                          },
                          "commissionType": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "contactInfo": {
                            "type": "object",
                            "properties": {
                              "company": {
                                "type": "string"
                              },
                              "contactName": {
                                "type": "string"
                              },
                              "contactOwnerId": {
                                "type": "string"
                              },
                              "photoUrl": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cost": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expectedCloseDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasDealItems": {
                            "type": "boolean"
                          },
                          "hasRelatedNotes": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastTimelineUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "margin": {
                            "type": "number"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "months": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "pipelineId": {
                            "type": "string"
                          },
                          "salesPipelineId": {
                            "type": "string"
                          },
                          "stage": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "totalAmount": {
                            "type": "number"
                          },
                          "totalCost": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/create-note": {
      "post": {
        "operationId": "onePageCRM.create-note",
        "summary": "Create Note",
        "description": "Creates a new note in OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/create-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "ID of the contact the note belongs to.",
                    "example": "5ae06ef9d55673108fe8877f"
                  },
                  "text": {
                    "type": "string",
                    "description": "Extra details related to the note.",
                    "example": "I met Jane Doe at the ABC conference. She's interested in hearing about XYZ."
                  },
                  "date": {
                    "type": "string",
                    "description": "Creation date of the note in YYYY-MM-DD format.",
                    "example": "2026-03-10"
                  },
                  "linkedDealId": {
                    "type": "string",
                    "description": "Linked deal ID for the note.",
                    "example": "5aba31e99007ba0f570c12f7",
                    "x-mindcloud-advanced": true
                  },
                  "userIdsToNotify[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of user IDs to notify.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastTimelineUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "linkedDealId": {
                            "type": "string"
                          },
                          "linkedDealName": {
                            "type": "string"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/get-action": {
      "get": {
        "operationId": "onePageCRM.get-action",
        "summary": "Get Action",
        "description": "Retrieves an action from OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/get-action"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionId",
            "in": "query",
            "required": true,
            "description": "Action ID.",
            "schema": {
              "type": "string",
              "description": "Action ID.",
              "example": "69b027783c686ec82a8c6081"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeId": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "done": {
                            "type": "boolean"
                          },
                          "doneAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/get-company": {
      "get": {
        "operationId": "onePageCRM.get-company",
        "summary": "Get Company",
        "description": "Retrieves a company from OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "ID of the company to retrieve",
            "schema": {
              "type": "string",
              "description": "ID of the company to retrieve",
              "example": "Acme Inc."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zipCode": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "contact": {
                                  "type": "object",
                                  "properties": {
                                    "addressList": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "address": {
                                            "type": "string"
                                          },
                                          "city": {
                                            "type": "string"
                                          },
                                          "countryCode": {
                                            "type": "string"
                                          },
                                          "state": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string"
                                          },
                                          "zipCode": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "background": {
                                      "type": "string"
                                    },
                                    "companyId": {
                                      "type": "string"
                                    },
                                    "companyName": {
                                      "type": "string"
                                    },
                                    "companySize": {
                                      "type": "number"
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "emailSyncAvailable": {
                                      "type": "boolean"
                                    },
                                    "emailSyncEnabled": {
                                      "type": "boolean"
                                    },
                                    "enhanceable": {
                                      "type": "boolean"
                                    },
                                    "firstName": {
                                      "type": "string"
                                    },
                                    "googleContactsData": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "jobTitle": {
                                      "type": "string"
                                    },
                                    "lastName": {
                                      "type": "string"
                                    },
                                    "lastTimelineUpdate": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "leadSource": {
                                      "type": "string"
                                    },
                                    "leadSourceId": {
                                      "type": "string"
                                    },
                                    "letter": {
                                      "type": "string"
                                    },
                                    "modifiedAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "ownerId": {
                                      "type": "string"
                                    },
                                    "pendingDeal": {
                                      "type": "boolean"
                                    },
                                    "photoUrl": {
                                      "type": "string"
                                    },
                                    "starred": {
                                      "type": "boolean"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "statusId": {
                                      "type": "string"
                                    },
                                    "totalDealsCount": {
                                      "type": "number"
                                    },
                                    "totalPendings": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "mostUrgentAction": {
                                  "type": "object",
                                  "properties": {
                                    "assigneeId": {
                                      "type": "string"
                                    },
                                    "contactId": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "done": {
                                      "type": "boolean"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "modifiedAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "nextAction": {
                                  "type": "object",
                                  "properties": {
                                    "assigneeId": {
                                      "type": "string"
                                    },
                                    "contactId": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "done": {
                                      "type": "boolean"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "modifiedAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "nextActions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "assigneeId": {
                                        "type": "string"
                                      },
                                      "contactId": {
                                        "type": "string"
                                      },
                                      "createdAt": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "date": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "done": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "modifiedAt": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "status": {
                                        "type": "string"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "contactsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastTimelineUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "linkedContactsCount": {
                            "type": "number"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "pendingDealsCount": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "syncedStatusId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncedTags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncingStatus": {
                            "type": "boolean"
                          },
                          "syncingTags": {
                            "type": "boolean"
                          },
                          "totalPendingAmount": {
                            "type": "number"
                          },
                          "totalWonAmount": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "wonDealsCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/onePageCRM/latest/actions/get-contact": {
      "get": {
        "operationId": "onePageCRM.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from OnePageCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/onePageCRM/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "description": "Contact ID.",
            "schema": {
              "type": "string",
              "description": "Contact ID.",
              "example": "Select a contact"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "countryCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zipCode": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "contactsCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastTimelineUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "linkedContactsCount": {
                            "type": "number"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "syncedStatusId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncedTags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncingStatus": {
                            "type": "boolean"
                          },
                          "syncingTags": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
[...]
