{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PiAPI/DiffRhythm Universal API",
    "version": "0.0.2",
    "description": "Create DiffRhythm music-generation tasks, upload reference audio for style guidance, and check PiAPI task and account status."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/piAPIDiffRhythm/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/piAPIDiffRhythm/latest/actions/file-upload-api": {
      "post": {
        "operationId": "piAPIDiffRhythm.file-upload-api",
        "summary": "File Upload API",
        "description": "Creates a temporary file upload in PiAPI/DiffRhythm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIDiffRhythm/latest/actions/file-upload-api"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "fileData"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "File name including a supported extension such as `.mp3`, `.wav`, `.png`, or `.jpg`."
                  },
                  "fileData": {
                    "type": "string",
                    "description": "Base64-encoded file content. PiAPI also accepts a matching data URI."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIDiffRhythm/latest/actions/generate-audio": {
      "post": {
        "operationId": "piAPIDiffRhythm.generate-audio",
        "summary": "Generate Audio",
        "description": "Creates a DiffRhythm audio task in PiAPI/DiffRhythm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIDiffRhythm/latest/actions/generate-audio"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskType",
                  "input.lyrics"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskType": {
                    "type": "string",
                    "description": "Choose `txt2audio-base` for shorter generations or `txt2audio-full` for longer songs.",
                    "default": "txt2audio-base"
                  },
                  "input.lyrics": {
                    "type": "string",
                    "description": "Timed lyrics in DiffRhythm format such as `[00:10.00] line of lyrics`."
                  },
                  "input.stylePrompt": {
                    "type": "string",
                    "description": "Describe the musical style, genre, or mood when you are not using a reference audio file."
                  },
                  "input.styleAudio": {
                    "type": "string",
                    "description": "Optional reference audio URL or Base64 string to guide the generated style.",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "description": "Optional webhook URL for PiAPI task completion callbacks.",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "description": "Optional secret that PiAPI includes when calling your webhook.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "properties": {
                              "serviceMode": {
                                "type": "string"
                              },
                              "webhookConfig": {
                                "type": "object",
                                "properties": {
                                  "endpoint": {
                                    "type": "string"
                                  },
                                  "secret": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "detail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "message": {
                                "type": "string"
                              },
                              "rawMessage": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "input": {
                            "type": "object",
                            "properties": {
                              "lyrics": {
                                "type": "string"
                              },
                              "styleAudio": {
                                "type": "string"
                              },
                              "stylePrompt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "endedAt": {
                                "type": "string"
                              },
                              "isUsingPrivatePool": {
                                "type": "boolean"
                              },
                              "startedAt": {
                                "type": "string"
                              },
                              "usage": {
                                "type": "object",
                                "properties": {
                                  "consume": {
                                    "type": "number"
                                  },
                                  "frozen": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "model": {
                            "type": "string"
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "taskType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIDiffRhythm/latest/actions/get-task": {
      "get": {
        "operationId": "piAPIDiffRhythm.get-task",
        "summary": "Get Task",
        "description": "Retrieves a DiffRhythm task from PiAPI/DiffRhythm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIDiffRhythm/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The PiAPI task ID returned when you created the DiffRhythm generation task.",
            "schema": {
              "type": "string",
              "description": "The PiAPI task ID returned when you created the DiffRhythm generation task."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "properties": {
                              "serviceMode": {
                                "type": "string"
                              },
                              "webhookConfig": {
                                "type": "object",
                                "properties": {
                                  "endpoint": {
                                    "type": "string"
                                  },
                                  "secret": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "detail": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "message": {
                                "type": "string"
                              },
                              "rawMessage": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "input": {
                            "type": "object",
                            "properties": {
                              "lyrics": {
                                "type": "string"
                              },
                              "styleAudio": {
                                "type": "string"
                              },
                              "stylePrompt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "endedAt": {
                                "type": "string"
                              },
                              "isUsingPrivatePool": {
                                "type": "boolean"
                              },
                              "startedAt": {
                                "type": "string"
                              },
                              "usage": {
                                "type": "object",
                                "properties": {
                                  "consume": {
                                    "type": "number"
                                  },
                                  "frozen": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "model": {
                            "type": "string"
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "taskType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIDiffRhythm/latest/actions/piapi-account-info": {
      "get": {
        "operationId": "piAPIDiffRhythm.piapi-account-info",
        "summary": "PiAPI Account Info",
        "description": "Retrieves your account information from PiAPI/DiffRhythm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIDiffRhythm/latest/actions/piapi-account-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credit_pack_info": {
                            "type": "object",
                            "properties": {
                              "available_credits": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "equivalent_in_usd": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "max_concurrent_task_count": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "wallet": {
                            "type": "object",
                            "properties": {
                              "llm_remain": {
                                "type": "number"
                              },
                              "llm_used": {
                                "type": "number"
                              },
                              "point_remain": {
                                "type": "number"
                              },
                              "point_used": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIDiffRhythm/latest/actions/task-list-info": {
      "get": {
        "operationId": "piAPIDiffRhythm.task-list-info",
        "summary": "Task List Info",
        "description": "Retrieves active task information from PiAPI/DiffRhythm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIDiffRhythm/latest/actions/task-list-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "flux": {
                            "type": "object",
                            "properties": {
                              "pending_count": {
                                "type": "number"
                              },
                              "processing_count": {
                                "type": "number"
                              },
                              "staged_count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "kling": {
                            "type": "object",
                            "properties": {
                              "pending_count": {
                                "type": "number"
                              },
                              "processing_count": {
                                "type": "number"
                              },
                              "staged_count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "luma": {
                            "type": "object",
                            "properties": {
                              "pending_count": {
                                "type": "number"
                              },
                              "processing_count": {
                                "type": "number"
                              },
                              "staged_count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "midjourney": {
                            "type": "object",
                            "properties": {
                              "pending_count": {
                                "type": "number"
                              },
                              "processing_count": {
                                "type": "number"
                              },
                              "staged_count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "music-s": {
                            "type": "object",
                            "properties": {
                              "pending_count": {
                                "type": "number"
                              },
                              "processing_count": {
                                "type": "number"
                              },
                              "staged_count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "music-u": {
                            "type": "object",
                            "properties": {
                              "pending_count": {
                                "type": "number"
                              },
                              "processing_count": {
                                "type": "number"
                              },
                              "staged_count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIDiffRhythm/latest/actions/user-task-history": {
      "get": {
        "operationId": "piAPIDiffRhythm.user-task-history",
        "summary": "User Task History",
        "description": "Retrieves your task history from PiAPI/DiffRhythm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIDiffRhythm/latest/actions/user-task-history"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "History page number starting at 1.",
            "schema": {
              "type": "number",
              "description": "History page number starting at 1.",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of history records to return. PiAPI allows up to 100.",
            "schema": {
              "type": "number",
              "description": "Number of history records to return. PiAPI allows up to 100.",
              "default": 10
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Optional Unix timestamp in seconds. Only return tasks created after this time.",
            "schema": {
              "type": "number",
              "description": "Optional Unix timestamp in seconds. Only return tasks created after this time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Optional Unix timestamp in seconds. Only return tasks created before this time.",
            "schema": {
              "type": "number",
              "description": "Optional Unix timestamp in seconds. Only return tasks created before this time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account_id": {
                                  "type": "number"
                                },
                                "action": {
                                  "type": "string"
                                },
                                "api_key_id": {
                                  "type": "number"
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "detail": {
                                  "type": "object",
                                  "properties": {
                                    "model": {
                                      "type": "string"
                                    },
                                    "task_id": {
                                      "type": "string"
                                    },
                                    "workflow_type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "fixed": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "service_mode": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "task_id": {
                                  "type": "string"
                                },
                                "task_model": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "usage": {
                                  "type": "number"
                                },
                                "usage_type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "page": {
                            "type": "number"
                          },
                          "size": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
