{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zyte Universal API",
    "version": "0.0.4",
    "description": "Access Zyte Stats API reports through curated analytics actions over the official stats endpoint."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zyte/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zyte/latest/actions/get-actions-feature-usage": {
      "get": {
        "operationId": "zyte.get-actions-feature-usage",
        "summary": "Get Actions Feature Usage",
        "description": "Retrieves actions feature usage metrics from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-actions-feature-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-article-extraction-usage": {
      "get": {
        "operationId": "zyte.get-article-extraction-usage",
        "summary": "Get Article Extraction Usage",
        "description": "Retrieves article extraction usage metrics from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-article-extraction-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-article-list-extraction-usage": {
      "get": {
        "operationId": "zyte.get-article-list-extraction-usage",
        "summary": "Get Article List Extraction Usage",
        "description": "Retrieves article list extraction usage metrics from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-article-list-extraction-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-article-navigation-extraction-usage": {
      "get": {
        "operationId": "zyte.get-article-navigation-extraction-usage",
        "summary": "Get Article Navigation Extraction Usage",
        "description": "Retrieves article navigation extraction usage metrics from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-article-navigation-extraction-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-browser-html-extraction-source-usage": {
      "get": {
        "operationId": "zyte.get-browser-html-extraction-source-usage",
        "summary": "Get Browser HTML Extraction Source Usage",
        "description": "Retrieves article extraction usage metrics from Browser HTML in Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-browser-html-extraction-source-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-browser-html-feature-usage": {
      "get": {
        "operationId": "zyte.get-browser-html-feature-usage",
        "summary": "Get Browser HTML Feature Usage",
        "description": "Retrieves Browser HTML feature usage metrics from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-browser-html-feature-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-daily-domain-usage-trend": {
      "get": {
        "operationId": "zyte.get-daily-domain-usage-trend",
        "summary": "Get Daily Domain Usage Trend",
        "description": "Retrieves daily usage trends grouped by domain from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-daily-domain-usage-trend"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-daily-usage-trend": {
      "get": {
        "operationId": "zyte.get-daily-usage-trend",
        "summary": "Get Daily Usage Trend",
        "description": "Retrieves daily usage trends from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-daily-usage-trend"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zyte/latest/actions/get-domain-health-breakdown": {
      "get": {
        "operationId": "zyte.get-domain-health-breakdown",
        "summary": "Get Domain Health Breakdown",
        "description": "Retrieves domain health metrics grouped by domain from Zyte.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zyte/latest/actions/get-domain-health-breakdown"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costMicrousdAvg": {
                                  "type": "number"
                                },
                                "costMicrousdP80": {
                                  "type": "number"
                                },
                                "costMicrousdTotal": {
                                  "type": "number"
                                },
                                "day": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "domainHealth": {
                                  "type": "object",
                                  "properties": {
                                    "globalAvgSuccessRate24h": {
                                      "type": "string"
                                    },
                                    "globalAvgSuccessRate7d": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd24h": {
                                      "type": "string"
                                    },
                                    "myAvgPriceMicrousd7d": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime24h": {
                                      "type": "string"
                                    },
                                    "myAvgResponseTime7d": {
                                      "type": "string"
                                    },
                                    "myRequests24h": {
                                      "type": "number"
                                    },
                                    "myRequests7d": {
                                      "type": "number"
                                    },
                                    "mySuccessRate24h": {
                                      "type": "string"
                                    },
                                    "mySuccessRate7d": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd24h": {
                                      "type": "string"
                                    },
                                    "totalSpentMicrousd7d": {
                                      "type": "string"
                                    },
                                    "totalSuccessfulRequests24h": {
                                      "type": "number"
                                    },
                                    "totalSuccessfulRequests7d": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hour": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "month": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "organizationId": {
                                  "type": "number"
                                },
                                "requestCount": {
                                  "type": "number"
                                },
                                "responseTimeSecAvg": {
                                  "type": "number"
                                },
                                "responseTimeSecP80": {
                                  "type": "number"
                                },
                                "statusCodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "number"
                                      },
                                      "count": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "year": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResultCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
[...]
