{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Glasp Universal API",
    "version": "0.0.4",
    "description": "Collect, organize, and share highlights and notes from the web and PDFs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/glasp/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/glasp/latest/actions/create-highlights": {
      "post": {
        "operationId": "glasp.create-highlights",
        "summary": "Create Highlights",
        "description": "Creates new highlights in your Glasp account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/glasp/latest/actions/create-highlights"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "highlights[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "highlights[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of Glasp highlight objects to create. Each object should include at least title, url, and text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "Glasp content category for the document."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Source domain for the document."
                          },
                          "glaspUrl": {
                            "type": "string",
                            "description": "Glasp URL for the saved document."
                          },
                          "highlights": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "color": {
                                  "type": "string",
                                  "description": "Created highlight color."
                                },
                                "highlightedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the highlight was recorded in Glasp."
                                },
                                "highlightUrl": {
                                  "type": "string",
                                  "description": "Unique highlight URL when Glasp provides one."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Glasp highlight identifier."
                                },
                                "location": {
                                  "type": "number",
                                  "description": "Optional highlight location or timestamp."
                                },
                                "note": {
                                  "type": "string",
                                  "description": "Created highlight note."
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Created highlight text."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Glasp document identifier created or reused for the imported highlights."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the source document."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the document was last updated in Glasp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Original source URL for the created highlights."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/glasp/latest/actions/delete-highlight": {
      "delete": {
        "operationId": "glasp.delete-highlight",
        "summary": "Delete Highlight",
        "description": "Deletes a Glasp highlight or all highlights in a document.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/glasp/latest/actions/delete-highlight"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Document URL that owns the highlight.",
            "schema": {
              "type": "string",
              "description": "Document URL that owns the highlight."
            }
          },
          {
            "name": "highlightId",
            "in": "query",
            "required": true,
            "description": "Identifier of the Glasp highlight to delete.",
            "schema": {
              "type": "string",
              "description": "Identifier of the Glasp highlight to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Deletion payload returned by Glasp.",
                            "properties": {
                              "highlightId": {
                                "type": "string",
                                "description": "Highlight identifier that Glasp deleted."
                              },
                              "url": {
                                "type": "string",
                                "description": "Source URL that owned the deleted highlight."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "Deletion status message from Glasp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/glasp/latest/actions/export-highlights": {
      "get": {
        "operationId": "glasp.export-highlights",
        "summary": "Export Highlights",
        "description": "Retrieves your Glasp highlights with optional filtering and pagination.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/glasp/latest/actions/export-highlights"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageCursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor returned from the previous Glasp export response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor returned from the previous Glasp export response."
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Only return highlights updated after this ISO date-time string.",
            "schema": {
              "type": "string",
              "description": "Only return highlights updated after this ISO date-time string."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Number of exported Glasp documents in the current response page."
                          },
                          "nextPageCursor": {
                            "type": "string",
                            "description": "Cursor for the next export page when more results are available."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string",
                                  "description": "Glasp content category for the document."
                                },
                                "glaspUrl": {
                                  "type": "string",
                                  "description": "Glasp URL for the saved document."
                                },
                                "highlights": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "color": {
                                        "type": "string",
                                        "description": "Highlight color."
                                      },
                                      "highlightUrl": {
                                        "type": "string",
                                        "description": "Unique URL for the highlight when Glasp provides one."
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Glasp highlight identifier."
                                      },
                                      "note": {
                                        "type": "string",
                                        "description": "User note attached to the highlight."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "Highlighted text content."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Glasp document identifier."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Title of the highlighted source document."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the document was last updated in Glasp."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Original source URL."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/glasp/latest/actions/update-highlight": {
      "put": {
        "operationId": "glasp.update-highlight",
        "summary": "Update Highlight",
        "description": "Updates an existing highlight in Glasp.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/glasp/latest/actions/update-highlight"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url",
                  "highlightId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "Document URL that owns the highlight."
                  },
                  "highlightId": {
                    "type": "string",
                    "description": "Identifier of the Glasp highlight to update."
                  },
                  "text": {
                    "type": "string",
                    "description": "Updated highlight text."
                  },
                  "note": {
                    "type": "string",
                    "description": "Updated note attached to the highlight."
                  },
                  "color": {
                    "type": "string",
                    "description": "Updated color for the highlight."
                  },
                  "location": {
                    "type": "number",
                    "description": "Updated highlight position within the document."
                  },
                  "highlightUrl": {
                    "type": "string",
                    "description": "Updated canonical URL for the highlight."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "Glasp content category for the document."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Source domain for the document."
                          },
                          "glaspUrl": {
                            "type": "string",
                            "description": "Glasp URL for the saved document."
                          },
                          "highlights": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "color": {
                                  "type": "string",
                                  "description": "Updated highlight color."
                                },
                                "highlightUrl": {
                                  "type": "string",
                                  "description": "Unique highlight URL when Glasp provides one."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Glasp highlight identifier."
                                },
                                "location": {
                                  "type": "number",
                                  "description": "Updated highlight location or timestamp."
                                },
                                "note": {
                                  "type": "string",
                                  "description": "Updated highlight note."
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Updated highlight text."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the highlight was last updated in Glasp."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Glasp document identifier containing the updated highlight."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the source document."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the document was last updated in Glasp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Original source URL for the highlight."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
