{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "WorkflowMax Universal API",
    "version": "0.0.6",
    "description": "Manage jobs, clients, timesheets, quotes, and invoices"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/workflowMax/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/workflowMax/latest/actions/create-client": {
      "post": {
        "operationId": "workflowMax.create-client",
        "summary": "Create Client",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workflowMax/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "description": "The full address."
                                },
                                "city": {
                                  "type": "string",
                                  "description": "The city of the client address."
                                },
                                "country": {
                                  "type": "string",
                                  "description": "The country where the client is located, typically represented by its ISO code."
                                },
                                "default": {
                                  "type": "boolean",
                                  "description": "Indicate whether the address is a default one for the client."
                                },
                                "postalCode": {
                                  "type": "string",
                                  "description": "The postal or ZIP code associated with the client’s address."
                                },
                                "state": {
                                  "type": "string",
                                  "description": "The state, province, or region part of the client’s address."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "The classification or category of the address (e.g., billing, postal)."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Indicate whether the client is archived."
                          },
                          "billingDetails": {
                            "type": "object",
                            "properties": {
                              "balanceDate": {
                                "type": "string",
                                "description": "Client's balance date."
                              },
                              "billingClient": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the billing client associated with the created client."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "The unique identifier of the billing client associated with the created client."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "businessStructure": {
                                "type": "object",
                                "properties": {
                                  "businessStructure": {
                                    "type": "string",
                                    "description": "The name of the business structure."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "The unique identifier of the business structure."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "clientType": {
                                "type": "object",
                                "properties": {
                                  "clientType": {
                                    "type": "string",
                                    "description": "The name of the client type."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "The unique identifier of the client type."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customRates": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "billableRate": {
                                      "type": "number",
                                      "description": "The custom billable rate of the task for the client."
                                    },
                                    "taskUUID": {
                                      "type": "string",
                                      "description": "The unique identifier of the task having client custom rate."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "invoiceDueDate": {
                                "type": "string",
                                "description": "The payment term of the client."
                              },
                              "markup": {
                                "type": "number",
                                "description": "The percentage or fixed amount added to the client’s base rate as a markup."
                              },
                              "taxNumbers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the tax."
                                    },
                                    "number": {
                                      "type": "string",
                                      "description": "Percentage rate of the tax."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "zeroRatedTaxRate": {
                                "type": "object",
                                "properties": {
                                  "rate": {
                                    "type": "number",
                                    "description": "The percentage rate of the tax. It must be 0."
                                  },
                                  "taxName": {
                                    "type": "string",
                                    "description": "The name or description of the zero tax applied to the client’s transactions."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "clientGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the client group."
                                },
                                "taxable": {
                                  "type": "boolean",
                                  "description": "Indicate whether the client group is taxable."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the client group."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "clientManager": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "The first name of the client manager."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name of the client manager."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the client manager for the client."
                              }
                            },
                            "additionalProperties": false
                          },
                          "clientRelationships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "endDate": {
                                  "type": "string",
                                  "description": "The end date of the client relationship."
                                },
                                "numberOfShare": {
                                  "type": "number",
                                  "description": "Number of shares held by the client. It only has value in some specific relationships."
                                },
                                "relatedClientUUID": {
                                  "type": "string",
                                  "description": "The unique identifier of the client associated with the created client in the relationship."
                                },
                                "startDate": {
                                  "type": "string",
                                  "description": "The start date of the client relationship."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "The type of the client relationship."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the client relationship."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "contactDetails": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "The primary email address associated with the client used for communication and notifications."
                              },
                              "fax": {
                                "type": "string",
                                "description": "The fax number assigned to the client for sending and receiving faxes."
                              },
                              "phone": {
                                "type": "string",
                                "description": "The primary telephone number for contacting the client."
                              },
                              "website": {
                                "type": "string",
                                "description": "The official website URL of the client’s business or organization."
                              }
                            },
                            "additionalProperties": false
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "firstName": {
                                  "type": "string",
                                  "description": "The first name of the client contact."
                                },
                                "includeInEmails": {
                                  "type": "boolean",
                                  "description": "Indicate whether the contact should be included in the emails sent to the client."
                                },
                                "lastName": {
                                  "type": "string",
                                  "description": "The last name of the client contact."
                                },
                                "position": {
                                  "type": "string",
                                  "description": "The job title or role of the contact within the client’s organization."
                                },
                                "primary": {
                                  "type": "boolean",
                                  "description": "Indicates whether this contact is marked as primary contact for the client's organization."
                                },
                                "salutation": {
                                  "type": "string",
                                  "description": "The preferred salutation or title for the client (e.g., Mr., Ms., Dr.)."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the client contact."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The UTC timestamp indicating when the {object} was created."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the custom field."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the custom field."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the custom field."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "exportCode": {
                            "type": "string",
                            "description": "A code used to classify or manage the client for export or reporting purposes."
                          },
                          "favorite": {
                            "type": "boolean",
                            "description": "Indicate whether the client is marked as favorite."
                          },
                          "jobManager": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "The first name of the job manager."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name of the job manager."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the job manager for the client."
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string",
                            "description": "The full name of the client as a single string."
                          },
                          "prospect": {
                            "type": "boolean",
                            "description": "Indicate whether the client is a prospect."
                          },
                          "referralSource": {
                            "type": "string",
                            "description": "The origin or source through which the client was referred."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "The UTC timestamp indicating when the {object} was last updated."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "A unique identifier assigned to the client, typically in UUID format."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workflowMax/latest/actions/create-job": {
      "post": {
        "operationId": "workflowMax.create-job",
        "summary": "Create Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workflowMax/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "budget": {
                            "type": "number",
                            "description": "The budget of the job."
                          },
                          "capacityReducing": {
                            "type": "boolean",
                            "description": "Indicate whether the job is capacity-reducing. It is setup in capacity planning."
                          },
                          "client": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "The email address of the client associated with the job."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the client associated with the job."
                              },
                              "phoneNumber": {
                                "type": "string",
                                "description": "The phone number of the client associated with the job."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the client associated with the job."
                              }
                            },
                            "additionalProperties": false
                          },
                          "clientManager": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "The first name of the client manager assigned to the job."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name of the client manager assigned to the job."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the client manager assigned to the job."
                              }
                            },
                            "additionalProperties": false
                          },
                          "clientOrderNumber": {
                            "type": "string",
                            "description": "The client order number of the job."
                          },
                          "completedDate": {
                            "type": "string",
                            "description": "The date when the job was marked as completed."
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "The email address of the contact associated with the job."
                              },
                              "firstName": {
                                "type": "string",
                                "description": "The first name of the contact associated with the job."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name of the contact associated with the job."
                              },
                              "mobileNumber": {
                                "type": "string",
                                "description": "The mobile number of the contact associated with the job."
                              },
                              "phoneNumber": {
                                "type": "string",
                                "description": "The phone number of the contact associated with the job."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the contact associated with the job."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The UTC timestamp indicating when the job was created."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the custom field."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the custom field."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the custom field."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the job."
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "The date by which the job is expected to be completed."
                          },
                          "estimatedBillings": {
                            "type": "number",
                            "description": "The estimated billings amount of the job."
                          },
                          "excludeEstimatedBillings": {
                            "type": "boolean",
                            "description": "Indicate whether the job is excluded from estimated billings."
                          },
                          "jobCategory": {
                            "type": "object",
                            "properties": {
                              "jobCategory": {
                                "type": "string",
                                "description": "The name of the job category."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the job category."
                              }
                            },
                            "additionalProperties": false
                          },
                          "jobManager": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "The first name of the job manager assigned to the job."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name of the job manager assigned to the job."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the job manager assigned to the job."
                              }
                            },
                            "additionalProperties": false
                          },
                          "jobNumber": {
                            "type": "string",
                            "description": "The internal or system-generated number assigned to identify the job."
                          },
                          "jobStatus": {
                            "type": "object",
                            "properties": {
                              "jobStatus": {
                                "type": "string",
                                "description": "The name of the job status."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the job status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string",
                            "description": "The official title or designation of the job."
                          },
                          "priority": {
                            "type": "string",
                            "description": "The priority of the job."
                          },
                          "staffAssigned": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "customBillableRate": {
                                  "type": "number",
                                  "description": "The custom billable rate of the staff who is assigned to the job."
                                },
                                "firstName": {
                                  "type": "string",
                                  "description": "The first name of the staff who is assigned to the job."
                                },
                                "lastName": {
                                  "type": "string",
                                  "description": "The last name of the staff who is assigned to the job."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the staff who is assigned to the job."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "startDate": {
                            "type": "string",
                            "description": "The date when work on the job officially began."
                          },
                          "taskInvoiceRate": {
                            "type": "string",
                            "description": "The task invoice rate mode to be used in the job. Possible value: staff, task."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "The UTC timestamp indicating when the job was last updated."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The unique identifier of the created job, returned in the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workflowMax/latest/actions/create-job-cost": {
      "post": {
        "operationId": "workflowMax.create-job-cost",
        "summary": "Create Job Cost",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workflowMax/latest/actions/create-job-cost"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobIdentifier"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobIdentifier": {
                    "type": "string",
                    "description": "The WorkflowMax job identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actual": {
                            "type": "boolean",
                            "description": "Indicate whether the job cost is actual or estimated."
                          },
                          "billable": {
                            "type": "boolean",
                            "description": "Indicate whether the job cost is billable or not."
                          },
                          "costCode": {
                            "type": "string",
                            "description": "The code of the job cost."
                          },
                          "costName": {
                            "type": "string",
                            "description": "The name of the job cost."
                          },
                          "costUUID": {
                            "type": "string",
                            "description": "The unique identifier of the cost as managed in the cost admin which is associated with the job cost."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The UTC timestamp indicating when the job cost was created."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the custom field."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the custom field."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the custom field."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "date": {
                            "type": "string",
                            "description": "The date of the job cost."
                          },
                          "note": {
                            "type": "string",
                            "description": "The note of the job cost."
                          },
                          "order": {
                            "type": "number",
                            "description": "Indicate the order of the job cost as in the job."
                          },
                          "phase": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the phase associated to the job cost."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the phase associated to the job cost."
                              }
                            },
                            "additionalProperties": false
                          },
                          "quantity": {
                            "type": "number",
                            "description": "The quantity of the job cost."
                          },
                          "supplier": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the supplier associated to the job cost."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the supplier associated to the job cost."
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the job cost. Possible value: Service or Stock."
                          },
                          "unitCost": {
                            "type": "number",
                            "description": "The unit cost of the job cost."
                          },
                          "unitPrice": {
                            "type": "number",
                            "description": "The unit price of the job cost."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "The UTC timestamp indicating when the job cost was last updated."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The unique identifier of the job cost."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workflowMax/latest/actions/create-job-quote": {
      "post": {
        "operationId": "workflowMax.create-job-quote",
        "summary": "Create Job Quote",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workflowMax/latest/actions/create-job-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobId": {
                    "type": "string",
                    "description": "The WorkflowMax job UUID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acceptedDeclinedDate": {
                            "type": "string",
                            "description": "The UTC date when the quote is accepted or declined."
                          },
                          "amountExTax": {
                            "type": "number",
                            "description": "The total amount of the quote excluding taxes."
                          },
                          "amountIncTax": {
                            "type": "number",
                            "description": "The total amount of the quote including taxes."
                          },
                          "budget": {
                            "type": "number",
                            "description": "The budget of the quote."
                          },
                          "client": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "The email of the client associated with the quote."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the client associated with the quote."
                              },
                              "phoneNumber": {
                                "type": "string",
                                "description": "The phone number of the client associated with the quote."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the client associated with the quote. It can be mapped with the uuid in GET /clients/ endpoint."
                              }
                            },
                            "additionalProperties": false
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "The email of the contact associated with the quote."
                              },
                              "firstName": {
                                "type": "string",
                                "description": "The first name of the contact associated with the quote."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name of the contact associated with the quote."
                              },
                              "mobileNumber": {
                                "type": "string",
                                "description": "The mobile number of the contact associated with the quote."
                              },
                              "phoneNumber": {
                                "type": "string",
                                "description": "The phone number of the contact associated with the quote."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the contact associated with the quote. It can be mapped with the uuid in GET /clients/contacts/ endpoint."
                              }
                            },
                            "additionalProperties": false
                          },
                          "costAmountExTax": {
                            "type": "number",
                            "description": "The cost amount of the quote excluding taxes."
                          },
                          "costs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accepted": {
                                  "type": "boolean",
                                  "description": "Indicate whether the quote has been accepted."
                                },
                                "amount": {
                                  "type": "number",
                                  "description": "The total amount of the quote cost."
                                },
                                "billable": {
                                  "type": "boolean",
                                  "description": "Indicate whether the quote cost is billable."
                                },
                                "costCode": {
                                  "type": "string",
                                  "description": "The code of the quote cost."
                                },
                                "costNote": {
                                  "type": "string",
                                  "description": "The note of the quote cost."
                                },
                                "costUUID": {
                                  "type": "string",
                                  "description": "The unique identifier of the cost managed in the cost admin. It can be mapped with the uuid in GET /costs/ endpoint."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote cost is created."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "The description of the quote cost."
                                },
                                "fixedPrice": {
                                  "type": "boolean",
                                  "description": "Indicate whether the price of the quote cost is based on a fixed price. It is in calculated price if value is false."
                                },
                                "jobCostUUID": {
                                  "type": "string",
                                  "description": "The unique identifier of the job cost associated with the quote task."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the quote cost."
                                },
                                "optional": {
                                  "type": "boolean",
                                  "description": "Indicate whether the quote cost is optional."
                                },
                                "order": {
                                  "type": "number",
                                  "description": "The order of the quote cost."
                                },
                                "quantity": {
                                  "type": "number",
                                  "description": "The quantity of the quote cost."
                                },
                                "quotePhaseUUID": {
                                  "type": "string",
                                  "description": "The unique identifier of the quote phase. It can be mapped with the uuid in phases section."
                                },
                                "tax": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "taxName": {
                                        "type": "string",
                                        "description": "The name of the tax for the quote cost."
                                      },
                                      "taxRate": {
                                        "type": "number",
                                        "description": "The rate of the tax for the quote cost."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "type": {
                                  "type": "string",
                                  "description": "The type of the quote cost, e.g. service or stock."
                                },
                                "unit_cost": {
                                  "type": "number",
                                  "description": "The unit cost of the quote cost."
                                },
                                "unitPrice": {
                                  "type": "number",
                                  "description": "The unit price of the quote cost."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote cost is last updated."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the quote cost."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The UTC date and time when the quote is created."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the quote custom field."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the quote custom field."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the quote custom field."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the quote."
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote document is firstly uploaded."
                                },
                                "downloadURL": {
                                  "type": "string",
                                  "description": "The downloadURL of the quote document."
                                },
                                "fileName": {
                                  "type": "string",
                                  "description": "The file name of the quote document."
                                },
                                "fileSize": {
                                  "type": "number",
                                  "description": "The file size of the quote document."
                                },
                                "note": {
                                  "type": "string",
                                  "description": "The note of the quote document."
                                },
                                "phase": {
                                  "type": "string",
                                  "description": "The phase of the quote document."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title of the quote document."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote document is last updated."
                                },
                                "uploadedBy": {
                                  "type": "object",
                                  "properties": {
                                    "firstName": {
                                      "type": "string",
                                      "description": "The first name of the staff who uploaded the quote document."
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "description": "The last name of the staff who uploaded the quote document."
                                    },
                                    "uuid": {
                                      "type": "string",
                                      "description": "The unique identifier of the staff who uploaded the quote document. It can be mapped with the uuid in the GET /staff/ endpoint."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the quote document."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "fixedPrice": {
                            "type": "boolean",
                            "description": "Indicate whether the price of the quote is based on a fixed price. It is in calculated price if value is false."
                          },
                          "job": {
                            "type": "object",
                            "properties": {
                              "number": {
                                "type": "string",
                                "description": "The number of the job associated with the quote."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the job associated with the quote."
                              }
                            },
                            "additionalProperties": false
                          },
                          "jobMasterQuote": {
                            "type": "boolean",
                            "description": "Indicate whether the quote is the master quote of the job."
                          },
                          "lead": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the lead associated with the quote."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the lead associated with the quote."
                              }
                            },
                            "additionalProperties": false
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "comments": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "comment": {
                                        "type": "string",
                                        "description": "The details of the note comment."
                                      },
                                      "createdAt": {
                                        "type": "string",
                                        "description": "The date and time when the note comment is created."
                                      },
                                      "createdBy": {
                                        "type": "object",
                                        "properties": {
                                          "firstName": {
                                            "type": "string",
                                            "description": "The first name of the staff who added the note comment."
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "The last name of the staff who added the note comment."
                                          },
                                          "uuid": {
                                            "type": "string",
                                            "description": "The unique identifier of the staff who added the note comment."
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "updatedAt": {
                                        "type": "string",
                                        "description": "The date and time when the note comment is last updated."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "createdAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote note is created."
                                },
                                "createdBy": {
                                  "type": "object",
                                  "properties": {
                                    "firstName": {
                                      "type": "string",
                                      "description": "The first name of the staff who created the quote note."
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "description": "The last name of the staff who created the quote note."
                                    },
                                    "uuid": {
                                      "type": "string",
                                      "description": "The unique identifier of the staff who created the quote note. It can be mapped with the uuid in the GET /staff/ endpoint."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "date": {
                                  "type": "string",
                                  "description": "The UTC date of the quote note."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "The description of the quote note."
                                },
                                "phase": {
                                  "type": "string",
                                  "description": "The phase of the quote note."
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The title of the quote note."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote note is last updated."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the quote note."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "optionItemsExplanation": {
                            "type": "string",
                            "description": "The optional items explanation of the quote."
                          },
                          "phases": {
                            "type": "object",
                            "properties": {
                              "1": {
                                "type": "object",
                                "properties": {
                                  "createdAt": {
                                    "type": "string",
                                    "description": "The UTC date and time when the quote phase is created."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "The description of the quote phase."
                                  },
                                  "jobPhaseUUID": {
                                    "type": "string",
                                    "description": "The unique identifier of the job phase associated with the quote phase."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the quote phase."
                                  },
                                  "order": {
                                    "type": "number",
                                    "description": "The order of the quote phase."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "description": "The UTC date and time when the quote phase is last updated."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "The unique identifier of the quote phase."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "quoteName": {
                            "type": "string",
                            "description": "The name of the quote."
                          },
                          "quoteNumber": {
                            "type": "string",
                            "description": "The number of the quote."
                          },
                          "salesperson": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "The first name of the sales person of the quote."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The last name of the sales person of the quote."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the sales person of the quote. It can be mapped with the uuid in GET /staff/ endpoint."
                              }
                            },
                            "additionalProperties": false
                          },
                          "sent": {
                            "type": "boolean",
                            "description": "Indicate whether the quote has been sent to the customer."
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the quote, e.g. draft, issued, declined, accepted, revised."
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accepted": {
                                  "type": "boolean",
                                  "description": "Indicate whether the quote task is accepted."
                                },
                                "amount": {
                                  "type": "number",
                                  "description": "The price amount of the quote task."
                                },
                                "baseRate": {
                                  "type": "number",
                                  "description": "Returns when staffRate is false. The base rate of the quote task."
                                },
                                "billable": {
                                  "type": "boolean",
                                  "description": "Indicate whether the quote task is billable."
                                },
                                "billableRate": {
                                  "type": "number",
                                  "description": "Returns when staffRate is false. The billable rate of the quote task."
                                },
                                "costAmount": {
                                  "type": "number",
                                  "description": "The cost amount of the quote task."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote task is created."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "The description of the quote task."
                                },
                                "fixedPrice": {
                                  "type": "boolean",
                                  "description": "Indicate whether the price of the quote task is based on a fixed price. It is in calculated price if value is false."
                                },
                                "jobTaskUUID": {
                                  "type": "string",
                                  "description": "The unique identifier of the job task associated with the quote task."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "The label of the quote task."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the quote task."
                                },
                                "optional": {
                                  "type": "boolean",
                                  "description": "Indicate whether the quote task is optional."
                                },
                                "order": {
                                  "type": "number",
                                  "description": "The price amount of the quote task."
                                },
                                "quotePhaseUUID": {
                                  "type": "string",
                                  "description": "The unique identifier of the quote phase. It can be mapped with the uuid in phases section."
                                },
                                "staff": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "baseRate": {
                                        "type": "string",
                                        "description": "The base rate of the staff for the quote task."
                                      },
                                      "billableRate": {
                                        "type": "string",
                                        "description": "The billable rate of the staff for the quote task."
                                      },
                                      "time": {
                                        "type": "string",
                                        "description": "Allocated time in minutes of the staff for the quote task."
                                      },
                                      "uuid": {
                                        "type": "string",
                                        "description": "The unique identifier of the organization user."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "staffRates": {
                                  "type": "boolean",
                                  "description": "Indicate whether there is staff allocation for the quote task."
                                },
                                "taskUUID": {
                                  "type": "string",
                                  "description": "The unique identifier of the task as managed in the task admin. It can be mapped with the uuid in GET /tasks/ endpoint."
                                },
                                "tax": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "taxName": {
                                        "type": "string",
                                        "description": "The name of the task for the quote task."
                                      },
                                      "taxRate": {
                                        "type": "number",
                                        "description": "The rate of the tax for the quote task."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "time": {
                                  "type": "number",
                                  "description": "The estimated time of the quote task."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "description": "The UTC date and time when the quote task is last updated."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the quote task."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the quote, e.g. quote or estimate."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "The UTC date and time when the quote is last updated."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The unique identifier of the quote."
                          },
                          "validFrom": {
                            "type": "string",
                            "description": "The date from when the quote is valid."
                          },
                          "validTo": {
                            "type": "string",
                            "description": "The date to when the quote is valid."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/workflowMax/latest/actions/create-job-task": {
      "post": {
        "operationId": "workflowMax.create-job-task",
        "summary": "Create Job Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/workflowMax/latest/actions/create-job-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobIdentifier"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobIdentifier": {
                    "type": "string",
                    "description": "The WorkflowMax job identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualMinutes": {
                            "type": "number",
                            "description": "The actual minutes of the job task."
                          },
                          "billable": {
                            "type": "boolean",
                            "description": "Indicate whether the job task is billable or not."
                          },
                          "completedAt": {
                            "type": "string",
                            "description": "The date in local time when the job task is completed."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The UTC timestamp indicating when the job task was created."
                          },
                          "customBillableRate": {
                            "type": "number",
                            "description": "The custom billable rate of the job task."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the custom field."
                                },
                                "uuid": {
                                  "type": "string",
                                  "description": "The unique identifier of the custom field."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of the custom field."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the job task."
                          },
                          "endDate": {
                            "type": "string",
                            "description": "The date in local time when the job task is ended."
                          },
                          "estimatedMinutes": {
                            "type": "number",
                            "description": "The estimated minutes of the job task."
                          },
                          "job": {
                            "type": "object",
                            "properties": {
                              "jobName": {
                                "type": "string",
                                "description": "The name of the job associated with the job task."
                              },
                              "jobNumber": {
                                "type": "string",
                                "description": "The number of the job associated with the job task."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The unique identifier of the job associated with the job task."
                              }
                            },
                            "additionalProperties": false
                          },
                          "label": {
                            "type": "string",
                            "description": "The label of the job task."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the job task."
                          },
                          "order": {
                            "type": "number",
                            "description": "The order of the job task."
                          },
                          "phase": {
                            "type": "object",
                            "properties": {
[...]
