{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "openpm Universal API",
    "version": "0.0.4",
    "description": "Search, publish, and manage OpenAPI packages"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/openpm/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/openpm/latest/actions/create-package": {
      "post": {
        "operationId": "openpm.create-package",
        "summary": "Create Package",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/create-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "openapi"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Package ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Package name."
                  },
                  "machineName": {
                    "type": "string",
                    "description": "Package name for machines."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Package domain."
                  },
                  "version": {
                    "type": "string",
                    "description": "Package version."
                  },
                  "logoUrl": {
                    "type": "string",
                    "description": "Package logo URL."
                  },
                  "contactEmail": {
                    "type": "string",
                    "description": "Package contact email."
                  },
                  "legalInfoUrl": {
                    "type": "string",
                    "description": "Package legal info URL."
                  },
                  "description": {
                    "type": "string",
                    "description": "Package description."
                  },
                  "machineDescription": {
                    "type": "string",
                    "description": "Package description for machines."
                  },
                  "openapi": {
                    "type": "string",
                    "description": "Package OpenAPI specification. Runtime validation requires the OpenAPI document to include a server URL/domain."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Package id."
                          },
                          "openapi": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Created package OpenAPI specification object."
                          },
                          "version": {
                            "type": "string",
                            "description": "Package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/get-package": {
      "get": {
        "operationId": "openpm.get-package",
        "summary": "Get Package",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/get-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "description": "Package ID.",
            "schema": {
              "type": "string",
              "description": "Package ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact_email": {
                            "type": "string",
                            "description": "Package contact email."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package creation date."
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Runtime deletion timestamp when present."
                          },
                          "description": {
                            "type": "string",
                            "description": "Package description."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Package domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Package id."
                          },
                          "legal_info_url": {
                            "type": "string",
                            "description": "Package legal information URL."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "Package logo URL."
                          },
                          "machine_description": {
                            "type": "string",
                            "description": "Package description for machines."
                          },
                          "machine_name": {
                            "type": "string",
                            "description": "Package name for machines."
                          },
                          "name": {
                            "type": "string",
                            "description": "Package name."
                          },
                          "openapi": {
                            "type": "string",
                            "description": "Package OpenAPI specification."
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package publication date."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package last update date."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Package owner user id."
                          },
                          "version": {
                            "type": "string",
                            "description": "Package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/get-package-ai-plugin-manifest": {
      "get": {
        "operationId": "openpm.get-package-ai-plugin-manifest",
        "summary": "Get Package AI Plugin Manifest",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/get-package-ai-plugin-manifest"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "description": "Package ID.",
            "schema": {
              "type": "string",
              "description": "Package ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Plugin API configuration."
                          },
                          "auth": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Plugin authentication configuration."
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "Plugin contact email."
                          },
                          "description_for_human": {
                            "type": "string",
                            "description": "Human-readable plugin description."
                          },
                          "description_for_model": {
                            "type": "string",
                            "description": "Model-facing plugin description."
                          },
                          "legal_info_url": {
                            "type": "string",
                            "description": "Plugin legal information URL."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "Plugin logo URL."
                          },
                          "name_for_human": {
                            "type": "string",
                            "description": "Human-readable plugin name."
                          },
                          "name_for_model": {
                            "type": "string",
                            "description": "Model-facing plugin name."
                          },
                          "schema_version": {
                            "type": "string",
                            "description": "AI plugin manifest schema version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/get-package-openapi-spec": {
      "get": {
        "operationId": "openpm.get-package-openapi-spec",
        "summary": "Get Package OpenAPI Spec",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/get-package-openapi-spec"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "description": "Package ID.",
            "schema": {
              "type": "string",
              "description": "Package ID."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "OpenAPI spec format. Supported values are json and yaml.",
            "schema": {
              "type": "string",
              "description": "OpenAPI spec format. Supported values are json and yaml.",
              "enum": [
                "0",
                "1"
              ],
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "components": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "OpenAPI components object."
                          },
                          "info": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "OpenAPI info object."
                          },
                          "openapi": {
                            "type": "string",
                            "description": "OpenAPI version string."
                          },
                          "paths": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "OpenAPI paths object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/list-connected-packages": {
      "get": {
        "operationId": "openpm.list-connected-packages",
        "summary": "List Connected Packages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/list-connected-packages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact_email": {
                            "type": "string",
                            "description": "Package contact email."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package creation date."
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Runtime deletion timestamp when present."
                          },
                          "description": {
                            "type": "string",
                            "description": "Package description."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Package domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Package id."
                          },
                          "legal_info_url": {
                            "type": "string",
                            "description": "Package legal information URL."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "Package logo URL."
                          },
                          "machine_description": {
                            "type": "string",
                            "description": "Package description for machines."
                          },
                          "machine_name": {
                            "type": "string",
                            "description": "Package name for machines."
                          },
                          "name": {
                            "type": "string",
                            "description": "Package name."
                          },
                          "openapi": {
                            "type": "string",
                            "description": "Package OpenAPI specification."
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package publication date."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package last update date."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Package owner user id."
                          },
                          "version": {
                            "type": "string",
                            "description": "Package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/list-packages": {
      "get": {
        "operationId": "openpm.list-packages",
        "summary": "List Packages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/list-packages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact_email": {
                            "type": "string",
                            "description": "Package contact email."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package creation date."
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Runtime deletion timestamp when present."
                          },
                          "description": {
                            "type": "string",
                            "description": "Package description."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Package domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Package id."
                          },
                          "legal_info_url": {
                            "type": "string",
                            "description": "Package legal information URL."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "Package logo URL."
                          },
                          "machine_description": {
                            "type": "string",
                            "description": "Package description for machines."
                          },
                          "machine_name": {
                            "type": "string",
                            "description": "Package name for machines."
                          },
                          "name": {
                            "type": "string",
                            "description": "Package name."
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package publication date."
                          },
                          "total_count": {
                            "type": "string",
                            "description": "Runtime total count value included by package list responses."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package last update date."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Package owner user id."
                          },
                          "version": {
                            "type": "string",
                            "description": "Package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/lookup-packages": {
      "get": {
        "operationId": "openpm.lookup-packages",
        "summary": "Lookup Packages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/lookup-packages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "CSV list of package IDs.",
            "schema": {
              "type": "string",
              "description": "CSV list of package IDs."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acl_write": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Runtime package write ACL user ids."
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "Package contact email."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package creation date."
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Runtime deletion timestamp when present."
                          },
                          "description": {
                            "type": "string",
                            "description": "Package description."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Package domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Package id."
                          },
                          "legal_info_url": {
                            "type": "string",
                            "description": "Package legal information URL."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "Package logo URL."
                          },
                          "machine_description": {
                            "type": "string",
                            "description": "Package description for machines."
                          },
                          "machine_name": {
                            "type": "string",
                            "description": "Package name for machines."
                          },
                          "name": {
                            "type": "string",
                            "description": "Package name."
                          },
                          "openapi": {
                            "type": "string",
                            "description": "Package OpenAPI specification."
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package publication date."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package last update date."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Package owner user id."
                          },
                          "version": {
                            "type": "string",
                            "description": "Package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/search-packages": {
      "get": {
        "operationId": "openpm.search-packages",
        "summary": "Search Packages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/search-packages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query.",
            "schema": {
              "type": "string",
              "description": "Search query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact_email": {
                            "type": "string",
                            "description": "Package contact email."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package creation date."
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Runtime deletion timestamp when present."
                          },
                          "description": {
                            "type": "string",
                            "description": "Package description."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Package domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Package id."
                          },
                          "legal_info_url": {
                            "type": "string",
                            "description": "Package legal information URL."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "Package logo URL."
                          },
                          "machine_description": {
                            "type": "string",
                            "description": "Package description for machines."
                          },
                          "machine_name": {
                            "type": "string",
                            "description": "Package name for machines."
                          },
                          "name": {
                            "type": "string",
                            "description": "Package name."
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package publication date."
                          },
                          "total_count": {
                            "type": "string",
                            "description": "Runtime total count value included by package list responses."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Package last update date."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Package owner user id."
                          },
                          "version": {
                            "type": "string",
                            "description": "Package version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openpm/latest/actions/update-package": {
      "put": {
        "operationId": "openpm.update-package",
        "summary": "Update Package",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openpm/latest/actions/update-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "packageId",
                  "id",
                  "openapi",
                  "oauthClientId",
                  "oauthClientSecret",
                  "oauthAuthorizationUrl",
                  "oauthTokenUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "packageId": {
                    "type": "string",
                    "description": "Package ID."
                  },
                  "id": {
                    "type": "string",
                    "description": "Package ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Package name."
                  },
                  "machineName": {
                    "type": "string",
                    "description": "Package name for machines."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Package domain."
                  },
                  "version": {
                    "type": "string",
                    "description": "Package version."
                  },
                  "logoUrl": {
                    "type": "string",
                    "description": "Package logo URL."
                  },
                  "contactEmail": {
                    "type": "string",
                    "description": "Package contact email."
                  },
                  "legalInfoUrl": {
                    "type": "string",
                    "description": "Package legal info URL."
                  },
                  "description": {
                    "type": "string",
                    "description": "Package description."
                  },
                  "machineDescription": {
                    "type": "string",
                    "description": "Package description for machines."
                  },
                  "openapi": {
                    "type": "string",
                    "description": "Package OpenAPI specification. Runtime validation requires the OpenAPI document to include a server URL/domain."
                  },
                  "oauthClientId": {
                    "type": "string",
                    "description": "OAuth client ID required by OpenPM when updating a package.",
                    "x-mindcloud-advanced": true
                  },
                  "oauthClientSecret": {
                    "type": "string",
                    "description": "OAuth client secret required by OpenPM when updating a package.",
                    "x-mindcloud-advanced": true
                  },
                  "oauthAuthorizationUrl": {
                    "type": "string",
                    "description": "OAuth authorization URL required by OpenPM when updating a package.",
                    "x-mindcloud-advanced": true
                  },
                  "oauthTokenUrl": {
                    "type": "string",
                    "description": "OAuth token URL required by OpenPM when updating a package.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Updated package id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
