{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Lasso X Universal API",
    "version": "0.0.3",
    "description": "Retrieve company, person, production unit, registry, reporting, list, and monitoring data from Lasso X APIs for Danish CVR and related business datasets."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/lassoX/latest/actions/analyze-financial-report": {
      "get": {
        "operationId": "lassoX.analyze-financial-report",
        "summary": "Analyze Financial Report",
        "description": "Retrieves a financial report analysis from Lasso X.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/analyze-financial-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lassoId": {
                            "type": "string"
                          },
                          "latestReport": {
                            "type": "object",
                            "properties": {
                              "assets": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "cvr": {
                                "type": "number"
                              },
                              "equity": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "period": {
                                "type": "object",
                                "properties": {
                                  "from": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "to": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "publicationTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "reportType": {
                                "type": "string"
                              },
                              "reportUrl": {
                                "type": "string"
                              },
                              "reportYear": {
                                "type": "number"
                              },
                              "result": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "sections": {
                            "type": "object",
                            "properties": {
                              "balanceogkapitalforhold": {
                                "type": "string"
                              },
                              "branchestatistik": {
                                "type": "string"
                              },
                              "konklusion": {
                                "type": "string"
                              },
                              "likviditet": {
                                "type": "string"
                              },
                              "resultat": {
                                "type": "string"
                              },
                              "sprgsml": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/create-reporting-batch": {
      "post": {
        "operationId": "lassoX.create-reporting-batch",
        "summary": "Create Reporting Batch",
        "description": "Creates a reporting batch in Lasso X.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/create-reporting-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "batch_name",
                  "type",
                  "format",
                  "items[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "batch_name": {
                    "type": "string",
                    "description": "Name of the reporting batch."
                  },
                  "type": {
                    "type": "string",
                    "description": "Report type, for example Revision."
                  },
                  "format": {
                    "type": "string",
                    "description": "Required report filename format. Supports Lasso variables such as {cvr}, {name}, {type}, {rundate}, and {balanceday}."
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Reports to generate in the batch. Each item must include cvr and may include format and internalCustomerId."
                  },
                  "notification_email": {
                    "type": "string",
                    "description": "Optional email for report completion notifications.",
                    "x-mindcloud-advanced": true
                  },
                  "notification_webhook_url": {
                    "type": "string",
                    "description": "Optional webhook URL for report completion notifications.",
                    "x-mindcloud-advanced": true
                  },
                  "scheduled_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional scheduled time for the batch.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "batchSize": {
                            "type": "number"
                          },
                          "completionPercentage": {
                            "type": "number"
                          },
                          "emailFormat": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lassoOrgId": {
                            "type": "string"
                          },
                          "lassoUserId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notificationEmail": {
                            "type": "string"
                          },
                          "notificationWebHookUrl": {
                            "type": "string"
                          },
                          "scheduledTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/download-latest-report-pdf": {
      "get": {
        "operationId": "lassoX.download-latest-report-pdf",
        "summary": "Download Latest Report PDF",
        "description": "Retrieves the latest report file for a CVR entity from Lasso X.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/download-latest-report-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Raw latest report document content returned by the API."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "Response MIME type for the returned report document."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Suggested filename when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-creditsafe-rating": {
      "get": {
        "operationId": "lassoX.get-creditsafe-rating",
        "summary": "Get CreditSafe Rating",
        "description": "Retrieves a CreditSafe rating from Lasso X by CVR number.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-creditsafe-rating"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cvr",
            "in": "query",
            "required": true,
            "description": "Danish CVR company number.",
            "schema": {
              "type": "number",
              "description": "Danish CVR company number."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "current": {
                            "type": "object",
                            "properties": {
                              "creditCurrency": {
                                "type": "string"
                              },
                              "creditMax": {
                                "type": "number"
                              },
                              "internationalDescription": {
                                "type": "string"
                              },
                              "internationalScore": {
                                "type": "string"
                              },
                              "localDescription": {
                                "type": "string"
                              },
                              "localScore": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "latestChange": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "pdfUrl": {
                            "type": "string"
                          },
                          "previous": {
                            "type": "object",
                            "properties": {
                              "creditCurrency": {
                                "type": "string"
                              },
                              "creditMax": {
                                "type": "number"
                              },
                              "internationalScore": {
                                "type": "string"
                              },
                              "localScore": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-cvr-entity": {
      "get": {
        "operationId": "lassoX.get-cvr-entity",
        "summary": "Get CVR Entity",
        "description": "Retrieves a CVR entity from Lasso X by Lasso ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-cvr-entity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "number"
                              },
                              "postalDistrict": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "alternateNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cvr": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "employees": {
                            "type": "object",
                            "properties": {
                              "count": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "form": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "shortDescription": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "industry": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lassoId": {
                            "type": "string"
                          },
                          "lastStatusChange": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lifeTime": {
                            "type": "object",
                            "properties": {
                              "from": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "to": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "productionUnits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "lassoId": {
                                  "type": "string"
                                },
                                "pNumber": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "purpose": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "unitNumber": {
                            "type": "number"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-cvr-entity-history": {
      "get": {
        "operationId": "lassoX.get-cvr-entity-history",
        "summary": "Get CVR Entity History",
        "description": "Retrieves CVR entity history from Lasso X by Lasso ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-cvr-entity-history"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "address1": {
                                      "type": "string"
                                    },
                                    "postalCode": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "cvr": {
                            "type": "number"
                          },
                          "email": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "form": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "industry": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "lassoId": {
                            "type": "string"
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lifeTime": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "to": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "current": {
                                  "type": "boolean"
                                },
                                "from": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "to": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "phone": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "current": {
                                  "type": "boolean"
                                },
                                "from": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "unitNumber": {
                            "type": "number"
                          },
                          "website": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-latest-report": {
      "get": {
        "operationId": "lassoX.get-latest-report",
        "summary": "Get Latest Report",
        "description": "Retrieves the latest report for a CVR entity from Lasso X.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-latest-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assets": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "currencies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cvr": {
                            "type": "number"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "mimeType": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "equity": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "period": {
                            "type": "object",
                            "properties": {
                              "from": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "to": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "publicationTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "reportType": {
                            "type": "string"
                          },
                          "reportUrl": {
                            "type": "string"
                          },
                          "reportYear": {
                            "type": "number"
                          },
                          "result": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "revenue": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "xbrlUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-network": {
      "get": {
        "operationId": "lassoX.get-network",
        "summary": "Get Network",
        "description": "Retrieves a person's professional network from Lasso X.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-network"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "from": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "ownership": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "type": "number"
                                    },
                                    "to": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "relationType": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                },
                                "sourceLassoId": {
                                  "type": "string",
                                  "description": "Network edge source entity identifier from the documented network graph response."
                                },
                                "sourceName": {
                                  "type": "string"
                                },
                                "targetLassoId": {
                                  "type": "string",
                                  "description": "Network edge target entity identifier from the documented network graph response."
                                },
                                "targetName": {
                                  "type": "string"
                                },
                                "to": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-paqle-entity": {
      "get": {
        "operationId": "lassoX.get-paqle-entity",
        "summary": "Get Paqle Entity",
        "description": "Retrieves Paqle entity details from Lasso X by Lasso ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-paqle-entity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentId": {
                            "type": "number"
                          },
                          "newsHash": {
                            "type": "string"
                          },
                          "originalId": {
                            "type": "number"
                          },
                          "paqleUrl": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "sections": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sectionsDk": {
                            "type": "object",
                            "properties": {
                              "cvrMetadata": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "cvrId": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-property-summary": {
      "get": {
        "operationId": "lassoX.get-property-summary",
        "summary": "Get Property Summary",
        "description": "Retrieves a property summary from Lasso X.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-property-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property_number",
            "in": "query",
            "required": true,
            "description": "Property number.",
            "schema": {
              "type": "number",
              "description": "Property number."
            }
          },
          {
            "name": "municipality",
            "in": "query",
            "required": true,
            "description": "Municipality code.",
            "schema": {
              "type": "number",
              "description": "Municipality code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buildings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "buildingNumber": {
                                  "type": "number"
                                },
                                "buildingUsage": {
                                  "type": "string"
                                },
                                "builtYear": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "oispdfDownloadLink": {
                            "type": "string"
                          },
                          "plots": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accessAddress": {
                                  "type": "object",
                                  "properties": {
                                    "accessPoint": {
                                      "type": "object",
                                      "properties": {
                                        "latitude": {
                                          "type": "number"
                                        },
                                        "longitude": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "addressText": {
                                      "type": "string"
                                    },
                                    "city": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "propertyRelations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bfeNumber": {
                                  "type": "number"
                                },
                                "ownership": {
                                  "type": "object",
                                  "properties": {
                                    "owningPeople": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "owningEntity": {
                                            "type": "object",
                                            "properties": {
                                              "firstName": {
                                                "type": "string"
                                              },
                                              "lastName": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "ownershipState": {
                                  "type": "string"
                                },
                                "ownershipStateCode": {
                                  "type": "number"
                                },
                                "propertyNumber": {
                                  "type": "number"
                                },
                                "propertyType": {
                                  "type": "string"
                                },
                                "propertyTypeCode": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "technicalInstallations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "classification": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "units": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "totalArea": {
                                  "type": "number"
                                },
                                "unitUsage": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lassoX/latest/actions/get-related-people": {
      "get": {
        "operationId": "lassoX.get-related-people",
        "summary": "Get Related People",
        "description": "Retrieves related people for a CVR entity from Lasso X.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lassoX/latest/actions/get-related-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lasso_id",
            "in": "query",
            "required": true,
            "description": "Lasso ID, for example CVR-1-34580820.",
            "schema": {
              "type": "string",
              "description": "Lasso ID, for example CVR-1-34580820."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "object",
                                      "properties": {
                                        "address1": {
                                          "type": "string"
                                        },
                                        "postalCode": {
                                          "type": "number"
                                        },
                                        "postalDistrict": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "board": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "lassoId": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "lassoId": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
[...]
