{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Wistia Universal API",
    "version": "0.0.5",
    "description": "Manage Wistia videos, folders, captions, and analytics"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/wistia/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/wistia/latest/actions/archive-media": {
      "put": {
        "operationId": "wistia.archive-media",
        "summary": "Archive Media",
        "description": "Archives one or more media items in Wistia.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/archive-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mediaHashedIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mediaHashedIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backgroundJobStatus": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "A background job keeps track of the progress of an asynchronous task, e.g\nbulk archiving media, translating media, etc.",
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "The ID of the background job that's been queued for the request."
                              },
                              "status": {
                                "type": "string",
                                "description": "The status of the background job that's been queued for the request."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "A confirmation message that the background job has been queued."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/create-captions": {
      "post": {
        "operationId": "wistia.create-captions",
        "summary": "Create Captions",
        "description": "Adds captions to a Wistia media item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/create-captions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mediaHashedId",
                  "language",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mediaHashedId": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/create-folder": {
      "post": {
        "operationId": "wistia.create-folder",
        "summary": "Create Folder",
        "description": "Creates a new folder in Wistia.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "anonymousCanDownload": {
                            "type": "boolean"
                          },
                          "anonymousCanUpload": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date that the folder was originally created."
                          },
                          "cursor": {
                            "type": "string",
                            "description": "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                          },
                          "description": {
                            "type": "string",
                            "description": "The folder’s description."
                          },
                          "hashedId": {
                            "type": "string",
                            "description": "A private hashed id, uniquely identifying the folder within the system."
                          },
                          "id": {
                            "type": "number",
                            "description": "A unique numeric identifier for the folder within the system."
                          },
                          "mediaCount": {
                            "type": "number",
                            "description": "The number of different medias that have been uploaded to the folder."
                          },
                          "medias": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "A link to where you can fetch the medias for this folder.",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether or not the media is archived, either true or false."
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the media was originally uploaded."
                              },
                              "description": {
                                "type": "string",
                                "description": "A description for the media which usually appears near the top of the sidebar on the media's page."
                              },
                              "duration": {
                                "type": "number"
                              },
                              "embedCode": {
                                "type": "string",
                                "description": "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide."
                              },
                              "hashedId": {
                                "type": "string",
                                "description": "A unique alphanumeric identifier for this media."
                              },
                              "id": {
                                "type": "number",
                                "description": "A unique numeric identifier for the media within the system."
                              },
                              "name": {
                                "type": "string",
                                "description": "The display name of the media."
                              },
                              "progress": {
                                "type": "number",
                                "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                              },
                              "section": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error)."
                              },
                              "thumbnail": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "number"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "number"
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "A string representing what type of media this is."
                              },
                              "updated": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the media was last changed."
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "The folder’s display name."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "A boolean indicating whether the folder is available for public (anonymous) viewing."
                          },
                          "publicId": {
                            "type": "string",
                            "description": "If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date that the folder was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/create-subfolder": {
      "post": {
        "operationId": "wistia.create-subfolder",
        "summary": "Create Subfolder",
        "description": "Creates a new subfolder in a Wistia folder.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/create-subfolder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the subfolder was created."
                          },
                          "cursor": {
                            "type": "string",
                            "description": "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                          },
                          "description": {
                            "type": "string",
                            "description": "A description for the subfolder."
                          },
                          "hashedId": {
                            "type": "string",
                            "description": "A unique alphanumeric identifier for this subfolder."
                          },
                          "name": {
                            "type": "string",
                            "description": "The display name of the subfolder."
                          },
                          "position": {
                            "type": "number",
                            "description": "The position of this subfolder within its folder, used for ordering."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the subfolder was last modified."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/delete-captions": {
      "delete": {
        "operationId": "wistia.delete-captions",
        "summary": "Delete Captions",
        "description": "Deletes captions for a Wistia media language.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/delete-captions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaHashedId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "languageCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/delete-folder": {
      "delete": {
        "operationId": "wistia.delete-folder",
        "summary": "Delete Folder",
        "description": "Deletes an existing folder from Wistia.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/delete-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "anonymousCanDownload": {
                            "type": "boolean"
                          },
                          "anonymousCanUpload": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date that the folder was originally created."
                          },
                          "cursor": {
                            "type": "string",
                            "description": "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                          },
                          "description": {
                            "type": "string",
                            "description": "The folder’s description."
                          },
                          "hashedId": {
                            "type": "string",
                            "description": "A private hashed id, uniquely identifying the folder within the system."
                          },
                          "id": {
                            "type": "number",
                            "description": "A unique numeric identifier for the folder within the system."
                          },
                          "mediaCount": {
                            "type": "number",
                            "description": "The number of different medias that have been uploaded to the folder."
                          },
                          "medias": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "A link to where you can fetch the medias for this folder.",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether or not the media is archived, either true or false."
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the media was originally uploaded."
                              },
                              "description": {
                                "type": "string",
                                "description": "A description for the media which usually appears near the top of the sidebar on the media's page."
                              },
                              "duration": {
                                "type": "number"
                              },
                              "embedCode": {
                                "type": "string",
                                "description": "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide."
                              },
                              "hashedId": {
                                "type": "string",
                                "description": "A unique alphanumeric identifier for this media."
                              },
                              "id": {
                                "type": "number",
                                "description": "A unique numeric identifier for the media within the system."
                              },
                              "name": {
                                "type": "string",
                                "description": "The display name of the media."
                              },
                              "progress": {
                                "type": "number",
                                "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                              },
                              "section": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error)."
                              },
                              "thumbnail": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "number"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "number"
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "A string representing what type of media this is."
                              },
                              "updated": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the media was last changed."
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "The folder’s display name."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "A boolean indicating whether the folder is available for public (anonymous) viewing."
                          },
                          "publicId": {
                            "type": "string",
                            "description": "If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date that the folder was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/delete-media": {
      "delete": {
        "operationId": "wistia.delete-media",
        "summary": "Delete Media",
        "description": "Deletes an existing media item from Wistia.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/delete-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaHashedId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether or not the media is archived, either true or false."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the media was originally uploaded."
                          },
                          "description": {
                            "type": "string",
                            "description": "A description for the media which usually appears near the top of the sidebar on the media's page."
                          },
                          "duration": {
                            "type": "number"
                          },
                          "embedCode": {
                            "type": "string",
                            "description": "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide."
                          },
                          "hashedId": {
                            "type": "string",
                            "description": "A unique alphanumeric identifier for this media."
                          },
                          "id": {
                            "type": "number",
                            "description": "A unique numeric identifier for the media within the system."
                          },
                          "name": {
                            "type": "string",
                            "description": "The display name of the media."
                          },
                          "progress": {
                            "type": "number",
                            "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                          },
                          "section": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error)."
                          },
                          "thumbnail": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "height": {
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              },
                              "width": {
                                "type": "number"
                              }
                            }
                          },
                          "type": {
                            "type": "string",
                            "description": "A string representing what type of media this is."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the media was last changed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/delete-subfolder": {
      "delete": {
        "operationId": "wistia.delete-subfolder",
        "summary": "Delete Subfolder",
        "description": "Deletes a subfolder from a Wistia folder.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/delete-subfolder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subfolderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the subfolder was created."
                          },
                          "cursor": {
                            "type": "string",
                            "description": "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                          },
                          "description": {
                            "type": "string",
                            "description": "A description for the subfolder."
                          },
                          "hashedId": {
                            "type": "string",
                            "description": "A unique alphanumeric identifier for this subfolder."
                          },
                          "name": {
                            "type": "string",
                            "description": "The display name of the subfolder."
                          },
                          "position": {
                            "type": "number",
                            "description": "The position of this subfolder within its folder, used for ordering."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the subfolder was last modified."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/get-current-account": {
      "get": {
        "operationId": "wistia.get-current-account",
        "summary": "Get Current Account",
        "description": "Retrieves the current Wistia account details.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/get-current-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channelCount": {
                            "type": "number",
                            "description": "The total number of channels in this account"
                          },
                          "folderCount": {
                            "type": "number",
                            "description": "The total number of folders in this account"
                          },
                          "id": {
                            "type": "number",
                            "description": "Numeric id of the account"
                          },
                          "mediaCount": {
                            "type": "number",
                            "description": "The total number of medias in this account"
                          },
                          "name": {
                            "type": "string",
                            "description": "Account name"
                          },
                          "url": {
                            "type": "string",
                            "description": "Account’s main Wistia URL (e.g. http://brendan.wistia.com)"
                          },
                          "videoLimit": {
                            "type": "number",
                            "description": "The account's video limit"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/get-folder": {
      "get": {
        "operationId": "wistia.get-folder",
        "summary": "Get Folder",
        "description": "Retrieves a single folder from Wistia.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/get-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "anonymousCanDownload": {
                            "type": "boolean"
                          },
                          "anonymousCanUpload": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date that the folder was originally created."
                          },
                          "cursor": {
                            "type": "string",
                            "description": "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                          },
                          "description": {
                            "type": "string",
                            "description": "The folder’s description."
                          },
                          "hashedId": {
                            "type": "string",
                            "description": "A private hashed id, uniquely identifying the folder within the system."
                          },
                          "id": {
                            "type": "number",
                            "description": "A unique numeric identifier for the folder within the system."
                          },
                          "mediaCount": {
                            "type": "number",
                            "description": "The number of different medias that have been uploaded to the folder."
                          },
                          "medias": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "A link to where you can fetch the medias for this folder.",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether or not the media is archived, either true or false."
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the media was originally uploaded."
                              },
                              "description": {
                                "type": "string",
                                "description": "A description for the media which usually appears near the top of the sidebar on the media's page."
                              },
                              "duration": {
                                "type": "number"
                              },
                              "embedCode": {
                                "type": "string",
                                "description": "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide."
                              },
                              "hashedId": {
                                "type": "string",
                                "description": "A unique alphanumeric identifier for this media."
                              },
                              "id": {
                                "type": "number",
                                "description": "A unique numeric identifier for the media within the system."
                              },
                              "name": {
                                "type": "string",
                                "description": "The display name of the media."
                              },
                              "progress": {
                                "type": "number",
                                "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                              },
                              "section": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error)."
                              },
                              "thumbnail": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "number"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "number"
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "A string representing what type of media this is."
                              },
                              "updated": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the media was last changed."
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "The folder’s display name."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "A boolean indicating whether the folder is available for public (anonymous) viewing."
                          },
                          "publicId": {
                            "type": "string",
                            "description": "If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date that the folder was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/get-media-aggregated-stats": {
      "get": {
        "operationId": "wistia.get-media-aggregated-stats",
        "summary": "Get Media Aggregated Stats",
        "description": "Retrieves aggregated stats for a Wistia media item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/get-media-aggregated-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaHashedId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "actionCount": {
                                  "type": "number",
                                  "description": "Number of actions performed."
                                },
                                "impressionCount": {
                                  "type": "number",
                                  "description": "Number of times the action was shown."
                                },
                                "rate": {
                                  "type": "number",
                                  "description": "The rate of actions performed over impressions."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of action (e.g., \"Call to Action\")."
                                }
                              }
                            }
                          },
                          "engagement": {
                            "type": "number",
                            "description": "The average percentage of the video that gets viewed (between 0 and 1)."
                          },
                          "hoursWatched": {
                            "type": "number",
                            "description": "The total time spent watching this video."
                          },
                          "loadCount": {
                            "type": "number",
                            "description": "The total number of times this video has been loaded."
                          },
                          "playCount": {
                            "type": "number",
                            "description": "The total number of times this video has been played."
                          },
                          "playRate": {
                            "type": "number",
                            "description": "The percentage of visitors who clicked play (between 0 and 1)."
                          },
                          "visitors": {
                            "type": "number",
                            "description": "The total number of unique people that have loaded this video."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wistia/latest/actions/list-captions-by-media": {
      "get": {
        "operationId": "wistia.list-captions-by-media",
        "summary": "List Captions by Media",
        "description": "Retrieves captions for a Wistia media item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wistia/latest/actions/list-captions-by-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaHashedId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cursor": {
                            "type": "string",
                            "description": "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                          },
                          "englishName": {
                            "type": "string",
                            "description": "English name of the language."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique hashed identifier of the time-coded transcript."
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string",
                            "description": "A 3 character language code as specified by ISO-639–2."
                          },
                          "nativeName": {
                            "type": "string",
                            "description": "Native name of the language."
                          },
                          "text": {
                            "type": "string",
                            "description": "The text of the captions for the specified language in SRT format."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
