{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BKK Futar Universal API",
    "version": "0.0.3",
    "description": "Access planned and real-time public transportation data from BKK Futar for Budapest, including stops, arrivals, departures, schedules, vehicles, alerts, references, and bicycle rental stations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/bKKFutar/latest/actions/get-arrivals-and-departures-for-stop": {
      "get": {
        "operationId": "bKKFutar.get-arrivals-and-departures-for-stop",
        "summary": "Get Arrivals And Departures For Stop",
        "description": "Retrieves arrivals and departures for a BKK Futar stop.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest/actions/get-arrivals-and-departures-for-stop"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stop_id",
            "in": "query",
            "required": true,
            "description": "Stop ID to query, such as BKK_F01227.",
            "schema": {
              "type": "string",
              "description": "Stop ID to query, such as BKK_F01227."
            }
          },
          {
            "name": "minutes_before",
            "in": "query",
            "required": false,
            "description": "Minutes before the query time to include.",
            "schema": {
              "type": "number",
              "description": "Minutes before the query time to include.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "minutes_after",
            "in": "query",
            "required": false,
            "description": "Minutes after the query time to include.",
            "schema": {
              "type": "number",
              "description": "Minutes after the query time to include.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_route_id",
            "in": "query",
            "required": false,
            "description": "Comma-separated route IDs used to filter results.",
            "schema": {
              "type": "string",
              "description": "Comma-separated route IDs used to filter results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "Epoch seconds timestamp used for the query.",
            "schema": {
              "type": "number",
              "description": "Epoch seconds timestamp used for the query.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "only_departures",
            "in": "query",
            "required": false,
            "description": "Return departures only.",
            "schema": {
              "type": "boolean",
              "description": "Return departures only."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of returned stop times.",
            "schema": {
              "type": "number",
              "description": "Maximum number of returned stop times.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude information of the location.",
            "schema": {
              "type": "number",
              "description": "Latitude information of the location.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude information of the location.",
            "schema": {
              "type": "number",
              "description": "Longitude information of the location.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Radius around latitude and longitude.",
            "schema": {
              "type": "number",
              "description": "Radius around latitude and longitude.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Query expression used to filter results.",
            "schema": {
              "type": "string",
              "description": "Query expression used to filter results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "min_result",
            "in": "query",
            "required": false,
            "description": "Minimum number of elements returned.",
            "schema": {
              "type": "number",
              "description": "Minimum number of elements returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_references",
            "in": "query",
            "required": false,
            "description": "Reference data to include in the response.",
            "schema": {
              "type": "string",
              "description": "Reference data to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entry": {
                            "type": "object",
                            "properties": {
                              "alertIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Alert IDs belonging to the stop."
                              },
                              "nearbyStopIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Nearby stop IDs."
                              },
                              "routeIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Route IDs belonging to the stop."
                              },
                              "stopId": {
                                "type": "string",
                                "description": "Requested stop ID."
                              },
                              "stopTimes": {
                                "type": "object",
                                "properties": {
                                  "alertIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Alert IDs for the stop time."
                                  },
                                  "arrivalTime": {
                                    "type": "number",
                                    "description": "Planned arrival time in epoch seconds."
                                  },
                                  "departureTime": {
                                    "type": "number",
                                    "description": "Planned departure time in epoch seconds."
                                  },
                                  "mayRequireBooking": {
                                    "type": "boolean",
                                    "description": "Whether a later stop may require booking."
                                  },
                                  "predictedArrivalTime": {
                                    "type": "number",
                                    "description": "Predicted arrival time in epoch seconds."
                                  },
                                  "predictedDepartureTime": {
                                    "type": "number",
                                    "description": "Predicted departure time in epoch seconds."
                                  },
                                  "serviceDate": {
                                    "type": "string",
                                    "description": "Service date in YYYYMMDD format."
                                  },
                                  "stopHeadsign": {
                                    "type": "string",
                                    "description": "Displayed destination."
                                  },
                                  "stopId": {
                                    "type": "string",
                                    "description": "Stop ID for the stop time."
                                  },
                                  "tripId": {
                                    "type": "string",
                                    "description": "Trip ID."
                                  },
                                  "uncertain": {
                                    "type": "boolean",
                                    "description": "Whether realtime data is uncertain."
                                  },
                                  "wheelchairAccessible": {
                                    "type": "boolean",
                                    "description": "Whether the trip is wheelchair accessible."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Arrival and departure stop times."
                              }
                            },
                            "additionalProperties": false
                          },
                          "limitExceeded": {
                            "type": "boolean",
                            "description": "Whether the response exceeded the defined limit."
                          },
                          "references": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Included reference details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bKKFutar/latest/actions/get-bicycle-rental-stations": {
      "get": {
        "operationId": "bKKFutar.get-bicycle-rental-stations",
        "summary": "Get Bicycle Rental Stations",
        "description": "Retrieves bicycle rental stations from BKK Futar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest/actions/get-bicycle-rental-stations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_references",
            "in": "query",
            "required": false,
            "description": "Reference data to include in the response.",
            "schema": {
              "type": "string",
              "description": "Reference data to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "limitExceeded": {
                            "type": "boolean",
                            "description": "Whether the response exceeded the defined limit."
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "bikes": {
                                "type": "number",
                                "description": "Number of available bikes."
                              },
                              "code": {
                                "type": "string",
                                "description": "Station code."
                              },
                              "id": {
                                "type": "string",
                                "description": "Bike station ID."
                              },
                              "lat": {
                                "type": "number",
                                "description": "Station latitude."
                              },
                              "lon": {
                                "type": "number",
                                "description": "Station longitude."
                              },
                              "name": {
                                "type": "string",
                                "description": "Station name."
                              },
                              "type": {
                                "type": "string",
                                "description": "Station type."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Bicycle rental stations."
                          },
                          "references": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Included reference details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bKKFutar/latest/actions/get-references": {
      "get": {
        "operationId": "bKKFutar.get-references",
        "summary": "Get References",
        "description": "Retrieves ID-based references from BKK Futar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest/actions/get-references"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agency_id",
            "in": "query",
            "required": false,
            "description": "Agency ID to resolve, such as BKK.",
            "schema": {
              "type": "string",
              "description": "Agency ID to resolve, such as BKK.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "alert_id",
            "in": "query",
            "required": false,
            "description": "Alert ID to resolve.",
            "schema": {
              "type": "string",
              "description": "Alert ID to resolve.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "route_id",
            "in": "query",
            "required": false,
            "description": "Route ID to resolve.",
            "schema": {
              "type": "string",
              "description": "Route ID to resolve.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "stop_id",
            "in": "query",
            "required": false,
            "description": "Stop ID to resolve, such as BKK_F01227.",
            "schema": {
              "type": "string",
              "description": "Stop ID to resolve, such as BKK_F01227.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_references",
            "in": "query",
            "required": false,
            "description": "Reference data to include in the response.",
            "schema": {
              "type": "string",
              "description": "Reference data to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entry": {
                            "type": "object",
                            "properties": {
                              "errors": {
                                "type": "object",
                                "properties": {
                                  "agencyIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Agency IDs that could not be resolved."
                                  },
                                  "alertIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Alert IDs that could not be resolved."
                                  },
                                  "routeIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Route IDs that could not be resolved."
                                  },
                                  "stopIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Stop IDs that could not be resolved."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "limitExceeded": {
                            "type": "boolean",
                            "description": "Whether the response exceeded the defined limit."
                          },
                          "references": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Resolved agency, route, stop, trip, and alert references.",
                            "properties": {
                              "agencies": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "alerts": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "routes": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stops": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "trips": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bKKFutar/latest/actions/get-schedule-for-stop": {
      "get": {
        "operationId": "bKKFutar.get-schedule-for-stop",
        "summary": "Get Schedule For Stop",
        "description": "Retrieves the schedule for a selected BKK Futar stop.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest/actions/get-schedule-for-stop"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stop_id",
            "in": "query",
            "required": true,
            "description": "Stop ID to query, such as BKK_F01227.",
            "schema": {
              "type": "string",
              "description": "Stop ID to query, such as BKK_F01227."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Requested date in YYYYMMDD format.",
            "schema": {
              "type": "string",
              "description": "Requested date in YYYYMMDD format."
            }
          },
          {
            "name": "only_departures",
            "in": "query",
            "required": false,
            "description": "Return departures only.",
            "schema": {
              "type": "boolean",
              "description": "Return departures only."
            }
          },
          {
            "name": "include_references",
            "in": "query",
            "required": false,
            "description": "Reference data to include in the response.",
            "schema": {
              "type": "string",
              "description": "Reference data to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entry": {
                            "type": "object",
                            "properties": {
                              "alertIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Alert IDs related to the stop."
                              },
                              "date": {
                                "type": "string",
                                "description": "Requested schedule date in YYYYMMDD format."
                              },
                              "nearbyStopIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Nearby stop IDs."
                              },
                              "routeIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Route IDs related to the schedule."
                              },
                              "schedules": {
                                "type": "object",
                                "properties": {
                                  "alertIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Alert IDs for the schedule."
                                  },
                                  "directions": {
                                    "type": "object",
                                    "properties": {
                                      "directionId": {
                                        "type": "string",
                                        "description": "Direction ID."
                                      },
                                      "groups": {
                                        "type": "object",
                                        "additionalProperties": true,
                                        "description": "Grouped target stop and schedule details."
                                      },
                                      "stopTimes": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": true
                                        },
                                        "description": "Stop times within the schedule."
                                      }
                                    },
                                    "additionalProperties": false,
                                    "description": "Schedule data grouped by direction."
                                  },
                                  "routeId": {
                                    "type": "string",
                                    "description": "Relevant route ID."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Schedules grouped by route and direction."
                              },
                              "stopId": {
                                "type": "string",
                                "description": "Requested stop ID."
                              }
                            },
                            "additionalProperties": false
                          },
                          "limitExceeded": {
                            "type": "boolean",
                            "description": "Whether the response exceeded the defined limit."
                          },
                          "references": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Included reference details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bKKFutar/latest/actions/get-stops-for-location": {
      "get": {
        "operationId": "bKKFutar.get-stops-for-location",
        "summary": "Get Stops For Location",
        "description": "Retrieves stops for a selected location, or all stops, in BKK Futar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest/actions/get-stops-for-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude of the requested location.",
            "schema": {
              "type": "number",
              "description": "Latitude of the requested location."
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude of the requested location.",
            "schema": {
              "type": "number",
              "description": "Longitude of the requested location."
            }
          },
          {
            "name": "lat_span",
            "in": "query",
            "required": false,
            "description": "Latitude span around the requested location.",
            "schema": {
              "type": "number",
              "description": "Latitude span around the requested location.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lon_span",
            "in": "query",
            "required": false,
            "description": "Longitude span around the requested location.",
            "schema": {
              "type": "number",
              "description": "Longitude span around the requested location.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in meters when spans are omitted.",
            "schema": {
              "type": "number",
              "description": "Search radius in meters when spans are omitted.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "min_result",
            "in": "query",
            "required": false,
            "description": "Minimum number of elements returned.",
            "schema": {
              "type": "number",
              "description": "Minimum number of elements returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_references",
            "in": "query",
            "required": false,
            "description": "Reference data to include in the response.",
            "schema": {
              "type": "string",
              "description": "Reference data to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "limitExceeded": {
                            "type": "boolean",
                            "description": "Whether the response exceeded the defined limit."
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "alertIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Active alert IDs related to the stop."
                              },
                              "code": {
                                "type": "string",
                                "description": "Stop code."
                              },
                              "description": {
                                "type": "string",
                                "description": "Stop description."
                              },
                              "direction": {
                                "type": "string",
                                "description": "Stop direction."
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique stop ID."
                              },
                              "lat": {
                                "type": "number",
                                "description": "Stop latitude."
                              },
                              "locationSubType": {
                                "type": "string",
                                "description": "Stop location subtype."
                              },
                              "locationType": {
                                "type": "number",
                                "description": "Stop location type."
                              },
                              "lon": {
                                "type": "number",
                                "description": "Stop longitude."
                              },
                              "name": {
                                "type": "string",
                                "description": "Stop name."
                              },
                              "parentStationId": {
                                "type": "string",
                                "description": "Parent station ID."
                              },
                              "platformCode": {
                                "type": "string",
                                "description": "Platform code."
                              },
                              "routeIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Routes containing the stop."
                              },
                              "vertex": {
                                "type": "string",
                                "description": "Journey planner stop identifier."
                              },
                              "wheelchairBoarding": {
                                "type": "boolean",
                                "description": "Whether the stop is wheelchair accessible."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Stops returned for the requested location."
                          },
                          "references": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Included reference details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bKKFutar/latest/actions/get-vehicles-for-stop": {
      "get": {
        "operationId": "bKKFutar.get-vehicles-for-stop",
        "summary": "Get Vehicles For Stop",
        "description": "Retrieves vehicles on routes containing a selected BKK Futar stop.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest/actions/get-vehicles-for-stop"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stop_id",
            "in": "query",
            "required": true,
            "description": "Stop ID to query, such as BKK_F01227.",
            "schema": {
              "type": "string",
              "description": "Stop ID to query, such as BKK_F01227."
            }
          },
          {
            "name": "if_modified_since",
            "in": "query",
            "required": false,
            "description": "Return data modified since this UNIX timestamp.",
            "schema": {
              "type": "number",
              "description": "Return data modified since this UNIX timestamp.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_references",
            "in": "query",
            "required": false,
            "description": "Reference data to include in the response.",
            "schema": {
              "type": "string",
              "description": "Reference data to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "limitExceeded": {
                            "type": "boolean",
                            "description": "Whether the response exceeded the defined limit."
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "bearing": {
                                "type": "number",
                                "description": "Vehicle bearing."
                              },
                              "capacity": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Vehicle capacity details."
                              },
                              "deviated": {
                                "type": "boolean",
                                "description": "Whether the vehicle has deviated from route."
                              },
                              "label": {
                                "type": "string",
                                "description": "Vehicle label."
                              },
                              "lastUpdateTime": {
                                "type": "number",
                                "description": "Last realtime update timestamp."
                              },
                              "licensePlate": {
                                "type": "string",
                                "description": "License plate."
                              },
                              "location": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Vehicle location.",
                                "properties": {
                                  "lat": {
                                    "type": "number",
                                    "description": "Vehicle latitude."
                                  },
                                  "lon": {
                                    "type": "number",
                                    "description": "Vehicle longitude."
                                  }
                                }
                              },
                              "occupancy": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Vehicle occupancy details."
                              },
                              "routeId": {
                                "type": "string",
                                "description": "Route ID."
                              },
                              "status": {
                                "type": "string",
                                "description": "Vehicle status."
                              },
                              "stopDistancePercent": {
                                "type": "number",
                                "description": "Percent between stops."
                              },
                              "stopId": {
                                "type": "string",
                                "description": "Stop ID."
                              },
                              "stopSequence": {
                                "type": "number",
                                "description": "Stop sequence for the vehicle."
                              },
                              "tripId": {
                                "type": "string",
                                "description": "Trip ID."
                              },
                              "vehicleId": {
                                "type": "string",
                                "description": "Vehicle ID."
                              },
                              "vertex": {
                                "type": "string",
                                "description": "Journey planner trip identifier."
                              },
                              "wheelchairAccessible": {
                                "type": "boolean",
                                "description": "Whether the vehicle is wheelchair accessible."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Vehicles on routes containing the selected stop."
                          },
                          "references": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Included reference details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bKKFutar/latest/actions/search-alerts": {
      "get": {
        "operationId": "bKKFutar.search-alerts",
        "summary": "Search Alerts",
        "description": "Finds active alerts in BKK Futar by search criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bKKFutar/latest/actions/search-alerts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query matched against alert title, description, or identifier.",
            "schema": {
              "type": "string",
              "description": "Search query matched against alert title, description, or identifier."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start of the search interval in epoch seconds.",
            "schema": {
              "type": "number",
              "description": "Start of the search interval in epoch seconds.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End of the search interval in epoch seconds.",
            "schema": {
              "type": "number",
              "description": "End of the search interval in epoch seconds.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "min_result",
            "in": "query",
            "required": false,
            "description": "Minimum number of elements returned.",
            "schema": {
              "type": "number",
              "description": "Minimum number of elements returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_references",
            "in": "query",
            "required": false,
            "description": "Reference data to include in the response.",
            "schema": {
              "type": "string",
              "description": "Reference data to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entry": {
                            "type": "object",
                            "properties": {
                              "alertIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Relevant alert IDs found by the alert search."
                              },
                              "query": {
                                "type": "string",
                                "description": "Search query echoed by the API."
                              },
                              "routeIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Relevant route IDs found by the alert search."
                              },
                              "stopIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Relevant stop IDs found by the alert search."
                              }
                            },
                            "additionalProperties": false
                          },
                          "limitExceeded": {
                            "type": "boolean",
                            "description": "Whether the response exceeded the defined limit."
                          },
                          "references": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Included reference details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
