{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Sempico Solutions SMS Universal API",
    "version": "0.0.2",
    "description": "Sempico Solutions SMS provides REST API access for sending SMS messages, querying sent-message information, managing recipient groups, and maintaining personal blacklist entries for Gatum/Sempico messaging accounts."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sempicoSolutionsSMS/latest/actions/add-numbers-to-blacklist": {
      "post": {
        "operationId": "sempicoSolutionsSMS.add-numbers-to-blacklist",
        "summary": "Add Numbers to Blacklist",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/add-numbers-to-blacklist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "numbers[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "numbers[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers to add to the personal blacklist."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blacklistDetails": {
                            "type": "object",
                            "properties": {
                              "countAfter": {
                                "type": "number",
                                "description": "Blacklist count after adding numbers."
                              },
                              "countBefore": {
                                "type": "number",
                                "description": "Blacklist count before adding numbers."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/add-numbers-to-group": {
      "post": {
        "operationId": "sempicoSolutionsSMS.add-numbers-to-group",
        "summary": "Add Numbers to Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/add-numbers-to-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id_group",
                  "numbers[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id_group": {
                    "type": "number",
                    "description": "Group ID to add numbers to."
                  },
                  "numbers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Numbers to add to the group. Each item can include number plus optional name, surname, patronymic, date_birth, male, and note_1 through note_10 fields."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupDetails": {
                            "type": "object",
                            "properties": {
                              "countPhoneAfter": {
                                "type": "number",
                                "description": "Number count after adding."
                              },
                              "countPhoneBefore": {
                                "type": "number",
                                "description": "Number count before adding."
                              },
                              "id_group": {
                                "type": "number",
                                "description": "Group ID."
                              },
                              "name_group": {
                                "type": "string",
                                "description": "Group name."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/create-group": {
      "post": {
        "operationId": "sempicoSolutionsSMS.create-group",
        "summary": "Create Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name_group"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name_group": {
                    "type": "string",
                    "description": "Name for the new group."
                  },
                  "time_birth": {
                    "type": "string",
                    "description": "Optional time for birthday greeting messages.",
                    "x-mindcloud-advanced": true
                  },
                  "originator_birth": {
                    "type": "string",
                    "description": "Optional sender ID for birthday greeting messages.",
                    "x-mindcloud-advanced": true
                  },
                  "text_birth": {
                    "type": "string",
                    "description": "Optional birthday greeting text. Sempico supports replacing #first_name# with the contact name.",
                    "x-mindcloud-advanced": true
                  },
                  "on_birth": {
                    "type": "boolean",
                    "description": "Whether birthday greetings should be sent for this group.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupDetails": {
                            "type": "object",
                            "properties": {
                              "command": {
                                "type": "string",
                                "description": "Operation performed."
                              },
                              "createCount": {
                                "type": "number",
                                "description": "Number of groups created."
                              }
                            },
                            "additionalProperties": false
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "id_group": {
                                "type": "number",
                                "description": "Created group ID."
                              },
                              "name_group": {
                                "type": "string",
                                "description": "Created group name."
                              },
                              "numbers_count": {
                                "type": "number",
                                "description": "Number of phone numbers in the group."
                              },
                              "on_birth": {
                                "type": "boolean",
                                "description": "Whether birthday greetings are enabled."
                              },
                              "originator_birth": {
                                "type": "string",
                                "description": "Birthday greeting sender ID, when configured."
                              },
                              "text_birth": {
                                "type": "string",
                                "description": "Birthday greeting text, when configured."
                              },
                              "time_birth": {
                                "type": "string",
                                "description": "Birthday greeting time, when configured."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Created group records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/delete-blacklist-numbers": {
      "delete": {
        "operationId": "sempicoSolutionsSMS.delete-blacklist-numbers",
        "summary": "Delete Blacklist Numbers",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/delete-blacklist-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numbers[]",
            "in": "query",
            "required": true,
            "description": "Phone numbers to delete from the personal blacklist.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Phone numbers to delete from the personal blacklist."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blacklistDetails": {
                            "type": "object",
                            "properties": {
                              "countAfter": {
                                "type": "number",
                                "description": "Blacklist count after deleting numbers."
                              },
                              "countBefore": {
                                "type": "number",
                                "description": "Blacklist count before deleting numbers."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/delete-group-numbers": {
      "delete": {
        "operationId": "sempicoSolutionsSMS.delete-group-numbers",
        "summary": "Delete Group Numbers",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/delete-group-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_group",
            "in": "query",
            "required": true,
            "description": "Group ID to remove numbers from.",
            "schema": {
              "type": "number",
              "description": "Group ID to remove numbers from."
            }
          },
          {
            "name": "numbers[]",
            "in": "query",
            "required": true,
            "description": "Phone numbers to remove from the group.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Phone numbers to remove from the group."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupDetails": {
                            "type": "object",
                            "properties": {
                              "deletedPhone": {
                                "type": "number",
                                "description": "Number of deleted phone records."
                              },
                              "id_group": {
                                "type": "number",
                                "description": "Group ID."
                              },
                              "name_group": {
                                "type": "string",
                                "description": "Group name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "mcc": {
                                "type": "number",
                                "description": "Mobile country code."
                              },
                              "mnc": {
                                "type": "number",
                                "description": "Mobile network code."
                              },
                              "name": {
                                "type": "string",
                                "description": "Contact first name."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Deleted phone number."
                              },
                              "surname": {
                                "type": "string",
                                "description": "Contact surname."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Deleted phone records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/delete-groups": {
      "delete": {
        "operationId": "sempicoSolutionsSMS.delete-groups",
        "summary": "Delete Groups",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/delete-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_group[]",
            "in": "query",
            "required": true,
            "description": "Group IDs to delete.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Group IDs to delete."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupDetails": {
                            "type": "object",
                            "properties": {
                              "command": {
                                "type": "string",
                                "description": "Operation performed."
                              },
                              "deleteCount": {
                                "type": "number",
                                "description": "Number of groups deleted."
                              }
                            },
                            "additionalProperties": false
                          },
                          "list": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Deleted group IDs."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/get-account-information": {
      "get": {
        "operationId": "sempicoSolutionsSMS.get-account-information",
        "summary": "Get Account Information",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/get-account-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance_daily_block": {
                            "type": "boolean",
                            "description": "Whether the account is daily-balance blocked."
                          },
                          "balance_limit": {
                            "type": "number",
                            "description": "Configured balance limit."
                          },
                          "balance_units": {
                            "type": "number",
                            "description": "Available account balance units."
                          },
                          "block": {
                            "type": "boolean",
                            "description": "Whether the account is blocked."
                          },
                          "can_send_bulk": {
                            "type": "boolean",
                            "description": "Whether bulk SMS sending is enabled."
                          },
                          "can_send_restapi": {
                            "type": "boolean",
                            "description": "Whether REST API sending is enabled."
                          },
                          "company_name": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "confirmed": {
                            "type": "number",
                            "description": "Account confirmation flag."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Account currency."
                          },
                          "e_mail": {
                            "type": "string",
                            "description": "Primary account email."
                          },
                          "finance": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Finance and credit status."
                          },
                          "id_subparent": {
                            "type": "number",
                            "description": "Parent account ID."
                          },
                          "login": {
                            "type": "string",
                            "description": "Account login."
                          },
                          "name": {
                            "type": "string",
                            "description": "Account holder name."
                          },
                          "phone": {
                            "type": "number",
                            "description": "Account phone number."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/list-groups": {
      "get": {
        "operationId": "sempicoSolutionsSMS.list-groups",
        "summary": "List Groups",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/list-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of groups to return.",
            "schema": {
              "type": "number",
              "description": "Number of groups to return.",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Page offset for group listing.",
            "schema": {
              "type": "number",
              "description": "Page offset for group listing.",
              "default": 0
            }
          },
          {
            "name": "id_group",
            "in": "query",
            "required": false,
            "description": "Optional group ID to return one specific group.",
            "schema": {
              "type": "number",
              "description": "Optional group ID to return one specific group.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupDetails": {
                            "type": "object",
                            "properties": {
                              "countAll": {
                                "type": "number",
                                "description": "Total matching groups."
                              },
                              "countResult": {
                                "type": "number",
                                "description": "Number of groups returned."
                              },
                              "limit": {
                                "type": "number",
                                "description": "Requested limit."
                              },
                              "offset": {
                                "type": "number",
                                "description": "Requested offset."
                              }
                            },
                            "additionalProperties": false
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "id_group": {
                                "type": "number",
                                "description": "Group ID."
                              },
                              "name_group": {
                                "type": "string",
                                "description": "Group name."
                              },
                              "numbers_count": {
                                "type": "number",
                                "description": "Number of phone numbers in the group."
                              },
                              "on_birth": {
                                "type": "boolean",
                                "description": "Whether birthday greetings are enabled."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Group records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/search-group-numbers": {
      "get": {
        "operationId": "sempicoSolutionsSMS.search-group-numbers",
        "summary": "Search Group Numbers",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/search-group-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_group",
            "in": "query",
            "required": true,
            "description": "Group ID to search.",
            "schema": {
              "type": "number",
              "description": "Group ID to search."
            }
          },
          {
            "name": "numbers[]",
            "in": "query",
            "required": true,
            "description": "Phone numbers to search for in the group.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Phone numbers to search for in the group."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupDetails": {
                            "type": "object",
                            "properties": {
                              "foundPhone": {
                                "type": "number",
                                "description": "Number of matching phones found."
                              },
                              "id_group": {
                                "type": "number",
                                "description": "Group ID."
                              },
                              "name_group": {
                                "type": "string",
                                "description": "Group name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "date_birth": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Contact birth date."
                              },
                              "mcc": {
                                "type": "number",
                                "description": "Mobile country code."
                              },
                              "mnc": {
                                "type": "number",
                                "description": "Mobile network code."
                              },
                              "name": {
                                "type": "string",
                                "description": "Contact first name."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Phone number."
                              },
                              "surname": {
                                "type": "string",
                                "description": "Contact surname."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Matching phone records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/search-sent-sms": {
      "get": {
        "operationId": "sempicoSolutionsSMS.search-sent-sms",
        "summary": "Search Sent SMS",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/search-sent-sms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MCC",
            "in": "query",
            "required": false,
            "description": "Optional mobile country code filter.",
            "schema": {
              "type": "number",
              "description": "Optional mobile country code filter."
            }
          },
          {
            "name": "MNC",
            "in": "query",
            "required": false,
            "description": "Optional mobile network code filter.",
            "schema": {
              "type": "number",
              "description": "Optional mobile network code filter."
            }
          },
          {
            "name": "sender",
            "in": "query",
            "required": false,
            "description": "Optional Sender ID filter.",
            "schema": {
              "type": "string",
              "description": "Optional Sender ID filter."
            }
          },
          {
            "name": "phone[]",
            "in": "query",
            "required": false,
            "description": "Optional phone number filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional phone number filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "id_base[]",
            "in": "query",
            "required": false,
            "description": "Optional group ID filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Optional group ID filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "time_period",
            "in": "query",
            "required": false,
            "description": "Optional SMS sending period filter, for example 2023-07-24 00:00:00 - 2023-07-24 23:59:59.",
            "schema": {
              "type": "string",
              "description": "Optional SMS sending period filter, for example 2023-07-24 00:00:00 - 2023-07-24 23:59:59."
            }
          },
          {
            "name": "type_sms",
            "in": "query",
            "required": false,
            "description": "Optional SMS type filter. Sempico documents sms, hlr, and mnp.",
            "schema": {
              "type": "string",
              "description": "Optional SMS type filter. Sempico documents sms, hlr, and mnp.",
              "enum": [
                "0",
                "1",
                "2"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Optional number of sent SMS records to return.",
            "schema": {
              "type": "number",
              "description": "Optional number of sent SMS records to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id_state": {
                            "type": "number",
                            "description": "Delivery/report state ID for a sent SMS record."
                          },
                          "num_parts": {
                            "type": "number",
                            "description": "Number of message parts."
                          },
                          "originator": {
                            "type": "string",
                            "description": "Sender/originator value."
                          },
                          "part_no": {
                            "type": "number",
                            "description": "Message part number."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Recipient phone number."
                          },
                          "state": {
                            "type": "string",
                            "description": "Delivery state."
                          },
                          "text_sms": {
                            "type": "string",
                            "description": "SMS message text."
                          },
                          "time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Record timestamp."
                          },
                          "type_sms": {
                            "type": "string",
                            "description": "SMS type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/send-bulk-sms": {
      "post": {
        "operationId": "sempicoSolutionsSMS.send-bulk-sms",
        "summary": "Send Bulk SMS",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/send-bulk-sms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "senderID",
                  "text",
                  "id_group[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "senderID": {
                    "type": "string",
                    "description": "Sender ID for the bulk message."
                  },
                  "text": {
                    "type": "string",
                    "description": "Bulk SMS message text."
                  },
                  "id_group[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Group IDs to send the bulk SMS to."
                  },
                  "id_group_excluded[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Optional group IDs to exclude from the sending.",
                    "x-mindcloud-advanced": true
                  },
                  "phone[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional extra phone numbers to include."
                  },
                  "dateStart": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional date to start gradual sending.",
                    "x-mindcloud-advanced": true
                  },
                  "timeStart": {
                    "type": "string",
                    "description": "Optional start time for gradual sending.",
                    "x-mindcloud-advanced": true
                  },
                  "timeStop": {
                    "type": "string",
                    "description": "Optional stop time for gradual sending.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "details": {
                            "type": "object",
                            "properties": {
                              "id_group": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Group IDs used for sending."
                              },
                              "senderID": {
                                "type": "string",
                                "description": "Sender ID used for the send."
                              },
                              "sentID": {
                                "type": "number",
                                "description": "Sempico sent batch ID."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sempicoSolutionsSMS/latest/actions/send-sms": {
      "post": {
        "operationId": "sempicoSolutionsSMS.send-sms",
        "summary": "Send SMS",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sempicoSolutionsSMS/latest/actions/send-sms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "number[]",
                  "senderID",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "number[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Destination phone numbers in MSISDN format."
                  },
                  "senderID": {
                    "type": "string",
                    "description": "Registered sender ID from which the SMS will be sent. Sempico rejects unregistered sender IDs with not_registr_originator."
                  },
                  "text": {
                    "type": "string",
                    "description": "SMS message text."
                  },
                  "type": {
                    "type": "string",
                    "description": "Message type. Sempico documents sms, hlr, and mnp; defaults to sms.",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ],
                    "default": "sms"
                  },
                  "beginDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date when the message should be sent, in YYYY-MM-DD format.",
                    "x-mindcloud-advanced": true
                  },
                  "beginTime": {
                    "type": "string",
                    "description": "GMT+0 time when the message should be sent, in HH:MM:SS format.",
                    "x-mindcloud-advanced": true
                  },
                  "lifetime": {
                    "type": "number",
                    "description": "How many seconds the SMS should live before expiring.",
                    "default": 86400,
                    "x-mindcloud-advanced": true
                  },
                  "delivery": {
                    "type": "boolean",
                    "description": "Whether Sempico should return delivery report information.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sending": {
                            "type": "object",
                            "properties": {
                              "details": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Recipient phone numbers accepted by Sempico."
                                  },
                                  "senderID": {
                                    "type": "string",
                                    "description": "Sender ID used for the message."
                                  },
                                  "sentID": {
                                    "type": "number",
                                    "description": "Sempico sent SMS ID when a message is accepted."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
