{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DMARC Report Universal API",
    "version": "0.0.2",
    "description": "DMARC Report lets teams monitor DMARC, forensic, MTA-STS, domain, account, and Postmaster reporting data through the DMARC Report API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dMARCReport/latest/actions/create-account-domain": {
      "post": {
        "operationId": "dMARCReport.create-account-domain",
        "summary": "Create Account Domain",
        "description": "Creates a domain account in DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/create-account-domain"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "domain_account"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "DMARC Report account identifier from the endpoint path."
                  },
                  "domain_account": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Domain account payload hash. Include account_attributes with id and domain_ids."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number",
                            "description": "Account identifier linked to the domain."
                          },
                          "domainId": {
                            "type": "number",
                            "description": "Domain identifier linked to the account."
                          },
                          "id": {
                            "type": "number",
                            "description": "Account-domain relationship identifier."
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Relationship timestamp when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/create-domain": {
      "post": {
        "operationId": "dMARCReport.create-domain",
        "summary": "Create Domain",
        "description": "Creates a domain in a DMARC Report account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/create-domain"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "domain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "DMARC Report account identifier from the endpoint path."
                  },
                  "domain": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Domain attributes hash. Include address, rua_report, and ruf_report; at least one report flag must be true."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Domain address."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Domain creation timestamp."
                          },
                          "dmarcStatus": {
                            "type": "string",
                            "description": "DMARC status for the domain."
                          },
                          "hostedDmarc": {
                            "type": "boolean",
                            "description": "Whether hosted DMARC is enabled."
                          },
                          "hostedMtaSts": {
                            "type": "boolean",
                            "description": "Whether hosted MTA-STS is enabled."
                          },
                          "id": {
                            "type": "number",
                            "description": "Domain identifier."
                          },
                          "mtaStsReport": {
                            "type": "boolean",
                            "description": "Whether MTA-STS reporting is enabled."
                          },
                          "mtaStsStatus": {
                            "type": "string",
                            "description": "MTA-STS status for the domain."
                          },
                          "parkedDomain": {
                            "type": "boolean",
                            "description": "Whether the domain is parked."
                          },
                          "ruaReport": {
                            "type": "boolean",
                            "description": "Whether RUA aggregate reports are enabled."
                          },
                          "rufReport": {
                            "type": "boolean",
                            "description": "Whether RUF forensic reports are enabled."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Domain slug."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tag objects associated with the domain."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Domain update timestamp."
                          },
                          "userId": {
                            "type": "number",
                            "description": "Owner user identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/delete-account-domain": {
      "delete": {
        "operationId": "dMARCReport.delete-account-domain",
        "summary": "Delete Account Domain",
        "description": "Deletes a domain account from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/delete-account-domain"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Account domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Account domain identifier from the endpoint path."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/delete-domain": {
      "delete": {
        "operationId": "dMARCReport.delete-domain",
        "summary": "Delete Domain",
        "description": "Deletes a domain from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/delete-domain"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Domain identifier from the endpoint path."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Deletion status message returned by DMARC Report."
                          },
                          "status": {
                            "type": "number",
                            "description": "Deletion status code returned by DMARC Report."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/generate-dmarc-record": {
      "post": {
        "operationId": "dMARCReport.generate-dmarc-record",
        "summary": "Generate DMARC Record",
        "description": "Generates a DMARC record for a domain in DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/generate-dmarc-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "domainId",
                  "p"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "DMARC Report account identifier from the endpoint path."
                  },
                  "domainId": {
                    "type": "string",
                    "description": "Domain identifier from the endpoint path."
                  },
                  "p": {
                    "type": "string",
                    "description": "DMARC policy to generate in the record."
                  },
                  "sp": {
                    "type": "string",
                    "description": "Optional DMARC policy for subdomains.",
                    "x-mindcloud-advanced": true
                  },
                  "pct": {
                    "type": "number",
                    "description": "Percentage of messages to which the DMARC policy applies.",
                    "x-mindcloud-advanced": true
                  },
                  "adkim": {
                    "type": "string",
                    "description": "DKIM alignment mode: relaxed or strict.",
                    "x-mindcloud-advanced": true
                  },
                  "aspf": {
                    "type": "string",
                    "description": "SPF alignment mode: relaxed or strict.",
                    "x-mindcloud-advanced": true
                  },
                  "fo": {
                    "type": "string",
                    "description": "DMARC forensic reporting options, such as 0, 1, d, s, or a colon-separated combination.",
                    "x-mindcloud-advanced": true
                  },
                  "additionalRuaEmails[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Additional email addresses for aggregate reports.",
                    "x-mindcloud-advanced": true
                  },
                  "additionalRufEmails[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Additional email addresses for forensic reports.",
                    "x-mindcloud-advanced": true
                  },
                  "t": {
                    "type": "string",
                    "description": "DMARCbis test mode value: y or n.",
                    "x-mindcloud-advanced": true
                  },
                  "psd": {
                    "type": "string",
                    "description": "DMARCbis public suffix domain value: y, n, or u.",
                    "x-mindcloud-advanced": true
                  },
                  "np": {
                    "type": "string",
                    "description": "DMARCbis policy for non-existent subdomains.",
                    "x-mindcloud-advanced": true
                  },
                  "publish": {
                    "type": "boolean",
                    "description": "Whether to publish this generated record to hosted DMARC.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dmarcRecord": {
                            "type": "string",
                            "description": "Generated DMARC TXT record value."
                          },
                          "maxLength": {
                            "type": "number",
                            "description": "Maximum allowed record length."
                          },
                          "recordLength": {
                            "type": "number",
                            "description": "Length of the generated record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-account-domain": {
      "get": {
        "operationId": "dMARCReport.get-account-domain",
        "summary": "Get Account Domain",
        "description": "Retrieves a domain account from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-account-domain"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Account domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Account domain identifier from the endpoint path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number",
                            "description": "Account identifier on the account-domain record."
                          },
                          "domainId": {
                            "type": "number",
                            "description": "Domain identifier on the account-domain record."
                          },
                          "id": {
                            "type": "number",
                            "description": "Account-domain record identifier."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Timestamp returned by DMARC Report for the account-domain record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-aggregate-report": {
      "get": {
        "operationId": "dMARCReport.get-aggregate-report",
        "summary": "Get Aggregate Report",
        "description": "Retrieves an aggregate report from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-aggregate-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "required": true,
            "description": "Domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Domain identifier from the endpoint path."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Aggregate report identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Aggregate report identifier from the endpoint path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateBegin": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Report date range start."
                          },
                          "dateEnd": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Report date range end."
                          },
                          "domainPolicy": {
                            "type": "string",
                            "description": "Published domain policy."
                          },
                          "email": {
                            "type": "string",
                            "description": "Reporter email."
                          },
                          "id": {
                            "type": "number",
                            "description": "Aggregate report identifier."
                          },
                          "orgName": {
                            "type": "string",
                            "description": "Reporting organization name."
                          },
                          "policyDomain": {
                            "type": "string",
                            "description": "Policy domain."
                          },
                          "recordsCount": {
                            "type": "number",
                            "description": "Number of aggregate records when provided."
                          },
                          "reportId": {
                            "type": "string",
                            "description": "Provider report identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-aggregate-report-records": {
      "get": {
        "operationId": "dMARCReport.get-aggregate-report-records",
        "summary": "Get Aggregate Report Records",
        "description": "Retrieves aggregate report records from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-aggregate-report-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "required": true,
            "description": "Domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Domain identifier from the endpoint path."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Aggregate report records from the documented records response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-domain": {
      "get": {
        "operationId": "dMARCReport.get-domain",
        "summary": "Get Domain",
        "description": "Retrieves a domain from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-domain"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Domain identifier from the endpoint path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Domain address."
                          },
                          "dmarcStatus": {
                            "type": "string",
                            "description": "DMARC status for the domain."
                          },
                          "id": {
                            "type": "number",
                            "description": "Domain identifier."
                          },
                          "mtaStsReport": {
                            "type": "boolean",
                            "description": "Whether MTA-STS reporting is enabled."
                          },
                          "mtaStsStatus": {
                            "type": "string",
                            "description": "MTA-STS status for the domain."
                          },
                          "parkedDomain": {
                            "type": "boolean",
                            "description": "Whether the domain is parked."
                          },
                          "ruaReport": {
                            "type": "boolean",
                            "description": "Whether RUA aggregate reports are enabled."
                          },
                          "rufReport": {
                            "type": "boolean",
                            "description": "Whether RUF forensic reports are enabled."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Domain slug."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tag objects associated with the domain."
                          },
                          "userId": {
                            "type": "number",
                            "description": "Owner user identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-forensic-report": {
      "get": {
        "operationId": "dMARCReport.get-forensic-report",
        "summary": "Get Forensic Report",
        "description": "Retrieves a forensic report from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-forensic-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "required": true,
            "description": "Domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Domain identifier from the endpoint path."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Forensic report identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Forensic report identifier from the endpoint path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arrivalDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Message arrival date."
                          },
                          "deliveryResult": {
                            "type": "string",
                            "description": "Delivery result."
                          },
                          "domainId": {
                            "type": "number",
                            "description": "Domain identifier."
                          },
                          "feedbackType": {
                            "type": "string",
                            "description": "Feedback type."
                          },
                          "fromAddress": {
                            "type": "string",
                            "description": "Sender address."
                          },
                          "id": {
                            "type": "number",
                            "description": "Forensic report identifier."
                          },
                          "ipAddress": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "IP address details for the report."
                          },
                          "messageId": {
                            "type": "string",
                            "description": "Message identifier."
                          },
                          "reportedDomain": {
                            "type": "string",
                            "description": "Reported domain."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Message subject."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-hosted-services": {
      "get": {
        "operationId": "dMARCReport.get-hosted-services",
        "summary": "Get Hosted Services",
        "description": "Retrieves hosted service status for a domain in DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-hosted-services"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "required": true,
            "description": "Domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Domain identifier from the endpoint path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dmarcStatus": {
                            "type": "string",
                            "description": "Hosted DMARC status when available."
                          },
                          "domain": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Domain-level hosted-service context when returned by the provider."
                          },
                          "hostedDmarc": {
                            "type": "boolean",
                            "description": "Whether hosted DMARC is enabled for the domain."
                          },
                          "hostedMtaSts": {
                            "type": "boolean",
                            "description": "Whether hosted MTA-STS is enabled for the domain."
                          },
                          "mtaStsStatus": {
                            "type": "string",
                            "description": "Hosted MTA-STS status when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-mta-sts-report": {
      "get": {
        "operationId": "dMARCReport.get-mta-sts-report",
        "summary": "Get MTA-STS Report",
        "description": "Retrieves an MTA-STS report from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-mta-sts-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "DMARC Report account identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "DMARC Report account identifier from the endpoint path."
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "required": true,
            "description": "Domain identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Domain identifier from the endpoint path."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "MTA-STS report identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "MTA-STS report identifier from the endpoint path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domainId": {
                            "type": "number",
                            "description": "Domain identifier."
                          },
                          "failureDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Failure details included with the MTA-STS report."
                          },
                          "id": {
                            "type": "number",
                            "description": "MTA-STS report identifier."
                          },
                          "organizationName": {
                            "type": "string",
                            "description": "Reporting organization."
                          },
                          "policyDomain": {
                            "type": "string",
                            "description": "Policy domain."
                          },
                          "policyType": {
                            "type": "string",
                            "description": "MTA-STS policy type."
                          },
                          "reportId": {
                            "type": "string",
                            "description": "Provider report identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dMARCReport/latest/actions/get-postmaster-account-record": {
      "get": {
        "operationId": "dMARCReport.get-postmaster-account-record",
        "summary": "Get Postmaster Account Record",
        "description": "Retrieves a postmaster account record from DMARC Report.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dMARCReport/latest/actions/get-postmaster-account-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Postmaster account record identifier from the endpoint path.",
            "schema": {
              "type": "string",
              "description": "Postmaster account record identifier from the endpoint path."
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address of the connected Postmaster account.",
            "schema": {
              "type": "string",
              "description": "Email address of the connected Postmaster account."
            }
          },
          {
            "name": "item",
            "in": "query",
            "required": true,
            "description": "Domain for which Postmaster data is needed.",
            "schema": {
              "type": "string",
              "description": "Domain for which Postmaster data is needed."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticationData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Authentication performance keyed by date."
                          },
                          "deliveryErrorsData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Delivery error records keyed by date."
                          },
                          "domainReputationData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Domain reputation data keyed by date."
                          },
                          "encryptionData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Encryption metrics keyed by date."
                          },
                          "feedbackLoopData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback loop records keyed by date."
                          },
                          "ipReputationData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "IP reputation data keyed by date and reputation tier."
                          },
                          "spamRateData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Spam rate data keyed by date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
[...]
