{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "MailerLite Universal API",
    "version": "0.0.9",
    "description": "Manage subscribers, send campaigns, automate emails, and grow audiences."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mailerLite/latest/actions/assign-subscriber-to-group": {
      "put": {
        "operationId": "mailerLite.assign-subscriber-to-group",
        "summary": "Assign Subscriber to Group",
        "description": "Assigns an existing subscriber to a group in MailerLite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/assign-subscriber-to-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subscriber_id",
                  "group_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subscriber_id": {
                    "type": "string",
                    "description": "Existing MailerLite subscriber identifier.",
                    "example": "180863157267334516"
                  },
                  "group_id": {
                    "type": "string",
                    "description": "Existing MailerLite group identifier.",
                    "example": "180900000000000001"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeCount": {
                            "type": "number"
                          },
                          "bouncedCount": {
                            "type": "number"
                          },
                          "clickRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clicksCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "junkCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "openRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "opensCount": {
                            "type": "number"
                          },
                          "sentCount": {
                            "type": "number"
                          },
                          "unconfirmedCount": {
                            "type": "number"
                          },
                          "unsubscribedCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailerLite/latest/actions/cancel-ready-campaign": {
      "put": {
        "operationId": "mailerLite.cancel-ready-campaign",
        "summary": "Cancel Ready Campaign",
        "description": "Cancels a ready campaign in MailerLite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/cancel-ready-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "campaignId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "Ready campaign ID to cancel.",
                    "example": "123456789"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "can": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "copy": {
                                "type": "boolean"
                              },
                              "delete": {
                                "type": "boolean"
                              },
                              "resend": {
                                "type": "boolean"
                              },
                              "send": {
                                "type": "boolean"
                              },
                              "update": {
                                "type": "boolean"
                              }
                            }
                          },
                          "canBeCopied": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "defaultEmailId": {
                            "type": "string"
                          },
                          "deliverySchedule": {
                            "type": "string"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "from": {
                                  "type": "string"
                                },
                                "fromName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isDesigned": {
                                  "type": "boolean"
                                },
                                "plainText": {
                                  "type": "string"
                                },
                                "previewUrl": {
                                  "type": "string"
                                },
                                "replyTo": {
                                  "type": "string"
                                },
                                "subject": {
                                  "type": "string"
                                },
                                "trackOpens": {
                                  "type": "boolean"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "finishedAt": {
                            "type": "string"
                          },
                          "hasBasicFilter": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isCurrentlySendingOut": {
                            "type": "boolean"
                          },
                          "isEligibleForSending": {
                            "type": "boolean"
                          },
                          "isStopped": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "iso639": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "shortcode": {
                                "type": "string"
                              }
                            }
                          },
                          "languageId": {
                            "type": "string"
                          },
                          "missingData": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "needsRepair": {
                            "type": "boolean"
                          },
                          "queuedAt": {
                            "type": "string"
                          },
                          "recipientsCount": {
                            "type": "number"
                          },
                          "scheduledFor": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "ecommerceTracking": {
                                "type": "boolean"
                              },
                              "trackOpens": {
                                "type": "boolean"
                              },
                              "useGoogleAnalytics": {
                                "type": "boolean"
                              }
                            }
                          },
                          "startedAt": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "stoppedAt": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "typeForHumans": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailerLite/latest/actions/create-campaign": {
      "post": {
        "operationId": "mailerLite.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a new campaign in MailerLite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "type",
                  "emails[]",
                  "emails[].subject",
                  "emails[].from_name",
                  "emails[].from"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Campaign name.",
                    "example": "Disposable draft campaign"
                  },
                  "type": {
                    "type": "string",
                    "description": "Campaign type.",
                    "example": "regular"
                  },
                  "language_id": {
                    "type": "number",
                    "description": "Campaign language ID for unsubscribe content.",
                    "example": 4,
                    "x-mindcloud-advanced": true
                  },
                  "emails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Email variants for the campaign."
                  },
                  "emails[].subject": {
                    "type": "string",
                    "description": "Email subject line.",
                    "example": "Disposable test subject"
                  },
                  "emails[].from_name": {
                    "type": "string",
                    "description": "Verified sender name.",
                    "example": "MindCloud Test Sender"
                  },
                  "emails[].from": {
                    "type": "string",
                    "description": "Verified sender email address.",
                    "example": "apps@mindcloud.co"
                  },
                  "emails[].reply_to": {
                    "type": "string",
                    "description": "Verified reply-to email address.",
                    "example": "apps@mindcloud.co",
                    "x-mindcloud-advanced": true
                  },
                  "emails[].content": {
                    "type": "string",
                    "description": "Optional HTML content for advanced-plan custom HTML campaigns.",
                    "example": "<p>Hello from MindCloud</p>",
                    "x-mindcloud-advanced": true
                  },
                  "groups[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Recipient group IDs.",
                    "x-mindcloud-advanced": true
                  },
                  "segments[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Recipient segment IDs. Overrides groups when both are provided.",
                    "x-mindcloud-advanced": true
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Campaign settings object.",
                    "x-mindcloud-advanced": true
                  },
                  "settings.ecommerce_tracking": {
                    "type": "boolean",
                    "description": "Enable ecommerce link tracking for shop URLs.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "basicFilterForHumans": {
                            "type": "object",
                            "properties": {
                              "allActiveSubscribers": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "can": {
                            "type": "object",
                            "properties": {
                              "copy": {
                                "type": "boolean"
                              },
                              "delete": {
                                "type": "boolean"
                              },
                              "resend": {
                                "type": "boolean"
                              },
                              "send": {
                                "type": "boolean"
                              },
                              "update": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "canBeCopied": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "defaultEmailId": {
                            "type": "string"
                          },
                          "deliverySchedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ecommerceStats": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountId": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "emailableId": {
                                  "type": "string"
                                },
                                "emailableType": {
                                  "type": "string"
                                },
                                "from": {
                                  "type": "string"
                                },
                                "fromName": {
                                  "type": "string"
                                },
                                "generateScreenshotTimestamp": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isDesigned": {
                                  "type": "boolean"
                                },
                                "isWinner": {
                                  "type": "boolean"
                                },
                                "language": {
                                  "type": "object",
                                  "properties": {
                                    "direction": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "iso639": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "shortcode": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "languageId": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "plainText": {
                                  "type": "string"
                                },
                                "preheader": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "previewUrl": {
                                  "type": "string"
                                },
                                "replyTo": {
                                  "type": "string"
                                },
                                "screenshotUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "sendAfter": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "stats": {
                                  "type": "object",
                                  "properties": {
                                    "clickRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "clicksCount": {
                                      "type": "number"
                                    },
                                    "clickToOpenRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "forwardRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "forwardsCount": {
                                      "type": "number"
                                    },
                                    "hardBounceRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "hardBouncesCount": {
                                      "type": "number"
                                    },
                                    "openRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "opensCount": {
                                      "type": "number"
                                    },
                                    "sent": {
                                      "type": "number"
                                    },
                                    "socialInteractionRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "socialInteractionsCount": {
                                      "type": "number"
                                    },
                                    "softBounceRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "softBouncesCount": {
                                      "type": "number"
                                    },
                                    "spamCount": {
                                      "type": "number"
                                    },
                                    "spamRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "unsubscribeRate": {
                                      "type": "object",
                                      "properties": {
                                        "float": {
                                          "type": "number"
                                        },
                                        "string": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "unsubscribesCount": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "subject": {
                                  "type": "string"
                                },
                                "trackOpens": {
                                  "type": "boolean"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "usesQuiz": {
                                  "type": "boolean"
                                },
                                "usesSurvey": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "finishedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hasBasicFilter": {
                            "type": "boolean"
                          },
                          "hasWinner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAppliedForSmartSendingIndexOption": {
                            "type": "boolean"
                          },
                          "isCurrentlySendingOut": {
                            "type": "boolean"
                          },
                          "isEligibleForSending": {
                            "type": "boolean"
                          },
                          "isSmartSendingIndexOptionFinished": {
                            "type": "boolean"
                          },
                          "isStopped": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "object",
                            "properties": {
                              "direction": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "iso639": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "shortcode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "languageId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "needsRepair": {
                            "type": "boolean"
                          },
                          "nextStep": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "queuedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recipientsCount": {
                            "type": "number"
                          },
                          "scheduledFor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "ecommerceTracking": {
                                "type": "boolean"
                              },
                              "trackOpens": {
                                "type": "boolean"
                              },
                              "useGoogleAnalytics": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "startedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "stoppedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "typeForHumans": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "usedInAutomations": {
                            "type": "boolean"
                          },
                          "usesEcommerce": {
                            "type": "boolean"
                          },
                          "usesSurvey": {
                            "type": "boolean"
                          },
                          "winnerSelectedManuallyAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "winnerSendingTimeForHumans": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "winnerVersionForHuman": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailerLite/latest/actions/create-draft-automation": {
      "post": {
        "operationId": "mailerLite.create-draft-automation",
        "summary": "Create Draft Automation",
        "description": "Creates a draft automation in MailerLite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/create-draft-automation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name for the new MailerLite automation.",
                    "example": "Lifecycle welcome series"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "automationTemplateId": {
                            "type": "string"
                          },
                          "automationTemplateName": {
                            "type": "string"
                          },
                          "broken": {
                            "type": "boolean"
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "emailsCount": {
                            "type": "number"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "hasBannedContent": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "stats": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "bounceRate": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                }
                              },
                              "clickRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "clicksCount": {
                                "type": "number"
                              },
                              "clickToOpenRate": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                }
                              },
                              "completedSubscribersCount": {
                                "type": "number"
                              },
                              "forwardRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "hardBounceRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "hardBouncesCount": {
                                "type": "number"
                              },
                              "openRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "opensCount": {
                                "type": "number"
                              },
                              "sent": {
                                "type": "number"
                              },
                              "socialInteractionRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "socialInteractionsCount": {
                                "type": "number"
                              },
                              "softBounceRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "softBouncesCount": {
                                "type": "number"
                              },
                              "spamCount": {
                                "type": "number"
                              },
                              "spamRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "subscribersInQueueCount": {
                                "type": "number"
                              },
                              "uniqueClicksCount": {
                                "type": "number"
                              },
                              "uniqueOpensCount": {
                                "type": "number"
                              },
                              "unsubscribeRate": {
                                "type": "object",
                                "properties": {
                                  "float": {
                                    "type": "number"
                                  },
                                  "string": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "unsubscribesCount": {
                                "type": "number"
                              }
                            }
                          },
                          "steps": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "triggerData": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "brokenWorkflow": {
                                "type": "boolean"
                              },
                              "completeWorkflow": {
                                "type": "boolean"
                              },
                              "trackEcommerce": {
                                "type": "boolean"
                              }
                            }
                          },
                          "triggers": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailerLite/latest/actions/create-field": {
      "post": {
        "operationId": "mailerLite.create-field",
        "summary": "Create Field",
        "description": "Creates a subscriber field in MailerLite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/create-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Field name.",
                    "example": "favorite_color"
                  },
                  "type": {
                    "type": "string",
                    "description": "Field type.",
                    "example": "text"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailerLite/latest/actions/create-group": {
      "post": {
        "operationId": "mailerLite.create-group",
        "summary": "Create Group",
        "description": "Creates a new group in MailerLite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name for the new MailerLite group.",
                    "example": "MC Wizard Stage3 Group"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeCount": {
                            "type": "number"
                          },
                          "bouncedCount": {
                            "type": "number"
                          },
                          "clickRate": {
                            "type": "object",
                            "properties": {
                              "float": {
                                "type": "number"
                              },
                              "string": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "clicksCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "junkCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "openRate": {
                            "type": "object",
                            "properties": {
                              "float": {
                                "type": "number"
                              },
                              "string": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "opensCount": {
                            "type": "number"
                          },
                          "sentCount": {
                            "type": "number"
                          },
                          "unconfirmedCount": {
                            "type": "number"
                          },
                          "unsubscribedCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailerLite/latest/actions/create-or-upsert-subscriber": {
      "post": {
        "operationId": "mailerLite.create-or-upsert-subscriber",
        "summary": "Create or Upsert Subscriber",
        "description": "Creates a subscriber in MailerLite, or updates one with the same email.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/create-or-upsert-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Subscriber email address.",
                    "example": "dummy@example.com"
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Field values keyed by default or custom field name."
                  },
                  "groups[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Existing group IDs to add the subscriber to."
                  },
                  "status": {
                    "type": "string",
                    "description": "Subscriber status.",
                    "example": "active"
                  },
                  "resubscribe": {
                    "type": "boolean",
                    "description": "Resubscribe previously unsubscribed subscribers when true.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  },
                  "subscribedAt": {
                    "type": "string",
                    "description": "Subscription timestamp in yyyy-MM-dd HH:mm:ss format.",
                    "example": "2026-03-05 12:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "Subscriber IP address.",
                    "example": "203.0.113.10",
                    "x-mindcloud-advanced": true
                  },
                  "optedInAt": {
                    "type": "string",
                    "description": "Opt-in timestamp in yyyy-MM-dd HH:mm:ss format.",
                    "example": "2026-03-05 12:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "optinIp": {
                    "type": "string",
                    "description": "Opt-in IP address.",
                    "example": "203.0.113.10",
                    "x-mindcloud-advanced": true
                  },
                  "unsubscribedAt": {
                    "type": "string",
                    "description": "Unsubscribe timestamp in yyyy-MM-dd HH:mm:ss format.",
                    "example": "2026-03-05 12:00:00",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clickRate": {
                            "type": "number",
                            "description": "Click rate percentage."
                          },
                          "clicksCount": {
                            "type": "number",
                            "description": "Email click count."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Record creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Subscriber email address."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscriber field values keyed by field name."
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Groups attached to the subscriber."
                          },
                          "id": {
                            "type": "string",
                            "description": "MailerLite subscriber ID."
                          },
                          "ipAddress": {
                            "type": "string",
                            "description": "Subscriber IP address."
                          },
                          "openRate": {
                            "type": "number",
                            "description": "Open rate percentage."
                          },
                          "opensCount": {
                            "type": "number",
                            "description": "Email open count."
                          },
                          "optedInAt": {
                            "type": "string",
                            "description": "Opt-in timestamp."
                          },
                          "optinIp": {
                            "type": "string",
                            "description": "Opt-in IP address."
                          },
                          "sent": {
                            "type": "number",
                            "description": "Sent campaign count."
                          },
                          "source": {
                            "type": "string",
                            "description": "Subscriber source."
                          },
                          "status": {
                            "type": "string",
                            "description": "Subscriber status."
                          },
                          "subscribedAt": {
                            "type": "string",
                            "description": "Subscription timestamp."
                          },
                          "unsubscribedAt": {
                            "type": "string",
                            "description": "Unsubscribe timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Record update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailerLite/latest/actions/create-webhook": {
      "post": {
        "operationId": "mailerLite.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a new webhook in MailerLite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailerLite/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "events[]",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Friendly name for the webhook.",
                    "example": "MC Wizard Stage3 Webhook"
                  },
                  "events[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook events to subscribe to."
                  },
                  "url": {
                    "type": "string",
                    "description": "Destination URL for MailerLite webhook deliveries.",
                    "example": "https://webhook.site/your-test-endpoint"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the webhook is enabled immediately after creation.",
                    "default": false
                  },
                  "batchable": {
                    "type": "boolean",
                    "description": "Whether MailerLite can batch event deliveries for this webhook.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "batchable": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isBlocked": {
                            "type": "boolean"
                          },
                          "lastFiredAt": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "responseCode": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
[...]
