{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Payhip Universal API",
    "version": "0.0.5",
    "description": "Manage Payhip coupons and license keys"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/payhip/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/payhip/latest/actions/create-coupon": {
      "post": {
        "operationId": "payhip.create-coupon",
        "summary": "Create Coupon",
        "description": "Creates a new coupon in Payhip.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/create-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "couponType",
                  "code"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "couponType": {
                    "type": "string",
                    "description": "Choose whether the coupon applies to all products, specific products, or specific collections.",
                    "enum": [
                      "all_products",
                      "specific_collections",
                      "specific_products"
                    ],
                    "example": "all_products"
                  },
                  "code": {
                    "type": "string",
                    "description": "The coupon code customers will enter at checkout.",
                    "example": "SPRING2026"
                  },
                  "percentOff": {
                    "type": "number",
                    "description": "Percentage discount to apply when using a percentage-based coupon.",
                    "example": 20
                  },
                  "amountOff": {
                    "type": "number",
                    "description": "Fixed amount discount to apply when using an amount-based coupon.",
                    "example": 5
                  },
                  "productKey": {
                    "type": "string",
                    "description": "Required when the coupon targets a specific product.",
                    "example": "prod_12345"
                  },
                  "collectionId": {
                    "type": "string",
                    "description": "Required when the coupon targets a specific collection.",
                    "example": "collection_12345"
                  },
                  "usageLimit": {
                    "type": "number",
                    "description": "Maximum number of times the coupon can be redeemed.",
                    "example": 100
                  },
                  "minimumPurchaseAmount": {
                    "type": "number",
                    "description": "Minimum purchase amount required before the coupon applies.",
                    "example": 25
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Optional start date for the coupon.",
                    "example": "2026-03-12"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Optional end date for the coupon.",
                    "example": "2026-03-31"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Internal notes stored with the coupon.",
                    "example": "Spring promotion"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountOff": {
                            "type": "number",
                            "description": "Fixed discount amount when present."
                          },
                          "code": {
                            "type": "string",
                            "description": "Coupon code."
                          },
                          "collectionId": {
                            "type": "string",
                            "description": "Target collection identifier when scoped to a collection."
                          },
                          "couponType": {
                            "type": "string",
                            "description": "The coupon scope type."
                          },
                          "endDate": {
                            "type": "string",
                            "description": "Coupon end date when configured."
                          },
                          "id": {
                            "type": "string",
                            "description": "Payhip coupon identifier."
                          },
                          "minimumPurchaseAmount": {
                            "type": "number",
                            "description": "Minimum purchase threshold when configured."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Internal coupon notes."
                          },
                          "percentOff": {
                            "type": "number",
                            "description": "Percentage discount amount when present."
                          },
                          "productKey": {
                            "type": "string",
                            "description": "Target product key when scoped to a product."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "Coupon start date when configured."
                          },
                          "usageLimit": {
                            "type": "number",
                            "description": "Maximum redemptions when configured."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payhip/latest/actions/decrease-license-usage": {
      "put": {
        "operationId": "payhip.decrease-license-usage",
        "summary": "Decrease License Usage",
        "description": "Decreases a Payhip license key usage count.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/decrease-license-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "licenseKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "licenseKey": {
                    "type": "string",
                    "description": "The Payhip license key whose usage count should be decreased.",
                    "example": "PH-ABCD-1234-EFGH"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyerEmail": {
                            "type": "string",
                            "description": "The buyer email associated with the license key."
                          },
                          "date": {
                            "type": "string",
                            "description": "The Payhip timestamp returned for the license record."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the license key is enabled."
                          },
                          "licenseKey": {
                            "type": "string",
                            "description": "The Payhip license key."
                          },
                          "productLink": {
                            "type": "string",
                            "description": "The Payhip product URL associated with the license key."
                          },
                          "productName": {
                            "type": "string",
                            "description": "The Payhip product name associated with the license key."
                          },
                          "uses": {
                            "type": "number",
                            "description": "The current usage count for the license key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payhip/latest/actions/disable-license-key": {
      "put": {
        "operationId": "payhip.disable-license-key",
        "summary": "Disable License Key",
        "description": "Disables an existing license key in Payhip.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/disable-license-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "licenseKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "licenseKey": {
                    "type": "string",
                    "description": "The Payhip license key to disable.",
                    "example": "PH-ABCD-1234-EFGH"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyerEmail": {
                            "type": "string",
                            "description": "The buyer email associated with the license key."
                          },
                          "date": {
                            "type": "string",
                            "description": "The Payhip timestamp returned for the license record."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the license key is enabled."
                          },
                          "licenseKey": {
                            "type": "string",
                            "description": "The Payhip license key."
                          },
                          "productLink": {
                            "type": "string",
                            "description": "The Payhip product URL associated with the license key."
                          },
                          "productName": {
                            "type": "string",
                            "description": "The Payhip product name associated with the license key."
                          },
                          "uses": {
                            "type": "number",
                            "description": "The current usage count for the license key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payhip/latest/actions/enable-license-key": {
      "put": {
        "operationId": "payhip.enable-license-key",
        "summary": "Enable License Key",
        "description": "Enables an existing license key in Payhip.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/enable-license-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "licenseKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "licenseKey": {
                    "type": "string",
                    "description": "The Payhip license key to enable.",
                    "example": "PH-ABCD-1234-EFGH"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyerEmail": {
                            "type": "string",
                            "description": "The buyer email associated with the license key."
                          },
                          "date": {
                            "type": "string",
                            "description": "The Payhip timestamp returned for the license record."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the license key is enabled."
                          },
                          "licenseKey": {
                            "type": "string",
                            "description": "The Payhip license key."
                          },
                          "productLink": {
                            "type": "string",
                            "description": "The Payhip product URL associated with the license key."
                          },
                          "productName": {
                            "type": "string",
                            "description": "The Payhip product name associated with the license key."
                          },
                          "uses": {
                            "type": "number",
                            "description": "The current usage count for the license key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payhip/latest/actions/get-coupon": {
      "get": {
        "operationId": "payhip.get-coupon",
        "summary": "Get Coupon",
        "description": "Retrieves a coupon from Payhip by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/get-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "couponId",
            "in": "query",
            "required": true,
            "description": "The Payhip coupon ID to retrieve.",
            "schema": {
              "type": "number",
              "description": "The Payhip coupon ID to retrieve.",
              "example": 1495522137
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountOff": {
                            "type": "number",
                            "description": "Fixed discount amount when present."
                          },
                          "code": {
                            "type": "string",
                            "description": "Coupon code."
                          },
                          "collectionId": {
                            "type": "string",
                            "description": "Target collection identifier when scoped to a collection."
                          },
                          "couponType": {
                            "type": "string",
                            "description": "The coupon scope type."
                          },
                          "endDate": {
                            "type": "string",
                            "description": "Coupon end date when configured."
                          },
                          "id": {
                            "type": "string",
                            "description": "Payhip coupon identifier."
                          },
                          "minimumPurchaseAmount": {
                            "type": "number",
                            "description": "Minimum purchase threshold when configured."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Internal coupon notes."
                          },
                          "percentOff": {
                            "type": "number",
                            "description": "Percentage discount amount when present."
                          },
                          "productKey": {
                            "type": "string",
                            "description": "Target product key when scoped to a product."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "Coupon start date when configured."
                          },
                          "usageLimit": {
                            "type": "number",
                            "description": "Maximum redemptions when configured."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payhip/latest/actions/increase-license-usage": {
      "put": {
        "operationId": "payhip.increase-license-usage",
        "summary": "Increase License Usage",
        "description": "Increases a Payhip license key usage count.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/increase-license-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "licenseKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "licenseKey": {
                    "type": "string",
                    "description": "The Payhip license key whose usage count should be increased.",
                    "example": "PH-ABCD-1234-EFGH"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyerEmail": {
                            "type": "string",
                            "description": "The buyer email associated with the license key."
                          },
                          "date": {
                            "type": "string",
                            "description": "The Payhip timestamp returned for the license record."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the license key is enabled."
                          },
                          "licenseKey": {
                            "type": "string",
                            "description": "The Payhip license key."
                          },
                          "productLink": {
                            "type": "string",
                            "description": "The Payhip product URL associated with the license key."
                          },
                          "productName": {
                            "type": "string",
                            "description": "The Payhip product name associated with the license key."
                          },
                          "uses": {
                            "type": "number",
                            "description": "The current usage count for the license key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payhip/latest/actions/list-coupons": {
      "get": {
        "operationId": "payhip.list-coupons",
        "summary": "List Coupons",
        "description": "Retrieves a paginated list of coupons from Payhip.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/list-coupons"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountOff": {
                            "type": "number",
                            "description": "Fixed discount amount when present."
                          },
                          "code": {
                            "type": "string",
                            "description": "Coupon code."
                          },
                          "collectionId": {
                            "type": "string",
                            "description": "Target collection identifier when scoped to a collection."
                          },
                          "couponType": {
                            "type": "string",
                            "description": "The coupon scope type."
                          },
                          "endDate": {
                            "type": "string",
                            "description": "Coupon end date when configured."
                          },
                          "id": {
                            "type": "string",
                            "description": "Payhip coupon identifier."
                          },
                          "minimumPurchaseAmount": {
                            "type": "number",
                            "description": "Minimum purchase threshold when configured."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Internal coupon notes."
                          },
                          "percentOff": {
                            "type": "number",
                            "description": "Percentage discount amount when present."
                          },
                          "productKey": {
                            "type": "string",
                            "description": "Target product key when scoped to a product."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "Coupon start date when configured."
                          },
                          "usageLimit": {
                            "type": "number",
                            "description": "Maximum redemptions when configured."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payhip/latest/actions/verify-license-key": {
      "get": {
        "operationId": "payhip.verify-license-key",
        "summary": "Verify License Key",
        "description": "Verifies a Payhip license key and returns its details.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payhip/latest/actions/verify-license-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenseKey",
            "in": "query",
            "required": true,
            "description": "The Payhip license key to verify.",
            "schema": {
              "type": "string",
              "description": "The Payhip license key to verify.",
              "example": "PH-ABCD-1234-EFGH"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyerEmail": {
                            "type": "string",
                            "description": "The buyer email associated with the license key."
                          },
                          "date": {
                            "type": "string",
                            "description": "The Payhip timestamp returned for the license record."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the license key is enabled."
                          },
                          "licenseKey": {
                            "type": "string",
                            "description": "The Payhip license key."
                          },
                          "productLink": {
                            "type": "string",
                            "description": "The Payhip product URL associated with the license key."
                          },
                          "productName": {
                            "type": "string",
                            "description": "The Payhip product name associated with the license key."
                          },
                          "uses": {
                            "type": "number",
                            "description": "The current usage count for the license key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
