{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Moosend Universal API",
    "version": "0.0.7",
    "description": "Manage email lists, subscribers, segments, and campaigns"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/moosend/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/moosend/latest/actions/add-multiple-subscribers": {
      "post": {
        "operationId": "moosend.add-multiple-subscribers",
        "summary": "Add Multiple Subscribers",
        "description": "Creates multiple subscribers in Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/add-multiple-subscribers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mailingListId",
                  "subscribers"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mailingListId": {
                    "type": "string",
                    "description": "The ID of the email list where you want to add multiple subscribers."
                  },
                  "hasExternalDoubleOptIn": {
                    "type": "boolean",
                    "description": "When true , it flags the added subscribers as having given their subscription consent by other means."
                  },
                  "subscribers": {
                    "type": "string",
                    "description": "A list containing up to 1000 subscribers that you are adding to the email list. You must specify the Name , Email , and CustomFields for each subscriber."
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The member tag you can use to filter members by when working with an email list."
                  },
                  "preferences": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The member preferences you can user to segment or filter members by, when working with an email list."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "removedOn": {
                            "type": "string"
                          },
                          "subscribeMethod": {
                            "type": "number"
                          },
                          "subscribeType": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "unsubscribedFromID": {
                            "type": "string"
                          },
                          "unsubscribedOn": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/add-new-subscriber": {
      "post": {
        "operationId": "moosend.add-new-subscriber",
        "summary": "Add New Subscriber",
        "description": "Creates a new subscriber in Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/add-new-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mailingListId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mailingListId": {
                    "type": "string",
                    "description": "The ID of the email list where you want to add a new subscriber."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the new subscriber."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address of the new subscriber."
                  },
                  "hasExternalDoubleOptIn": {
                    "type": "boolean",
                    "description": "When true , it flags the added subscriber as having given subscription consent by other means."
                  },
                  "customFields": {
                    "type": "string",
                    "description": "A list of name-value pairs that match the subscriber’s custom fields defined in the email list. (for example, Name or Country ).  When updating an existing member, any custom fields that are not included in the request will have their values cleared. To preserve existing data, include values for all custom fields associated with the list."
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The member tag you can use to filter members by when working with an email list."
                  },
                  "preferences": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The member preferences you can use to segment or filter members by, when working with an email list."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "removedOn": {
                            "type": "string"
                          },
                          "subscribeMethod": {
                            "type": "number"
                          },
                          "subscribeType": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "unsubscribedFromID": {
                            "type": "string"
                          },
                          "unsubscribedOn": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/add-segment-criteria": {
      "put": {
        "operationId": "moosend.add-segment-criteria",
        "summary": "Add Segment Criteria",
        "description": "Adds criteria to a segment in Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/add-segment-criteria"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mailingListId",
                  "segmentId",
                  "field"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mailingListId": {
                    "type": "string",
                    "description": "The ID of the email list that contains the segment."
                  },
                  "segmentId": {
                    "type": "string",
                    "description": "The ID of the segment."
                  },
                  "field": {
                    "type": "string",
                    "description": "The criterion used to filter the email list. See Field values ."
                  },
                  "comparer": {
                    "type": "string",
                    "description": "The operator that defines how to compare a Field with its Value . See Comparer values ."
                  },
                  "value": {
                    "type": "string",
                    "description": "The search term used to filter the specified Field ."
                  },
                  "lastXMinutes": {
                    "type": "number",
                    "description": "Constrains the results by the time that has elapsed."
                  },
                  "dateFrom": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Constrains the results by a date span."
                  },
                  "dateTo": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Constrains the results by a date span."
                  },
                  "dateFunction": {
                    "type": "string",
                    "description": "The value used with custom fields of dateTime data type. See DateFunction values."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/create-custom-field": {
      "post": {
        "operationId": "moosend.create-custom-field",
        "summary": "Create Custom Field",
        "description": "Creates a new custom field in Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/create-custom-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mailingListId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mailingListId": {
                    "type": "string",
                    "description": "The ID of the email list where the custom field is created."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the custom field."
                  },
                  "customFieldType": {
                    "type": "string",
                    "description": "Specifies the data type of the custom field. This must be one of the following values. Text (Default) - accepts any text value as input. Number - accepts only numeric values as input. DateTime - accepts only date values as input, with or without time. SingleSelectDropdown - accepts only values explicitly defined in a list. CheckBox - accepts only values of true or false."
                  },
                  "options": {
                    "type": "string",
                    "description": "If you want to create a SingleSelectDropdown custom field, you must set this parameter to specify the available options for the user to choose from. Use a comma (,) to separate different options."
                  },
                  "isRequired": {
                    "type": "boolean",
                    "description": "Specifies whether the custom field is mandatory or not when adding a subscriber to your list. You must specify a value of true or false (Default)."
                  },
                  "isHidden": {
                    "type": "boolean",
                    "description": "Specifies whether the custom field is visible to your subscribers in the Update Profile page. You must specify a value of true or false (Default)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/create-draft-campaign": {
      "post": {
        "operationId": "moosend.create-draft-campaign",
        "summary": "Create Draft Campaign",
        "description": "Creates a draft campaign in Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/create-draft-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "subject",
                  "senderEmail",
                  "replyToEmail",
                  "isAb",
                  "abCampaignType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the campaign."
                  },
                  "campaignType": {
                    "type": "string",
                    "description": "You can set the campaign type to \"Regular\" or \"Transactional\"."
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject line of the campaign."
                  },
                  "senderEmail": {
                    "type": "string",
                    "description": "The email address of the campaign sender."
                  },
                  "replyToEmail": {
                    "type": "string",
                    "description": "The email address selected to receive replies from the campaign. This must be one of your campaign senders. If not specified, the SenderEmail is assumed."
                  },
                  "confirmationToEmail": {
                    "type": "string",
                    "description": "The email address used to send a confirmation message when the campaign has been successfully sent. This can be any valid email address. If not specified, the SenderEmail is assumed."
                  },
                  "htmlContent": {
                    "type": "string",
                    "description": "The complete HTML body of the campaign. You can use this parameter instead of using the WebLocation parameter."
                  },
                  "webLocation": {
                    "type": "string",
                    "description": "The URL used to retrieve the HTML content of the campaign. Moosend automatically moves all CSS inline."
                  },
                  "mailingLists": {
                    "type": "string",
                    "description": "A list of email lists in your account that is used to send the campaign."
                  },
                  "segmentId": {
                    "type": "string",
                    "description": "The ID of a segment in the selected email list. If not specified, the campaign is sent to all active subscribers of the email list."
                  },
                  "isAb": {
                    "type": "boolean",
                    "description": "A flag that defines if a campaign is an A/B split campaign. If true , you must fill out A/B split campaign parameters ."
                  },
                  "trackInGoogleAnalytics": {
                    "type": "boolean",
                    "description": "Specifies if tracking is enabled for the campaign. You must have Google Analytics configured on your site to use this feature."
                  },
                  "abCampaignType": {
                    "type": "string",
                    "description": "Specify the type of test to be performed in the AB split campaign to determine the winning version: Subjectline - test two different versions of the subject line. Content - test two different versions of the campaign content. Sender - test two different versions of the campaign sender."
                  },
                  "subjectB": {
                    "type": "string",
                    "description": "If testing A/B split campaigns with two subject line versions, this is the second subject version of the subject."
                  },
                  "htmlContentB": {
                    "type": "string",
                    "description": "If testing A/B split campaigns with two HTML content versions, this is the complete HTML body of the second version."
                  },
                  "webLocationB": {
                    "type": "string",
                    "description": "If testing A/B split campaigns with two HTML content versions, this is the web location of the second HTML content version."
                  },
                  "senderEmailB": {
                    "type": "string",
                    "description": "If testing A/B split campaigns with two sender versions, this is the email address of the second campaign sender. This must be one of the senders defined in your account."
                  },
                  "hoursToTest": {
                    "type": "number",
                    "description": "Specify how long the test runs, before determining the winning campaign version to be sent to the rest of the recipients. This must be an integer between 1 and 24."
                  },
                  "listPercentage": {
                    "type": "number",
                    "description": "Specifies a portion of the target recipients to get the test campaign versions. For example, if you specify 10, then 10% of your recipients receive campaign A and another 10% receive the campaign B version. This must be an integer between 5 and 40."
                  },
                  "abWinnerSelectionType": {
                    "type": "string",
                    "description": "Specifies the method to determine the winning version for the test. If not set, OpenRate is assumed. OpenRate - determine the winner based on the version that achieved more opens. TotalUniqueClicks - determine the winner based on the version that achieved more unique link clicks."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/create-mailing-list": {
      "post": {
        "operationId": "moosend.create-mailing-list",
        "summary": "Create Mailing List",
        "description": "Creates a new mailing list in Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/create-mailing-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "preferences"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the email list."
                  },
                  "confirmationPage": {
                    "type": "string",
                    "description": "The URL of the page displayed at the end of the subscription process."
                  },
                  "redirectAfterUnsubscribePage": {
                    "type": "string",
                    "description": "The URL of the redirect page when users unsubscribe from your email list."
                  },
                  "preferences": {
                    "type": "string",
                    "description": "The Preferences field options. SelectType The data type of the field. Possible values can be SingleSelect or MultiSelect . Required field. Options Max options 10 IsRequired If the field is required. Default value false ."
                  },
                  "preferencePageId": {
                    "type": "string",
                    "description": "The preference page id."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/create-segment": {
      "post": {
        "operationId": "moosend.create-segment",
        "summary": "Create Segment",
        "description": "Creates a new empty segment in Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/create-segment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mailingListId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mailingListId": {
                    "type": "string",
                    "description": "The ID of the email list where the segment is created."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the segment."
                  },
                  "matchType": {
                    "type": "string",
                    "description": "Specifies how subscribers are returned by your segment based on matching criteria: All (Default) - returns subscribers that match all the given criteria. Any - returns subscribers that match any of the given criteria."
                  },
                  "fetchType": {
                    "type": "string",
                    "description": "Specifies how many criteria-matching subscribers are contained in your segment: All - returns all criteria matching subscribers. Top - returns only a maximum number of subscribers defined in  FetchValue . TopPercent - returns only a percentage of subscribers defined in  FetchValue ."
                  },
                  "fetchValue": {
                    "type": "number",
                    "description": "Specifies the maximum number for FetchType:Top or percentage for FetchType:TopPercent of members to be contained in the created segment. If not specified, 0 is assumed."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/delete-mailing-list": {
      "delete": {
        "operationId": "moosend.delete-mailing-list",
        "summary": "Delete Mailing List",
        "description": "Deletes an existing mailing list from Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/delete-mailing-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mailingListId",
            "in": "query",
            "required": true,
            "description": "The ID of the email list to be deleted.",
            "schema": {
              "type": "string",
              "description": "The ID of the email list to be deleted."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/delete-segment": {
      "delete": {
        "operationId": "moosend.delete-segment",
        "summary": "Delete Segment",
        "description": "Deletes an existing segment from Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/delete-segment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mailingListId",
            "in": "query",
            "required": true,
            "description": "The ID of the email list that contains the segment.",
            "schema": {
              "type": "string",
              "description": "The ID of the email list that contains the segment."
            }
          },
          {
            "name": "segmentId",
            "in": "query",
            "required": true,
            "description": "The ID of the segment to be deleted.",
            "schema": {
              "type": "string",
              "description": "The ID of the segment to be deleted."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/get-campaign-details": {
      "get": {
        "operationId": "moosend.get-campaign-details",
        "summary": "Get Campaign Details",
        "description": "Retrieves campaign details from Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/get-campaign-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign that contains the details you are requesting.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign that contains the details you are requesting."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abCampaignData": {
                            "type": "string"
                          },
                          "confirmationTo": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliveredOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "formatType": {
                            "type": "number"
                          },
                          "htmlContent": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isTransactional": {
                            "type": "boolean"
                          },
                          "mailingLists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "plainContent": {
                            "type": "string"
                          },
                          "replyToEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduledFor": {
                            "type": "string"
                          },
                          "sender": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "webLocation": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/get-campaign-link-activity": {
      "get": {
        "operationId": "moosend.get-campaign-link-activity",
        "summary": "Get Campaign Link Activity",
        "description": "Retrieves campaign link activity from Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/get-campaign-link-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign that you want to get link activity by location of.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign that you want to get link activity by location of."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "context": {
                            "type": "string"
                          },
                          "contextDescription": {
                            "type": "string"
                          },
                          "contextName": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "totalCount": {
                            "type": "number"
                          },
                          "uniqueCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/get-campaign-statistics": {
      "get": {
        "operationId": "moosend.get-campaign-statistics",
        "summary": "Get Campaign Statistics",
        "description": "Retrieves campaign statistics from Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/get-campaign-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign that you are fetching statistics for.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign that you are fetching statistics for."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "The type of activity used to get information and display statistics. Possible values are: Sent - when and to which recipients the campaign was sent. Opened - who opened the campaign. LinkClicked - who clicked on which links in the campaign. Unsubscribed - who unsubscribed from the campaign by clicking the unsubscribe link and when. Bounced - which email recipients failed to receive the campaign. If not specified, Sent value is used by default. Complained - which email recipients reported your campaign as spam through their email service. Activity - all types of activities for the campaign.",
            "schema": {
              "type": "string",
              "description": "The type of activity used to get information and display statistics. Possible values are: Sent - when and to which recipients the campaign was sent. Opened - who opened the campaign. LinkClicked - who clicked on which links in the campaign. Unsubscribed - who unsubscribed from the campaign by clicking the unsubscribe link and when. Bounced - which email recipients failed to receive the campaign. If not specified, Sent value is used by default. Complained - which email recipients reported your campaign as spam through their email service. Activity - all types of activities for the campaign."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "The specific year, month, and day the activity occurred. The date has a YYYY/MM/DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The specific year, month, and day the activity occurred. The date has a YYYY/MM/DD format."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "context": {
                            "type": "string"
                          },
                          "contextDescription": {
                            "type": "string"
                          },
                          "contextName": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "totalCount": {
                            "type": "number"
                          },
                          "uniqueCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moosend/latest/actions/get-campaign-summary": {
      "get": {
        "operationId": "moosend.get-campaign-summary",
        "summary": "Get Campaign Summary",
        "description": "Retrieves campaign summary from Moosend.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moosend/latest/actions/get-campaign-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign that you want to get a summary of.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign that you want to get a summary of."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abVersion": {
                            "type": "string"
                          },
                          "campaignDeliveredOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "campaignID": {
                            "type": "string"
                          },
                          "campaignIsArchived": {
                            "type": "boolean"
                          },
                          "campaignName": {
                            "type": "string"
                          },
                          "campaignSubject": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "mailingLists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sent": {
                            "type": "number"
                          },
                          "to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "totalBounces": {
                            "type": "number"
                          },
                          "totalComplaints": {
                            "type": "number"
                          },
                          "totalForwards": {
                            "type": "number"
                          },
                          "totalLinkClicks": {
                            "type": "number"
                          },
                          "totalOpens": {
                            "type": "number"
                          },
                          "totalUnsubscribes": {
                            "type": "number"
                          },
                          "uniqueForwards": {
                            "type": "number"
                          },
                          "uniqueLinkClicks": {
                            "type": "number"
                          },
                          "uniqueOpens": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
[...]
