{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Digital Samba Universal API",
    "version": "0.0.2",
    "description": "Digital Samba Embedded provides video conferencing rooms, sessions, participants, recordings, roles, libraries, live usage, statistics, and webhooks through REST APIs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/digitalSamba/latest/actions/archive-recording": {
      "put": {
        "operationId": "digitalSamba.archive-recording",
        "summary": "Archive recording",
        "description": "Updates a recording to archived in Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/archive-recording"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "recording"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "recording": {
                    "type": "string",
                    "description": "Recording path parameter."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/create-a-new-role": {
      "post": {
        "operationId": "digitalSamba.create-a-new-role",
        "summary": "Create a new role",
        "description": "Creates a new role in Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/create-a-new-role"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "displayName",
                  "permissions"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON request body documented for this endpoint.",
                    "x-mindcloud-advanced": true
                  },
                  "name": {
                    "type": "string",
                    "description": "Must contain only letters, numbers, dashes and underscores. Must not be greater than 30 characters.\nMust be unique."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Must be at least 3 characters. Must not be greater than 100 characters."
                  },
                  "description": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "permissions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Must be an array of permissions."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "default": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "permissions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/create-a-new-room": {
      "post": {
        "operationId": "digitalSamba.create-a-new-room",
        "summary": "Create a new room",
        "description": "Creates a new room in Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/create-a-new-room"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "privacy",
                  "roles[]",
                  "privateGroupChatRoles[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON request body documented for this endpoint.",
                    "x-mindcloud-advanced": true
                  },
                  "privacy": {
                    "type": "string",
                    "description": "Public rooms can be joined using a room link. Private rooms require the room link to include a valid token. Must be in ['public', 'private']."
                  },
                  "roles[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Select a subset of roles for this room. The order in which they’re added will be the order in which they appear in the Participants panel. Must be an array of role IDs or names."
                  },
                  "privateGroupChatRoles[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Must be an array of role IDs or names."
                  },
                  "description": {
                    "type": "string",
                    "description": "Must be at least 3 characters. Must not be greater than 500 characters.",
                    "x-mindcloud-advanced": true
                  },
                  "friendlyUrl": {
                    "type": "string",
                    "description": "Must be unique. Must be at least 3 characters. Must not be greater than 32 characters.",
                    "x-mindcloud-advanced": true
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Assign the room with an ID for integration on your side.",
                    "x-mindcloud-advanced": true
                  },
                  "defaultRole": {
                    "type": "string",
                    "description": "Select a role to be assigned to participants who join with no token (shared link to public room) or with a token without a role. Role ID or name.",
                    "x-mindcloud-advanced": true
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Must be an array of room tags.",
                    "x-mindcloud-advanced": true
                  },
                  "isLocked": {
                    "type": "boolean",
                    "description": "Locked rooms require acceptance to join. Single-role rooms cannot be locked on join.",
                    "x-mindcloud-advanced": true
                  },
                  "topbarEnabled": {
                    "type": "boolean",
                    "description": "Set the room with or without a top bar.",
                    "x-mindcloud-advanced": true
                  },
                  "toolbarEnabled": {
                    "type": "boolean",
                    "description": "Set the room with or without a toolbar.",
                    "x-mindcloud-advanced": true
                  },
                  "toolbarPosition": {
                    "type": "string",
                    "description": "Choose your desired position for the toolbar for desktop devices. Must be one of left, right or bottom.",
                    "x-mindcloud-advanced": true
                  },
                  "toolbarColor": {
                    "type": "string",
                    "description": "Select a background colour for the toolbar in this room. Must be color hex code.",
                    "x-mindcloud-advanced": true
                  },
                  "primaryColor": {
                    "type": "string",
                    "description": "Select a colour for buttons and other interactive elements in this room. Must be color hex code.",
                    "x-mindcloud-advanced": true
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Select a colour for the background in this room. Must be color hex code.",
                    "x-mindcloud-advanced": true
                  },
                  "paletteMode": {
                    "type": "string",
                    "description": "Palette mode (Appearance) will control the background colour of panels, modals and join screen. Must be one of light or dark.",
                    "x-mindcloud-advanced": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Select a default language for the room’s UI. Must be one of ar-SA, en, es-ES, de-DE, it-IT, nl-NL, pt-PT, ro-RO, zh-CN or zh-TW.",
                    "x-mindcloud-advanced": true
                  },
                  "audioOnJoinEnabled": {
                    "type": "boolean",
                    "description": "When disabled, users will join the session with muted microphones.",
                    "x-mindcloud-advanced": true
                  },
                  "videoOnJoinEnabled": {
                    "type": "boolean",
                    "description": "When disabled, users will join the session with turned-off cameras.",
                    "x-mindcloud-advanced": true
                  },
                  "screenshareEnabled": {
                    "type": "boolean",
                    "description": "Allow your participants to share their screen. Mobile users will not be able to share their screen.",
                    "x-mindcloud-advanced": true
                  },
                  "participantsListEnabled": {
                    "type": "boolean",
                    "description": "When enabled, your participants will have access to the Participants panel.",
                    "x-mindcloud-advanced": true
                  },
                  "recordingsEnabled": {
                    "type": "boolean",
                    "description": "Allow participants to record sessions.",
                    "x-mindcloud-advanced": true
                  },
                  "logoEnabled": {
                    "type": "boolean",
                    "description": "When enabled, the logo will be shown in this room.",
                    "x-mindcloud-advanced": true
                  },
                  "virtualBackgroundsEnabled": {
                    "type": "boolean",
                    "description": "When enabled, participants on desktop devices will be able to appear on virtual backgrounds.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioOnJoinEnabled": {
                            "type": "boolean"
                          },
                          "backgroundColor": {
                            "type": "string"
                          },
                          "customLogo": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "friendlyUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "languageSelectionEnabled": {
                            "type": "boolean"
                          },
                          "logoEnabled": {
                            "type": "boolean"
                          },
                          "maxBroadcasters": {
                            "type": "number"
                          },
                          "maxParticipants": {
                            "type": "number"
                          },
                          "paletteMode": {
                            "type": "string"
                          },
                          "participantsListEnabled": {
                            "type": "boolean"
                          },
                          "primaryColor": {
                            "type": "string"
                          },
                          "privacy": {
                            "type": "string"
                          },
                          "recordingLogoEnabled": {
                            "type": "boolean"
                          },
                          "recordingsEnabled": {
                            "type": "boolean"
                          },
                          "screenshareEnabled": {
                            "type": "boolean"
                          },
                          "toolbarColor": {
                            "type": "string"
                          },
                          "toolbarEnabled": {
                            "type": "boolean"
                          },
                          "toolbarPosition": {
                            "type": "string"
                          },
                          "topbarEnabled": {
                            "type": "boolean"
                          },
                          "videoOnJoinEnabled": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/create-a-question-in-the-room": {
      "post": {
        "operationId": "digitalSamba.create-a-question-in-the-room",
        "summary": "Create a question in the room",
        "description": "Creates a room question in Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/create-a-question-in-the-room"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "room",
                  "participant",
                  "question"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "room": {
                    "type": "string",
                    "description": "Room path parameter."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON request body documented for this endpoint.",
                    "x-mindcloud-advanced": true
                  },
                  "participant": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Participant: either { \"name\", \"external_id\" } or { \"id\" } (uuid of existing participant)."
                  },
                  "question": {
                    "type": "string",
                    "description": "The question text."
                  },
                  "anonymous": {
                    "type": "boolean",
                    "description": "Whether to show as anonymous.",
                    "x-mindcloud-advanced": true
                  },
                  "breakoutId": {
                    "type": "string",
                    "description": "Must be a valid UUID.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/create-room-token": {
      "post": {
        "operationId": "digitalSamba.create-room-token",
        "summary": "Create room token",
        "description": "Creates a room access token in Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/create-room-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "room"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "room": {
                    "type": "string",
                    "description": "Room path parameter."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON request body documented for this endpoint.",
                    "x-mindcloud-advanced": true
                  },
                  "ud": {
                    "type": "string",
                    "description": "External user identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "u": {
                    "type": "string",
                    "description": "User name.",
                    "x-mindcloud-advanced": true
                  },
                  "initials": {
                    "type": "string",
                    "description": "Custom initials for user tiles.",
                    "x-mindcloud-advanced": true
                  },
                  "role": {
                    "type": "string",
                    "description": "Role ID or name.",
                    "x-mindcloud-advanced": true
                  },
                  "breakoutId": {
                    "type": "string",
                    "description": "Breakout room id.",
                    "x-mindcloud-advanced": true
                  },
                  "avatar": {
                    "type": "string",
                    "description": "The url of the user’s avatar image.",
                    "x-mindcloud-advanced": true
                  },
                  "nbf": {
                    "type": "number",
                    "description": "Not before. Unix timestamp before which token is not valid. You can also use a string date time.",
                    "x-mindcloud-advanced": true
                  },
                  "exp": {
                    "type": "number",
                    "description": "Token expiration. Unix timestamp after which token is not valid. You can also use number of minutes until token expiration, or a string date time.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/delete-room": {
      "delete": {
        "operationId": "digitalSamba.delete-room",
        "summary": "Delete room",
        "description": "Deletes an existing room from Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/delete-room"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room",
            "in": "query",
            "required": true,
            "description": "Room path parameter.",
            "schema": {
              "type": "string",
              "description": "Room path parameter."
            }
          },
          {
            "name": "body",
            "in": "query",
            "required": false,
            "description": "JSON request body documented for this endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "JSON request body documented for this endpoint.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "deleteResources",
            "in": "query",
            "required": false,
            "description": "If `true`, permanently deletes all session content for this room. Defaults to `false`.",
            "schema": {
              "type": "boolean",
              "description": "If `true`, permanently deletes all session content for this room. Defaults to `false`.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "deleteHistory",
            "in": "query",
            "required": false,
            "description": "If `true`, anonymises PII for all archived participants of this room. Defaults to `false`.",
            "schema": {
              "type": "boolean",
              "description": "If `true`, anonymises PII for all archived participants of this room. Defaults to `false`.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "deleteLibrary",
            "in": "query",
            "required": false,
            "description": "If `true`, deletes the room's content library. Defaults to `false`.",
            "schema": {
              "type": "boolean",
              "description": "If `true`, deletes the room's content library. Defaults to `false`.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/download-the-specified-recording": {
      "get": {
        "operationId": "digitalSamba.download-the-specified-recording",
        "summary": "Download the specified recording",
        "description": "Retrieves a recording download from Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/download-the-specified-recording"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recording",
            "in": "query",
            "required": true,
            "description": "Recording path parameter.",
            "schema": {
              "type": "string",
              "description": "Recording path parameter."
            }
          },
          {
            "name": "validForMinutes",
            "in": "query",
            "required": false,
            "description": "Link expiration time in minutes.",
            "schema": {
              "type": "number",
              "description": "Link expiration time in minutes.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string"
                          },
                          "validUntil": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/get-all-participants": {
      "get": {
        "operationId": "digitalSamba.get-all-participants",
        "summary": "Get all participants",
        "description": "Retrieves participants from Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/get-all-participants"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "required": false,
            "description": "Period start date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period start date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "required": false,
            "description": "Period end date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period end date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The UUID of the room or room friendly URL after which records will be returned.",
            "schema": {
              "type": "string",
              "description": "The UUID of the room or room friendly URL after which records will be returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "description": "Flag to filter live or archive sessions.",
            "schema": {
              "type": "boolean",
              "description": "Flag to filter live or archive sessions.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "roomId",
            "in": "query",
            "required": false,
            "description": "The UUID of the room to filter session by specific room.",
            "schema": {
              "type": "string",
              "description": "The UUID of the room to filter session by specific room.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "description": "The UUID of the session to filter participants by specific session.",
            "schema": {
              "type": "string",
              "description": "The UUID of the session to filter participants by specific session.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string"
                          },
                          "friendlyUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "joinTime": {
                            "type": "string"
                          },
                          "leaveTime": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "roomExternalId": {
                            "type": "string"
                          },
                          "roomId": {
                            "type": "string"
                          },
                          "roomIsDeleted": {
                            "type": "boolean"
                          },
                          "sessionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/get-all-room-participants": {
      "get": {
        "operationId": "digitalSamba.get-all-room-participants",
        "summary": "Get all room participants",
        "description": "Retrieves room participants from Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/get-all-room-participants"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room",
            "in": "query",
            "required": true,
            "description": "Room path parameter.",
            "schema": {
              "type": "string",
              "description": "Room path parameter."
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "required": false,
            "description": "Period start date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period start date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "required": false,
            "description": "Period end date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period end date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The UUID of the room or room friendly URL after which records will be returned.",
            "schema": {
              "type": "string",
              "description": "The UUID of the room or room friendly URL after which records will be returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "description": "Flag to filter live or archive sessions.",
            "schema": {
              "type": "boolean",
              "description": "Flag to filter live or archive sessions.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "description": "The UUID of the session to filter participants by specific session.",
            "schema": {
              "type": "string",
              "description": "The UUID of the session to filter participants by specific session.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string"
                          },
                          "friendlyUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "joinTime": {
                            "type": "string"
                          },
                          "leaveTime": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "roomExternalId": {
                            "type": "string"
                          },
                          "roomId": {
                            "type": "string"
                          },
                          "roomIsDeleted": {
                            "type": "boolean"
                          },
                          "sessionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/get-all-room-sessions": {
      "get": {
        "operationId": "digitalSamba.get-all-room-sessions",
        "summary": "Get all room sessions",
        "description": "Retrieves room sessions from Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/get-all-room-sessions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room",
            "in": "query",
            "required": true,
            "description": "Room path parameter.",
            "schema": {
              "type": "string",
              "description": "Room path parameter."
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "required": false,
            "description": "Period start date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period start date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "required": false,
            "description": "Period end date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period end date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The UUID of the room or room friendly URL after which records will be returned.",
            "schema": {
              "type": "string",
              "description": "The UUID of the room or room friendly URL after which records will be returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "description": "Flag to filter live or archive sessions.",
            "schema": {
              "type": "boolean",
              "description": "Flag to filter live or archive sessions.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "endTime": {
                            "type": "string"
                          },
                          "friendlyUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "participantsLive": {
                            "type": "number"
                          },
                          "participantsMax": {
                            "type": "number"
                          },
                          "participantsTotal": {
                            "type": "number"
                          },
                          "roomExternalId": {
                            "type": "string"
                          },
                          "roomId": {
                            "type": "string"
                          },
                          "roomIsDeleted": {
                            "type": "boolean"
                          },
                          "startTime": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/get-all-session-participants": {
      "get": {
        "operationId": "digitalSamba.get-all-session-participants",
        "summary": "Get all session participants",
        "description": "Retrieves session participants from Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/get-all-session-participants"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": true,
            "description": "Session path parameter.",
            "schema": {
              "type": "string",
              "description": "Session path parameter."
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "required": false,
            "description": "Period start date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period start date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "required": false,
            "description": "Period end date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period end date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The UUID of the room or room friendly URL after which records will be returned.",
            "schema": {
              "type": "string",
              "description": "The UUID of the room or room friendly URL after which records will be returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "description": "Flag to filter live or archive sessions.",
            "schema": {
              "type": "boolean",
              "description": "Flag to filter live or archive sessions.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string"
                          },
                          "friendlyUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "joinTime": {
                            "type": "string"
                          },
                          "leaveTime": {
                            "type": "string"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "roomExternalId": {
                            "type": "string"
                          },
                          "roomId": {
                            "type": "string"
                          },
                          "roomIsDeleted": {
                            "type": "boolean"
                          },
                          "sessionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digitalSamba/latest/actions/get-all-sessions": {
      "get": {
        "operationId": "digitalSamba.get-all-sessions",
        "summary": "Get all sessions",
        "description": "Retrieves sessions from Digital Samba.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digitalSamba/latest/actions/get-all-sessions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "required": false,
            "description": "Period start date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period start date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "required": false,
            "description": "Period end date. Must be a valid date in the format Y-m-d.",
            "schema": {
              "type": "string",
              "description": "Period end date. Must be a valid date in the format Y-m-d.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The UUID of the room or room friendly URL after which records will be returned.",
            "schema": {
              "type": "string",
              "description": "The UUID of the room or room friendly URL after which records will be returned.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "description": "Flag to filter live or archive sessions.",
            "schema": {
              "type": "boolean",
              "description": "Flag to filter live or archive sessions.",
              "x-mindcloud-advanced": true
            }
          },
          {
[...]
