{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PiAPI/FaceSwap Universal API",
    "version": "0.0.2",
    "description": "Create image, multi-face, and video face-swap tasks on PiAPI and track PiAPI task status through the provider's unified task and account endpoints."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/piAPIFaceSwap/latest/actions/get-account-info": {
      "get": {
        "operationId": "piAPIFaceSwap.get-account-info",
        "summary": "Get Account Info",
        "description": "Retrieves account details from PiAPI/FaceSwap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest/actions/get-account-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "PiAPI account information payload.",
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "PiAPI account identifier."
                              },
                              "max_concurrent_task_count": {
                                "type": "number",
                                "description": "Maximum concurrent task count."
                              },
                              "name": {
                                "type": "string",
                                "description": "PiAPI account name or email."
                              },
                              "plan": {
                                "type": "string",
                                "description": "Current PiAPI plan."
                              },
                              "platform": {
                                "type": "string",
                                "description": "Provider platform name."
                              },
                              "type": {
                                "type": "string",
                                "description": "Account billing type."
                              },
                              "wallet": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Wallet and balance information."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "PiAPI response message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFaceSwap/latest/actions/get-task": {
      "get": {
        "operationId": "piAPIFaceSwap.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from PiAPI/FaceSwap by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The PiAPI task identifier to retrieve.",
            "schema": {
              "type": "string",
              "description": "The PiAPI task identifier to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Unified PiAPI task response payload.",
                            "properties": {
                              "config": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task configuration payload."
                              },
                              "detail": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Provider task detail payload when present."
                              },
                              "error": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Provider error payload.",
                                "properties": {
                                  "code": {
                                    "type": "number",
                                    "description": "Provider error code."
                                  },
                                  "detail": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Provider error detail payload when present."
                                  },
                                  "message": {
                                    "type": "string",
                                    "description": "Provider error message."
                                  },
                                  "raw_message": {
                                    "type": "string",
                                    "description": "Raw provider error message."
                                  }
                                }
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task input payload."
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Provider task logs."
                              },
                              "meta": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task metadata payload."
                              },
                              "model": {
                                "type": "string",
                                "description": "PiAPI model name."
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task output payload when available."
                              },
                              "status": {
                                "type": "string",
                                "description": "Current task status."
                              },
                              "task_id": {
                                "type": "string",
                                "description": "PiAPI task identifier."
                              },
                              "task_type": {
                                "type": "string",
                                "description": "PiAPI task type."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "PiAPI response message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFaceSwap/latest/actions/image-faceswap": {
      "post": {
        "operationId": "piAPIFaceSwap.image-faceswap",
        "summary": "Image Faceswap",
        "description": "Creates an image faceswap task in PiAPI/FaceSwap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest/actions/image-faceswap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.targetImage",
                  "input.swapImage"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.targetImage": {
                    "type": "string",
                    "description": "URL or base64 image that will receive the swapped face."
                  },
                  "input.swapImage": {
                    "type": "string",
                    "description": "URL or base64 image that provides the face to swap in."
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "description": "Optional webhook URL for task status notifications.",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "description": "Optional webhook secret returned as x-webhook-secret.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Unified PiAPI task response payload.",
                            "properties": {
                              "config": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task configuration payload."
                              },
                              "detail": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Provider task detail payload when present."
                              },
                              "error": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Provider error payload.",
                                "properties": {
                                  "code": {
                                    "type": "number",
                                    "description": "Provider error code."
                                  },
                                  "detail": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Provider error detail payload when present."
                                  },
                                  "message": {
                                    "type": "string",
                                    "description": "Provider error message."
                                  },
                                  "raw_message": {
                                    "type": "string",
                                    "description": "Raw provider error message."
                                  }
                                }
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task input payload."
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Provider task logs."
                              },
                              "meta": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task metadata payload."
                              },
                              "model": {
                                "type": "string",
                                "description": "PiAPI model name."
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task output payload when available."
                              },
                              "status": {
                                "type": "string",
                                "description": "Initial task status."
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Created PiAPI task identifier."
                              },
                              "task_type": {
                                "type": "string",
                                "description": "PiAPI task type."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "PiAPI response message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFaceSwap/latest/actions/list-active-tasks": {
      "get": {
        "operationId": "piAPIFaceSwap.list-active-tasks",
        "summary": "List Active Tasks",
        "description": "Retrieves active task counts from PiAPI/FaceSwap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest/actions/list-active-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Active task counts grouped by provider family.",
                            "properties": {
                              "flux": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Active Flux task counters."
                              },
                              "kling": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Active Kling task counters."
                              },
                              "luma": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Active Luma task counters."
                              },
                              "midjourney": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Active Midjourney task counters."
                              },
                              "music-s": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Active music-s task counters."
                              },
                              "music-u": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Active music-u task counters."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "PiAPI response message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFaceSwap/latest/actions/list-user-task-history": {
      "get": {
        "operationId": "piAPIFaceSwap.list-user-task-history",
        "summary": "List User Task History",
        "description": "Retrieves user task history from PiAPI/FaceSwap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest/actions/list-user-task-history"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "History page number, starting from 1.",
            "schema": {
              "type": "number",
              "description": "History page number, starting from 1.",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of history records per page, max 100.",
            "schema": {
              "type": "number",
              "description": "Number of history records per page, max 100.",
              "default": 10
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Optional PiAPI model filter such as image_toolkit or video_toolkit.",
            "schema": {
              "type": "string",
              "description": "Optional PiAPI model filter such as image_toolkit or video_toolkit."
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Unix timestamp in seconds for the earliest history entry to include.",
            "schema": {
              "type": "number",
              "description": "Unix timestamp in seconds for the earliest history entry to include.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Unix timestamp in seconds for the latest history entry to include.",
            "schema": {
              "type": "number",
              "description": "Unix timestamp in seconds for the latest history entry to include.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Paginated task history envelope.",
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Task history rows for the requested page."
                              },
                              "page": {
                                "type": "number",
                                "description": "Current result page."
                              },
                              "size": {
                                "type": "number",
                                "description": "Number of results returned in this page."
                              },
                              "total": {
                                "type": "number",
                                "description": "Total matching task history records."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "PiAPI response message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFaceSwap/latest/actions/multi-faceswap": {
      "post": {
        "operationId": "piAPIFaceSwap.multi-faceswap",
        "summary": "Multi Faceswap",
        "description": "Creates a multi-face faceswap task in PiAPI/FaceSwap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest/actions/multi-faceswap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.swapImage",
                  "input.targetImage"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.swapImage": {
                    "type": "string",
                    "description": "URL or base64 image containing the source faces."
                  },
                  "input.targetImage": {
                    "type": "string",
                    "description": "URL or base64 image containing the faces to replace."
                  },
                  "input.swapFacesIndex": {
                    "type": "string",
                    "description": "Comma-separated source face indexes in PiAPI's detected order."
                  },
                  "input.targetFacesIndex": {
                    "type": "string",
                    "description": "Comma-separated target face indexes in PiAPI's detected order."
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "description": "Optional webhook URL for task status notifications.",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "description": "Optional webhook secret returned as x-webhook-secret.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Unified PiAPI task response payload.",
                            "properties": {
                              "config": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task configuration payload."
                              },
                              "detail": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Provider task detail payload when present."
                              },
                              "error": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Provider error payload.",
                                "properties": {
                                  "code": {
                                    "type": "number",
                                    "description": "Provider error code."
                                  },
                                  "detail": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Provider error detail payload when present."
                                  },
                                  "message": {
                                    "type": "string",
                                    "description": "Provider error message."
                                  },
                                  "raw_message": {
                                    "type": "string",
                                    "description": "Raw provider error message."
                                  }
                                }
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task input payload."
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Provider task logs."
                              },
                              "meta": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task metadata payload."
                              },
                              "model": {
                                "type": "string",
                                "description": "PiAPI model name."
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task output payload when available."
                              },
                              "status": {
                                "type": "string",
                                "description": "Initial task status."
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Created PiAPI task identifier."
                              },
                              "task_type": {
                                "type": "string",
                                "description": "PiAPI task type."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "PiAPI response message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFaceSwap/latest/actions/video-faceswap": {
      "post": {
        "operationId": "piAPIFaceSwap.video-faceswap",
        "summary": "Video Faceswap",
        "description": "Creates a video faceswap task in PiAPI/FaceSwap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFaceSwap/latest/actions/video-faceswap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.swapImage",
                  "input.targetVideo"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.swapImage": {
                    "type": "string",
                    "description": "URL or base64 image containing the replacement face or faces."
                  },
                  "input.targetVideo": {
                    "type": "string",
                    "description": "MP4 video URL to process."
                  },
                  "input.swapFacesIndex": {
                    "type": "string",
                    "description": "Optional source face indexes for multi-face video swaps.",
                    "x-mindcloud-advanced": true
                  },
                  "input.targetFacesIndex": {
                    "type": "string",
                    "description": "Optional target face indexes for multi-face video swaps.",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "description": "Optional webhook URL for task status notifications.",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "description": "Optional webhook secret returned as x-webhook-secret.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Unified PiAPI task response payload.",
                            "properties": {
                              "config": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task configuration payload."
                              },
                              "error": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Provider error payload.",
                                "properties": {
                                  "code": {
                                    "type": "number",
                                    "description": "Provider error code."
                                  },
                                  "detail": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Provider error detail payload when present."
                                  },
                                  "message": {
                                    "type": "string",
                                    "description": "Provider error message."
                                  },
                                  "raw_message": {
                                    "type": "string",
                                    "description": "Raw provider error message."
                                  }
                                }
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task input payload."
                              },
                              "meta": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Task metadata payload."
                              },
                              "model": {
                                "type": "string",
                                "description": "PiAPI model name."
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Task output payload when available.",
                                "properties": {
                                  "video_url": {
                                    "type": "string",
                                    "description": "Rendered video URL when available."
                                  }
                                }
                              },
                              "status": {
                                "type": "string",
                                "description": "Initial task status."
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Created PiAPI task identifier."
                              },
                              "task_type": {
                                "type": "string",
                                "description": "PiAPI task type."
                              }
                            }
                          },
                          "message": {
                            "type": "string",
                            "description": "PiAPI response message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
