{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zenoti Universal API",
    "version": "0.0.71",
    "description": "The AI First platform that helps your business grow"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zenoti/latest/actions/get-guest-details": {
      "get": {
        "operationId": "zenoti.get-guest-details",
        "summary": "Get Guest Details",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/get-guest-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalDetails": {
                            "type": "string"
                          },
                          "addressInfo": {
                            "type": "string"
                          },
                          "canEditPersonalInfo": {
                            "type": "boolean"
                          },
                          "centerId": {
                            "type": "string"
                          },
                          "centerName": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "depositApplicability": {
                            "type": "object",
                            "properties": {
                              "isDepositApplicable": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "guestMilestoneDetails": {
                            "type": "string"
                          },
                          "guestPasses": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isGuestCustomFormFilled": {
                            "type": "boolean"
                          },
                          "isOnlineBookingBlocked": {
                            "type": "boolean"
                          },
                          "isVirtualGuest": {
                            "type": "boolean"
                          },
                          "offlineId": {
                            "type": "string"
                          },
                          "personalInfo": {
                            "type": "object",
                            "properties": {
                              "anniversaryDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dobIncompleteYear": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "number"
                              },
                              "genderName": {
                                "type": "string"
                              },
                              "homePhone": {
                                "type": "string"
                              },
                              "isMinor": {
                                "type": "boolean"
                              },
                              "languageId": {
                                "type": "number"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "lockGuestCustomData": {
                                "type": "boolean"
                              },
                              "middleName": {
                                "type": "string"
                              },
                              "mobilePhone": {
                                "type": "object",
                                "properties": {
                                  "countryCode": {
                                    "type": "number"
                                  },
                                  "number": {
                                    "type": "string"
                                  },
                                  "phoneCode": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "nationalityId": {
                                "type": "number"
                              },
                              "pan": {
                                "type": "string"
                              },
                              "userName": {
                                "type": "string"
                              },
                              "workPhone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "preferences": {
                            "type": "string"
                          },
                          "preferredServiceId": {
                            "type": "string"
                          },
                          "primaryEmployee": {
                            "type": "string"
                          },
                          "referral": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "validateAdditionalDetails": {
                            "type": "boolean"
                          },
                          "validateAdditionalDetails2": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenoti/latest/actions/get-package-benefits-detail-report": {
      "get": {
        "operationId": "zenoti.get-package-benefits-detail-report",
        "summary": "Get Package Benefits Detail Report",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/get-package-benefits-detail-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "centers[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "centers[].center",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Don't set end date when the Date Type is \"Balance As On Date\"",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Don't set end date when the Date Type is \"Balance As On Date\""
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenoti/latest/actions/get-sales-accrual-report": {
      "get": {
        "operationId": "zenoti.get-sales-accrual-report",
        "summary": "Get Sales Accrual Report",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/get-sales-accrual-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "center_ids[].center",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceStatuses[].invoiceStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemTypes[].itemType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentTypes[].paymentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "saleTypes[].saleType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "center_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "itemTypes[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "paymentTypes[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "saleTypes[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "invoiceStatuses[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "includeTotal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenoti/latest/actions/list-appointments": {
      "get": {
        "operationId": "zenoti.list-appointments",
        "summary": "List Appointments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/list-appointments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "centerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Retrieves the appointments that have appointment start date before the specified end_date (exclusive of end_date). For example, if you specify start_date as 2020-08-03 and end_date as 2020-08-04, this API will retrieve the list of appointments for only Aug 3, 2020. Note: start_date and end_date must be different.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Retrieves the appointments that have appointment start date before the specified end_date (exclusive of end_date). For example, if you specify start_date as 2020-08-03 and end_date as 2020-08-04, this API will retrieve the list of appointments for only Aug 3, 2020. Note: start_date and end_date must be different."
            }
          },
          {
            "name": "includeNoShowsCancelled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "therapistId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "toggle"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualCompletedTime": {
                            "type": "string"
                          },
                          "actualStartTime": {
                            "type": "string"
                          },
                          "appCount": {
                            "type": "number"
                          },
                          "appointmentCategoryId": {
                            "type": "string"
                          },
                          "appointmentGroupId": {
                            "type": "string"
                          },
                          "appointmentId": {
                            "type": "string"
                          },
                          "appointmentSegmentId": {
                            "type": "string"
                          },
                          "appointmentType": {
                            "type": "number"
                          },
                          "areCustomFieldsFilled": {
                            "type": "boolean"
                          },
                          "arePackageTargetsFilled": {
                            "type": "boolean"
                          },
                          "arePackageTargetsRequired": {
                            "type": "boolean"
                          },
                          "autoPayAuthorizeStatus": {
                            "type": "number"
                          },
                          "availableRooms": {
                            "type": "string"
                          },
                          "availableTherapists": {
                            "type": "string"
                          },
                          "availableTimes": {
                            "type": "string"
                          },
                          "blockout": {
                            "type": "string"
                          },
                          "cancelOrNoShowStatus": {
                            "type": "number"
                          },
                          "canUpdateTherapist": {
                            "type": "boolean"
                          },
                          "checkinTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "closedById": {
                            "type": "string"
                          },
                          "createdById": {
                            "type": "string"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creationDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "emailLink": {
                            "type": "string"
                          },
                          "endTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endTimeUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "equipment": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          },
                          "formId": {
                            "type": "string"
                          },
                          "groupInvoiceId": {
                            "type": "string"
                          },
                          "groupName": {
                            "type": "string"
                          },
                          "groupNotes": {
                            "type": "string"
                          },
                          "guest": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "number"
                              },
                              "guestIndicatorValue": {
                                "type": "object",
                                "properties": {
                                  "autoPayEnabled": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "cardOnFile": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "customDataIndicator": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "dues": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstTimer": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "guestIconInformation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "hasActivePackages": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "hasAddOns": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "hasCTA": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "hasFrozenPackages": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "hasProfileAlerts": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "highSpender": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isGuestBirthday": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isMinor": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isSurpriseVisit": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lowFeedback": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "lpTier": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "member": {
                                    "type": "number"
                                  },
                                  "nonExpireandNotClosedPackages": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "nonExpirePackages": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "noShow": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "otherCenterGuest": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "rebookedAppointment": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "recurrenceAppointment": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "regularGuest": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "returningCustomer": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "showGuestNotes": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string"
                              },
                              "indicator": {
                                "type": "string"
                              },
                              "isVirtualUser": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "lpTierInfo": {
                                "type": "string"
                              },
                              "mobile": {
                                "type": "object",
                                "properties": {
                                  "countryId": {
                                    "type": "number"
                                  },
                                  "displayNumber": {
                                    "type": "string"
                                  },
                                  "number": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "preferredPronoun": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasActiveMembershipForAutoPay": {
                            "type": "boolean"
                          },
                          "hasUnexpiredPackages": {
                            "type": "boolean"
                          },
                          "hasVirtualUserSiblings": {
                            "type": "boolean"
                          },
                          "invoiceId": {
                            "type": "string"
                          },
                          "invoiceItemId": {
                            "type": "string"
                          },
                          "invoiceLocked": {
                            "type": "boolean"
                          },
                          "invoiceProcessedInIntegrations": {
                            "type": "number"
                          },
                          "isBlocked": {
                            "type": "boolean"
                          },
                          "isEducatorRatingFilled": {
                            "type": "boolean"
                          },
                          "isFeedbackFilled": {
                            "type": "boolean"
                          },
                          "isPrescriptionSigned": {
                            "type": "boolean"
                          },
                          "isProductConsumptionUpdated": {
                            "type": "boolean"
                          },
                          "isServiceBundleDayPackage": {
                            "type": "boolean"
                          },
                          "isSingleAppointment": {
                            "type": "boolean"
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "packageId": {
                            "type": "string"
                          },
                          "packageName": {
                            "type": "string"
                          },
                          "parallelGroupId": {
                            "type": "string"
                          },
                          "parentServiceName": {
                            "type": "string"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "currencyId": {
                                "type": "number"
                              },
                              "discount": {
                                "type": "number"
                              },
                              "final": {
                                "type": "number"
                              },
                              "final1": {
                                "type": "number"
                              },
                              "roundingCorrection": {
                                "type": "number"
                              },
                              "sales": {
                                "type": "number"
                              },
                              "ssg": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tax": {
                                "type": "number"
                              },
                              "tip": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "progress": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "requestedAlternative": {
                            "type": "number"
                          },
                          "room": {
                            "type": "string"
                          },
                          "selectedRoomId": {
                            "type": "string"
                          },
                          "selectedTherapistId": {
                            "type": "string"
                          },
                          "selectedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "service": {
                            "type": "object",
                            "properties": {
                              "businessUnit": {
                                "type": "object",
                                "properties": {
                                  "guid": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "hasAddons": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isAddon": {
                                "type": "boolean"
                              },
                              "isVirtualService": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "overrideDefaultProductConsumption": {
                                "type": "boolean"
                              },
                              "overrideProductConsumption": {
                                "type": "boolean"
                              },
                              "parentAppointmentId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "segmentId": {
                                "type": "string"
                              },
                              "subCategory": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "serviceCustomDataIndicator": {
                            "type": "string"
                          },
                          "showInCalender": {
                            "type": "number"
                          },
                          "smsLink": {
                            "type": "string"
                          },
                          "source": {
                            "type": "number"
                          },
                          "startTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "startTimeUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "number"
                          },
                          "therapist": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "nickName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "vanityImageUrl": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "therapistPreferenceType": {
                            "type": "number"
                          },
                          "virtualRoomLink": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenoti/latest/actions/list-appointments-by-guest": {
      "get": {
        "operationId": "zenoti.list-appointments-by-guest",
        "summary": "List Appointments By Guest",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/list-appointments-by-guest"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appointmentGroupId": {
                            "type": "string"
                          },
                          "appointmentServices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "actualStartTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "addonAppointmentId": {
                                  "type": "string"
                                },
                                "appointmentId": {
                                  "type": "string"
                                },
                                "appointmentStatus": {
                                  "type": "number"
                                },
                                "cartItemId": {
                                  "type": "string"
                                },
                                "completedTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "endTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "equipment": {
                                  "type": "string"
                                },
                                "hasSegments": {
                                  "type": "boolean"
                                },
                                "hasServiceForm": {
                                  "type": "boolean"
                                },
                                "invoiceItemId": {
                                  "type": "string"
                                },
                                "isAddon": {
                                  "type": "boolean"
                                },
                                "isMembershipApplied": {
                                  "type": "boolean"
                                },
                                "itemActions": {
                                  "type": "string"
                                },
                                "parentAppointmentId": {
                                  "type": "string"
                                },
                                "progress": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "requestedTherapistGender": {
                                  "type": "number"
                                },
                                "requestedTherapistId": {
                                  "type": "string"
                                },
                                "room": {
                                  "type": "string"
                                },
                                "segments": {
                                  "type": "string"
                                },
                                "service": {
                                  "type": "object",
                                  "properties": {
                                    "addons": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "categoryId": {
                                      "type": "string"
                                    },
                                    "displayName": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "duration": {
                                      "type": "number"
                                    },
                                    "hasAddons": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "hasVariant": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "isAddon": {
                                      "type": "boolean"
                                    },
                                    "isVariant": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "parentServiceId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "price": {
                                      "type": "object",
                                      "properties": {
                                        "currencyId": {
                                          "type": "number"
                                        },
                                        "final": {
                                          "type": "number"
                                        },
                                        "sales": {
                                          "type": "number"
                                        },
                                        "tax": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "serviceCustomData": {
                                  "type": "string"
                                },
                                "serviceCustomDataIndicator": {
                                  "type": "string"
                                },
                                "startTime": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "centerId": {
                            "type": "string"
                          },
                          "checkCancelAndNoshow": {
                            "type": "boolean"
                          },
                          "groupInvoiceId": {
                            "type": "string"
                          },
                          "invoiceId": {
                            "type": "string"
                          },
                          "invoiceStatus": {
                            "type": "number"
                          },
                          "isFeedbackSubmitted": {
                            "type": "boolean"
                          },
                          "isRebooking": {
                            "type": "boolean"
                          },
                          "noOfGuests": {
                            "type": "number"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "currencyId": {
                                "type": "number"
                              },
                              "final": {
                                "type": "number"
                              },
                              "sales": {
                                "type": "number"
                              },
                              "tax": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenoti/latest/actions/list-appointments-flat-file": {
      "get": {
        "operationId": "zenoti.list-appointments-flat-file",
        "summary": "Get Appointments Report",
        "description": "Returns a simpler result than List Appointments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/list-appointments-flat-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appointmentSources[].source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appointmentStatuses[].appointmentStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-1"
            }
          },
          {
            "name": "centerIds[].center",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "centerIds[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Use this when getting results for a single date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Use this when getting results for a single date"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "appointmentStatuses[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "appointmentSources[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualBookedTime": {
                            "type": "string"
                          },
                          "actualServiceTime": {
                            "type": "string"
                          },
                          "addOn": {
                            "type": "string"
                          },
                          "appointmentActualInvoiceDuration": {
                            "type": "number"
                          },
                          "appointmentDate": {
                            "type": "string"
                          },
                          "bookedBy": {
                            "type": "string"
                          },
                          "bookedDate": {
                            "type": "string"
                          },
                          "bookingSource": {
                            "type": "string"
                          },
                          "businessUnit": {
                            "type": "string"
                          },
                          "centerId": {
                            "type": "string"
                          },
                          "centerName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "endTime": {
                            "type": "string"
                          },
                          "equipment": {
                            "type": "string"
                          },
                          "expectedBookedTime": {
                            "type": "string"
                          },
                          "expectedServiceTime": {
                            "type": "string"
                          },
                          "firstVisit": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "guestCode": {
                            "type": "string"
                          },
                          "guestId": {
                            "type": "string"
                          },
                          "guestName": {
                            "type": "string"
                          },
                          "guestPriceAdjusted": {
                            "type": "string"
                          },
                          "invoiceId": {
                            "type": "string"
                          },
                          "invoiceNo": {
                            "type": "string"
                          },
                          "isGuestDuration": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "modifiedOn": {
                            "type": "string"
                          },
                          "providerId": {
                            "type": "string"
                          },
                          "providersCode": {
                            "type": "string"
                          },
                          "rebooked": {
                            "type": "string"
                          },
                          "rebookingSource": {
                            "type": "string"
                          },
                          "recoveryTime": {
                            "type": "string"
                          },
                          "requestType": {
                            "type": "string"
                          },
                          "serviceCategory": {
                            "type": "string"
                          },
                          "servicedBy": {
                            "type": "string"
                          },
                          "serviceName": {
                            "type": "string"
                          },
                          "serviceSubcategory": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "surpriseVisit": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenoti/latest/actions/list-center-blockout-times": {
      "get": {
        "operationId": "zenoti.list-center-blockout-times",
        "summary": "List Center Blockout Times",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/list-center-blockout-times"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "centerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockOutTimeId": {
                            "type": "string"
                          },
                          "blockOutTimeType": {
                            "type": "object",
                            "properties": {
                              "duration": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "employee": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "endTime": {
                            "type": "string"
                          },
                          "endTimeInCenter": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "recurringBlockOutTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "room": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "startTimeInCenter": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenoti/latest/actions/list-center-employee-schedules": {
      "get": {
        "operationId": "zenoti.list-center-employee-schedules",
        "summary": "List Center Employee Schedules",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenoti/latest/actions/list-center-employee-schedules"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "centerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "scheduleStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "considerScheduleTime",
            "in": "query",
            "required": false,
            "description": "If true, the API considers the time stamp for the specified date range to filter the response data. If false, the API considers only the date values to filter the employee schedules.",
            "schema": {
              "type": "boolean",
              "description": "If true, the API considers the time stamp for the specified date range to filter the response data. If false, the API considers only the date values to filter the employee schedules."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "employeeId": {
                            "type": "string"
                          },
                          "employeeName": {
                            "type": "string"
                          },
                          "schedules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string"
                                },
                                "shifts": {
[...]
