{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho PageSense Universal API",
    "version": "0.0.6",
    "description": "Track goals, analyze behavior, and run website experiments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoPageSense/latest/actions/create-custom-event": {
      "post": {
        "operationId": "zohoPageSense.create-custom-event",
        "summary": "Create Custom Event",
        "description": "Creates a custom event in Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/create-custom-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalName",
                  "customevent.eventName",
                  "customevent.projectLinkname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalName": {
                    "type": "string",
                    "description": "Portal identifier in the path."
                  },
                  "customevent.eventName": {
                    "type": "string",
                    "description": "Human-friendly custom event name."
                  },
                  "customevent.projectLinkname": {
                    "type": "string",
                    "description": "Project linkname for the custom event."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customevents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "eventId": {
                                  "type": "number"
                                },
                                "linkname": {
                                  "type": "string"
                                },
                                "success": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/create-experiment": {
      "post": {
        "operationId": "zohoPageSense.create-experiment",
        "summary": "Create Experiment",
        "description": "Creates an experiment in Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/create-experiment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalName",
                  "experiment.displayName",
                  "experiment.experimentUrl",
                  "experiment.experimentType",
                  "experiment.projectLinkname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalName": {
                    "type": "string",
                    "description": "Portal identifier in the path."
                  },
                  "experiment.displayName": {
                    "type": "string",
                    "description": "Human-readable experiment name."
                  },
                  "experiment.experimentUrl": {
                    "type": "string",
                    "description": "URL included in the experiment configuration."
                  },
                  "experiment.experimentType": {
                    "type": "number",
                    "description": "Experiment type code from Zoho PageSense."
                  },
                  "experiment.projectLinkname": {
                    "type": "string",
                    "description": "Project linkname for the experiment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "experiments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "experimentId": {
                                  "type": "string"
                                },
                                "experimentKey": {
                                  "type": "string"
                                },
                                "linkname": {
                                  "type": "string"
                                },
                                "projectLinkname": {
                                  "type": "string"
                                },
                                "success": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/create-goal-for-experiment": {
      "post": {
        "operationId": "zohoPageSense.create-goal-for-experiment",
        "summary": "Create Goal for Experiment",
        "description": "Creates an experiment goal in Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/create-goal-for-experiment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalName",
                  "goal.displayName",
                  "goal.goalType",
                  "goal.projectLinkname",
                  "goal.experimentLinkname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalName": {
                    "type": "string",
                    "description": "Portal identifier in the path."
                  },
                  "goal.displayName": {
                    "type": "string",
                    "description": "Human-readable goal name."
                  },
                  "goal.goalType": {
                    "type": "number",
                    "description": "Goal type code from Zoho PageSense."
                  },
                  "goal.projectLinkname": {
                    "type": "string",
                    "description": "Project linkname for the goal."
                  },
                  "goal.experimentLinkname": {
                    "type": "string",
                    "description": "Experiment linkname for the goal."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "goals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "goalId": {
                                  "type": "number"
                                },
                                "linkname": {
                                  "type": "string"
                                },
                                "success": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/create-project-goal": {
      "post": {
        "operationId": "zohoPageSense.create-project-goal",
        "summary": "Create Project Goal",
        "description": "Creates a project goal in Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/create-project-goal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "portalName",
                  "projectLinkname",
                  "projectgoal.displayName",
                  "projectgoal.goalType",
                  "projectgoal.projectLinkname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "portalName": {
                    "type": "string",
                    "description": "Portal identifier in the path."
                  },
                  "projectLinkname": {
                    "type": "string",
                    "description": "Project linkname in the path."
                  },
                  "projectgoal.displayName": {
                    "type": "string",
                    "description": "Human-readable goal name."
                  },
                  "projectgoal.goalType": {
                    "type": "number",
                    "description": "Goal type code from Zoho PageSense."
                  },
                  "projectgoal.projectLinkname": {
                    "type": "string",
                    "description": "Project linkname inside the request body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "projectgoals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "goalId": {
                                  "type": "number"
                                },
                                "goalStatus": {
                                  "type": "number"
                                },
                                "linkname": {
                                  "type": "string"
                                },
                                "projectLinkname": {
                                  "type": "string"
                                },
                                "success": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/day-wise-stats-reports": {
      "get": {
        "operationId": "zohoPageSense.day-wise-stats-reports",
        "summary": "Day-Wise Stats Reports",
        "description": "Retrieves day-wise stats reports from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/day-wise-stats-reports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "fullTrackingReports.startDate",
            "in": "query",
            "required": true,
            "description": "Report start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Report start date in YYYY-MM-DD format."
            }
          },
          {
            "name": "fullTrackingReports.endDate",
            "in": "query",
            "required": true,
            "description": "Report end date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Report end date in YYYY-MM-DD format."
            }
          },
          {
            "name": "fullTrackingReports.primaryDimension",
            "in": "query",
            "required": true,
            "description": "Dimension to group metrics by.",
            "schema": {
              "type": "string",
              "description": "Dimension to group metrics by."
            }
          },
          {
            "name": "fullTrackingReports.metrics",
            "in": "query",
            "required": true,
            "description": "Requested metric keys.",
            "schema": {
              "type": "string",
              "description": "Requested metric keys."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "fullTrackingReports": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "averageTimeOnPage": {
                                  "type": "number"
                                },
                                "bounceRate": {
                                  "type": "number"
                                },
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "entrances": {
                                  "type": "number"
                                },
                                "exitRate": {
                                  "type": "number"
                                },
                                "pageViews": {
                                  "type": "number"
                                },
                                "uniquePageViews": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/delete-goal-for-experiment": {
      "delete": {
        "operationId": "zohoPageSense.delete-goal-for-experiment",
        "summary": "Delete Goal for Experiment",
        "description": "Deletes an experiment goal from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/delete-goal-for-experiment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "goalLinkname",
            "in": "query",
            "required": true,
            "description": "Goal linkname in the path.",
            "schema": {
              "type": "string",
              "description": "Goal linkname in the path."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "goals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "goalId": {
                                  "type": "number"
                                },
                                "linkname": {
                                  "type": "string"
                                },
                                "success": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/delete-project-goal": {
      "delete": {
        "operationId": "zohoPageSense.delete-project-goal",
        "summary": "Delete Project Goal",
        "description": "Deletes a project goal from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/delete-project-goal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "projectLinkname",
            "in": "query",
            "required": true,
            "description": "Project linkname in the path.",
            "schema": {
              "type": "string",
              "description": "Project linkname in the path."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "projectgoals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "goalId": {
                                  "type": "number"
                                },
                                "goalStatus": {
                                  "type": "number"
                                },
                                "linkname": {
                                  "type": "string"
                                },
                                "projectLinkname": {
                                  "type": "string"
                                },
                                "success": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/get-experiment-details": {
      "get": {
        "operationId": "zohoPageSense.get-experiment-details",
        "summary": "Get Experiment Details",
        "description": "Retrieves experiment details from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/get-experiment-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "experimentLinkname",
            "in": "query",
            "required": true,
            "description": "Experiment linkname in the path.",
            "schema": {
              "type": "string",
              "description": "Experiment linkname in the path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "experiments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "experimentKey": {
                                  "type": "string"
                                },
                                "experimentType": {
                                  "type": "number"
                                },
                                "linkname": {
                                  "type": "string"
                                },
                                "projectLinkname": {
                                  "type": "string"
                                },
                                "success": {
                                  "type": "boolean"
                                },
                                "variations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "trafficAllocation": {
                                        "type": "number"
                                      },
                                      "variationId": {
                                        "type": "number"
                                      },
                                      "variationUrl": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/get-project-goals": {
      "get": {
        "operationId": "zohoPageSense.get-project-goals",
        "summary": "Get Project Goals",
        "description": "Retrieves project goals from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/get-project-goals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "projectLinkname",
            "in": "query",
            "required": true,
            "description": "Project linkname in the path.",
            "schema": {
              "type": "string",
              "description": "Project linkname in the path."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "projectgoals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "elementCssSelector": {
                                  "type": "string"
                                },
                                "goalStatus": {
                                  "type": "number"
                                },
                                "goalType": {
                                  "type": "number"
                                },
                                "goalUrl": {
                                  "type": "string"
                                },
                                "linkname": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/individual-stats-report": {
      "get": {
        "operationId": "zohoPageSense.individual-stats-report",
        "summary": "Individual Stats Report",
        "description": "Retrieves an individual stats report from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/individual-stats-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "fullTrackingReports.startDate",
            "in": "query",
            "required": true,
            "description": "Report start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Report start date in YYYY-MM-DD format."
            }
          },
          {
            "name": "fullTrackingReports.endDate",
            "in": "query",
            "required": true,
            "description": "Report end date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Report end date in YYYY-MM-DD format."
            }
          },
          {
            "name": "fullTrackingReports.primaryDimension",
            "in": "query",
            "required": true,
            "description": "Dimension to group metrics by.",
            "schema": {
              "type": "string",
              "description": "Dimension to group metrics by."
            }
          },
          {
            "name": "fullTrackingReports.metrics",
            "in": "query",
            "required": true,
            "description": "Requested metric keys.",
            "schema": {
              "type": "string",
              "description": "Requested metric keys."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "fullTrackingReports": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "averageTimeOnPage": {
                                  "type": "number"
                                },
                                "bounceRate": {
                                  "type": "number"
                                },
                                "entrances": {
                                  "type": "number"
                                },
                                "exitRate": {
                                  "type": "number"
                                },
                                "pageViews": {
                                  "type": "number"
                                },
                                "primaryDimension": {
                                  "type": "string"
                                },
                                "uniquePageViews": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/list-custom-events": {
      "get": {
        "operationId": "zohoPageSense.list-custom-events",
        "summary": "List Custom Events",
        "description": "Retrieves custom events from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/list-custom-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "projectLinkname",
            "in": "query",
            "required": true,
            "description": "Project linkname query parameter.",
            "schema": {
              "type": "string",
              "description": "Project linkname query parameter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "customevents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "eventName": {
                                  "type": "string"
                                },
                                "linkname": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoPageSense/latest/actions/list-predefined-custom-audiences": {
      "get": {
        "operationId": "zohoPageSense.list-predefined-custom-audiences",
        "summary": "List Predefined & Custom Audiences",
        "description": "Retrieves predefined and custom audiences from Zoho PageSense.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoPageSense/latest/actions/list-predefined-custom-audiences"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "portalName",
            "in": "query",
            "required": true,
            "description": "Portal identifier in the path.",
            "schema": {
              "type": "string",
              "description": "Portal identifier in the path."
            }
          },
          {
            "name": "experimentLinkName",
            "in": "query",
            "required": true,
            "description": "Experiment link name query parameter.",
            "schema": {
              "type": "string",
              "description": "Experiment link name query parameter."
            }
          },
          {
            "name": "projectLinkName",
            "in": "query",
            "required": true,
            "description": "Project link name query parameter.",
            "schema": {
              "type": "string",
              "description": "Project link name query parameter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audiences": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "audienceConditionJson": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Audience condition definition."
                                },
                                "audienceDescription": {
                                  "type": "string",
                                  "description": "Audience description."
                                },
                                "audienceId": {
                                  "type": "string",
                                  "description": "Audience identifier."
                                },
                                "audienceIsPreset": {
                                  "type": "boolean",
                                  "description": "Whether the audience is predefined."
                                },
                                "audienceIsSelected": {
                                  "type": "boolean",
                                  "description": "Whether the audience is selected for the experiment."
                                },
                                "audienceLinkname": {
                                  "type": "string",
                                  "description": "Machine-safe audience slug."
                                },
                                "displayName": {
                                  "type": "string",
                                  "description": "Audience display name."
                                },
                                "experimentInvolved": {
                                  "type": "number",
                                  "description": "Experiment usage count when present."
                                },
                                "success": {
                                  "type": "boolean",
                                  "description": "Whether the audience entry was processed successfully."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "count": {
                            "type": "number",
                            "description": "Number of audiences returned."
                          },
                          "statusCode": {
                            "type": "string",
                            "description": "Zoho API status code."
                          },
                          "statusString": {
                            "type": "string",
                            "description": "Human-readable status message."
                          },
                          "timeTakenToProcessTheRequest": {
                            "type": "string",
                            "description": "Server processing time."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
[...]
