{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Xodo Sign Universal API",
    "version": "0.0.4",
    "description": "Xodo Sign is an e-signature platform for sending documents for legally binding signatures, managing templates, and tracking audit trails."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/xodoSign/latest/actions/audit-log": {
      "get": {
        "operationId": "xodoSign.audit-log",
        "summary": "Audit Log",
        "description": "Retrieves a document audit log from Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/audit-log"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentHash",
            "in": "query",
            "required": true,
            "description": "The unique document hash to fetch the audit log for.",
            "schema": {
              "type": "string",
              "description": "The unique document hash to fetch the audit log for."
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the document.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the document."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client_ip": {
                            "type": "string",
                            "description": "Client IP address when available."
                          },
                          "combined_checksum": {
                            "type": "string",
                            "description": "Combined checksum based on event type, timestamp, and document checksum."
                          },
                          "document_checksum": {
                            "type": "string",
                            "description": "Data integrity value for the document."
                          },
                          "entry_id": {
                            "type": "number",
                            "description": "Unique database ID of the audit log entry."
                          },
                          "event_assoc_signer": {
                            "type": "string",
                            "description": "Signer number associated with the event when present."
                          },
                          "event_assoc_signer_additional_data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional event metadata returned by Xodo Sign."
                          },
                          "event_assoc_signer_email": {
                            "type": "string",
                            "description": "Signer email associated with the event when present."
                          },
                          "event_assoc_signer_name": {
                            "type": "string",
                            "description": "Signer name associated with the event when present."
                          },
                          "event_type": {
                            "type": "string",
                            "description": "Event name identifier."
                          },
                          "merged_document_file_checksum": {
                            "type": "string",
                            "description": "Checksum of the signed document file when available."
                          },
                          "signer_ip": {
                            "type": "string",
                            "description": "Signer IP address when available."
                          },
                          "time_stamp": {
                            "type": "number",
                            "description": "Unix timestamp of the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/cancel-document": {
      "delete": {
        "operationId": "xodoSign.cancel-document",
        "summary": "Cancel Document",
        "description": "Cancels an existing document in Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/cancel-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the document.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the document."
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "The unique document hash to cancel.",
            "schema": {
              "type": "string",
              "description": "The unique document hash to cancel."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the cancel request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/create-bulk-job": {
      "post": {
        "operationId": "xodoSign.create-bulk-job",
        "summary": "Create Bulk Job",
        "description": "Creates a new bulk job in Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/create-bulk-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "business_id",
                  "templateHash",
                  "rows[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "business_id": {
                    "type": "string",
                    "description": "Business ID to scope the bulk job request."
                  },
                  "templateHash": {
                    "type": "string",
                    "description": "Template hash used for the bulk sending job."
                  },
                  "rows[]": {
                    "type": "array",
                    "items": {},
                    "description": "Two-dimensional array payload for the bulk job. The first row is the header row and each following row is one bulk-send record."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "business_id": {
                            "type": "number",
                            "description": "Business ID that created the bulk job."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp of the bulk job in UTC."
                          },
                          "document_count": {
                            "type": "number",
                            "description": "Number of documents created by the job."
                          },
                          "entry_id": {
                            "type": "number",
                            "description": "Unique database ID of the bulk job."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current bulk job status returned by Xodo Sign."
                          },
                          "template_hash": {
                            "type": "string",
                            "description": "Template hash used for the job."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "User ID that requested the job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/create-document": {
      "post": {
        "operationId": "xodoSign.create-document",
        "summary": "Create Document",
        "description": "Creates a new document in Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/create-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "business_id",
                  "title",
                  "files[]",
                  "files[].name",
                  "signers[]",
                  "signers[].id",
                  "signers[].name",
                  "signers[].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "business_id": {
                    "type": "string",
                    "description": "The Xodo Sign business ID that owns the new document."
                  },
                  "sandbox": {
                    "type": "boolean",
                    "description": "Set to 1 to enable sandbox mode for document creation."
                  },
                  "is_draft": {
                    "type": "boolean",
                    "description": "Set to 1 to save the document as a draft."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the document."
                  },
                  "message": {
                    "type": "string",
                    "description": "General document message shown to recipients."
                  },
                  "embedded": {
                    "type": "boolean",
                    "description": "Enable embedded requesting for this document."
                  },
                  "use_signer_order": {
                    "type": "boolean",
                    "description": "Require signers to sign in the configured order."
                  },
                  "reminders": {
                    "type": "boolean",
                    "description": "Enable automatic reminders for the document."
                  },
                  "require_all_signers": {
                    "type": "boolean",
                    "description": "Require all signers to complete the document."
                  },
                  "files[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of file objects to include in the document."
                  },
                  "files[].name": {
                    "type": "string",
                    "description": "Display name for the uploaded file entry."
                  },
                  "files[].file_url": {
                    "type": "string",
                    "description": "Public URL of the file to upload for this file entry."
                  },
                  "files[].file_id": {
                    "type": "string",
                    "description": "Previously uploaded Xodo Sign file ID for this file entry."
                  },
                  "files[].file_base64": {
                    "type": "string",
                    "description": "Base64-encoded file content for this file entry."
                  },
                  "signers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of signer objects for the document."
                  },
                  "signers[].id": {
                    "type": "number",
                    "description": "Unique signer ID for the signer entry."
                  },
                  "signers[].name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "signers[].email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  },
                  "signers[].order": {
                    "type": "number",
                    "description": "Signing order number when signer order is enabled."
                  },
                  "signers[].pin": {
                    "type": "string",
                    "description": "Optional signer PIN."
                  },
                  "signers[].signer_authentication_sms_enabled": {
                    "type": "boolean",
                    "description": "Enable signer SMS authentication for this signer."
                  },
                  "signers[].signer_authentication_phone_number": {
                    "type": "string",
                    "description": "Phone number used for signer SMS authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the document was created."
                          },
                          "document_hash": {
                            "type": "string",
                            "description": "Unique hash identifier of the created document."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the document expires."
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Files attached to the document."
                          },
                          "is_cancelled": {
                            "type": "number",
                            "description": "1 when the document is cancelled."
                          },
                          "is_completed": {
                            "type": "number",
                            "description": "1 when the document is completed."
                          },
                          "is_draft": {
                            "type": "number",
                            "description": "1 when the document is a draft."
                          },
                          "is_template": {
                            "type": "number",
                            "description": "1 when the record is a template."
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Document history entries."
                          },
                          "message": {
                            "type": "string",
                            "description": "Message sent with the document."
                          },
                          "meta": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional metadata entries returned by Xodo Sign."
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Recipients associated with the document."
                          },
                          "requester_email": {
                            "type": "string",
                            "description": "Email address of the document requester."
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Signers associated with the document."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Subject of the document."
                          },
                          "template_id": {
                            "type": "string",
                            "description": "Template hash associated with the document when applicable."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/create-template": {
      "post": {
        "operationId": "xodoSign.create-template",
        "summary": "Create Template",
        "description": "Creates a new template in Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "business_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "business_id": {
                    "type": "string",
                    "description": "The Xodo Sign business ID that owns the new template."
                  },
                  "is_draft": {
                    "type": "string",
                    "description": "Set to 1 to save the template as a draft."
                  },
                  "sandbox": {
                    "type": "string",
                    "description": "Set to 1 to enable sandbox mode for template creation."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the template was created."
                          },
                          "document_hash": {
                            "type": "string",
                            "description": "Unique hash identifier of the created template."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the template expires."
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Files attached to the template."
                          },
                          "is_cancelled": {
                            "type": "number",
                            "description": "1 when the record is cancelled."
                          },
                          "is_completed": {
                            "type": "number",
                            "description": "1 when the record is completed."
                          },
                          "is_draft": {
                            "type": "number",
                            "description": "1 when the template is saved as a draft."
                          },
                          "is_template": {
                            "type": "number",
                            "description": "1 when the record is a template."
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Template history entries."
                          },
                          "message": {
                            "type": "string",
                            "description": "Message stored with the template."
                          },
                          "meta": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional metadata entries returned by Xodo Sign."
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Recipient roles configured on the template."
                          },
                          "requester_email": {
                            "type": "string",
                            "description": "Email address of the template requester."
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Signer roles configured on the template."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Subject of the template."
                          },
                          "template_id": {
                            "type": "string",
                            "description": "Template hash associated with the template when applicable."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the template."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/delete-document-or-template": {
      "delete": {
        "operationId": "xodoSign.delete-document-or-template",
        "summary": "Delete Document or Template",
        "description": "Deletes an existing document or template from Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/delete-document-or-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the document or template.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the document or template."
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "The unique document or template hash to delete.",
            "schema": {
              "type": "string",
              "description": "The unique document or template hash to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the delete request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/download-final-pdf": {
      "get": {
        "operationId": "xodoSign.download-final-pdf",
        "summary": "Download Final PDF",
        "description": "Retrieves the final PDF from Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/download-final-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the document.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the document."
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "The unique document hash to download.",
            "schema": {
              "type": "string",
              "description": "The unique document hash to download."
            }
          },
          {
            "name": "audit_trail",
            "in": "query",
            "required": false,
            "description": "Set to 1 to attach the audit trail to the final PDF.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to attach the audit trail to the final PDF."
            }
          },
          {
            "name": "document_id",
            "in": "query",
            "required": false,
            "description": "Optional file selector for multi-file documents or AT for audit trail only.",
            "schema": {
              "type": "string",
              "description": "Optional file selector for multi-file documents or AT for audit trail only."
            }
          },
          {
            "name": "url_only",
            "in": "query",
            "required": false,
            "description": "Set to 1 to return only the download URL.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to return only the download URL."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pdf_binary_or_download_url": {
                            "type": "string",
                            "description": "Binary PDF content by default, or a download URL when `url_only=1` is used."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/download-original-pdf": {
      "get": {
        "operationId": "xodoSign.download-original-pdf",
        "summary": "Download Original PDF",
        "description": "Retrieves the original PDF from Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/download-original-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the document.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the document."
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "The unique document hash to download.",
            "schema": {
              "type": "string",
              "description": "The unique document hash to download."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pdf_binary": {
                            "type": "string",
                            "description": "Binary PDF content returned for the original uploaded file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/generate-blank-bulk-csv": {
      "get": {
        "operationId": "xodoSign.generate-blank-bulk-csv",
        "summary": "Generate Blank Bulk CSV",
        "description": "Retrieves a blank bulk sending CSV for a template in Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/generate-blank-bulk-csv"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the template.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the template."
            }
          },
          {
            "name": "templateHash",
            "in": "query",
            "required": true,
            "description": "The template hash to use for bulk sending CSV generation.",
            "schema": {
              "type": "string",
              "description": "The template hash to use for bulk sending CSV generation."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "csv_content": {
                            "type": "string",
                            "description": "Blank CSV structure in text format for the selected bulk-send template."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/get-bulk-job": {
      "get": {
        "operationId": "xodoSign.get-bulk-job",
        "summary": "Get Bulk Job",
        "description": "Retrieves a bulk job from Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/get-bulk-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bulkSendingJobId",
            "in": "query",
            "required": true,
            "description": "The bulk sending job ID to retrieve.",
            "schema": {
              "type": "number",
              "description": "The bulk sending job ID to retrieve."
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the bulk job.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the bulk job."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "business_id": {
                            "type": "number",
                            "description": "Business ID that created the bulk job."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp of the bulk job in UTC."
                          },
                          "document_count": {
                            "type": "number",
                            "description": "Number of documents created by the bulk job."
                          },
                          "entry_id": {
                            "type": "number",
                            "description": "Unique database ID of the bulk job."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current bulk job status."
                          },
                          "template_hash": {
                            "type": "string",
                            "description": "Template hash used for the bulk job."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "User ID that requested the bulk job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/get-bulk-job-status": {
      "get": {
        "operationId": "xodoSign.get-bulk-job-status",
        "summary": "Get Bulk Job Status",
        "description": "Retrieves bulk job status from Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/get-bulk-job-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bulkSendingJobId",
            "in": "query",
            "required": true,
            "description": "The bulk sending job ID to retrieve.",
            "schema": {
              "type": "number",
              "description": "The bulk sending job ID to retrieve."
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the bulk job.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the bulk job."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bulk_job_created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp of the bulk job in UTC."
                          },
                          "bulk_job_owner": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Owner metadata for the bulk job."
                          },
                          "cancelled_documents": {
                            "type": "number",
                            "description": "Number of cancelled documents in the bulk job."
                          },
                          "completed_documents": {
                            "type": "number",
                            "description": "Number of completed documents in the bulk job."
                          },
                          "document_count": {
                            "type": "number",
                            "description": "Number of documents successfully created by the bulk job."
                          },
                          "in_progress_documents": {
                            "type": "number",
                            "description": "Number of in-progress documents in the bulk job."
                          },
                          "origin_template": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Template metadata associated with the bulk job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xodoSign/latest/actions/get-document-or-template": {
      "get": {
        "operationId": "xodoSign.get-document-or-template",
        "summary": "Get Document or Template",
        "description": "Retrieves a document or template from Xodo Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xodoSign/latest/actions/get-document-or-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "description": "The Xodo Sign business ID that owns the document or template.",
            "schema": {
              "type": "string",
              "description": "The Xodo Sign business ID that owns the document or template."
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "The unique document or template hash to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique document or template hash to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp when the document was created."
                          },
                          "document_hash": {
                            "type": "string",
                            "description": "Unique hash identifier of the document or template."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp when the document expires."
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Files attached to the document or template."
                          },
                          "is_cancelled": {
                            "type": "number",
                            "description": "1 when the document is cancelled, otherwise 0."
                          },
                          "is_completed": {
                            "type": "number",
                            "description": "1 when the document is completed, otherwise 0."
                          },
                          "is_draft": {
                            "type": "number",
                            "description": "1 when the document is a draft, otherwise 0."
                          },
                          "is_template": {
                            "type": "number",
                            "description": "1 when the record is a template, otherwise 0."
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Document history entries."
                          },
                          "message": {
                            "type": "string",
                            "description": "Message sent with the document or template."
                          },
                          "meta": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional metadata entries returned by Xodo Sign."
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Recipients associated with the document or template."
                          },
                          "requester_email": {
                            "type": "string",
                            "description": "Email address of the document requester."
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Signers associated with the document or template."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Subject of the document or template."
                          },
                          "template_id": {
                            "type": "string",
                            "description": "Template hash associated with the document when applicable."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the document or template."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
[...]
