{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "screenshot.fyi Universal API",
    "version": "0.0.6",
    "description": "Capture premium-quality screenshots of public web pages with a single REST API call."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/screenshotfyi/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/screenshotfyi/latest/actions/take-screenshot": {
      "get": {
        "operationId": "screenshotfyi.take-screenshot",
        "summary": "Take Screenshot",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotfyi/latest/actions/take-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The public webpage URL to capture.",
            "schema": {
              "type": "string",
              "description": "The public webpage URL to capture.",
              "example": "https://example.com"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Optional viewport width in pixels.",
            "schema": {
              "type": "number",
              "description": "Optional viewport width in pixels.",
              "example": 1440
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Optional viewport height in pixels.",
            "schema": {
              "type": "number",
              "description": "Optional viewport height in pixels.",
              "example": 900
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Optional image format override.",
            "schema": {
              "type": "string",
              "description": "Optional image format override.",
              "example": "jpg"
            }
          },
          {
            "name": "fullPage",
            "in": "query",
            "required": false,
            "description": "Capture the full page instead of the default viewport.",
            "schema": {
              "type": "boolean",
              "description": "Capture the full page instead of the default viewport.",
              "example": true
            }
          },
          {
            "name": "darkMode",
            "in": "query",
            "required": false,
            "description": "Render the screenshot in dark mode when supported.",
            "schema": {
              "type": "boolean",
              "description": "Render the screenshot in dark mode when supported.",
              "example": false
            }
          },
          {
            "name": "disableCookieBanners",
            "in": "query",
            "required": false,
            "description": "Remove cookie banners and similar overlays when possible.",
            "schema": {
              "type": "boolean",
              "description": "Remove cookie banners and similar overlays when possible.",
              "example": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "URL of the generated screenshot asset returned by screenshot.fyi."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
