{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Botnoi Voice Universal API",
    "version": "0.0.3",
    "description": "Create speech audio and browse Botnoi Voice speakers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/botnoiVoice/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/botnoiVoice/latest/actions/generate-audio-v1": {
      "post": {
        "operationId": "botnoiVoice.generate-audio-v1",
        "summary": "Generate Audio V1",
        "description": "Generates audio with Botnoi Voice V1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botnoiVoice/latest/actions/generate-audio-v1"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "text",
                  "speaker",
                  "typeMedia"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text to convert into speech audio."
                  },
                  "speaker": {
                    "type": "string",
                    "description": "Speaker identifier to use for voice generation."
                  },
                  "typeMedia": {
                    "type": "string",
                    "description": "Output media format for the generated audio.",
                    "default": "mp3"
                  },
                  "volume": {
                    "type": "number",
                    "description": "Volume level for the generated audio.",
                    "default": 100,
                    "x-mindcloud-advanced": true
                  },
                  "speed": {
                    "type": "number",
                    "description": "Playback speed for the generated audio.",
                    "default": 1,
                    "x-mindcloud-advanced": true
                  },
                  "saveFile": {
                    "type": "boolean",
                    "description": "Whether Botnoi should save the generated file.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for synthesis.",
                    "default": "th",
                    "x-mindcloud-advanced": true
                  },
                  "page": {
                    "type": "string",
                    "description": "Generation page context expected by the API.",
                    "default": "user",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioUrl": {
                            "type": "string",
                            "description": "URL for the generated audio file."
                          },
                          "point": {
                            "type": "number",
                            "description": "Point cost for the generated request."
                          },
                          "text": {
                            "type": "string",
                            "description": "Generated text returned by Botnoi Voice."
                          },
                          "userMonthlyPoint": {
                            "type": "number",
                            "description": "Remaining monthly point balance returned by the API."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botnoiVoice/latest/actions/generate-audio-v2": {
      "post": {
        "operationId": "botnoiVoice.generate-audio-v2",
        "summary": "Generate Audio V2",
        "description": "Generates audio with Botnoi Voice V2.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botnoiVoice/latest/actions/generate-audio-v2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "text",
                  "speaker",
                  "typeMedia"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text to convert into speech audio."
                  },
                  "speaker": {
                    "type": "string",
                    "description": "Speaker identifier to use for voice generation."
                  },
                  "typeMedia": {
                    "type": "string",
                    "description": "Output media format for the generated audio.",
                    "default": "mp3"
                  },
                  "volume": {
                    "type": "number",
                    "description": "Volume level for the generated audio.",
                    "default": 100,
                    "x-mindcloud-advanced": true
                  },
                  "speed": {
                    "type": "number",
                    "description": "Playback speed for the generated audio.",
                    "default": 1,
                    "x-mindcloud-advanced": true
                  },
                  "saveFile": {
                    "type": "boolean",
                    "description": "Whether Botnoi should save the generated file.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for synthesis.",
                    "default": "th",
                    "x-mindcloud-advanced": true
                  },
                  "page": {
                    "type": "string",
                    "description": "Generation page context expected by the API.",
                    "default": "user",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioUrl": {
                            "type": "string",
                            "description": "URL for the generated audio file."
                          },
                          "point": {
                            "type": "number",
                            "description": "Point cost for the generated request."
                          },
                          "text": {
                            "type": "string",
                            "description": "Generated text returned by Botnoi Voice."
                          },
                          "userMonthlyPoint": {
                            "type": "number",
                            "description": "Remaining monthly point balance returned by the API."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botnoiVoice/latest/actions/list-speakers": {
      "get": {
        "operationId": "botnoiVoice.list-speakers",
        "summary": "List Speakers",
        "description": "Retrieves speakers from Botnoi Voice V2.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botnoiVoice/latest/actions/list-speakers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ageStyle": {
                            "type": "string"
                          },
                          "audio": {
                            "type": "string"
                          },
                          "availableLanguage": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "engAgeStyle": {
                            "type": "string"
                          },
                          "engGender": {
                            "type": "string"
                          },
                          "engName": {
                            "type": "string"
                          },
                          "engSpeechStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "engSpeed": {
                            "type": "string"
                          },
                          "engVoiceStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "gender": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "speakerId": {
                            "type": "string"
                          },
                          "speechStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "speed": {
                            "type": "string"
                          },
                          "thaiName": {
                            "type": "string"
                          },
                          "voiceStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/botnoiVoice/latest/actions/list-speakers-v1": {
      "get": {
        "operationId": "botnoiVoice.list-speakers-v1",
        "summary": "List Speakers V1",
        "description": "Retrieves speakers from Botnoi Voice V1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/botnoiVoice/latest/actions/list-speakers-v1"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ageStyle": {
                            "type": "string"
                          },
                          "audio": {
                            "type": "string"
                          },
                          "availableLanguage": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "engAgeStyle": {
                            "type": "string"
                          },
                          "engGender": {
                            "type": "string"
                          },
                          "engName": {
                            "type": "string"
                          },
                          "engSpeechStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "engSpeed": {
                            "type": "string"
                          },
                          "engVoiceStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "gender": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "speakerId": {
                            "type": "string"
                          },
                          "speechStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "speed": {
                            "type": "string"
                          },
                          "thaiName": {
                            "type": "string"
                          },
                          "voiceStyle": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
