{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "You.com Universal API",
    "version": "0.0.3",
    "description": "Search the web, extract content, and run AI agents"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/youcom/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/youcom/latest/actions/ask-advanced-agent": {
      "get": {
        "operationId": "youcom.ask-advanced-agent",
        "summary": "Ask Advanced Agent",
        "description": "Retrieves an advanced agent response from You.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/youcom/latest/actions/ask-advanced-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "Question to answer.",
            "schema": {
              "type": "string",
              "description": "Question to answer."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent": {
                            "type": "string",
                            "description": "Agent that handled the run."
                          },
                          "input": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Input message content."
                                },
                                "role": {
                                  "type": "string",
                                  "description": "Input message role."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode returned by the API."
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "Rendered answer text for the output message."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Output message type token."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/youcom/latest/actions/ask-express-agent": {
      "get": {
        "operationId": "youcom.ask-express-agent",
        "summary": "Ask Express Agent",
        "description": "Retrieves an express agent response from You.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/youcom/latest/actions/ask-express-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "Question to answer.",
            "schema": {
              "type": "string",
              "description": "Question to answer."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent": {
                            "type": "string",
                            "description": "Agent that handled the run."
                          },
                          "input": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Input message content."
                                },
                                "role": {
                                  "type": "string",
                                  "description": "Input message role."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode returned by the API."
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string",
                                  "description": "Rendered answer text for the output message."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Output message type token."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/youcom/latest/actions/get-contents": {
      "get": {
        "operationId": "youcom.get-contents",
        "summary": "Get Contents",
        "description": "Retrieves page contents from You.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/youcom/latest/actions/get-contents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "urls[]",
            "in": "query",
            "required": true,
            "description": "URLs to fetch.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "URLs to fetch."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "formats[]",
            "in": "query",
            "required": false,
            "description": "Content formats to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Content formats to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "crawlTimeout",
            "in": "query",
            "required": false,
            "description": "Live crawl timeout in seconds.",
            "schema": {
              "type": "number",
              "description": "Live crawl timeout in seconds."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "markdown": {
                            "type": "string",
                            "description": "Extracted markdown content for the fetched URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "Source URL that was fetched."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/youcom/latest/actions/get-live-news": {
      "get": {
        "operationId": "youcom.get-live-news",
        "summary": "Get Live News",
        "description": "Retrieves live news results from You.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/youcom/latest/actions/get-live-news"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "News search query.",
            "schema": {
              "type": "string",
              "description": "News search query."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Maximum number of news results.",
            "schema": {
              "type": "number",
              "description": "Maximum number of news results."
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "description": "Pagination page number.",
            "schema": {
              "type": "number",
              "description": "Pagination page number."
            }
          },
          {
            "name": "recency",
            "in": "query",
            "required": false,
            "description": "Recency filter.",
            "schema": {
              "type": "string",
              "description": "Recency filter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "news": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Top-level live news response.",
                            "properties": {
                              "metadata": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Top-level response metadata.",
                                "properties": {
                                  "requestUuid": {
                                    "type": "string",
                                    "description": "Request identifier."
                                  }
                                }
                              },
                              "query": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Query details for the live news request.",
                                "properties": {
                                  "original": {
                                    "type": "string",
                                    "description": "Original search query."
                                  },
                                  "spellcheckOff": {
                                    "type": "boolean",
                                    "description": "Whether spellcheck was disabled."
                                  }
                                }
                              },
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "age": {
                                      "type": "string",
                                      "description": "Relative age label for the article."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Article summary."
                                    },
                                    "metadata": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Per-result metadata.",
                                      "properties": {
                                        "articleId": {
                                          "type": "string",
                                          "description": "Article identifier."
                                        }
                                      }
                                    },
                                    "metaUrl": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Parsed article URL metadata.",
                                      "properties": {
                                        "hostname": {
                                          "type": "string",
                                          "description": "Article hostname."
                                        },
                                        "netloc": {
                                          "type": "string",
                                          "description": "Article netloc."
                                        },
                                        "path": {
                                          "type": "string",
                                          "description": "Article URL path."
                                        },
                                        "scheme": {
                                          "type": "string",
                                          "description": "Article URL scheme."
                                        }
                                      }
                                    },
                                    "pageAge": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Article timestamp returned by You.com."
                                    },
                                    "sourceName": {
                                      "type": "string",
                                      "description": "Publisher name."
                                    },
                                    "thumbnail": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Article thumbnail metadata.",
                                      "properties": {
                                        "src": {
                                          "type": "string",
                                          "description": "Article thumbnail URL."
                                        }
                                      }
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Article title."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Result type token."
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "Canonical article URL."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "type": {
                                "type": "string",
                                "description": "Top-level response type token."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/youcom/latest/actions/research": {
      "get": {
        "operationId": "youcom.research",
        "summary": "Research",
        "description": "Retrieves a research report from You.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/youcom/latest/actions/research"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "Research question or complex query.",
            "schema": {
              "type": "string",
              "description": "Research question or complex query."
            }
          },
          {
            "name": "researchEffort",
            "in": "query",
            "required": false,
            "description": "How deeply the API should research.",
            "schema": {
              "type": "string",
              "description": "How deeply the API should research."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "output": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Top-level research response.",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Synthesized research answer content."
                              },
                              "contentType": {
                                "type": "string",
                                "description": "Content type returned for the research answer."
                              },
                              "sources": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "snippets": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "description": "Supporting source snippets."
                                      }
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Source title."
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "Source URL."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/youcom/latest/actions/search": {
      "get": {
        "operationId": "youcom.search",
        "summary": "Search",
        "description": "Retrieves search results from You.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/youcom/latest/actions/search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query.",
            "schema": {
              "type": "string",
              "description": "Search query."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Maximum results per section.",
            "schema": {
              "type": "number",
              "description": "Maximum results per section."
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "description": "Filter results by recency.",
            "schema": {
              "type": "string",
              "description": "Filter results by recency."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country code target.",
            "schema": {
              "type": "string",
              "description": "Country code target."
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "BCP 47 language code.",
            "schema": {
              "type": "string",
              "description": "BCP 47 language code."
            }
          },
          {
            "name": "safesearch",
            "in": "query",
            "required": false,
            "description": "Safety level.",
            "schema": {
              "type": "string",
              "description": "Safety level."
            }
          },
          {
            "name": "livecrawl",
            "in": "query",
            "required": false,
            "description": "Include full page content.",
            "schema": {
              "type": "string",
              "description": "Include full page content."
            }
          },
          {
            "name": "livecrawlFormats",
            "in": "query",
            "required": false,
            "description": "Formats for livecrawl output.",
            "schema": {
              "type": "string",
              "description": "Formats for livecrawl output."
            }
          },
          {
            "name": "crawlTimeout",
            "in": "query",
            "required": false,
            "description": "Livecrawl timeout in seconds.",
            "schema": {
              "type": "number",
              "description": "Livecrawl timeout in seconds."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset.",
            "schema": {
              "type": "number",
              "description": "Pagination offset."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "metadata": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Search metadata.",
                            "properties": {
                              "latency": {
                                "type": "number",
                                "description": "Search latency in seconds."
                              },
                              "query": {
                                "type": "string",
                                "description": "Echoed search query."
                              },
                              "searchUuid": {
                                "type": "string",
                                "description": "Search request identifier."
                              }
                            }
                          },
                          "results": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Top-level search result groups.",
                            "properties": {
                              "web": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string",
                                      "description": "Short result summary."
                                    },
                                    "faviconUrl": {
                                      "type": "string",
                                      "description": "Favicon URL for the result domain."
                                    },
                                    "originalThumbnailUrl": {
                                      "type": "string",
                                      "description": "Original thumbnail image URL when available."
                                    },
                                    "pageAge": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Page timestamp returned by You.com."
                                    },
                                    "snippets": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "description": "Supporting search snippets for the result."
                                      }
                                    },
                                    "thumbnailUrl": {
                                      "type": "string",
                                      "description": "Result thumbnail image URL when available."
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Result title."
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "Canonical URL for the result page."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/youcom/latest/actions/search-images": {
      "get": {
        "operationId": "youcom.search-images",
        "summary": "Search Images",
        "description": "Retrieves image search results from You.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/youcom/latest/actions/search-images"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Image search query.",
            "schema": {
              "type": "string",
              "description": "Image search query."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "images": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Top-level image search response.",
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "imageUrl": {
                                      "type": "string",
                                      "description": "Direct image URL."
                                    },
                                    "pageUrl": {
                                      "type": "string",
                                      "description": "Source page URL for the image result."
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Image result title."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Image search metadata.",
                            "properties": {
                              "query": {
                                "type": "string",
                                "description": "Echoed image search query."
                              },
                              "searchUuid": {
                                "type": "string",
                                "description": "Search request identifier."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
