{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "AddEvent Universal API",
    "version": "0.0.13",
    "description": "Create, manage, and search events, calendars, RSVPs, and subscribers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/addEvent/latest/actions/create-calendar": {
      "post": {
        "operationId": "addEvent.create-calendar",
        "summary": "Create calendar",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/create-calendar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "The calendar title."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Default timezone for events created on this calendar.",
                    "default": "America/Los_Angeles"
                  },
                  "weekdayBegin": {
                    "type": "string",
                    "description": "Day of the week that the calendar starts on.",
                    "default": "sunday"
                  },
                  "description": {
                    "type": "string",
                    "description": "Calendar description shown on the landing page."
                  },
                  "internalName": {
                    "type": "string",
                    "description": "Internal-only calendar name."
                  },
                  "calendarColor": {
                    "type": "number",
                    "description": "Calendar color value from the account palette.",
                    "default": 1
                  },
                  "landingPageTemplateId": {
                    "type": "string",
                    "description": "Custom landing page template ID or default.",
                    "default": "default"
                  },
                  "embeddableCalendarTemplateId": {
                    "type": "string",
                    "description": "Custom embeddable calendar template ID or default.",
                    "default": "default"
                  },
                  "customData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Structured key-value data attached to the calendar."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarColor": {
                            "type": "number",
                            "description": "Calendar color value."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Calendar creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Calendar description."
                          },
                          "embeddableCalendarTemplateId": {
                            "type": "string",
                            "description": "Assigned embeddable calendar template ID."
                          },
                          "eventDefaultTemplateId": {
                            "type": "string",
                            "description": "Default event template ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the calendar."
                          },
                          "internalName": {
                            "type": "string",
                            "description": "Internal-only calendar name."
                          },
                          "isDefaultCalendar": {
                            "type": "boolean",
                            "description": "Whether the calendar is the account default."
                          },
                          "landingPageTemplateId": {
                            "type": "string",
                            "description": "Assigned landing page template ID."
                          },
                          "linkLong": {
                            "type": "string",
                            "description": "Public long URL for the calendar."
                          },
                          "linkShort": {
                            "type": "string",
                            "description": "Public short URL for the calendar."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Calendar last modified timestamp."
                          },
                          "paletteId": {
                            "type": "string",
                            "description": "Associated color palette ID."
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "eventsCount": {
                                "type": "number"
                              },
                              "subscribersActiveCount": {
                                "type": "number"
                              },
                              "subscribersAllCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Default timezone for calendar events."
                          },
                          "title": {
                            "type": "string",
                            "description": "Calendar title."
                          },
                          "uniqueKey": {
                            "type": "string",
                            "description": "Public identifier for the calendar."
                          },
                          "weekdayBegin": {
                            "type": "string",
                            "description": "Day that the calendar starts on."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/create-event": {
      "post": {
        "operationId": "addEvent.create-event",
        "summary": "Create event",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "The event title."
                  },
                  "calendarId": {
                    "type": "string",
                    "description": "Calendar ID to associate with the event."
                  },
                  "datetimeStart": {
                    "type": "string",
                    "description": "Start date and time for the event."
                  },
                  "datetimeEnd": {
                    "type": "string",
                    "description": "End date and time for the event."
                  },
                  "allDayEvent": {
                    "type": "boolean",
                    "description": "Whether the event should be treated as an all-day event.",
                    "default": false
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone for the event."
                  },
                  "recurringRule": {
                    "type": "string",
                    "description": "iCalendar RRULE value for recurring events."
                  },
                  "description": {
                    "type": "string",
                    "description": "Event description shown to attendees."
                  },
                  "internalName": {
                    "type": "string",
                    "description": "Internal-only event name."
                  },
                  "location": {
                    "type": "string",
                    "description": "Address or URL for the event location."
                  },
                  "locationId": {
                    "type": "number",
                    "description": "Saved location ID to associate with the event."
                  },
                  "organizerName": {
                    "type": "string",
                    "description": "Organizer name displayed on the event."
                  },
                  "organizerEmail": {
                    "type": "string",
                    "description": "Organizer email displayed on the event."
                  },
                  "reminder": {
                    "type": "number",
                    "description": "Minutes before start time to send a reminder.",
                    "default": 30
                  },
                  "color": {
                    "type": "number",
                    "description": "Palette color value for the event.",
                    "default": 1
                  },
                  "freeBusy": {
                    "type": "string",
                    "description": "Whether the event appears as free, busy, or uses the default.",
                    "default": "default"
                  },
                  "landingPageTemplateId": {
                    "type": "string",
                    "description": "Custom event landing page template ID or default.",
                    "default": "default"
                  },
                  "rsvpEnabled": {
                    "type": "boolean",
                    "description": "Whether attendees must RSVP before adding the event.",
                    "default": false
                  },
                  "rsvpFormId": {
                    "type": "string",
                    "description": "Custom RSVP form ID or default.",
                    "default": "default"
                  },
                  "customData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Structured key-value data attached to the event."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allDayEvent": {
                            "type": "boolean",
                            "description": "Whether the event is all-day."
                          },
                          "calendarId": {
                            "type": "string",
                            "description": "Associated calendar ID."
                          },
                          "color": {
                            "type": "number",
                            "description": "Event color value."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event creation timestamp."
                          },
                          "datetimeEnd": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event end timestamp."
                          },
                          "datetimeStart": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event start timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Event description."
                          },
                          "freeBusy": {
                            "type": "string",
                            "description": "Free/busy visibility setting."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the event."
                          },
                          "internalName": {
                            "type": "string",
                            "description": "Internal-only event name."
                          },
                          "landingPageTemplateId": {
                            "type": "string",
                            "description": "Assigned event landing page template ID."
                          },
                          "linkLong": {
                            "type": "string",
                            "description": "Public long URL for the event."
                          },
                          "linkShort": {
                            "type": "string",
                            "description": "Public short URL for the event."
                          },
                          "location": {
                            "type": "string",
                            "description": "Event location."
                          },
                          "locationId": {
                            "type": "number",
                            "description": "Saved location ID."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event last modified timestamp."
                          },
                          "organizerEmail": {
                            "type": "string",
                            "description": "Organizer email."
                          },
                          "organizerName": {
                            "type": "string",
                            "description": "Organizer name."
                          },
                          "recurringRule": {
                            "type": "string",
                            "description": "Recurring rule in iCalendar format."
                          },
                          "reminder": {
                            "type": "number",
                            "description": "Reminder lead time in minutes."
                          },
                          "rsvp": {
                            "type": "object",
                            "properties": {
                              "settings": {
                                "type": "object",
                                "properties": {
                                  "inactive": {
                                    "type": "boolean"
                                  },
                                  "notifyEmails": {
                                    "type": "string"
                                  },
                                  "notifyFrequency": {
                                    "type": "string"
                                  },
                                  "rsvpFormId": {
                                    "type": "string"
                                  },
                                  "rsvpInactiveBefore": {
                                    "type": "number"
                                  },
                                  "rsvpInactiveMessage": {
                                    "type": "string"
                                  },
                                  "rsvpSeatsExceedMessage": {
                                    "type": "string"
                                  },
                                  "seatsLimit": {
                                    "type": "number"
                                  },
                                  "seatsLimited": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "countCantgo": {
                                    "type": "number"
                                  },
                                  "countGoing": {
                                    "type": "number"
                                  },
                                  "countMaybe": {
                                    "type": "number"
                                  },
                                  "countTotal": {
                                    "type": "number"
                                  },
                                  "seatsLeft": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "rsvpEnabled": {
                            "type": "boolean",
                            "description": "Whether the event requires RSVP."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Event timezone."
                          },
                          "title": {
                            "type": "string",
                            "description": "Event title."
                          },
                          "uniqueKey": {
                            "type": "string",
                            "description": "Public identifier for the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/create-rsvp-attendee": {
      "post": {
        "operationId": "addEvent.create-rsvp-attendee",
        "summary": "Create RSVP attendee",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/create-rsvp-attendee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "Unique identifier for the event."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address for the RSVP attendee."
                  },
                  "attending": {
                    "type": "string",
                    "description": "RSVP response status.",
                    "default": "going"
                  },
                  "notify": {
                    "type": "string",
                    "description": "Optional. Leave blank unless you want AddEvent notification emails; when used, set this to active."
                  },
                  "rsvpFormData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "For the default RSVP form, include `{ \"name\": \"Attendee Name\" }`. Custom RSVP forms may require additional keys."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attending": {
                            "type": "string",
                            "description": "Attendee RSVP response."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Attendee creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Attendee email address."
                          },
                          "eventId": {
                            "type": "string",
                            "description": "Associated event ID."
                          },
                          "geoLocation": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "ip": {
                                "type": "string"
                              },
                              "location": {
                                "type": "string"
                              },
                              "postal": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the RSVP attendee."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Attendee last modified timestamp."
                          },
                          "rsvpFormData": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rsvpFormLabels": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/delete-calendar": {
      "delete": {
        "operationId": "addEvent.delete-calendar",
        "summary": "Delete calendar",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/delete-calendar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the calendar.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the calendar."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/delete-calendar-subscriber": {
      "delete": {
        "operationId": "addEvent.delete-calendar-subscriber",
        "summary": "Delete calendar subscriber",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/delete-calendar-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriberId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the calendar subscriber.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the calendar subscriber."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/delete-event": {
      "delete": {
        "operationId": "addEvent.delete-event",
        "summary": "Delete event",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/delete-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the event.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the event."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/delete-rsvp-attendee": {
      "delete": {
        "operationId": "addEvent.delete-rsvp-attendee",
        "summary": "Delete RSVP attendee",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/delete-rsvp-attendee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendeeId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the RSVP attendee.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the RSVP attendee."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/list-calendar-templates": {
      "get": {
        "operationId": "addEvent.list-calendar-templates",
        "summary": "List calendar templates",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/list-calendar-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Calendar template type to return.",
            "schema": {
              "type": "string",
              "description": "Calendar template type to return.",
              "default": "calendar-landing"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/list-event-templates": {
      "get": {
        "operationId": "addEvent.list-event-templates",
        "summary": "List event templates",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/list-event-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Template type to return.",
            "schema": {
              "type": "string",
              "description": "Template type to return.",
              "default": "event-landing"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/list-rsvp-forms": {
      "get": {
        "operationId": "addEvent.list-rsvp-forms",
        "summary": "List RSVP forms",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/list-rsvp-forms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/list-timezones": {
      "get": {
        "operationId": "addEvent.list-timezones",
        "summary": "List timezones",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/list-timezones"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isDst": {
                            "type": "boolean"
                          },
                          "localTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string",
                            "description": "Timezone identifier."
                          },
                          "tzidAbbr": {
                            "type": "string"
                          },
                          "utcOffset": {
                            "type": "number"
                          },
                          "utcOffsetHours": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/retrieve-calendar": {
      "get": {
        "operationId": "addEvent.retrieve-calendar",
        "summary": "Retrieve calendar",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/retrieve-calendar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the calendar.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the calendar."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarColor": {
                            "type": "number",
                            "description": "Calendar color value."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Calendar creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Calendar description."
                          },
                          "embeddableCalendarTemplateId": {
                            "type": "string",
                            "description": "Assigned embeddable calendar template ID."
                          },
                          "eventDefaultTemplateId": {
                            "type": "string",
                            "description": "Default event template ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the calendar."
                          },
                          "internalName": {
                            "type": "string",
                            "description": "Internal-only calendar name."
                          },
                          "isDefaultCalendar": {
                            "type": "boolean",
                            "description": "Whether the calendar is the account default."
                          },
                          "landingPageTemplateId": {
                            "type": "string",
                            "description": "Assigned landing page template ID."
                          },
                          "linkLong": {
                            "type": "string",
                            "description": "Public long URL for the calendar."
                          },
                          "linkShort": {
                            "type": "string",
                            "description": "Public short URL for the calendar."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Calendar last modified timestamp."
                          },
                          "paletteId": {
                            "type": "string",
                            "description": "Associated color palette ID."
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "eventsCount": {
                                "type": "number"
                              },
                              "subscribersActiveCount": {
                                "type": "number"
                              },
                              "subscribersAllCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Default timezone for calendar events."
                          },
                          "title": {
                            "type": "string",
                            "description": "Calendar title."
                          },
                          "uniqueKey": {
                            "type": "string",
                            "description": "Public identifier for the calendar."
                          },
                          "weekdayBegin": {
                            "type": "string",
                            "description": "Day that the calendar starts on."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addEvent/latest/actions/retrieve-calendar-subscriber": {
      "get": {
        "operationId": "addEvent.retrieve-calendar-subscriber",
        "summary": "Retrieve calendar subscriber",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addEvent/latest/actions/retrieve-calendar-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriberId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the calendar subscriber.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the calendar subscriber."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarId": {
                            "type": "string",
                            "description": "Associated calendar ID."
                          },
                          "calendarType": {
                            "type": "string",
                            "description": "Calendar service used by the subscriber."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subscriber creation timestamp."
                          },
                          "geoLocation": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "ip": {
                                "type": "string"
                              },
                              "location": {
                                "type": "string"
                              },
                              "postal": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the calendar subscriber."
                          },
                          "subscriberStatus": {
                            "type": "string",
                            "description": "Subscriber status."
                          },
                          "syncCount": {
                            "type": "number",
                            "description": "Number of feed syncs."
                          },
                          "synced": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last feed sync timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
[...]
