{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Orimon Universal API",
    "version": "0.0.4",
    "description": "Sales-focused generative AI chatbot platform for customer conversations and lead engagement."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/orimon/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/orimon/latest/actions/send-message": {
      "post": {
        "operationId": "orimon.send-message",
        "summary": "Send Message",
        "description": "Creates a chatbot message in Orimon.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/orimon/latest/actions/send-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "info.tenantId",
                  "info.psid",
                  "message.payload.text",
                  "message.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "info.tenantId": {
                    "type": "string",
                    "description": "The unique ID of the chatbot you want to message.",
                    "example": "8c3a16ee-e978-4013-8209-9bea26d0c3e4",
                    "default": "8c3a16ee-e978-4013-8209-9bea26d0c3e4"
                  },
                  "info.psid": {
                    "type": "string",
                    "description": "A unique session identifier for the end user; docs recommend a random value plus '_' plus the tenantId.",
                    "example": "visitor-123_tenant-abc",
                    "default": "mindcloud_orimon_session_8c3a16ee-e978-4013-8209-9bea26d0c3e4"
                  },
                  "message.payload.text": {
                    "type": "string",
                    "description": "The user message to send to the chatbot.",
                    "example": "What is Orimon?",
                    "default": "Hello from MindCloud"
                  },
                  "message.id": {
                    "type": "string",
                    "description": "A unique identifier for this input message.",
                    "example": "msg-001",
                    "default": "mindcloud-test-message-001"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "deliveredMsgId": {
                                "type": "string",
                                "description": "Delivered message identifier."
                              },
                              "messages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "chatLogId": {
                                      "type": "string",
                                      "description": "Chat log record identifier."
                                    },
                                    "deliveredMsgId": {
                                      "type": "string",
                                      "description": "Delivered message ID echoed by Orimon."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "Returned message identifier."
                                    },
                                    "isTrainingRequired": {
                                      "type": "boolean",
                                      "description": "Whether additional training is required."
                                    },
                                    "payload": {
                                      "type": "object",
                                      "properties": {
                                        "relayData": {
                                          "type": "object",
                                          "additionalProperties": true,
                                          "description": "Additional relay payload data."
                                        },
                                        "text": {
                                          "type": "string",
                                          "description": "Bot reply text."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "psid": {
                                      "type": "string",
                                      "description": "Session ID provided in the request."
                                    },
                                    "sender": {
                                      "type": "string",
                                      "description": "Message sender."
                                    },
                                    "sessionId": {
                                      "type": "string",
                                      "description": "Session identifier for the message."
                                    },
                                    "tenantId": {
                                      "type": "string",
                                      "description": "Tenant ID for the chatbot."
                                    },
                                    "timestamp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Timestamp for the returned message."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Returned message type."
                                    }
                                  }
                                },
                                "description": "Returned message records."
                              },
                              "psid": {
                                "type": "string",
                                "description": "Session identifier echoed by Orimon."
                              },
                              "rawMessage": {
                                "type": "string",
                                "description": "Full bot reply text."
                              },
                              "sessionId": {
                                "type": "string",
                                "description": "Orimon session identifier."
                              },
                              "statuses": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Returned delivery statuses."
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp for the provider response."
                              },
                              "type": {
                                "type": "string",
                                "description": "Returned message envelope type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider status message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Overall request status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
