{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PiAPI/Skyreels Universal API",
    "version": "0.0.3",
    "description": "Create Skyreels video tasks and get task results"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/piAPISkyreels/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/piAPISkyreels/latest/actions/create-skyreels-task": {
      "post": {
        "operationId": "piAPISkyreels.create-skyreels-task",
        "summary": "Create Skyreels Task",
        "description": "Creates a new Skyreels task in PiAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPISkyreels/latest/actions/create-skyreels-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.image"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Prompt describing the motion or video to generate.",
                    "example": "FPS-24, gentle camera move over a portrait photo"
                  },
                  "input.image": {
                    "type": "string",
                    "description": "Source image URL for the Skyreels img2video task.",
                    "example": "https://example.com/source-image.png"
                  },
                  "input.negativePrompt": {
                    "type": "string",
                    "description": "Optional prompt describing what to avoid.",
                    "example": "chaotic, distortion, morphing",
                    "x-mindcloud-advanced": true
                  },
                  "input.aspectRatio": {
                    "type": "string",
                    "description": "Optional output aspect ratio.",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ],
                    "default": "16:9"
                  },
                  "input.guidanceScale": {
                    "type": "number",
                    "description": "Optional guidance scale value.",
                    "example": 3.5,
                    "default": 3.5,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "properties": {
                                  "aspect_ratio": {
                                    "type": "string"
                                  },
                                  "guidance_scale": {
                                    "type": "number"
                                  },
                                  "image": {
                                    "type": "string"
                                  },
                                  "negative_prompt": {
                                    "type": "string"
                                  },
                                  "prompt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "ended_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPISkyreels/latest/actions/get-account-info": {
      "get": {
        "operationId": "piAPISkyreels.get-account-info",
        "summary": "Get Account Info",
        "description": "Retrieves information about your PiAPI account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPISkyreels/latest/actions/get-account-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "account_group": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "is_enable": {
                                "type": "boolean"
                              },
                              "is_verified": {
                                "type": "boolean"
                              },
                              "max_concurrent_task_count": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "plan": {
                                "type": "string"
                              },
                              "platform": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "wallet": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "point_frozen": {
                                    "type": "number"
                                  },
                                  "point_remain": {
                                    "type": "number"
                                  },
                                  "point_used": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPISkyreels/latest/actions/get-skyreels-task": {
      "get": {
        "operationId": "piAPISkyreels.get-skyreels-task",
        "summary": "Get Skyreels Task",
        "description": "Retrieves a Skyreels task by ID from PiAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPISkyreels/latest/actions/get-skyreels-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "Skyreels task identifier returned from Create Skyreels Task.",
            "schema": {
              "type": "string",
              "description": "Skyreels task identifier returned from Create Skyreels Task.",
              "example": "736fde4d-9029-4915-8189-01353d6982cb"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "properties": {
                                  "aspect_ratio": {
                                    "type": "string"
                                  },
                                  "guidance_scale": {
                                    "type": "number"
                                  },
                                  "image": {
                                    "type": "string"
                                  },
                                  "negative_prompt": {
                                    "type": "string"
                                  },
                                  "prompt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "ended_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "properties": {
                                  "video_url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
