{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "FDIC Universal API",
    "version": "0.1.3",
    "description": "Access FDIC BankFind Suite public banking data for insured institutions, branch locations, structure history, financials, summary data, failures, Summary of Deposits, and demographics."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/fDIC/latest/actions/list-bank-failures": {
      "get": {
        "operationId": "fDIC.list-bank-failures",
        "summary": "List Bank Failures",
        "description": "Retrieves failed bank records from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-bank-failures"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter for bank failure records, for example FAILYR:2023.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter for bank failure records, for example FAILYR:2023."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited uppercase FDIC fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited uppercase FDIC fields to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CERT": {
                            "type": "number"
                          },
                          "CITY": {
                            "type": "string"
                          },
                          "COST": {
                            "type": "number"
                          },
                          "FAILDATE": {
                            "type": "string"
                          },
                          "FAILYR": {
                            "type": "string"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "NAME": {
                            "type": "string"
                          },
                          "PSTALP": {
                            "type": "string"
                          },
                          "QBFASSET": {
                            "type": "number"
                          },
                          "QBFDEP": {
                            "type": "number"
                          },
                          "RESTYPE": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fDIC/latest/actions/list-demographics-summary": {
      "get": {
        "operationId": "fDIC.list-demographics-summary",
        "summary": "List Demographics Summary",
        "description": "Retrieves demographic banking data from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-demographics-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter for demographics records.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter for demographics records."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CBSANAME": {
                            "type": "string"
                          },
                          "CERT": {
                            "type": "number"
                          },
                          "DIVISION": {
                            "type": "number"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "OFFNDOM": {
                            "type": "number"
                          },
                          "OFFSTATE": {
                            "type": "number"
                          },
                          "OFFTOT": {
                            "type": "number"
                          },
                          "REPDTE": {
                            "type": "string"
                          },
                          "SIMS_LAT": {
                            "type": "number"
                          },
                          "SIMS_LONG": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fDIC/latest/actions/list-financial-institutions": {
      "get": {
        "operationId": "fDIC.list-financial-institutions",
        "summary": "List Financial Institutions",
        "description": "Retrieves financial institutions from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-financial-institutions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter, for example STALP:IA AND ACTIVE:1.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter, for example STALP:IA AND ACTIVE:1."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Flexible text search against institution names, for example NAME:Island.",
            "schema": {
              "type": "string",
              "description": "Flexible text search against institution names, for example NAME:Island."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited uppercase FDIC fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited uppercase FDIC fields to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ACTIVE": {
                            "type": "number",
                            "description": "FDIC active institution flag."
                          },
                          "ASSET": {
                            "type": "number",
                            "description": "Total assets."
                          },
                          "CERT": {
                            "type": "number",
                            "description": "FDIC certificate number."
                          },
                          "CITY": {
                            "type": "string",
                            "description": "Institution city."
                          },
                          "DATEUPDT": {
                            "type": "string",
                            "description": "Last updated date."
                          },
                          "DEP": {
                            "type": "number",
                            "description": "Total deposits."
                          },
                          "NAME": {
                            "type": "string",
                            "description": "Institution name."
                          },
                          "OFFICES": {
                            "type": "number",
                            "description": "Office count."
                          },
                          "STALP": {
                            "type": "string",
                            "description": "State abbreviation."
                          },
                          "STNAME": {
                            "type": "string",
                            "description": "State name."
                          },
                          "WEBADDR": {
                            "type": "string",
                            "description": "Institution website address."
                          },
                          "ZIP": {
                            "type": "string",
                            "description": "ZIP code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fDIC/latest/actions/list-historical-aggregate-data": {
      "get": {
        "operationId": "fDIC.list-historical-aggregate-data",
        "summary": "List Historical Aggregate Data",
        "description": "Retrieves historical aggregate banking data from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-historical-aggregate-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter for historical aggregate data.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter for historical aggregate data."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited uppercase FDIC fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited uppercase FDIC fields to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "aggBy",
            "in": "query",
            "required": false,
            "description": "FDIC aggregate grouping field for summary data.",
            "schema": {
              "type": "string",
              "description": "FDIC aggregate grouping field for summary data.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "aggSumFields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited fields to sum in FDIC aggregation.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited fields to sum in FDIC aggregation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ASSET": {
                            "type": "number"
                          },
                          "BANKS": {
                            "type": "number"
                          },
                          "DEP": {
                            "type": "number"
                          },
                          "EQ": {
                            "type": "number"
                          },
                          "LNLS": {
                            "type": "number"
                          },
                          "NETINC": {
                            "type": "number"
                          },
                          "ROA": {
                            "type": "number"
                          },
                          "ROE": {
                            "type": "number"
                          },
                          "STNAME": {
                            "type": "string"
                          },
                          "TOTAL": {
                            "type": "number"
                          },
                          "YEAR": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fDIC/latest/actions/list-institution-financials": {
      "get": {
        "operationId": "fDIC.list-institution-financials",
        "summary": "List Institution Financials",
        "description": "Retrieves institution financial data from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-institution-financials"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter for financial records, for example CERT:3510.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter for financial records, for example CERT:3510."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited uppercase FDIC fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited uppercase FDIC fields to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "aggBy",
            "in": "query",
            "required": false,
            "description": "FDIC aggregate grouping field for financial data.",
            "schema": {
              "type": "string",
              "description": "FDIC aggregate grouping field for financial data.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "aggSumFields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited fields to sum in FDIC aggregation.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited fields to sum in FDIC aggregation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ASSET": {
                            "type": "number",
                            "description": "Total assets."
                          },
                          "CERT": {
                            "type": "number",
                            "description": "FDIC certificate number."
                          },
                          "DEP": {
                            "type": "number",
                            "description": "Total deposits."
                          },
                          "DEPDOM": {
                            "type": "number",
                            "description": "Domestic deposits."
                          },
                          "NAME": {
                            "type": "string",
                            "description": "Institution name."
                          },
                          "NETINC": {
                            "type": "number",
                            "description": "Net income."
                          },
                          "REPDTE": {
                            "type": "string",
                            "description": "Report date."
                          },
                          "ROA": {
                            "type": "number",
                            "description": "Return on assets."
                          },
                          "ROE": {
                            "type": "number",
                            "description": "Return on equity."
                          },
                          "STALP": {
                            "type": "string",
                            "description": "State abbreviation."
                          },
                          "STNAME": {
                            "type": "string",
                            "description": "State name."
                          },
                          "ZIP": {
                            "type": "number",
                            "description": "ZIP code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fDIC/latest/actions/list-institution-locations": {
      "get": {
        "operationId": "fDIC.list-institution-locations",
        "summary": "List Institution Locations",
        "description": "Retrieves institution locations from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-institution-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter for location records, for example STALP:IA.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter for location records, for example STALP:IA."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited uppercase FDIC fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited uppercase FDIC fields to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ADDRESS": {
                            "type": "string"
                          },
                          "CERT": {
                            "type": "string"
                          },
                          "CITY": {
                            "type": "string"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "LATITUDE": {
                            "type": "number"
                          },
                          "LONGITUDE": {
                            "type": "number"
                          },
                          "MAINOFF": {
                            "type": "number"
                          },
                          "NAME": {
                            "type": "string"
                          },
                          "OFFNAME": {
                            "type": "string"
                          },
                          "STALP": {
                            "type": "string"
                          },
                          "STNAME": {
                            "type": "string"
                          },
                          "ZIP": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fDIC/latest/actions/list-structure-change-events": {
      "get": {
        "operationId": "fDIC.list-structure-change-events",
        "summary": "List Structure Change Events",
        "description": "Retrieves structure change events from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-structure-change-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter for structure change events.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter for structure change events."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Flexible text search against history records.",
            "schema": {
              "type": "string",
              "description": "Flexible text search against history records."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited uppercase FDIC fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited uppercase FDIC fields to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CERT": {
                            "type": "number"
                          },
                          "CHANGECODE": {
                            "type": "number"
                          },
                          "CLASS_TYPE_DESC": {
                            "type": "string"
                          },
                          "EFFYEAR": {
                            "type": "string"
                          },
                          "FDICREGION_DESC": {
                            "type": "string"
                          },
                          "INSTNAME": {
                            "type": "string"
                          },
                          "PCITY": {
                            "type": "string"
                          },
                          "PROCYEAR": {
                            "type": "string"
                          },
                          "PSTALP": {
                            "type": "string"
                          },
                          "REPORT_TYPE": {
                            "type": "number"
                          },
                          "TRANSNUM": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fDIC/latest/actions/list-summary-of-deposits": {
      "get": {
        "operationId": "fDIC.list-summary-of-deposits",
        "summary": "List Summary Of Deposits",
        "description": "Retrieves summary of deposits data from FDIC.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fDIC/latest/actions/list-summary-of-deposits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Elastic Search query string filter for Summary of Deposits records.",
            "schema": {
              "type": "string",
              "description": "Elastic Search query string filter for Summary of Deposits records."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited uppercase FDIC fields to include in the response.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited uppercase FDIC fields to include in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "aggBy",
            "in": "query",
            "required": false,
            "description": "FDIC aggregate grouping field for Summary of Deposits data.",
            "schema": {
              "type": "string",
              "description": "FDIC aggregate grouping field for Summary of Deposits data.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "aggSumFields",
            "in": "query",
            "required": false,
            "description": "Comma-delimited fields to sum in FDIC aggregation.",
            "schema": {
              "type": "string",
              "description": "Comma-delimited fields to sum in FDIC aggregation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ADDRESS": {
                            "type": "string"
                          },
                          "CERT": {
                            "type": "number"
                          },
                          "CITY": {
                            "type": "string"
                          },
                          "DEPDOM": {
                            "type": "number"
                          },
                          "DEPSUM": {
                            "type": "number"
                          },
                          "DEPSUMBR": {
                            "type": "number"
                          },
                          "NAME": {
                            "type": "string"
                          },
                          "NAMEBR": {
                            "type": "string"
                          },
                          "SIMS_LATITUDE": {
                            "type": "number"
                          },
                          "SIMS_LONGITUDE": {
                            "type": "number"
                          },
                          "STNAME": {
                            "type": "string"
                          },
                          "YEAR": {
                            "type": "number"
                          },
                          "ZIP": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
