{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PrintNode Universal API",
    "version": "0.0.5",
    "description": "PrintNode: Manage printers, print jobs, computers, and client downloads"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/printNode/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/printNode/latest/actions/cancel-print-jobs": {
      "delete": {
        "operationId": "printNode.cancel-print-jobs",
        "summary": "Cancel Print Jobs",
        "description": "Cancels undelivered print jobs in PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/cancel-print-jobs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "IDs of the print jobs cancelled by the delete request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/cancel-print-jobs-by-set": {
      "delete": {
        "operationId": "printNode.cancel-print-jobs-by-set",
        "summary": "Cancel Print Jobs by Set",
        "description": "Cancels specific undelivered print jobs in PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/cancel-print-jobs-by-set"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "printJobSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode print job IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode print job IDs."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "IDs of the print jobs cancelled by the delete request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/cancel-printer-print-jobs": {
      "delete": {
        "operationId": "printNode.cancel-printer-print-jobs",
        "summary": "Cancel Printer Print Jobs",
        "description": "Cancels undelivered print jobs for specific printers in PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/cancel-printer-print-jobs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "printerSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode printer IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode printer IDs."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "IDs of the print jobs cancelled by the delete request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/cancel-printer-print-jobs-by-set": {
      "delete": {
        "operationId": "printNode.cancel-printer-print-jobs-by-set",
        "summary": "Cancel Printer Print Jobs by Set",
        "description": "Cancels specific undelivered print jobs for specific printers in PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/cancel-printer-print-jobs-by-set"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "printerSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode printer IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode printer IDs."
            }
          },
          {
            "name": "printJobSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode print job IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode print job IDs."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "IDs of the print jobs cancelled by the delete request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/create-print-job": {
      "post": {
        "operationId": "printNode.create-print-job",
        "summary": "Create Print Job",
        "description": "Creates a new print job in PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/create-print-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "printerId",
                  "contentType",
                  "content"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "printerId": {
                    "type": "number",
                    "description": "The ID of the printer you want to print to."
                  },
                  "contentType": {
                    "type": "string",
                    "description": "One of pdf_uri, pdf_base64, raw_uri, or raw_base64."
                  },
                  "content": {
                    "type": "string",
                    "description": "A document URI or a base64-encoded document, depending on contentType."
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional print queue title."
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional description of where the print job originated."
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional object of PrintNode print options, such as copies, pages, duplex, paper, or bin."
                  },
                  "expireAfter": {
                    "type": "number",
                    "description": "Optional maximum number of seconds PrintNode should retain the print job before expiry."
                  },
                  "qty": {
                    "type": "number",
                    "description": "Optional number of times the print job should be delivered to the queue."
                  },
                  "authentication": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional HTTP Basic or Digest authentication object used when PrintNode must download the document from a protected URI."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "ID of the created print job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/delete-computers": {
      "delete": {
        "operationId": "printNode.delete-computers",
        "summary": "Delete Computers",
        "description": "Deletes one or more computers from PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/delete-computers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "IDs of the computers affected by the delete request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/delete-computers-by-set": {
      "delete": {
        "operationId": "printNode.delete-computers-by-set",
        "summary": "Delete Computers by Set",
        "description": "Deletes specific computers from PrintNode by ID set.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/delete-computers-by-set"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "computerSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode computer IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode computer IDs."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "IDs of the computers affected by the delete request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/get-computer-scale": {
      "get": {
        "operationId": "printNode.get-computer-scale",
        "summary": "Get Computer Scale",
        "description": "Retrieves a specific scale from PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/get-computer-scale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "computerId",
            "in": "query",
            "required": true,
            "description": "PrintNode computer ID.",
            "schema": {
              "type": "string",
              "description": "PrintNode computer ID."
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Scale device name from PrintNode.",
            "schema": {
              "type": "string",
              "description": "Scale device name from PrintNode."
            }
          },
          {
            "name": "deviceNumber",
            "in": "query",
            "required": true,
            "description": "Scale device number from PrintNode.",
            "schema": {
              "type": "string",
              "description": "Scale device number from PrintNode."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ageOfData": {
                            "type": "number",
                            "description": "Age of the latest reading in milliseconds."
                          },
                          "clientReportedCreateTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the client reported the reading."
                          },
                          "computerId": {
                            "type": "number",
                            "description": "Computer identifier."
                          },
                          "deviceName": {
                            "type": "string",
                            "description": "Scale device name."
                          },
                          "deviceNum": {
                            "type": "number",
                            "description": "Scale device number on the computer."
                          },
                          "mass": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Scale mass values reported by PrintNode."
                          },
                          "measurement": {
                            "type": "object",
                            "properties": {
                              "g": {
                                "type": "number",
                                "description": "Latest scale measurement in grams."
                              }
                            },
                            "additionalProperties": false
                          },
                          "port": {
                            "type": "string",
                            "description": "Port or device path reported by PrintNode."
                          },
                          "product": {
                            "type": "string",
                            "description": "Scale product name."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Scale product identifier."
                          },
                          "vendor": {
                            "type": "string",
                            "description": "Scale vendor name."
                          },
                          "vendorId": {
                            "type": "number",
                            "description": "Scale vendor identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/get-computer-scales-by-device-name": {
      "get": {
        "operationId": "printNode.get-computer-scales-by-device-name",
        "summary": "Get Computer Scales by Device Name",
        "description": "Retrieves scales by device name for a computer from PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/get-computer-scales-by-device-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "computerId",
            "in": "query",
            "required": true,
            "description": "PrintNode computer ID.",
            "schema": {
              "type": "string",
              "description": "PrintNode computer ID."
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Scale device name from PrintNode.",
            "schema": {
              "type": "string",
              "description": "Scale device name from PrintNode."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ageOfData": {
                            "type": "number",
                            "description": "Age of the latest reading in milliseconds."
                          },
                          "clientReportedCreateTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the client reported the reading."
                          },
                          "computerId": {
                            "type": "number",
                            "description": "Computer identifier."
                          },
                          "deviceName": {
                            "type": "string",
                            "description": "Scale device name."
                          },
                          "deviceNum": {
                            "type": "number",
                            "description": "Scale device number on the computer."
                          },
                          "mass": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Scale mass values reported by PrintNode."
                          },
                          "measurement": {
                            "type": "object",
                            "properties": {
                              "g": {
                                "type": "number",
                                "description": "Latest scale measurement in grams."
                              }
                            },
                            "additionalProperties": false
                          },
                          "port": {
                            "type": "string",
                            "description": "Port or device path reported by PrintNode."
                          },
                          "product": {
                            "type": "string",
                            "description": "Scale product name."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Scale product identifier."
                          },
                          "vendor": {
                            "type": "string",
                            "description": "Scale vendor name."
                          },
                          "vendorId": {
                            "type": "number",
                            "description": "Scale vendor identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/get-current-account": {
      "get": {
        "operationId": "printNode.get-current-account",
        "summary": "Get Current Account",
        "description": "Retrieves current account details from PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/get-current-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canCreateSubAccounts": {
                            "type": "boolean",
                            "description": "Whether the account can create sub-accounts."
                          },
                          "email": {
                            "type": "string",
                            "description": "Account email address."
                          },
                          "firstname": {
                            "type": "string",
                            "description": "Account first name."
                          },
                          "id": {
                            "type": "number",
                            "description": "PrintNode account ID."
                          },
                          "lastname": {
                            "type": "string",
                            "description": "Account last name."
                          },
                          "numComputers": {
                            "type": "number",
                            "description": "Number of computers connected to the account."
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "PrintNode permissions granted to the account."
                          },
                          "state": {
                            "type": "string",
                            "description": "Account state."
                          },
                          "totalPrints": {
                            "type": "number",
                            "description": "Total prints processed by the account."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/get-latest-client-download": {
      "get": {
        "operationId": "printNode.get-latest-client-download",
        "summary": "Get Latest Client Download",
        "description": "Retrieves the latest client download from PrintNode by operating system.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/get-latest-client-download"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operatingSystem",
            "in": "query",
            "required": true,
            "description": "Operating system token from the PrintNode download docs.",
            "schema": {
              "type": "string",
              "description": "Operating system token from the PrintNode download docs."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "edition": {
                            "type": "string",
                            "description": "PrintNode client edition name."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Download filename."
                          },
                          "filesize": {
                            "type": "number",
                            "description": "Download file size in bytes."
                          },
                          "releaseTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release timestamp for the latest client build."
                          },
                          "sha1": {
                            "type": "string",
                            "description": "SHA1 digest of the latest client build."
                          },
                          "url": {
                            "type": "string",
                            "description": "Latest client download URL returned by PrintNode."
                          },
                          "version": {
                            "type": "string",
                            "description": "Client version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/list-computer-printers": {
      "get": {
        "operationId": "printNode.list-computer-printers",
        "summary": "List Computer Printers",
        "description": "Retrieves printers for specific computers from PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/list-computer-printers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "computerSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode computer IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode computer IDs."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capabilities": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Printer capability summary reported by PrintNode."
                          },
                          "computer": {
                            "type": "object",
                            "properties": {
                              "createTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the owning computer was first registered."
                              },
                              "id": {
                                "type": "number",
                                "description": "Owning computer identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Owning computer name."
                              },
                              "state": {
                                "type": "string",
                                "description": "Owning computer connection state."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the printer was first reported."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the printer is the default printer."
                          },
                          "description": {
                            "type": "string",
                            "description": "Printer description."
                          },
                          "id": {
                            "type": "number",
                            "description": "Printer identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Printer name."
                          },
                          "state": {
                            "type": "string",
                            "description": "Printer state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/list-computer-printers-by-set": {
      "get": {
        "operationId": "printNode.list-computer-printers-by-set",
        "summary": "List Computer Printers by Set",
        "description": "Retrieves specific printers for specific computers from PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/list-computer-printers-by-set"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "computerSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode computer IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode computer IDs."
            }
          },
          {
            "name": "printerSet",
            "in": "query",
            "required": true,
            "description": "Comma-separated PrintNode printer IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated PrintNode printer IDs."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capabilities": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Printer capability summary reported by PrintNode."
                          },
                          "computer": {
                            "type": "object",
                            "properties": {
                              "createTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the owning computer was first registered."
                              },
                              "id": {
                                "type": "number",
                                "description": "Owning computer identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Owning computer name."
                              },
                              "state": {
                                "type": "string",
                                "description": "Owning computer connection state."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the printer was first reported."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the printer is the default printer."
                          },
                          "description": {
                            "type": "string",
                            "description": "Printer description."
                          },
                          "id": {
                            "type": "number",
                            "description": "Printer identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Printer name."
                          },
                          "state": {
                            "type": "string",
                            "description": "Printer state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/printNode/latest/actions/list-computer-scales": {
      "get": {
        "operationId": "printNode.list-computer-scales",
        "summary": "List Computer Scales",
        "description": "Retrieves scales for a specific computer from PrintNode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/printNode/latest/actions/list-computer-scales"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "computerId",
            "in": "query",
            "required": true,
            "description": "PrintNode computer ID.",
            "schema": {
              "type": "string",
              "description": "PrintNode computer ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ageOfData": {
                            "type": "number",
                            "description": "Age of the latest reading in milliseconds."
                          },
                          "clientReportedCreateTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the client reported the reading."
                          },
                          "computerId": {
                            "type": "number",
                            "description": "Computer identifier."
                          },
                          "deviceName": {
                            "type": "string",
                            "description": "Scale device name."
                          },
                          "deviceNum": {
                            "type": "number",
                            "description": "Scale device number on the computer."
                          },
                          "mass": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Scale mass values reported by PrintNode."
                          },
                          "measurement": {
                            "type": "object",
                            "properties": {
                              "g": {
                                "type": "number",
                                "description": "Latest scale measurement in grams."
                              }
                            },
                            "additionalProperties": false
                          },
                          "port": {
                            "type": "string",
                            "description": "Port or device path reported by PrintNode."
                          },
                          "product": {
                            "type": "string",
                            "description": "Scale product name."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Scale product identifier."
                          },
                          "vendor": {
                            "type": "string",
                            "description": "Scale vendor name."
                          },
                          "vendorId": {
                            "type": "number",
                            "description": "Scale vendor identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
