{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Nudgify Universal API",
    "version": "0.0.6",
    "description": "Send sign-ups and purchases to power social proof nudges"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nudgify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nudgify/latest/actions/create-conversion": {
      "post": {
        "operationId": "nudgify.create-conversion",
        "summary": "Create Conversion",
        "description": "Creates conversion events in Nudgify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nudgify/latest/actions/create-conversion"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversions[]",
                  "conversions[].date"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One or more conversion events to send to Nudgify."
                  },
                  "conversions[].date": {
                    "type": "string",
                    "description": "UTC timestamp in `Y-m-d H:i:s` format."
                  },
                  "conversions[].email": {
                    "type": "string",
                    "description": "Email address tied to the conversion."
                  },
                  "conversions[].firstName": {
                    "type": "string",
                    "description": "First name to show in the nudge."
                  },
                  "conversions[].lastName": {
                    "type": "string",
                    "description": "Last name to show in the nudge."
                  },
                  "conversions[].ip": {
                    "type": "string",
                    "description": "IP address used for location fallback."
                  },
                  "conversions[].city": {
                    "type": "string",
                    "description": "City to show in the nudge."
                  },
                  "conversions[].state": {
                    "type": "string",
                    "description": "State or region to show in the nudge."
                  },
                  "conversions[].country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nudgify/latest/actions/create-purchase": {
      "post": {
        "operationId": "nudgify.create-purchase",
        "summary": "Create Purchase",
        "description": "Creates purchase events in Nudgify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nudgify/latest/actions/create-purchase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orders[]",
                  "orders[].orderId",
                  "orders[].date"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orders[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One or more purchase events to send to Nudgify."
                  },
                  "orders[].orderId": {
                    "type": "number",
                    "description": "Integer order identifier for the purchase."
                  },
                  "orders[].date": {
                    "type": "string",
                    "description": "UTC timestamp in `Y-m-d H:i:s` format."
                  },
                  "orders[].email": {
                    "type": "string",
                    "description": "Email address tied to the purchase."
                  },
                  "orders[].firstName": {
                    "type": "string",
                    "description": "First name to show in the nudge."
                  },
                  "orders[].lastName": {
                    "type": "string",
                    "description": "Last name to show in the nudge."
                  },
                  "orders[].ip": {
                    "type": "string",
                    "description": "IP address used for location fallback."
                  },
                  "orders[].city": {
                    "type": "string",
                    "description": "City to show in the nudge."
                  },
                  "orders[].state": {
                    "type": "string",
                    "description": "State or region to show in the nudge."
                  },
                  "orders[].country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code."
                  },
                  "orders[].lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional line items attached to the purchase."
                  },
                  "orders[].lineItems[].itemId": {
                    "type": "number",
                    "description": "Item identifier for a purchased line item. Runtime validation required this to be an integer."
                  },
                  "orders[].lineItems[].itemVariationId": {
                    "type": "string",
                    "description": "Variation or SKU identifier for the line item."
                  },
                  "orders[].lineItems[].itemName": {
                    "type": "string",
                    "description": "Display name of the purchased item."
                  },
                  "orders[].lineItems[].itemLink": {
                    "type": "string",
                    "description": "Product page URL for the purchased item."
                  },
                  "orders[].lineItems[].imageUrl": {
                    "type": "string",
                    "description": "Image URL for the purchased item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
