{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "NewsBlur Universal API",
    "version": "0.0.2",
    "description": "NewsBlur is a personal news reader for following RSS feeds, reading unread stories, saving articles, and managing feed subscriptions."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/newsBlur/latest/actions/add-feed": {
      "post": {
        "operationId": "newsBlur.add-feed",
        "summary": "Add Feed",
        "description": "Adds a feed to NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/add-feed"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "RSS feed URL or website URL to add."
                  },
                  "folder": {
                    "type": "string",
                    "description": "Folder to place the feed in. Omit for top level."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "code": {
                            "type": "number",
                            "description": "NewsBlur result code."
                          },
                          "feed": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Added or existing feed details."
                          },
                          "folder": {
                            "type": "string",
                            "description": "Folder path used for the feed."
                          },
                          "message": {
                            "type": "string",
                            "description": "Status message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/add-folder": {
      "post": {
        "operationId": "newsBlur.add-folder",
        "summary": "Add Folder",
        "description": "Creates a folder in NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/add-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "folder"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "folder": {
                    "type": "string",
                    "description": "Folder name to create."
                  },
                  "parentFolder": {
                    "type": "string",
                    "description": "Existing parent folder. Omit for top level."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "code": {
                            "type": "number",
                            "description": "NewsBlur result code."
                          },
                          "folders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Updated folder tree."
                          },
                          "message": {
                            "type": "string",
                            "description": "Status message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/autocomplete-feeds": {
      "get": {
        "operationId": "newsBlur.autocomplete-feeds",
        "summary": "Autocomplete Feeds",
        "description": "Finds feeds in NewsBlur by search phrase.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/autocomplete-feeds"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "Phrase to search for in feed address, URL, and title.",
            "schema": {
              "type": "string",
              "description": "Phrase to search for in feed address, URL, and title."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feeds": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Feed autocomplete suggestions."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/get-feed-page": {
      "get": {
        "operationId": "newsBlur.get-feed-page",
        "summary": "Get Feed Page",
        "description": "Retrieves a feed page from NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/get-feed-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Feed ID for the original page.",
            "schema": {
              "type": "number",
              "description": "Feed ID for the original page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Feed page HTML returned by NewsBlur."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/get-feed-statistics": {
      "get": {
        "operationId": "newsBlur.get-feed-statistics",
        "summary": "Get Feed Statistics",
        "description": "Retrieves feed statistics from NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/get-feed-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Feed ID for statistics.",
            "schema": {
              "type": "number",
              "description": "Feed ID for statistics."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "average_stories_per_month": {
                            "type": "number",
                            "description": "Average monthly story count."
                          },
                          "feed_address": {
                            "type": "string",
                            "description": "Feed RSS URL."
                          },
                          "feed_id": {
                            "type": "number",
                            "description": "Feed ID."
                          },
                          "feed_link": {
                            "type": "string",
                            "description": "Feed website URL."
                          },
                          "feed_title": {
                            "type": "string",
                            "description": "Feed title."
                          },
                          "num_subscribers": {
                            "type": "number",
                            "description": "Subscriber count."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "stories_last_month": {
                            "type": "number",
                            "description": "Stories published last month."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/get-feed-stories": {
      "get": {
        "operationId": "newsBlur.get-feed-stories",
        "summary": "Get Feed Stories",
        "description": "Retrieves stories from a feed in NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/get-feed-stories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Feed ID to retrieve stories from.",
            "schema": {
              "type": "number",
              "description": "Feed ID to retrieve stories from."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Story order: newest or oldest.",
            "schema": {
              "type": "string",
              "description": "Story order: newest or oldest.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "readFilter",
            "in": "query",
            "required": false,
            "description": "Show all stories or only unread stories.",
            "schema": {
              "type": "string",
              "description": "Show all stories or only unread stories.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "dateFilterStart",
            "in": "query",
            "required": false,
            "description": "Only include stories published on or after this date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include stories published on or after this date in YYYY-MM-DD format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateFilterEnd",
            "in": "query",
            "required": false,
            "description": "Only include stories published on or before this date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include stories published on or before this date in YYYY-MM-DD format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeHidden",
            "in": "query",
            "required": false,
            "description": "Include hidden stories.",
            "schema": {
              "type": "boolean",
              "description": "Include hidden stories.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeStoryContent",
            "in": "query",
            "required": false,
            "description": "Include story content in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include story content in the response.",
              "default": true
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search keyword or phrase in the feed. NewsBlur notes feed search is premium-only.",
            "schema": {
              "type": "string",
              "description": "Search keyword or phrase in the feed. NewsBlur notes feed search is premium-only.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "classifiers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feed intelligence classifiers."
                          },
                          "feed_address": {
                            "type": "string",
                            "description": "Feed RSS URL."
                          },
                          "feed_id": {
                            "type": "number",
                            "description": "Feed ID."
                          },
                          "feed_title": {
                            "type": "string",
                            "description": "Feed title."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "stories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Stories returned for the feed."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/get-original-story": {
      "get": {
        "operationId": "newsBlur.get-original-story",
        "summary": "Get Original Story",
        "description": "Retrieves a story's original webpage from NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/get-original-story"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storyHash",
            "in": "query",
            "required": true,
            "description": "Story hash to fetch the original website story for.",
            "schema": {
              "type": "string",
              "description": "Story hash to fetch the original website story for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Original story HTML returned by NewsBlur."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/get-original-text": {
      "get": {
        "operationId": "newsBlur.get-original-text",
        "summary": "Get Original Text",
        "description": "Retrieves a story's original text from NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/get-original-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storyHash",
            "in": "query",
            "required": true,
            "description": "Story hash to fetch extracted full text for.",
            "schema": {
              "type": "string",
              "description": "Story hash to fetch extracted full text for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "failed": {
                            "type": "boolean",
                            "description": "Whether extraction failed."
                          },
                          "feed_id": {
                            "type": "number",
                            "description": "Feed ID."
                          },
                          "original_text": {
                            "type": "string",
                            "description": "Extracted original story text or HTML."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "story_hash": {
                            "type": "string",
                            "description": "Story hash."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/get-river-stories": {
      "get": {
        "operationId": "newsBlur.get-river-stories",
        "summary": "Get River Stories",
        "description": "Retrieves stories from multiple feeds in NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/get-river-stories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedId",
            "in": "query",
            "required": true,
            "description": "Feed ID to include in the River of News. NewsBlur supports repeating feeds for multiple feeds.",
            "schema": {
              "type": "number",
              "description": "Feed ID to include in the River of News. NewsBlur supports repeating feeds for multiple feeds."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Story order: newest or oldest.",
            "schema": {
              "type": "string",
              "description": "Story order: newest or oldest.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "readFilter",
            "in": "query",
            "required": false,
            "description": "Show all stories or only unread stories.",
            "schema": {
              "type": "string",
              "description": "Show all stories or only unread stories.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "dateFilterStart",
            "in": "query",
            "required": false,
            "description": "Only include stories published on or after this date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include stories published on or after this date in YYYY-MM-DD format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateFilterEnd",
            "in": "query",
            "required": false,
            "description": "Only include stories published on or before this date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include stories published on or before this date in YYYY-MM-DD format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeHidden",
            "in": "query",
            "required": false,
            "description": "Include hidden stories.",
            "schema": {
              "type": "boolean",
              "description": "Include hidden stories.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search keyword or phrase in the folder. NewsBlur notes feed search is premium-only.",
            "schema": {
              "type": "string",
              "description": "Search keyword or phrase in the folder. NewsBlur notes feed search is premium-only.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "infrequent",
            "in": "query",
            "required": false,
            "description": "Show only stories from infrequently published sites, using a stories-per-month value or false.",
            "schema": {
              "type": "string",
              "description": "Show only stories from infrequently published sites, using a stories-per-month value or false.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "classifiers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feed intelligence classifiers."
                          },
                          "code": {
                            "type": "number",
                            "description": "NewsBlur result code."
                          },
                          "elapsed_time": {
                            "type": "number",
                            "description": "Server processing time."
                          },
                          "hidden_stories_removed": {
                            "type": "number",
                            "description": "Count of hidden stories removed."
                          },
                          "message": {
                            "type": "string",
                            "description": "Status message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "stories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "River stories."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          },
                          "user_profiles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related user profiles."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/get-stories-by-hash": {
      "get": {
        "operationId": "newsBlur.get-stories-by-hash",
        "summary": "Get Stories By Hash",
        "description": "Retrieves stories from NewsBlur by story hash.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/get-stories-by-hash"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storyHash",
            "in": "query",
            "required": true,
            "description": "Story hash to retrieve. NewsBlur supports repeating h up to 100 hashes.",
            "schema": {
              "type": "string",
              "description": "Story hash to retrieve. NewsBlur supports repeating h up to 100 hashes."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "classifiers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feed intelligence classifiers."
                          },
                          "code": {
                            "type": "number",
                            "description": "NewsBlur result code."
                          },
                          "elapsed_time": {
                            "type": "number",
                            "description": "Server processing time."
                          },
                          "hidden_stories_removed": {
                            "type": "number",
                            "description": "Count of hidden stories removed."
                          },
                          "message": {
                            "type": "string",
                            "description": "Status message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "stories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Stories matching the requested hashes."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          },
                          "user_profiles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related user profiles."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/list-favicons": {
      "get": {
        "operationId": "newsBlur.list-favicons",
        "summary": "List Favicons",
        "description": "Retrieves feed favicons from NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/list-favicons"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedId",
            "in": "query",
            "required": false,
            "description": "Feed ID to retrieve a favicon for. NewsBlur supports repeating feed_ids for multiple feeds.",
            "schema": {
              "type": "number",
              "description": "Feed ID to retrieve a favicon for. NewsBlur supports repeating feed_ids for multiple feeds."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "code": {
                            "type": "number",
                            "description": "NewsBlur result code."
                          },
                          "favicons": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Favicons keyed by feed ID."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/list-feed-trainers": {
      "get": {
        "operationId": "newsBlur.list-feed-trainers",
        "summary": "List Feed Trainers",
        "description": "Retrieves feed classifiers from NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/list-feed-trainers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedId",
            "in": "query",
            "required": false,
            "description": "Optional feed ID to load classifiers for a single feed.",
            "schema": {
              "type": "number",
              "description": "Optional feed ID to load classifiers for a single feed.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feed_trainers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Feed trainer data, one entry per feed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/newsBlur/latest/actions/list-feeds": {
      "get": {
        "operationId": "newsBlur.list-feeds",
        "summary": "List Feeds",
        "description": "Retrieves subscribed feeds from NewsBlur.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/newsBlur/latest/actions/list-feeds"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFavicons",
            "in": "query",
            "required": false,
            "description": "Include favicons inline in the feeds response.",
            "schema": {
              "type": "boolean",
              "description": "Include favicons inline in the feeds response."
            }
          },
          {
            "name": "flat",
            "in": "query",
            "required": false,
            "description": "Return a flat folder structure instead of nested folders.",
            "schema": {
              "type": "boolean",
              "description": "Return a flat folder structure instead of nested folders."
            }
          },
          {
            "name": "updateCounts",
            "in": "query",
            "required": false,
            "description": "Force recalculation of unread counts on all feeds. This can slow the request.",
            "schema": {
              "type": "boolean",
              "description": "Force recalculation of unread counts on all feeds. This can slow the request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authenticated": {
                            "type": "boolean",
                            "description": "Whether the session is authenticated."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "NewsBlur feed categories."
                          },
                          "feeds": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscribed feeds keyed by feed ID."
                          },
                          "flat_folders": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Flattened folder lookup."
                          },
                          "folders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Folder tree."
                          },
                          "inactive_feeds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Inactive feed IDs."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result status."
                          },
                          "social_feeds": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Social feeds keyed by ID."
                          },
                          "social_profile": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Social profile for the authenticated user."
                          },
                          "starred_count": {
                            "type": "number",
                            "description": "Total saved story count."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Authenticated user summary."
                          },
                          "user_id": {
                            "type": "number",
                            "description": "Authenticated NewsBlur user ID."
                          },
                          "user_profile": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Authenticated user profile."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
[...]
