{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Swiss QR Invoice Universal API",
    "version": "0.0.8",
    "description": "Generate Swiss QR invoices and QR payment slips through Magic Heidi's Swiss QR Invoice API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/swissQRInvoice/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/swissQRInvoice/latest/actions/generate-minimal-invoice": {
      "post": {
        "operationId": "swissQRInvoice.generate-minimal-invoice",
        "summary": "Generate Minimal Invoice",
        "description": "Creates a minimal Swiss QR invoice in Magic Heidi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/swissQRInvoice/latest/actions/generate-minimal-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice data object nested under the documented top-level `data` request field. Edit the example values as needed.",
                    "default": {
                      "user_details": {
                        "zip": "8001",
                        "city": "Zurich",
                        "iban": "CH0700700112900411647",
                        "name": "MindCloud GmbH",
                        "address": "Bahnhofstrasse 1"
                      },
                      "invoice_items": [
                        {
                          "quantity": 1,
                          "unit_price": 149.5,
                          "description": "Platform subscription"
                        }
                      ],
                      "customer_details": {
                        "zip": "1204",
                        "city": "Geneva",
                        "name": "Sample Customer AG",
                        "address": "Rue du Rhone 1"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expires": {
                            "type": "number",
                            "description": "Unix epoch milliseconds when the PDF URL expires."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Invoice generation identifier."
                          },
                          "url": {
                            "type": "string",
                            "description": "Signed PDF download URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
