{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Joiin Universal API",
    "version": "0.0.4",
    "description": "Manage companies and generate consolidated financial reports"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/joiin/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/joiin/latest/actions/create-company": {
      "post": {
        "operationId": "joiin.create-company",
        "summary": "Create Company",
        "description": "Creates a company in Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "sourceSystem",
                  "currency",
                  "fiscalYearStartMonth",
                  "accounts[]",
                  "valueFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The company name."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "An external identifier for the company."
                  },
                  "sourceSystem": {
                    "type": "string",
                    "description": "The source system for the imported company data."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The company currency code, for example USD."
                  },
                  "fiscalYearStartMonth": {
                    "type": "string",
                    "description": "The month in which the company's fiscal year starts."
                  },
                  "ownershipShare": {
                    "type": "number",
                    "description": "The ownership share for the company."
                  },
                  "accounts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The accounts array to import into Joiin."
                  },
                  "valueFormat": {
                    "type": "string",
                    "description": "The format of the imported account values."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "string",
                            "description": "The Joiin company ID for the created company."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/delete-company": {
      "delete": {
        "operationId": "joiin.delete-company",
        "summary": "Delete Company",
        "description": "Deletes an existing company from Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/delete-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Joiin company ID.",
            "schema": {
              "type": "string",
              "description": "The Joiin company ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the company was deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/list-companies": {
      "get": {
        "operationId": "joiin.list-companies",
        "summary": "List Companies",
        "description": "Retrieves companies from Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/list-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The Joiin company ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The company name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/run-balance-sheet-report": {
      "get": {
        "operationId": "joiin.run-balance-sheet-report",
        "summary": "Run Balance Sheet Report",
        "description": "Retrieves a balance sheet report from Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/run-balance-sheet-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The report start date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report start date in YYYY-MM format."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "The report end date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report end date in YYYY-MM format."
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "The report currency code, for example USD.",
            "schema": {
              "type": "string",
              "description": "The report currency code, for example USD."
            }
          },
          {
            "name": "companies[]",
            "in": "query",
            "required": true,
            "description": "A list of company IDs or company names to include in the report.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of company IDs or company names to include in the report."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "eliminationSet",
            "in": "query",
            "required": false,
            "description": "The elimination set to use for the report.",
            "schema": {
              "type": "string",
              "description": "The elimination set to use for the report."
            }
          },
          {
            "name": "eliminationType",
            "in": "query",
            "required": false,
            "description": "How Joiin should apply eliminations for the report.",
            "schema": {
              "type": "string",
              "description": "How Joiin should apply eliminations for the report."
            }
          },
          {
            "name": "budget",
            "in": "query",
            "required": false,
            "description": "Whether to include budget data in the report.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include budget data in the report."
            }
          },
          {
            "name": "displayOptions",
            "in": "query",
            "required": false,
            "description": "Display options for the report response.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Display options for the report response."
            }
          },
          {
            "name": "breakdown",
            "in": "query",
            "required": false,
            "description": "The period breakdown to use for the report.",
            "schema": {
              "type": "string",
              "description": "The period breakdown to use for the report."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currency": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "headers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/run-cashflow-report": {
      "get": {
        "operationId": "joiin.run-cashflow-report",
        "summary": "Run Cashflow Report",
        "description": "Retrieves a cashflow report from Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/run-cashflow-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The report start date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report start date in YYYY-MM format."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "The report end date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report end date in YYYY-MM format."
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "The report currency code, for example USD.",
            "schema": {
              "type": "string",
              "description": "The report currency code, for example USD."
            }
          },
          {
            "name": "companies[]",
            "in": "query",
            "required": true,
            "description": "A list of company IDs or company names to include in the report.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of company IDs or company names to include in the report."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "eliminationSet",
            "in": "query",
            "required": false,
            "description": "The elimination set to use for the report.",
            "schema": {
              "type": "string",
              "description": "The elimination set to use for the report."
            }
          },
          {
            "name": "eliminationType",
            "in": "query",
            "required": false,
            "description": "How Joiin should apply eliminations for the report.",
            "schema": {
              "type": "string",
              "description": "How Joiin should apply eliminations for the report."
            }
          },
          {
            "name": "budget",
            "in": "query",
            "required": false,
            "description": "Whether to include budget data in the report.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include budget data in the report."
            }
          },
          {
            "name": "displayOptions",
            "in": "query",
            "required": false,
            "description": "Display options for the report response.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Display options for the report response."
            }
          },
          {
            "name": "breakdown",
            "in": "query",
            "required": false,
            "description": "The period breakdown to use for the report.",
            "schema": {
              "type": "string",
              "description": "The period breakdown to use for the report."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currency": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "headers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/run-custom-report": {
      "get": {
        "operationId": "joiin.run-custom-report",
        "summary": "Run Custom Report",
        "description": "Retrieves a custom report from Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/run-custom-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customReportId",
            "in": "query",
            "required": true,
            "description": "The Joiin custom report identifier to run.",
            "schema": {
              "type": "string",
              "description": "The Joiin custom report identifier to run."
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The report start date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report start date in YYYY-MM format."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "The report end date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report end date in YYYY-MM format."
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "The report currency code, for example USD.",
            "schema": {
              "type": "string",
              "description": "The report currency code, for example USD."
            }
          },
          {
            "name": "companies[]",
            "in": "query",
            "required": true,
            "description": "A list of company IDs or company names to include in the report.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of company IDs or company names to include in the report."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "eliminationSet",
            "in": "query",
            "required": false,
            "description": "The elimination set to use for the report.",
            "schema": {
              "type": "string",
              "description": "The elimination set to use for the report."
            }
          },
          {
            "name": "eliminationType",
            "in": "query",
            "required": false,
            "description": "How Joiin should apply eliminations for the report.",
            "schema": {
              "type": "string",
              "description": "How Joiin should apply eliminations for the report."
            }
          },
          {
            "name": "budget",
            "in": "query",
            "required": false,
            "description": "Whether to include budget data in the report.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include budget data in the report."
            }
          },
          {
            "name": "displayOptions",
            "in": "query",
            "required": false,
            "description": "Display options for the report response.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Display options for the report response."
            }
          },
          {
            "name": "breakdown",
            "in": "query",
            "required": false,
            "description": "The period breakdown to use for the report.",
            "schema": {
              "type": "string",
              "description": "The period breakdown to use for the report."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currency": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "headers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/run-profit-and-loss-report": {
      "get": {
        "operationId": "joiin.run-profit-and-loss-report",
        "summary": "Run Profit and Loss Report",
        "description": "Retrieves a profit and loss report from Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/run-profit-and-loss-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The report start date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report start date in YYYY-MM format."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "The report end date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report end date in YYYY-MM format."
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "The report currency code, for example USD.",
            "schema": {
              "type": "string",
              "description": "The report currency code, for example USD."
            }
          },
          {
            "name": "companies[]",
            "in": "query",
            "required": true,
            "description": "A list of company IDs or company names to include in the report.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of company IDs or company names to include in the report."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "categoryName",
            "in": "query",
            "required": false,
            "description": "The category name to filter the report by.",
            "schema": {
              "type": "string",
              "description": "The category name to filter the report by."
            }
          },
          {
            "name": "categoryOptionNames[]",
            "in": "query",
            "required": false,
            "description": "Category option names to include in the report.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Category option names to include in the report."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "eliminationSet",
            "in": "query",
            "required": false,
            "description": "The elimination set to use for the report.",
            "schema": {
              "type": "string",
              "description": "The elimination set to use for the report."
            }
          },
          {
            "name": "eliminationType",
            "in": "query",
            "required": false,
            "description": "How Joiin should apply eliminations for the report.",
            "schema": {
              "type": "string",
              "description": "How Joiin should apply eliminations for the report."
            }
          },
          {
            "name": "budget",
            "in": "query",
            "required": false,
            "description": "Whether to include budget data in the report.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include budget data in the report."
            }
          },
          {
            "name": "displayOptions",
            "in": "query",
            "required": false,
            "description": "Display options for the report response.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Display options for the report response."
            }
          },
          {
            "name": "breakdown",
            "in": "query",
            "required": false,
            "description": "The period breakdown to use for the report.",
            "schema": {
              "type": "string",
              "description": "The period breakdown to use for the report."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The companies included in the report."
                          },
                          "currency": {
                            "type": "string",
                            "description": "The report currency."
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The report end date."
                          },
                          "headers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Column headers describing the returned values."
                          },
                          "sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The financial sections returned by Joiin."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The report start date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/run-trial-balance-report": {
      "get": {
        "operationId": "joiin.run-trial-balance-report",
        "summary": "Run Trial Balance Report",
        "description": "Retrieves a trial balance report from Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/run-trial-balance-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The report start date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report start date in YYYY-MM format."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "The report end date in YYYY-MM format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The report end date in YYYY-MM format."
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "The report currency code, for example USD.",
            "schema": {
              "type": "string",
              "description": "The report currency code, for example USD."
            }
          },
          {
            "name": "companies[]",
            "in": "query",
            "required": true,
            "description": "A list of company IDs or company names to include in the report.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of company IDs or company names to include in the report."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "eliminationSet",
            "in": "query",
            "required": false,
            "description": "The elimination set to use for the report.",
            "schema": {
              "type": "string",
              "description": "The elimination set to use for the report."
            }
          },
          {
            "name": "eliminationType",
            "in": "query",
            "required": false,
            "description": "How Joiin should apply eliminations for the report.",
            "schema": {
              "type": "string",
              "description": "How Joiin should apply eliminations for the report."
            }
          },
          {
            "name": "periodNumber",
            "in": "query",
            "required": false,
            "description": "The period number to use for the trial balance report.",
            "schema": {
              "type": "number",
              "description": "The period number to use for the trial balance report."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The trial balance accounts returned by Joiin."
                          },
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The companies included in the report."
                          },
                          "currency": {
                            "type": "string",
                            "description": "The report currency."
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The report end date."
                          },
                          "headers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Column headers describing the returned values."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The report start date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/joiin/latest/actions/update-company": {
      "put": {
        "operationId": "joiin.update-company",
        "summary": "Update Company",
        "description": "Updates an existing company in Joiin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/joiin/latest/actions/update-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "name",
                  "sourceSystem",
                  "currency",
                  "fiscalYearStartMonth",
                  "accounts[]",
                  "valueFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The Joiin company ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "The company name."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "An external identifier for the company."
                  },
                  "sourceSystem": {
                    "type": "string",
                    "description": "The source system for the imported company data."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The company currency code, for example USD."
                  },
                  "fiscalYearStartMonth": {
                    "type": "string",
                    "description": "The month in which the company's fiscal year starts."
                  },
                  "ownershipShare": {
                    "type": "number",
                    "description": "The ownership share for the company."
                  },
                  "accounts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The accounts array to import into Joiin."
                  },
                  "valueFormat": {
                    "type": "string",
                    "description": "The format of the imported account values."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyId": {
                            "type": "string",
                            "description": "The Joiin company ID for the updated company."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
