{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Whattime Universal API",
    "version": "0.0.5",
    "description": "Manage bookings, calendars, availability, routing forms, and webhooks"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/whattime/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/whattime/latest/actions/cancel-schedule": {
      "put": {
        "operationId": "whattime.cancel-schedule",
        "summary": "Cancel Schedule",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/cancel-schedule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "code"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "Resource Code"
                  },
                  "cancelReason": {
                    "type": "string",
                    "description": "취소 사유"
                  },
                  "cancelGuestAlarm": {
                    "type": "boolean",
                    "description": "게스트에게 알림을 보낼지 여부"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendar": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "alarm": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email_guest": {
                                    "type": "boolean"
                                  },
                                  "email_guest_cancel_title": {
                                    "type": "string"
                                  },
                                  "email_guest_content": {
                                    "type": "string"
                                  },
                                  "email_guest_title": {
                                    "type": "string"
                                  }
                                }
                              },
                              "code": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "description_raw": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "locations": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "address_link": {
                                    "type": "string"
                                  },
                                  "answer": {
                                    "type": "string"
                                  },
                                  "direct": {
                                    "type": "string"
                                  },
                                  "kind": {
                                    "type": "string"
                                  },
                                  "member_email": {
                                    "type": "string"
                                  },
                                  "phone": {
                                    "type": "string"
                                  },
                                  "remote_password": {
                                    "type": "string"
                                  },
                                  "remote_url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "max_invitee": {
                                "type": "number"
                              },
                              "members": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "organizer": {
                                    "type": "boolean"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "user": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "name": {
                                "type": "string"
                              },
                              "order": {
                                "type": "number"
                              },
                              "reservation_url": {
                                "type": "string"
                              },
                              "secret": {
                                "type": "boolean"
                              },
                              "show_remain": {
                                "type": "boolean"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "survey": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email_etc_required": {
                                    "type": "boolean"
                                  },
                                  "email_required": {
                                    "type": "boolean"
                                  },
                                  "phone_required": {
                                    "type": "boolean"
                                  },
                                  "questions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                }
                              },
                              "team": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "img_url": {
                                    "type": "string"
                                  },
                                  "logo_url": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "share_img_url": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "time": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "after_buffer": {
                                    "type": "number"
                                  },
                                  "after_calendar_buffer": {
                                    "type": "number"
                                  },
                                  "availability_kind": {
                                    "type": "string"
                                  },
                                  "availability_time": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "before_buffer": {
                                    "type": "number"
                                  },
                                  "before_calendar_buffer": {
                                    "type": "number"
                                  },
                                  "duration": {
                                    "type": "number"
                                  },
                                  "duration_kind": {
                                    "type": "string"
                                  },
                                  "guest_min_time": {
                                    "type": "number"
                                  },
                                  "guest_min_time_kind": {
                                    "type": "string"
                                  },
                                  "incre": {
                                    "type": "number"
                                  },
                                  "prepare": {
                                    "type": "number"
                                  },
                                  "prepare_kind": {
                                    "type": "string"
                                  },
                                  "range_after_day": {
                                    "type": "number"
                                  },
                                  "range_after_day_kind": {
                                    "type": "string"
                                  },
                                  "range_end": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "range_kind": {
                                    "type": "string"
                                  },
                                  "range_start": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          },
                          "code": {
                            "type": "string"
                          },
                          "reservation_code": {
                            "type": "string"
                          },
                          "team": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "img_url": {
                                "type": "string"
                              },
                              "logo_url": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "share_img_url": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/create-availability": {
      "post": {
        "operationId": "whattime.create-availability",
        "summary": "Create Availability",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/create-availability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "user": {
                    "type": "string",
                    "description": "User uri"
                  },
                  "name": {
                    "type": "string",
                    "description": "이름"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "타임존"
                  },
                  "default": {
                    "type": "boolean",
                    "description": "기본 여부"
                  },
                  "rules[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "요일별 가능한 시간"
                  },
                  "overrides[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "가능한 시간 예외 날짜"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overrides": {
                            "type": "object",
                            "properties": {
                              "_destroy": {
                                "type": "boolean"
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "intervals": {
                                "type": "object",
                                "properties": {
                                  "end": {
                                    "type": "string"
                                  },
                                  "start": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rules": {
                            "type": "object",
                            "properties": {
                              "end": {
                                "type": "string"
                              },
                              "start": {
                                "type": "string"
                              },
                              "wday": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "time_zone": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/create-calendar-connection": {
      "post": {
        "operationId": "whattime.create-calendar-connection",
        "summary": "Create Calendar Connection",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/create-calendar-connection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "kind",
                  "email",
                  "password"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "user": {
                    "type": "string",
                    "description": "User uri"
                  },
                  "kind": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "아이디(이메일)"
                  },
                  "password": {
                    "type": "string",
                    "description": "비밀번호"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "error": {
                            "type": "boolean"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/create-routing-form": {
      "post": {
        "operationId": "whattime.create-routing-form",
        "summary": "Create Routing Form",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/create-routing-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/create-schedule": {
      "post": {
        "operationId": "whattime.create-schedule",
        "summary": "Create Schedule",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/create-schedule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "date",
                  "time",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "calendar": {
                    "type": "string",
                    "description": "Calendar uri"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "변경 날짜"
                  },
                  "time": {
                    "type": "string",
                    "description": "변경 시간"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "타임존"
                  },
                  "name": {
                    "type": "string",
                    "description": "이름"
                  },
                  "email": {
                    "type": "string",
                    "description": "이메일"
                  },
                  "phone": {
                    "type": "string",
                    "description": "전화번호, 국가번호 포함되어도 무관"
                  },
                  "questions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "설문 답변"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendar": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "alarm": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email_guest": {
                                    "type": "boolean"
                                  },
                                  "email_guest_cancel_title": {
                                    "type": "string"
                                  },
                                  "email_guest_content": {
                                    "type": "string"
                                  },
                                  "email_guest_title": {
                                    "type": "string"
                                  }
                                }
                              },
                              "code": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "description_raw": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "locations": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "address_link": {
                                    "type": "string"
                                  },
                                  "answer": {
                                    "type": "string"
                                  },
                                  "direct": {
                                    "type": "string"
                                  },
                                  "kind": {
                                    "type": "string"
                                  },
                                  "member_email": {
                                    "type": "string"
                                  },
                                  "phone": {
                                    "type": "string"
                                  },
                                  "remote_password": {
                                    "type": "string"
                                  },
                                  "remote_url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "max_invitee": {
                                "type": "number"
                              },
                              "members": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "organizer": {
                                    "type": "boolean"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "user": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "name": {
                                "type": "string"
                              },
                              "order": {
                                "type": "number"
                              },
                              "reservation_url": {
                                "type": "string"
                              },
                              "secret": {
                                "type": "boolean"
                              },
                              "show_remain": {
                                "type": "boolean"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "survey": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email_etc_required": {
                                    "type": "boolean"
                                  },
                                  "email_required": {
                                    "type": "boolean"
                                  },
                                  "phone_required": {
                                    "type": "boolean"
                                  },
                                  "questions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                }
                              },
                              "team": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "img_url": {
                                    "type": "string"
                                  },
                                  "logo_url": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "share_img_url": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "time": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "after_buffer": {
                                    "type": "number"
                                  },
                                  "after_calendar_buffer": {
                                    "type": "number"
                                  },
                                  "availability_kind": {
                                    "type": "string"
                                  },
                                  "availability_time": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "before_buffer": {
                                    "type": "number"
                                  },
                                  "before_calendar_buffer": {
                                    "type": "number"
                                  },
                                  "duration": {
                                    "type": "number"
                                  },
                                  "duration_kind": {
                                    "type": "string"
                                  },
                                  "guest_min_time": {
                                    "type": "number"
                                  },
                                  "guest_min_time_kind": {
                                    "type": "string"
                                  },
                                  "incre": {
                                    "type": "number"
                                  },
                                  "prepare": {
                                    "type": "number"
                                  },
                                  "prepare_kind": {
                                    "type": "string"
                                  },
                                  "range_after_day": {
                                    "type": "number"
                                  },
                                  "range_after_day_kind": {
                                    "type": "string"
                                  },
                                  "range_end": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "range_kind": {
                                    "type": "string"
                                  },
                                  "range_start": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          },
                          "code": {
                            "type": "string"
                          },
                          "reservation_code": {
                            "type": "string"
                          },
                          "team": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "img_url": {
                                "type": "string"
                              },
                              "logo_url": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "share_img_url": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/create-user": {
      "post": {
        "operationId": "whattime.create-user",
        "summary": "Create User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "name",
                  "password"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "이메일"
                  },
                  "name": {
                    "type": "string",
                    "description": "이름"
                  },
                  "password": {
                    "type": "string",
                    "description": "패스워드"
                  },
                  "role": {
                    "type": "string",
                    "description": "권한\n  * `owner` : 최고 관리자\n  * `admin` : 관리자\n  * `user` : 사용자"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "타임존"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          },
                          "role": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "time_zone": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/create-webhook": {
      "post": {
        "operationId": "whattime.create-webhook",
        "summary": "Create Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "kind",
                  "callbackUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "kind": {
                    "type": "string",
                    "description": "콜백 종류\n  * `schedule_created` - 예약 생성\n  * `schedule_canceled` - 예약 취소\n  * `user_changed` - 유저 정보 변경\n  * `user_withdraw` - 유저 탈퇴"
                  },
                  "organization": {
                    "type": "string",
                    "description": "Organization uri"
                  },
                  "user": {
                    "type": "string",
                    "description": "User uri"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "콜백 받을 주소"
                  },
                  "scope": {
                    "type": "string",
                    "description": "콜백 종류\n  * `user` - 특정 유저\n  * `organization` - 조직 전체"
                  },
                  "signingKey": {
                    "type": "string",
                    "description": "보안을 위한 사이닝 키 <br> `WhatTime-Webhook-Signature` : `t={timestamp},v1={signing_key}` 가 헤더값에 추가됩니다."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callback_url": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          },
                          "provider": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              },
                              "role": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "time_zone": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/delete-availability": {
      "delete": {
        "operationId": "whattime.delete-availability",
        "summary": "Delete Availability",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/delete-availability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "Resource Code",
            "schema": {
              "type": "string",
              "description": "Resource Code"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overrides": {
                            "type": "object",
                            "properties": {
                              "_destroy": {
                                "type": "boolean"
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "intervals": {
                                "type": "object",
                                "properties": {
                                  "end": {
                                    "type": "string"
                                  },
                                  "start": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rules": {
                            "type": "object",
                            "properties": {
                              "end": {
                                "type": "string"
                              },
                              "start": {
                                "type": "string"
                              },
                              "wday": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "time_zone": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/delete-calendar-connection": {
      "delete": {
        "operationId": "whattime.delete-calendar-connection",
        "summary": "Delete Calendar Connection",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/delete-calendar-connection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource id",
            "schema": {
              "type": "number",
              "description": "Resource id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "error": {
                            "type": "boolean"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whattime/latest/actions/delete-organization-member": {
      "delete": {
        "operationId": "whattime.delete-organization-member",
        "summary": "Delete Organization Member",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whattime/latest/actions/delete-organization-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "Resource Code",
            "schema": {
              "type": "string",
              "description": "Resource Code"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approve": {
                            "type": "boolean"
                          },
                          "code": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "role": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uri": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "uri": {
                                    "type": "string"
                                  }
                                }
                              },
                              "role": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "time_zone": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "uri": {
                                "type": "string"
                              }
[...]
