{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SmartSuite Universal API",
    "version": "0.0.5",
    "description": "Manage workflows, records, and business operations in SmartSuite"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/smartSuite/latest/actions/add-comment": {
      "post": {
        "operationId": "smartSuite.add-comment",
        "summary": "Add Comment",
        "description": "Creates a new comment in SmartSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/add-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "recordId",
                  "tableId",
                  "messageHtml"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "recordId": {
                    "type": "string",
                    "description": "The SmartSuite record ID to add the comment to.",
                    "example": "69b45da87cb40fc74dbb4b8c"
                  },
                  "tableId": {
                    "type": "string",
                    "description": "The SmartSuite table ID that owns the record.",
                    "example": "69b45da87cb40fc74dbb4b84"
                  },
                  "messageHtml": {
                    "type": "string",
                    "description": "The comment body as HTML, for example `<p>Hello</p>`.",
                    "example": "<p>MC Test Comment 2</p>"
                  },
                  "assignedTo": {
                    "type": "string",
                    "description": "Optional SmartSuite assignee member ID for the comment.",
                    "x-mindcloud-advanced": true
                  },
                  "parentComment": {
                    "type": "string",
                    "description": "Optional parent comment ID when replying to an existing comment.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "application": {
                            "type": "string"
                          },
                          "assignedTo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "deletedOn": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fieldSlug": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "followers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "key": {
                            "type": "number"
                          },
                          "member": {
                            "type": "string"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "content": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "text": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "html": {
                                "type": "string"
                              },
                              "preview": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "parentComment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "record": {
                            "type": "string"
                          },
                          "resolvedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "solution": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smartSuite/latest/actions/add-field": {
      "post": {
        "operationId": "smartSuite.add-field",
        "summary": "Add Field",
        "description": "Creates a new field in SmartSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/add-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tableId",
                  "field"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tableId": {
                    "type": "string",
                    "description": "The SmartSuite table ID where the field should be created.",
                    "example": "69b45da87cb40fc74dbb4b84"
                  },
                  "field": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The SmartSuite field object to create, including slug, label, field_type, params, and is_new."
                  },
                  "fieldPosition": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional SmartSuite field position object, such as prev_sibling_slug."
                  },
                  "autoFillStructureLayout": {
                    "type": "boolean",
                    "description": "Whether SmartSuite should add the new field to the structure layout automatically.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smartSuite/latest/actions/attach-file": {
      "put": {
        "operationId": "smartSuite.attach-file",
        "summary": "Attach File",
        "description": "Attaches a file to a SmartSuite record.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/attach-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tableId",
                  "recordId",
                  "fileFieldSlug",
                  "fileUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tableId": {
                    "type": "string",
                    "description": "The SmartSuite table ID containing the target record.",
                    "example": "69b45da87cb40fc74dbb4b84"
                  },
                  "recordId": {
                    "type": "string",
                    "description": "The SmartSuite record ID to update with the file attachment.",
                    "example": "69b853498535da13ccf41722"
                  },
                  "fileFieldSlug": {
                    "type": "string",
                    "description": "The file field slug that should receive the attached file URL.",
                    "example": "sbbb132dec"
                  },
                  "fileUrl": {
                    "type": "string",
                    "description": "A publicly reachable file URL for SmartSuite to fetch and attach.",
                    "example": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationId": {
                            "type": "string"
                          },
                          "applicationSlug": {
                            "type": "string"
                          },
                          "autonumber": {
                            "type": "number"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedDate": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "includeTime": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "string"
                          },
                          "firstCreated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mctestfld1": {
                            "type": "string"
                          },
                          "ranking": {
                            "type": "object",
                            "properties": {
                              "default": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "s1a2bf428a": {
                            "type": "string"
                          },
                          "s6730fc612": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "includeTime": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "s79d05d2c0": {
                            "type": "object",
                            "properties": {
                              "updatedOn": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "s7f68e16a2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "s9920bb125": {
                            "type": "object",
                            "properties": {
                              "completedItems": {
                                "type": "number"
                              },
                              "totalItems": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sa6bf27e4f": {
                            "type": "string"
                          },
                          "sbbb132dec": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "convertedVideoHandle": {
                                  "type": "string"
                                },
                                "createdOn": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "fileType": {
                                  "type": "string"
                                },
                                "handle": {
                                  "type": "string"
                                },
                                "icon": {
                                  "type": "string"
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "container": {
                                      "type": "string"
                                    },
                                    "filename": {
                                      "type": "string"
                                    },
                                    "key": {
                                      "type": "string"
                                    },
                                    "mimetype": {
                                      "type": "string"
                                    },
                                    "size": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "updatedOn": {
                                  "type": "string"
                                },
                                "videoConversionStatus": {
                                  "type": "string"
                                },
                                "videoThumbnailHandle": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sc03076770": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "se57bd1da2": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smartSuite/latest/actions/bulk-add-records": {
      "post": {
        "operationId": "smartSuite.bulk-add-records",
        "summary": "Bulk Add Records",
        "description": "Creates multiple records in SmartSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/bulk-add-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tableId",
                  "items[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tableId": {
                    "type": "string",
                    "description": "The SmartSuite table ID that will receive the new records.",
                    "example": "69b8530e9d8596f0c0a03533"
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The list of SmartSuite records to add, keyed by field slug."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationId": {
                            "type": "string"
                          },
                          "applicationSlug": {
                            "type": "string"
                          },
                          "autonumber": {
                            "type": "number"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedDate": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "includeTime": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "html": {
                                "type": "string"
                              },
                              "preview": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dueDate": {
                            "type": "object",
                            "properties": {
                              "fromDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "statusIsCompleted": {
                                "type": "boolean"
                              },
                              "statusUpdatedOn": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "toDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "firstCreated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mctestfld1": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string"
                          },
                          "ranking": {
                            "type": "object",
                            "properties": {
                              "default": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "updatedOn": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smartSuite/latest/actions/bulk-delete-records": {
      "delete": {
        "operationId": "smartSuite.bulk-delete-records",
        "summary": "Bulk Delete Records",
        "description": "Deletes existing records from SmartSuite in bulk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/bulk-delete-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "The SmartSuite table ID that owns the records.",
            "schema": {
              "type": "string",
              "description": "The SmartSuite table ID that owns the records.",
              "example": "69b8530e9d8596f0c0a03533"
            }
          },
          {
            "name": "items[]",
            "in": "query",
            "required": true,
            "description": "Up to 25 SmartSuite record IDs to soft-delete.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Up to 25 SmartSuite record IDs to soft-delete."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationId": {
                            "type": "string"
                          },
                          "applicationSlug": {
                            "type": "string"
                          },
                          "autonumber": {
                            "type": "number"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "deletedBy": {
                            "type": "string"
                          },
                          "deletedDate": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string"
                              },
                              "includeTime": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "html": {
                                "type": "string"
                              },
                              "preview": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dueDate": {
                            "type": "object",
                            "properties": {
                              "fromDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "statusIsCompleted": {
                                "type": "boolean"
                              },
                              "statusUpdatedOn": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "toDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "firstCreated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mctestfld1": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string"
                          },
                          "ranking": {
                            "type": "object",
                            "properties": {
                              "default": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "updatedOn": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smartSuite/latest/actions/bulk-update-records": {
      "put": {
        "operationId": "smartSuite.bulk-update-records",
        "summary": "Bulk Update Records",
        "description": "Updates existing records in SmartSuite in bulk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/bulk-update-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tableId",
                  "items[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tableId": {
                    "type": "string",
                    "description": "The SmartSuite table ID that owns the records.",
                    "example": "69b8530e9d8596f0c0a03533"
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The list of SmartSuite record updates including each record ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationId": {
                            "type": "string"
                          },
                          "applicationSlug": {
                            "type": "string"
                          },
                          "autonumber": {
                            "type": "number"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedDate": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "includeTime": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "html": {
                                "type": "string"
                              },
                              "preview": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dueDate": {
                            "type": "object",
                            "properties": {
                              "fromDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "statusIsCompleted": {
                                "type": "boolean"
                              },
                              "statusUpdatedOn": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "toDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "firstCreated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mctestfld1": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string"
                          },
                          "ranking": {
                            "type": "object",
                            "properties": {
                              "default": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "updatedOn": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smartSuite/latest/actions/create-record": {
      "post": {
        "operationId": "smartSuite.create-record",
        "summary": "Create Record",
        "description": "Creates a new record in SmartSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/create-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tableId",
                  "record"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tableId": {
                    "type": "string",
                    "description": "The SmartSuite table ID that will receive the new record.",
                    "example": "69b8530e9d8596f0c0a03533"
                  },
                  "record": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The SmartSuite record payload keyed by field slug."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationId": {
                            "type": "string"
                          },
                          "applicationSlug": {
                            "type": "string"
                          },
                          "autonumber": {
                            "type": "number"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedDate": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "includeTime": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "html": {
                                "type": "string"
                              },
                              "preview": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dueDate": {
                            "type": "object",
                            "properties": {
                              "fromDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "statusIsCompleted": {
                                "type": "boolean"
                              },
                              "statusUpdatedOn": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "toDate": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "includeTime": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "firstCreated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdated": {
                            "type": "object",
                            "properties": {
                              "by": {
                                "type": "string"
                              },
                              "on": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mctestfld1": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string"
                          },
                          "ranking": {
                            "type": "object",
                            "properties": {
                              "default": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "updatedOn": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smartSuite/latest/actions/create-solution": {
      "post": {
        "operationId": "smartSuite.create-solution",
        "summary": "Create Solution",
        "description": "Creates a new solution in SmartSuite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smartSuite/latest/actions/create-solution"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The display name for the new SmartSuite solution.",
                    "example": "MC Test Solution 20260316"
                  },
                  "logoColor": {
                    "type": "string",
                    "description": "Optional hex color for the solution logo.",
                    "example": "#3A86FF",
                    "x-mindcloud-advanced": true
                  },
                  "logoIcon": {
                    "type": "string",
                    "description": "Optional SmartSuite icon name for the solution logo.",
                    "example": "briefcase",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applications": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fieldsCount": {
                                  "type": "object",
                                  "properties": {
                                    "total": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "firstCreated": {
                                  "type": "object",
                                  "properties": {
                                    "by": {
                                      "type": "string"
                                    },
                                    "on": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hidden": {
                                  "type": "boolean"
                                },
                                "icon": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "permissions": {
                                  "type": "object",
                                  "properties": {
                                    "level": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "primaryField": {
                                  "type": "string"
                                },
                                "recordAvatarFieldSlug": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "recordTerm": {
                                  "type": "string"
                                },
                                "settings": {
                                  "type": "object",
                                  "properties": {
                                    "callLog": {
                                      "type": "boolean"
                                    },
                                    "displayFieldIcons": {
                                      "type": "boolean"
                                    },
                                    "emails": {
                                      "type": "boolean"
                                    },
                                    "meetingNotes": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "solution": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "structure": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "fieldType": {
                                        "type": "string"
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "params": {
                                        "type": "object",
                                        "properties": {
                                          "helpDoc": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "helpTextDisplayFormat": {
                                            "type": "string"
                                          },
                                          "indexed": {
                                            "type": "boolean"
                                          },
                                          "isAutoGenerated": {
                                            "type": "boolean"
                                          },
                                          "isMigrating": {
                                            "type": "boolean"
                                          },
                                          "maxLength": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "placeholder": {
                                            "type": "string"
                                          },
                                          "primary": {
                                            "type": "boolean"
                                          },
                                          "required": {
                                            "type": "boolean"
                                          },
                                          "template": {
                                            "type": "string"
                                          },
                                          "unique": {
                                            "type": "boolean"
                                          },
                                          "valid": {
                                            "type": "boolean"
                                          },
                                          "width": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "slug": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "structureLayout": {
                                  "type": "object",
                                  "properties": {
                                    "fiftyFifty": {
                                      "type": "object",
                                      "properties": {
                                        "rows": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "additionalProperties": true
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "hiddenFields": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "hiddenFieldsInConditions": {
                                      "type": "boolean"
                                    },
                                    "mode": {
                                      "type": "string"
                                    },
                                    "seventyThirty": {
                                      "type": "object",
                                      "properties": {
                                        "seventy": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "thirty": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "singleColumn": {
                                      "type": "object",
                                      "properties": {
                                        "rows": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "applicationsCount": {
                            "type": "number"
                          },
                          "automationCount": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deleteDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "string"
                              },
                              "preview": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hasDemoData": {
                            "type": "boolean"
                          },
                          "hidden": {
                            "type": "boolean"
                          },
                          "homepageCategory": {
                            "type": "string"
                          },
                          "homepageCategoryName": {
                            "type": "string"
                          },
                          "homepageCategoryOrder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastAccess": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "logoColor": {
                            "type": "string"
                          },
                          "logoIcon": {
                            "type": "string"
                          },
                          "membersCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "permissions": {
                            "type": "object",
                            "properties": {
                              "level": {
                                "type": "string"
                              },
                              "owners": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "ownersTeams": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "privateTo": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "recordsCount": {
                            "type": "number"
                          },
                          "sharingAllowCopy": {
                            "type": "boolean"
                          },
                          "sharingEnabled": {
                            "type": "boolean"
                          },
                          "sharingHash": {
                            "type": "string"
                          },
                          "sharingPassword": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "slug": {
                            "type": "string"
[...]
