{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cliniko Universal API",
    "version": "0.0.3",
    "description": "Manage patients, appointments, invoices, and treatment notes"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cliniko/latest/actions/get-appointment-type": {
      "get": {
        "operationId": "cliniko.get-appointment-type",
        "summary": "Get Appointment Type",
        "description": "Retrieves an appointment type from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-appointment-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko appointment type ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko appointment type ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addDepositToAccountCredit": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appointmentConfirmationTemplateIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appointmentFollowUpTemplateIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appointmentReminderTemplateIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appointmentTypeBillableItems": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "appointmentTypeProducts": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "archivedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billableItem": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "depositPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "durationInMinutes": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "maxAttendees": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "onlineBookingsLeadTimeHours": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "onlinePaymentsEnabled": {
                            "type": "boolean"
                          },
                          "onlinePaymentsMode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "practitioners": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "showInOnlineBookings": {
                            "type": "boolean"
                          },
                          "telehealthEnabled": {
                            "type": "boolean"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-attendee": {
      "get": {
        "operationId": "cliniko.get-attendee",
        "summary": "Get Attendee",
        "description": "Retrieves an attendee from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-attendee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko attendee ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko attendee ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-business": {
      "get": {
        "operationId": "cliniko.get-business",
        "summary": "Get Business",
        "description": "Retrieves a business from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-business"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko business ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko business ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "additionalInvoiceInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appointmentRemindersEnabled": {
                            "type": "boolean"
                          },
                          "appointments": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "appointmentTypeIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "archivedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "businessName": {
                            "type": "string"
                          },
                          "businessRegistrationName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "businessRegistrationValue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "displayName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailReplyTo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "postCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "practitioners": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "showInOnlineBookings": {
                            "type": "boolean"
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "timeZoneIdentifier": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "websiteAddress": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-group-appointment": {
      "get": {
        "operationId": "cliniko.get-group-appointment",
        "summary": "Get Group Appointment",
        "description": "Retrieves a group appointment from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-group-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko group appointment ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko group appointment ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-individual-appointment": {
      "get": {
        "operationId": "cliniko.get-individual-appointment",
        "summary": "Get Individual Appointment",
        "description": "Retrieves an individual appointment from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-individual-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko individual appointment ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko individual appointment ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-invoice": {
      "get": {
        "operationId": "cliniko.get-invoice",
        "summary": "Get Invoice",
        "description": "Retrieves an invoice from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko invoice ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko invoice ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-patient": {
      "get": {
        "operationId": "cliniko.get-patient",
        "summary": "Get Patient",
        "description": "Retrieves a patient record from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-patient"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko patient ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko patient ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-patient-case": {
      "get": {
        "operationId": "cliniko.get-patient-case",
        "summary": "Get Patient Case",
        "description": "Retrieves a patient case from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-patient-case"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko patient case ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko patient case ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-practitioner": {
      "get": {
        "operationId": "cliniko.get-practitioner",
        "summary": "Get Practitioner",
        "description": "Retrieves a practitioner from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-practitioner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Cliniko practitioner ID.",
            "schema": {
              "type": "string",
              "description": "The Cliniko practitioner ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "appointments": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "appointmentTypes": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "designation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoices": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "label": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "practitionerReferenceNumbers": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "showInOnlineBookings": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/get-settings": {
      "get": {
        "operationId": "cliniko.get-settings",
        "summary": "Get Settings",
        "description": "Retrieves settings from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/get-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "properties": {
                              "admin": {
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "compliance": {
                                "type": "object",
                                "properties": {
                                  "hasHipaaComplianceConflicts": {
                                    "type": "boolean"
                                  },
                                  "hipaaComplianceConflictMessages": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "currencySymbol": {
                                "type": "string"
                              },
                              "emailFrom": {
                                "type": "string"
                              },
                              "hasTimeTravelers": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "includePatientDobOnInvoice": {
                                "type": "boolean"
                              },
                              "invoiceCalculationMethod": {
                                "type": "number"
                              },
                              "invoiceCalculationMethodDescription": {
                                "type": "string"
                              },
                              "invoiceDefaultNotes": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "invoiceTitle": {
                                "type": "string"
                              },
                              "legalAccountName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "requiresTfa": {
                                "type": "boolean"
                              },
                              "subdomain": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "string"
                              },
                              "timeZoneIdentifier": {
                                "type": "string"
                              },
                              "timeZoneSupport": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "calendar": {
                            "type": "object",
                            "properties": {
                              "endHour": {
                                "type": "number"
                              },
                              "multipleAppointmentsGap": {
                                "type": "boolean"
                              },
                              "showCurrentTimeIndicator": {
                                "type": "boolean"
                              },
                              "startHour": {
                                "type": "number"
                              },
                              "timeslotHeightInPixels": {
                                "type": "number"
                              },
                              "timeslotSizeInMinutes": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "documentsAndPrinting": {
                            "type": "object",
                            "properties": {
                              "logoHeight": {
                                "type": "number"
                              },
                              "logoUrl": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "integrations": {
                            "type": "object",
                            "properties": {
                              "mailChimp": {
                                "type": "object",
                                "properties": {
                                  "enabled": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "medipass": {
                                "type": "object",
                                "properties": {
                                  "enabled": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "xero": {
                                "type": "object",
                                "properties": {
                                  "enabled": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "integratedForInvoices": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "onlineBookings": {
                            "type": "object",
                            "properties": {
                              "adroll": {
                                "type": "object",
                                "properties": {
                                  "advertiserId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "pixelId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "allowBookingsDaysInAdvance": {
                                "type": "number"
                              },
                              "allowOnlineBookingsTimeZoneChoice": {
                                "type": "boolean"
                              },
                              "bookingReservationMinutes": {
                                "type": "number"
                              },
                              "calendarInfo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dailyBookingsLimit": {
                                "type": "number"
                              },
                              "disabledText": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "disabledTitle": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "enabled": {
                                "type": "boolean"
                              },
                              "googleAnalytics": {
                                "type": "object",
                                "properties": {
                                  "trackingId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "googleTagManager": {
                                "type": "object",
                                "properties": {
                                  "containerId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "logoUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "maxAppointmentsPerDaySegment": {
                                "type": "number"
                              },
                              "minHoursAdvanceRequiredToBook": {
                                "type": "number"
                              },
                              "minHoursNoticeForPatientCancellation": {
                                "type": "number"
                              },
                              "noticeEnabled": {
                                "type": "boolean"
                              },
                              "noticeText": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "noticeTitle": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "notifyPractitionerByEmail": {
                                "type": "boolean"
                              },
                              "notifyPractitionerBySms": {
                                "type": "boolean"
                              },
                              "policy": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "practitionerOrder": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "privacyPolicyUrl": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "requirePatientAddress": {
                                "type": "boolean"
                              },
                              "showAppointmentDuration": {
                                "type": "boolean"
                              },
                              "showPrices": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "onlinePayments": {
                            "type": "object",
                            "properties": {
                              "activated": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "patientCustomFieldsDefinition": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patientPrivacy": {
                            "type": "object",
                            "properties": {
                              "anonymiseAppointmentsOnDeletion": {
                                "type": "boolean"
                              },
                              "anonymiseBookingNotifications": {
                                "type": "boolean"
                              },
                              "anonymiseInvoicesAndPaymentsOnDeletion": {
                                "type": "boolean"
                              },
                              "baaRequested": {
                                "type": "boolean"
                              },
                              "browserTitleNameFormat": {
                                "type": "string"
                              },
                              "icalPatientNameOption": {
                                "type": "string"
                              },
                              "preventSendingFinancialDataByEmail": {
                                "type": "boolean"
                              },
                              "requiresHipaaCompliance": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "reminders": {
                            "type": "object",
                            "properties": {
                              "defaultRemindersCommunicationChannels": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "defaultRemindersCommunicationChannelsDescription": {
                                "type": "string"
                              },
                              "defaultReminderType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sms": {
                            "type": "object",
                            "properties": {
                              "alphanumericSourceNumberRequired": {
                                "type": "boolean"
                              },
                              "defaultAlphanumericSourceNumber": {
                                "type": "string"
                              },
                              "maxMessageLength": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "numberOfUsableCharactersPerMessage": {
                                "type": "number"
                              },
                              "repliesSupported": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "terminology": {
                            "type": "object",
                            "properties": {
                              "addressCity": {
                                "type": "string"
                              },
                              "addressPostCode": {
                                "type": "string"
                              },
                              "addressState": {
                                "type": "string"
                              },
                              "patient": {
                                "type": "string"
                              },
                              "titles": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "waitList": {
                            "type": "object",
                            "properties": {
                              "defaultWaitListExpiryPeriod": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cliniko/latest/actions/list-appointment-types": {
      "get": {
        "operationId": "cliniko.list-appointment-types",
        "summary": "List Appointment Types",
        "description": "Retrieves appointment types from your Cliniko account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cliniko/latest/actions/list-appointment-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appointmentTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addDepositToAccountCredit": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "appointmentConfirmationTemplateIds": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "appointmentFollowUpTemplateIds": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "appointmentReminderTemplateIds": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "appointmentTypeBillableItems": {
                                  "type": "object",
                                  "properties": {
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "appointmentTypeProducts": {
                                  "type": "object",
                                  "properties": {
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "archivedAt": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "billableItem": {
                                  "type": "object",
                                  "properties": {
                                    "links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
[...]
