{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ScrapingDog Universal API",
    "version": "0.0.3",
    "description": "ScrapingDog helps agents scrape webpages, search SERPs, and extract structured results across Google, Maps, News, Scholar, Amazon, YouTube, and other supported search surfaces."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/scrapingDog/latest/actions/autocomplete-google": {
      "get": {
        "operationId": "scrapingDog.autocomplete-google",
        "summary": "Autocomplete Google",
        "description": "Retrieves Google autocomplete suggestions through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/autocomplete-google"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for Google autocomplete suggestions.",
            "schema": {
              "type": "string",
              "description": "Search query for Google autocomplete suggestions."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "suggestions": {
                            "type": "object",
                            "properties": {
                              "relevance": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "verbatim_relevance": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/autocomplete-google-trends": {
      "get": {
        "operationId": "scrapingDog.autocomplete-google-trends",
        "summary": "Autocomplete Google Trends",
        "description": "Retrieves Google Trends autocomplete suggestions through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/autocomplete-google-trends"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for Google Trends autocomplete.",
            "schema": {
              "type": "string",
              "description": "Search query for Google Trends autocomplete."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "suggestions": {
                            "type": "object",
                            "properties": {
                              "link": {
                                "type": "string"
                              },
                              "mid": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/capture-screenshot": {
      "get": {
        "operationId": "scrapingDog.capture-screenshot",
        "summary": "Capture Screenshot",
        "description": "Captures a webpage screenshot through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/capture-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target URL to capture as a screenshot.",
            "schema": {
              "type": "string",
              "description": "Target URL to capture as a screenshot."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-account-details": {
      "get": {
        "operationId": "scrapingDog.get-account-details",
        "summary": "Get Account Details",
        "description": "Retrieves account details from ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-account-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "concurrencyLimit": {
                            "type": "number",
                            "description": "Maximum concurrent requests allowed on the account."
                          },
                          "email": {
                            "type": "string",
                            "description": "Account email returned by ScrapingDog."
                          },
                          "linkedinConcurrencyLimit": {
                            "type": "number",
                            "description": "Separate concurrency limit returned for LinkedIn-related requests."
                          },
                          "linkedinThreadCount": {
                            "type": "number",
                            "description": "Current LinkedIn thread count returned by the account endpoint."
                          },
                          "pack": {
                            "type": "string",
                            "description": "Current ScrapingDog plan name."
                          },
                          "packType": {
                            "type": "string",
                            "description": "Billing cadence or plan type for the current package."
                          },
                          "requestLimit": {
                            "type": "number",
                            "description": "Total request quota available for the current billing window."
                          },
                          "requestUsed": {
                            "type": "number",
                            "description": "Number of requests already consumed in the current billing window."
                          },
                          "threadCount": {
                            "type": "number",
                            "description": "Number of active threads currently in use."
                          },
                          "username": {
                            "type": "string",
                            "description": "Account username returned by ScrapingDog."
                          },
                          "validity": {
                            "type": "number",
                            "description": "Remaining validity value returned by the account endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-amazon-product": {
      "get": {
        "operationId": "scrapingDog.get-amazon-product",
        "summary": "Get Amazon Product",
        "description": "Retrieves Amazon product details through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-amazon-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "description": "Amazon product identifier.",
            "schema": {
              "type": "string",
              "description": "Amazon product identifier."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Target Amazon country code.",
            "schema": {
              "type": "string",
              "description": "Target Amazon country code.",
              "default": "us"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Amazon top-level domain.",
            "schema": {
              "type": "string",
              "description": "Amazon top-level domain."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availability_status": {
                            "type": "string"
                          },
                          "average_rating": {
                            "type": "number"
                          },
                          "brand": {
                            "type": "string"
                          },
                          "brand_url": {
                            "type": "string"
                          },
                          "customization_options": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "color": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "size": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "style": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "feature_bullets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "list_price": {
                            "type": "string"
                          },
                          "merchant_info": {
                            "type": "string"
                          },
                          "number_of_videos": {
                            "type": "number"
                          },
                          "other_sellers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "price": {
                            "type": "string"
                          },
                          "product_category": {
                            "type": "string"
                          },
                          "product_information": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "ASINundefined": {
                                "type": "string"
                              },
                              "CustomerReviews": {
                                "type": "string"
                              },
                              "UPCundefined": {
                                "type": "string"
                              }
                            }
                          },
                          "shipping_info": {
                            "type": "string"
                          },
                          "ships_from": {
                            "type": "string"
                          },
                          "sold_by": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "total_answered_questions": {
                            "type": "string"
                          },
                          "total_reviews": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-google-ai-mode": {
      "get": {
        "operationId": "scrapingDog.get-google-ai-mode",
        "summary": "Get Google AI Mode",
        "description": "Retrieves Google AI Mode results through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-google-ai-mode"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query to run for Google AI Mode.",
            "schema": {
              "type": "string",
              "description": "Search query to run for Google AI Mode."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "references": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "number"
                              },
                              "link": {
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "textBlocks": {
                            "type": "object",
                            "properties": {
                              "snippet": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-google-ai-overview": {
      "get": {
        "operationId": "scrapingDog.get-google-ai-overview",
        "summary": "Get Google AI Overview",
        "description": "Retrieves Google AI Overview results through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-google-ai-overview"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query to run for Google AI Overview.",
            "schema": {
              "type": "string",
              "description": "Search query to run for Google AI Overview."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ai_overview": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "references": {
                                "type": "object",
                                "properties": {
                                  "index": {
                                    "type": "number"
                                  },
                                  "link": {
                                    "type": "string"
                                  },
                                  "logo": {
                                    "type": "string"
                                  },
                                  "snippet": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "text_blocks": {
                                "type": "object",
                                "properties": {
                                  "snippet": {
                                    "type": "string"
                                  },
                                  "snippet_highlighted_words": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-google-finance": {
      "get": {
        "operationId": "scrapingDog.get-google-finance",
        "summary": "Get Google Finance",
        "description": "Retrieves Google Finance data through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-google-finance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Ticker or finance query to search on Google Finance.",
            "schema": {
              "type": "string",
              "description": "Ticker or finance query to search on Google Finance."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "discover_more": {
                            "type": "object",
                            "properties": {
                              "items": {
                                "type": "object",
                                "properties": {
                                  "link": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "number"
                                  },
                                  "price_movement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "movement": {
                                        "type": "string"
                                      },
                                      "percentage": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "scrapingdog_link": {
                                    "type": "string"
                                  },
                                  "stock": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "knowledge_graph": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "about": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "key_stats": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "stats": {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "tags": {
                                    "type": "object",
                                    "properties": {
                                      "link": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              }
                            }
                          },
                          "market": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "Asia": {
                                "type": "object",
                                "properties": {
                                  "link": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "string"
                                  },
                                  "price_movement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "movement": {
                                        "type": "string"
                                      },
                                      "percentage": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "scrapingdog_link": {
                                    "type": "string"
                                  },
                                  "stock": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "Crypto": {
                                "type": "object",
                                "properties": {
                                  "link": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "string"
                                  },
                                  "price_movement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "movement": {
                                        "type": "string"
                                      },
                                      "percentage": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "scrapingdog_link": {
                                    "type": "string"
                                  },
                                  "stock": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "Currencies": {
                                "type": "object",
                                "properties": {
                                  "link": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "string"
                                  },
                                  "price_movement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "movement": {
                                        "type": "string"
                                      },
                                      "percentage": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "scrapingdog_link": {
                                    "type": "string"
                                  },
                                  "stock": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "Europe": {
                                "type": "object",
                                "properties": {
                                  "link": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "string"
                                  },
                                  "price_movement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "movement": {
                                        "type": "string"
                                      },
                                      "percentage": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "scrapingdog_link": {
                                    "type": "string"
                                  },
                                  "stock": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "Futures": {
                                "type": "object",
                                "properties": {
                                  "link": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "string"
                                  },
                                  "price_movement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "movement": {
                                        "type": "string"
                                      },
                                      "percentage": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "scrapingdog_link": {
                                    "type": "string"
                                  },
                                  "stock": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "US": {
                                "type": "object",
                                "properties": {
                                  "link": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "price": {
                                    "type": "string"
                                  },
                                  "price_movement": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "movement": {
                                        "type": "string"
                                      },
                                      "percentage": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "scrapingdog_link": {
                                    "type": "string"
                                  },
                                  "stock": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          },
                          "market_news": {
                            "type": "object",
                            "properties": {
                              "link": {
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "summary": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "exchange": {
                                "type": "string"
                              },
                              "extracted_price": {
                                "type": "number"
                              },
                              "price": {
                                "type": "string"
                              },
                              "price_movement": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "movement": {
                                    "type": "string"
                                  },
                                  "percentage": {
                                    "type": "number"
                                  },
                                  "value": {
                                    "type": "number"
                                  }
                                }
                              },
                              "stock": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-google-maps-place-details": {
      "get": {
        "operationId": "scrapingDog.get-google-maps-place-details",
        "summary": "Get Google Maps Place Details",
        "description": "Retrieves Google Maps place details through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-google-maps-place-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataId",
            "in": "query",
            "required": true,
            "description": "Google Maps data_id value for the place to fetch.",
            "schema": {
              "type": "string",
              "description": "Google Maps data_id value for the place to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "place_results": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "adderss": {
                                "type": "string"
                              },
                              "data_id": {
                                "type": "string"
                              },
                              "extensions": {
                                "type": "object",
                                "properties": {
                                  "service_options": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "gps_coordinates": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "latitude": {
                                    "type": "number"
                                  },
                                  "longitude": {
                                    "type": "number"
                                  }
                                }
                              },
                              "order_online": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "phone": {
                                "type": "string"
                              },
                              "place_id": {
                                "type": "string"
                              },
                              "provider_id": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "rating_summary": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number"
                                  },
                                  "stars": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "reviews": {
                                "type": "number"
                              },
                              "service_options": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "delivery": {
                                    "type": "boolean"
                                  },
                                  "dine-in": {
                                    "type": "boolean"
                                  },
                                  "onsite_services": {
                                    "type": "boolean"
                                  },
                                  "takeout": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "thumbmail": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "type": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "type_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "unsupported_extensions": {
                                "type": "object",
                                "properties": {
                                  "service_options": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-google-news-headlines": {
      "get": {
        "operationId": "scrapingDog.get-google-news-headlines",
        "summary": "Get Google News Headlines",
        "description": "Retrieves Google News headlines through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-google-news-headlines"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Query to filter Google News headline results.",
            "schema": {
              "type": "string",
              "description": "Query to filter Google News headline results."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "news_results": {
                            "type": "object",
                            "properties": {
                              "authors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "date": {
                                "type": "string"
                              },
                              "link": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "number"
                              },
                              "source": {
                                "type": "string"
                              },
                              "thumbnail": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapingDog/latest/actions/get-google-product": {
      "get": {
        "operationId": "scrapingDog.get-google-product",
        "summary": "Get Google Product",
        "description": "Retrieves Google product details through ScrapingDog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapingDog/latest/actions/get-google-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Google Shopping product ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "Google Shopping product ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "online_sellers": {
                            "type": "object",
                            "properties": {
                              "base_price": {
                                "type": "string"
                              },
                              "delivery": {
                                "type": "string"
                              },
                              "link": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "position": {
                                "type": "number"
                              },
                              "total_price": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "product_results": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "conditions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "extensions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "features": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "prices": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "rating": {
                                "type": "string"
                              },
                              "reviews": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "typical_prices": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "high": {
                                    "type": "string"
                                  },
                                  "low": {
                                    "type": "string"
                                  },
                                  "shown_price": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "product_variations": {
                            "type": "object",
                            "properties": {
                              "thumbnail": {
                                "type": "string"
                              }
                            },
[...]
