{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ONLYOFFICE DocSpace Universal API",
    "version": "0.0.5",
    "description": "Store, manage, and collaborate on documents in customizable rooms"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/oNLYOFFICEDocSpace/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/oNLYOFFICEDocSpace/latest/actions/get-file-settings": {
      "get": {
        "operationId": "oNLYOFFICEDocSpace.get-file-settings",
        "summary": "Get File Settings",
        "description": "Retrieves file settings from ONLYOFFICE DocSpace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oNLYOFFICEDocSpace/latest/actions/get-file-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "automaticallyCleanUp": {
                            "type": "object",
                            "properties": {
                              "gap": {
                                "type": "number"
                              },
                              "isAutoCleanUp": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "canSearchByContent": {
                            "type": "boolean"
                          },
                          "chunkUploadSize": {
                            "type": "number"
                          },
                          "confirmDelete": {
                            "type": "boolean"
                          },
                          "convertNotify": {
                            "type": "boolean"
                          },
                          "defaultOrder": {
                            "type": "object",
                            "properties": {
                              "isAsc": {
                                "type": "boolean"
                              },
                              "property": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "defaultSharingAccessRights": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "displayFileExtension": {
                            "type": "boolean"
                          },
                          "downloadTarGz": {
                            "type": "boolean"
                          },
                          "enableThirdParty": {
                            "type": "boolean"
                          },
                          "externalShare": {
                            "type": "boolean"
                          },
                          "externalShareSocialMedia": {
                            "type": "boolean"
                          },
                          "extsArchive": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsAudio": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsConvertible": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "extsDiagram": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsDocument": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsFilesVectorized": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsImage": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsImagePreviewed": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsMediaPreviewed": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsMustConvert": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsPresentation": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsSpreadsheet": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsUploadable": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsVideo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsWebCommented": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsWebCustomFilterEditing": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsWebEdited": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsWebEncrypt": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsWebPreviewed": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsWebRestrictedEditing": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extsWebReviewed": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "favoritesSection": {
                            "type": "boolean"
                          },
                          "fileDownloadUrlString": {
                            "type": "string"
                          },
                          "fileRedirectPreviewUrlString": {
                            "type": "string"
                          },
                          "fileThumbnailUrlString": {
                            "type": "string"
                          },
                          "fileWebEditorExternalUrlString": {
                            "type": "string"
                          },
                          "fileWebEditorUrlString": {
                            "type": "string"
                          },
                          "fileWebViewerExternalUrlString": {
                            "type": "string"
                          },
                          "fileWebViewerUrlString": {
                            "type": "string"
                          },
                          "forcesave": {
                            "type": "boolean"
                          },
                          "hideConfirmCancelOperation": {
                            "type": "boolean"
                          },
                          "hideConfirmConvertOpen": {
                            "type": "boolean"
                          },
                          "hideConfirmConvertSave": {
                            "type": "boolean"
                          },
                          "hideConfirmRoomLifetime": {
                            "type": "boolean"
                          },
                          "internalFormats": {
                            "type": "object",
                            "properties": {
                              "document": {
                                "type": "string"
                              },
                              "pdf": {
                                "type": "string"
                              },
                              "presentation": {
                                "type": "string"
                              },
                              "spreadsheet": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "keepNewFileName": {
                            "type": "boolean"
                          },
                          "masterFormExtension": {
                            "type": "string"
                          },
                          "maxUploadThreadCount": {
                            "type": "number"
                          },
                          "maxVectorizationFileSize": {
                            "type": "number"
                          },
                          "openEditorInSameTab": {
                            "type": "boolean"
                          },
                          "paramOutType": {
                            "type": "string"
                          },
                          "paramVersion": {
                            "type": "string"
                          },
                          "recentSection": {
                            "type": "boolean"
                          },
                          "storeForcesave": {
                            "type": "boolean"
                          },
                          "storeOriginalFiles": {
                            "type": "boolean"
                          },
                          "templatesSection": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oNLYOFFICEDocSpace/latest/actions/get-my-documents-section": {
      "get": {
        "operationId": "oNLYOFFICEDocSpace.get-my-documents-section",
        "summary": "Get My Documents Section",
        "description": "Retrieves your My Documents section from ONLYOFFICE DocSpace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oNLYOFFICEDocSpace/latest/actions/get-my-documents-section"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "current": {
                            "type": "object",
                            "properties": {
                              "access": {
                                "type": "number"
                              },
                              "availableShareRights": {
                                "type": "object",
                                "properties": {
                                  "externalLink": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "group": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "primaryExternalLink": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "user": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "canShare": {
                                "type": "boolean"
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "createdBy": {
                                "type": "object",
                                "properties": {
                                  "avatar": {
                                    "type": "string"
                                  },
                                  "avatarMax": {
                                    "type": "string"
                                  },
                                  "avatarMedium": {
                                    "type": "string"
                                  },
                                  "avatarOriginal": {
                                    "type": "string"
                                  },
                                  "avatarSmall": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "hasAvatar": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "isAnonim": {
                                    "type": "boolean"
                                  },
                                  "profileUrl": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "denyDownload": {
                                "type": "boolean"
                              },
                              "fileEntryType": {
                                "type": "number"
                              },
                              "filesCount": {
                                "type": "number"
                              },
                              "foldersCount": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "indexing": {
                                "type": "boolean"
                              },
                              "mute": {
                                "type": "boolean"
                              },
                              "new": {
                                "type": "number"
                              },
                              "parentId": {
                                "type": "number"
                              },
                              "parentShared": {
                                "type": "boolean"
                              },
                              "pinned": {
                                "type": "boolean"
                              },
                              "private": {
                                "type": "boolean"
                              },
                              "rootFolderId": {
                                "type": "number"
                              },
                              "rootFolderType": {
                                "type": "number"
                              },
                              "security": {
                                "type": "object",
                                "properties": {
                                  "changeOwner": {
                                    "type": "boolean"
                                  },
                                  "copy": {
                                    "type": "boolean"
                                  },
                                  "copyLink": {
                                    "type": "boolean"
                                  },
                                  "copySharedLink": {
                                    "type": "boolean"
                                  },
                                  "copyTo": {
                                    "type": "boolean"
                                  },
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "createRoomFrom": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "download": {
                                    "type": "boolean"
                                  },
                                  "duplicate": {
                                    "type": "boolean"
                                  },
                                  "editAccess": {
                                    "type": "boolean"
                                  },
                                  "editRoom": {
                                    "type": "boolean"
                                  },
                                  "embed": {
                                    "type": "boolean"
                                  },
                                  "indexExport": {
                                    "type": "boolean"
                                  },
                                  "move": {
                                    "type": "boolean"
                                  },
                                  "moveTo": {
                                    "type": "boolean"
                                  },
                                  "mute": {
                                    "type": "boolean"
                                  },
                                  "pin": {
                                    "type": "boolean"
                                  },
                                  "read": {
                                    "type": "boolean"
                                  },
                                  "reconnect": {
                                    "type": "boolean"
                                  },
                                  "rename": {
                                    "type": "boolean"
                                  },
                                  "useChat": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "shared": {
                                "type": "boolean"
                              },
                              "sharedForUser": {
                                "type": "boolean"
                              },
                              "shortWebUrl": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedBy": {
                                "type": "object",
                                "properties": {
                                  "avatar": {
                                    "type": "string"
                                  },
                                  "avatarMax": {
                                    "type": "string"
                                  },
                                  "avatarMedium": {
                                    "type": "string"
                                  },
                                  "avatarOriginal": {
                                    "type": "string"
                                  },
                                  "avatarSmall": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "hasAvatar": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "isAnonim": {
                                    "type": "boolean"
                                  },
                                  "profileUrl": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "access": {
                                  "type": "number"
                                },
                                "availableShareRights": {
                                  "type": "object",
                                  "properties": {
                                    "externalLink": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "group": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "primaryExternalLink": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "user": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "canShare": {
                                  "type": "boolean"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "contentLength": {
                                  "type": "string"
                                },
                                "created": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "createdBy": {
                                  "type": "object",
                                  "properties": {
                                    "avatar": {
                                      "type": "string"
                                    },
                                    "avatarMax": {
                                      "type": "string"
                                    },
                                    "avatarMedium": {
                                      "type": "string"
                                    },
                                    "avatarOriginal": {
                                      "type": "string"
                                    },
                                    "avatarSmall": {
                                      "type": "string"
                                    },
                                    "displayName": {
                                      "type": "string"
                                    },
                                    "hasAvatar": {
                                      "type": "boolean"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "isAnonim": {
                                      "type": "boolean"
                                    },
                                    "profileUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "fileEntryType": {
                                  "type": "number"
                                },
                                "fileExst": {
                                  "type": "string"
                                },
                                "fileStatus": {
                                  "type": "number"
                                },
                                "fileType": {
                                  "type": "number"
                                },
                                "folderId": {
                                  "type": "number"
                                },
                                "formFillingStatus": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "mute": {
                                  "type": "boolean"
                                },
                                "parentShared": {
                                  "type": "boolean"
                                },
                                "pureContentLength": {
                                  "type": "number"
                                },
                                "rootFolderId": {
                                  "type": "number"
                                },
                                "rootFolderType": {
                                  "type": "number"
                                },
                                "security": {
                                  "type": "object",
                                  "properties": {
                                    "askAi": {
                                      "type": "boolean"
                                    },
                                    "comment": {
                                      "type": "boolean"
                                    },
                                    "convert": {
                                      "type": "boolean"
                                    },
                                    "copy": {
                                      "type": "boolean"
                                    },
                                    "copyLink": {
                                      "type": "boolean"
                                    },
                                    "createRoomFrom": {
                                      "type": "boolean"
                                    },
                                    "customFilter": {
                                      "type": "boolean"
                                    },
                                    "delete": {
                                      "type": "boolean"
                                    },
                                    "download": {
                                      "type": "boolean"
                                    },
                                    "duplicate": {
                                      "type": "boolean"
                                    },
                                    "edit": {
                                      "type": "boolean"
                                    },
                                    "editHistory": {
                                      "type": "boolean"
                                    },
                                    "embed": {
                                      "type": "boolean"
                                    },
                                    "fillForms": {
                                      "type": "boolean"
                                    },
                                    "fillingStatus": {
                                      "type": "boolean"
                                    },
                                    "lock": {
                                      "type": "boolean"
                                    },
                                    "move": {
                                      "type": "boolean"
                                    },
                                    "openForm": {
                                      "type": "boolean"
                                    },
                                    "read": {
                                      "type": "boolean"
                                    },
                                    "readHistory": {
                                      "type": "boolean"
                                    },
                                    "rename": {
                                      "type": "boolean"
                                    },
                                    "resetFilling": {
                                      "type": "boolean"
                                    },
                                    "review": {
                                      "type": "boolean"
                                    },
                                    "startFilling": {
                                      "type": "boolean"
                                    },
                                    "stopFilling": {
                                      "type": "boolean"
                                    },
                                    "submitToFormGallery": {
                                      "type": "boolean"
                                    },
                                    "vectorization": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "shared": {
                                  "type": "boolean"
                                },
                                "sharedForUser": {
                                  "type": "boolean"
                                },
                                "shareSettings": {
                                  "type": "object",
                                  "properties": {
                                    "externalLink": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "shortWebUrl": {
                                  "type": "string"
                                },
                                "thumbnailStatus": {
                                  "type": "number"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "updated": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updatedBy": {
                                  "type": "object",
                                  "properties": {
                                    "avatar": {
                                      "type": "string"
                                    },
                                    "avatarMax": {
                                      "type": "string"
                                    },
                                    "avatarMedium": {
                                      "type": "string"
                                    },
                                    "avatarOriginal": {
                                      "type": "string"
                                    },
                                    "avatarSmall": {
                                      "type": "string"
                                    },
                                    "displayName": {
                                      "type": "string"
                                    },
                                    "hasAvatar": {
                                      "type": "boolean"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "isAnonim": {
                                      "type": "boolean"
                                    },
                                    "profileUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "version": {
                                  "type": "number"
                                },
                                "versionGroup": {
                                  "type": "number"
                                },
                                "viewAccessibility": {
                                  "type": "object",
                                  "properties": {
                                    "canConvert": {
                                      "type": "boolean"
                                    },
                                    "imageView": {
                                      "type": "boolean"
                                    },
                                    "mediaView": {
                                      "type": "boolean"
                                    },
                                    "mustConvert": {
                                      "type": "boolean"
                                    },
                                    "webComment": {
                                      "type": "boolean"
                                    },
                                    "webCustomFilterEditing": {
                                      "type": "boolean"
                                    },
                                    "webEdit": {
                                      "type": "boolean"
                                    },
                                    "webRestrictedEditing": {
                                      "type": "boolean"
                                    },
                                    "webReview": {
                                      "type": "boolean"
                                    },
                                    "webView": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "viewUrl": {
                                  "type": "string"
                                },
                                "webUrl": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "new": {
                            "type": "number"
                          },
                          "pathParts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "folderType": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "startIndex": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oNLYOFFICEDocSpace/latest/actions/get-my-profile": {
      "get": {
        "operationId": "oNLYOFFICEDocSpace.get-my-profile",
        "summary": "Get My Profile",
        "description": "Retrieves your profile from ONLYOFFICE DocSpace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oNLYOFFICEDocSpace/latest/actions/get-my-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activationStatus": {
                            "type": "number"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "avatarMax": {
                            "type": "string"
                          },
                          "avatarMedium": {
                            "type": "string"
                          },
                          "avatarOriginal": {
                            "type": "string"
                          },
                          "avatarSmall": {
                            "type": "string"
                          },
                          "department": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "hasAvatar": {
                            "type": "boolean"
                          },
                          "hasPersonalFolder": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAdmin": {
                            "type": "boolean"
                          },
                          "isAnonim": {
                            "type": "boolean"
                          },
                          "isCollaborator": {
                            "type": "boolean"
                          },
                          "isLDAP": {
                            "type": "boolean"
                          },
                          "isOwner": {
                            "type": "boolean"
                          },
                          "isRoomAdmin": {
                            "type": "boolean"
                          },
                          "isSSO": {
                            "type": "boolean"
                          },
                          "isVisitor": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "loginEventId": {
                            "type": "number"
                          },
                          "mobilePhoneActivationStatus": {
                            "type": "number"
                          },
                          "profileUrl": {
                            "type": "string"
                          },
                          "registrationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "number"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "workFrom": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oNLYOFFICEDocSpace/latest/actions/get-portal-capabilities": {
      "get": {
        "operationId": "oNLYOFFICEDocSpace.get-portal-capabilities",
        "summary": "Get Portal Capabilities",
        "description": "Retrieves portal capabilities from ONLYOFFICE DocSpace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oNLYOFFICEDocSpace/latest/actions/get-portal-capabilities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identityServerEnabled": {
                            "type": "boolean"
                          },
                          "ldapEnabled": {
                            "type": "boolean"
                          },
                          "oauthEnabled": {
                            "type": "boolean"
                          },
                          "providers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ssoLabel": {
                            "type": "string"
                          },
                          "ssoUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oNLYOFFICEDocSpace/latest/actions/get-portal-information": {
      "get": {
        "operationId": "oNLYOFFICEDocSpace.get-portal-information",
        "summary": "Get Portal Information",
        "description": "Retrieves portal information from ONLYOFFICE DocSpace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oNLYOFFICEDocSpace/latest/actions/get-portal-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calls": {
                            "type": "boolean"
                          },
                          "creationDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "industry": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lastModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "spam": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "number"
                          },
                          "statusChangeDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "tenantAlias": {
                            "type": "string"
                          },
                          "tenantId": {
                            "type": "number"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "trustedDomainsType": {
                            "type": "number"
                          },
                          "version": {
                            "type": "number"
                          },
                          "versionChanged": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oNLYOFFICEDocSpace/latest/actions/get-portal-settings": {
      "get": {
        "operationId": "oNLYOFFICEDocSpace.get-portal-settings",
        "summary": "Get Portal Settings",
        "description": "Retrieves portal settings from ONLYOFFICE DocSpace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oNLYOFFICEDocSpace/latest/actions/get-portal-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "baseDomain": {
                            "type": "string"
                          },
                          "cookieSettingsEnabled": {
                            "type": "boolean"
                          },
                          "culture": {
                            "type": "string"
                          },
                          "debugInfo": {
                            "type": "boolean"
                          },
                          "deepLink": {
                            "type": "object",
                            "properties": {
                              "androidPackageName": {
                                "type": "string"
                              },
                              "iosPackageId": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "displayAbout": {
                            "type": "boolean"
                          },
                          "displayBanners": {
                            "type": "boolean"
                          },
                          "docSpace": {
                            "type": "boolean"
                          },
                          "domainValidator": {
                            "type": "object",
                            "properties": {
                              "maxLength": {
                                "type": "number"
                              },
                              "minLength": {
                                "type": "number"
                              },
                              "regex": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "enableAdmMess": {
                            "type": "boolean"
                          },
                          "externalResources": {
                            "type": "object",
                            "properties": {
                              "api": {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string"
                                  },
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "docspace": {
                                        "type": "string"
                                      },
                                      "javascriptSdk": {
                                        "type": "string"
                                      },
                                      "pluginsSdk": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "common": {
                                "type": "object",
                                "properties": {
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "booktrainingemail": {
                                        "type": "string"
                                      },
                                      "documentationemail": {
                                        "type": "string"
                                      },
                                      "feedback": {
                                        "type": "string"
                                      },
                                      "legalterms": {
                                        "type": "string"
                                      },
                                      "license": {
                                        "type": "string"
                                      },
                                      "paymentemail": {
                                        "type": "string"
                                      },
                                      "supportemail": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "forum": {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "helpcenter": {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string"
                                  },
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "accessrights": {
                                        "type": "string"
                                      },
                                      "administrationguides": {
                                        "type": "string"
                                      },
                                      "administratormessage": {
                                        "type": "string"
                                      },
                                      "aisettings": {
                                        "type": "string"
                                      },
                                      "alternativeurl": {
                                        "type": "string"
                                      },
                                      "apikeys": {
                                        "type": "string"
                                      },
                                      "appearance": {
                                        "type": "string"
                                      },
                                      "autobackup": {
                                        "type": "string"
                                      },
                                      "becometranslator": {
                                        "type": "string"
                                      },
                                      "configureDeepLink": {
                                        "type": "string"
                                      },
                                      "configuringsettings": {
                                        "type": "string"
                                      },
                                      "connectamazon": {
                                        "type": "string"
                                      },
                                      "connectapple": {
                                        "type": "string"
                                      },
                                      "connectbox": {
                                        "type": "string"
                                      },
                                      "connectdropbox": {
                                        "type": "string"
                                      },
                                      "connectfacebook": {
                                        "type": "string"
                                      },
                                      "connectfirebase": {
                                        "type": "string"
                                      },
                                      "connectgoogle": {
                                        "type": "string"
                                      },
                                      "connectgooglecloudstorage": {
                                        "type": "string"
                                      },
                                      "connectlinkedin": {
                                        "type": "string"
                                      },
                                      "connectmicrosoft": {
                                        "type": "string"
                                      },
                                      "connectonedrive": {
                                        "type": "string"
                                      },
                                      "connectrackspace": {
                                        "type": "string"
                                      },
                                      "connecttelegram": {
                                        "type": "string"
                                      },
                                      "connecttwitter": {
                                        "type": "string"
                                      },
                                      "connectwechat": {
                                        "type": "string"
                                      },
                                      "connectzoom": {
                                        "type": "string"
                                      },
                                      "creatingbackup": {
                                        "type": "string"
                                      },
                                      "dataImport": {
                                        "type": "string"
                                      },
                                      "docspacefaq": {
                                        "type": "string"
                                      },
                                      "docspacemanagingrooms": {
                                        "type": "string"
                                      },
                                      "documentService": {
                                        "type": "string"
                                      },
                                      "encryption": {
                                        "type": "string"
                                      },
                                      "enterpriseinstall": {
                                        "type": "string"
                                      },
                                      "enterpriseinstallscript": {
                                        "type": "string"
                                      },
                                      "enterpriseinstallwindows": {
                                        "type": "string"
                                      },
                                      "integrationsettings": {
                                        "type": "string"
                                      },
                                      "invitationSettings": {
                                        "type": "string"
                                      },
                                      "ipsecurity": {
                                        "type": "string"
                                      },
                                      "language": {
                                        "type": "string"
                                      },
                                      "ldap": {
                                        "type": "string"
                                      },
                                      "limiteddevtools": {
                                        "type": "string"
                                      },
                                      "login": {
                                        "type": "string"
                                      },
                                      "managingusers": {
                                        "type": "string"
                                      },
                                      "oauth": {
                                        "type": "string"
                                      },
                                      "passwordstrength": {
                                        "type": "string"
                                      },
                                      "pluginsSdk": {
                                        "type": "string"
                                      },
                                      "renaming": {
                                        "type": "string"
                                      },
                                      "sessionlifetime": {
                                        "type": "string"
                                      },
                                      "settings": {
                                        "type": "string"
                                      },
                                      "singleSignOn": {
                                        "type": "string"
                                      },
                                      "smtp": {
                                        "type": "string"
                                      },
                                      "storagemanagement": {
                                        "type": "string"
                                      },
                                      "trusteddomain": {
                                        "type": "string"
                                      },
                                      "twofactorauthentication": {
                                        "type": "string"
                                      },
                                      "userguides": {
                                        "type": "string"
                                      },
                                      "welcomepage": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "integrations": {
                                "type": "object",
                                "properties": {
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "drupal": {
                                        "type": "string"
                                      },
                                      "pipedrive": {
                                        "type": "string"
                                      },
                                      "wordpress": {
                                        "type": "string"
                                      },
                                      "zapier": {
                                        "type": "string"
                                      },
                                      "zoom": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "site": {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string"
                                  },
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "allconnectors": {
                                        "type": "string"
                                      },
                                      "buydeveloper": {
                                        "type": "string"
                                      },
                                      "buyenterprise": {
                                        "type": "string"
                                      },
                                      "collaborationrooms": {
                                        "type": "string"
                                      },
                                      "customrooms": {
                                        "type": "string"
                                      },
                                      "demoorder": {
                                        "type": "string"
                                      },
                                      "desktop": {
                                        "type": "string"
                                      },
                                      "docspace": {
                                        "type": "string"
                                      },
                                      "docspaceprices": {
                                        "type": "string"
                                      },
                                      "downloaddesktop": {
                                        "type": "string"
                                      },
                                      "downloadmobile": {
                                        "type": "string"
                                      },
                                      "forenterprises": {
                                        "type": "string"
                                      },
                                      "formfillingrooms": {
                                        "type": "string"
                                      },
                                      "officeforandroid": {
                                        "type": "string"
                                      },
                                      "officefordrupal": {
                                        "type": "string"
                                      },
                                      "officeforios": {
                                        "type": "string"
                                      },
                                      "officeforwordpress": {
                                        "type": "string"
                                      },
                                      "officeforzapier": {
                                        "type": "string"
                                      },
                                      "officeforzoom": {
                                        "type": "string"
                                      },
                                      "openai": {
                                        "type": "string"
                                      },
                                      "privaterooms": {
                                        "type": "string"
                                      },
                                      "publicrooms": {
                                        "type": "string"
                                      },
                                      "registrationcanceled": {
                                        "type": "string"
                                      },
                                      "seamlesscollaboration": {
                                        "type": "string"
                                      },
                                      "subscribe": {
                                        "type": "string"
                                      },
                                      "wrongportalname": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "socialNetworks": {
                                "type": "object",
                                "properties": {
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "facebook": {
                                        "type": "string"
                                      },
                                      "instagram": {
                                        "type": "string"
                                      },
                                      "tiktok": {
                                        "type": "string"
                                      },
                                      "twitter": {
                                        "type": "string"
                                      },
                                      "youtube": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "support": {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string"
                                  },
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "request": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "videoguides": {
                                "type": "object",
                                "properties": {
                                  "domain": {
                                    "type": "string"
                                  },
                                  "entries": {
                                    "type": "object",
                                    "properties": {
                                      "activesessions": {
                                        "type": "string"
                                      },
                                      "archive": {
                                        "type": "string"
                                      },
                                      "backup": {
                                        "type": "string"
                                      },
                                      "createfiles": {
                                        "type": "string"
                                      },
[...]
