{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Streamtime Universal API",
    "version": "0.0.6",
    "description": "Plan jobs, track time, invoice clients, and report profitability"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/streamtime/latest/actions/create-company": {
      "post": {
        "operationId": "streamtime.create-company",
        "summary": "Create Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taxNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Company name",
                    "example": "Acme Corporation"
                  },
                  "companyStatus": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Status of a company",
                    "x-mindcloud-advanced": true
                  },
                  "companyStatus.id": {
                    "type": "number",
                    "description": "Company status ID",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "taxNumber": {
                    "type": "string",
                    "description": "Tax/GST/VAT number",
                    "example": "NZ123-456-789",
                    "x-mindcloud-advanced": true
                  },
                  "phone1": {
                    "type": "string",
                    "description": "Primary phone number",
                    "example": "+64 9 123 4567",
                    "x-mindcloud-advanced": true
                  },
                  "phone2": {
                    "type": "string",
                    "description": "Secondary phone number",
                    "example": "+64 21 987 654",
                    "x-mindcloud-advanced": true
                  },
                  "websiteAddress": {
                    "type": "string",
                    "description": "Website URL",
                    "example": "https://www.acme.co",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Physical address object",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress.line1": {
                    "type": "string",
                    "description": "Physical address line 1",
                    "example": "123 High St",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress.line2": {
                    "type": "string",
                    "description": "Physical address line 2",
                    "example": "Suite 5",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress.line3": {
                    "type": "string",
                    "description": "Physical address line 3",
                    "example": "Building B",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress.city": {
                    "type": "string",
                    "description": "Physical address city",
                    "example": "Auckland",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress.region": {
                    "type": "string",
                    "description": "Physical address region",
                    "example": "Auckland",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress.countryName": {
                    "type": "string",
                    "description": "Physical address country name",
                    "example": "New Zealand",
                    "x-mindcloud-advanced": true
                  },
                  "physicalAddress.postCode": {
                    "type": "string",
                    "description": "Physical address postal code",
                    "example": "1010",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Postal address object",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress.line1": {
                    "type": "string",
                    "description": "Postal address line 1",
                    "example": "PO Box 123",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress.line2": {
                    "type": "string",
                    "description": "Postal address line 2",
                    "example": "Suite 5",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress.line3": {
                    "type": "string",
                    "description": "Postal address line 3",
                    "example": "Building B",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress.city": {
                    "type": "string",
                    "description": "Postal address city",
                    "example": "Auckland",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress.region": {
                    "type": "string",
                    "description": "Postal address region",
                    "example": "Auckland",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress.countryName": {
                    "type": "string",
                    "description": "Postal address country name",
                    "example": "New Zealand",
                    "x-mindcloud-advanced": true
                  },
                  "postalAddress.postCode": {
                    "type": "string",
                    "description": "Postal address postal code",
                    "example": "1010",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "number",
                            "description": "Branch ID"
                          },
                          "branchName": {
                            "type": "string",
                            "description": "Branch name"
                          },
                          "companyLeadUserId": {
                            "type": "number",
                            "description": "Lead user ID"
                          },
                          "companyStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Company status"
                          },
                          "id": {
                            "type": "number",
                            "description": "Company ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Company name"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Notes"
                          },
                          "phone1": {
                            "type": "string",
                            "description": "Primary phone number"
                          },
                          "phone2": {
                            "type": "string",
                            "description": "Secondary phone number"
                          },
                          "rateCardId": {
                            "type": "number",
                            "description": "Rate card ID"
                          },
                          "taxNumber": {
                            "type": "string",
                            "description": "Tax number"
                          },
                          "websiteAddress": {
                            "type": "string",
                            "description": "Website URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/create-company-contact": {
      "post": {
        "operationId": "streamtime.create-company-contact",
        "summary": "Create Company Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/create-company-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "contactStatus.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "number",
                    "description": "Company ID",
                    "example": 711949
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name",
                    "example": "Jane"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address",
                    "example": "jane.doe@example.com"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number",
                    "example": "+64 21 123 4567"
                  },
                  "position": {
                    "type": "string",
                    "description": "Position or job title",
                    "example": "Project Manager"
                  },
                  "contactStatus": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Status of a contact",
                    "x-mindcloud-advanced": true
                  },
                  "contactStatus.id": {
                    "type": "number",
                    "description": "Contact status ID",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "contactLabels[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Labels applied to the contact",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Is contact active"
                          },
                          "companyId": {
                            "type": "number",
                            "description": "Company ID"
                          },
                          "contactStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Contact status"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name"
                          },
                          "id": {
                            "type": "number",
                            "description": "Contact ID"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Notes"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Phone number"
                          },
                          "position": {
                            "type": "string",
                            "description": "Position"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/create-job": {
      "post": {
        "operationId": "streamtime.create-job",
        "summary": "Create Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "rateCardId",
                  "branchId",
                  "jobStatus.id",
                  "number",
                  "name",
                  "contactId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "number",
                    "description": "Company ID linked to the job."
                  },
                  "jobLeadUserId": {
                    "type": "number",
                    "description": "Job lead user ID",
                    "example": 42
                  },
                  "rateCardId": {
                    "type": "number",
                    "description": "The id of the rate card used for this job"
                  },
                  "branchId": {
                    "type": "number",
                    "description": "The id of the branch this job belongs to"
                  },
                  "jobStatus": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Status of a Job."
                  },
                  "jobStatus.id": {
                    "type": "number",
                    "description": "Job Status ID (5=Paused, 1=In Play, 2=Done, 3=Deleted, 4=Archived)",
                    "example": 1
                  },
                  "number": {
                    "type": "string",
                    "description": "Job number",
                    "example": "JOB-2025-010"
                  },
                  "name": {
                    "type": "string",
                    "description": "Job name",
                    "example": "Website Redesign"
                  },
                  "purchaseOrderNumber": {
                    "type": "string",
                    "description": "Client purchase order number",
                    "example": "PO-12345"
                  },
                  "contactId": {
                    "type": "number",
                    "description": "The id of the contact this job is being done for"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "number",
                            "description": "Branch ID"
                          },
                          "companyId": {
                            "type": "number",
                            "description": "Company ID"
                          },
                          "contactId": {
                            "type": "number",
                            "description": "Primary contact ID"
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full job name"
                          },
                          "id": {
                            "type": "number",
                            "description": "Job ID"
                          },
                          "jobCreatedDatetime": {
                            "type": "string",
                            "description": "Creation timestamp"
                          },
                          "jobStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Current job status"
                          },
                          "name": {
                            "type": "string",
                            "description": "Job name"
                          },
                          "number": {
                            "type": "string",
                            "description": "Job number"
                          },
                          "rateCardId": {
                            "type": "number",
                            "description": "Rate card ID"
                          },
                          "totalInvoicedExTax": {
                            "type": "number",
                            "description": "Total invoiced excluding tax"
                          },
                          "totalLoggedMinutes": {
                            "type": "number",
                            "description": "Total logged minutes"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/create-job-item": {
      "post": {
        "operationId": "streamtime.create-job-item",
        "summary": "Create Job Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/create-job-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobId",
                  "jobPhaseId",
                  "jobItemStatus.id",
                  "name",
                  "costingMethod.id",
                  "isBillable",
                  "timeAllocationMethod.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobId": {
                    "type": "number",
                    "description": "Job ID",
                    "example": 601
                  },
                  "jobPhaseId": {
                    "type": "number",
                    "description": "Job phase ID",
                    "example": 3
                  },
                  "jobItemStatus": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Status of a Job item."
                  },
                  "jobItemStatus.id": {
                    "type": "number",
                    "description": "Job Item Status ID (1=Planning, 4=Scheduled, 2=Complete, 3=Deleted)",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "description": "Job item name",
                    "example": "UI Design"
                  },
                  "description": {
                    "type": "string",
                    "description": "Job item description",
                    "example": "Wireframes and high-fidelity mockups"
                  },
                  "sellRate": {
                    "type": "number",
                    "description": "Explicit sell rate in job currency (if provided)",
                    "example": 120
                  },
                  "costingMethod": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Consting Method"
                  },
                  "costingMethod.id": {
                    "type": "number",
                    "description": "Consting Method ID (1=Item, 2=People, 3=Fixed Price Calculated Sell, 4=Fixed Price User Sell)",
                    "example": 1
                  },
                  "isBillable": {
                    "type": "boolean",
                    "description": "Is this job item billable",
                    "example": true
                  },
                  "timeAllocationMethod": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "How the time of an item is allocated, whether as a bucket that is shared amongst all users or individually assigned to each user."
                  },
                  "timeAllocationMethod.id": {
                    "type": "number",
                    "description": "Time Allocation Method ID (1=Item, 2=People)",
                    "example": 1
                  },
                  "totalPlannedMinutes": {
                    "type": "number",
                    "description": "Total planned minutes for the item",
                    "example": 240
                  },
                  "estimatedStartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Estimated start date",
                    "example": "2025-02-01"
                  },
                  "estimatedEndDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Estimated end date",
                    "example": "2025-03-15"
                  },
                  "completedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Completion date",
                    "example": "2025-03-18"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "costingMethod": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Costing method"
                          },
                          "description": {
                            "type": "string",
                            "description": "Job item description"
                          },
                          "id": {
                            "type": "number",
                            "description": "Job item ID"
                          },
                          "isBillable": {
                            "type": "boolean",
                            "description": "Whether the item is billable"
                          },
                          "jobId": {
                            "type": "number",
                            "description": "Parent job ID"
                          },
                          "jobItemStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Current job item status"
                          },
                          "jobPhaseId": {
                            "type": "number",
                            "description": "Parent phase ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Job item name"
                          },
                          "orderId": {
                            "type": "number",
                            "description": "Item order"
                          },
                          "timeAllocationMethod": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Time allocation method"
                          },
                          "totalLoggedMinutes": {
                            "type": "number",
                            "description": "Logged minutes"
                          },
                          "totalPlannedMinutes": {
                            "type": "number",
                            "description": "Planned minutes"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/create-job-phase": {
      "post": {
        "operationId": "streamtime.create-job-phase",
        "summary": "Create Job Phase",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/create-job-phase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobId": {
                    "type": "number",
                    "description": "Job ID",
                    "example": 601
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the phase",
                    "example": "Initial Scoping"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Job phase ID"
                          },
                          "jobId": {
                            "type": "number",
                            "description": "Parent job ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Phase name"
                          },
                          "orderId": {
                            "type": "number",
                            "description": "Phase order"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/create-logged-time-entry": {
      "post": {
        "operationId": "streamtime.create-logged-time-entry",
        "summary": "Create Logged Time Entry",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/create-logged-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userId",
                  "date",
                  "minutes",
                  "loggedTimeStatus.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userId": {
                    "type": "number",
                    "description": "User ID for the logged time entry.",
                    "example": 789
                  },
                  "date": {
                    "type": "string",
                    "description": "Date for the logged time entry.",
                    "example": "2026-03-04"
                  },
                  "minutes": {
                    "type": "number",
                    "description": "Tracked minutes for the logged time entry.",
                    "example": 90
                  },
                  "jobId": {
                    "type": "number",
                    "description": "Job ID linked to the logged time entry.",
                    "example": 2079189
                  },
                  "jobItemUserId": {
                    "type": "number",
                    "description": "Job item user ID linked to the logged time entry.",
                    "example": 11452290
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes for the logged time entry.",
                    "example": "Reviewed safety procedures"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Whether the logged time entry is private."
                  },
                  "loggedTimeStatus": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Logged time status object."
                  },
                  "loggedTimeStatus.id": {
                    "type": "string",
                    "description": "Logged Time Status ID (1=Incomplete, 2=Complete, 3=Deleted).",
                    "enum": [
                      "1",
                      "2",
                      "3"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedDatetime": {
                            "type": "string",
                            "description": "Completion timestamp"
                          },
                          "date": {
                            "type": "string",
                            "description": "Logged date"
                          },
                          "id": {
                            "type": "number",
                            "description": "Logged time ID"
                          },
                          "jobId": {
                            "type": "number",
                            "description": "Related job ID"
                          },
                          "jobItemUserId": {
                            "type": "number",
                            "description": "Related job item user ID"
                          },
                          "loggedTimeStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Logged time status"
                          },
                          "minutes": {
                            "type": "number",
                            "description": "Logged minutes"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Entry notes"
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether the entry is private"
                          },
                          "totalExTax": {
                            "type": "number",
                            "description": "Total excluding tax"
                          },
                          "userId": {
                            "type": "number",
                            "description": "User ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/create-multiple-logged-time-entries": {
      "post": {
        "operationId": "streamtime.create-multiple-logged-time-entries",
        "summary": "Create Multiple Logged Time Entries",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/create-multiple-logged-time-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "loggedTimes[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "loggedTimes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of logged time entry payloads."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedDatetime": {
                            "type": "string",
                            "description": "Completion timestamp"
                          },
                          "date": {
                            "type": "string",
                            "description": "Logged date"
                          },
                          "id": {
                            "type": "number",
                            "description": "Logged time ID"
                          },
                          "jobId": {
                            "type": "number",
                            "description": "Related job ID"
                          },
                          "jobItemUserId": {
                            "type": "number",
                            "description": "Related job item user ID"
                          },
                          "loggedTimeStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Logged time status"
                          },
                          "minutes": {
                            "type": "number",
                            "description": "Logged minutes"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Entry notes"
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether the entry is private"
                          },
                          "totalExTax": {
                            "type": "number",
                            "description": "Total excluding tax"
                          },
                          "userId": {
                            "type": "number",
                            "description": "User ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/get-company": {
      "get": {
        "operationId": "streamtime.get-company",
        "summary": "Get Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company ID",
            "schema": {
              "type": "number",
              "description": "Company ID",
              "example": 711949
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "number",
                            "description": "Branch ID"
                          },
                          "branchName": {
                            "type": "string",
                            "description": "Branch name"
                          },
                          "companyLeadUserId": {
                            "type": "number",
                            "description": "Lead user ID"
                          },
                          "companyStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Company status"
                          },
                          "id": {
                            "type": "number",
                            "description": "Company ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Company name"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Notes"
                          },
                          "phone1": {
                            "type": "string",
                            "description": "Primary phone number"
                          },
                          "phone2": {
                            "type": "string",
                            "description": "Secondary phone number"
                          },
                          "rateCardId": {
                            "type": "number",
                            "description": "Rate card ID"
                          },
                          "taxNumber": {
                            "type": "string",
                            "description": "Tax number"
                          },
                          "websiteAddress": {
                            "type": "string",
                            "description": "Website URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/get-invoice": {
      "get": {
        "operationId": "streamtime.get-invoice",
        "summary": "Get Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "required": true,
            "description": "Invoice ID.",
            "schema": {
              "type": "number",
              "description": "Invoice ID.",
              "example": 1601169
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDatetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Created timestamp"
                          },
                          "createdUserId": {
                            "type": "number",
                            "description": "Creator user ID"
                          },
                          "currencyCode": {
                            "type": "string",
                            "description": "Currency code"
                          },
                          "discount": {
                            "type": "number",
                            "description": "Discount percentage"
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "Due date"
                          },
                          "exchangeRate": {
                            "type": "number",
                            "description": "Exchange rate"
                          },
                          "externalAccountingPlatformId": {
                            "type": "number",
                            "description": "External accounting platform ID"
                          },
                          "externalInvoiceId": {
                            "type": "string",
                            "description": "External invoice ID"
                          },
                          "id": {
                            "type": "number",
                            "description": "Invoice ID"
                          },
                          "instalment": {
                            "type": "number",
                            "description": "Instalment percentage"
                          },
                          "invoiceCurrencyAmountPaidIncTax": {
                            "type": "number",
                            "description": "Paid amount including tax"
                          },
                          "invoiceCurrencyBalance": {
                            "type": "number",
                            "description": "Outstanding balance"
                          },
                          "invoiceCurrencyTotalAmountExTax": {
                            "type": "number",
                            "description": "Total amount excluding tax"
                          },
                          "invoiceCurrencyTotalAmountIncTax": {
                            "type": "number",
                            "description": "Total amount including tax"
                          },
                          "invoiceCurrencyTotalAmountTax": {
                            "type": "number",
                            "description": "Tax amount"
                          },
                          "invoiceDate": {
                            "type": "string",
                            "description": "Invoice date"
                          },
                          "invoiceStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Invoice status"
                          },
                          "invoiceType": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Invoice type"
                          },
                          "jobId": {
                            "type": "number",
                            "description": "Job ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Invoice name"
                          },
                          "number": {
                            "type": "string",
                            "description": "Invoice number"
                          },
                          "paidDate": {
                            "type": "string",
                            "description": "Paid date"
                          },
                          "reference": {
                            "type": "string",
                            "description": "Invoice reference"
                          },
                          "sentByUserId": {
                            "type": "number",
                            "description": "Sender user ID"
                          },
                          "sentDate": {
                            "type": "string",
                            "description": "Invoice sent date"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/get-job": {
      "get": {
        "operationId": "streamtime.get-job",
        "summary": "Get Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/get-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "Job ID",
            "schema": {
              "type": "number",
              "description": "Job ID",
              "example": 601
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branchId": {
                            "type": "number",
                            "description": "Branch ID"
                          },
                          "companyId": {
                            "type": "number",
                            "description": "Company ID"
                          },
                          "createdUserId": {
                            "type": "number",
                            "description": "Created by user ID"
                          },
                          "estimatedEndDate": {
                            "type": "string",
                            "description": "Estimated end date"
                          },
                          "estimatedStartDate": {
                            "type": "string",
                            "description": "Estimated start date"
                          },
                          "finalBudget": {
                            "type": "number",
                            "description": "Final budget amount"
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Job display name"
                          },
                          "id": {
                            "type": "number",
                            "description": "Job ID"
                          },
                          "isBillable": {
                            "type": "boolean",
                            "description": "Whether the job is billable"
                          },
                          "jobCreatedDatetime": {
                            "type": "string",
                            "description": "Job created timestamp"
                          },
                          "jobCurrencyFinalBudget": {
                            "type": "number",
                            "description": "Final budget in job currency"
                          },
                          "jobStatus": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Current job status"
                          },
                          "name": {
                            "type": "string",
                            "description": "Job name"
                          },
                          "number": {
                            "type": "string",
                            "description": "Job number"
                          },
                          "rateCardId": {
                            "type": "number",
                            "description": "Rate card ID"
                          },
                          "totalApprovedQuoteExTax": {
                            "type": "number",
                            "description": "Total approved quote excluding tax"
                          },
                          "totalDraftInvoicesExTax": {
                            "type": "number",
                            "description": "Total draft invoices excluding tax"
                          },
                          "totalIncompleteMinutes": {
                            "type": "number",
                            "description": "Total incomplete minutes"
                          },
                          "totalInvoicedExTax": {
                            "type": "number",
                            "description": "Total invoiced excluding tax"
                          },
                          "totalLoggedMinutes": {
                            "type": "number",
                            "description": "Total logged minutes"
                          },
                          "totalPlannedMinutes": {
                            "type": "number",
                            "description": "Total planned minutes"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/streamtime/latest/actions/get-logged-time-entry": {
      "get": {
        "operationId": "streamtime.get-logged-time-entry",
        "summary": "Get Logged Time Entry",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/streamtime/latest/actions/get-logged-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loggedTimeId",
            "in": "query",
            "required": true,
            "description": "Logged time entry ID.",
            "schema": {
              "type": "number",
              "description": "Logged time entry ID.",
              "example": 47325447
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedDatetime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Completed timestamp"
                          },
                          "cost": {
                            "type": "number",
                            "description": "Logged time cost"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Logged time date"
                          },
                          "id": {
                            "type": "number",
                            "description": "Logged time entry ID"
                          },
                          "jobId": {
                            "type": "number",
                            "description": "Job ID linked to the logged time entry"
                          },
                          "jobItemUserId": {
                            "type": "number",
                            "description": "Job item user ID linked to the logged time entry"
                          },
                          "loggedTimeStatus": {
                            "type": "object",
                            "additionalProperties": true,
[...]
