{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Vacation Tracker Universal API",
    "version": "0.0.2",
    "description": "Manage PTO users, leaves, locations, and leave types"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/vacationTracker/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/vacationTracker/latest/actions/list-departments": {
      "get": {
        "operationId": "vacationTracker.list-departments",
        "summary": "List Departments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vacationTracker/latest/actions/list-departments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Department ID."
                          },
                          "isDefault": {
                            "type": "boolean",
                            "description": "Whether this is the default department."
                          },
                          "name": {
                            "type": "string",
                            "description": "Department name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vacationTracker/latest/actions/list-labels": {
      "get": {
        "operationId": "vacationTracker.list-labels",
        "summary": "List Labels",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vacationTracker/latest/actions/list-labels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Label ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Label name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vacationTracker/latest/actions/list-leave-types": {
      "get": {
        "operationId": "vacationTracker.list-leave-types",
        "summary": "List Leave Types",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vacationTracker/latest/actions/list-leave-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string",
                            "description": "Leave type color."
                          },
                          "id": {
                            "type": "string",
                            "description": "Leave type ID."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether this leave type is active."
                          },
                          "name": {
                            "type": "string",
                            "description": "Leave type name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vacationTracker/latest/actions/list-leaves": {
      "get": {
        "operationId": "vacationTracker.list-leaves",
        "summary": "List Leaves",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vacationTracker/latest/actions/list-leaves"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Date in YYYY-MM-DD format.",
              "example": "2026-04-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "Date in YYYY-MM-DD format. Cannot be before the start date.",
            "schema": {
              "type": "string",
              "description": "Date in YYYY-MM-DD format. Cannot be before the start date.",
              "example": "2026-04-30"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Leave request status. Defaults to APPROVED.",
            "schema": {
              "type": "string",
              "description": "Leave request status. Defaults to APPROVED.",
              "enum": [
                "APPROVED",
                "CANCELLED",
                "DELETED",
                "DENIED",
                "EXPIRED",
                "OPEN"
              ],
              "example": "APPROVED",
              "default": "APPROVED"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Related leave request object to expand.",
            "schema": {
              "type": "string",
              "description": "Related leave request object to expand.",
              "enum": [
                "approver",
                "leaveType",
                "user"
              ],
              "example": "leaveType",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approver": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Expanded approver email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Expanded approver user ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "Expanded approver name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "departmentId": {
                            "type": "string",
                            "description": "Department ID at the time the leave request was sent."
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Leave end date."
                          },
                          "endHour": {
                            "type": "number",
                            "description": "Leave end hour when applicable."
                          },
                          "endMinute": {
                            "type": "number",
                            "description": "Leave end minute when applicable."
                          },
                          "id": {
                            "type": "string",
                            "description": "Leave request ID."
                          },
                          "isFullDayLeave": {
                            "type": "boolean",
                            "description": "Whether the leave is a full-day leave."
                          },
                          "leaveType": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Expanded leave type ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "Expanded leave type name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "leaveTypeId": {
                            "type": "string",
                            "description": "Leave type ID."
                          },
                          "locationId": {
                            "type": "string",
                            "description": "Location ID at the time the leave request was sent."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Leave start date."
                          },
                          "startHour": {
                            "type": "number",
                            "description": "Leave start hour when applicable."
                          },
                          "startMinute": {
                            "type": "number",
                            "description": "Leave start minute when applicable."
                          },
                          "status": {
                            "type": "string",
                            "description": "Leave request status."
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Expanded user email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Expanded user ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "Expanded user name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "userId": {
                            "type": "string",
                            "description": "User ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vacationTracker/latest/actions/list-locations": {
      "get": {
        "operationId": "vacationTracker.list-locations",
        "summary": "List Locations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vacationTracker/latest/actions/list-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Location ID."
                          },
                          "isDefault": {
                            "type": "boolean",
                            "description": "Whether this is the default location."
                          },
                          "name": {
                            "type": "string",
                            "description": "Location name."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Location timezone."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vacationTracker/latest/actions/list-users": {
      "get": {
        "operationId": "vacationTracker.list-users",
        "summary": "List Users",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vacationTracker/latest/actions/list-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter users by status. Defaults to ACTIVE.",
            "schema": {
              "type": "string",
              "description": "Filter users by status. Defaults to ACTIVE.",
              "enum": [
                "ACTIVE",
                "DELETED",
                "INACTIVE"
              ],
              "example": "ACTIVE",
              "default": "ACTIVE"
            }
          },
          {
            "name": "locations",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of location IDs to filter users.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of location IDs to filter users. Pass multiple values separated by `,`.",
              "example": "location-id-1,location-id-2",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "departments",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of department IDs to filter users.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of department IDs to filter users. Pass multiple values separated by `,`.",
              "example": "department-id-1,department-id-2",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of labels to filter users.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of labels to filter users. Pass multiple values separated by `,`.",
              "example": "contractor,remote",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Related user object to expand.",
            "schema": {
              "type": "string",
              "description": "Related user object to expand.",
              "enum": [
                "department",
                "holidays",
                "location"
              ],
              "example": "location",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "department": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Expanded department creation timestamp."
                              },
                              "id": {
                                "type": "string",
                                "description": "Expanded department ID."
                              },
                              "isDefault": {
                                "type": "boolean",
                                "description": "Whether the expanded department is default."
                              },
                              "name": {
                                "type": "string",
                                "description": "Expanded department name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "departmentId": {
                            "type": "string",
                            "description": "User department ID."
                          },
                          "email": {
                            "type": "string",
                            "description": "User email address."
                          },
                          "employeeId": {
                            "type": "string",
                            "description": "Employee ID when set."
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Employment end timestamp when set."
                          },
                          "holidays": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Expanded public holidays grouped by year when requested."
                          },
                          "id": {
                            "type": "string",
                            "description": "User ID."
                          },
                          "isAdmin": {
                            "type": "boolean",
                            "description": "Whether the user is an admin."
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "User labels."
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Expanded location creation timestamp."
                              },
                              "id": {
                                "type": "string",
                                "description": "Expanded location ID."
                              },
                              "isDefault": {
                                "type": "boolean",
                                "description": "Whether the expanded location is default."
                              },
                              "name": {
                                "type": "string",
                                "description": "Expanded location name."
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Expanded location timezone."
                              }
                            },
                            "additionalProperties": false
                          },
                          "locationId": {
                            "type": "string",
                            "description": "User location ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "User name."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Employment start timestamp."
                          },
                          "status": {
                            "type": "string",
                            "description": "User status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
