{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Confluence Universal API",
    "version": "0.0.12",
    "description": "Create, update, and organize Confluence pages, spaces, and comments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/confluenceCloud/latest/actions/create-attachment-for-page": {
      "post": {
        "operationId": "confluenceCloud.create-attachment-for-page",
        "summary": "Create Attachment For Page",
        "description": "Creates a new attachment for a Confluence page.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/create-attachment-for-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cloudId",
                  "id",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cloudId": {
                    "type": "string",
                    "description": "Confluence cloud ID for the target site."
                  },
                  "id": {
                    "type": "string",
                    "description": "Confluence page ID to attach the file to."
                  },
                  "file": {
                    "type": "string",
                    "description": "File content to upload as the attachment."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional attachment comment."
                  },
                  "minorEdit": {
                    "type": "boolean",
                    "description": "Whether the upload should be marked as a minor edit."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Links": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "string"
                              },
                              "context": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ari": {
                                  "type": "string"
                                },
                                "base64EncodedAri": {
                                  "type": "string"
                                },
                                "container": {
                                  "type": "object",
                                  "properties": {
                                    "ari": {
                                      "type": "string"
                                    },
                                    "base64EncodedAri": {
                                      "type": "string"
                                    },
                                    "Expandable": {
                                      "type": "object",
                                      "properties": {
                                        "ancestors": {
                                          "type": "string"
                                        },
                                        "body": {
                                          "type": "string"
                                        },
                                        "children": {
                                          "type": "string"
                                        },
                                        "childTypes": {
                                          "type": "string"
                                        },
                                        "container": {
                                          "type": "string"
                                        },
                                        "descendants": {
                                          "type": "string"
                                        },
                                        "draftVersion": {
                                          "type": "string"
                                        },
                                        "history": {
                                          "type": "string"
                                        },
                                        "metadata": {
                                          "type": "string"
                                        },
                                        "operations": {
                                          "type": "string"
                                        },
                                        "restrictions": {
                                          "type": "string"
                                        },
                                        "schedulePublishDate": {
                                          "type": "string"
                                        },
                                        "schedulePublishInfo": {
                                          "type": "string"
                                        },
                                        "space": {
                                          "type": "string"
                                        },
                                        "version": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "extensions": {
                                      "type": "object",
                                      "properties": {
                                        "position": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "Links": {
                                      "type": "object",
                                      "properties": {
                                        "editui": {
                                          "type": "string"
                                        },
                                        "edituiv2": {
                                          "type": "string"
                                        },
                                        "self": {
                                          "type": "string"
                                        },
                                        "tinyui": {
                                          "type": "string"
                                        },
                                        "webui": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "Expandable": {
                                  "type": "object",
                                  "properties": {
                                    "ancestors": {
                                      "type": "string"
                                    },
                                    "body": {
                                      "type": "string"
                                    },
                                    "children": {
                                      "type": "string"
                                    },
                                    "childTypes": {
                                      "type": "string"
                                    },
                                    "descendants": {
                                      "type": "string"
                                    },
                                    "draftVersion": {
                                      "type": "string"
                                    },
                                    "history": {
                                      "type": "string"
                                    },
                                    "operations": {
                                      "type": "string"
                                    },
                                    "restrictions": {
                                      "type": "string"
                                    },
                                    "schedulePublishDate": {
                                      "type": "string"
                                    },
                                    "schedulePublishInfo": {
                                      "type": "string"
                                    },
                                    "space": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "extensions": {
                                  "type": "object",
                                  "properties": {
                                    "collectionName": {
                                      "type": "string"
                                    },
                                    "comment": {
                                      "type": "string"
                                    },
                                    "fileId": {
                                      "type": "string"
                                    },
                                    "fileSize": {
                                      "type": "number"
                                    },
                                    "mediaType": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string"
                                },
                                "Links": {
                                  "type": "object",
                                  "properties": {
                                    "download": {
                                      "type": "string"
                                    },
                                    "self": {
                                      "type": "string"
                                    },
                                    "webui": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "comment": {
                                      "type": "string"
                                    },
                                    "Expandable": {
                                      "type": "object",
                                      "properties": {
                                        "comments": {
                                          "type": "string"
                                        },
                                        "createdBySpaceBlueprint": {
                                          "type": "string"
                                        },
                                        "currentuser": {
                                          "type": "string"
                                        },
                                        "frontend": {
                                          "type": "string"
                                        },
                                        "isActiveLiveEditSession": {
                                          "type": "string"
                                        },
                                        "lastEditedTime": {
                                          "type": "string"
                                        },
                                        "likes": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "type": "string"
                                        },
                                        "simple": {
                                          "type": "string"
                                        },
                                        "sourceTemplateEntityId": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "labels": {
                                      "type": "object",
                                      "properties": {
                                        "limit": {
                                          "type": "number"
                                        },
                                        "Links": {
                                          "type": "object",
                                          "properties": {
                                            "next": {
                                              "type": "string"
                                            },
                                            "self": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "size": {
                                          "type": "number"
                                        },
                                        "start": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "mediaType": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "status": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "version": {
                                  "type": "object",
                                  "properties": {
                                    "by": {
                                      "type": "object",
                                      "properties": {
                                        "accountId": {
                                          "type": "string"
                                        },
                                        "accountStatus": {
                                          "type": "string"
                                        },
                                        "accountType": {
                                          "type": "string"
                                        },
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "email": {
                                          "type": "string"
                                        },
                                        "Expandable": {
                                          "type": "object",
                                          "properties": {
                                            "operations": {
                                              "type": "string"
                                            },
                                            "personalSpace": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "isExternalCollaborator": {
                                          "type": "boolean"
                                        },
                                        "isGuest": {
                                          "type": "boolean"
                                        },
                                        "Links": {
                                          "type": "object",
                                          "properties": {
                                            "self": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "locale": {
                                          "type": "string"
                                        },
                                        "profilePicture": {
                                          "type": "object",
                                          "properties": {
                                            "height": {
                                              "type": "number"
                                            },
                                            "isDefault": {
                                              "type": "boolean"
                                            },
                                            "path": {
                                              "type": "string"
                                            },
                                            "width": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "publicName": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "contentTypeModified": {
                                      "type": "boolean"
                                    },
                                    "Expandable": {
                                      "type": "object",
                                      "properties": {
                                        "collaborators": {
                                          "type": "string"
                                        },
                                        "content": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "friendlyWhen": {
                                      "type": "string"
                                    },
                                    "Links": {
                                      "type": "object",
                                      "properties": {
                                        "self": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "message": {
                                      "type": "string"
                                    },
                                    "minorEdit": {
                                      "type": "boolean"
                                    },
                                    "number": {
                                      "type": "number"
                                    },
                                    "when": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "size": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/create-blog-post": {
      "post": {
        "operationId": "confluenceCloud.create-blog-post",
        "summary": "Create Blog Post",
        "description": "Creates a new blog post in Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/create-blog-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cloudId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cloudId": {
                    "type": "string",
                    "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorId": {
                            "type": "string"
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "storage": {
                                "type": "object",
                                "properties": {
                                  "representation": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "string"
                              },
                              "editui": {
                                "type": "string"
                              },
                              "edituiv2": {
                                "type": "string"
                              },
                              "tinyui": {
                                "type": "string"
                              },
                              "webui": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "spaceId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "object",
                            "properties": {
                              "authorId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "minorEdit": {
                                "type": "boolean"
                              },
                              "ncsStepVersion": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/create-footer-comment": {
      "post": {
        "operationId": "confluenceCloud.create-footer-comment",
        "summary": "Create Footer Comment",
        "description": "Creates a new footer comment in Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/create-footer-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cloudId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cloudId": {
                    "type": "string",
                    "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": {
                            "type": "object",
                            "properties": {
                              "storage": {
                                "type": "object",
                                "properties": {
                                  "representation": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "string"
                              },
                              "webui": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pageId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "object",
                            "properties": {
                              "authorId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "minorEdit": {
                                "type": "boolean"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/create-page": {
      "post": {
        "operationId": "confluenceCloud.create-page",
        "summary": "Create Page",
        "description": "Creates a new page in Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/create-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cloudId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cloudId": {
                    "type": "string",
                    "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorId": {
                            "type": "string"
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "storage": {
                                "type": "object",
                                "properties": {
                                  "representation": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastOwnerId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "string"
                              },
                              "editui": {
                                "type": "string"
                              },
                              "edituiv2": {
                                "type": "string"
                              },
                              "tinyui": {
                                "type": "string"
                              },
                              "webui": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "string"
                          },
                          "parentType": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number"
                          },
                          "spaceId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "object",
                            "properties": {
                              "authorId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "minorEdit": {
                                "type": "boolean"
                              },
                              "ncsStepVersion": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/delete-blog-post": {
      "delete": {
        "operationId": "confluenceCloud.delete-blog-post",
        "summary": "Delete Blog Post",
        "description": "Deletes an existing blog post from Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/delete-blog-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "query",
            "required": true,
            "description": "Confluence site cloud ID. Run List Accessible Resources to find it.",
            "schema": {
              "type": "string",
              "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the Confluence blog post.",
            "schema": {
              "type": "string",
              "description": "ID of the Confluence blog post."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/delete-footer-comment": {
      "delete": {
        "operationId": "confluenceCloud.delete-footer-comment",
        "summary": "Delete Footer Comment",
        "description": "Deletes an existing footer comment from Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/delete-footer-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "query",
            "required": true,
            "description": "Confluence site cloud ID. Run List Accessible Resources to find it.",
            "schema": {
              "type": "string",
              "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
            }
          },
          {
            "name": "commentId",
            "in": "query",
            "required": true,
            "description": "ID of the footer comment.",
            "schema": {
              "type": "string",
              "description": "ID of the footer comment."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/delete-page": {
      "delete": {
        "operationId": "confluenceCloud.delete-page",
        "summary": "Delete Page",
        "description": "Deletes an existing page from Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/delete-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "query",
            "required": true,
            "description": "Confluence site cloud ID. Run List Accessible Resources to find it.",
            "schema": {
              "type": "string",
              "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the Confluence page.",
            "schema": {
              "type": "string",
              "description": "ID of the Confluence page."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/get-attachment": {
      "get": {
        "operationId": "confluenceCloud.get-attachment",
        "summary": "Get Attachment",
        "description": "Retrieves an existing attachment from Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/get-attachment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "query",
            "required": true,
            "description": "Confluence site cloud ID. Run List Accessible Resources to find it.",
            "schema": {
              "type": "string",
              "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the attachment.",
            "schema": {
              "type": "string",
              "description": "ID of the attachment."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "downloadLink": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string"
                          },
                          "fileSize": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "string"
                              },
                              "download": {
                                "type": "string"
                              },
                              "webui": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mediaType": {
                            "type": "string"
                          },
                          "mediaTypeDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pageId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "object",
                            "properties": {
                              "authorId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "minorEdit": {
                                "type": "boolean"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "webuiLink": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/get-blog-post": {
      "get": {
        "operationId": "confluenceCloud.get-blog-post",
        "summary": "Get Blog Post",
        "description": "Retrieves a blog post from Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/get-blog-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "query",
            "required": true,
            "description": "Confluence site cloud ID. Run List Accessible Resources to find it.",
            "schema": {
              "type": "string",
              "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the Confluence blog post.",
            "schema": {
              "type": "string",
              "description": "ID of the Confluence blog post."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "string"
                              },
                              "editui": {
                                "type": "string"
                              },
                              "edituiv2": {
                                "type": "string"
                              },
                              "tinyui": {
                                "type": "string"
                              },
                              "webui": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "spaceId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "object",
                            "properties": {
                              "authorId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "minorEdit": {
                                "type": "boolean"
                              },
                              "ncsStepVersion": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/get-footer-comment": {
      "get": {
        "operationId": "confluenceCloud.get-footer-comment",
        "summary": "Get Footer Comment",
        "description": "Retrieves a footer comment from Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/get-footer-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "query",
            "required": true,
            "description": "Confluence site cloud ID. Run List Accessible Resources to find it.",
            "schema": {
              "type": "string",
              "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
            }
          },
          {
            "name": "commentId",
            "in": "query",
            "required": true,
            "description": "ID of the footer comment.",
            "schema": {
              "type": "string",
              "description": "ID of the footer comment."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "string"
                              },
                              "webui": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pageId": {
                            "type": "string"
                          },
                          "resolutionStatus": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "object",
                            "properties": {
                              "authorId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "minorEdit": {
                                "type": "boolean"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/confluenceCloud/latest/actions/get-page": {
      "get": {
        "operationId": "confluenceCloud.get-page",
        "summary": "Get Page",
        "description": "Retrieves an existing page from Confluence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/confluenceCloud/latest/actions/get-page"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudId",
            "in": "query",
            "required": true,
            "description": "Confluence site cloud ID. Run List Accessible Resources to find it.",
            "schema": {
              "type": "string",
              "description": "Confluence site cloud ID. Run List Accessible Resources to find it."
            }
[...]
