{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Mendix Universal API",
    "version": "0.0.3",
    "description": "Mendix is a low-code application development and deployment platform. This connector wraps Mendix Platform APIs for managing projects, apps, repository metadata, epics, feedback, catalog assets, webhooks, categories, and related operational resources through PAT-authenticated API calls."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mendix/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mendix/latest/actions/add-project-member": {
      "post": {
        "operationId": "mendix.add-project-member",
        "summary": "Add Project Member",
        "description": "Adds a project team member in Mendix or sends an invitation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/add-project-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The unique identifier of a project.",
                    "example": "d92064a5-b1fd-4be4-97db-53fc90201d1c"
                  },
                  "memberId": {
                    "type": "string",
                    "description": "Unique identifier of the member to add to the project.",
                    "example": "6f173f40-9e5d-4be0-b698-9ab965c0a31d"
                  },
                  "roleId": {
                    "type": "string",
                    "description": "The unique identifier of the role assigned to the member.",
                    "example": "fdea56de-3c79-48d9-93ff-61cbc736426c"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Mendix documents a successful no-body create or accepted response; this connector field represents request completion."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/create-project": {
      "post": {
        "operationId": "mendix.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Mendix and returns a job.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the project.",
                    "example": "Customer Portal"
                  },
                  "summary": {
                    "type": "string",
                    "description": "Description of the project.",
                    "example": "Customer self-service portal"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Identifier of the template that the project will be copied from. If empty, Mendix uses the default template.",
                    "x-mindcloud-advanced": true
                  },
                  "image": {
                    "type": "string",
                    "description": "Base64-encoded project icon image. Mendix limits the file size and image dimensions.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jobId": {
                            "type": "string",
                            "description": "Unique identifier of the project creation job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/delete-project": {
      "delete": {
        "operationId": "mendix.delete-project",
        "summary": "Delete Project",
        "description": "Deletes an existing project from Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/delete-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of a project.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of a project.",
              "example": "d92064a5-b1fd-4be4-97db-53fc90201d1c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Mendix documents an accepted no-body response; this connector field represents request completion."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/get-project": {
      "get": {
        "operationId": "mendix.get-project",
        "summary": "Get Project",
        "description": "Retrieves full project details from Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of a project.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of a project.",
              "example": "d92064a5-b1fd-4be4-97db-53fc90201d1c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string",
                                "description": "Unique identifier of the account."
                              },
                              "accountName": {
                                "type": "string",
                                "description": "Name of the account."
                              }
                            },
                            "additionalProperties": false
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Indicates whether the project is active."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "categoryId": {
                                  "type": "string",
                                  "description": "Unique identifier of the project category."
                                },
                                "categoryName": {
                                  "type": "string",
                                  "description": "Name of the project category."
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Code of the assigned category value."
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "Assigned category value."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "cloudProvider": {
                            "type": "string",
                            "description": "Cloud deployment provider."
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "fullName": {
                                "type": "string",
                                "description": "Full name of the user who created the project."
                              },
                              "userId": {
                                "type": "string",
                                "description": "Unique identifier of the user who created the project."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the project was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the project."
                          },
                          "logo": {
                            "type": "string",
                            "description": "URL of the project image or logo."
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatarUrl": {
                                  "type": "string",
                                  "description": "Avatar URL of a project member."
                                },
                                "fullName": {
                                  "type": "string",
                                  "description": "Full name of a project member."
                                },
                                "isActive": {
                                  "type": "boolean",
                                  "description": "Indicates whether the project member is active."
                                },
                                "role": {
                                  "type": "object",
                                  "properties": {
                                    "roleId": {
                                      "type": "string",
                                      "description": "Unique identifier of the member role."
                                    },
                                    "roleName": {
                                      "type": "string",
                                      "description": "Name of the member role."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "userId": {
                                  "type": "string",
                                  "description": "Unique identifier of a project member."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the project."
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Unique identifier for the project on the Mendix platform."
                          },
                          "storyBoardUrl": {
                            "type": "string",
                            "description": "URL of the project story board."
                          },
                          "storyTool": {
                            "type": "string",
                            "description": "Tool or service used to manage project workload."
                          },
                          "targetCloud": {
                            "type": "string",
                            "description": "URL of the cloud portal where the project is hosted."
                          },
                          "technicalContact": {
                            "type": "object",
                            "properties": {
                              "fullName": {
                                "type": "string",
                                "description": "Full name of the technical contact."
                              },
                              "userId": {
                                "type": "string",
                                "description": "Unique identifier of the technical contact."
                              }
                            },
                            "additionalProperties": false
                          },
                          "versionStudioPro": {
                            "type": "string",
                            "description": "Studio Pro version of the project's main branch."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/get-project-creation-job": {
      "get": {
        "operationId": "mendix.get-project-creation-job",
        "summary": "Get Project Creation Job",
        "description": "Retrieves a project creation job status from Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/get-project-creation-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of a project creation job.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of a project creation job.",
              "example": "3f2ea9c5-1ad5-4ef8-8926-9aa4d7dd49df"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorMessage": {
                            "type": "string",
                            "description": "Error message when the project creation job has failed."
                          },
                          "projectId": {
                            "type": "string",
                            "description": "Identifier of the newly created project."
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the project creation job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/get-project-role": {
      "get": {
        "operationId": "mendix.get-project-role",
        "summary": "Get Project Role",
        "description": "Retrieves a project role from Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/get-project-role"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of a project role.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of a project role.",
              "example": "fdea56de-3c79-48d9-93ff-61cbc736426c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string",
                                "description": "Unique identifier of the account."
                              },
                              "accountName": {
                                "type": "string",
                                "description": "Name of the account."
                              }
                            },
                            "additionalProperties": false
                          },
                          "environmentPermissions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accessType": {
                                  "type": "string",
                                  "description": "Access type for the environment permission set."
                                },
                                "environmentType": {
                                  "type": "string",
                                  "description": "Environment type covered by the permission set."
                                },
                                "hasApiRights": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has API rights."
                                },
                                "hasBackupAccess": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has backup access."
                                },
                                "hasManageRights": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has manage rights."
                                },
                                "hasMonitoringAccess": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has monitoring access."
                                },
                                "hasTransportRights": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has transport rights."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "hasCloudAccess": {
                            "type": "boolean",
                            "description": "Indicates whether the role has cloud access."
                          },
                          "hasInvitationRights": {
                            "type": "boolean",
                            "description": "Indicates whether the role can invite users."
                          },
                          "hasRepositoryAccess": {
                            "type": "boolean",
                            "description": "Indicates whether the role has repository access."
                          },
                          "hasStoryAccess": {
                            "type": "boolean",
                            "description": "Indicates whether the role has story access."
                          },
                          "isAdministrator": {
                            "type": "boolean",
                            "description": "Indicates whether the role is an administrator role."
                          },
                          "roleDescription": {
                            "type": "string",
                            "description": "Description of the project role."
                          },
                          "roleId": {
                            "type": "string",
                            "description": "Unique identifier of the project role."
                          },
                          "roleName": {
                            "type": "string",
                            "description": "Name of the project role."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/list-account-project-roles": {
      "get": {
        "operationId": "mendix.list-account-project-roles",
        "summary": "List Account Project Roles",
        "description": "Retrieves project roles for an account in Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/list-account-project-roles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the account or company.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the account or company.",
              "example": "b8f3f8f9-245e-4c9e-b0a1-69d2e1f2aa10"
            }
          },
          {
            "name": "changedSince",
            "in": "query",
            "required": false,
            "description": "Only return roles created or changed since this ISO 8601 date and time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only return roles created or changed since this ISO 8601 date and time.",
              "example": "2024-08-20T14:15:22Z"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "environmentPermissions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "accessType": {
                                        "type": "string",
                                        "description": "Access type for the environment permission set."
                                      },
                                      "environmentType": {
                                        "type": "string",
                                        "description": "Environment type covered by the permission set."
                                      },
                                      "hasApiRights": {
                                        "type": "boolean",
                                        "description": "Indicates whether the role has API rights."
                                      },
                                      "hasBackupAccess": {
                                        "type": "boolean",
                                        "description": "Indicates whether the role has backup access."
                                      },
                                      "hasManageRights": {
                                        "type": "boolean",
                                        "description": "Indicates whether the role has manage rights."
                                      },
                                      "hasMonitoringAccess": {
                                        "type": "boolean",
                                        "description": "Indicates whether the role has monitoring access."
                                      },
                                      "hasTransportRights": {
                                        "type": "boolean",
                                        "description": "Indicates whether the role has transport rights."
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "hasCloudAccess": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has cloud access."
                                },
                                "hasInvitationRights": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role can invite users."
                                },
                                "hasRepositoryAccess": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has repository access."
                                },
                                "hasStoryAccess": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role has story access."
                                },
                                "isAdministrator": {
                                  "type": "boolean",
                                  "description": "Indicates whether the role is an administrator role."
                                },
                                "roleDescription": {
                                  "type": "string",
                                  "description": "Description of the project role."
                                },
                                "roleId": {
                                  "type": "string",
                                  "description": "Unique identifier of the project role."
                                },
                                "roleName": {
                                  "type": "string",
                                  "description": "Name of the project role."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "page": {
                            "type": "object",
                            "properties": {
                              "elements": {
                                "type": "number",
                                "description": "Number of elements returned."
                              },
                              "offset": {
                                "type": "number",
                                "description": "Pagination offset."
                              },
                              "totalElements": {
                                "type": "number",
                                "description": "Total number of matching project roles."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/list-account-projects": {
      "get": {
        "operationId": "mendix.list-account-projects",
        "summary": "List Account Projects",
        "description": "Retrieves company-owned projects for an account in Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/list-account-projects"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the account or company.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the account or company.",
              "example": "b8f3f8f9-245e-4c9e-b0a1-69d2e1f2aa10"
            }
          },
          {
            "name": "createdSince",
            "in": "query",
            "required": false,
            "description": "Only return projects created after this UTC date and time, such as 2020-01-16T05:53:28Z.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only return projects created after this UTC date and time, such as 2020-01-16T05:53:28Z.",
              "example": "2020-01-16T05:53:28Z"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "Comma-separated categories with values in the documented Mendix filter format.",
            "schema": {
              "type": "string",
              "description": "Comma-separated categories with values in the documented Mendix filter format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "type": "boolean",
                                  "description": "Indicates whether the project is active."
                                },
                                "createdBy": {
                                  "type": "object",
                                  "properties": {
                                    "fullName": {
                                      "type": "string",
                                      "description": "Full name of the user who created the project."
                                    },
                                    "userId": {
                                      "type": "string",
                                      "description": "Unique identifier of the user who created the project."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "createdOn": {
                                  "type": "string",
                                  "description": "Date and time when the project was created."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Description of the project."
                                },
                                "logo": {
                                  "type": "string",
                                  "description": "URL of the project image or logo."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the project."
                                },
                                "projectId": {
                                  "type": "string",
                                  "description": "Unique identifier for the project."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "first": {
                                "type": "string",
                                "description": "First page URL."
                              },
                              "last": {
                                "type": "string",
                                "description": "Last page URL."
                              },
                              "next": {
                                "type": "string",
                                "description": "Next page URL."
                              },
                              "prev": {
                                "type": "string",
                                "description": "Previous page URL."
                              },
                              "self": {
                                "type": "string",
                                "description": "Current page URL."
                              }
                            },
                            "additionalProperties": false
                          },
                          "page": {
                            "type": "object",
                            "properties": {
                              "elements": {
                                "type": "number",
                                "description": "Number of elements returned."
                              },
                              "offset": {
                                "type": "number",
                                "description": "Pagination offset."
                              },
                              "totalElements": {
                                "type": "number",
                                "description": "Total number of matching projects."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/list-project-members": {
      "get": {
        "operationId": "mendix.list-project-members",
        "summary": "List Project Members",
        "description": "Retrieves project team members from Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/list-project-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of a project.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of a project.",
              "example": "d92064a5-b1fd-4be4-97db-53fc90201d1c"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "avatarUrl": {
                                  "type": "string",
                                  "description": "Avatar image URL of the member."
                                },
                                "company": {
                                  "type": "object",
                                  "properties": {
                                    "companyName": {
                                      "type": "string",
                                      "description": "Name of the company to which the member belongs."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "displayName": {
                                  "type": "string",
                                  "description": "Full name of the member."
                                },
                                "isActive": {
                                  "type": "boolean",
                                  "description": "Indicates whether the member is active on the platform."
                                },
                                "userId": {
                                  "type": "string",
                                  "description": "Unique identifier for the member on the Mendix platform."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "page": {
                            "type": "object",
                            "properties": {
                              "elements": {
                                "type": "number",
                                "description": "Number of elements returned."
                              },
                              "offset": {
                                "type": "number",
                                "description": "Pagination offset."
                              },
                              "totalElements": {
                                "type": "number",
                                "description": "Total number of matching project members."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/list-projects": {
      "get": {
        "operationId": "mendix.list-projects",
        "summary": "List Projects",
        "description": "Retrieves company-owned projects from Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/list-projects"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdSince",
            "in": "query",
            "required": false,
            "description": "Only return projects created after this UTC date and time, such as 2020-01-16T05:53:28Z.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only return projects created after this UTC date and time, such as 2020-01-16T05:53:28Z.",
              "example": "2020-01-16T05:53:28Z"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Mendix documents this deprecated endpoint as redirect-only; this connector field represents request completion."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mendix/latest/actions/list-user-projects": {
      "get": {
        "operationId": "mendix.list-user-projects",
        "summary": "List User Projects",
        "description": "Retrieves a user's project memberships from Mendix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mendix/latest/actions/list-user-projects"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of a user.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of a user.",
              "example": "6f173f40-9e5d-4be0-b698-9ab965c0a31d"
            }
          },
          {
            "name": "permissions",
            "in": "query",
            "required": false,
            "description": "Comma-separated permissions to filter by, such as administrator, technicalcontact, repositoryaccess, cloudportalaccess, or teamserveraccess.",
            "schema": {
              "type": "string",
              "description": "Comma-separated permissions to filter by, such as administrator, technicalcontact, repositoryaccess, cloudportalaccess, or teamserveraccess.",
              "example": "administrator,repositoryaccess"
            }
          },
          {
            "name": "isPinnedByUser",
            "in": "query",
            "required": false,
            "description": "Whether the user has pinned the project as a favorite. If omitted, both pinned and unpinned projects are returned.",
            "schema": {
              "type": "boolean",
              "description": "Whether the user has pinned the project as a favorite. If omitted, both pinned and unpinned projects are returned."
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "Comma-separated categories with values in the documented Mendix filter format.",
            "schema": {
              "type": "string",
              "description": "Comma-separated categories with values in the documented Mendix filter format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account": {
                                  "type": "object",
                                  "properties": {
                                    "accountId": {
                                      "type": "string",
                                      "description": "Unique identifier of the account."
                                    },
                                    "accountName": {
                                      "type": "string",
                                      "description": "Name of the account."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "active": {
                                  "type": "boolean",
                                  "description": "Indicates whether the project is active."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Description of the project."
                                },
                                "isPinnedByUser": {
                                  "type": "boolean",
                                  "description": "Indicates whether the project was pinned as a favorite."
                                },
                                "logo": {
                                  "type": "string",
                                  "description": "URL of the project image or logo."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the project."
                                },
                                "projectId": {
                                  "type": "string",
                                  "description": "Unique identifier for the project."
                                },
                                "role": {
                                  "type": "object",
                                  "properties": {
                                    "hasCloudAccess": {
                                      "type": "boolean",
                                      "description": "Indicates whether the user has cloud access."
                                    },
                                    "hasInvitationRights": {
                                      "type": "boolean",
                                      "description": "Indicates whether the user can invite users to the project team."
                                    },
                                    "hasRepositoryAccess": {
                                      "type": "boolean",
                                      "description": "Indicates whether the user has repository access."
                                    },
                                    "hasStoryAccess": {
                                      "type": "boolean",
                                      "description": "Indicates whether the user has story access."
                                    },
                                    "isAdministrator": {
                                      "type": "boolean",
                                      "description": "Indicates whether the user is a project administrator."
                                    },
                                    "isTechnicalContact": {
                                      "type": "boolean",
                                      "description": "Indicates whether the user is the technical contact."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name of the user's project role."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "targetCloud": {
                                  "type": "string",
                                  "description": "URL of the cloud portal where the project is hosted."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "first": {
[...]
