{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Umami Universal API",
    "version": "0.0.2",
    "description": "Manage websites and analyze traffic, events, and visitor sessions"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/umami/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/umami/latest/actions/create-website": {
      "post": {
        "operationId": "umami.create-website",
        "summary": "Create Website",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/create-website"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "domain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The website name in Umami."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The full tracked domain."
                  },
                  "shareId": {
                    "type": "string",
                    "description": "A share URL identifier. Set null to unshare."
                  },
                  "teamId": {
                    "type": "string",
                    "description": "The team ID the website will be created under."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "User who created the website."
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Deletion timestamp, if soft-deleted."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Tracked domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Website ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Website name."
                          },
                          "replayConfig": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Replay configuration when enabled."
                          },
                          "replayEnabled": {
                            "type": "boolean",
                            "description": "Whether replay is enabled."
                          },
                          "resetAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the last reset, if any."
                          },
                          "shareId": {
                            "type": "string",
                            "description": "Share identifier when public sharing is enabled."
                          },
                          "teamId": {
                            "type": "string",
                            "description": "Owning team ID, if any."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Owner user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-active-visitors": {
      "get": {
        "operationId": "umami.get-active-visitors",
        "summary": "Get Active Visitors",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-active-visitors"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "visitors": {
                            "type": "number",
                            "description": "Unique active visitors in the last five minutes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-event-data": {
      "get": {
        "operationId": "umami.get-event-data",
        "summary": "Get Event Data",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-event-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The event ID.",
            "schema": {
              "type": "string",
              "description": "The event ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the property record was created."
                          },
                          "dataKey": {
                            "type": "string",
                            "description": "Event data property key."
                          },
                          "dataType": {
                            "type": "number",
                            "description": "Stored data type code."
                          },
                          "dateValue": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Stored date value for the property."
                          },
                          "eventId": {
                            "type": "string",
                            "description": "Event identifier."
                          },
                          "eventName": {
                            "type": "string",
                            "description": "Tracked event name."
                          },
                          "numberValue": {
                            "type": "number",
                            "description": "Stored numeric value for the property."
                          },
                          "sessionId": {
                            "type": "string",
                            "description": "Session identifier associated with the event."
                          },
                          "stringValue": {
                            "type": "string",
                            "description": "Stored string value for the property."
                          },
                          "urlPath": {
                            "type": "string",
                            "description": "Tracked URL path."
                          },
                          "websiteId": {
                            "type": "string",
                            "description": "Website identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-event-data-events": {
      "get": {
        "operationId": "umami.get-event-data-events",
        "summary": "Get Event Data Events",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-event-data-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "description": "Timestamp in milliseconds for the start of the reporting range.",
            "schema": {
              "type": "number",
              "description": "Timestamp in milliseconds for the start of the reporting range."
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "description": "Timestamp in milliseconds for the end of the reporting range.",
            "schema": {
              "type": "number",
              "description": "Timestamp in milliseconds for the end of the reporting range."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dataType": {
                            "type": "number",
                            "description": "Stored event data type code."
                          },
                          "eventName": {
                            "type": "string",
                            "description": "Tracked event name."
                          },
                          "propertyName": {
                            "type": "string",
                            "description": "Event property name."
                          },
                          "total": {
                            "type": "number",
                            "description": "Count of records for the event-property combination."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-event-series": {
      "get": {
        "operationId": "umami.get-event-series",
        "summary": "Get Event Series",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-event-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "description": "Start timestamp in milliseconds.",
            "schema": {
              "type": "number",
              "description": "Start timestamp in milliseconds."
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "description": "End timestamp in milliseconds.",
            "schema": {
              "type": "number",
              "description": "End timestamp in milliseconds."
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Time bucket unit.",
            "schema": {
              "type": "string",
              "description": "Time bucket unit.",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ]
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": true,
            "description": "Timezone like America/Los_Angeles.",
            "schema": {
              "type": "string",
              "description": "Timezone like America/Los_Angeles."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "t": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Bucket timestamp."
                          },
                          "x": {
                            "type": "string",
                            "description": "Event name."
                          },
                          "y": {
                            "type": "number",
                            "description": "Event count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-event-stats": {
      "get": {
        "operationId": "umami.get-event-stats",
        "summary": "Get Event Stats",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-event-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "description": "Start timestamp in milliseconds.",
            "schema": {
              "type": "number",
              "description": "Start timestamp in milliseconds."
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "description": "End timestamp in milliseconds.",
            "schema": {
              "type": "number",
              "description": "End timestamp in milliseconds."
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "description": "Comparison period.",
            "schema": {
              "type": "string",
              "description": "Comparison period.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comparison": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Comparison totals for the previous comparison window."
                          },
                          "events": {
                            "type": "number",
                            "description": "Total events in the selected range."
                          },
                          "uniqueEvents": {
                            "type": "number",
                            "description": "Count of unique event names."
                          },
                          "visitors": {
                            "type": "number",
                            "description": "Total visitors who triggered events."
                          },
                          "visits": {
                            "type": "number",
                            "description": "Total visits with events."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-expanded-website-metrics": {
      "get": {
        "operationId": "umami.get-expanded-website-metrics",
        "summary": "Get Expanded Website Metrics",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-expanded-website-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "description": "Start timestamp in milliseconds.",
            "schema": {
              "type": "number",
              "description": "Start timestamp in milliseconds."
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "description": "End timestamp in milliseconds.",
            "schema": {
              "type": "number",
              "description": "End timestamp in milliseconds."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Metric type to group by.",
            "schema": {
              "type": "string",
              "description": "Metric type to group by.",
              "enum": [
                "0",
                "1",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bounces": {
                            "type": "number",
                            "description": "Bounce count."
                          },
                          "name": {
                            "type": "string",
                            "description": "Metric bucket name."
                          },
                          "pageviews": {
                            "type": "number",
                            "description": "Pageview count."
                          },
                          "totaltime": {
                            "type": "number",
                            "description": "Total time spent."
                          },
                          "visitors": {
                            "type": "number",
                            "description": "Unique visitor count."
                          },
                          "visits": {
                            "type": "number",
                            "description": "Visit count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-realtime": {
      "get": {
        "operationId": "umami.get-realtime",
        "summary": "Get Realtime",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-realtime"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Realtime visitor counts by country."
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Recent realtime event rows."
                          },
                          "referrers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Realtime visitor counts by referrer."
                          },
                          "series": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Realtime views and visitors series."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Realtime snapshot timestamp in milliseconds."
                          },
                          "totals": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Realtime aggregate totals."
                          },
                          "urls": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Realtime visitor counts by URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-session": {
      "get": {
        "operationId": "umami.get-session",
        "summary": "Get Session",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": true,
            "description": "The session ID.",
            "schema": {
              "type": "string",
              "description": "The session ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "browser": {
                            "type": "string",
                            "description": "Browser name."
                          },
                          "city": {
                            "type": "string",
                            "description": "Visitor city."
                          },
                          "country": {
                            "type": "string",
                            "description": "Visitor country code."
                          },
                          "device": {
                            "type": "string",
                            "description": "Device type."
                          },
                          "distinctId": {
                            "type": "string",
                            "description": "Distinct user identifier when set."
                          },
                          "events": {
                            "type": "number",
                            "description": "Event count in the session."
                          },
                          "firstAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the first activity in the session."
                          },
                          "id": {
                            "type": "string",
                            "description": "Session identifier."
                          },
                          "language": {
                            "type": "string",
                            "description": "Browser language."
                          },
                          "lastAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the last activity in the session."
                          },
                          "os": {
                            "type": "string",
                            "description": "Operating system name."
                          },
                          "region": {
                            "type": "string",
                            "description": "Visitor region code."
                          },
                          "screen": {
                            "type": "string",
                            "description": "Screen resolution."
                          },
                          "totaltime": {
                            "type": "number",
                            "description": "Total tracked time in seconds."
                          },
                          "views": {
                            "type": "number",
                            "description": "Pageview count in the session."
                          },
                          "visits": {
                            "type": "number",
                            "description": "Visit count in the session."
                          },
                          "websiteId": {
                            "type": "string",
                            "description": "Website identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-session-activity": {
      "get": {
        "operationId": "umami.get-session-activity",
        "summary": "Get Session Activity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-session-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": true,
            "description": "The session ID.",
            "schema": {
              "type": "string",
              "description": "The session ID."
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "description": "Timestamp in milliseconds for the start of the reporting range.",
            "schema": {
              "type": "number",
              "description": "Timestamp in milliseconds for the start of the reporting range."
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "description": "Timestamp in milliseconds for the end of the reporting range.",
            "schema": {
              "type": "number",
              "description": "Timestamp in milliseconds for the end of the reporting range."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the activity entry."
                          },
                          "eventId": {
                            "type": "string",
                            "description": "Associated event identifier."
                          },
                          "eventName": {
                            "type": "string",
                            "description": "Event name when present."
                          },
                          "eventType": {
                            "type": "number",
                            "description": "Event type code."
                          },
                          "hasData": {
                            "type": "number",
                            "description": "Whether the activity entry has attached event data."
                          },
                          "referrerDomain": {
                            "type": "string",
                            "description": "Referrer domain."
                          },
                          "urlPath": {
                            "type": "string",
                            "description": "Tracked URL path."
                          },
                          "urlQuery": {
                            "type": "string",
                            "description": "Tracked URL query string."
                          },
                          "visitId": {
                            "type": "string",
                            "description": "Visit identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-session-stats": {
      "get": {
        "operationId": "umami.get-session-stats",
        "summary": "Get Session Stats",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-session-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "required": true,
            "description": "Timestamp in milliseconds for the start of the reporting range.",
            "schema": {
              "type": "number",
              "description": "Timestamp in milliseconds for the start of the reporting range."
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "required": true,
            "description": "Timestamp in milliseconds for the end of the reporting range.",
            "schema": {
              "type": "number",
              "description": "Timestamp in milliseconds for the end of the reporting range."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Country-count metric summary object."
                          },
                          "events": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Event-count metric summary object."
                          },
                          "pageviews": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Pageview metric summary object."
                          },
                          "visitors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Visitor metric summary object."
                          },
                          "visits": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Visit metric summary object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-website": {
      "get": {
        "operationId": "umami.get-website",
        "summary": "Get Website",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-website"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "User who created the website."
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Deletion timestamp, if soft-deleted."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Tracked domain."
                          },
                          "id": {
                            "type": "string",
                            "description": "Website ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Website name."
                          },
                          "replayConfig": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Replay configuration when enabled."
                          },
                          "replayEnabled": {
                            "type": "boolean",
                            "description": "Whether replay is enabled."
                          },
                          "resetAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the last reset, if any."
                          },
                          "shareId": {
                            "type": "string",
                            "description": "Share identifier when public sharing is enabled."
                          },
                          "teamId": {
                            "type": "string",
                            "description": "Owning team ID, if any."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Owner user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/umami/latest/actions/get-website-date-range": {
      "get": {
        "operationId": "umami.get-website-date-range",
        "summary": "Get Website Date Range",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/umami/latest/actions/get-website-date-range"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "websiteId",
            "in": "query",
            "required": true,
            "description": "The website ID.",
            "schema": {
              "type": "string",
              "description": "The website ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End of available data range."
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start of available data range."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
[...]
