{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Eversign Universal API",
    "version": "0.0.6",
    "description": "Use Eversign (Xodo Sign) to manage businesses, documents, templates, bulk jobs, files, and audit logs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eversign/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eversign/latest/actions/audit-log": {
      "get": {
        "operationId": "eversign.audit-log",
        "summary": "Audit Log",
        "description": "Retrieves a document audit log from Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/audit-log"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client_ip": {
                            "type": "string"
                          },
                          "combined_checksum": {
                            "type": "string"
                          },
                          "document_checksum": {
                            "type": "string"
                          },
                          "entry_id": {
                            "type": "number"
                          },
                          "event_assoc_signer": {
                            "type": "string"
                          },
                          "event_assoc_signer_additional_data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "event_assoc_signer_email": {
                            "type": "string"
                          },
                          "event_assoc_signer_name": {
                            "type": "string"
                          },
                          "event_type": {
                            "type": "string"
                          },
                          "is_exported": {
                            "type": "string"
                          },
                          "merged_document_file_checksum": {
                            "type": "string"
                          },
                          "signer_ip": {
                            "type": "string"
                          },
                          "time_stamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/cancel-document": {
      "put": {
        "operationId": "eversign.cancel-document",
        "summary": "Cancel Document",
        "description": "Cancels an existing document in Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/cancel-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "documentHash"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cancel": {
                    "type": "string"
                  },
                  "documentHash": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/create-draft-document": {
      "post": {
        "operationId": "eversign.create-draft-document",
        "summary": "Create Draft Document",
        "description": "Creates a draft document in Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/create-draft-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "files[0].file_id",
                  "signers[0].name",
                  "signers[0].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "embeddedSigningEnabled": {
                    "type": "string"
                  },
                  "flexibleSigning": {
                    "type": "string"
                  },
                  "isDraft": {
                    "type": "string"
                  },
                  "reminders": {
                    "type": "string"
                  },
                  "requireAllSigners": {
                    "type": "string"
                  },
                  "sandbox": {
                    "type": "string"
                  },
                  "signers[0].id": {
                    "type": "string"
                  },
                  "useHiddenTags": {
                    "type": "string"
                  },
                  "useSignerOrder": {
                    "type": "string"
                  },
                  "files[0].file_id": {
                    "type": "string"
                  },
                  "signers[0].name": {
                    "type": "string"
                  },
                  "signers[0].email": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "custom_requester_email": {
                            "type": "string"
                          },
                          "custom_requester_name": {
                            "type": "string"
                          },
                          "document_hash": {
                            "type": "string"
                          },
                          "embedded": {
                            "type": "number"
                          },
                          "embedded_claim_url": {
                            "type": "string"
                          },
                          "embedded_signing_enabled": {
                            "type": "number"
                          },
                          "enable_signature_frame": {
                            "type": "number"
                          },
                          "expires": {
                            "type": "number"
                          },
                          "fields": {
                            "type": "array",
                            "items": {}
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flexible_signing": {
                            "type": "number"
                          },
                          "in_person": {
                            "type": "number"
                          },
                          "is_archived": {
                            "type": "number"
                          },
                          "is_cancelled": {
                            "type": "number"
                          },
                          "is_completed": {
                            "type": "number"
                          },
                          "is_deleted": {
                            "type": "number"
                          },
                          "is_draft": {
                            "type": "number"
                          },
                          "is_expired": {
                            "type": "number"
                          },
                          "is_template": {
                            "type": "number"
                          },
                          "is_trashed": {
                            "type": "number"
                          },
                          "log": {
                            "type": "array",
                            "items": {}
                          },
                          "message": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "array",
                            "items": {}
                          },
                          "permission": {
                            "type": "string"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {}
                          },
                          "redirect": {
                            "type": "string"
                          },
                          "redirect_decline": {
                            "type": "string"
                          },
                          "reminders": {
                            "type": "number"
                          },
                          "requester_email": {
                            "type": "string"
                          },
                          "require_all_signers": {
                            "type": "number"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "use_signer_order": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/create-embedded-document": {
      "post": {
        "operationId": "eversign.create-embedded-document",
        "summary": "Create Embedded Document",
        "description": "Creates an embedded signing document in Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/create-embedded-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "files[0].file_id",
                  "signers[0].name",
                  "signers[0].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "embeddedSigningEnabled": {
                    "type": "string"
                  },
                  "flexibleSigning": {
                    "type": "string"
                  },
                  "isDraft": {
                    "type": "string"
                  },
                  "reminders": {
                    "type": "string"
                  },
                  "requireAllSigners": {
                    "type": "string"
                  },
                  "sandbox": {
                    "type": "string"
                  },
                  "signers[0].deliver_email": {
                    "type": "string"
                  },
                  "signers[0].deliverEmail": {
                    "type": "string"
                  },
                  "signers[0].id": {
                    "type": "string"
                  },
                  "useHiddenTags": {
                    "type": "string"
                  },
                  "useSignerOrder": {
                    "type": "string"
                  },
                  "files[0].file_id": {
                    "type": "string"
                  },
                  "signers[0].name": {
                    "type": "string"
                  },
                  "signers[0].email": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "custom_requester_email": {
                            "type": "string"
                          },
                          "custom_requester_name": {
                            "type": "string"
                          },
                          "document_hash": {
                            "type": "string"
                          },
                          "embedded": {
                            "type": "number"
                          },
                          "embedded_signing_enabled": {
                            "type": "number"
                          },
                          "enable_signature_frame": {
                            "type": "number"
                          },
                          "expires": {
                            "type": "number"
                          },
                          "fields": {
                            "type": "array",
                            "items": {}
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flexible_signing": {
                            "type": "number"
                          },
                          "in_person": {
                            "type": "number"
                          },
                          "is_archived": {
                            "type": "number"
                          },
                          "is_cancelled": {
                            "type": "number"
                          },
                          "is_completed": {
                            "type": "number"
                          },
                          "is_deleted": {
                            "type": "number"
                          },
                          "is_draft": {
                            "type": "number"
                          },
                          "is_expired": {
                            "type": "number"
                          },
                          "is_template": {
                            "type": "number"
                          },
                          "is_trashed": {
                            "type": "number"
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "array",
                            "items": {}
                          },
                          "permission": {
                            "type": "string"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {}
                          },
                          "redirect": {
                            "type": "string"
                          },
                          "redirect_decline": {
                            "type": "string"
                          },
                          "reminders": {
                            "type": "number"
                          },
                          "requester_email": {
                            "type": "string"
                          },
                          "require_all_signers": {
                            "type": "number"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "use_signer_order": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/create-my-action-document": {
      "post": {
        "operationId": "eversign.create-my-action-document",
        "summary": "Create My Action Document",
        "description": "Creates a document assigned to you in Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/create-my-action-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "files[0].file_id",
                  "files[0].fileId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "embeddedSigningEnabled": {
                    "type": "string"
                  },
                  "flexibleSigning": {
                    "type": "string"
                  },
                  "isDraft": {
                    "type": "string"
                  },
                  "reminders": {
                    "type": "string"
                  },
                  "requireAllSigners": {
                    "type": "string"
                  },
                  "sandbox": {
                    "type": "string"
                  },
                  "signers[0].id": {
                    "type": "string"
                  },
                  "useHiddenTags": {
                    "type": "string"
                  },
                  "useSignerOrder": {
                    "type": "string"
                  },
                  "files[0].file_id": {
                    "type": "string"
                  },
                  "files[0].fileId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "custom_requester_email": {
                            "type": "string"
                          },
                          "custom_requester_name": {
                            "type": "string"
                          },
                          "document_hash": {
                            "type": "string"
                          },
                          "embedded": {
                            "type": "number"
                          },
                          "embedded_signing_enabled": {
                            "type": "number"
                          },
                          "enable_signature_frame": {
                            "type": "number"
                          },
                          "expires": {
                            "type": "number"
                          },
                          "fields": {
                            "type": "array",
                            "items": {}
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flexible_signing": {
                            "type": "number"
                          },
                          "in_person": {
                            "type": "number"
                          },
                          "is_archived": {
                            "type": "number"
                          },
                          "is_cancelled": {
                            "type": "number"
                          },
                          "is_completed": {
                            "type": "number"
                          },
                          "is_deleted": {
                            "type": "number"
                          },
                          "is_draft": {
                            "type": "number"
                          },
                          "is_expired": {
                            "type": "number"
                          },
                          "is_template": {
                            "type": "number"
                          },
                          "is_trashed": {
                            "type": "number"
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "array",
                            "items": {}
                          },
                          "permission": {
                            "type": "string"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {}
                          },
                          "redirect": {
                            "type": "string"
                          },
                          "redirect_decline": {
                            "type": "string"
                          },
                          "reminders": {
                            "type": "number"
                          },
                          "requester_email": {
                            "type": "string"
                          },
                          "require_all_signers": {
                            "type": "number"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "use_signer_order": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/create-sandbox-document": {
      "post": {
        "operationId": "eversign.create-sandbox-document",
        "summary": "Create Sandbox Document",
        "description": "Creates a sandbox document in Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/create-sandbox-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "files[0].file_id",
                  "signers[0].name",
                  "signers[0].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "embeddedSigningEnabled": {
                    "type": "string"
                  },
                  "flexibleSigning": {
                    "type": "string"
                  },
                  "isDraft": {
                    "type": "string"
                  },
                  "reminders": {
                    "type": "string"
                  },
                  "requireAllSigners": {
                    "type": "string"
                  },
                  "sandbox": {
                    "type": "string"
                  },
                  "signers[0].id": {
                    "type": "string"
                  },
                  "useHiddenTags": {
                    "type": "string"
                  },
                  "useSignerOrder": {
                    "type": "string"
                  },
                  "files[0].file_id": {
                    "type": "string"
                  },
                  "signers[0].name": {
                    "type": "string"
                  },
                  "signers[0].email": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "custom_requester_email": {
                            "type": "string"
                          },
                          "custom_requester_name": {
                            "type": "string"
                          },
                          "document_hash": {
                            "type": "string"
                          },
                          "embedded": {
                            "type": "number"
                          },
                          "embedded_signing_enabled": {
                            "type": "number"
                          },
                          "enable_signature_frame": {
                            "type": "number"
                          },
                          "expires": {
                            "type": "number"
                          },
                          "fields": {
                            "type": "array",
                            "items": {}
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flexible_signing": {
                            "type": "number"
                          },
                          "in_person": {
                            "type": "number"
                          },
                          "is_archived": {
                            "type": "number"
                          },
                          "is_cancelled": {
                            "type": "number"
                          },
                          "is_completed": {
                            "type": "number"
                          },
                          "is_deleted": {
                            "type": "number"
                          },
                          "is_draft": {
                            "type": "number"
                          },
                          "is_expired": {
                            "type": "number"
                          },
                          "is_template": {
                            "type": "number"
                          },
                          "is_trashed": {
                            "type": "number"
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "array",
                            "items": {}
                          },
                          "permission": {
                            "type": "string"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {}
                          },
                          "redirect": {
                            "type": "string"
                          },
                          "redirect_decline": {
                            "type": "string"
                          },
                          "reminders": {
                            "type": "number"
                          },
                          "requester_email": {
                            "type": "string"
                          },
                          "require_all_signers": {
                            "type": "number"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "use_signer_order": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/create-template": {
      "post": {
        "operationId": "eversign.create-template",
        "summary": "Create Template",
        "description": "Creates an active template in Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "files[0].file_id",
                  "signers[0].role"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "isDraft": {
                    "type": "string"
                  },
                  "isTemplate": {
                    "type": "string"
                  },
                  "reminders": {
                    "type": "string"
                  },
                  "requireAllSigners": {
                    "type": "string"
                  },
                  "sandbox": {
                    "type": "string"
                  },
                  "signers[0].id": {
                    "type": "string"
                  },
                  "signers[0].required": {
                    "type": "string"
                  },
                  "useSignerOrder": {
                    "type": "string"
                  },
                  "files[0].file_id": {
                    "type": "string"
                  },
                  "signers[0].role": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "custom_requester_email": {
                            "type": "string"
                          },
                          "custom_requester_name": {
                            "type": "string"
                          },
                          "document_hash": {
                            "type": "string"
                          },
                          "embedded": {
                            "type": "number"
                          },
                          "embedded_signing_enabled": {
                            "type": "number"
                          },
                          "enable_signature_frame": {
                            "type": "number"
                          },
                          "fields": {
                            "type": "array",
                            "items": {}
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flexible_signing": {
                            "type": "number"
                          },
                          "in_person": {
                            "type": "number"
                          },
                          "is_archived": {
                            "type": "number"
                          },
                          "is_cancelled": {
                            "type": "number"
                          },
                          "is_completed": {
                            "type": "number"
                          },
                          "is_deleted": {
                            "type": "number"
                          },
                          "is_draft": {
                            "type": "number"
                          },
                          "is_expired": {
                            "type": "number"
                          },
                          "is_template": {
                            "type": "number"
                          },
                          "is_trashed": {
                            "type": "number"
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "array",
                            "items": {}
                          },
                          "permission": {
                            "type": "number"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {}
                          },
                          "redirect": {
                            "type": "string"
                          },
                          "redirect_decline": {
                            "type": "string"
                          },
                          "reminders": {
                            "type": "number"
                          },
                          "requester_email": {
                            "type": "string"
                          },
                          "require_all_signers": {
                            "type": "number"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "use_signer_order": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/create-template-draft": {
      "post": {
        "operationId": "eversign.create-template-draft",
        "summary": "Create Template Draft",
        "description": "Creates a draft template in Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/create-template-draft"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "files[0].file_id",
                  "signers[0].role"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "isDraft": {
                    "type": "string"
                  },
                  "isTemplate": {
                    "type": "string"
                  },
                  "reminders": {
                    "type": "string"
                  },
                  "requireAllSigners": {
                    "type": "string"
                  },
                  "sandbox": {
                    "type": "string"
                  },
                  "signers[0].id": {
                    "type": "string"
                  },
                  "signers[0].required": {
                    "type": "string"
                  },
                  "useSignerOrder": {
                    "type": "string"
                  },
                  "files[0].file_id": {
                    "type": "string"
                  },
                  "signers[0].role": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "custom_requester_email": {
                            "type": "string"
                          },
                          "custom_requester_name": {
                            "type": "string"
                          },
                          "document_hash": {
                            "type": "string"
                          },
                          "embedded": {
                            "type": "number"
                          },
                          "embedded_claim_url": {
                            "type": "string"
                          },
                          "embedded_signing_enabled": {
                            "type": "number"
                          },
                          "enable_signature_frame": {
                            "type": "number"
                          },
                          "fields": {
                            "type": "array",
                            "items": {}
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flexible_signing": {
                            "type": "number"
                          },
                          "in_person": {
                            "type": "number"
                          },
                          "is_archived": {
                            "type": "number"
                          },
                          "is_cancelled": {
                            "type": "number"
                          },
                          "is_completed": {
                            "type": "number"
                          },
                          "is_deleted": {
                            "type": "number"
                          },
                          "is_draft": {
                            "type": "number"
                          },
                          "is_expired": {
                            "type": "number"
                          },
                          "is_template": {
                            "type": "number"
                          },
                          "is_trashed": {
                            "type": "number"
                          },
                          "log": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "array",
                            "items": {}
                          },
                          "permission": {
                            "type": "number"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {}
                          },
                          "redirect": {
                            "type": "string"
                          },
                          "redirect_decline": {
                            "type": "string"
                          },
                          "reminders": {
                            "type": "number"
                          },
                          "requester_email": {
                            "type": "string"
                          },
                          "require_all_signers": {
                            "type": "number"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "use_signer_order": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/delete-document": {
      "delete": {
        "operationId": "eversign.delete-document",
        "summary": "Delete Document",
        "description": "Deletes an existing document from Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/delete-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/delete-template": {
      "delete": {
        "operationId": "eversign.delete-template",
        "summary": "Delete Template",
        "description": "Deletes an existing template from Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/delete-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eversign/latest/actions/download-document-pdf": {
      "get": {
        "operationId": "eversign.download-document-pdf",
        "summary": "Download Document PDF",
        "description": "Downloads a document PDF from Eversign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eversign/latest/actions/download-document-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
[...]
