{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Text to pdf Universal API",
    "version": "0.0.6",
    "description": "Convert text and Markdown into PDF files, and manage temporary Text to PDF conversion jobs and files through Composio."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/textToPdf/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/textToPdf/latest/actions/convert-text-to-pdf": {
      "post": {
        "operationId": "textToPdf.convert-text-to-pdf",
        "summary": "Convert Text to PDF",
        "description": "Creates a PDF document from text in Text to PDF.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/textToPdf/latest/actions/convert-text-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "arguments",
                  "arguments.text",
                  "arguments.fileType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "arguments": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Tool input arguments object."
                  },
                  "arguments.text": {
                    "type": "string",
                    "description": "The complete plain text or Markdown content to convert to PDF."
                  },
                  "arguments.fileType": {
                    "type": "string",
                    "description": "Input text format. Accepted values are txt and markdown.",
                    "enum": [
                      "Markdown",
                      "Plain text"
                    ],
                    "default": "txt"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "file": {
                                "type": "object",
                                "properties": {
                                  "mimetype": {
                                    "type": "string",
                                    "description": "Generated PDF MIME type."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Generated PDF file name."
                                  },
                                  "s3url": {
                                    "type": "string",
                                    "description": "Temporary downloadable URL for the generated PDF."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when execution fails."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Whether the Composio tool execution succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/textToPdf/latest/actions/delete-async-job": {
      "delete": {
        "operationId": "textToPdf.delete-async-job",
        "summary": "Delete Async Job",
        "description": "Deletes an asynchronous job from Text to PDF.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/textToPdf/latest/actions/delete-async-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arguments",
            "in": "query",
            "required": true,
            "description": "Tool input arguments object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Tool input arguments object."
            }
          },
          {
            "name": "arguments.jobId",
            "in": "query",
            "required": true,
            "description": "Unique asynchronous conversion job id to delete.",
            "schema": {
              "type": "string",
              "description": "Unique asynchronous conversion job id to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "Async job deletion confirmation or provider wrapper message."
                              },
                              "status_code": {
                                "type": "number",
                                "description": "Underlying ConvertAPI HTTP status code when returned by Composio."
                              }
                            },
                            "additionalProperties": false
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when execution fails."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Whether the Composio tool execution succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/textToPdf/latest/actions/delete-file": {
      "delete": {
        "operationId": "textToPdf.delete-file",
        "summary": "Delete File",
        "description": "Deletes a file from Text to PDF by file ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/textToPdf/latest/actions/delete-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arguments",
            "in": "query",
            "required": true,
            "description": "Tool input arguments object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Tool input arguments object."
            }
          },
          {
            "name": "arguments.fileId",
            "in": "query",
            "required": true,
            "description": "Unique file id to delete from temporary storage.",
            "schema": {
              "type": "string",
              "description": "Unique file id to delete from temporary storage."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "File deletion status message."
                              },
                              "success": {
                                "type": "boolean",
                                "description": "Whether the file deletion succeeded."
                              }
                            },
                            "additionalProperties": false
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when execution fails."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Whether the Composio tool execution succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/textToPdf/latest/actions/download-file": {
      "get": {
        "operationId": "textToPdf.download-file",
        "summary": "Download File",
        "description": "Retrieves a file from Text to PDF by file ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/textToPdf/latest/actions/download-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arguments",
            "in": "query",
            "required": true,
            "description": "Tool input arguments object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Tool input arguments object."
            }
          },
          {
            "name": "arguments.fileId",
            "in": "query",
            "required": true,
            "description": "Unique file id returned from upload or conversion.",
            "schema": {
              "type": "string",
              "description": "Unique file id returned from upload or conversion."
            }
          },
          {
            "name": "arguments.download",
            "in": "query",
            "required": false,
            "description": "Download behavior: attachment or inline.",
            "schema": {
              "type": "string",
              "description": "Download behavior: attachment or inline.",
              "enum": [
                "Attachment",
                "Inline"
              ],
              "default": "attachment",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "object",
                                "properties": {
                                  "mimetype": {
                                    "type": "string",
                                    "description": "Downloaded file MIME type."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Downloaded file name."
                                  },
                                  "s3url": {
                                    "type": "string",
                                    "description": "Temporary downloadable file URL."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when execution fails."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Whether the Composio tool execution succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/textToPdf/latest/actions/start-async-conversion": {
      "post": {
        "operationId": "textToPdf.start-async-conversion",
        "summary": "Start Async Conversion",
        "description": "Starts an asynchronous file conversion job in Text to PDF.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/textToPdf/latest/actions/start-async-conversion"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "arguments",
                  "arguments.fromFormat",
                  "arguments.toFormat",
                  "arguments.file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "arguments": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Tool input arguments object."
                  },
                  "arguments.fromFormat": {
                    "type": "string",
                    "description": "Source file format, such as txt, docx, or html."
                  },
                  "arguments.toFormat": {
                    "type": "string",
                    "description": "Target output format, such as pdf.",
                    "default": "pdf"
                  },
                  "arguments.file": {
                    "type": "string",
                    "description": "Public file URL or file content to convert."
                  },
                  "arguments.jobId": {
                    "type": "string",
                    "description": "Optional custom 32-character lowercase alphanumeric job id.",
                    "x-mindcloud-advanced": true
                  },
                  "arguments.webhook": {
                    "type": "string",
                    "description": "Optional callback URL for conversion completion notification.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "job_id": {
                                "type": "string",
                                "description": "Asynchronous conversion job id."
                              }
                            },
                            "additionalProperties": false
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when execution fails."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Whether the Composio tool execution succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/textToPdf/latest/actions/upload-file-to-convert-api": {
      "post": {
        "operationId": "textToPdf.upload-file-to-convert-api",
        "summary": "Upload File to ConvertAPI",
        "description": "Uploads a file to Text to PDF for later conversion.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/textToPdf/latest/actions/upload-file-to-convert-api"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "arguments": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Tool input arguments object."
                  },
                  "arguments.url": {
                    "type": "string",
                    "description": "Remote file URL to upload to ConvertAPI server."
                  },
                  "arguments.file": {
                    "type": "string",
                    "description": "MindCloud file object to upload to ConvertAPI server."
                  },
                  "arguments.fileId": {
                    "type": "string",
                    "description": "Optional custom lowercase alphanumeric id for the uploaded file.",
                    "x-mindcloud-advanced": true
                  },
                  "arguments.filename": {
                    "type": "string",
                    "description": "Optional filename override for the uploaded file.",
                    "x-mindcloud-advanced": true
                  },
                  "arguments.headerName": {
                    "type": "string",
                    "description": "Optional header name for fetching a protected remote URL.",
                    "x-mindcloud-advanced": true
                  },
                  "arguments.headerValue": {
                    "type": "string",
                    "description": "Optional header value for fetching a protected remote URL.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "file_ext": {
                                "type": "string",
                                "description": "Uploaded file extension."
                              },
                              "file_id": {
                                "type": "string",
                                "description": "Uploaded file id."
                              },
                              "file_name": {
                                "type": "string",
                                "description": "Uploaded file name."
                              },
                              "file_size": {
                                "type": "number",
                                "description": "Uploaded file size in bytes."
                              },
                              "url": {
                                "type": "string",
                                "description": "Temporary uploaded file URL."
                              }
                            },
                            "additionalProperties": false
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when execution fails."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Whether the Composio tool execution succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
