{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Moderation API Universal API",
    "version": "0.1.3",
    "description": "Analyze and moderate text, images, audio, video, authors, review queues, moderation actions, and wordlists with the Moderation API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/moderationAPI/latest/actions/add-words-to-wordlist": {
      "post": {
        "operationId": "moderationAPI.add-words-to-wordlist",
        "summary": "Add Words To Wordlist",
        "description": "Adds words to a wordlist in Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/add-words-to-wordlist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "words[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "ID of the wordlist to add words to"
                  },
                  "words[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of words to add to the wordlist. Duplicate words will be ignored."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addedCount": {
                            "type": "number",
                            "description": "Number of words added"
                          },
                          "addedWords": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of words that were added"
                          },
                          "totalCount": {
                            "type": "number",
                            "description": "Total number of words in wordlist"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/analyze-audio": {
      "post": {
        "operationId": "moderationAPI.analyze-audio",
        "summary": "Analyze Audio",
        "description": "Submits audio to Moderation API for analysis.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/analyze-audio"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contentId": {
                    "type": "string",
                    "description": "The unique ID of the content in your database.",
                    "x-mindcloud-advanced": true
                  },
                  "channelKey": {
                    "type": "string",
                    "description": "The key of the channel.",
                    "x-mindcloud-advanced": true
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue",
                    "x-mindcloud-advanced": true
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content.",
                    "x-mindcloud-advanced": true
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Any metadata you want to store with the content",
                    "x-mindcloud-advanced": true
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of the audio you want to analyze."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contentId": {
                            "type": "string",
                            "description": "The ID of the content. Only returned if the content was stored."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message if the request failed"
                          },
                          "flagged": {
                            "type": "boolean",
                            "description": "Whether the content was flagged by any models"
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Information about the request"
                          },
                          "status": {
                            "type": "string",
                            "description": "Success if the request was successful"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/analyze-image": {
      "post": {
        "operationId": "moderationAPI.analyze-image",
        "summary": "Analyze Image",
        "description": "Submits an image to Moderation API for analysis.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/analyze-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contentId": {
                    "type": "string",
                    "description": "The unique ID of the content in your database.",
                    "x-mindcloud-advanced": true
                  },
                  "channelKey": {
                    "type": "string",
                    "description": "The key of the channel.",
                    "x-mindcloud-advanced": true
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue",
                    "x-mindcloud-advanced": true
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content.",
                    "x-mindcloud-advanced": true
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Any metadata you want to store with the content",
                    "x-mindcloud-advanced": true
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of the image you want to analyze."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "contentId": {
                            "type": "string"
                          },
                          "flagged": {
                            "type": "boolean"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "texts": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/analyze-object": {
      "post": {
        "operationId": "moderationAPI.analyze-object",
        "summary": "Analyze Object",
        "description": "Submits an object to Moderation API for analysis.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/analyze-object"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contentId": {
                    "type": "string",
                    "description": "The unique ID of the content in your database.",
                    "x-mindcloud-advanced": true
                  },
                  "channelKey": {
                    "type": "string",
                    "description": "The key of the channel.",
                    "x-mindcloud-advanced": true
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue",
                    "x-mindcloud-advanced": true
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content.",
                    "x-mindcloud-advanced": true
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Any metadata you want to store with the content",
                    "x-mindcloud-advanced": true
                  },
                  "value": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The object you want to analyze."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "contentId": {
                            "type": "string"
                          },
                          "data_found": {
                            "type": "boolean"
                          },
                          "entities": {
                            "type": "array",
                            "items": {}
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "flagged": {
                            "type": "boolean"
                          },
                          "labels": {
                            "type": "array",
                            "items": {}
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "unicode_spoofing": {
                            "type": "boolean"
                          },
                          "wordlists": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/analyze-text": {
      "post": {
        "operationId": "moderationAPI.analyze-text",
        "summary": "Analyze Text",
        "description": "Submits text to Moderation API for analysis.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/analyze-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contentId": {
                    "type": "string",
                    "description": "The unique ID of the content in your database.",
                    "x-mindcloud-advanced": true
                  },
                  "value": {
                    "type": "string",
                    "description": "The text you'd like to analyze. We recommend to submit plain text or HTML"
                  },
                  "channelKey": {
                    "type": "string",
                    "description": "The key of the channel.",
                    "x-mindcloud-advanced": true
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue",
                    "x-mindcloud-advanced": true
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content.",
                    "x-mindcloud-advanced": true
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Any metadata you want to store with the content",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "content_moderated": {
                            "type": "boolean"
                          },
                          "contentId": {
                            "type": "string"
                          },
                          "data_found": {
                            "type": "boolean"
                          },
                          "flagged": {
                            "type": "boolean"
                          },
                          "original": {
                            "type": "string"
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "unicode_spoofing": {
                            "type": "boolean"
                          },
                          "wordlists": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/analyze-video": {
      "post": {
        "operationId": "moderationAPI.analyze-video",
        "summary": "Analyze Video",
        "description": "Submits a video to Moderation API for analysis.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/analyze-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contentId": {
                    "type": "string",
                    "description": "The unique ID of the content in your database.",
                    "x-mindcloud-advanced": true
                  },
                  "channelKey": {
                    "type": "string",
                    "description": "The key of the channel.",
                    "x-mindcloud-advanced": true
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue",
                    "x-mindcloud-advanced": true
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content.",
                    "x-mindcloud-advanced": true
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Any metadata you want to store with the content",
                    "x-mindcloud-advanced": true
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of the video you want to analyze."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "contentId": {
                            "type": "string"
                          },
                          "flagged": {
                            "type": "boolean"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "texts": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/create-a-new-author": {
      "post": {
        "operationId": "moderationAPI.create-a-new-author",
        "summary": "Create A New Author",
        "description": "Creates a new author in Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/create-a-new-author"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "external_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "profile_picture": {
                    "type": "string",
                    "description": "URL of the author's profile picture",
                    "x-mindcloud-advanced": true
                  },
                  "external_link": {
                    "type": "string",
                    "description": "URL of the author's external profile",
                    "x-mindcloud-advanced": true
                  },
                  "name": {
                    "type": "string",
                    "description": "Author name or identifier"
                  },
                  "email": {
                    "type": "string",
                    "description": "Author email address",
                    "x-mindcloud-advanced": true
                  },
                  "company": {
                    "type": "string",
                    "description": "The author's company or organization",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional metadata provided by your system. We recommend including any relevant information that may assist in the moderation process.",
                    "x-mindcloud-advanced": true
                  },
                  "first_seen": {
                    "type": "number",
                    "description": "Timestamp when author first appeared",
                    "x-mindcloud-advanced": true
                  },
                  "last_seen": {
                    "type": "number",
                    "description": "Timestamp of last activity",
                    "x-mindcloud-advanced": true
                  },
                  "manual_trust_level": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "external_id": {
                    "type": "string",
                    "description": "External ID of the user, typically the ID of the author in your database."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "company": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "external_link": {
                            "type": "string"
                          },
                          "first_seen": {
                            "type": "number",
                            "description": "Timestamp when author first appeared"
                          },
                          "id": {
                            "type": "string",
                            "description": "Author ID in Moderation API"
                          },
                          "last_incident": {
                            "type": "number"
                          },
                          "last_seen": {
                            "type": "number",
                            "description": "Timestamp of last activity"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional metadata provided by your system. We recommend including any relevant information that may assist in the moderation process."
                          },
                          "metrics": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "profile_picture": {
                            "type": "string"
                          },
                          "risk_evaluation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string",
                            "description": "Current author status"
                          },
                          "trust_level": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/create-an-action": {
      "post": {
        "operationId": "moderationAPI.create-an-action",
        "summary": "Create An Action",
        "description": "Creates a moderation action in Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/create-an-action"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "key": {
                    "type": "string",
                    "description": "User defined key of the action."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the action."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the action.",
                    "x-mindcloud-advanced": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the action.",
                    "x-mindcloud-advanced": true
                  },
                  "builtIn": {
                    "type": "boolean",
                    "description": "Whether the action is a built-in action or a custom one.",
                    "x-mindcloud-advanced": true
                  },
                  "queueBehaviour": {
                    "type": "string",
                    "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status.",
                    "x-mindcloud-advanced": true
                  },
                  "filterInQueueIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The IDs of the queues the action is available in.",
                    "x-mindcloud-advanced": true
                  },
                  "position": {
                    "type": "string",
                    "description": "Show the action in all queues, selected queues or no queues (to use via API only).",
                    "x-mindcloud-advanced": true
                  },
                  "possibleValues[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action.",
                    "x-mindcloud-advanced": true
                  },
                  "valueRequired": {
                    "type": "boolean",
                    "description": "Whether the action requires a value to be executed.",
                    "x-mindcloud-advanced": true
                  },
                  "freeText": {
                    "type": "boolean",
                    "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "builtIn": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The date the action was created."
                          },
                          "description": {
                            "type": "string"
                          },
                          "filterInQueueIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The IDs of the queues the action is available in."
                          },
                          "freeText": {
                            "type": "boolean",
                            "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the action."
                          },
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the action."
                          },
                          "position": {
                            "type": "string",
                            "description": "Show the action in all queues, selected queues or no queues (to use via API only)."
                          },
                          "possibleValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action."
                          },
                          "queueBehaviour": {
                            "type": "string",
                            "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status."
                          },
                          "type": {
                            "type": "string"
                          },
                          "valueRequired": {
                            "type": "boolean",
                            "description": "Whether the action requires a value to be executed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/delete-an-action": {
      "delete": {
        "operationId": "moderationAPI.delete-an-action",
        "summary": "Delete An Action",
        "description": "Deletes a moderation action from Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/delete-an-action"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the action to delete.",
            "schema": {
              "type": "string",
              "description": "The ID of the action to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the action was deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the action."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/delete-an-author": {
      "delete": {
        "operationId": "moderationAPI.delete-an-author",
        "summary": "Delete An Author",
        "description": "Deletes an author from Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/delete-an-author"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/execute-moderation-action": {
      "post": {
        "operationId": "moderationAPI.execute-moderation-action",
        "summary": "Execute Moderation Action",
        "description": "Executes a moderation action in Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/execute-moderation-action"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "actionKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "actionKey": {
                    "type": "string",
                    "description": "ID or key of the action to execute"
                  },
                  "contentIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of the content items to apply the action to. Provide this or authorIds.",
                    "x-mindcloud-advanced": true
                  },
                  "authorIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of the authors to apply the action to. Provide this or contentIds.",
                    "x-mindcloud-advanced": true
                  },
                  "value": {
                    "type": "string",
                    "description": "Optional value to provide with the action"
                  },
                  "queueId": {
                    "type": "string",
                    "description": "Optional queue ID if the action is queue-specific",
                    "x-mindcloud-advanced": true
                  },
                  "duration": {
                    "type": "number",
                    "description": "Optional duration in milliseconds for actions with timeouts",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the action was executed successfully"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/get-a-queue": {
      "get": {
        "operationId": "moderationAPI.get-a-queue",
        "summary": "Get A Queue",
        "description": "Retrieves a review queue from Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/get-a-queue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The queue ID",
            "schema": {
              "type": "string",
              "description": "The queue ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "queue": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moderationAPI/latest/actions/get-account-details": {
      "get": {
        "operationId": "moderationAPI.get-account-details",
        "summary": "Get Account Details",
        "description": "Retrieves account details from Moderation API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moderationAPI/latest/actions/get-account-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "current_project": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string",
                            "description": "ID of the account"
                          },
                          "paid_plan_name": {
                            "type": "string",
                            "description": "Name of the paid plan"
                          },
                          "remaining_quota": {
                            "type": "number",
                            "description": "Remaining quota"
                          },
                          "text_api_quota": {
                            "type": "number",
                            "description": "Text API quota"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
[...]
