{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Housecall Pro Universal API",
    "version": "0.0.12",
    "description": "Manage customers, jobs, estimates, employees, and schedules"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/housecallPro/latest/actions/bulk-update-estimate-option-line-items": {
      "put": {
        "operationId": "housecallPro.bulk-update-estimate-option-line-items",
        "summary": "Bulk Update Estimate Option Line Items",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/bulk-update-estimate-option-line-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "estimateId",
                  "optionId",
                  "lineItems[].name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "estimateId": {
                    "type": "string",
                    "description": "The estimate to update.",
                    "example": "csr_48c56f1d6e304fd3bd64069968d58d3b"
                  },
                  "optionId": {
                    "type": "string",
                    "description": "The estimate option to update.",
                    "example": "est_4c3bbad072de4216a21da7918c8e5854"
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Line items to update or create."
                  },
                  "lineItems[].id": {
                    "type": "string",
                    "description": "Existing line item id to update.",
                    "example": "lin_123",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].serviceItemId": {
                    "type": "string",
                    "description": "Service item id for the line item.",
                    "example": "srv_123",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].serviceItemType": {
                    "type": "string",
                    "description": "Service item type for the line item.",
                    "enum": [
                      "market_place",
                      "organizational",
                      "pricebook_material"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].name": {
                    "type": "string",
                    "description": "Line item name.",
                    "example": "Diagnostic Add-on"
                  },
                  "lineItems[].unitPrice": {
                    "type": "number",
                    "description": "Line item unit price.",
                    "example": 99
                  },
                  "lineItems[].unitCost": {
                    "type": "number",
                    "description": "Line item unit cost.",
                    "example": 50,
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Line item quantity.",
                    "example": 1
                  },
                  "lineItems[].kind": {
                    "type": "string",
                    "description": "Line item kind.",
                    "enum": [
                      "fixed discount",
                      "fixed gratuity",
                      "labor",
                      "materials",
                      "percent discount"
                    ],
                    "default": "labor",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].taxable": {
                    "type": "boolean",
                    "description": "Whether the line item is taxable.",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].description": {
                    "type": "string",
                    "description": "Line item description.",
                    "example": "Added during stage 3 buildout."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Updated estimate option line items."
                          },
                          "object": {
                            "type": "string",
                            "description": "Response object type."
                          },
                          "url": {
                            "type": "string",
                            "description": "Provider relative URL for the line item collection."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/convert-lead-to-estimate-or-job": {
      "post": {
        "operationId": "housecallPro.convert-lead-to-estimate-or-job",
        "summary": "Convert Lead to Estimate or Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/convert-lead-to-estimate-or-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The ID of the lead to convert."
                  },
                  "type": {
                    "type": "string",
                    "description": "Must be either estimate or job.",
                    "enum": [
                      "estimate",
                      "job"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "estimateId": {
                            "type": "string",
                            "description": "Created estimate ID when the lead is converted to an estimate."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "Created job ID when the lead is converted to a job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/create-customer": {
      "post": {
        "operationId": "housecallPro.create-customer",
        "summary": "Create Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Avery"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Customer"
                  },
                  "email": {
                    "type": "string",
                    "example": "apps+stage3-create@mindcloud.co"
                  },
                  "company": {
                    "type": "string",
                    "example": "MindCloud"
                  },
                  "notificationsEnabled": {
                    "type": "boolean"
                  },
                  "mobileNumber": {
                    "type": "string",
                    "example": "2132135308"
                  },
                  "homeNumber": {
                    "type": "string",
                    "example": "2132135309"
                  },
                  "workNumber": {
                    "type": "string",
                    "example": "2132135310"
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "leadSource": {
                    "type": "string",
                    "example": "web"
                  },
                  "notes": {
                    "type": "string",
                    "example": "Created during stage 3 buildout."
                  },
                  "addresses[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "company": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "homeNumber": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "mobileNumber": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "notificationsEnabled": {
                            "type": "boolean"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "workNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/create-estimate": {
      "post": {
        "operationId": "housecallPro.create-estimate",
        "summary": "Create Estimate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "options[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "example": "cus_ccdcb54ddb5a42bea9466d386a637af8"
                  },
                  "addressId": {
                    "type": "string",
                    "example": "adr_fe965ac68e864b408c41b420abcfd902"
                  },
                  "note": {
                    "type": "string",
                    "example": "Estimate created during stage 3 buildout."
                  },
                  "message": {
                    "type": "string",
                    "example": "Thanks for reviewing this estimate."
                  },
                  "options[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "options[].name": {
                    "type": "string",
                    "example": "Base Option"
                  },
                  "options[].tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "options[].lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "schedule": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "schedule.startTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-11T15:00:00Z"
                  },
                  "schedule.endTime": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-03-11T16:00:00Z"
                  },
                  "schedule.arrivalWindowInMinutes": {
                    "type": "number",
                    "example": 30
                  },
                  "schedule.notifyCustomer": {
                    "type": "boolean"
                  },
                  "assignedEmployeeIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "leadSource": {
                    "type": "string",
                    "example": "web",
                    "x-mindcloud-advanced": true
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "address.street": {
                    "type": "string",
                    "example": "701 S Harrison Ave",
                    "x-mindcloud-advanced": true
                  },
                  "address.streetLine2": {
                    "type": "string",
                    "example": "Suite 200",
                    "x-mindcloud-advanced": true
                  },
                  "address.city": {
                    "type": "string",
                    "example": "Kankakee",
                    "x-mindcloud-advanced": true
                  },
                  "address.state": {
                    "type": "string",
                    "example": "IL",
                    "x-mindcloud-advanced": true
                  },
                  "address.zip": {
                    "type": "string",
                    "example": "60901",
                    "x-mindcloud-advanced": true
                  },
                  "tax": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "tax.taxable": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "tax.taxRate": {
                    "type": "number",
                    "example": 8.25,
                    "x-mindcloud-advanced": true
                  },
                  "tax.taxName": {
                    "type": "string",
                    "example": "Sales Tax",
                    "x-mindcloud-advanced": true
                  },
                  "estimateFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "estimateFields.jobTypeId": {
                    "type": "string",
                    "example": "jobtype_123",
                    "x-mindcloud-advanced": true
                  },
                  "estimateFields.businessUnitId": {
                    "type": "string",
                    "example": "bu_123",
                    "x-mindcloud-advanced": true
                  },
                  "estimateNumber": {
                    "type": "number",
                    "description": "Estimate number unique across all company estimates. If left blank, one will be generated automatically.",
                    "example": 1001,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assignedEmployees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "estimateFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "estimateNumber": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "schedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "workStatus": {
                            "type": "string"
                          },
                          "workTimestamps": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/create-job": {
      "post": {
        "operationId": "housecallPro.create-job",
        "summary": "Create Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "addressId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "addressId": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "leadSource": {
                    "type": "string"
                  },
                  "invoiceNumber": {
                    "type": "number",
                    "description": "Invoice number must be unique across all company jobs. If blank, one is generated automatically.",
                    "x-mindcloud-advanced": true
                  },
                  "schedule": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Scheduling details for the job.",
                    "x-mindcloud-advanced": true
                  },
                  "assignedEmployeeIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "x-mindcloud-advanced": true
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "jobFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Job address details."
                          },
                          "assignedEmployees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Assigned employees."
                          },
                          "canceledAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Job cancellation timestamp."
                          },
                          "companyId": {
                            "type": "string",
                            "description": "Company ID."
                          },
                          "companyName": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Job creation timestamp."
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Customer attached to the job."
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Job deletion timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Job description."
                          },
                          "id": {
                            "type": "string",
                            "description": "Job ID."
                          },
                          "invoiceNumber": {
                            "type": "string",
                            "description": "Invoice number."
                          },
                          "jobFields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Job field values."
                          },
                          "leadSource": {
                            "type": "string",
                            "description": "Lead source."
                          },
                          "lockedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the job was locked."
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Job notes."
                          },
                          "originalEstimateId": {
                            "type": "string",
                            "description": "Original estimate ID."
                          },
                          "originalEstimateUuids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Original estimate UUIDs."
                          },
                          "outstandingBalance": {
                            "type": "number",
                            "description": "Outstanding balance."
                          },
                          "recurrenceNumber": {
                            "type": "number",
                            "description": "Recurrence instance number."
                          },
                          "recurrenceRule": {
                            "type": "string",
                            "description": "Recurrence rule."
                          },
                          "schedule": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Job schedule."
                          },
                          "subtotal": {
                            "type": "number",
                            "description": "Job subtotal."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Job tags."
                          },
                          "totalAmount": {
                            "type": "number",
                            "description": "Total job amount."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Job update timestamp."
                          },
                          "workStatus": {
                            "type": "string",
                            "description": "Work status."
                          },
                          "workTimestamps": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Job work timestamps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/create-lead": {
      "post": {
        "operationId": "housecallPro.create-lead",
        "summary": "Create Lead",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/create-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Either this or Customer is required."
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Either this or Customer ID is required.",
                    "x-mindcloud-advanced": true
                  },
                  "addressId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "assignedEmployeeId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "leadSource": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "x-mindcloud-advanced": true
                  },
                  "taxName": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "taxRate": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Lead address details."
                          },
                          "assignedEmployee": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Assigned employee."
                          },
                          "companyId": {
                            "type": "string",
                            "description": "Company ID."
                          },
                          "companyName": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "conversions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Lead conversions."
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Customer attached to the lead."
                          },
                          "id": {
                            "type": "string",
                            "description": "Lead ID."
                          },
                          "leadSource": {
                            "type": "string",
                            "description": "Lead source."
                          },
                          "lostAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the lead was marked lost."
                          },
                          "number": {
                            "type": "number",
                            "description": "Lead number."
                          },
                          "pipelineStatus": {
                            "type": "string",
                            "description": "Pipeline status."
                          },
                          "status": {
                            "type": "string",
                            "description": "Lead status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Lead tags."
                          },
                          "totalAmount": {
                            "type": "number",
                            "description": "Lead total amount."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/get-company": {
      "get": {
        "operationId": "housecallPro.get-company",
        "summary": "Get Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultArrivalWindow": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "serviceAreasData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "supportEmail": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/get-customer": {
      "get": {
        "operationId": "housecallPro.get-customer",
        "summary": "Get Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "ID of the customer to retrieve.",
            "schema": {
              "type": "string",
              "description": "ID of the customer to retrieve.",
              "example": "cus_ccdcb54ddb5a42bea9466d386a637af8"
            }
          },
          {
            "name": "expand[]",
            "in": "query",
            "required": false,
            "description": "Fields to expand in the response body.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Fields to expand in the response body."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "company": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "homeNumber": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "mobileNumber": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "notificationsEnabled": {
                            "type": "boolean"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "workNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/get-estimate": {
      "get": {
        "operationId": "housecallPro.get-estimate",
        "summary": "Get Estimate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/get-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estimateId",
            "in": "query",
            "required": true,
            "description": "Estimate identifier.",
            "schema": {
              "type": "string",
              "description": "Estimate identifier.",
              "example": "csr_48c56f1d6e304fd3bd64069968d58d3b"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Array of strings to expand response body.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "attachments"
                ]
              },
              "description": "Array of strings to expand response body.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assignedEmployees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "estimateFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "estimateNumber": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "leadSource": {
                            "type": "string"
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "schedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "workStatus": {
                            "type": "string"
                          },
                          "workTimestamps": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/get-invoice": {
      "get": {
        "operationId": "housecallPro.get-invoice",
        "summary": "Get Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "The UUID of the invoice to retrieve.",
            "schema": {
              "type": "string",
              "description": "The UUID of the invoice to retrieve.",
              "example": "invoice_b0068ccfac5e47309ddfe99d5a51f578"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Invoice total amount."
                          },
                          "discounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Invoice discounts."
                          },
                          "displayDueConcept": {
                            "type": "string",
                            "description": "Human-readable due concept."
                          },
                          "dueAmount": {
                            "type": "number",
                            "description": "Outstanding invoice balance."
                          },
                          "dueAt": {
                            "type": "string",
                            "description": "Invoice due timestamp."
                          },
                          "dueConcept": {
                            "type": "string",
                            "description": "Provider due concept token."
                          },
                          "id": {
                            "type": "string",
                            "description": "Invoice UUID."
                          },
                          "invoiceDate": {
                            "type": "string",
                            "description": "Invoice date."
                          },
                          "invoiceNumber": {
                            "type": "string",
                            "description": "Invoice number."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Invoice items."
                          },
                          "paidAt": {
                            "type": "string",
                            "description": "Paid timestamp."
                          },
                          "payments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Invoice payments."
                          },
                          "sentAt": {
                            "type": "string",
                            "description": "Sent timestamp."
                          },
                          "serviceDate": {
                            "type": "string",
                            "description": "Service date."
                          },
                          "status": {
                            "type": "string",
                            "description": "Invoice status."
                          },
                          "subtotal": {
                            "type": "number",
                            "description": "Invoice subtotal amount."
                          },
                          "taxes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Invoice taxes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/housecallPro/latest/actions/get-job": {
      "get": {
        "operationId": "housecallPro.get-job",
        "summary": "Get Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/housecallPro/latest/actions/get-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the job.",
            "schema": {
              "type": "string",
              "description": "The ID of the job."
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Fields to expand in the response body.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appointments",
                  "attachments"
                ]
              },
              "description": "Fields to expand in the response body."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Job address details."
                          },
                          "assignedEmployees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Assigned employees."
                          },
                          "canceledAt": {
[...]
