{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Intercom Universal API",
    "version": "0.0.13",
    "description": "Manage contacts, conversations, tickets, and customer messaging"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/intercom/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/intercom/latest/actions/archive-contact": {
      "put": {
        "operationId": "intercom.archive-contact",
        "summary": "Archive Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/archive-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "Intercom contact identifier"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/attach-contact-to-conversation": {
      "put": {
        "operationId": "intercom.attach-contact-to-conversation",
        "summary": "Attach Contact To Conversation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/attach-contact-to-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId",
                  "admin_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "Intercom conversation identifier"
                  },
                  "admin_id": {
                    "type": "string",
                    "description": "Admin performing the action"
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customer.intercom_user_id": {
                    "type": "string",
                    "description": "Intercom contact ID to attach as a customer"
                  },
                  "customer.user_id": {
                    "type": "string",
                    "description": "Alternative provider user_id for customer identification",
                    "x-mindcloud-advanced": true
                  },
                  "customer.email": {
                    "type": "string",
                    "description": "Alternative customer email for identification",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/convert-conversation-to-ticket": {
      "put": {
        "operationId": "intercom.convert-conversation-to-ticket",
        "summary": "Convert Conversation To Ticket",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/convert-conversation-to-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId",
                  "ticket_type_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "Intercom conversation identifier"
                  },
                  "ticket_type_id": {
                    "type": "string",
                    "description": "Intercom ticket type identifier"
                  },
                  "ticket_attributes": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ticket_attributes._default_title_": {
                    "type": "string",
                    "description": "Default converted ticket title"
                  },
                  "ticket_attributes._default_description_": {
                    "type": "string",
                    "description": "Default converted ticket description"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adminAssigneeId": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "contacts": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "externalId": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "linkedObjects": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "open": {
                            "type": "boolean"
                          },
                          "teamAssigneeId": {
                            "type": "string"
                          },
                          "ticketAttributes": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "defaultDescription": {
                                "type": "string"
                              },
                              "defaultTitle": {
                                "type": "string"
                              },
                              "platforms": {
                                "type": "string"
                              },
                              "rootCause": {
                                "type": "string"
                              }
                            }
                          },
                          "ticketId": {
                            "type": "string"
                          },
                          "ticketParts": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "ticketParts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "attachments": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "author": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "email": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "createdAt": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "partType": {
                                      "type": "string"
                                    },
                                    "redacted": {
                                      "type": "boolean"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "updatedAt": {
                                      "type": "number"
                                    },
                                    "updatedAttributeData": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "attribute": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "label": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "value": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "label": {
                                              "type": "string"
                                            },
                                            "previous": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "ticketState": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "externalLabel": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "internalLabel": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "ticketType": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "archived": {
                                "type": "boolean"
                              },
                              "category": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isInternal": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "ticketTypeAttributes": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "archived": {
                                          "type": "boolean"
                                        },
                                        "createdAt": {
                                          "type": "number"
                                        },
                                        "dataType": {
                                          "type": "string"
                                        },
                                        "default": {
                                          "type": "boolean"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "inputOptions": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "multiline": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "order": {
                                          "type": "number"
                                        },
                                        "requiredToCreate": {
                                          "type": "boolean"
                                        },
                                        "requiredToCreateForContacts": {
                                          "type": "boolean"
                                        },
                                        "ticketTypeId": {
                                          "type": "number"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "updatedAt": {
                                          "type": "number"
                                        },
                                        "visibleOnCreate": {
                                          "type": "boolean"
                                        },
                                        "visibleToContacts": {
                                          "type": "boolean"
                                        },
                                        "workspaceId": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "number"
                              },
                              "workspaceId": {
                                "type": "string"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/create-contact": {
      "post": {
        "operationId": "intercom.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "role": {
                    "type": "string",
                    "description": "The role of the contact"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "A unique identifier for the contact provided by your system"
                  },
                  "email": {
                    "type": "string",
                    "description": "The contact email address"
                  },
                  "phone": {
                    "type": "string",
                    "description": "The contact phone number"
                  },
                  "name": {
                    "type": "string",
                    "description": "The contact name"
                  },
                  "avatar": {
                    "type": "string",
                    "description": "An image URL containing the contact avatar"
                  },
                  "signedUpAt": {
                    "type": "number",
                    "description": "Unix timestamp for when the contact signed up"
                  },
                  "lastSeenAt": {
                    "type": "number",
                    "description": "Unix timestamp for when the contact was last seen"
                  },
                  "ownerId": {
                    "type": "number",
                    "description": "The admin assigned as contact owner"
                  },
                  "unsubscribedFromEmails": {
                    "type": "boolean",
                    "description": "Whether the contact is unsubscribed from emails"
                  },
                  "customAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom attributes to set on the contact"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "androidAppName": {
                            "type": "string"
                          },
                          "androidAppVersion": {
                            "type": "string"
                          },
                          "androidDevice": {
                            "type": "string"
                          },
                          "androidLastSeenAt": {
                            "type": "string"
                          },
                          "androidOsVersion": {
                            "type": "string"
                          },
                          "androidSdkVersion": {
                            "type": "string"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "browser": {
                            "type": "string"
                          },
                          "browserLanguage": {
                            "type": "string"
                          },
                          "browserVersion": {
                            "type": "string"
                          },
                          "companies": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "customAttributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "string"
                          },
                          "enabledPushMessaging": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "hasHardBounced": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "iosAppName": {
                            "type": "string"
                          },
                          "iosAppVersion": {
                            "type": "string"
                          },
                          "iosDevice": {
                            "type": "string"
                          },
                          "iosLastSeenAt": {
                            "type": "string"
                          },
                          "iosOsVersion": {
                            "type": "string"
                          },
                          "iosSdkVersion": {
                            "type": "string"
                          },
                          "languageOverride": {
                            "type": "string"
                          },
                          "lastContactedAt": {
                            "type": "string"
                          },
                          "lastEmailClickedAt": {
                            "type": "string"
                          },
                          "lastEmailOpenedAt": {
                            "type": "string"
                          },
                          "lastRepliedAt": {
                            "type": "string"
                          },
                          "lastSeenAt": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "continentCode": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "markedEmailAsSpam": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          },
                          "optedInSubscriptionTypes": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          },
                          "optedOutSubscriptionTypes": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          },
                          "os": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "signedUpAt": {
                            "type": "string"
                          },
                          "smsConsent": {
                            "type": "boolean"
                          },
                          "socialProfiles": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "unsubscribedFromEmails": {
                            "type": "boolean"
                          },
                          "unsubscribedFromSms": {
                            "type": "boolean"
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "utmCampaign": {
                            "type": "string"
                          },
                          "utmContent": {
                            "type": "string"
                          },
                          "utmMedium": {
                            "type": "string"
                          },
                          "utmSource": {
                            "type": "string"
                          },
                          "utmTerm": {
                            "type": "string"
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/create-conversation": {
      "post": {
        "operationId": "intercom.create-conversation",
        "summary": "Create Conversation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/create-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "from.id",
                  "body"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "from": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "from.id": {
                    "type": "string",
                    "description": "Intercom user contact ID"
                  },
                  "body": {
                    "type": "string",
                    "description": "Conversation message body"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "body": {
                            "type": "string"
                          },
                          "conversationId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "messageType": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/create-ticket": {
      "post": {
        "operationId": "intercom.create-ticket",
        "summary": "Create Ticket",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/create-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ticket_type_id",
                  "contacts[].id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ticket_type_id": {
                    "type": "string",
                    "description": "Intercom ticket type identifier"
                  },
                  "contacts[]": {
                    "type": "array",
                    "items": {}
                  },
                  "contacts[].id": {
                    "type": "string",
                    "description": "Contact ID to associate with the ticket"
                  },
                  "ticket_attributes": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ticket_attributes._default_title_": {
                    "type": "string",
                    "description": "Default ticket title"
                  },
                  "ticket_attributes._default_description_": {
                    "type": "string",
                    "description": "Default ticket description"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adminAssigneeId": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "contacts": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "externalId": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "linkedObjects": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "open": {
                            "type": "boolean"
                          },
                          "teamAssigneeId": {
                            "type": "string"
                          },
                          "ticketAttributes": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "defaultDescription": {
                                "type": "string"
                              },
                              "defaultTitle": {
                                "type": "string"
                              },
                              "platforms": {
                                "type": "string"
                              },
                              "rootCause": {
                                "type": "string"
                              }
                            }
                          },
                          "ticketId": {
                            "type": "string"
                          },
                          "ticketParts": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "ticketParts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "attachments": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "author": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "email": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "createdAt": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "partType": {
                                      "type": "string"
                                    },
                                    "redacted": {
                                      "type": "boolean"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "updatedAt": {
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "totalCount": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "ticketState": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "externalLabel": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "internalLabel": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "ticketType": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "archived": {
                                "type": "boolean"
                              },
                              "category": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isInternal": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "ticketTypeAttributes": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "archived": {
                                          "type": "boolean"
                                        },
                                        "createdAt": {
                                          "type": "number"
                                        },
                                        "dataType": {
                                          "type": "string"
                                        },
                                        "default": {
                                          "type": "boolean"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "inputOptions": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "multiline": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "order": {
                                          "type": "number"
                                        },
                                        "requiredToCreate": {
                                          "type": "boolean"
                                        },
                                        "requiredToCreateForContacts": {
                                          "type": "boolean"
                                        },
                                        "ticketTypeId": {
                                          "type": "number"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "updatedAt": {
                                          "type": "number"
                                        },
                                        "visibleOnCreate": {
                                          "type": "boolean"
                                        },
                                        "visibleToContacts": {
                                          "type": "boolean"
                                        },
                                        "workspaceId": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "number"
                              },
                              "workspaceId": {
                                "type": "string"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/delete-contact": {
      "delete": {
        "operationId": "intercom.delete-contact",
        "summary": "Delete Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/delete-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "description": "Intercom contact identifier",
            "schema": {
              "type": "string",
              "description": "Intercom contact identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/delete-conversation": {
      "delete": {
        "operationId": "intercom.delete-conversation",
        "summary": "Delete Conversation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/delete-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": true,
            "description": "Intercom conversation identifier",
            "schema": {
              "type": "string",
              "description": "Intercom conversation identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/delete-ticket": {
      "delete": {
        "operationId": "intercom.delete-ticket",
        "summary": "Delete Ticket",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intercom/latest/actions/delete-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "query",
            "required": true,
            "description": "Intercom ticket identifier",
            "schema": {
              "type": "string",
              "description": "Intercom ticket identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intercom/latest/actions/get-contact": {
      "get": {
[...]
