{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SE Ranking Data Universal API",
    "version": "0.0.9",
    "description": "Analyze keywords, backlinks, audits, and SEO data at scale."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/seRanking/latest/actions/analyze-keyword-overlap-and-gaps": {
      "get": {
        "operationId": "seRanking.analyze-keyword-overlap-and-gaps",
        "summary": "Analyze keyword overlap and gaps",
        "description": "Analyzes keyword overlap and gaps in SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/analyze-keyword-overlap-and-gaps"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": true,
            "description": "Competitor domain or URL for comparison (for example: example.com).",
            "schema": {
              "type": "string",
              "description": "Competitor domain or URL for comparison (for example: example.com).",
              "example": "example.com"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Primary domain for comparison (for example: seranking.com).",
            "schema": {
              "type": "string",
              "description": "Primary domain for comparison (for example: seranking.com).",
              "example": "seranking.com"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "description": "Regional database code (for example: us).",
            "schema": {
              "type": "string",
              "description": "Regional database code (for example: us).",
              "example": "us"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comparePosition": {
                            "type": "number"
                          },
                          "comparePrice": {
                            "type": "number"
                          },
                          "compareTraffic": {
                            "type": "number"
                          },
                          "compareUrl": {
                            "type": "string"
                          },
                          "competition": {
                            "type": "number"
                          },
                          "cpc": {
                            "type": "number"
                          },
                          "difficulty": {
                            "type": "number"
                          },
                          "keyword": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "totalSites": {
                            "type": "number"
                          },
                          "traffic": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/create-advanced-audit": {
      "post": {
        "operationId": "seRanking.create-advanced-audit",
        "summary": "Create advanced audit",
        "description": "Creates an advanced website audit in SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/create-advanced-audit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "domain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain to audit (for example: seranking.com).",
                    "example": "seranking.com"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/create-standard-audit": {
      "post": {
        "operationId": "seRanking.create-standard-audit",
        "summary": "Create standard audit",
        "description": "Creates a standard website audit in SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/create-standard-audit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "domain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain to audit (for example: seranking.com).",
                    "example": "seranking.com"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/delete-audit": {
      "delete": {
        "operationId": "seRanking.delete-audit",
        "summary": "Delete audit",
        "description": "Deletes an audit from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/delete-audit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auditId",
            "in": "query",
            "required": true,
            "description": "Audit identifier.",
            "schema": {
              "type": "string",
              "description": "Audit identifier.",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "array",
                            "items": {},
                            "description": "The raw response body. The saved successful response was an empty array (HTTP 200)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/discover-brand-by-url": {
      "get": {
        "operationId": "seRanking.discover-brand-by-url",
        "summary": "Discover brand by URL",
        "description": "Discovers a brand by URL in SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/discover-brand-by-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "description": "Analysis scope (for example: base_domain).",
            "schema": {
              "type": "string",
              "description": "Analysis scope (for example: base_domain).",
              "enum": [
                "base_domain",
                "domain",
                "exact_url",
                "path",
                "subdomain"
              ],
              "example": "base_domain"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "description": "Regional source code (for example: us).",
            "schema": {
              "type": "string",
              "description": "Regional source code (for example: us).",
              "example": "us"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL (for example: seranking.com).",
            "schema": {
              "type": "string",
              "description": "Target domain or URL (for example: seranking.com).",
              "example": "seranking.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brands": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Detected brand names for the target."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/export-backlinks-data": {
      "get": {
        "operationId": "seRanking.export-backlinks-data",
        "summary": "Export backlinks data",
        "description": "Exports backlink data from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/export-backlinks-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL to analyze (for example: seranking.com).",
            "schema": {
              "type": "string",
              "description": "Target domain or URL to analyze (for example: seranking.com).",
              "example": "seranking.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "taskId": {
                            "type": "string",
                            "description": "Export task id."
                          },
                          "taskStatus": {
                            "type": "string",
                            "description": "Export task status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/export-keyword-metrics": {
      "get": {
        "operationId": "seRanking.export-keyword-metrics",
        "summary": "Export keyword metrics",
        "description": "Exports keyword metrics from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/export-keyword-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cols",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields to include in the export response.",
            "schema": {
              "type": "string",
              "description": "Comma-separated fields to include in the export response."
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": true,
            "description": "List of keywords to export metrics for.",
            "schema": {
              "type": "string",
              "description": "List of keywords to export metrics for."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Optional sort field (for example: cpc).",
            "schema": {
              "type": "string",
              "description": "Optional sort field (for example: cpc).",
              "enum": [
                "competition",
                "cpc",
                "difficulty",
                "volume"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Optional sort order (asc or desc).",
            "schema": {
              "type": "string",
              "description": "Optional sort order (asc or desc).",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "description": "Regional database code (for example: us).",
            "schema": {
              "type": "string",
              "description": "Regional database code (for example: us)."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "competition": {
                            "type": "number"
                          },
                          "cpc": {
                            "type": "number"
                          },
                          "difficulty": {
                            "type": "number"
                          },
                          "isDataFound": {
                            "type": "boolean"
                          },
                          "keyword": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/fetch-backlinks-in-batches": {
      "get": {
        "operationId": "seRanking.fetch-backlinks-in-batches",
        "summary": "Fetch backlinks in batches",
        "description": "Retrieves backlinks in batches from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/fetch-backlinks-in-batches"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL to analyze (for example: seranking.com).",
            "schema": {
              "type": "string",
              "description": "Target domain or URL to analyze (for example: seranking.com).",
              "example": "seranking.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backlinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "alt": {
                                  "type": "string"
                                },
                                "anchor": {
                                  "type": "string"
                                },
                                "domainInlinkRank": {
                                  "type": "number"
                                },
                                "firstSeen": {
                                  "type": "string"
                                },
                                "image": {
                                  "type": "boolean"
                                },
                                "imageSource": {
                                  "type": "string"
                                },
                                "inlinkRank": {
                                  "type": "number"
                                },
                                "lastVisited": {
                                  "type": "string"
                                },
                                "nofollow": {
                                  "type": "boolean"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "urlFrom": {
                                  "type": "string"
                                },
                                "urlTo": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "Backlink rows for current batch."
                          },
                          "next": {
                            "type": "string",
                            "description": "Pagination cursor/token for next batch."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/get-ai-search-leaderboard": {
      "get": {
        "operationId": "seRanking.get-ai-search-leaderboard",
        "summary": "Get AI search leaderboard",
        "description": "Retrieves the AI search leaderboard from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/get-ai-search-leaderboard"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "competitors",
            "in": "query",
            "required": true,
            "description": "Competitor objects array with target and optional brand.",
            "schema": {
              "type": "string",
              "description": "Competitor objects array with target and optional brand.",
              "example": "[object Object]"
            }
          },
          {
            "name": "engines",
            "in": "query",
            "required": true,
            "description": "One or more engines (for example: chatgpt, ai_overview).",
            "schema": {
              "type": "string",
              "description": "One or more engines (for example: chatgpt, ai_overview).",
              "enum": [
                "ai_overview",
                "chatgpt"
              ],
              "example": "chatgpt,ai_overview"
            }
          },
          {
            "name": "primaryBrand",
            "in": "query",
            "required": false,
            "description": "Optional primary brand label.",
            "schema": {
              "type": "string",
              "description": "Optional primary brand label.",
              "example": "SE Ranking"
            }
          },
          {
            "name": "primaryTarget",
            "in": "query",
            "required": true,
            "description": "Primary target domain/URL.",
            "schema": {
              "type": "string",
              "description": "Primary target domain/URL.",
              "example": "seranking.com"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "description": "Scope value (for example: domain).",
            "schema": {
              "type": "string",
              "description": "Scope value (for example: domain).",
              "enum": [
                "base_domain",
                "domain",
                "exact_url",
                "path",
                "subdomain"
              ],
              "example": "domain"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "description": "Regional source code (for example: us).",
            "schema": {
              "type": "string",
              "description": "Regional source code (for example: us).",
              "example": "us"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "leaderboard": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "brandPresence": {
                                  "type": "number"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "isPrimaryTarget": {
                                  "type": "boolean"
                                },
                                "linkPresence": {
                                  "type": "number"
                                },
                                "rank": {
                                  "type": "number"
                                },
                                "shareOfVoice": {
                                  "type": "number"
                                }
                              }
                            },
                            "description": "Ranked leaderboard rows for compared domains."
                          },
                          "requestMetadata": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Echoed request metadata used by leaderboard calculation.",
                            "properties": {
                              "competitors": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "engines": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "primary": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              }
                            }
                          },
                          "results": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Per-domain per-engine breakdown of brand/link presence.",
                            "properties": {
                              "semrush": {
                                "type": "object",
                                "properties": {
                                  "com": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "chatgpt": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "brandPresence": {
                                            "type": "number"
                                          },
                                          "linkPresence": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "seranking": {
                                "type": "object",
                                "properties": {
                                  "com": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "chatgpt": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "brandPresence": {
                                            "type": "number"
                                          },
                                          "linkPresence": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/get-ai-search-overview": {
      "get": {
        "operationId": "seRanking.get-ai-search-overview",
        "summary": "Get AI search overview",
        "description": "Retrieves AI search overview data from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/get-ai-search-overview"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format."
            }
          },
          {
            "name": "engine",
            "in": "query",
            "required": true,
            "description": "Engine identifier (for example: chatgpt).",
            "schema": {
              "type": "string",
              "description": "Engine identifier (for example: chatgpt).",
              "enum": [
                "ai_overview",
                "chatgpt"
              ],
              "example": "chatgpt"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "description": "Analysis scope: domain, base_domain, subdomain, exact_url, or path.",
            "schema": {
              "type": "string",
              "description": "Analysis scope: domain, base_domain, subdomain, exact_url, or path.",
              "enum": [
                "base_domain",
                "domain",
                "exact_url",
                "path",
                "subdomain"
              ],
              "example": "base_domain"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "description": "Regional source code (for example: us).",
            "schema": {
              "type": "string",
              "description": "Regional source code (for example: us).",
              "example": "us"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format."
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Target domain or URL (for example: seranking.com).",
            "schema": {
              "type": "string",
              "description": "Target domain or URL (for example: seranking.com).",
              "example": "seranking.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Aggregate AI visibility metrics for the selected target and engine.",
                            "properties": {
                              "aiOpportunityTraffic": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "changeAbsolute": {
                                    "type": "number"
                                  },
                                  "changePercent": {
                                    "type": "number"
                                  },
                                  "current": {
                                    "type": "number"
                                  }
                                }
                              },
                              "averagePosition": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "current": {
                                    "type": "number"
                                  }
                                }
                              },
                              "brandPresence": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "changeAbsolute": {
                                    "type": "number"
                                  },
                                  "changePercent": {
                                    "type": "number"
                                  },
                                  "current": {
                                    "type": "number"
                                  }
                                }
                              },
                              "linkPresence": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "changeAbsolute": {
                                    "type": "number"
                                  },
                                  "changePercent": {
                                    "type": "number"
                                  },
                                  "current": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          },
                          "timeSeries": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Time-series metric collections keyed by metric name.",
                            "properties": {
                              "aiTraffic": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "averagePosition": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "linkPresence": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "organicTraffic": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "overallTraffic": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/get-all-crawled-pages": {
      "get": {
        "operationId": "seRanking.get-all-crawled-pages",
        "summary": "Get all crawled pages",
        "description": "Retrieves all crawled pages from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/get-all-crawled-pages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auditId",
            "in": "query",
            "required": true,
            "description": "Audit identifier.",
            "schema": {
              "type": "string",
              "description": "Audit identifier.",
              "example": "1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "amp": {
                                  "type": "string"
                                },
                                "blockedRobots": {
                                  "type": "string"
                                },
                                "canonicalUrl": {
                                  "type": "string"
                                },
                                "chars": {
                                  "type": "string"
                                },
                                "contentHash": {
                                  "type": "string"
                                },
                                "cssSize": {
                                  "type": "string"
                                },
                                "depth": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "descriptionDuplicate": {
                                  "type": "string"
                                },
                                "descriptionLen": {
                                  "type": "string"
                                },
                                "errors": {
                                  "type": "string"
                                },
                                "firstMs": {
                                  "type": "string"
                                },
                                "h1": {
                                  "type": "string"
                                },
                                "h1Duplicate": {
                                  "type": "string"
                                },
                                "h1Len": {
                                  "type": "string"
                                },
                                "h2": {
                                  "type": "string"
                                },
                                "h2Len": {
                                  "type": "string"
                                },
                                "h3Count": {
                                  "type": "string"
                                },
                                "h4Count": {
                                  "type": "string"
                                },
                                "h5Count": {
                                  "type": "string"
                                },
                                "h6Count": {
                                  "type": "string"
                                },
                                "hreflang": {
                                  "type": "string"
                                },
                                "hreflangLink": {
                                  "type": "string"
                                },
                                "htmlRatio": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "img": {
                                  "type": "string"
                                },
                                "imgSize": {
                                  "type": "string"
                                },
                                "indexable": {
                                  "type": "string"
                                },
                                "indexableStatus": {
                                  "type": "string"
                                },
                                "inlinks": {
                                  "type": "string"
                                },
                                "inlinksFollow": {
                                  "type": "string"
                                },
                                "inlinksNofollow": {
                                  "type": "string"
                                },
                                "issues": {
                                  "type": "string"
                                },
                                "jsSize": {
                                  "type": "string"
                                },
                                "loadMs": {
                                  "type": "string"
                                },
                                "metaRefresh": {
                                  "type": "string"
                                },
                                "nofollow": {
                                  "type": "string"
                                },
                                "noindex": {
                                  "type": "string"
                                },
                                "notices": {
                                  "type": "string"
                                },
                                "numKeywords": {
                                  "type": "string"
                                },
                                "outlinksExternal": {
                                  "type": "string"
                                },
                                "outlinksInternal": {
                                  "type": "string"
                                },
                                "redirectCount": {
                                  "type": "string"
                                },
                                "redirectLinks": {
                                  "type": "string"
                                },
                                "refpages": {
                                  "type": "string"
                                },
                                "robots": {
                                  "type": "string"
                                },
                                "singleH1": {
                                  "type": "string"
                                },
                                "singleH2": {
                                  "type": "string"
                                },
                                "sitemap": {
                                  "type": "string"
                                },
                                "size": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "timeCheck": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "titleDuplicate": {
                                  "type": "string"
                                },
                                "titleLen": {
                                  "type": "string"
                                },
                                "totalLinks": {
                                  "type": "string"
                                },
                                "trafficForecast": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "urlLen": {
                                  "type": "string"
                                },
                                "urlProtocol": {
                                  "type": "string"
                                },
                                "warnings": {
                                  "type": "string"
                                },
                                "wordsCount": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/seRanking/latest/actions/get-all-found-links": {
      "get": {
        "operationId": "seRanking.get-all-found-links",
        "summary": "Get all found links",
        "description": "Retrieves all found links from SE Ranking Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/seRanking/latest/actions/get-all-found-links"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auditId",
            "in": "query",
            "required": true,
            "description": "Audit identifier.",
            "schema": {
              "type": "string",
              "description": "Audit identifier.",
              "example": "1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "alt": {
                                  "type": "string"
                                },
                                "anchorType": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "nofollow": {
                                  "type": "string"
                                },
                                "sourceNoindex": {
                                  "type": "string"
                                },
                                "sourceUrl": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "type": {
[...]
