{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SignalWire Universal API",
    "version": "0.0.6",
    "description": "Manage SignalWire calling, datasphere, fabric, fax, messaging, and voice resources from your SignalWire space."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/signalWire/latest/actions/assign-a-resource-as-a-call-handler-for-a-domain-application": {
      "put": {
        "operationId": "signalWire.assign-a-resource-as-a-call-handler-for-a-domain-application",
        "summary": "Assign a resource as a call handler for a Domain Application.",
        "description": "Assigns a resource as a call handler for a domain application in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/assign-a-resource-as-a-call-handler-for-a-domain-application"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "domainApplicationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The unique identifier of the Resource."
                  },
                  "domainApplicationId": {
                    "type": "string",
                    "description": "The id of the domain application you wish to assign a resource to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channels": {
                            "type": "object",
                            "properties": {
                              "audio": {
                                "type": "string",
                                "description": "Audio Channel of Fabric Address"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cover_url": {
                            "type": "string",
                            "description": "Cover url of the Fabric Address."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fabric Address Creation Date."
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Display name of the Fabric Address."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique ID of the Fabric Address."
                          },
                          "locked": {
                            "type": "boolean",
                            "description": "Locks the Fabric Address. This is used to prevent the Fabric Address from accepting calls."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the Fabric Address."
                          },
                          "preview_url": {
                            "type": "string",
                            "description": "Preview url of the Fabric Address."
                          },
                          "type": {
                            "type": "string",
                            "description": "The display type of a fabric address pointing to an application."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signalWire/latest/actions/assign-a-resource-to-a-phone-route": {
      "put": {
        "operationId": "signalWire.assign-a-resource-to-a-phone-route",
        "summary": "Assign a Resource to a Phone Route",
        "description": "Assigns a resource to a phone route in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/assign-a-resource-to-a-phone-route"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "phoneRouteId",
                  "handler"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The unique identifier of the Resource."
                  },
                  "phoneRouteId": {
                    "type": "string",
                    "description": "The id of the phone route."
                  },
                  "handler": {
                    "type": "string",
                    "description": "Indicates if the resource should be assigned to a `calling` or `messaging` handler."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channels": {
                            "type": "object",
                            "properties": {
                              "audio": {
                                "type": "string",
                                "description": "Audio Channel of Fabric Address"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cover_url": {
                            "type": "string",
                            "description": "Cover url of the Fabric Address."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Fabric Address Creation Date."
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Display name of the Fabric Address."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique ID of the Fabric Address."
                          },
                          "locked": {
                            "type": "boolean",
                            "description": "Locks the Fabric Address. This is used to prevent the Fabric Address from accepting calls."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the Fabric Address."
                          },
                          "preview_url": {
                            "type": "string",
                            "description": "Preview url of the Fabric Address."
                          },
                          "type": {
                            "type": "string",
                            "description": "The display type of a fabric address pointing to an application."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signalWire/latest/actions/assign-a-resource-to-a-sip-endpoint": {
      "put": {
        "operationId": "signalWire.assign-a-resource-to-a-sip-endpoint",
        "summary": "Assign a Resource to a SIP endpoint",
        "description": "Assigns a resource to a SIP endpoint in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/assign-a-resource-to-a-sip-endpoint"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "sipEndpointId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The unique identifier of the Resource."
                  },
                  "sipEndpointId": {
                    "type": "string",
                    "description": "The unique identifier of the SIP endpoint."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channels": {
                            "type": "object",
                            "properties": {
                              "audio": {
                                "type": "string",
                                "description": "Audio Channel of Fabric Address"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cover_url": {
                            "type": "string",
                            "description": "The cover URL for the SIP endpoint."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the SIP endpoint."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name for the SIP endpoint."
                          },
                          "preview_url": {
                            "type": "string",
                            "description": "The preview URL for the SIP endpoint."
                          },
                          "type": {
                            "type": "string",
                            "description": "The Resource type"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signalWire/latest/actions/create-a-document": {
      "post": {
        "operationId": "signalWire.create-a-document",
        "summary": "Create a Document",
        "description": "Creates a new document in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/create-a-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "maxSentencesPerChunk": {
                    "type": "number",
                    "description": "Maximum number of sentences per chunk."
                  },
                  "chunkingStrategy": {
                    "type": "string",
                    "description": "Strategy for chunking the document"
                  },
                  "splitNewlines": {
                    "type": "boolean",
                    "description": "Whether to split chunks on new lines.\n\n\n \n**Default value:** `false`"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the document."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Document tags."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chunk_size": {
                            "type": "string",
                            "description": "Chunk Size (only used for chunking type 'sliding')"
                          },
                          "chunking_strategy": {
                            "type": "string",
                            "description": "Strategy used to chunk the document."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Document Creation Date."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Name of the Document."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique ID of the Document."
                          },
                          "max_sentences_per_chunk": {
                            "type": "string",
                            "description": "Max Sentences per Chunk (only used for chunking type 'sentence')"
                          },
                          "number_of_chunks": {
                            "type": "number",
                            "description": "Number of Chunks in the Document."
                          },
                          "overlap_size": {
                            "type": "string",
                            "description": "Overlap Size (only used for chunking type 'sliding')"
                          },
                          "split_newlines": {
                            "type": "boolean",
                            "description": "Split on Newlines (only used for chunking type 'sentence')"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the Document."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Document tags."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Document Update Date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signalWire/latest/actions/create-ai-agent": {
      "post": {
        "operationId": "signalWire.create-ai-agent",
        "summary": "Create AI Agent",
        "description": "Creates a new AI agent in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/create-ai-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "agentId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "agentId": {
                    "type": "string",
                    "description": "Unique ID of an AI Agent."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the AI Agent."
                  },
                  "prompt.text": {
                    "type": "string",
                    "description": "The instructions to send to the agent."
                  },
                  "prompt.temperature": {
                    "type": "number",
                    "description": "Randomness setting. Float value between 0.0 and 1.5. Closer to 0 will make the output less random."
                  },
                  "prompt.topP": {
                    "type": "number",
                    "description": "Randomness setting. Alternative to `temperature`. Float value between 0.0 and 1.0. Closer to 0 will make the output less random."
                  },
                  "prompt.confidence": {
                    "type": "number",
                    "description": "Threshold to fire a speech-detect event at the end of the utterance. Float value between 0.0 and 1.0.\nDecreasing this value will reduce the pause after the user speaks, but may introduce false positives."
                  },
                  "prompt.presencePenalty": {
                    "type": "number",
                    "description": "Aversion to staying on topic. Float value between -2.0 and 2.0. Positive values increase the model's likelihood to talk about new topics."
                  },
                  "prompt.frequencyPenalty": {
                    "type": "number",
                    "description": "Aversion to repeating lines. Float value between -2.0 and 2.0. Positive values decrease the model's likelihood to repeat the same line verbatim."
                  },
                  "prompt.contexts.default.steps[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of objects that define the steps in the context. These steps are used to define the flow of the conversation."
                  },
                  "postPrompt.text": {
                    "type": "string",
                    "description": "The instructions to send to the agent."
                  },
                  "postPrompt.temperature": {
                    "type": "number",
                    "description": "Randomness setting. Float value between 0.0 and 1.5. Closer to 0 will make the output less random."
                  },
                  "postPrompt.topP": {
                    "type": "number",
                    "description": "Randomness setting. Alternative to `temperature`. Float value between 0.0 and 1.0. Closer to 0 will make the output less random."
                  },
                  "postPrompt.confidence": {
                    "type": "number",
                    "description": "Threshold to fire a speech-detect event at the end of the utterance. Float value between 0.0 and 1.0.\nDecreasing this value will reduce the pause after the user speaks, but may introduce false positives."
                  },
                  "postPrompt.presencePenalty": {
                    "type": "number",
                    "description": "Aversion to staying on topic. Float value between -2.0 and 2.0. Positive values increase the model's likelihood to talk about new topics."
                  },
                  "postPrompt.frequencyPenalty": {
                    "type": "number",
                    "description": "Aversion to repeating lines. Float value between -2.0 and 2.0. Positive values decrease the model's likelihood to repeat the same line verbatim."
                  },
                  "params.acknowledgeInterruptions": {
                    "type": "boolean",
                    "description": "Instructs the agent to acknowledge crosstalk and confirm user input when the user speaks over the agent."
                  },
                  "params.aiName": {
                    "type": "string",
                    "description": "Sets the name the AI agent responds to for wake/activation purposes. When using `enable_pause`, `start_paused`, or `speak_when_spoken_to`, the user must say this name to get the agent's attention."
                  },
                  "params.aiVolume": {
                    "type": "number",
                    "description": "Adjust the volume of the AI. Allowed values from `-50` - `50`."
                  },
                  "params.appName": {
                    "type": "string",
                    "description": "A custom identifier for the AI application instance. This name is included in webhook payloads."
                  },
                  "params.attentionTimeout": {
                    "type": "number",
                    "description": "Amount of time, in ms, to wait before prompting the user to respond. Allowed values from `10,000` - `600,000`. Set to `0` to disable."
                  },
                  "params.attentionTimeoutPrompt": {
                    "type": "string",
                    "description": "A custom prompt that is fed into the AI when the attention_timeout is reached."
                  },
                  "params.backgroundFile": {
                    "type": "string",
                    "description": "URL of audio file to play in the background while AI plays in foreground."
                  },
                  "params.backgroundFileLoops": {
                    "type": "number",
                    "description": "Maximum number of times to loop playing the background file. `undefined` means loop indefinitely."
                  },
                  "params.backgroundFileVolume": {
                    "type": "number",
                    "description": "Defines background_file volume within a range of `-50` to `50`."
                  },
                  "params.bargeMatchString": {
                    "type": "string",
                    "description": "Takes a string, including a regular expression, defining barge behavior.\nFor example, this param can direct the AI to stop when the word 'hippopotomus' is input."
                  },
                  "params.bargeMinWords": {
                    "type": "number",
                    "description": "Defines the number of words that must be input before triggering barge behavior, in a range of `1-99`."
                  },
                  "params.conscience": {
                    "type": "string",
                    "description": "Sets the prompt which binds the agent to its purpose."
                  },
                  "params.convo[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Injects pre-existing conversation history into the AI session at startup. This allows you to seed the AI agent with context from a previous conversation or provide example interactions."
                  },
                  "params.conversationId": {
                    "type": "string",
                    "description": "Used by `check_for_input` and `save_conversation` to identify an individual conversation."
                  },
                  "params.debugWebhookLevel": {
                    "type": "number",
                    "description": "Enables debugging to the set URL. Allowed values from `0` - `1`."
                  },
                  "params.debugWebhookUrl": {
                    "type": "string",
                    "description": "Each interaction between the AI and end user is posted in real time to the established URL."
                  },
                  "params.debug": {
                    "type": "boolean",
                    "description": "Enables debug mode for the AI session."
                  },
                  "params.direction[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Forces the direction of the call to the assistant. Valid values are `inbound` and `outbound`."
                  },
                  "params.digitTermiantors": {
                    "type": "string",
                    "description": "DTMF digit, as a string, to signal the end of input (ex: '#')"
                  },
                  "params.digitTimeout": {
                    "type": "number",
                    "description": "Time, in ms, at the end of digit input to detect end of input. Allowed values from `250` - `10,000`."
                  },
                  "params.endOfSpeechTimeout": {
                    "type": "number",
                    "description": "Amount of silence, in ms, at the end of an utterance to detect end of speech. Allowed values from `250` - `10,000`."
                  },
                  "params.enableInnerDialog": {
                    "type": "boolean",
                    "description": "Enables the inner dialog feature for background conversation analysis."
                  },
                  "params.enablePause": {
                    "type": "boolean",
                    "description": "Enables the pause/resume functionality for the AI agent."
                  },
                  "params.enableTurnDetection": {
                    "type": "boolean",
                    "description": "Enables intelligent turn detection that monitors partial speech transcripts."
                  },
                  "params.elevenLabsStability": {
                    "type": "number",
                    "description": "The stability slider determines how stable the voice is and the randomness between each generation. Lowering this slider introduces a broader emotional range for the voice."
                  },
                  "params.elevenLabsSimilarity": {
                    "type": "number",
                    "description": "The similarity slider dictates how closely the AI should adhere to the original voice when attempting to replicate it. The higher the similarity, the closer the AI will sound to the original voice."
                  },
                  "params.energyLevel": {
                    "type": "number",
                    "description": "Amount of energy necessary for bot to hear you (in dB). Allowed values from `0.0` - `100.0`."
                  },
                  "params.holdMusic": {
                    "type": "string",
                    "description": "A URL for the hold music to play, accepting WAV, mp3, and FreeSWITCH tone_stream."
                  },
                  "params.holdOnProcess": {
                    "type": "boolean",
                    "description": "Enables hold music during SWAIG processing."
                  },
                  "params.inactivityTimeout": {
                    "type": "number",
                    "description": "Amount of time, in ms, to wait before exiting the app due to inactivity. Allowed values from `10,000` - `3,600,000`."
                  },
                  "params.innerDialogModel": {
                    "type": "string",
                    "description": "Specifies the AI model to use for the inner dialog feature."
                  },
                  "params.innerDialogPrompt": {
                    "type": "string",
                    "description": "The system prompt that guides the inner dialog AI's behavior."
                  },
                  "params.innerDialogSynced": {
                    "type": "boolean",
                    "description": "When enabled, synchronizes the inner dialog with the main conversation flow."
                  },
                  "params.inputPollFreq": {
                    "type": "string",
                    "description": "Check for input function with check_for_input.\nExample use case: Feeding an inbound SMS to AI on a voice call, eg., for collecting an email address or other complex information."
                  },
                  "params.interruptOnNoise": {
                    "type": "boolean",
                    "description": "When enabled, barges agent upon any sound interruption longer than 1 second."
                  },
                  "params.interruptPrompt": {
                    "type": "string",
                    "description": "Provide a prompt for the agent to handle crosstalk."
                  },
                  "params.languagesEnabled": {
                    "type": "boolean",
                    "description": "Allows multilingualism when `true`."
                  },
                  "params.localTz": {
                    "type": "string",
                    "description": "The local timezone setting for the AI. Value should use `IANA TZ ID`"
                  },
                  "params.maxResponseTokens": {
                    "type": "number",
                    "description": "Sets the maximum number of tokens the AI model can generate in a single response."
                  },
                  "params.outboundAttentionTimeout": {
                    "type": "number",
                    "description": "Sets a time duration for the outbound call recipient to respond to the AI agent before timeout, in a range from `10000` to `600000`."
                  },
                  "params.persistGlobalData": {
                    "type": "boolean",
                    "description": "When enabled, global_data persists across multiple AI agent invocations within the same call."
                  },
                  "params.pomFormat": {
                    "type": "string",
                    "description": "Specifies the output format for structured prompts. Valid values are `markdown` or `xml`."
                  },
                  "params.saveConversation": {
                    "type": "boolean",
                    "description": "Send a summary of the conversation after the call ends.\nThis requires a `post_url` to be set in the ai parameters and the `conversation_id` defined below.\nThis eliminates the need for a `post_prompt` in the ai parameters."
                  },
                  "params.speakWhenSpokenTo": {
                    "type": "boolean",
                    "description": "When enabled, the AI agent remains silent until directly addressed by name."
                  },
                  "params.startPaused": {
                    "type": "boolean",
                    "description": "When enabled, the AI agent starts in a paused state."
                  },
                  "params.swaigAllowSettings": {
                    "type": "boolean",
                    "description": "Allows tweaking any of the indicated settings, such as `barge_match_string`, using the returned SWML from the SWAIG function."
                  },
                  "params.swaigAllowSwml": {
                    "type": "boolean",
                    "description": "Allows your SWAIG to return SWML to be executed."
                  },
                  "params.swaigPostConversation": {
                    "type": "boolean",
                    "description": "Post entire conversation to any SWAIG call."
                  },
                  "params.swaigPostSwmlVars": {
                    "type": "boolean",
                    "description": "Controls whether SWML variables are included in SWAIG function webhook payloads."
                  },
                  "params.transferSummary": {
                    "type": "boolean",
                    "description": "Pass a summary of a conversation from one AI agent to another. For example, transfer a call summary between support agents in two departments."
                  },
                  "params.turnDetectionTimeout": {
                    "type": "number",
                    "description": "Time in milliseconds to wait after detecting a potential end-of-turn before finalizing speech recognition."
                  },
                  "params.vadConfig": {
                    "type": "string",
                    "description": "Configures Silero Voice Activity Detection (VAD) settings. Format: `threshold` or `threshold:frame_ms`. The threshold (0-100) sets sensitivity for detecting voice activity. The optional frame_ms (16-40) sets frame duration in milliseconds."
                  },
                  "params.verboseLogs": {
                    "type": "boolean",
                    "description": "Enable verbose logging."
                  },
                  "params.waitForUser": {
                    "type": "boolean",
                    "description": "When false, AI agent will initialize dialogue after call is setup. When true, agent will wait for the user to speak first."
                  },
                  "params.wakePrefix": {
                    "type": "string",
                    "description": "Specifies an additional prefix that must be spoken along with the agent's name to wake the agent."
                  },
                  "pronounce[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of JSON objects to clarify the AI's pronunciation of words or expressions."
                  },
                  "hints[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of hints (as strings) to provide context to the dialogue."
                  },
                  "languages[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of JSON objects defining supported languages in the conversation."
                  },
                  "swaig.defaults.webHookUrl": {
                    "type": "string",
                    "description": "Default URL to send status callbacks and reports to. Authentication can also be set in the url in the format of `username:password@url.`"
                  },
                  "swaig.nativeFunctions[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Prebuilt functions the AI agent is able to call from this list of available native functions"
                  },
                  "swaig.includes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of objects to include remote function signatures.\nThe object fields are url to specify where the remote functions are defined and functions which is an array of the function names as strings."
                  },
                  "swaig.functions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "An array of JSON objects to define functions that can be executed during the interaction with the AI. Default is not set.\nThe fields of this object are the six following."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ai_agent": {
                            "type": "object",
                            "properties": {
                              "agent_id": {
                                "type": "string",
                                "description": "Unique ID of an AI Agent."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the AI Agent."
                              },
                              "params": {
                                "type": "object",
                                "properties": {
                                  "acknowledge_interruptions": {
                                    "type": "boolean",
                                    "description": "Instructs the agent to acknowledge crosstalk and confirm user input when the user speaks over the agent."
                                  },
                                  "ai_name": {
                                    "type": "string",
                                    "description": "Sets the name the AI agent responds to for wake/activation purposes. When using `enable_pause`, `start_paused`, or `speak_when_spoken_to`, the user must say this name to get the agent's attention."
                                  },
                                  "ai_volume": {
                                    "type": "number",
                                    "description": "Adjust the volume of the AI. Allowed values from `-50` - `50`."
                                  },
                                  "app_name": {
                                    "type": "string",
                                    "description": "A custom identifier for the AI application instance. This name is included in webhook payloads."
                                  },
                                  "attention_timeout": {
                                    "type": "number",
                                    "description": "Amount of time, in ms, to wait before prompting the user to respond. Allowed values from `10,000` - `600,000`. Set to `0` to disable."
                                  },
                                  "attention_timeout_prompt": {
                                    "type": "string",
                                    "description": "A custom prompt that is fed into the AI when the attention_timeout is reached."
                                  },
                                  "background_file": {
                                    "type": "string",
                                    "description": "URL of audio file to play in the background while AI plays in foreground."
                                  },
                                  "background_file_loops": {
                                    "type": "number",
                                    "description": "Maximum number of times to loop playing the background file. `undefined` means loop indefinitely."
                                  },
                                  "background_file_volume": {
                                    "type": "number",
                                    "description": "Defines background_file volume within a range of `-50` to `50`."
                                  },
                                  "barge_match_string": {
                                    "type": "string",
                                    "description": "Takes a string, including a regular expression, defining barge behavior.\nFor example, this param can direct the AI to stop when the word 'hippopotomus' is input."
                                  },
                                  "barge_min_words": {
                                    "type": "number",
                                    "description": "Defines the number of words that must be input before triggering barge behavior, in a range of `1-99`."
                                  },
                                  "conscience": {
                                    "type": "string",
                                    "description": "Sets the prompt which binds the agent to its purpose."
                                  },
                                  "conversation_id": {
                                    "type": "string",
                                    "description": "Used by `check_for_input` and `save_conversation` to identify an individual conversation."
                                  },
                                  "convo": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Injects pre-existing conversation history into the AI session at startup. This allows you to seed the AI agent with context from a previous conversation or provide example interactions."
                                  },
                                  "debug": {
                                    "type": "boolean",
                                    "description": "Enables debug mode for the AI session."
                                  },
                                  "debug_webhook_level": {
                                    "type": "number",
                                    "description": "Enables debugging to the set URL. Allowed values from `0` - `1`."
                                  },
                                  "debug_webhook_url": {
                                    "type": "string",
                                    "description": "Each interaction between the AI and end user is posted in real time to the established URL."
                                  },
                                  "digit_termiantors": {
                                    "type": "string",
                                    "description": "DTMF digit, as a string, to signal the end of input (ex: '#')"
                                  },
                                  "direction": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Forces the direction of the call to the assistant. Valid values are `inbound` and `outbound`."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "post_prompt": {
                                "type": "object",
                                "properties": {
                                  "confidence": {
                                    "type": "number",
                                    "description": "Threshold to fire a speech-detect event at the end of the utterance. Float value between 0.0 and 1.0.\nDecreasing this value will reduce the pause after the user speaks, but may introduce false positives."
                                  },
                                  "frequency_penalty": {
                                    "type": "number",
                                    "description": "Aversion to repeating lines. Float value between -2.0 and 2.0. Positive values decrease the model's likelihood to repeat the same line verbatim."
                                  },
                                  "presence_penalty": {
                                    "type": "number",
                                    "description": "Aversion to staying on topic. Float value between -2.0 and 2.0. Positive values increase the model's likelihood to talk about new topics."
                                  },
                                  "temperature": {
                                    "type": "number",
                                    "description": "Randomness setting. Float value between 0.0 and 1.5. Closer to 0 will make the output less random."
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "The instructions to send to the agent."
                                  },
                                  "top_p": {
                                    "type": "number",
                                    "description": "Randomness setting. Alternative to `temperature`. Float value between 0.0 and 1.0. Closer to 0 will make the output less random."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "prompt": {
                                "type": "object",
                                "properties": {
                                  "confidence": {
                                    "type": "number",
                                    "description": "Threshold to fire a speech-detect event at the end of the utterance. Float value between 0.0 and 1.0.\nDecreasing this value will reduce the pause after the user speaks, but may introduce false positives."
                                  },
                                  "contexts": {
                                    "type": "object",
                                    "properties": {
                                      "default": {
                                        "type": "object",
                                        "properties": {
                                          "steps": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "additionalProperties": true
                                            },
                                            "description": "An array of objects that define the steps in the context. These steps are used to define the flow of the conversation."
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "frequency_penalty": {
                                    "type": "number",
                                    "description": "Aversion to repeating lines. Float value between -2.0 and 2.0. Positive values decrease the model's likelihood to repeat the same line verbatim."
                                  },
                                  "presence_penalty": {
                                    "type": "number",
                                    "description": "Aversion to staying on topic. Float value between -2.0 and 2.0. Positive values increase the model's likelihood to talk about new topics."
                                  },
                                  "temperature": {
                                    "type": "number",
                                    "description": "Randomness setting. Float value between 0.0 and 1.5. Closer to 0 will make the output less random."
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "The instructions to send to the agent."
                                  },
                                  "top_p": {
                                    "type": "number",
                                    "description": "Randomness setting. Alternative to `temperature`. Float value between 0.0 and 1.0. Closer to 0 will make the output less random."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the resource was created."
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Display name of the AIAgent Fabric Resource"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique ID of the AIAgent."
                          },
                          "project_id": {
                            "type": "string",
                            "description": "Unique ID of the Project."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the Fabric Resource"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the resource was updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signalWire/latest/actions/create-call-flow": {
      "post": {
        "operationId": "signalWire.create-call-flow",
        "summary": "Create Call Flow",
        "description": "Creates a new call flow in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/create-call-flow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "The name of the Call Flow"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "call_flow": {
                            "type": "object",
                            "properties": {
                              "document_version": {
                                "type": "number",
                                "description": "The current revision of the call flow. Every update must increase this number."
                              },
                              "flow_data": {
                                "type": "string",
                                "description": "Call flow data as JSON string"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique ID of a Call Flow."
                              },
                              "relayml": {
                                "type": "string",
                                "description": "A SWML document. For more information on SWML, please go to the [SWML docs](/swml)"
                              },
                              "title": {
                                "type": "string",
                                "description": "The name of the Call Flow"
                              }
                            },
                            "additionalProperties": false
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the resource was created."
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Display name of the Call Flow Fabric Resource"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique ID of the Call Flow."
                          },
                          "project_id": {
                            "type": "string",
                            "description": "Unique ID of the Project."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the Fabric Resource"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the resource was updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signalWire/latest/actions/create-chat-token": {
      "post": {
        "operationId": "signalWire.create-chat-token",
        "summary": "Create Chat Token",
        "description": "Creates a new chat token in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/create-chat-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ttl",
                  "channels"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ttl": {
                    "type": "number",
                    "description": "The maximum time, in minutes, that the access token will be valid for. Between 1 and 43,200 (30 days)."
                  },
                  "channels": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "User-defined channel names. Each channel is a object with `read` and `write` properties.\nMax of 500 channels inside main `channels`. Either `read`, `write`, or both are required inside each channel and default to `false`.\nEach channel name can be up to 250 characters. Must be valid JSON."
                  },
                  "memberId": {
                    "type": "string",
                    "description": "The unique identifier of the member. Up to 250 characters. If not specified, a random UUID will be generated."
                  },
                  "state": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An arbitrary JSON object available to store stateful application information in. Must be valid JSON and have a maximum size of 2,000 characters."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "description": "The generated Chat Token."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signalWire/latest/actions/create-conference-room": {
      "post": {
        "operationId": "signalWire.create-conference-room",
        "summary": "Create Conference Room",
        "description": "Creates a new conference room in SignalWire.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signalWire/latest/actions/create-conference-room"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "enableRoomPreviews"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Conference Room"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Display name of the Conference Room"
                  },
                  "description": {
                    "type": "string",
                    "description": "The descrption of the Conference Room"
                  },
                  "joinFrom": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time users are allowed to start joining the conference. Joining before this time will result in failure to join the conference."
                  },
                  "joinUntil": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time users are allowed to until the conference is locked. Attempting to join the conference after the set time will result in failure to join the conference."
                  },
                  "maxMembers": {
                    "type": "number",
                    "description": "Maximum number of members allowed in the conference room"
                  },
                  "quality": {
                    "type": "string",
                    "description": "The viudeo quality of the Conference Room."
                  },
                  "removeAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time to remove all participants from the conference."
                  },
                  "removeAfterSecondsElapsed": {
                    "type": "number",
                    "description": "The amount of time in seconds to remove a particpant from a conference after they join."
                  },
                  "layout": {
                    "type": "string",
                    "description": "The video layout of the conference."
                  },
                  "recordOnStart": {
                    "type": "boolean",
                    "description": "Starts recording when the conference starts."
                  },
                  "enableRoomPreviews": {
                    "type": "boolean",
                    "description": "Enables live video room previews for the conference."
                  },
                  "meta": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadata of the conference."
                  },
                  "syncAudioVideo": {
                    "type": "boolean",
                    "description": "Syncs the participants audio and video."
                  },
                  "toneOnEntryAndExit": {
                    "type": "boolean",
                    "description": "Plays a tone when a participant joins or leaves the conference."
                  },
                  "roomJoinVideoOff": {
                    "type": "boolean",
                    "description": "Turns the conference video off when the participant joins the room if `true`."
                  },
                  "userJoinVideoOff": {
                    "type": "boolean",
                    "description": "Turns the participants video off when the participant joins the room if `true`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conference_room": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string",
                                "description": "The descrption of the Conference Room"
                              },
                              "display_name": {
                                "type": "string",
                                "description": "Display name of the Conference Room"
                              },
                              "enable_room_previews": {
                                "type": "boolean",
                                "description": "Enables live video room previews for the conference."
                              },
                              "fps": {
                                "type": "number",
                                "description": "The frames-per-second (fps) of the participants videos in the conference."
                              },
                              "id": {
                                "type": "string",
                                "description": "The unique id of the Conference Room"
                              },
                              "join_from": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The time users are allowed to start joining the conference. Joining before this time will result in failure to join the conference."
                              },
                              "join_until": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The time users are allowed to until the conference is locked. Attempting to join the conference after the set time will result in failure to join the conference."
                              },
                              "layout": {
                                "type": "string",
                                "description": "The video layout of the conference."
                              },
                              "max_members": {
                                "type": "number",
                                "description": "Maximum number of members allowed in the conference room"
                              },
                              "meta": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Metadata of the conference."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the Conference Room"
                              },
                              "prioritize_handraise": {
                                "type": "boolean",
                                "description": "Indicator if the Conference Room will prioritize showing participants utilizing the hand raised feature."
                              },
                              "quality": {
                                "type": "string",
                                "description": "The viudeo quality of the Conference Room."
                              },
                              "record_on_start": {
                                "type": "boolean",
                                "description": "Starts recording when the conference starts."
                              },
                              "remove_after_seconds_elapsed": {
                                "type": "number",
                                "description": "The amount of time in seconds to remove a particpant from a conference after they join."
                              },
                              "remove_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The time to remove all participants from the conference."
                              },
                              "room_join_video_off": {
                                "type": "boolean",
                                "description": "Turns the conference video off when the participant joins the room if `true`."
                              },
                              "sync_audio_video": {
                                "type": "boolean",
                                "description": "Syncs the participants audio and video."
                              },
                              "tone_on_entry_and_exit": {
                                "type": "boolean",
                                "description": "Plays a tone when a participant joins or leaves the conference."
                              },
                              "user_join_video_off": {
                                "type": "boolean",
                                "description": "Turns the participants video off when the participant joins the room if `true`."
                              }
                            },
                            "additionalProperties": false
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the resource was created."
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Display name of the Conference Room Fabric Resource"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique ID of the Conference Room."
                          },
                          "project_id": {
                            "type": "string",
                            "description": "Unique ID of the Project."
                          },
                          "type": {
                            "type": "string",
[...]
