{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cloudmersive Video and Media Universal API",
    "version": "0.0.2",
    "description": "Convert, resize, edit, and inspect audio and video"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveVideoAndMedia/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cloudmersiveVideoAndMedia/latest/actions/convert-audio-to-mp3": {
      "get": {
        "operationId": "cloudmersiveVideoAndMedia.convert-audio-to-mp3",
        "summary": "Convert Audio to MP3",
        "description": "Converts an audio file to MP3 in Cloudmersive Video and Media.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveVideoAndMedia/latest/actions/convert-audio-to-mp3"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileUrl",
            "in": "query",
            "required": false,
            "description": "URL of an audio file to convert. Cloudmersive recommends this option for files larger than 2GB.",
            "schema": {
              "type": "string",
              "description": "URL of an audio file to convert. Cloudmersive recommends this option for files larger than 2GB."
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": false,
            "description": "Input audio file to convert.",
            "schema": {
              "type": "string",
              "description": "Input audio file to convert."
            }
          },
          {
            "name": "bitRate",
            "in": "query",
            "required": false,
            "description": "Desired bitrate in kilobytes per second (48 to 1411).",
            "schema": {
              "type": "number",
              "description": "Desired bitrate in kilobytes per second (48 to 1411).",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveVideoAndMedia/latest/actions/get-media-information": {
      "get": {
        "operationId": "cloudmersiveVideoAndMedia.get-media-information",
        "summary": "Get Media Information",
        "description": "Retrieves media information from Cloudmersive Video and Media.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveVideoAndMedia/latest/actions/get-media-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileUrl",
            "in": "query",
            "required": false,
            "description": "URL of a video or audio file to inspect.",
            "schema": {
              "type": "string",
              "description": "URL of a video or audio file to inspect."
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": false,
            "description": "Input video or audio file to inspect.",
            "schema": {
              "type": "string",
              "description": "Input video or audio file to inspect."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BitRate": {
                            "type": "number",
                            "description": "Media bit rate."
                          },
                          "Duration": {
                            "type": "number",
                            "description": "Media duration in seconds."
                          },
                          "FileFormat": {
                            "type": "string",
                            "description": "Short media format name."
                          },
                          "FileFormatFull": {
                            "type": "string",
                            "description": "Full media format name."
                          },
                          "Height": {
                            "type": "number",
                            "description": "Video height when the file is a video."
                          },
                          "Size": {
                            "type": "number",
                            "description": "File size in bytes."
                          },
                          "StartTime": {
                            "type": "number",
                            "description": "Media start time."
                          },
                          "Successful": {
                            "type": "boolean",
                            "description": "True if the operation was successful."
                          },
                          "ValidFileFormats": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Valid detected formats."
                          },
                          "Width": {
                            "type": "number",
                            "description": "Video width when the file is a video."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
