{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Wasi Universal API",
    "version": "0.0.5",
    "description": "Wasi is a real estate CRM and property management platform for brokers and agencies to manage properties, clients, and real estate operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/wasi/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/wasi/latest/actions/change-property-label": {
      "put": {
        "operationId": "wasi.change-property-label",
        "summary": "Change Property Label",
        "description": "Updates a property label in Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/change-property-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "label",
                  "property_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "label": {
                    "type": "string",
                    "description": "Property label to set.",
                    "default": "codex-test-label"
                  },
                  "property_id": {
                    "type": "number",
                    "description": "Wasi property ID.",
                    "default": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "Wasi operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/create-client": {
      "post": {
        "operationId": "wasi.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "string",
                    "description": "Client address."
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Client birthday."
                  },
                  "cell_phone": {
                    "type": "string",
                    "description": "Client mobile phone number."
                  },
                  "city_id": {
                    "type": "number",
                    "description": "Client city ID."
                  },
                  "client_origin_id": {
                    "type": "number",
                    "description": "Client origin ID."
                  },
                  "client_status_id": {
                    "type": "number",
                    "description": "Client status ID."
                  },
                  "client_type_id": {
                    "type": "number",
                    "description": "Primary client type ID."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Client comment."
                  },
                  "country_id": {
                    "type": "number",
                    "description": "Client country ID."
                  },
                  "email": {
                    "type": "string",
                    "description": "Client email address."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Client first name."
                  },
                  "identification": {
                    "type": "string",
                    "description": "Client identification number."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Client last name."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Client phone number."
                  },
                  "reference": {
                    "type": "string",
                    "description": "Client reference."
                  },
                  "region_id": {
                    "type": "number",
                    "description": "Client region ID."
                  },
                  "send_information": {
                    "type": "boolean",
                    "description": "Whether the client accepts information messages."
                  },
                  "user_id": {
                    "type": "number",
                    "description": "Assigned Wasi user ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id_client": {
                            "type": "number",
                            "description": "Created Wasi client identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Wasi operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/create-property": {
      "post": {
        "operationId": "wasi.create-property",
        "summary": "Create Property",
        "description": "Creates a new property in Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/create-property"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "string",
                    "description": "Property address."
                  },
                  "area": {
                    "type": "number",
                    "description": "Property area."
                  },
                  "bathrooms": {
                    "type": "number",
                    "description": "Bathroom count."
                  },
                  "bedrooms": {
                    "type": "number",
                    "description": "Bedroom count."
                  },
                  "built_area": {
                    "type": "number",
                    "description": "Built area."
                  },
                  "city_id": {
                    "type": "number",
                    "description": "City ID."
                  },
                  "country_id": {
                    "type": "number",
                    "description": "Country ID."
                  },
                  "for_rent": {
                    "type": "boolean",
                    "description": "Whether the property is for rent."
                  },
                  "for_sale": {
                    "type": "boolean",
                    "description": "Whether the property is for sale."
                  },
                  "for_transfer": {
                    "type": "boolean",
                    "description": "Whether the property is for transfer."
                  },
                  "garages": {
                    "type": "number",
                    "description": "Garage count."
                  },
                  "location_id": {
                    "type": "number",
                    "description": "Locality ID."
                  },
                  "observations": {
                    "type": "string",
                    "description": "Property observations."
                  },
                  "property_type_id": {
                    "type": "number",
                    "description": "Property type ID."
                  },
                  "region_id": {
                    "type": "number",
                    "description": "Region ID."
                  },
                  "rent_price": {
                    "type": "number",
                    "description": "Property rent price."
                  },
                  "sale_price": {
                    "type": "number",
                    "description": "Property sale price."
                  },
                  "title": {
                    "type": "string",
                    "description": "Property title."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id_property": {
                            "type": "number",
                            "description": "Created Wasi property identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Wasi operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/get-client": {
      "get": {
        "operationId": "wasi.get-client",
        "summary": "Get Client",
        "description": "Retrieves a client from Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/get-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "Wasi client ID to fetch.",
            "schema": {
              "type": "number",
              "description": "Wasi client ID to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Client address."
                          },
                          "birthday": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Client birthday."
                          },
                          "cell_phone": {
                            "type": "string",
                            "description": "Client mobile phone number."
                          },
                          "city_label": {
                            "type": "string",
                            "description": "City name."
                          },
                          "client_origin_label": {
                            "type": "string",
                            "description": "Client origin label."
                          },
                          "client_types": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Client type associations."
                          },
                          "comment": {
                            "type": "string",
                            "description": "Client comment."
                          },
                          "country_label": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Client creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Client email address."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Client first name."
                          },
                          "id_city": {
                            "type": "number",
                            "description": "City identifier."
                          },
                          "id_client": {
                            "type": "number",
                            "description": "Wasi client identifier."
                          },
                          "id_client_origin": {
                            "type": "number",
                            "description": "Client origin identifier."
                          },
                          "id_client_status": {
                            "type": "number",
                            "description": "Client status identifier."
                          },
                          "id_country": {
                            "type": "number",
                            "description": "Country identifier."
                          },
                          "id_region": {
                            "type": "number",
                            "description": "Region identifier."
                          },
                          "id_user": {
                            "type": "number",
                            "description": "Assigned Wasi user identifier."
                          },
                          "identificacion": {
                            "type": "string",
                            "description": "Legacy Wasi identification field spelling."
                          },
                          "identification": {
                            "type": "string",
                            "description": "Client identification number."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Client last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Client phone number."
                          },
                          "query": {
                            "type": "string",
                            "description": "Client search notes from Wasi."
                          },
                          "reference": {
                            "type": "string",
                            "description": "Client reference."
                          },
                          "region_label": {
                            "type": "string",
                            "description": "Region name."
                          },
                          "send_information": {
                            "type": "boolean",
                            "description": "Whether the client accepts information messages."
                          },
                          "tag": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Client tags."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Client update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/get-property": {
      "get": {
        "operationId": "wasi.get-property",
        "summary": "Get Property",
        "description": "Retrieves a property from Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/get-property"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property_id",
            "in": "query",
            "required": true,
            "description": "Wasi property ID to fetch.",
            "schema": {
              "type": "number",
              "description": "Wasi property ID to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Property address."
                          },
                          "area": {
                            "type": "number",
                            "description": "Property area."
                          },
                          "bathrooms": {
                            "type": "number",
                            "description": "Bathroom count."
                          },
                          "bedrooms": {
                            "type": "number",
                            "description": "Bedroom count."
                          },
                          "built_area": {
                            "type": "number",
                            "description": "Built area."
                          },
                          "city_label": {
                            "type": "string",
                            "description": "City name."
                          },
                          "country_label": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "features": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Property features payload."
                          },
                          "floor": {
                            "type": "string",
                            "description": "Floor or level label."
                          },
                          "for_rent": {
                            "type": "boolean",
                            "description": "Whether the property is for rent."
                          },
                          "for_sale": {
                            "type": "boolean",
                            "description": "Whether the property is for sale."
                          },
                          "for_transfer": {
                            "type": "boolean",
                            "description": "Whether the property is for transfer."
                          },
                          "galleries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Property gallery groups."
                          },
                          "garages": {
                            "type": "number",
                            "description": "Garage count."
                          },
                          "id_city": {
                            "type": "number",
                            "description": "City identifier."
                          },
                          "id_country": {
                            "type": "number",
                            "description": "Country identifier."
                          },
                          "id_location": {
                            "type": "number",
                            "description": "Locality identifier."
                          },
                          "id_property": {
                            "type": "number",
                            "description": "Wasi property identifier."
                          },
                          "id_property_type": {
                            "type": "number",
                            "description": "Property type identifier."
                          },
                          "id_region": {
                            "type": "number",
                            "description": "Region identifier."
                          },
                          "id_user": {
                            "type": "number",
                            "description": "Assigned Wasi user identifier."
                          },
                          "location_label": {
                            "type": "string",
                            "description": "Locality name."
                          },
                          "main_image": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Primary property image payload."
                          },
                          "observations": {
                            "type": "string",
                            "description": "Property observations."
                          },
                          "property_type_label": {
                            "type": "string",
                            "description": "Property type label."
                          },
                          "region_label": {
                            "type": "string",
                            "description": "Region name."
                          },
                          "rent_price": {
                            "type": "number",
                            "description": "Rent price."
                          },
                          "sale_price": {
                            "type": "number",
                            "description": "Sale price."
                          },
                          "title": {
                            "type": "string",
                            "description": "Property title."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/get-property-commission": {
      "get": {
        "operationId": "wasi.get-property-commission",
        "summary": "Get Property Commission",
        "description": "Retrieves a property's commission details from Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/get-property-commission"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property_id",
            "in": "query",
            "required": true,
            "description": "Wasi property ID.",
            "schema": {
              "type": "number",
              "description": "Wasi property ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Provider error code when present."
                          },
                          "commission": {
                            "type": "number",
                            "description": "Commission value when Wasi returns it."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message when the property cannot be resolved."
                          },
                          "status": {
                            "type": "string",
                            "description": "Wasi operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/link-client-to-property": {
      "post": {
        "operationId": "wasi.link-client-to-property",
        "summary": "Link Client To Property",
        "description": "Creates a client-to-property relationship in Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/link-client-to-property"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "client_id",
                  "client_type_id",
                  "property_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "client_id": {
                    "type": "number",
                    "description": "Wasi client ID.",
                    "default": 1
                  },
                  "client_type_id": {
                    "type": "number",
                    "description": "Relationship client type ID.",
                    "default": 1
                  },
                  "property_id": {
                    "type": "number",
                    "description": "Wasi property ID.",
                    "default": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "Wasi operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/list-cities-with-property": {
      "get": {
        "operationId": "wasi.list-cities-with-property",
        "summary": "List Cities With Property",
        "description": "Retrieves cities with assigned properties from Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/list-cities-with-property"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for_rent",
            "in": "query",
            "required": false,
            "description": "Only include rental inventory.",
            "schema": {
              "type": "boolean",
              "description": "Only include rental inventory."
            }
          },
          {
            "name": "for_sale",
            "in": "query",
            "required": false,
            "description": "Only include sale inventory.",
            "schema": {
              "type": "boolean",
              "description": "Only include sale inventory."
            }
          },
          {
            "name": "for_transfer",
            "in": "query",
            "required": false,
            "description": "Only include transfer inventory.",
            "schema": {
              "type": "boolean",
              "description": "Only include transfer inventory."
            }
          },
          {
            "name": "property_type_id",
            "in": "query",
            "required": false,
            "description": "Limit cities to one property type.",
            "schema": {
              "type": "number",
              "description": "Limit cities to one property type."
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Choose which Wasi inventory scope to inspect.",
            "schema": {
              "type": "number",
              "description": "Choose which Wasi inventory scope to inspect."
            }
          },
          {
            "name": "with_country",
            "in": "query",
            "required": false,
            "description": "Include country information when available.",
            "schema": {
              "type": "boolean",
              "description": "Include country information when available."
            }
          },
          {
            "name": "with_region",
            "in": "query",
            "required": false,
            "description": "Include region information when available.",
            "schema": {
              "type": "boolean",
              "description": "Include region information when available."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country_label": {
                            "type": "string",
                            "description": "Country name when with_country=true."
                          },
                          "id_city": {
                            "type": "number",
                            "description": "Wasi city identifier."
                          },
                          "id_country": {
                            "type": "number",
                            "description": "Country identifier when with_country=true."
                          },
                          "id_region": {
                            "type": "number",
                            "description": "Region identifier when with_region=true."
                          },
                          "name": {
                            "type": "string",
                            "description": "City name."
                          },
                          "region_label": {
                            "type": "string",
                            "description": "Region name when with_region=true."
                          },
                          "total": {
                            "type": "number",
                            "description": "Property count for the city."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/list-client-properties": {
      "get": {
        "operationId": "wasi.list-client-properties",
        "summary": "List Client Properties",
        "description": "Retrieves properties linked to a client in Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/list-client-properties"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "Wasi client ID whose related properties should be listed.",
            "schema": {
              "type": "number",
              "description": "Wasi client ID whose related properties should be listed."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client_type_label": {
                            "type": "string",
                            "description": "Relationship client type label."
                          },
                          "id_client_type": {
                            "type": "number",
                            "description": "Relationship client type identifier."
                          },
                          "id_property": {
                            "type": "number",
                            "description": "Related Wasi property identifier."
                          },
                          "title": {
                            "type": "string",
                            "description": "Related property title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/list-client-types": {
      "get": {
        "operationId": "wasi.list-client-types",
        "summary": "List Client Types",
        "description": "Retrieves client types from Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/list-client-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id_client_type": {
                            "type": "number",
                            "description": "Wasi client type identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Client type name."
                          },
                          "nombre": {
                            "type": "string",
                            "description": "Localized client type label from Wasi."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "Whether the client type is public in Wasi."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/list-clients": {
      "get": {
        "operationId": "wasi.list-clients",
        "summary": "List Clients",
        "description": "Finds clients in Wasi by search criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/list-clients"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_origin_id",
            "in": "query",
            "required": false,
            "description": "Limit clients by acquisition source.",
            "schema": {
              "type": "number",
              "description": "Limit clients by acquisition source."
            }
          },
          {
            "name": "client_status_id",
            "in": "query",
            "required": false,
            "description": "Limit clients by status.",
            "schema": {
              "type": "number",
              "description": "Limit clients by status."
            }
          },
          {
            "name": "client_type_id",
            "in": "query",
            "required": false,
            "description": "Limit clients by client type.",
            "schema": {
              "type": "number",
              "description": "Limit clients by client type."
            }
          },
          {
            "name": "property_id",
            "in": "query",
            "required": false,
            "description": "Limit clients to those attached to one property.",
            "schema": {
              "type": "number",
              "description": "Limit clients to those attached to one property."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Keyword search for matching clients.",
            "schema": {
              "type": "string",
              "description": "Keyword search for matching clients."
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Limit clients by assigned Wasi user.",
            "schema": {
              "type": "number",
              "description": "Limit clients by assigned Wasi user."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Client address."
                          },
                          "birthday": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Client birthday."
                          },
                          "cell_phone": {
                            "type": "string",
                            "description": "Client mobile phone number."
                          },
                          "city_label": {
                            "type": "string",
                            "description": "City name."
                          },
                          "client_origin_label": {
                            "type": "string",
                            "description": "Client origin label."
                          },
                          "client_types": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Client type associations."
                          },
                          "comment": {
                            "type": "string",
                            "description": "Client comment."
                          },
                          "country_label": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Client creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Client email address."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Client first name."
                          },
                          "id_city": {
                            "type": "number",
                            "description": "City identifier."
                          },
                          "id_client": {
                            "type": "number",
                            "description": "Wasi client identifier."
                          },
                          "id_client_origin": {
                            "type": "number",
                            "description": "Client origin identifier."
                          },
                          "id_client_status": {
                            "type": "number",
                            "description": "Client status identifier."
                          },
                          "id_country": {
                            "type": "number",
                            "description": "Country identifier."
                          },
                          "id_region": {
                            "type": "number",
                            "description": "Region identifier."
                          },
                          "id_user": {
                            "type": "number",
                            "description": "Assigned Wasi user identifier."
                          },
                          "identification": {
                            "type": "string",
                            "description": "Client identification number."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Client last name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Client phone number."
                          },
                          "query": {
                            "type": "string",
                            "description": "Client search notes from Wasi."
                          },
                          "reference": {
                            "type": "string",
                            "description": "Client reference."
                          },
                          "region_label": {
                            "type": "string",
                            "description": "Region name."
                          },
                          "send_information": {
                            "type": "boolean",
                            "description": "Whether the client accepts information messages."
                          },
                          "tag": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Client tags."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Client update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wasi/latest/actions/list-countries": {
      "get": {
        "operationId": "wasi.list-countries",
        "summary": "List Countries",
        "description": "Retrieves countries from Wasi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wasi/latest/actions/list-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for_rent",
            "in": "query",
            "required": false,
            "description": "Only count properties available for rent.",
            "schema": {
              "type": "boolean",
              "description": "Only count properties available for rent."
            }
          },
          {
            "name": "for_sale",
            "in": "query",
            "required": false,
            "description": "Only count properties available for sale.",
            "schema": {
              "type": "boolean",
              "description": "Only count properties available for sale."
            }
          },
          {
            "name": "for_transfer",
            "in": "query",
            "required": false,
            "description": "Only count properties available for transfer.",
            "schema": {
              "type": "boolean",
              "description": "Only count properties available for transfer."
            }
          },
          {
            "name": "property_type_id",
            "in": "query",
            "required": false,
            "description": "Limit quantity counts to one property type.",
            "schema": {
              "type": "number",
              "description": "Limit quantity counts to one property type."
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "required": false,
            "description": "Include the number of matching properties per country.",
            "schema": {
              "type": "boolean",
              "description": "Include the number of matching properties per country."
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Choose which property scope to count.",
            "schema": {
              "type": "number",
              "description": "Choose which property scope to count."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id_country": {
                            "type": "number",
                            "description": "Wasi country identifier."
                          },
                          "iso": {
                            "type": "string",
                            "description": "ISO country code."
                          },
                          "name": {
[...]
