{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Auphonic Universal API",
    "version": "0.0.8",
    "description": "Process audio productions, manage presets, and integrate external workflows"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/auphonic/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/auphonic/latest/actions/create-preset": {
      "post": {
        "operationId": "auphonic.create-preset",
        "summary": "Create Preset",
        "description": "Creates a new preset in Auphonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/auphonic/latest/actions/create-preset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "presetName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "presetName": {
                    "type": "string",
                    "description": "Name for the new preset."
                  },
                  "isMultitrack": {
                    "type": "boolean",
                    "description": "Create the preset as multitrack.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "algorithms": {
                            "type": "object",
                            "properties": {
                              "compressorMusic": {
                                "type": "string"
                              },
                              "compressorSpeech": {
                                "type": "string"
                              },
                              "coughCutter": {
                                "type": "boolean"
                              },
                              "cutMode": {
                                "type": "string"
                              },
                              "cutter": {
                                "type": "boolean"
                              },
                              "debreathamount": {
                                "type": "number"
                              },
                              "dehum": {
                                "type": "number"
                              },
                              "dehumamount": {
                                "type": "number"
                              },
                              "denoise": {
                                "type": "boolean"
                              },
                              "denoiseamount": {
                                "type": "number"
                              },
                              "denoisemethod": {
                                "type": "string"
                              },
                              "deverbamount": {
                                "type": "number"
                              },
                              "dualmono": {
                                "type": "boolean"
                              },
                              "fillerCutter": {
                                "type": "boolean"
                              },
                              "filtering": {
                                "type": "boolean"
                              },
                              "filtermethod": {
                                "type": "string"
                              },
                              "leveler": {
                                "type": "boolean"
                              },
                              "levelermode": {
                                "type": "string"
                              },
                              "levelerstrengthMusic": {
                                "type": "number"
                              },
                              "levelerstrengthSpeech": {
                                "type": "number"
                              },
                              "loudnessmethod": {
                                "type": "string"
                              },
                              "loudnesstarget": {
                                "type": "number"
                              },
                              "maxlra": {
                                "type": "number"
                              },
                              "maxm": {
                                "type": "number"
                              },
                              "maxpeak": {
                                "type": "number"
                              },
                              "maxs": {
                                "type": "number"
                              },
                              "msclassifier": {
                                "type": "string"
                              },
                              "musicCutter": {
                                "type": "boolean"
                              },
                              "musicgain": {
                                "type": "number"
                              },
                              "normloudness": {
                                "type": "boolean"
                              },
                              "silenceCutter": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "creationTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "image": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isMultitrack": {
                            "type": "boolean"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "album": {
                                "type": "string"
                              },
                              "appendChapters": {
                                "type": "boolean"
                              },
                              "artist": {
                                "type": "string"
                              },
                              "genre": {
                                "type": "string"
                              },
                              "license": {
                                "type": "string"
                              },
                              "licenseUrl": {
                                "type": "string"
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "longitude": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "publisher": {
                                "type": "string"
                              },
                              "subtitle": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "title": {
                                "type": "string"
                              },
                              "track": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "year": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "outputBasename": {
                            "type": "string"
                          },
                          "presetName": {
                            "type": "string"
                          },
                          "reviewBeforePublishing": {
                            "type": "boolean"
                          },
                          "speechRecognition": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "thumbnail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "webhook": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/auphonic/latest/actions/create-production": {
      "post": {
        "operationId": "auphonic.create-production",
        "summary": "Create Production",
        "description": "Creates a new production in Auphonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/auphonic/latest/actions/create-production"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "preset"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "preset": {
                    "type": "string",
                    "description": "Preset UUID or preset name to use as the production template."
                  },
                  "inputFile": {
                    "type": "string",
                    "description": "HTTP URL or external-service filename for the input media.",
                    "x-mindcloud-advanced": true
                  },
                  "action": {
                    "type": "string",
                    "description": "Set to start to process the production immediately.",
                    "enum": [
                      "start"
                    ]
                  },
                  "isMultitrack": {
                    "type": "boolean",
                    "description": "Create the production as multitrack.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "algorithms": {
                            "type": "object",
                            "properties": {
                              "compressorMusic": {
                                "type": "string"
                              },
                              "compressorSpeech": {
                                "type": "string"
                              },
                              "coughCutter": {
                                "type": "boolean"
                              },
                              "cutMode": {
                                "type": "string"
                              },
                              "cutter": {
                                "type": "boolean"
                              },
                              "debreathamount": {
                                "type": "number"
                              },
                              "dehum": {
                                "type": "number"
                              },
                              "dehumamount": {
                                "type": "number"
                              },
                              "denoise": {
                                "type": "boolean"
                              },
                              "denoiseamount": {
                                "type": "number"
                              },
                              "denoisemethod": {
                                "type": "string"
                              },
                              "deverbamount": {
                                "type": "number"
                              },
                              "dualmono": {
                                "type": "boolean"
                              },
                              "fillerCutter": {
                                "type": "boolean"
                              },
                              "filtering": {
                                "type": "boolean"
                              },
                              "filtermethod": {
                                "type": "string"
                              },
                              "leveler": {
                                "type": "boolean"
                              },
                              "levelermode": {
                                "type": "string"
                              },
                              "levelerstrengthMusic": {
                                "type": "number"
                              },
                              "levelerstrengthSpeech": {
                                "type": "number"
                              },
                              "loudnessmethod": {
                                "type": "string"
                              },
                              "loudnesstarget": {
                                "type": "number"
                              },
                              "maxlra": {
                                "type": "number"
                              },
                              "maxm": {
                                "type": "number"
                              },
                              "maxpeak": {
                                "type": "number"
                              },
                              "maxs": {
                                "type": "number"
                              },
                              "msclassifier": {
                                "type": "string"
                              },
                              "musicCutter": {
                                "type": "boolean"
                              },
                              "musicgain": {
                                "type": "number"
                              },
                              "normloudness": {
                                "type": "boolean"
                              },
                              "silenceCutter": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "bitrate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "changeAllowed": {
                            "type": "boolean"
                          },
                          "changeTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "channels": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "creationTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "cutEnd": {
                            "type": "number"
                          },
                          "cutStart": {
                            "type": "number"
                          },
                          "editPage": {
                            "type": "string"
                          },
                          "errorMessage": {
                            "type": "string"
                          },
                          "errorStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "format": {
                            "type": "string"
                          },
                          "hasVideo": {
                            "type": "boolean"
                          },
                          "image": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "inputFile": {
                            "type": "string"
                          },
                          "inReview": {
                            "type": "boolean"
                          },
                          "isMultitrack": {
                            "type": "boolean"
                          },
                          "length": {
                            "type": "number"
                          },
                          "lengthTimestring": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "album": {
                                "type": "string"
                              },
                              "appendChapters": {
                                "type": "boolean"
                              },
                              "artist": {
                                "type": "string"
                              },
                              "genre": {
                                "type": "string"
                              },
                              "license": {
                                "type": "string"
                              },
                              "licenseUrl": {
                                "type": "string"
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "longitude": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "publisher": {
                                "type": "string"
                              },
                              "subtitle": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "title": {
                                "type": "string"
                              },
                              "track": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "year": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "outputBasename": {
                            "type": "string"
                          },
                          "preset": {
                            "type": "string"
                          },
                          "reviewBeforePublishing": {
                            "type": "boolean"
                          },
                          "samplerate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "service": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shownotes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "speechRecognition": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startAllowed": {
                            "type": "boolean"
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "statusPage": {
                            "type": "string"
                          },
                          "statusString": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "usedCredits": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "warningMessage": {
                            "type": "string"
                          },
                          "warningStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "waveformImage": {
                            "type": "string"
                          },
                          "webhook": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/auphonic/latest/actions/delete-preset": {
      "delete": {
        "operationId": "auphonic.delete-preset",
        "summary": "Delete Preset",
        "description": "Deletes an existing preset from Auphonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/auphonic/latest/actions/delete-preset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "UUID of the preset.",
            "schema": {
              "type": "string",
              "description": "UUID of the preset."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/auphonic/latest/actions/delete-production": {
      "delete": {
        "operationId": "auphonic.delete-production",
        "summary": "Delete Production",
        "description": "Deletes an existing production from Auphonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/auphonic/latest/actions/delete-production"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "UUID of the production.",
            "schema": {
              "type": "string",
              "description": "UUID of the production."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/auphonic/latest/actions/delete-production-webhook": {
      "delete": {
        "operationId": "auphonic.delete-production-webhook",
        "summary": "Delete Production Webhook",
        "description": "Deletes a production webhook from Auphonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/auphonic/latest/actions/delete-production-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "UUID of the production.",
            "schema": {
              "type": "string",
              "description": "UUID of the production."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "webhook": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/auphonic/latest/actions/get-api-information": {
      "get": {
        "operationId": "auphonic.get-api-information",
        "summary": "Get API Information",
        "description": "Retrieves API information from Auphonic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/auphonic/latest/actions/get-api-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "algorithms": {
                            "type": "object",
                            "properties": {
                              "backforeground": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "number"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "backgroundgain": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "number"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "compressor": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "compressorM": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "coughCutter": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "crossgate": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "cutMode": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "cutter": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "debreathamount": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dehum": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dehumamount": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "denoise": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "denoiseamount": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "denoisemethod": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dualmono": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "duckingFadetime": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "number"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "fillerCutter": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "filtering": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "filtermethod": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "gain": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "number"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "gate": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "leveler": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "levelerstrength": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "levelerstrengthM": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "loudnessmethod": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "loudnesstarget": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "maxlra": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "maxm": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "maxpeak": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "maxs": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "msclassifier": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "musicCutter": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "musicgain": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "normloudness": {
                                "type": "object",
                                "properties": {
                                  "defaultValue": {
                                    "type": "boolean"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "pan": {
                                "type": "object",
                                "properties": {
                                  "belongsTo": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "number"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
[...]
