{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Clockify Universal API",
    "version": "0.0.14",
    "description": "Track time, manage projects, approve timesheets, and analyze team costs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/clockify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/clockify/latest/actions/add-manager-role-to-user": {
      "post": {
        "operationId": "clockify.add-manager-role-to-user",
        "summary": "Add Manager Role to User",
        "description": "Adds the manager role to a user in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/add-manager-role-to-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspaceId",
                  "userId",
                  "entityId",
                  "role"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "PROJECT_MANAGER",
                      "TEAM_MANAGER",
                      "WORKSPACE_ADMIN"
                    ]
                  },
                  "sourceType": {
                    "type": "string",
                    "enum": [
                      "USER_GROUP"
                    ],
                    "example": "STANDARD"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "source": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "userId": {
                            "type": "string"
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/add-user-to-workspace": {
      "post": {
        "operationId": "clockify.add-user-to-workspace",
        "summary": "Add User to Workspace",
        "description": "Adds a user to a workspace in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/add-user-to-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspaceId",
                  "sendEmail",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "sendEmail": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cakeOrganizationId": {
                            "type": "string"
                          },
                          "costRate": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          },
                          "currencies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isDefault": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "features": {
                            "type": "string"
                          },
                          "featureSubscriptionType": {
                            "type": "string"
                          },
                          "hourlyRate": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "memberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "costRate": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "amount": {
                                      "type": "number"
                                    },
                                    "currency": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "hourlyRate": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "amount": {
                                      "type": "number"
                                    },
                                    "currency": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "membershipStatus": {
                                  "type": "string"
                                },
                                "membershipType": {
                                  "type": "string"
                                },
                                "targetId": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "subdomain": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "enabled": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "workspaceSettings": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "activeBillableHours": {
                                "type": "boolean"
                              },
                              "adminOnlyPages": {
                                "type": "string"
                              },
                              "automaticLock": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "changeDay": {
                                    "type": "string"
                                  },
                                  "dayOfMonth": {
                                    "type": "number"
                                  },
                                  "firstDay": {
                                    "type": "string"
                                  },
                                  "olderThanPeriod": {
                                    "type": "string"
                                  },
                                  "olderThanValue": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "canSeeTimeSheet": {
                                "type": "boolean"
                              },
                              "canSeeTracker": {
                                "type": "boolean"
                              },
                              "currencyFormat": {
                                "type": "string"
                              },
                              "defaultBillableProjects": {
                                "type": "boolean"
                              },
                              "durationFormat": {
                                "type": "string"
                              },
                              "entityCreationPermissions": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "whoCanCreateProjectsAndClients": {
                                    "type": "string"
                                  },
                                  "whoCanCreateTags": {
                                    "type": "string"
                                  },
                                  "whoCanCreateTasks": {
                                    "type": "string"
                                  }
                                }
                              },
                              "forceDescription": {
                                "type": "boolean"
                              },
                              "forceProjects": {
                                "type": "boolean"
                              },
                              "forceTags": {
                                "type": "boolean"
                              },
                              "forceTasks": {
                                "type": "boolean"
                              },
                              "isProjectPublicByDefault": {
                                "type": "boolean"
                              },
                              "lockTimeEntries": {
                                "type": "string"
                              },
                              "lockTimeZone": {
                                "type": "string"
                              },
                              "multiFactorEnabled": {
                                "type": "boolean"
                              },
                              "numberFormat": {
                                "type": "string"
                              },
                              "onlyAdminsCanChangeBillableStatus": {
                                "type": "boolean"
                              },
                              "onlyAdminsCreateProject": {
                                "type": "boolean"
                              },
                              "onlyAdminsCreateTag": {
                                "type": "boolean"
                              },
                              "onlyAdminsCreateTask": {
                                "type": "boolean"
                              },
                              "onlyAdminsSeeAllTimeEntries": {
                                "type": "boolean"
                              },
                              "onlyAdminsSeeBillableRates": {
                                "type": "boolean"
                              },
                              "onlyAdminsSeeDashboard": {
                                "type": "boolean"
                              },
                              "onlyAdminsSeePublicProjectsEntries": {
                                "type": "boolean"
                              },
                              "projectFavorites": {
                                "type": "boolean"
                              },
                              "projectGroupingLabel": {
                                "type": "string"
                              },
                              "projectLabel": {
                                "type": "string"
                              },
                              "projectPickerSpecialFilter": {
                                "type": "boolean"
                              },
                              "round": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "minutes": {
                                    "type": "string"
                                  },
                                  "round": {
                                    "type": "string"
                                  }
                                }
                              },
                              "taskLabel": {
                                "type": "string"
                              },
                              "timeRoundingInReports": {
                                "type": "boolean"
                              },
                              "timeTrackingMode": {
                                "type": "string"
                              },
                              "trackTimeDownToSecond": {
                                "type": "boolean"
                              },
                              "workingDays": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/add-users-to-group": {
      "put": {
        "operationId": "clockify.add-users-to-group",
        "summary": "Add Users to Group",
        "description": "Adds users to a group in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/add-users-to-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userGroupId",
                  "userId",
                  "workspaceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userGroupId": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "teamManagers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "userIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/add-users-to-project": {
      "put": {
        "operationId": "clockify.add-users-to-project",
        "summary": "Add Users to Project",
        "description": "Adds users to a project in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/add-users-to-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspaceId",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userGroups.contains": {
                    "type": "string",
                    "enum": [
                      "CONTAINS",
                      "DOES_NOT_CONTAIN"
                    ]
                  },
                  "userGroups.ids[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "userGroups.status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "ALL",
                      "INACTIVE"
                    ]
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "remove": {
                    "type": "boolean"
                  },
                  "userGroups": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "userIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientName": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "costRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "duration": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hourlyRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "memberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "template": {
                            "type": "boolean"
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/archive-expense-category": {
      "put": {
        "operationId": "clockify.archive-expense-category",
        "summary": "Archive Expense Category",
        "description": "Archives an expense category in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/archive-expense-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspaceId",
                  "categoryId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "archived": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "hasUnitPrice": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "priceInCents": {
                            "type": "number"
                          },
                          "unit": {
                            "type": "string"
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/change-invoice-status": {
      "put": {
        "operationId": "clockify.change-invoice-status",
        "summary": "Change Invoice Status",
        "description": "Updates an invoice status in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/change-invoice-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspaceId",
                  "invoiceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "invoiceId": {
                    "type": "string"
                  },
                  "invoiceStatus": {
                    "type": "string",
                    "enum": [
                      "OVERDUE",
                      "PAID",
                      "PARTIALLY_PAID",
                      "SENT",
                      "UNSENT",
                      "VOID"
                    ],
                    "example": "ACTIVE"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "billFrom": {
                            "type": "string"
                          },
                          "calculationType": {
                            "type": "string"
                          },
                          "clientAddress": {
                            "type": "string"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientName": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "containsImportedExpenses": {
                            "type": "boolean"
                          },
                          "containsImportedTimes": {
                            "type": "boolean"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "discountAmount": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "issuedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "applyTaxes": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "itemType": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "timeEntryIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "unitPrice": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "note": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "paid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "subtotal": {
                            "type": "number"
                          },
                          "tax": {
                            "type": "number"
                          },
                          "tax2": {
                            "type": "number"
                          },
                          "tax2Amount": {
                            "type": "number"
                          },
                          "taxAmount": {
                            "type": "number"
                          },
                          "taxType": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "visibleZeroFields": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/change-policy-status": {
      "put": {
        "operationId": "clockify.change-policy-status",
        "summary": "Change Policy Status",
        "description": "Updates a policy status in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/change-policy-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspaceId",
                  "id",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "ALL",
                      "ARCHIVED"
                    ],
                    "example": "ACTIVE"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowHalfDay": {
                            "type": "boolean"
                          },
                          "allowNegativeBalance": {
                            "type": "boolean"
                          },
                          "approve": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "requiresApproval": {
                                "type": "boolean"
                              },
                              "specificMembers": {
                                "type": "boolean"
                              },
                              "teamManagers": {
                                "type": "boolean"
                              },
                              "userIds": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "automaticAccrual": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "period": {
                                "type": "string"
                              },
                              "timeUnit": {
                                "type": "string"
                              }
                            }
                          },
                          "automaticTimeEntryCreation": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "defaultEntities": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "projectId": {
                                    "type": "string"
                                  },
                                  "taskId": {
                                    "type": "string"
                                  }
                                }
                              },
                              "enabled": {
                                "type": "boolean"
                              }
                            }
                          },
                          "everyoneIncludingNew": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "negativeBalance": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "period": {
                                "type": "string"
                              },
                              "shouldReset": {
                                "type": "boolean"
                              },
                              "timeUnit": {
                                "type": "string"
                              }
                            }
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "timeUnit": {
                            "type": "string"
                          },
                          "userGroupIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "userIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/change-recurring-period": {
      "put": {
        "operationId": "clockify.change-recurring-period",
        "summary": "Change Recurring Period",
        "description": "Updates a recurring assignment period in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/change-recurring-period"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "assignmentId",
                  "weeks",
                  "workspaceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assignmentId": {
                    "type": "string"
                  },
                  "repeat": {
                    "type": "boolean"
                  },
                  "weeks": {
                    "type": "number"
                  },
                  "workspaceId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "billable": {
                                  "type": "boolean"
                                },
                                "excludeDays": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "date": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "hoursPerDay": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "includeNonWorkingDays": {
                                  "type": "boolean"
                                },
                                "note": {
                                  "type": "string"
                                },
                                "period": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "end": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "start": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                },
                                "projectId": {
                                  "type": "string"
                                },
                                "published": {
                                  "type": "boolean"
                                },
                                "recurring": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "repeat": {
                                      "type": "boolean"
                                    },
                                    "seriesId": {
                                      "type": "string"
                                    },
                                    "weeks": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "startTime": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                },
                                "workspaceId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/change-time-off-request-status": {
      "put": {
        "operationId": "clockify.change-time-off-request-status",
        "summary": "Change Time Off Request Status",
        "description": "Updates a time off request status in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/change-time-off-request-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workspaceId",
                  "policyId",
                  "requestId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workspaceId": {
                    "type": "string"
                  },
                  "policyId": {
                    "type": "string"
                  },
                  "requestId": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string",
                    "example": "Sample note"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "APPROVED",
                      "REJECTED"
                    ],
                    "example": "ACTIVE"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balanceDiff": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "policyId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "changedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "changedByUserId": {
                                "type": "string"
                              },
                              "changedByUserName": {
                                "type": "string"
                              },
                              "changedForUserName": {
                                "type": "string"
                              },
                              "note": {
                                "type": "string"
                              },
                              "statusType": {
                                "type": "string"
                              }
                            }
                          },
                          "timeOffPeriod": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "halfDay": {
                                "type": "boolean"
                              },
                              "halfDayHours": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "end": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "start": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "halfDayPeriod": {
                                "type": "string"
                              },
                              "period": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "end": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "start": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              }
                            }
                          },
                          "userId": {
                            "type": "string"
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/clockify/latest/actions/copy-scheduled-assignment": {
      "post": {
        "operationId": "clockify.copy-scheduled-assignment",
        "summary": "Copy Scheduled Assignment",
        "description": "Copies a scheduled assignment in Clockify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/clockify/latest/actions/copy-scheduled-assignment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "assignmentId",
                  "userId",
                  "workspaceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assignmentId": {
                    "type": "string"
                  },
                  "seriesUpdateOption": {
                    "type": "string",
                    "enum": [
                      "ALL",
                      "THIS_AND_FOLLOWING",
                      "THIS_ONE"
                    ]
                  },
                  "userId": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "billable": {
                                  "type": "boolean"
                                },
                                "excludeDays": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "date": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "hoursPerDay": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "includeNonWorkingDays": {
                                  "type": "boolean"
                                },
                                "note": {
                                  "type": "string"
                                },
                                "period": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "end": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "start": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                },
                                "projectId": {
                                  "type": "string"
                                },
                                "published": {
                                  "type": "boolean"
                                },
                                "recurring": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "repeat": {
                                      "type": "boolean"
                                    },
                                    "seriesId": {
                                      "type": "string"
                                    },
                                    "weeks": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "startTime": {
                                  "type": "string"
                                },
                                "userId": {
                                  "type": "string"
                                },
                                "workspaceId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
[...]
