{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Rubitime Universal API",
    "version": "0.0.6",
    "description": "Rubitime is an online appointment scheduling and booking service for service businesses. Its API supports managing appointment records and checking available booking times."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rubitime/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rubitime/latest/actions/create-record": {
      "post": {
        "operationId": "rubitime.create-record",
        "summary": "Create Record",
        "description": "Creates a new record in Rubitime.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rubitime/latest/actions/create-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "branchId",
                  "cooperatorId",
                  "serviceId",
                  "record",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "branchId": {
                    "type": "number",
                    "description": "Rubitime branch ID."
                  },
                  "cooperatorId": {
                    "type": "number",
                    "description": "Rubitime employee/cooperator ID."
                  },
                  "serviceId": {
                    "type": "number",
                    "description": "Rubitime service ID."
                  },
                  "record": {
                    "type": "string",
                    "description": "Appointment date and time, for example 2021-12-08 13:30:03.",
                    "example": "2026-05-01 10:00:00"
                  },
                  "status": {
                    "type": "number",
                    "description": "Record status code documented by Rubitime.",
                    "default": 0
                  },
                  "name": {
                    "type": "string",
                    "description": "Customer full name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Customer phone number."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Customer comment for the record."
                  },
                  "price": {
                    "type": "number",
                    "description": "Service price."
                  },
                  "duration": {
                    "type": "number",
                    "description": "Service duration in minutes."
                  },
                  "prepayment": {
                    "type": "number",
                    "description": "Prepayment amount.",
                    "x-mindcloud-advanced": true
                  },
                  "prepaymentDate": {
                    "type": "string",
                    "description": "Prepayment completion date and time.",
                    "example": "2026-05-01 09:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "prepaymentUrl": {
                    "type": "string",
                    "description": "Prepayment URL.",
                    "x-mindcloud-advanced": true
                  },
                  "reminderMinutes": {
                    "type": "number",
                    "description": "Reminder offset in minutes.",
                    "x-mindcloud-advanced": true
                  },
                  "reminder": {
                    "type": "string",
                    "description": "Optional reminder timestamp documented by Rubitime.",
                    "example": "2035-01-01 09:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "whom": {
                    "type": "number",
                    "description": "Creator marker; 0 means customer, other values indicate administrator.",
                    "x-mindcloud-advanced": true
                  },
                  "source": {
                    "type": "string",
                    "description": "Record source. Rubitime defaults this to api.",
                    "x-mindcloud-advanced": true
                  },
                  "customField1": {
                    "type": "string",
                    "description": "First Rubitime custom field value.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Record ID returned by Rubitime."
                          },
                          "url": {
                            "type": "string",
                            "description": "Rubitime record URL returned by the create-record endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rubitime/latest/actions/get-record": {
      "get": {
        "operationId": "rubitime.get-record",
        "summary": "Get Record",
        "description": "Retrieves a record from Rubitime.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rubitime/latest/actions/get-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Rubitime record ID.",
            "schema": {
              "type": "number",
              "description": "Rubitime record ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "Customer comment."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Service duration in minutes."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email."
                          },
                          "id": {
                            "type": "number",
                            "description": "Record ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Customer phone."
                          },
                          "price": {
                            "type": "number",
                            "description": "Service price."
                          },
                          "record": {
                            "type": "string",
                            "description": "Scheduled record date and time."
                          },
                          "status": {
                            "type": "number",
                            "description": "Record status."
                          },
                          "url": {
                            "type": "string",
                            "description": "Record URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rubitime/latest/actions/get-schedule": {
      "get": {
        "operationId": "rubitime.get-schedule",
        "summary": "Get Schedule",
        "description": "Retrieves booking dates and times from Rubitime.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rubitime/latest/actions/get-schedule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchId",
            "in": "query",
            "required": true,
            "description": "Rubitime branch ID.",
            "schema": {
              "type": "number",
              "description": "Rubitime branch ID."
            }
          },
          {
            "name": "cooperatorId",
            "in": "query",
            "required": true,
            "description": "Rubitime employee/cooperator ID.",
            "schema": {
              "type": "number",
              "description": "Rubitime employee/cooperator ID."
            }
          },
          {
            "name": "serviceId",
            "in": "query",
            "required": true,
            "description": "Rubitime service ID.",
            "schema": {
              "type": "number",
              "description": "Rubitime service ID."
            }
          },
          {
            "name": "onlyAvailable",
            "in": "query",
            "required": false,
            "description": "Use 1 to return only available slots or 0 to return only occupied slots. Omit to return all slots.",
            "schema": {
              "type": "number",
              "description": "Use 1 to return only available slots or 0 to return only occupied slots. Omit to return all slots.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rubitime/latest/actions/remove-record": {
      "delete": {
        "operationId": "rubitime.remove-record",
        "summary": "Remove Record",
        "description": "Deletes an existing record from Rubitime.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rubitime/latest/actions/remove-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Rubitime record ID to delete.",
            "schema": {
              "type": "number",
              "description": "Rubitime record ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Provider result payload returned by Rubitime."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message returned by Rubitime for the delete request."
                          },
                          "status": {
                            "type": "string",
                            "description": "Rubitime request status, typically ok or error."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rubitime/latest/actions/update-record": {
      "put": {
        "operationId": "rubitime.update-record",
        "summary": "Update Record",
        "description": "Updates an existing record in Rubitime.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rubitime/latest/actions/update-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "Rubitime record ID to update."
                  },
                  "branchId": {
                    "type": "number",
                    "description": "Rubitime branch ID."
                  },
                  "cooperatorId": {
                    "type": "number",
                    "description": "Rubitime employee/cooperator ID."
                  },
                  "serviceId": {
                    "type": "number",
                    "description": "Rubitime service ID."
                  },
                  "record": {
                    "type": "string",
                    "description": "Appointment date and time.",
                    "example": "2026-05-01 10:00:00"
                  },
                  "status": {
                    "type": "number",
                    "description": "Record status code documented by Rubitime."
                  },
                  "name": {
                    "type": "string",
                    "description": "Customer full name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Customer phone number."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Customer comment for the record."
                  },
                  "price": {
                    "type": "number",
                    "description": "Service price."
                  },
                  "duration": {
                    "type": "number",
                    "description": "Service duration in minutes."
                  },
                  "prepayment": {
                    "type": "number",
                    "description": "Prepayment amount.",
                    "x-mindcloud-advanced": true
                  },
                  "prepaymentDate": {
                    "type": "string",
                    "description": "Prepayment completion date and time.",
                    "example": "2026-05-01 09:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "prepaymentUrl": {
                    "type": "string",
                    "description": "Prepayment URL.",
                    "x-mindcloud-advanced": true
                  },
                  "reminderMinutes": {
                    "type": "number",
                    "description": "Reminder offset in minutes.",
                    "x-mindcloud-advanced": true
                  },
                  "reminder": {
                    "type": "string",
                    "description": "Optional reminder timestamp documented by Rubitime.",
                    "example": "2035-01-01 09:00:00",
                    "x-mindcloud-advanced": true
                  },
                  "whom": {
                    "type": "number",
                    "description": "Creator marker; 0 means customer, other values indicate administrator.",
                    "x-mindcloud-advanced": true
                  },
                  "source": {
                    "type": "string",
                    "description": "Record source.",
                    "x-mindcloud-advanced": true
                  },
                  "customField1": {
                    "type": "string",
                    "description": "First Rubitime custom field value.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Record ID returned by Rubitime."
                          },
                          "url": {
                            "type": "string",
                            "description": "Rubitime record URL returned by the record endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
