{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PlagiarismCheck.org Universal API",
    "version": "0.0.1",
    "description": "Check plagiarism, detect AI content, and retrieve detailed reports"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/plagiarismCheckorg/latest/actions/delete-organization-check": {
      "delete": {
        "operationId": "plagiarismCheckorg.delete-organization-check",
        "summary": "Delete Organization Check",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/delete-organization-check"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Organization plagiarism check identifier.",
            "schema": {
              "type": "number",
              "description": "Organization plagiarism check identifier."
            }
          },
          {
            "name": "groupToken",
            "in": "query",
            "required": true,
            "description": "Organization group token required for organization plagiarism checks.",
            "schema": {
              "type": "string",
              "description": "Organization group token required for organization plagiarism checks."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/get-ai-check-report": {
      "get": {
        "operationId": "plagiarismCheckorg.get-ai-check-report",
        "summary": "Get AI Check Report",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/get-ai-check-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "AI check identifier returned by Submit AI Check From Text or Submit AI Check From File.",
            "schema": {
              "type": "number",
              "description": "AI check identifier returned by Submit AI Check From Text or Submit AI Check From File."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "comment": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "commentAuthor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "conclusion": {
                                "type": "string"
                              },
                              "conclusionType": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "number"
                              },
                              "creator": {
                                "type": "object",
                                "properties": {
                                  "aiChecksEnabled": {
                                    "type": "boolean"
                                  },
                                  "allowedLanguages": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "avatar": {
                                    "type": "string"
                                  },
                                  "balance": {
                                    "type": "object",
                                    "properties": {
                                      "aiBalance": {
                                        "type": "number"
                                      },
                                      "balance": {
                                        "type": "number"
                                      },
                                      "bonus": {
                                        "type": "number"
                                      },
                                      "hold": {
                                        "type": "number"
                                      },
                                      "holdBonus": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "balanceType": {
                                    "type": "number"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isBlocked": {
                                    "type": "boolean"
                                  },
                                  "isChangePasswordNeeded": {
                                    "type": "boolean"
                                  },
                                  "isEmailVerificationNeeded": {
                                    "type": "boolean"
                                  },
                                  "isGuest": {
                                    "type": "boolean"
                                  },
                                  "lastAiOrderPaidDaysAgo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "notAiOrders": {
                                    "type": "number"
                                  },
                                  "orders": {
                                    "type": "number"
                                  },
                                  "saleRole": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "enabled": {
                                "type": "boolean"
                              },
                              "groupId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hasOwnContent": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "likelyPercent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mark": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pages": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "percent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processedPercent": {
                                "type": "string"
                              },
                              "status": {
                                "type": "number"
                              },
                              "strongPercent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "number"
                              },
                              "words": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/get-ai-check-status": {
      "get": {
        "operationId": "plagiarismCheckorg.get-ai-check-status",
        "summary": "Get AI Check Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/get-ai-check-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "AI check identifier returned by Submit AI Check From Text or Submit AI Check From File.",
            "schema": {
              "type": "number",
              "description": "AI check identifier returned by Submit AI Check From Text or Submit AI Check From File."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "comment": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "commentAuthor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "conclusion": {
                                "type": "string"
                              },
                              "conclusionType": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "number"
                              },
                              "creator": {
                                "type": "object",
                                "properties": {
                                  "aiChecksEnabled": {
                                    "type": "boolean"
                                  },
                                  "allowedLanguages": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "avatar": {
                                    "type": "string"
                                  },
                                  "balance": {
                                    "type": "object",
                                    "properties": {
                                      "aiBalance": {
                                        "type": "number"
                                      },
                                      "balance": {
                                        "type": "number"
                                      },
                                      "bonus": {
                                        "type": "number"
                                      },
                                      "hold": {
                                        "type": "number"
                                      },
                                      "holdBonus": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "balanceType": {
                                    "type": "number"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isBlocked": {
                                    "type": "boolean"
                                  },
                                  "isChangePasswordNeeded": {
                                    "type": "boolean"
                                  },
                                  "isEmailVerificationNeeded": {
                                    "type": "boolean"
                                  },
                                  "isGuest": {
                                    "type": "boolean"
                                  },
                                  "lastAiOrderPaidDaysAgo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "notAiOrders": {
                                    "type": "number"
                                  },
                                  "orders": {
                                    "type": "number"
                                  },
                                  "saleRole": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "enabled": {
                                "type": "boolean"
                              },
                              "groupId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "hasOwnContent": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "likelyPercent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mark": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pages": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "percent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processedPercent": {
                                "type": "string"
                              },
                              "status": {
                                "type": "number"
                              },
                              "strongPercent": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "number"
                              },
                              "words": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/get-organization-check-status": {
      "get": {
        "operationId": "plagiarismCheckorg.get-organization-check-status",
        "summary": "Get Organization Check Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/get-organization-check-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Organization plagiarism check identifier.",
            "schema": {
              "type": "number",
              "description": "Organization plagiarism check identifier."
            }
          },
          {
            "name": "groupToken",
            "in": "query",
            "required": true,
            "description": "Organization group token required for organization plagiarism checks.",
            "schema": {
              "type": "string",
              "description": "Organization group token required for organization plagiarism checks."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/get-organization-report": {
      "get": {
        "operationId": "plagiarismCheckorg.get-organization-report",
        "summary": "Get Organization Report",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/get-organization-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Organization plagiarism check identifier.",
            "schema": {
              "type": "number",
              "description": "Organization plagiarism check identifier."
            }
          },
          {
            "name": "groupToken",
            "in": "query",
            "required": true,
            "description": "Organization group token required for organization plagiarism checks.",
            "schema": {
              "type": "string",
              "description": "Organization group token required for organization plagiarism checks."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/get-plagiarism-check-status": {
      "get": {
        "operationId": "plagiarismCheckorg.get-plagiarism-check-status",
        "summary": "Get Plagiarism Check Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/get-plagiarism-check-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Plagiarism check identifier returned by Submit Plagiarism Check.",
            "schema": {
              "type": "number",
              "description": "Plagiarism check identifier returned by Submit Plagiarism Check."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "aiReport": {
                                "type": "object",
                                "properties": {
                                  "comment": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "commentAuthor": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "conclusion": {
                                    "type": "string"
                                  },
                                  "conclusionType": {
                                    "type": "number"
                                  },
                                  "createdAt": {
                                    "type": "number"
                                  },
                                  "creator": {
                                    "type": "object",
                                    "properties": {
                                      "aiChecksEnabled": {
                                        "type": "boolean"
                                      },
                                      "allowedLanguages": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "avatar": {
                                        "type": "string"
                                      },
                                      "balance": {
                                        "type": "object",
                                        "properties": {
                                          "aiBalance": {
                                            "type": "number"
                                          },
                                          "balance": {
                                            "type": "number"
                                          },
                                          "bonus": {
                                            "type": "number"
                                          },
                                          "hold": {
                                            "type": "number"
                                          },
                                          "holdBonus": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "balanceType": {
                                        "type": "number"
                                      },
                                      "createdAt": {
                                        "type": "string"
                                      },
                                      "email": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "number"
                                      },
                                      "isBlocked": {
                                        "type": "boolean"
                                      },
                                      "isChangePasswordNeeded": {
                                        "type": "boolean"
                                      },
                                      "isEmailVerificationNeeded": {
                                        "type": "boolean"
                                      },
                                      "isGuest": {
                                        "type": "boolean"
                                      },
                                      "lastAiOrderPaidDaysAgo": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "notAiOrders": {
                                        "type": "number"
                                      },
                                      "orders": {
                                        "type": "number"
                                      },
                                      "saleRole": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "updatedAt": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "enabled": {
                                    "type": "boolean"
                                  },
                                  "groupId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "hasOwnContent": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "likelyPercent": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "mark": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "pages": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "percent": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "processedPercent": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "number"
                                  },
                                  "strongPercent": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "type": {
                                    "type": "number"
                                  },
                                  "words": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "creator": {
                                "type": "object",
                                "properties": {
                                  "aiChecksEnabled": {
                                    "type": "boolean"
                                  },
                                  "allowedLanguages": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "avatar": {
                                    "type": "string"
                                  },
                                  "balance": {
                                    "type": "object",
                                    "properties": {
                                      "aiBalance": {
                                        "type": "number"
                                      },
                                      "balance": {
                                        "type": "number"
                                      },
                                      "bonus": {
                                        "type": "number"
                                      },
                                      "hold": {
                                        "type": "number"
                                      },
                                      "holdBonus": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "balanceType": {
                                    "type": "number"
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isBlocked": {
                                    "type": "boolean"
                                  },
                                  "isChangePasswordNeeded": {
                                    "type": "boolean"
                                  },
                                  "isEmailVerificationNeeded": {
                                    "type": "boolean"
                                  },
                                  "isGuest": {
                                    "type": "boolean"
                                  },
                                  "lastAiOrderPaidDaysAgo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "notAiOrders": {
                                    "type": "number"
                                  },
                                  "orders": {
                                    "type": "number"
                                  },
                                  "saleRole": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updatedAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customAuthor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "filename": {
                                "type": "string"
                              },
                              "groupId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "isDeleted": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "string"
                              },
                              "pages": {
                                "type": "number"
                              },
                              "report": {
                                "type": "object",
                                "properties": {
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "percent": {
                                    "type": "string"
                                  },
                                  "sourceCount": {
                                    "type": "number"
                                  },
                                  "version": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "state": {
                                "type": "number"
                              },
                              "submittedAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "version": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "words": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/get-plagiarism-report": {
      "get": {
        "operationId": "plagiarismCheckorg.get-plagiarism-report",
        "summary": "Get Plagiarism Report",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/get-plagiarism-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Plagiarism check identifier returned by Submit Plagiarism Check.",
            "schema": {
              "type": "number",
              "description": "Plagiarism check identifier returned by Submit Plagiarism Check."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "report": {
                                "type": "object",
                                "properties": {
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "groupId": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "percent": {
                                    "type": "string"
                                  },
                                  "sourceCount": {
                                    "type": "number"
                                  },
                                  "textId": {
                                    "type": "number"
                                  },
                                  "version": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "reportData": {
                                "type": "object",
                                "properties": {
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "externalQueries": {
                                    "type": "number"
                                  },
                                  "indexes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "dbId": {
                                          "type": "number"
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "queries": {
                                          "type": "number"
                                        },
                                        "status": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "length": {
                                    "type": "number"
                                  },
                                  "matchedLength": {
                                    "type": "number"
                                  },
                                  "matchedPercent": {
                                    "type": "number"
                                  },
                                  "nodes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "enabled": {
                                          "type": "boolean"
                                        },
                                        "end": {
                                          "type": "number"
                                        },
                                        "start": {
                                          "type": "number"
                                        },
                                        "text": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "sourcesCount": {
                                    "type": "number"
                                  },
                                  "version": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/submit-ai-check-for-b2b-group": {
      "post": {
        "operationId": "plagiarismCheckorg.submit-ai-check-for-b2b-group",
        "summary": "Submit AI Check For B2B Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/submit-ai-check-for-b2b-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "text",
                  "groupId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "text": {
                    "type": "string",
                    "description": "Plain text content to scan with the TraceGPT AI detector for a specific B2B group."
                  },
                  "groupId": {
                    "type": "number",
                    "description": "B2B group identifier documented by the provider for grouped AI checks."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/submit-ai-check-from-file": {
      "post": {
        "operationId": "plagiarismCheckorg.submit-ai-check-from-file",
        "summary": "Submit AI Check From File",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/submit-ai-check-from-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to scan with the TraceGPT AI detector."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/submit-ai-check-from-text": {
      "post": {
        "operationId": "plagiarismCheckorg.submit-ai-check-from-text",
        "summary": "Submit AI Check From Text",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/submit-ai-check-from-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "text": {
                    "type": "string",
                    "description": "Plain text content to scan with the TraceGPT AI detector."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/plagiarismCheckorg/latest/actions/submit-organization-check-with-custom-author": {
      "post": {
        "operationId": "plagiarismCheckorg.submit-organization-check-with-custom-author",
        "summary": "Submit Organization Check With Custom Author",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/plagiarismCheckorg/latest/actions/submit-organization-check-with-custom-author"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "groupToken",
                  "author",
                  "text",
                  "customAuthor"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "groupToken": {
                    "type": "string",
                    "description": "Organization group token required for organization plagiarism checks."
                  },
                  "author": {
                    "type": "string",
                    "description": "Email of the organization member who will own the check."
                  },
                  "text": {
                    "type": "string",
                    "description": "Plain text content to check within the organization account."
                  },
                  "customAuthor": {
                    "type": "string",
                    "description": "Optional display author name when the real author is not registered in the organization account."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
[...]
