{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Typeform Universal API",
    "version": "0.0.9",
    "description": "Build forms, collect responses, personalize flows, and analyze results."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/typeform/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/typeform/latest/actions/auto-translate-form": {
      "post": {
        "operationId": "typeform.auto-translate-form",
        "summary": "Auto-Translate Form",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/auto-translate-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formId",
                  "language"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formId": {
                    "type": "string",
                    "description": "Typeform form identifier."
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attachment": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Field attachment translation object.",
                                  "properties": {
                                    "properties": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Field attachment properties.",
                                      "properties": {
                                        "description": {
                                          "type": "string",
                                          "description": "Translated attachment description."
                                        }
                                      }
                                    }
                                  }
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Translated field ID."
                                },
                                "layout": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Translated field layout.",
                                  "properties": {
                                    "attachment": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Layout attachment translation object.",
                                      "properties": {
                                        "properties": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "description": "Layout attachment properties.",
                                          "properties": {
                                            "description": {
                                              "type": "string",
                                              "description": "Translated layout attachment description."
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "properties": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Translated field properties.",
                                  "properties": {
                                    "buttonText": {
                                      "type": "string",
                                      "description": "Translated button text."
                                    },
                                    "choices": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "attachment": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "description": "Choice attachment translation object.",
                                            "properties": {
                                              "properties": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "description": "Choice attachment properties.",
                                                "properties": {
                                                  "description": {
                                                    "type": "string",
                                                    "description": "Translated choice attachment description."
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "id": {
                                            "type": "string",
                                            "description": "Choice ID."
                                          },
                                          "label": {
                                            "type": "string",
                                            "description": "Translated choice label."
                                          }
                                        }
                                      },
                                      "description": "Translated choice labels."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Translated field description."
                                    },
                                    "labels": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Translated opinion scale labels.",
                                      "properties": {
                                        "center": {
                                          "type": "string",
                                          "description": "Translated center label."
                                        },
                                        "left": {
                                          "type": "string",
                                          "description": "Translated left label."
                                        },
                                        "right": {
                                          "type": "string",
                                          "description": "Translated right label."
                                        }
                                      }
                                    }
                                  }
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Translated field title."
                                }
                              }
                            },
                            "description": "Translated form fields."
                          },
                          "messages": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Translated form messages.",
                            "properties": {
                              "block": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Translated block messages.",
                                "properties": {
                                  "dropdownPlaceholder": {
                                    "type": "string",
                                    "description": "Translated dropdown placeholder."
                                  },
                                  "longtextHint": {
                                    "type": "string",
                                    "description": "Translated long-text hint."
                                  },
                                  "shortTextPlaceholder": {
                                    "type": "string",
                                    "description": "Translated short-text placeholder."
                                  }
                                }
                              },
                              "label": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Translated label messages.",
                                "properties": {
                                  "buttonOk": {
                                    "type": "string",
                                    "description": "Translated ok label."
                                  },
                                  "buttonSubmit": {
                                    "type": "string",
                                    "description": "Translated submit label."
                                  },
                                  "errorRequired": {
                                    "type": "string",
                                    "description": "Translated required validation message."
                                  },
                                  "warningConnection": {
                                    "type": "string",
                                    "description": "Translated connection warning message."
                                  }
                                }
                              }
                            }
                          },
                          "thankyouScreens": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attachment": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Thank-you screen attachment translation object.",
                                  "properties": {
                                    "properties": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Thank-you screen attachment properties.",
                                      "properties": {
                                        "description": {
                                          "type": "string",
                                          "description": "Translated thank-you screen attachment description."
                                        }
                                      }
                                    }
                                  }
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Thank-you screen ID."
                                },
                                "layout": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Thank-you screen layout translation object.",
                                  "properties": {
                                    "attachment": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Thank-you layout attachment translation object.",
                                      "properties": {
                                        "properties": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "description": "Thank-you layout attachment properties.",
                                          "properties": {
                                            "description": {
                                              "type": "string",
                                              "description": "Translated thank-you layout attachment description."
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "properties": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Translated thank-you screen properties.",
                                  "properties": {
                                    "buttonText": {
                                      "type": "string",
                                      "description": "Translated thank-you button text."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Translated thank-you description text."
                                    }
                                  }
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Translated thank-you screen title."
                                }
                              }
                            },
                            "description": "Translated thank-you screens."
                          },
                          "welcomeScreens": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attachment": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Welcome screen attachment translation object.",
                                  "properties": {
                                    "properties": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Welcome screen attachment properties.",
                                      "properties": {
                                        "description": {
                                          "type": "string",
                                          "description": "Translated welcome screen attachment description."
                                        }
                                      }
                                    }
                                  }
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Welcome screen ID."
                                },
                                "layout": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Welcome screen layout translation object.",
                                  "properties": {
                                    "attachment": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Welcome layout attachment translation object.",
                                      "properties": {
                                        "properties": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "description": "Welcome layout attachment properties.",
                                          "properties": {
                                            "description": {
                                              "type": "string",
                                              "description": "Translated welcome layout attachment description."
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "properties": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Translated welcome screen properties.",
                                  "properties": {
                                    "buttonText": {
                                      "type": "string",
                                      "description": "Translated welcome button text."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Translated welcome description text."
                                    }
                                  }
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Translated welcome screen title."
                                }
                              }
                            },
                            "description": "Translated welcome screens."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/create-account-workspace": {
      "post": {
        "operationId": "typeform.create-account-workspace",
        "summary": "Create Account Workspace",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/create-account-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Typeform account identifier."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the new workspace."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Workspace ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/create-form": {
      "post": {
        "operationId": "typeform.create-form",
        "summary": "Create Form",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/create-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fields": {
                    "type": "string",
                    "description": "Form fields definition."
                  },
                  "hidden": {
                    "type": "string",
                    "description": "Hidden fields configuration."
                  },
                  "logic": {
                    "type": "string",
                    "description": "Logic jumps configuration."
                  },
                  "settings": {
                    "type": "string",
                    "description": "Form settings."
                  },
                  "thankyouScreens": {
                    "type": "string",
                    "description": "Thank-you screens definition."
                  },
                  "theme": {
                    "type": "string",
                    "description": "Theme configuration."
                  },
                  "title": {
                    "type": "string",
                    "description": "Form title."
                  },
                  "type": {
                    "type": "string",
                    "description": "Form type."
                  },
                  "variables": {
                    "type": "string",
                    "description": "Form variables definition."
                  },
                  "welcomeScreens": {
                    "type": "string",
                    "description": "Welcome screens definition."
                  },
                  "workspace": {
                    "type": "string",
                    "description": "Workspace association."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Form ID."
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Useful form links.",
                            "properties": {
                              "display": {
                                "type": "string",
                                "description": "Public form URL."
                              },
                              "responses": {
                                "type": "string",
                                "description": "Responses URL."
                              }
                            }
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Publish timestamp."
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Form settings.",
                            "properties": {
                              "autosaveProgress": {
                                "type": "boolean",
                                "description": "Whether progress autosave is enabled."
                              },
                              "hideNavigation": {
                                "type": "boolean",
                                "description": "Whether navigation is hidden."
                              },
                              "isPublic": {
                                "type": "boolean",
                                "description": "Whether form is public."
                              },
                              "language": {
                                "type": "string",
                                "description": "Form language."
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "allowIndexing": {
                                    "type": "boolean",
                                    "description": "Whether indexing is allowed."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "progressBar": {
                                "type": "string",
                                "description": "Progress bar style."
                              },
                              "showProgressBar": {
                                "type": "boolean",
                                "description": "Whether progress bar is shown."
                              },
                              "showQuestionNumber": {
                                "type": "boolean",
                                "description": "Whether question numbers are shown."
                              },
                              "showTypeformBranding": {
                                "type": "boolean",
                                "description": "Whether Typeform branding is shown."
                              }
                            }
                          },
                          "thankyouScreens": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Thank-you screen ID."
                                },
                                "properties": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Thank-you screen properties.",
                                  "properties": {
                                    "buttonText": {
                                      "type": "string",
                                      "description": "Button text."
                                    },
                                    "showButton": {
                                      "type": "boolean",
                                      "description": "Whether button is shown."
                                    }
                                  }
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Thank-you screen title."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Thank-you screen type."
                                }
                              }
                            },
                            "description": "Thank-you screens."
                          },
                          "theme": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Theme reference.",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "Theme URL."
                              }
                            }
                          },
                          "title": {
                            "type": "string",
                            "description": "Form title."
                          },
                          "type": {
                            "type": "string",
                            "description": "Form type."
                          },
                          "workspace": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Workspace reference.",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "Workspace URL."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/create-image": {
      "post": {
        "operationId": "typeform.create-image",
        "summary": "Create Image",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/create-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "File name for the uploaded image."
                  },
                  "image": {
                    "type": "string",
                    "description": "Image payload."
                  },
                  "url": {
                    "type": "string",
                    "description": "Public URL of the image."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avgColor": {
                            "type": "string",
                            "description": "Average image color."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Image file name."
                          },
                          "hasAlpha": {
                            "type": "boolean",
                            "description": "Whether image has alpha channel."
                          },
                          "height": {
                            "type": "number",
                            "description": "Image height in pixels."
                          },
                          "id": {
                            "type": "string",
                            "description": "Image ID."
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "Image media type."
                          },
                          "src": {
                            "type": "string",
                            "description": "Image source URL."
                          },
                          "uploadSource": {
                            "type": "string",
                            "description": "Upload source."
                          },
                          "width": {
                            "type": "number",
                            "description": "Image width in pixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/create-or-update-webhook": {
      "put": {
        "operationId": "typeform.create-or-update-webhook",
        "summary": "Create or Update Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/create-or-update-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formId",
                  "tag"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether webhook delivery is enabled."
                  },
                  "eventTypes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Webhook event types configuration."
                  },
                  "formId": {
                    "type": "string",
                    "description": "Typeform form identifier."
                  },
                  "secret": {
                    "type": "string",
                    "description": "Webhook signing secret."
                  },
                  "tag": {
                    "type": "string",
                    "description": "Webhook tag."
                  },
                  "url": {
                    "type": "string",
                    "description": "Destination URL for webhook deliveries."
                  },
                  "verifySsl": {
                    "type": "boolean",
                    "description": "Whether SSL certificate verification is enabled."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether webhook is enabled."
                          },
                          "eventTypes": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Webhook event type configuration.",
                            "properties": {
                              "formResponse": {
                                "type": "boolean",
                                "description": "Whether form_response events are enabled."
                              }
                            }
                          },
                          "formId": {
                            "type": "string",
                            "description": "Form ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Webhook ID."
                          },
                          "secret": {
                            "type": "string",
                            "description": "Webhook secret."
                          },
                          "tag": {
                            "type": "string",
                            "description": "Webhook tag."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook destination URL."
                          },
                          "verifySsl": {
                            "type": "boolean",
                            "description": "Whether SSL verification is enabled."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/create-theme": {
      "post": {
        "operationId": "typeform.create-theme",
        "summary": "Create Theme",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/create-theme"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "background": {
                    "type": "string",
                    "description": "Theme background settings."
                  },
                  "colors": {
                    "type": "boolean",
                    "description": "Theme colors configuration."
                  },
                  "fields": {
                    "type": "string",
                    "description": "Theme field styles."
                  },
                  "font": {
                    "type": "string",
                    "description": "Theme font settings."
                  },
                  "hasTransparentButton": {
                    "type": "string",
                    "description": "Whether buttons are transparent."
                  },
                  "name": {
                    "type": "string",
                    "description": "Theme name."
                  },
                  "roundedCorners": {
                    "type": "string",
                    "description": "Corner radius settings."
                  },
                  "screens": {
                    "type": "string",
                    "description": "Screen theme settings."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "background": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Theme background configuration.",
                            "properties": {
                              "brightness": {
                                "type": "number",
                                "description": "Background brightness."
                              },
                              "href": {
                                "type": "string",
                                "description": "Background image URL."
                              },
                              "layout": {
                                "type": "string",
                                "description": "Background layout."
                              }
                            }
                          },
                          "colors": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Theme colors.",
                            "properties": {
                              "answer": {
                                "type": "string",
                                "description": "Answer color."
                              },
                              "background": {
                                "type": "string",
                                "description": "Background color."
                              },
                              "button": {
                                "type": "string",
                                "description": "Button color."
                              },
                              "question": {
                                "type": "string",
                                "description": "Question color."
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Theme creation timestamp."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Field style settings.",
                            "properties": {
                              "alignment": {
                                "type": "string",
                                "description": "Field alignment."
                              },
                              "fontSize": {
                                "type": "string",
                                "description": "Field font size."
                              }
                            }
                          },
                          "font": {
                            "type": "string",
                            "description": "Theme font."
                          },
                          "hasTransparentButton": {
                            "type": "boolean",
                            "description": "Whether buttons are transparent."
                          },
                          "id": {
                            "type": "string",
                            "description": "Theme ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Theme name."
                          },
                          "roundedCorners": {
                            "type": "string",
                            "description": "Corner radius setting."
                          },
                          "screens": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Screen style settings.",
                            "properties": {
                              "alignment": {
                                "type": "string",
                                "description": "Screen alignment."
                              },
                              "fontSize": {
                                "type": "string",
                                "description": "Screen font size."
                              }
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Theme last update timestamp."
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Theme visibility."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/create-workspace": {
      "post": {
        "operationId": "typeform.create-workspace",
        "summary": "Create Workspace",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/create-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the new workspace."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string",
                            "description": "Typeform account ID."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether this is the default workspace."
                          },
                          "forms": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Workspace forms metadata.",
                            "properties": {
                              "count": {
                                "type": "number",
                                "description": "Number of forms in workspace."
                              },
                              "href": {
                                "type": "string",
                                "description": "Workspace forms API URL."
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Workspace ID."
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "accountMemberId": {
                                  "type": "string",
                                  "description": "Account member ID."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "Member email."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Workspace membership ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Member display name."
                                },
                                "permissions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Granted workspace permissions."
                                },
                                "role": {
                                  "type": "string",
                                  "description": "Member role in workspace."
                                },
                                "user": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Member user object.",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "description": "User email."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "User ID."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "User name."
                                    }
                                  }
                                }
                              }
                            },
                            "description": "Workspace members."
                          },
                          "name": {
                            "type": "string",
                            "description": "Workspace name."
                          },
                          "self": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Workspace self link object.",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "Workspace self URL."
                              }
                            }
                          },
                          "shared": {
                            "type": "boolean",
                            "description": "Whether the workspace is shared."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/delete-form": {
      "delete": {
        "operationId": "typeform.delete-form",
        "summary": "Delete Form",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/delete-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "description": "Typeform form identifier.",
            "schema": {
              "type": "string",
              "description": "Typeform form identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Empty response body returned when the form is deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/delete-form-translation": {
      "delete": {
        "operationId": "typeform.delete-form-translation",
        "summary": "Delete Form Translation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/delete-form-translation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "description": "Typeform form identifier.",
            "schema": {
              "type": "string",
              "description": "Typeform form identifier."
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "description": "Language code.",
            "schema": {
              "type": "string",
              "description": "Language code."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Empty response body returned when the form translation is deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeform/latest/actions/delete-image": {
      "delete": {
        "operationId": "typeform.delete-image",
        "summary": "Delete Image",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeform/latest/actions/delete-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imageId",
            "in": "query",
            "required": true,
            "description": "Typeform image identifier.",
            "schema": {
              "type": "string",
              "description": "Typeform image identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Empty response body returned when the image is deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
[...]
