{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "IQAir AirVisual Universal API",
    "version": "0.0.5",
    "description": "Access IQAir AirVisual v2 air-quality and weather data, including supported countries, states, cities, city observations, nearest-city observations, station lookup, station observations, nearest-station observations, and global city ranking where available for the connected API plan."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/iQAirAirVisual/latest/actions/get-city-air-quality": {
      "get": {
        "operationId": "iQAirAirVisual.get-city-air-quality",
        "summary": "Get City Air Quality",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/get-city-air-quality"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country name exactly as returned by the List Countries action.",
            "schema": {
              "type": "string",
              "description": "Country name exactly as returned by the List Countries action.",
              "example": "USA"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "State name exactly as returned by the List States action.",
            "schema": {
              "type": "string",
              "description": "State name exactly as returned by the List States action.",
              "example": "California"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "City name exactly as returned by the List Cities action.",
            "schema": {
              "type": "string",
              "description": "City name exactly as returned by the List Cities action.",
              "example": "Los Angeles"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "City name for the requested air quality record."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country name for the requested air quality record."
                          },
                          "current": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Current observation payload.",
                            "properties": {
                              "pollution": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current pollution measurements.",
                                "properties": {
                                  "aqicn": {
                                    "type": "number",
                                    "description": "China AQI value."
                                  },
                                  "aqius": {
                                    "type": "number",
                                    "description": "US AQI value."
                                  },
                                  "maincn": {
                                    "type": "string",
                                    "description": "Dominant China pollutant code."
                                  },
                                  "mainus": {
                                    "type": "string",
                                    "description": "Dominant US pollutant code."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the pollution reading."
                                  }
                                }
                              },
                              "weather": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current weather measurements.",
                                "properties": {
                                  "heatIndex": {
                                    "type": "number",
                                    "description": "Calculated heat index in Celsius."
                                  },
                                  "hu": {
                                    "type": "number",
                                    "description": "Humidity percentage."
                                  },
                                  "ic": {
                                    "type": "string",
                                    "description": "Weather icon code."
                                  },
                                  "pr": {
                                    "type": "number",
                                    "description": "Atmospheric pressure in hPa."
                                  },
                                  "tp": {
                                    "type": "number",
                                    "description": "Temperature in Celsius."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the weather reading."
                                  },
                                  "wd": {
                                    "type": "number",
                                    "description": "Wind direction in degrees."
                                  },
                                  "ws": {
                                    "type": "number",
                                    "description": "Wind speed in meters per second."
                                  }
                                }
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Geospatial location payload for the city.",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates in GeoJSON order."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            }
                          },
                          "state": {
                            "type": "string",
                            "description": "State name for the requested air quality record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iQAirAirVisual/latest/actions/get-city-ranking": {
      "get": {
        "operationId": "iQAirAirVisual.get-city-ranking",
        "summary": "Get City Ranking",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/get-city-ranking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Optional ranking order: asc for cleanest cities or desc for most polluted cities.",
            "schema": {
              "type": "string",
              "description": "Optional ranking order: asc for cleanest cities or desc for most polluted cities.",
              "example": "desc"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional country filter. Allowed documented values include Thailand, USA, and Canada.",
            "schema": {
              "type": "string",
              "description": "Optional country filter. Allowed documented values include Thailand, USA, and Canada.",
              "example": "USA"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Ranked city name."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country for the ranked city."
                          },
                          "ranking": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Ranking metrics for the city.",
                            "properties": {
                              "currentAqi": {
                                "type": "number",
                                "description": "Current AQI ranking value."
                              },
                              "currentAqiCn": {
                                "type": "number",
                                "description": "Current China AQI ranking value."
                              },
                              "lastAqi": {
                                "type": "number",
                                "description": "Previous AQI ranking value when present."
                              },
                              "lastAqiCn": {
                                "type": "number",
                                "description": "Previous China AQI ranking value when present."
                              }
                            }
                          },
                          "state": {
                            "type": "string",
                            "description": "State for the ranked city."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iQAirAirVisual/latest/actions/get-nearest-city-air-quality": {
      "get": {
        "operationId": "iQAirAirVisual.get-nearest-city-air-quality",
        "summary": "Get Nearest City Air Quality",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/get-nearest-city-air-quality"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude coordinate in decimal degrees.",
              "example": 34.0522
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude coordinate in decimal degrees.",
              "example": -118.2437
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Nearest city name for the requested coordinates."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country name for the nearest city."
                          },
                          "current": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Current observation payload.",
                            "properties": {
                              "pollution": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current pollution measurements.",
                                "properties": {
                                  "aqicn": {
                                    "type": "number",
                                    "description": "China AQI value."
                                  },
                                  "aqius": {
                                    "type": "number",
                                    "description": "US AQI value."
                                  },
                                  "maincn": {
                                    "type": "string",
                                    "description": "Dominant China pollutant code."
                                  },
                                  "mainus": {
                                    "type": "string",
                                    "description": "Dominant US pollutant code."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the pollution reading."
                                  }
                                }
                              },
                              "weather": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current weather measurements.",
                                "properties": {
                                  "heatIndex": {
                                    "type": "number",
                                    "description": "Calculated heat index in Celsius."
                                  },
                                  "hu": {
                                    "type": "number",
                                    "description": "Humidity percentage."
                                  },
                                  "ic": {
                                    "type": "string",
                                    "description": "Weather icon code."
                                  },
                                  "pr": {
                                    "type": "number",
                                    "description": "Atmospheric pressure in hPa."
                                  },
                                  "tp": {
                                    "type": "number",
                                    "description": "Temperature in Celsius."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the weather reading."
                                  },
                                  "wd": {
                                    "type": "number",
                                    "description": "Wind direction in degrees."
                                  },
                                  "ws": {
                                    "type": "number",
                                    "description": "Wind speed in meters per second."
                                  }
                                }
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Geospatial location payload for the nearest city.",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates in GeoJSON order."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            }
                          },
                          "state": {
                            "type": "string",
                            "description": "State name for the nearest city."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iQAirAirVisual/latest/actions/get-nearest-city-air-quality-by-ip": {
      "get": {
        "operationId": "iQAirAirVisual.get-nearest-city-air-quality-by-ip",
        "summary": "Get Nearest City Air Quality By IP",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/get-nearest-city-air-quality-by-ip"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Nearest city name resolved from the caller IP address."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country name for the nearest city."
                          },
                          "current": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Current observation payload.",
                            "properties": {
                              "pollution": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current pollution measurements.",
                                "properties": {
                                  "aqicn": {
                                    "type": "number",
                                    "description": "China AQI value."
                                  },
                                  "aqius": {
                                    "type": "number",
                                    "description": "US AQI value."
                                  },
                                  "maincn": {
                                    "type": "string",
                                    "description": "Dominant China pollutant code."
                                  },
                                  "mainus": {
                                    "type": "string",
                                    "description": "Dominant US pollutant code."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the pollution reading."
                                  }
                                }
                              },
                              "weather": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current weather measurements.",
                                "properties": {
                                  "heatIndex": {
                                    "type": "number",
                                    "description": "Calculated heat index in Celsius."
                                  },
                                  "hu": {
                                    "type": "number",
                                    "description": "Humidity percentage."
                                  },
                                  "ic": {
                                    "type": "string",
                                    "description": "Weather icon code."
                                  },
                                  "pr": {
                                    "type": "number",
                                    "description": "Atmospheric pressure in hPa."
                                  },
                                  "tp": {
                                    "type": "number",
                                    "description": "Temperature in Celsius."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the weather reading."
                                  },
                                  "wd": {
                                    "type": "number",
                                    "description": "Wind direction in degrees."
                                  },
                                  "ws": {
                                    "type": "number",
                                    "description": "Wind speed in meters per second."
                                  }
                                }
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Geospatial location payload for the nearest city.",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates in GeoJSON order."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            }
                          },
                          "state": {
                            "type": "string",
                            "description": "State name for the nearest city."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iQAirAirVisual/latest/actions/get-nearest-station-air-quality": {
      "get": {
        "operationId": "iQAirAirVisual.get-nearest-station-air-quality",
        "summary": "Get Nearest Station Air Quality",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/get-nearest-station-air-quality"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude coordinate in decimal degrees.",
              "example": 47.56038
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude coordinate in decimal degrees.",
              "example": -52.7115
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "City containing the nearest station."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country containing the nearest station."
                          },
                          "current": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Current observation payload.",
                            "properties": {
                              "pollution": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current pollution measurements.",
                                "properties": {
                                  "aqicn": {
                                    "type": "number",
                                    "description": "China AQI value."
                                  },
                                  "aqius": {
                                    "type": "number",
                                    "description": "US AQI value."
                                  },
                                  "maincn": {
                                    "type": "string",
                                    "description": "Dominant China pollutant code."
                                  },
                                  "mainus": {
                                    "type": "string",
                                    "description": "Dominant US pollutant code."
                                  },
                                  "o3": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Ozone pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "Ozone China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "Ozone US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "Ozone concentration."
                                      }
                                    }
                                  },
                                  "p1": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "PM10 pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "PM10 China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "PM10 US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "PM10 concentration."
                                      }
                                    }
                                  },
                                  "p2": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "PM2.5 pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "PM2.5 China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "PM2.5 US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "PM2.5 concentration."
                                      }
                                    }
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the pollution reading."
                                  }
                                }
                              },
                              "weather": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current weather measurements.",
                                "properties": {
                                  "heatIndex": {
                                    "type": "number",
                                    "description": "Calculated heat index in Celsius."
                                  },
                                  "hu": {
                                    "type": "number",
                                    "description": "Humidity percentage."
                                  },
                                  "ic": {
                                    "type": "string",
                                    "description": "Weather icon code."
                                  },
                                  "pr": {
                                    "type": "number",
                                    "description": "Atmospheric pressure in hPa."
                                  },
                                  "tp": {
                                    "type": "number",
                                    "description": "Temperature in Celsius."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the weather reading."
                                  },
                                  "wd": {
                                    "type": "number",
                                    "description": "Wind direction in degrees."
                                  },
                                  "ws": {
                                    "type": "number",
                                    "description": "Wind speed in meters per second."
                                  }
                                }
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Geospatial location payload for the station.",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates in GeoJSON order."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "Nearest station name for the requested coordinates."
                          },
                          "state": {
                            "type": "string",
                            "description": "State containing the nearest station."
                          },
                          "units": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Measurement unit codes for pollutant families.",
                            "properties": {
                              "co": {
                                "type": "string",
                                "description": "Unit code for carbon monoxide."
                              },
                              "n2": {
                                "type": "string",
                                "description": "Unit code for nitrogen dioxide."
                              },
                              "o3": {
                                "type": "string",
                                "description": "Unit code for ozone."
                              },
                              "p1": {
                                "type": "string",
                                "description": "Unit code for PM10."
                              },
                              "p2": {
                                "type": "string",
                                "description": "Unit code for PM2.5."
                              },
                              "pm10": {
                                "type": "string",
                                "description": "Unit code for PM10 alias."
                              },
                              "pm25": {
                                "type": "string",
                                "description": "Unit code for PM2.5 alias."
                              },
                              "s2": {
                                "type": "string",
                                "description": "Unit code for sulfur dioxide."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iQAirAirVisual/latest/actions/get-nearest-station-air-quality-by-ip": {
      "get": {
        "operationId": "iQAirAirVisual.get-nearest-station-air-quality-by-ip",
        "summary": "Get Nearest Station Air Quality By IP",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/get-nearest-station-air-quality-by-ip"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "City containing the nearest station."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country containing the nearest station."
                          },
                          "current": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Current observation payload.",
                            "properties": {
                              "pollution": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current pollution measurements.",
                                "properties": {
                                  "aqicn": {
                                    "type": "number",
                                    "description": "China AQI value."
                                  },
                                  "aqius": {
                                    "type": "number",
                                    "description": "US AQI value."
                                  },
                                  "co": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Carbon monoxide pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "Carbon monoxide China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "Carbon monoxide US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "Carbon monoxide concentration."
                                      }
                                    }
                                  },
                                  "maincn": {
                                    "type": "string",
                                    "description": "Dominant China pollutant code."
                                  },
                                  "mainus": {
                                    "type": "string",
                                    "description": "Dominant US pollutant code."
                                  },
                                  "n2": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Nitrogen dioxide pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "Nitrogen dioxide China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "Nitrogen dioxide US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "Nitrogen dioxide concentration."
                                      }
                                    }
                                  },
                                  "o3": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Ozone pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "Ozone China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "Ozone US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "Ozone concentration."
                                      }
                                    }
                                  },
                                  "p1": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "PM10 pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "PM10 China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "PM10 US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "PM10 concentration."
                                      }
                                    }
                                  },
                                  "p2": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "PM2.5 pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "PM2.5 China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "PM2.5 US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "PM2.5 concentration."
                                      }
                                    }
                                  },
                                  "s2": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Sulfur dioxide pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "Sulfur dioxide China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "Sulfur dioxide US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "Sulfur dioxide concentration."
                                      }
                                    }
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the pollution reading."
                                  }
                                }
                              },
                              "weather": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current weather measurements.",
                                "properties": {
                                  "heatIndex": {
                                    "type": "number",
                                    "description": "Calculated heat index in Celsius."
                                  },
                                  "hu": {
                                    "type": "number",
                                    "description": "Humidity percentage."
                                  },
                                  "ic": {
                                    "type": "string",
                                    "description": "Weather icon code."
                                  },
                                  "pr": {
                                    "type": "number",
                                    "description": "Atmospheric pressure in hPa."
                                  },
                                  "tp": {
                                    "type": "number",
                                    "description": "Temperature in Celsius."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the weather reading."
                                  },
                                  "wd": {
                                    "type": "number",
                                    "description": "Wind direction in degrees."
                                  },
                                  "ws": {
                                    "type": "number",
                                    "description": "Wind speed in meters per second."
                                  }
                                }
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Geospatial location payload for the station.",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates in GeoJSON order."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "Nearest station name resolved from the caller IP address."
                          },
                          "state": {
                            "type": "string",
                            "description": "State containing the nearest station."
                          },
                          "units": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Measurement unit codes for pollutant families.",
                            "properties": {
                              "co": {
                                "type": "string",
                                "description": "Unit code for carbon monoxide."
                              },
                              "n2": {
                                "type": "string",
                                "description": "Unit code for nitrogen dioxide."
                              },
                              "o3": {
                                "type": "string",
                                "description": "Unit code for ozone."
                              },
                              "p1": {
                                "type": "string",
                                "description": "Unit code for PM10."
                              },
                              "p2": {
                                "type": "string",
                                "description": "Unit code for PM2.5."
                              },
                              "pm10": {
                                "type": "string",
                                "description": "Unit code for PM10 alias."
                              },
                              "pm25": {
                                "type": "string",
                                "description": "Unit code for PM2.5 alias."
                              },
                              "s2": {
                                "type": "string",
                                "description": "Unit code for sulfur dioxide."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iQAirAirVisual/latest/actions/get-station-air-quality": {
      "get": {
        "operationId": "iQAirAirVisual.get-station-air-quality",
        "summary": "Get Station Air Quality",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/get-station-air-quality"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "station",
            "in": "query",
            "required": true,
            "description": "Station name exactly as returned by the List Stations action.",
            "schema": {
              "type": "string",
              "description": "Station name exactly as returned by the List Stations action.",
              "example": "Gangnam-gu"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "City name containing the requested station.",
            "schema": {
              "type": "string",
              "description": "City name containing the requested station.",
              "example": "Seoul"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "State name containing the requested station.",
            "schema": {
              "type": "string",
              "description": "State name containing the requested station.",
              "example": "Seoul"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country name containing the requested station.",
            "schema": {
              "type": "string",
              "description": "Country name containing the requested station.",
              "example": "South Korea"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "City containing the station."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country containing the station."
                          },
                          "current": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Current observation payload.",
                            "properties": {
                              "pollution": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current pollution measurements.",
                                "properties": {
                                  "aqicn": {
                                    "type": "number",
                                    "description": "China AQI value."
                                  },
                                  "aqius": {
                                    "type": "number",
                                    "description": "US AQI value."
                                  },
                                  "maincn": {
                                    "type": "string",
                                    "description": "Dominant China pollutant code."
                                  },
                                  "mainus": {
                                    "type": "string",
                                    "description": "Dominant US pollutant code."
                                  },
                                  "o3": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Ozone pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "Ozone China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "Ozone US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "Ozone concentration."
                                      }
                                    }
                                  },
                                  "p1": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "PM10 pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "PM10 China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "PM10 US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "PM10 concentration."
                                      }
                                    }
                                  },
                                  "p2": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "PM2.5 pollutant breakdown.",
                                    "properties": {
                                      "aqicn": {
                                        "type": "number",
                                        "description": "PM2.5 China AQI contribution."
                                      },
                                      "aqius": {
                                        "type": "number",
                                        "description": "PM2.5 US AQI contribution."
                                      },
                                      "conc": {
                                        "type": "number",
                                        "description": "PM2.5 concentration."
                                      }
                                    }
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the pollution reading."
                                  }
                                }
                              },
                              "weather": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Current weather measurements.",
                                "properties": {
                                  "heatIndex": {
                                    "type": "number",
                                    "description": "Calculated heat index in Celsius."
                                  },
                                  "hu": {
                                    "type": "number",
                                    "description": "Humidity percentage."
                                  },
                                  "ic": {
                                    "type": "string",
                                    "description": "Weather icon code."
                                  },
                                  "pr": {
                                    "type": "number",
                                    "description": "Atmospheric pressure in hPa."
                                  },
                                  "tp": {
                                    "type": "number",
                                    "description": "Temperature in Celsius."
                                  },
                                  "ts": {
                                    "type": "string",
                                    "description": "Timestamp for the weather reading."
                                  },
                                  "wd": {
                                    "type": "number",
                                    "description": "Wind direction in degrees."
                                  },
                                  "ws": {
                                    "type": "number",
                                    "description": "Wind speed in meters per second."
                                  }
                                }
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Geospatial location payload for the station.",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Longitude and latitude coordinates in GeoJSON order."
                              },
                              "type": {
                                "type": "string",
                                "description": "GeoJSON geometry type."
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "Station display name."
                          },
                          "state": {
                            "type": "string",
                            "description": "State containing the station."
                          },
                          "units": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Measurement unit codes for pollutant families.",
                            "properties": {
                              "co": {
                                "type": "string",
                                "description": "Unit code for carbon monoxide."
                              },
                              "n2": {
                                "type": "string",
                                "description": "Unit code for nitrogen dioxide."
                              },
                              "o3": {
                                "type": "string",
                                "description": "Unit code for ozone."
                              },
                              "p1": {
                                "type": "string",
                                "description": "Unit code for PM10."
                              },
                              "p2": {
                                "type": "string",
                                "description": "Unit code for PM2.5."
                              },
                              "pm10": {
                                "type": "string",
                                "description": "Unit code for PM10 alias."
                              },
                              "pm25": {
                                "type": "string",
                                "description": "Unit code for PM2.5 alias."
                              },
                              "s2": {
                                "type": "string",
                                "description": "Unit code for sulfur dioxide."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iQAirAirVisual/latest/actions/list-cities": {
      "get": {
        "operationId": "iQAirAirVisual.list-cities",
        "summary": "List Cities",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iQAirAirVisual/latest/actions/list-cities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country name exactly as returned by the List Countries action.",
            "schema": {
              "type": "string",
              "description": "Country name exactly as returned by the List Countries action.",
              "example": "USA"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "State name exactly as returned by the List States action.",
            "schema": {
              "type": "string",
              "description": "State name exactly as returned by the List States action.",
              "example": "California"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "City name returned for the selected state and country."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
[...]
