{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Apollo Universal API",
    "version": "0.0.65",
    "description": "Apollo: Find prospects, enrich contacts, and automate sales outreach"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/apolloio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/apolloio/latest/actions/bulk-create-accounts": {
      "post": {
        "operationId": "apolloio.bulk-create-accounts",
        "summary": "Bulk Create Accounts",
        "description": "Creates multiple new accounts in Apollo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apolloio/latest/actions/bulk-create-accounts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accounts[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accounts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of account attribute objects (maximum 100 accounts per request)"
                  },
                  "accounts[].name": {
                    "type": "string",
                    "description": "Account name"
                  },
                  "accounts[].domain": {
                    "type": "string",
                    "description": "Company domain (e.g., 'example.com')"
                  },
                  "accounts[].ownerId": {
                    "type": "string",
                    "description": "Account owner user ID (BSON::ObjectId format). Defaults to current user if not provided"
                  },
                  "accounts[].phone": {
                    "type": "string",
                    "description": "Company phone number"
                  },
                  "accounts[].phoneStatusCd": {
                    "type": "string",
                    "description": "Phone validation status"
                  },
                  "accounts[].rawAddress": {
                    "type": "string",
                    "description": "Company address"
                  },
                  "accounts[].linkedinUrl": {
                    "type": "string",
                    "description": "LinkedIn company page URL"
                  },
                  "accounts[].facebookUrl": {
                    "type": "string",
                    "description": "Facebook page URL"
                  },
                  "accounts[].twitterUrl": {
                    "type": "string",
                    "description": "Twitter profile URL"
                  },
                  "accounts[].salesforceId": {
                    "type": "string",
                    "description": "Salesforce account ID for CRM integration"
                  },
                  "accounts[].hubspotId": {
                    "type": "string",
                    "description": "HubSpot company ID for CRM integration"
                  },
                  "accounts[].mergedCrmIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Additional CRM IDs for deduplication"
                  },
                  "accounts[].organizationId": {
                    "type": "string",
                    "description": "Apollo organization ID"
                  },
                  "accounts[].parentAccountId": {
                    "type": "string",
                    "description": "Parent account ID for account hierarchy (BSON::ObjectId format)"
                  },
                  "accounts[].accountStageId": {
                    "type": "string",
                    "description": "Account stage/pipeline stage ID (BSON::ObjectId format)"
                  },
                  "accounts[].typedCustomFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom field values as key-value pairs where key is the field_id and value is the field_value"
                  },
                  "accounts[].appendLabelNames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Label names to apply to the account"
                  },
                  "runDedupe": {
                    "type": "boolean",
                    "description": "Enable aggressive deduplication by domain, organization_id, and name. When false (default), only matches by CRM IDs. When true, also matches by domain, organization_id, and name. Existing accounts are returned without modification in both modes"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAccounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountStageId": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "creatorId": {
                                  "type": "string"
                                },
                                "crmOwnerId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "crmRecordUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "existenceLevel": {
                                  "type": "string"
                                },
                                "facebookUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "hubspotId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "intentStrength": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "linkedinUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "modality": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "organizationHeadcountSixMonthGrowth": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "organizationHeadcountTwelveMonthGrowth": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "organizationHeadcountTwentyFourMonthGrowth": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "organizationId": {
                                  "type": "string"
                                },
                                "originalSource": {
                                  "type": "string"
                                },
                                "ownerId": {
                                  "type": "string"
                                },
                                "parentAccountId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "phone": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "phoneStatus": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "rawAddress": {
                                  "type": "string"
                                },
                                "salesforceId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "showIntent": {
                                  "type": "boolean"
                                },
                                "source": {
                                  "type": "string"
                                },
                                "sourceDisplayName": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "streetAddress": {
                                  "type": "string"
                                },
                                "suggestedFromRuleEngineConfigId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "teamId": {
                                  "type": "string"
                                },
                                "twitterUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apolloio/latest/actions/bulk-create-contacts": {
      "post": {
        "operationId": "apolloio.bulk-create-contacts",
        "summary": "Bulk Create Contacts",
        "description": "Creates multiple new contacts in Apollo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apolloio/latest/actions/bulk-create-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contacts[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contacts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact objects to create (maximum 100 contacts per request)"
                  },
                  "contacts[].firstName": {
                    "type": "string",
                    "description": "Contact's first name"
                  },
                  "contacts[].lastName": {
                    "type": "string",
                    "description": "Contact's last name"
                  },
                  "contacts[].email": {
                    "type": "string",
                    "description": "Contact's email address"
                  },
                  "contacts[].title": {
                    "type": "string",
                    "description": "Contact's job title"
                  },
                  "contacts[].primaryTitle": {
                    "type": "string",
                    "description": "Primary job title (takes precedence over title)"
                  },
                  "contacts[].organizationName": {
                    "type": "string",
                    "description": "Company/organization name"
                  },
                  "contacts[].phone": {
                    "type": "string",
                    "description": "Phone number"
                  },
                  "contacts[].presentRawAddress": {
                    "type": "string",
                    "description": "Physical address"
                  },
                  "contacts[].linkedinUrl": {
                    "type": "string",
                    "description": "LinkedIn profile URL"
                  },
                  "contacts[].facebookUrl": {
                    "type": "string",
                    "description": "Facebook profile URL"
                  },
                  "contacts[].twitterUrl": {
                    "type": "string",
                    "description": "Twitter profile URL"
                  },
                  "contacts[].photoUrl": {
                    "type": "string",
                    "description": "Profile photo URL"
                  },
                  "contacts[].accountId": {
                    "type": "string",
                    "description": "Associated account ID"
                  },
                  "contacts[].organizationId": {
                    "type": "string",
                    "description": "Associated organization ID"
                  },
                  "contacts[].ownerId": {
                    "type": "string",
                    "description": "Contact owner user ID (defaults to current user if not provided)"
                  },
                  "contacts[].contactStageId": {
                    "type": "string",
                    "description": "Contact stage ID"
                  },
                  "contacts[].salesforceId": {
                    "type": "string",
                    "description": "Salesforce ID for matching and deduplication"
                  },
                  "contacts[].hubspotId": {
                    "type": "string",
                    "description": "HubSpot ID for matching and deduplication"
                  },
                  "contacts[].salesforceLeadId": {
                    "type": "string",
                    "description": "Salesforce Lead ID"
                  },
                  "contacts[].salesforceContactId": {
                    "type": "string",
                    "description": "Salesforce Contact ID for matching"
                  },
                  "contacts[].salesforceAccountId": {
                    "type": "string",
                    "description": "Salesforce Account ID"
                  },
                  "contacts[].outreachId": {
                    "type": "string",
                    "description": "Outreach.io ID"
                  },
                  "contacts[].salesloftId": {
                    "type": "string",
                    "description": "SalesLoft ID"
                  },
                  "contacts[].phoneStatusCd": {
                    "type": "string",
                    "description": "Phone validation status"
                  },
                  "contacts[].typedCustomFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom field values as key-value pairs where key is the field_id and value is the field_value"
                  },
                  "contacts[].contactEmails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of email objects with position"
                  },
                  "contacts[].contactEmails[].email": {
                    "type": "string"
                  },
                  "contacts[].contactEmails[].position": {
                    "type": "number"
                  },
                  "contacts[].phoneNumbers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of phone number objects"
                  },
                  "contacts[].phoneNumbers[].rawNumber": {
                    "type": "string"
                  },
                  "contacts[].phoneNumbers[].position": {
                    "type": "number"
                  },
                  "contacts[].contactRoleTypeIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of contact role type IDs"
                  },
                  "contacts[].appendLabelNames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of label names to add to the contact"
                  },
                  "runDedupe": {
                    "type": "boolean",
                    "description": "Enable full deduplication across all sources. When false (default), creates duplicates for non-email_import sources and merges with email_import placeholders only. When true, returns existing contacts without modifying them (except email_import placeholders which are still merged). Matches by email, CRM IDs, or name + organization"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdContacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "accountPhoneNote": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "callOptedOut": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "city": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactEmails": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "email": {
                                        "type": "string"
                                      },
                                      "emailMd5": {
                                        "type": "string"
                                      },
                                      "emailNeedsTickling": {
                                        "type": "boolean"
                                      },
                                      "emailSha256": {
                                        "type": "string"
                                      },
                                      "emailStatus": {
                                        "type": "string"
                                      },
                                      "emailStatusUnavailableReason": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "emailTrueStatus": {
                                        "type": "string"
                                      },
                                      "extrapolatedEmailConfidence": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "freeDomain": {
                                        "type": "boolean"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "source": {
                                        "type": "string"
                                      },
                                      "thirdPartyVendorName": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "contactStageId": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "creatorId": {
                                  "type": "string"
                                },
                                "crmId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "crmOwnerId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "crmRecordUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "customFieldErrors": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "directDialEnrichmentFailedAt": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "directDialStatus": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "email": {
                                  "type": "string"
                                },
                                "emailDomainCatchall": {
                                  "type": "boolean"
                                },
                                "emailFromCustomer": {
                                  "type": "boolean"
                                },
                                "emailNeedsTickling": {
                                  "type": "boolean"
                                },
                                "emailSource": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "emailStatus": {
                                  "type": "string"
                                },
                                "emailStatusUnavailableReason": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "emailTrueStatus": {
                                  "type": "string"
                                },
                                "emailUnsubscribed": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "existenceLevel": {
                                  "type": "string"
                                },
                                "extrapolatedEmailConfidence": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "facebookUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "formattedAddress": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "freeDomain": {
                                  "type": "boolean"
                                },
                                "hasEmailArcgateRequest": {
                                  "type": "boolean"
                                },
                                "hasPendingEmailArcgateRequest": {
                                  "type": "boolean"
                                },
                                "headline": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "hubspotCompanyId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "hubspotVid": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "intentStrength": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lastActivityDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "linkedinUid": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "linkedinUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "mergedCrmIds": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "name": {
                                  "type": "string"
                                },
                                "organizationId": {
                                  "type": "string"
                                },
                                "organizationName": {
                                  "type": "string"
                                },
                                "originalSource": {
                                  "type": "string"
                                },
                                "ownerId": {
                                  "type": "string"
                                },
                                "personDeleted": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "personId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "photoUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "postalCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "presentRawAddress": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "queuedForCrmPush": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "salesforceAccountId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "salesforceContactId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "salesforceId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "salesforceLeadId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "sanitizedPhone": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "showIntent": {
                                  "type": "boolean"
                                },
                                "source": {
                                  "type": "string"
                                },
                                "sourceDisplayName": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "streetAddress": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "suggestedFromRuleEngineConfigId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "timeZone": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "title": {
                                  "type": "string"
                                },
                                "twitterUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updatedEmailTrueStatus": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apolloio/latest/actions/bulk-organization-enrichment": {
      "get": {
        "operationId": "apolloio.bulk-organization-enrichment",
        "summary": "Bulk Organization Enrichment",
        "description": "Retrieves enriched data for up to 10 organizations from Apollo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apolloio/latest/actions/bulk-organization-enrichment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "errorMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "missingRecords": {
                            "type": "number"
                          },
                          "organizations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "alexaRanking": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "angellistUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "blogUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "crunchbaseUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "departmentalHeadCount": {
                                  "type": "object",
                                  "properties": {
                                    "accounting": {
                                      "type": "number"
                                    },
                                    "administrative": {
                                      "type": "number"
                                    },
                                    "artsAndDesign": {
                                      "type": "number"
                                    },
                                    "businessDevelopment": {
                                      "type": "number"
                                    },
                                    "consulting": {
                                      "type": "number"
                                    },
                                    "dataScience": {
                                      "type": "number"
                                    },
                                    "education": {
                                      "type": "number"
                                    },
                                    "engineering": {
                                      "type": "number"
                                    },
                                    "entrepreneurship": {
                                      "type": "number"
                                    },
                                    "finance": {
                                      "type": "number"
                                    },
                                    "humanResources": {
                                      "type": "number"
                                    },
                                    "informationTechnology": {
                                      "type": "number"
                                    },
                                    "legal": {
                                      "type": "number"
                                    },
                                    "marketing": {
                                      "type": "number"
                                    },
                                    "mediaAndCommmunication": {
                                      "type": "number"
                                    },
                                    "operations": {
                                      "type": "number"
                                    },
                                    "productManagement": {
                                      "type": "number"
                                    },
                                    "sales": {
                                      "type": "number"
                                    },
                                    "support": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "estimatedNumEmployees": {
                                  "type": "number"
                                },
                                "facebookUrl": {
                                  "type": "string"
                                },
                                "foundedYear": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "hasIntentSignalAccount": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "industries": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "industry": {
                                  "type": "string"
                                },
                                "industryTagId": {
                                  "type": "string"
                                },
                                "intentSignalAccount": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "intentStrength": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "keywords": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "languages": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "linkedinUid": {
                                  "type": "string"
                                },
                                "linkedinUrl": {
                                  "type": "string"
                                },
                                "logoUrl": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "organizationHeadcountSixMonthGrowth": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "organizationHeadcountTwelveMonthGrowth": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "organizationHeadcountTwentyFourMonthGrowth": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "organizationRevenue": {
                                  "type": "number"
                                },
                                "organizationRevenuePrinted": {
                                  "type": "string"
                                },
                                "ownedByOrganizationId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "primaryDomain": {
                                  "type": "string"
                                },
                                "primaryPhone": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string"
                                    },
                                    "sanitizedNumber": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "publiclyTradedExchange": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "publiclyTradedSymbol": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "rawAddress": {
                                  "type": "string"
                                },
                                "retailLocationCount": {
                                  "type": "number"
                                },
                                "sanitizedPhone": {
                                  "type": "string"
                                },
                                "shortDescription": {
                                  "type": "string"
                                },
                                "showIntent": {
                                  "type": "boolean"
                                },
                                "snippetsLoaded": {
                                  "type": "boolean"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "streetAddress": {
                                  "type": "string"
                                },
                                "twitterUrl": {
                                  "type": "string"
                                },
                                "websiteUrl": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalRequestedDomains": {
                            "type": "number"
                          },
                          "uniqueDomains": {
                            "type": "number"
                          },
                          "uniqueEnrichedRecords": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apolloio/latest/actions/bulk-people-enrichment": {
      "get": {
        "operationId": "apolloio.bulk-people-enrichment",
        "summary": "Bulk People Enrichment",
        "description": "Retrieves enriched data for up to 10 people from Apollo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apolloio/latest/actions/bulk-people-enrichment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runWaterfallEmail",
            "in": "query",
            "required": false,
            "description": "Set to true to enable email waterfall enrichment",
            "schema": {
              "type": "boolean",
              "description": "Set to true to enable email waterfall enrichment"
            }
          },
          {
            "name": "runWaterfallPhone",
            "in": "query",
            "required": false,
            "description": "Set to true to enable phone waterfall enrichment",
            "schema": {
              "type": "boolean",
              "description": "Set to true to enable phone waterfall enrichment"
            }
          },
          {
            "name": "revealPersonalEmails",
            "in": "query",
            "required": false,
            "description": "Set to `true` if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your Apollo pricing plan . The default value is `false`. If a person resides in a GDPR -compliant region, Apollo will not reveal their personal email.",
            "schema": {
              "type": "boolean",
              "description": "Set to `true` if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your Apollo pricing plan . The default value is `false`. If a person resides in a GDPR -compliant region, Apollo will not reveal their personal email."
            }
          },
          {
            "name": "revealPhoneNumber",
            "in": "query",
            "required": false,
            "description": "Set to `true` if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value is `false`. If this parameter is set to `true`, you must enter a webhook URL for the `webhook_url` parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.",
            "schema": {
              "type": "boolean",
              "description": "Set to `true` if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your Apollo pricing plan . The default value is `false`. If this parameter is set to `true`, you must enter a webhook URL for the `webhook_url` parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered."
            }
          },
          {
            "name": "webhookUrl",
            "in": "query",
            "required": false,
            "description": "If you set the `reveal_phone_number` parameter to `true`, this parameter becomes mandatory. Otherwise, do not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. Example: `https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40`; `https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40`",
            "schema": {
              "type": "string",
              "description": "If you set the `reveal_phone_number` parameter to `true`, this parameter becomes mandatory. Otherwise, do not use this parameter. Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. Example: `https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40`; `https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40`"
            }
          },
          {
            "name": "details[]",
            "in": "query",
            "required": true,
            "description": "Provide info for each person you want to enrich as an object within this array. Add up to 10 people.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Provide info for each person you want to enrich as an object within this array. Add up to 10 people."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "details[].firstName",
            "in": "query",
            "required": false,
            "description": "The first name of the person. This is typically used in combination with the `last_name` parameter. Example: `tim`",
            "schema": {
              "type": "string",
              "description": "The first name of the person. This is typically used in combination with the `last_name` parameter. Example: `tim`"
            }
          },
          {
            "name": "details[].lastName",
            "in": "query",
            "required": false,
            "description": "The last name of the person. This is typically used in combination with the `first_name` parameter. Example: `zheng`",
            "schema": {
              "type": "string",
              "description": "The last name of the person. This is typically used in combination with the `first_name` parameter. Example: `zheng`"
            }
          },
          {
            "name": "details[].name",
            "in": "query",
            "required": false,
            "description": "The full name of the person. This will typically be a first name and last name separated by a space. If you use this parameter, you do not need to use the `first_name` and `last_name` parameters. Example: `tim zheng`",
            "schema": {
              "type": "string",
              "description": "The full name of the person. This will typically be a first name and last name separated by a space. If you use this parameter, you do not need to use the `first_name` and `last_name` parameters. Example: `tim zheng`"
            }
          },
          {
            "name": "details[].email",
            "in": "query",
            "required": false,
            "description": "The email address of the person. Example: `example@email.com`",
            "schema": {
              "type": "string",
              "description": "The email address of the person. Example: `example@email.com`"
            }
          },
          {
            "name": "details[].hashedEmail",
            "in": "query",
            "required": false,
            "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. Example: `8d935115b9ff4489f2d1f9249503cadf` (MD5) or `97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152` (SHA-256)",
            "schema": {
              "type": "string",
              "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. Example: `8d935115b9ff4489f2d1f9249503cadf` (MD5) or `97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152` (SHA-256)"
            }
          },
          {
            "name": "details[].organizationName",
            "in": "query",
            "required": false,
            "description": "The name of the person's employer. This can be the current employer or a previous employer. Example: `apollo`",
            "schema": {
              "type": "string",
              "description": "The name of the person's employer. This can be the current employer or a previous employer. Example: `apollo`"
            }
          },
          {
            "name": "details[].domain",
            "in": "query",
            "required": false,
            "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include `www.`, the `@` symbol, or similar. Example: `apollo.io` or `microsoft.com`",
            "schema": {
              "type": "string",
              "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include `www.`, the `@` symbol, or similar. Example: `apollo.io` or `microsoft.com`"
            }
          },
          {
            "name": "details[].id",
            "in": "query",
            "required": false,
            "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. To find IDs, call the People API Search endpoint and identify the values for `person_id`. Example: `587cf802f65125cad923a266`",
            "schema": {
              "type": "string",
              "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. To find IDs, call the People API Search endpoint and identify the values for `person_id`. Example: `587cf802f65125cad923a266`"
            }
          },
          {
            "name": "details[].linkedinUrl",
            "in": "query",
            "required": false,
            "description": "The URL for the person's LinkedIn profile. Example: `http://www.linkedin.com/in/tim-zheng-677ba010`",
            "schema": {
              "type": "string",
              "description": "The URL for the person's LinkedIn profile. Example: `http://www.linkedin.com/in/tim-zheng-677ba010`"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number"
                          },
                          "errorCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "errorMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "matches": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "emailDomainCatchall": {
                                  "type": "boolean"
                                },
                                "emailStatus": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "employmentHistory": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "current": {
                                        "type": "boolean"
                                      },
                                      "degree": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "description": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "emails": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "endDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "gradeLevel": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "key": {
                                        "type": "string"
                                      },
                                      "kind": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "major": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "organizationId": {
                                        "type": "string"
                                      },
                                      "organizationName": {
                                        "type": "string"
                                      },
                                      "orgMatchedByName": {
                                        "type": "boolean"
                                      },
                                      "rawAddress": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "startDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "updatedAt": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "extrapolatedEmailConfidence": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "facebookUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "formattedAddress": {
                                  "type": "string"
                                },
                                "githubUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "headline": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "intentStrength": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "linkedinUrl": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "organizationId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "photoUrl": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "revealedForCurrentTeam": {
                                  "type": "boolean"
                                },
                                "seniority": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "showIntent": {
                                  "type": "boolean"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "streetAddress": {
                                  "type": "string"
                                },
                                "timeZone": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "twitterUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "missingRecords": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalRequestedEnrichments": {
                            "type": "number"
                          },
                          "uniqueEnrichedRecords": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/apolloio/latest/actions/bulk-update-contacts": {
      "put": {
        "operationId": "apolloio.bulk-update-contacts",
        "summary": "Bulk Update Contacts",
        "description": "Updates multiple existing contacts in Apollo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/apolloio/latest/actions/bulk-update-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactAttributes[].id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of contact IDs to update with the same values. Use this for applying the same updates to multiple contacts."
                  },
                  "contactAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact objects with individual updates. Use this for applying different updates to each contact."
                  },
                  "contactAttributes[].id": {
                    "type": "string",
                    "description": "The contact ID to update"
                  },
                  "contactAttributes[].firstName": {
                    "type": "string",
                    "description": "The contact's first name"
                  },
                  "contactAttributes[].lastName": {
                    "type": "string",
                    "description": "The contact's last name"
                  },
                  "contactAttributes[].email": {
                    "type": "string",
                    "description": "The contact's email address"
                  },
                  "contactAttributes[].title": {
                    "type": "string",
                    "description": "The contact's job title"
                  },
                  "contactAttributes[].organizationName": {
                    "type": "string",
                    "description": "The contact's organization name"
                  },
                  "contactAttributes[].ownerId": {
                    "type": "string",
                    "description": "The Apollo user ID to assign as owner"
                  },
                  "contactAttributes[].accountId": {
                    "type": "string",
                    "description": "The Apollo account ID to associate with the contact"
                  },
                  "contactAttributes[].presentRawAddress": {
                    "type": "string",
                    "description": "The contact's location"
                  },
                  "contactAttributes[].linkedinUrl": {
                    "type": "string",
                    "description": "The contact's LinkedIn profile URL"
                  },
                  "contactAttributes[].typedCustomFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom field values as key-value pairs"
                  },
                  "ownerId": {
                    "type": "string",
                    "description": "When using contact_ids, apply this owner to all contacts"
                  },
                  "email": {
                    "type": "string",
                    "description": "When using contact_ids, apply this email to all contacts"
                  },
                  "organizationName": {
                    "type": "string",
                    "description": "When using contact_ids, apply this organization name to all contacts"
                  },
                  "title": {
                    "type": "string",
                    "description": "When using contact_ids, apply this title to all contacts"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "When using contact_ids, apply this first name to all contacts"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "When using contact_ids, apply this last name to all contacts"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "When using contact_ids, apply this account ID to all contacts"
                  },
                  "presentRawAddress": {
                    "type": "string",
                    "description": "When using contact_ids, apply this address to all contacts"
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "When using contact_ids, apply this LinkedIn URL to all contacts"
                  },
                  "typedCustomFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "When using contact_ids, apply these custom fields to all contacts"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Force asynchronous processing. Automatically enabled for >100 contacts."
                  },
                  "visibleEntityIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Specific contact IDs to return in the response (for performance)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountPhoneNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "callOptedOut": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactEmails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "emailMd5": {
                                  "type": "string"
                                },
                                "emailNeedsTickling": {
                                  "type": "boolean"
                                },
                                "emailSha256": {
                                  "type": "string"
                                },
                                "emailStatus": {
                                  "type": "string"
                                },
                                "emailStatusUnavailableReason": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "emailTrueStatus": {
                                  "type": "string"
                                },
                                "extrapolatedEmailConfidence": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "freeDomain": {
                                  "type": "boolean"
                                },
                                "position": {
                                  "type": "number"
                                },
                                "source": {
                                  "type": "string"
                                },
                                "thirdPartyVendorName": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "contactStageId": {
                            "type": "string"
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "crmId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "crmOwnerId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "crmRecordUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customFieldErrors": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "directDialEnrichmentFailedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "directDialStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "string"
                          },
                          "emailDomainCatchall": {
                            "type": "boolean"
                          },
                          "emailFromCustomer": {
                            "type": "boolean"
                          },
                          "emailNeedsTickling": {
                            "type": "boolean"
                          },
                          "emailSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailStatus": {
                            "type": "string"
                          },
                          "emailStatusUnavailableReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailTrueStatus": {
                            "type": "string"
                          },
                          "emailUnsubscribed": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "existenceLevel": {
                            "type": "string"
                          },
                          "extrapolatedEmailConfidence": {
[...]
