{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Address Auto-Complete by Fetchify Universal API",
    "version": "0.0.10",
    "description": "Autocomplete and retrieve postal addresses with Fetchify's JSON Address Auto-Complete API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/addressAutoCompleteByFetchify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/addressAutoCompleteByFetchify/latest/actions/find-addresses": {
      "get": {
        "operationId": "addressAutoCompleteByFetchify.find-addresses",
        "summary": "Find Addresses",
        "description": "Finds address matches in Fetchify by search query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressAutoCompleteByFetchify/latest/actions/find-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The partial address or postcode to autocomplete.",
            "schema": {
              "type": "string",
              "description": "The partial address or postcode to autocomplete."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Three-letter Fetchify country code such as `gbr` or `usa`.",
            "schema": {
              "type": "string",
              "description": "Three-letter Fetchify country code such as `gbr` or `usa`."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Optional grouping identifier returned by a previous find call.",
            "schema": {
              "type": "string",
              "description": "Optional grouping identifier returned by a previous find call."
            }
          },
          {
            "name": "extra.bestMatchOnly",
            "in": "query",
            "required": false,
            "description": "Return only the top autocomplete match.",
            "schema": {
              "type": "boolean",
              "description": "Return only the top autocomplete match.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "extra.noGroupings",
            "in": "query",
            "required": false,
            "description": "Disable grouped results in the autocomplete response.",
            "schema": {
              "type": "boolean",
              "description": "Disable grouped results in the autocomplete response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "extra.excludePobox",
            "in": "query",
            "required": false,
            "description": "Exclude PO box style matches.",
            "schema": {
              "type": "boolean",
              "description": "Exclude PO box style matches.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "extra.excludeAreas",
            "in": "query",
            "required": false,
            "description": "Optional list of areas to exclude from autocomplete results.",
            "schema": {
              "type": "string",
              "description": "Optional list of areas to exclude from autocomplete results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "count": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "labels": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addressAutoCompleteByFetchify/latest/actions/list-supported-countries": {
      "get": {
        "operationId": "addressAutoCompleteByFetchify.list-supported-countries",
        "summary": "List Supported Countries",
        "description": "Retrieves supported address countries from Fetchify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressAutoCompleteByFetchify/latest/actions/list-supported-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Optional response language for country names.",
            "schema": {
              "type": "string",
              "description": "Optional response language for country names.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "countryName": {
                                  "type": "string"
                                },
                                "intlLongName": {
                                  "type": "string"
                                },
                                "iso31661Alpha2": {
                                  "type": "string"
                                },
                                "iso31661Alpha3": {
                                  "type": "string"
                                },
                                "iso31661Numeric3": {
                                  "type": "number"
                                },
                                "officialName": {
                                  "type": "string"
                                },
                                "shortCode": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "ipLocation": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addressAutoCompleteByFetchify/latest/actions/retrieve-address": {
      "get": {
        "operationId": "addressAutoCompleteByFetchify.retrieve-address",
        "summary": "Retrieve Address",
        "description": "Retrieves a full address from Fetchify by address ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressAutoCompleteByFetchify/latest/actions/retrieve-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The address identifier returned by Find Addresses.",
            "schema": {
              "type": "string",
              "description": "The address identifier returned by Find Addresses."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Three-letter Fetchify country code such as `gbr` or `usa`.",
            "schema": {
              "type": "string",
              "description": "Three-letter Fetchify country code such as `gbr` or `usa`."
            }
          },
          {
            "name": "extra.gbrCeremonialCounties",
            "in": "query",
            "required": false,
            "description": "When enabled, return ceremonial counties for Great Britain addresses.",
            "schema": {
              "type": "boolean",
              "description": "When enabled, return ceremonial counties for Great Britain addresses.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "properties": {
                              "administrativeArea": {
                                "type": "string"
                              },
                              "administrativeAreaLatin": {
                                "type": "string"
                              },
                              "alternativeAdministrativeArea": {
                                "type": "string"
                              },
                              "alternativeLocality": {
                                "type": "string"
                              },
                              "alternativeProvince": {
                                "type": "string"
                              },
                              "buildingName": {
                                "type": "string"
                              },
                              "buildingNumber": {
                                "type": "string"
                              },
                              "companyName": {
                                "type": "string"
                              },
                              "countryName": {
                                "type": "string"
                              },
                              "departmentName": {
                                "type": "string"
                              },
                              "dependentLocality": {
                                "type": "string"
                              },
                              "dependentStreetName": {
                                "type": "string"
                              },
                              "dependentStreetPrefix": {
                                "type": "string"
                              },
                              "dependentStreetSuffix": {
                                "type": "string"
                              },
                              "doubleDependentLocality": {
                                "type": "string"
                              },
                              "doubleDependentStreetName": {
                                "type": "string"
                              },
                              "doubleDependentStreetPrefix": {
                                "type": "string"
                              },
                              "doubleDependentStreetSuffix": {
                                "type": "string"
                              },
                              "levelName": {
                                "type": "string"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "line3": {
                                "type": "string"
                              },
                              "line4": {
                                "type": "string"
                              },
                              "line5": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "postOfficeBoxNumber": {
                                "type": "string"
                              },
                              "postOfficeReference1": {
                                "type": "string"
                              },
                              "postOfficeReference2": {
                                "type": "string"
                              },
                              "postOfficeReference3": {
                                "type": "string"
                              },
                              "postOfficeReference4": {
                                "type": "string"
                              },
                              "postOfficeReference5": {
                                "type": "string"
                              },
                              "postOfficeReference6": {
                                "type": "string"
                              },
                              "province": {
                                "type": "string"
                              },
                              "provinceCode": {
                                "type": "string"
                              },
                              "provinceLatin": {
                                "type": "string"
                              },
                              "provinceName": {
                                "type": "string"
                              },
                              "streetName": {
                                "type": "string"
                              },
                              "streetPrefix": {
                                "type": "string"
                              },
                              "streetSuffix": {
                                "type": "string"
                              },
                              "subBuildingName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "unitName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
