{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Receipt Bot Universal API",
    "version": "0.0.3",
    "description": "Upload documents, extract data, and automate bookkeeping workflows"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/receiptBot/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/receiptBot/latest/actions/get-statement-details": {
      "get": {
        "operationId": "receiptBot.get-statement-details",
        "summary": "Get Statement Details",
        "description": "Retrieves statement details from Receipt Bot by document ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/receiptBot/latest/actions/get-statement-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Receipt Bot document identifier.",
            "schema": {
              "type": "number",
              "description": "Receipt Bot document identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bizDocSeq": {
                            "type": "number",
                            "description": "Receipt Bot business document sequence."
                          },
                          "businessId": {
                            "type": "string",
                            "description": "Receipt Bot business identifier."
                          },
                          "businessName": {
                            "type": "string",
                            "description": "Receipt Bot business name."
                          },
                          "eventId": {
                            "type": "string",
                            "description": "Receipt Bot event identifier."
                          },
                          "eventType": {
                            "type": "string",
                            "description": "Receipt Bot event type."
                          },
                          "file": {
                            "type": "object",
                            "properties": {
                              "documentId": {
                                "type": "number",
                                "description": "Document identifier."
                              },
                              "documentTypeId": {
                                "type": "number",
                                "description": "Document type identifier."
                              },
                              "documentTypeName": {
                                "type": "string",
                                "description": "Document type label."
                              },
                              "fileName": {
                                "type": "string",
                                "description": "Uploaded file name."
                              },
                              "source": {
                                "type": "string",
                                "description": "Upload source."
                              },
                              "uploadDate": {
                                "type": "number",
                                "description": "Unix timestamp when the file was uploaded."
                              },
                              "uploadUserEmail": {
                                "type": "string",
                                "description": "Email of the upload user."
                              }
                            },
                            "additionalProperties": false
                          },
                          "occurredAt": {
                            "type": "number",
                            "description": "Unix timestamp for the event."
                          },
                          "statement": {
                            "type": "object",
                            "properties": {
                              "bizDocSeq": {
                                "type": "number",
                                "description": "Statement business document sequence."
                              },
                              "chargeablePages": {
                                "type": "number",
                                "description": "Chargeable page count."
                              },
                              "closingBalance": {
                                "type": "number",
                                "description": "Closing balance when available."
                              },
                              "dateFrom": {
                                "type": "number",
                                "description": "Start date as unix timestamp when available."
                              },
                              "dateTo": {
                                "type": "number",
                                "description": "End date as unix timestamp when available."
                              },
                              "documentSubType": {
                                "type": "string",
                                "description": "Statement subtype when available."
                              },
                              "openingBalance": {
                                "type": "number",
                                "description": "Opening balance when available."
                              },
                              "paymentMethod": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Payment method details when available."
                              },
                              "processingNotes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Provider processing notes."
                              },
                              "processStatus": {
                                "type": "string",
                                "description": "Processing status."
                              },
                              "title": {
                                "type": "string",
                                "description": "Statement title when available."
                              },
                              "transactions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Extracted transactions."
                              },
                              "transactionsCount": {
                                "type": "number",
                                "description": "Count of extracted transactions."
                              }
                            },
                            "additionalProperties": false
                          },
                          "trigger": {
                            "type": "string",
                            "description": "Provider trigger label."
                          },
                          "webhookStatus": {
                            "type": "string",
                            "description": "Webhook delivery status when applicable."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/receiptBot/latest/actions/upload-file": {
      "post": {
        "operationId": "receiptBot.upload-file",
        "summary": "Upload File",
        "description": "Uploads a base64-encoded file to Receipt Bot.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/receiptBot/latest/actions/upload-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "moduleId": {
                    "type": "number",
                    "description": "Receipt Bot module identifier."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "File name including extension."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64-encoded file content."
                  },
                  "documentTypeId": {
                    "type": "number",
                    "description": "Receipt Bot document type identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
