{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Nutrient - Watermark to PDF Universal API",
    "version": "0.0.4",
    "description": "Add configurable text or image watermarks to PDF files using Nutrient DWS Processor API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nutrientWatermarkToPDF/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nutrientWatermarkToPDF/latest/actions/add-image-watermark-to-pdf": {
      "put": {
        "operationId": "nutrientWatermarkToPDF.add-image-watermark-to-pdf",
        "summary": "Add Image Watermark to PDF",
        "description": "Updates a PDF with an image watermark in Nutrient.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutrientWatermarkToPDF/latest/actions/add-image-watermark-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "document",
                  "logo",
                  "instructions"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "document": {
                    "type": "string",
                    "description": "PDF file to watermark."
                  },
                  "logo": {
                    "type": "string",
                    "description": "Image file to use as the watermark."
                  },
                  "instructions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Build instructions for an image watermark. The image key must match the Logo Image field.",
                    "default": {
                      "parts": [
                        {
                          "file": "document"
                        }
                      ],
                      "actions": [
                        {
                          "type": "watermark",
                          "image": "logo",
                          "width": "50%"
                        }
                      ]
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resultPdf": {
                            "type": "string",
                            "description": "Processed PDF returned by Nutrient."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutrientWatermarkToPDF/latest/actions/add-last-page-watermark-to-pdf": {
      "put": {
        "operationId": "nutrientWatermarkToPDF.add-last-page-watermark-to-pdf",
        "summary": "Add Last Page Watermark to PDF",
        "description": "Updates the last PDF page with a watermark in Nutrient.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutrientWatermarkToPDF/latest/actions/add-last-page-watermark-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "document",
                  "logo",
                  "instructions"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "document": {
                    "type": "string",
                    "description": "PDF file to watermark."
                  },
                  "logo": {
                    "type": "string",
                    "description": "Image file to apply on the last page."
                  },
                  "instructions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Build instructions that leave earlier pages unchanged and apply an image watermark to only the last page.",
                    "default": {
                      "parts": [
                        {
                          "file": "document",
                          "pages": {
                            "end": -2
                          }
                        },
                        {
                          "file": "document",
                          "pages": {
                            "start": -1
                          },
                          "actions": [
                            {
                              "type": "watermark",
                              "image": "logo",
                              "width": "50%"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resultPdf": {
                            "type": "string",
                            "description": "Processed PDF returned by Nutrient."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutrientWatermarkToPDF/latest/actions/add-multiple-watermarks-to-pdf": {
      "put": {
        "operationId": "nutrientWatermarkToPDF.add-multiple-watermarks-to-pdf",
        "summary": "Add Multiple Watermarks to PDF",
        "description": "Updates a PDF with multiple watermarks in Nutrient.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutrientWatermarkToPDF/latest/actions/add-multiple-watermarks-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "document",
                  "logo",
                  "instructions"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "document": {
                    "type": "string",
                    "description": "PDF file to watermark."
                  },
                  "logo": {
                    "type": "string",
                    "description": "Image file to use as one of the watermarks."
                  },
                  "instructions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Build instructions for applying multiple watermarks in one request.",
                    "default": {
                      "parts": [
                        {
                          "file": "document"
                        }
                      ],
                      "actions": [
                        {
                          "type": "watermark",
                          "image": "logo",
                          "width": "50%"
                        },
                        {
                          "left": 0,
                          "text": "Property of Nutrient",
                          "type": "watermark",
                          "width": 250,
                          "bottom": "100%",
                          "height": 200,
                          "opacity": 0.5,
                          "fontSize": 50,
                          "rotation": 10,
                          "fontColor": "#FF0000",
                          "fontStyle": [
                            "italic",
                            "bold"
                          ],
                          "fontFamily": "Helvetica"
                        }
                      ]
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resultPdf": {
                            "type": "string",
                            "description": "Processed PDF returned by Nutrient."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutrientWatermarkToPDF/latest/actions/add-page-range-watermark-to-pdf": {
      "put": {
        "operationId": "nutrientWatermarkToPDF.add-page-range-watermark-to-pdf",
        "summary": "Add Page Range Watermark to PDF",
        "description": "Updates selected PDF pages with a watermark in Nutrient.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutrientWatermarkToPDF/latest/actions/add-page-range-watermark-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "document",
                  "instructions"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "document": {
                    "type": "string",
                    "description": "PDF file to watermark."
                  },
                  "instructions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Build instructions with a page selection. Adjust pages.start and pages.end to choose the target range.",
                    "default": {
                      "parts": [
                        {
                          "file": "document",
                          "pages": {
                            "end": 0,
                            "start": 0
                          },
                          "actions": [
                            {
                              "left": 0,
                              "text": "Confidential",
                              "type": "watermark",
                              "width": 250,
                              "bottom": "100%",
                              "height": 100,
                              "opacity": 0.4,
                              "fontSize": 36,
                              "fontColor": "#FF0000",
                              "fontFamily": "Helvetica"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resultPdf": {
                            "type": "string",
                            "description": "Processed PDF returned by Nutrient."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutrientWatermarkToPDF/latest/actions/add-text-watermark-to-pdf": {
      "put": {
        "operationId": "nutrientWatermarkToPDF.add-text-watermark-to-pdf",
        "summary": "Add Text Watermark to PDF",
        "description": "Updates a PDF with a text watermark in Nutrient.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutrientWatermarkToPDF/latest/actions/add-text-watermark-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "document",
                  "instructions"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "document": {
                    "type": "string",
                    "description": "PDF file to watermark."
                  },
                  "instructions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Build instructions for a text watermark. Edit the text, position, color, opacity, or dimensions as needed.",
                    "default": {
                      "parts": [
                        {
                          "file": "document"
                        }
                      ],
                      "actions": [
                        {
                          "left": 0,
                          "text": "Property of Nutrient",
                          "type": "watermark",
                          "width": 250,
                          "bottom": "100%",
                          "height": 200,
                          "opacity": 0.5,
                          "fontSize": 50,
                          "rotation": 10,
                          "fontColor": "#FF0000",
                          "fontStyle": [
                            "italic",
                            "bold"
                          ],
                          "fontFamily": "Helvetica"
                        }
                      ]
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resultPdf": {
                            "type": "string",
                            "description": "Processed PDF returned by Nutrient."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
