{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "AidaForm Universal API",
    "version": "0.0.11",
    "description": "Create forms, collect responses, and accept online payments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/aidaForm/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/aidaForm/latest/actions/list-forms": {
      "get": {
        "operationId": "aidaForm.list-forms",
        "summary": "List Forms",
        "description": "Retrieves forms from your AidaForm account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aidaForm/latest/actions/list-forms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "dashboardToken": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "backgroundWidth": {
                                      "type": "number"
                                    },
                                    "code": {
                                      "type": "string"
                                    },
                                    "language": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "notificationsEnabled": {
                                      "type": "boolean"
                                    },
                                    "submit": {
                                      "type": "object",
                                      "properties": {
                                        "label": {
                                          "type": "string"
                                        },
                                        "prevLabel": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "theme": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "properties": {
                                        "type": "object",
                                        "properties": {
                                          "align": {
                                            "type": "string"
                                          },
                                          "firstName": {
                                            "type": "string"
                                          },
                                          "lastName": {
                                            "type": "string"
                                          },
                                          "placeholderFirstName": {
                                            "type": "string"
                                          },
                                          "placeholderLastName": {
                                            "type": "string"
                                          },
                                          "required": {
                                            "type": "boolean"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "inventory": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "owner": {
                                  "type": "string"
                                },
                                "responses": {
                                  "type": "number"
                                },
                                "shareToken": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shareTokenCreated": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "status": {
                                  "type": "string"
                                },
                                "unread": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "uri": {
                                  "type": "string"
                                },
                                "version": {
                                  "type": "number"
                                },
                                "views": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/aidaForm/latest/actions/list-responses": {
      "get": {
        "operationId": "aidaForm.list-responses",
        "summary": "List Responses",
        "description": "Retrieves form responses from AidaForm by form ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aidaForm/latest/actions/list-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "description": "Use the top-level form UUID from List Forms.id. Do not use the short code in data.code.",
            "schema": {
              "type": "string",
              "description": "Use the top-level form UUID from List Forms.id. Do not use the short code in data.code.",
              "example": "61bdb4a6-fb25-4400-952b-a5d74604f90f"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Only include responses not older than this Unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include responses not older than this Unix timestamp."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Only include responses not newer than this Unix timestamp.",
            "schema": {
              "type": "number",
              "description": "Only include responses not newer than this Unix timestamp."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of responses to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of responses to return."
            }
          },
          {
            "name": "marker",
            "in": "query",
            "required": false,
            "description": "Pagination marker for the next page of responses.",
            "schema": {
              "type": "string",
              "description": "Pagination marker for the next page of responses."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "reference": {
                                  "type": "string"
                                },
                                "referenceStatus": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "unread": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "marker": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
