{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ChartLy Universal API",
    "version": "0.0.8",
    "description": "Generate chart images, create chart URLs, and track chart metrics"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/chartLy/latest/actions/create-bar-chart-zapier": {
      "post": {
        "operationId": "chartLy.create-bar-chart-zapier",
        "summary": "Create Bar Chart (Zapier)",
        "description": "Creates a Zapier-friendly bar chart in Chartly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/create-bar-chart-zapier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "labels",
                  "values"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Chart title"
                  },
                  "labels": {
                    "type": "string",
                    "description": "Comma-separated labels"
                  },
                  "values": {
                    "type": "string",
                    "description": "Comma-separated numeric values"
                  },
                  "color": {
                    "type": "string",
                    "description": "Bar color in hex",
                    "default": "#3B82F6"
                  },
                  "width": {
                    "type": "number",
                    "description": "Chart width in pixels",
                    "default": 800
                  },
                  "height": {
                    "type": "number",
                    "description": "Chart height in pixels",
                    "default": 400
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "png"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Background color",
                    "default": "white"
                  },
                  "showLegend": {
                    "type": "boolean",
                    "description": "Show legend",
                    "default": true
                  },
                  "showGrid": {
                    "type": "boolean",
                    "description": "Show grid lines",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chartLy/latest/actions/create-line-chart-zapier": {
      "post": {
        "operationId": "chartLy.create-line-chart-zapier",
        "summary": "Create Line Chart (Zapier)",
        "description": "Creates a Zapier-friendly line chart in Chartly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/create-line-chart-zapier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "labels",
                  "values"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Chart title"
                  },
                  "labels": {
                    "type": "string",
                    "description": "Comma-separated labels"
                  },
                  "values": {
                    "type": "string",
                    "description": "Comma-separated numeric values"
                  },
                  "color": {
                    "type": "string",
                    "description": "Line color in hex",
                    "default": "#10B981"
                  },
                  "width": {
                    "type": "number",
                    "description": "Chart width in pixels",
                    "default": 800
                  },
                  "height": {
                    "type": "number",
                    "description": "Chart height in pixels",
                    "default": 400
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "png"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Background color",
                    "default": "white"
                  },
                  "fillArea": {
                    "type": "boolean",
                    "description": "Fill area under the line",
                    "default": false
                  },
                  "showPoints": {
                    "type": "boolean",
                    "description": "Show data points",
                    "default": true
                  },
                  "tension": {
                    "type": "number",
                    "description": "Line curve tension from 0 to 1",
                    "default": 0.4
                  },
                  "showLegend": {
                    "type": "boolean",
                    "description": "Show legend",
                    "default": true
                  },
                  "showGrid": {
                    "type": "boolean",
                    "description": "Show grid lines",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chartId": {
                            "type": "string",
                            "description": "Chart ID"
                          },
                          "chartUrl": {
                            "type": "string",
                            "description": "Permanent chart URL"
                          },
                          "downloadUrl": {
                            "type": "string",
                            "description": "Direct download URL"
                          },
                          "format": {
                            "type": "string",
                            "description": "Chart format"
                          },
                          "height": {
                            "type": "number",
                            "description": "Chart height"
                          },
                          "previewUrl": {
                            "type": "string",
                            "description": "Preview URL"
                          },
                          "width": {
                            "type": "number",
                            "description": "Chart width"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chartLy/latest/actions/create-multi-series-chart-zapier": {
      "post": {
        "operationId": "chartLy.create-multi-series-chart-zapier",
        "summary": "Create Multi-Series Chart (Zapier)",
        "description": "Creates a Zapier-friendly multi-series chart in Chartly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/create-multi-series-chart-zapier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "labels",
                  "series1_name",
                  "series1_values"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Chart title"
                  },
                  "labels": {
                    "type": "string",
                    "description": "Comma-separated labels"
                  },
                  "chartType": {
                    "type": "string",
                    "description": "Chart type",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "bar"
                  },
                  "series1_name": {
                    "type": "string",
                    "description": "First series name"
                  },
                  "series1_values": {
                    "type": "string",
                    "description": "First series values (comma-separated)"
                  },
                  "series1_color": {
                    "type": "string",
                    "description": "First series color",
                    "default": "#3B82F6"
                  },
                  "series2_name": {
                    "type": "string",
                    "description": "Second series name"
                  },
                  "series2_values": {
                    "type": "string",
                    "description": "Second series values (comma-separated)"
                  },
                  "series2_color": {
                    "type": "string",
                    "description": "Second series color",
                    "default": "#10B981"
                  },
                  "series3_name": {
                    "type": "string",
                    "description": "Third series name"
                  },
                  "series3_values": {
                    "type": "string",
                    "description": "Third series values (comma-separated)"
                  },
                  "series3_color": {
                    "type": "string",
                    "description": "Third series color",
                    "default": "#F59E0B"
                  },
                  "width": {
                    "type": "number",
                    "description": "Chart width in pixels",
                    "default": 800
                  },
                  "height": {
                    "type": "number",
                    "description": "Chart height in pixels",
                    "default": 400
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "png"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Background color",
                    "default": "white"
                  },
                  "showLegend": {
                    "type": "boolean",
                    "description": "Show legend",
                    "default": true
                  },
                  "showGrid": {
                    "type": "boolean",
                    "description": "Show grid lines",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chartId": {
                            "type": "string",
                            "description": "Chart ID"
                          },
                          "chartUrl": {
                            "type": "string",
                            "description": "Permanent chart URL"
                          },
                          "downloadUrl": {
                            "type": "string",
                            "description": "Direct download URL"
                          },
                          "format": {
                            "type": "string",
                            "description": "Chart format"
                          },
                          "height": {
                            "type": "number",
                            "description": "Chart height"
                          },
                          "previewUrl": {
                            "type": "string",
                            "description": "Preview URL"
                          },
                          "width": {
                            "type": "number",
                            "description": "Chart width"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chartLy/latest/actions/create-permanent-signed-short-url": {
      "post": {
        "operationId": "chartLy.create-permanent-signed-short-url",
        "summary": "Create Permanent Signed Short URL",
        "description": "Creates a permanent signed short URL in Chartly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/create-permanent-signed-short-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chart",
                  "width",
                  "height"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chart": {
                    "type": "string",
                    "description": "Chart.js config as JSON string"
                  },
                  "width": {
                    "type": "number",
                    "description": "Image width in pixels"
                  },
                  "height": {
                    "type": "number",
                    "description": "Image height in pixels"
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "png"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "CSS background color"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Permanent signed chart URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chartLy/latest/actions/create-pie-chart-zapier": {
      "post": {
        "operationId": "chartLy.create-pie-chart-zapier",
        "summary": "Create Pie Chart (Zapier)",
        "description": "Creates a Zapier-friendly pie chart in Chartly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/create-pie-chart-zapier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "labels",
                  "values"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Chart title"
                  },
                  "labels": {
                    "type": "string",
                    "description": "Comma-separated labels"
                  },
                  "values": {
                    "type": "string",
                    "description": "Comma-separated values"
                  },
                  "colors": {
                    "type": "string",
                    "description": "Comma-separated colors"
                  },
                  "width": {
                    "type": "number",
                    "description": "Chart width in pixels",
                    "default": 500
                  },
                  "height": {
                    "type": "number",
                    "description": "Chart height in pixels",
                    "default": 500
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "png"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Background color",
                    "default": "white"
                  },
                  "showLegend": {
                    "type": "boolean",
                    "description": "Show legend",
                    "default": true
                  },
                  "legendPosition": {
                    "type": "string",
                    "description": "Legend position",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ],
                    "default": "bottom"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chartId": {
                            "type": "string",
                            "description": "Chart ID"
                          },
                          "chartUrl": {
                            "type": "string",
                            "description": "Permanent chart URL"
                          },
                          "downloadUrl": {
                            "type": "string",
                            "description": "Direct download URL"
                          },
                          "format": {
                            "type": "string",
                            "description": "Chart format"
                          },
                          "height": {
                            "type": "number",
                            "description": "Chart height"
                          },
                          "previewUrl": {
                            "type": "string",
                            "description": "Preview URL"
                          },
                          "width": {
                            "type": "number",
                            "description": "Chart width"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chartLy/latest/actions/get-status": {
      "get": {
        "operationId": "chartLy.get-status",
        "summary": "Get Status",
        "description": "Retrieves Chartly API health and configuration status.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/get-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chartLy/latest/actions/render-chart-from-json": {
      "post": {
        "operationId": "chartLy.render-chart-from-json",
        "summary": "Render Chart From JSON",
        "description": "Renders a chart image from JSON config in Chartly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/render-chart-from-json"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chart",
                  "width",
                  "height"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chart": {
                    "type": "string",
                    "description": "Chart.js config as JSON string"
                  },
                  "width": {
                    "type": "number",
                    "description": "Image width in pixels"
                  },
                  "height": {
                    "type": "number",
                    "description": "Image height in pixels"
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "png"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "CSS background color"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/chartLy/latest/actions/render-chart-from-url": {
      "post": {
        "operationId": "chartLy.render-chart-from-url",
        "summary": "Render Chart From URL",
        "description": "Renders a chart image from URL-encoded config in Chartly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/chartLy/latest/actions/render-chart-from-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chart",
                  "width",
                  "height"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chart": {
                    "type": "string",
                    "description": "Chart.js config as JSON string"
                  },
                  "width": {
                    "type": "number",
                    "description": "Image width in pixels"
                  },
                  "height": {
                    "type": "number",
                    "description": "Image height in pixels"
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "png"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "CSS background color"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
