{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Billwerkplus Universal API",
    "version": "0.0.4",
    "description": "Manage billing, subscriptions, payments, and customer accounts"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/billwerkplus/latest/actions/cancel-invoice": {
      "put": {
        "operationId": "billwerkplus.cancel-invoice",
        "summary": "Cancel Invoice",
        "description": "Cancels an invoice in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/cancel-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Invoice id or handle."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "amountExVat": {
                            "type": "number"
                          },
                          "amountVat": {
                            "type": "number"
                          },
                          "cancelled": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "discountAmount": {
                            "type": "number"
                          },
                          "due": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "orderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "amountDefinedInclVat": {
                                  "type": "boolean"
                                },
                                "amountExVat": {
                                  "type": "number"
                                },
                                "amountVat": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "ordertext": {
                                  "type": "string"
                                },
                                "origin": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "timestamp": {
                                  "type": "string"
                                },
                                "unitAmount": {
                                  "type": "number"
                                },
                                "unitAmountExVat": {
                                  "type": "number"
                                },
                                "unitAmountVat": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "orgAmount": {
                            "type": "number"
                          },
                          "refundedAmount": {
                            "type": "number"
                          },
                          "settledAmount": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "created": {
                                  "type": "string"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "invoice": {
                                  "type": "string"
                                },
                                "offlineTransaction": {
                                  "type": "object",
                                  "properties": {
                                    "offlineMandate": {
                                      "type": "object",
                                      "properties": {
                                        "offlineAgreementHandle": {
                                          "type": "string"
                                        },
                                        "offlineAgreementName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "offlinePaymentInstructions": {
                                      "type": "string"
                                    },
                                    "paymentDueDate": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "paymentContext": {
                                  "type": "string"
                                },
                                "paymentMethod": {
                                  "type": "string"
                                },
                                "paymentType": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/cancel-subscription": {
      "delete": {
        "operationId": "billwerkplus.cancel-subscription",
        "summary": "Cancel Subscription",
        "description": "Cancels a subscription in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/cancel-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Subscription handle.",
            "schema": {
              "type": "string",
              "description": "Subscription handle."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activated": {
                            "type": "string"
                          },
                          "cancelledAmount": {
                            "type": "number"
                          },
                          "cancelledDate": {
                            "type": "string"
                          },
                          "cancelledInvoices": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "dunningAmount": {
                            "type": "number"
                          },
                          "dunningInvoices": {
                            "type": "number"
                          },
                          "expires": {
                            "type": "string"
                          },
                          "failedAmount": {
                            "type": "number"
                          },
                          "failedInvoices": {
                            "type": "number"
                          },
                          "firstPeriodStart": {
                            "type": "string"
                          },
                          "graceDuration": {
                            "type": "number"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "hasStarted": {
                            "type": "boolean"
                          },
                          "hostedPageLinks": {
                            "type": "object",
                            "properties": {
                              "paymentInfo": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "inTrial": {
                            "type": "boolean"
                          },
                          "isCancelled": {
                            "type": "boolean"
                          },
                          "nextPeriodStart": {
                            "type": "string"
                          },
                          "paymentMethodAdded": {
                            "type": "boolean"
                          },
                          "pendingAdditionalCostAmount": {
                            "type": "number"
                          },
                          "pendingAdditionalCosts": {
                            "type": "number"
                          },
                          "pendingAmount": {
                            "type": "number"
                          },
                          "pendingCreditAmount": {
                            "type": "number"
                          },
                          "pendingCredits": {
                            "type": "number"
                          },
                          "pendingInvoices": {
                            "type": "number"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "planVersion": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "refundedAmount": {
                            "type": "number"
                          },
                          "renewalCount": {
                            "type": "number"
                          },
                          "renewing": {
                            "type": "boolean"
                          },
                          "settledAmount": {
                            "type": "number"
                          },
                          "settledInvoices": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "test": {
                            "type": "boolean"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "transferredAdditionalCostAmount": {
                            "type": "number"
                          },
                          "transferredAdditionalCosts": {
                            "type": "number"
                          },
                          "transferredCreditAmount": {
                            "type": "number"
                          },
                          "transferredCredits": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/change-next-renewal-date": {
      "put": {
        "operationId": "billwerkplus.change-next-renewal-date",
        "summary": "Change Next Renewal Date",
        "description": "Updates a subscription's next renewal date in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/change-next-renewal-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "nextPeriodStart"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Subscription handle."
                  },
                  "nextPeriodStart": {
                    "type": "string",
                    "description": "Requested next period start date and time."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/change-subscription": {
      "put": {
        "operationId": "billwerkplus.change-subscription",
        "summary": "Change Subscription",
        "description": "Updates a subscription plan or quantity in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/change-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "timing"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Subscription handle."
                  },
                  "timing": {
                    "type": "string",
                    "description": "When to perform the change."
                  },
                  "plan": {
                    "type": "string",
                    "description": "Plan handle to change to."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Updated subscription quantity."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/create-addon": {
      "post": {
        "operationId": "billwerkplus.create-addon",
        "summary": "Create Add-On",
        "description": "Creates an add-on in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/create-addon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "name",
                  "amount",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Per account unique handle for the add-on."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of add-on. Used as order line text."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Add-on amount."
                  },
                  "type": {
                    "type": "string",
                    "description": "Add-on type: on_off or quantity.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "allPlans": {
                    "type": "boolean",
                    "description": "Whether all plans are eligible for this add-on.",
                    "default": true
                  },
                  "amountInclVat": {
                    "type": "boolean",
                    "description": "Whether the amount already includes VAT.",
                    "default": true
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description of add-on."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Optional ISO 4217 currency code for the add-on."
                  },
                  "vat": {
                    "type": "number",
                    "description": "Optional VAT rate for the add-on."
                  },
                  "taxPolicy": {
                    "type": "string",
                    "description": "Optional tax policy handle for the add-on.",
                    "x-mindcloud-advanced": true
                  },
                  "eligiblePlans[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Plan handles eligible for this add-on when all plans is false."
                  },
                  "entitlements[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Entitlement handles for the add-on.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allPlans": {
                            "type": "boolean"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "amountInclVat": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "vat": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/create-customer": {
      "post": {
        "operationId": "billwerkplus.create-customer",
        "summary": "Create Customer",
        "description": "Creates a customer in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Per-account unique customer handle."
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Customer first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Customer last name."
                  },
                  "country": {
                    "type": "string",
                    "description": "Customer country as ISO 3166-1 alpha-2."
                  },
                  "test": {
                    "type": "boolean",
                    "description": "Create the customer in test mode.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeSubscriptions": {
                            "type": "number"
                          },
                          "cancelledAmount": {
                            "type": "number"
                          },
                          "cancelledInvoices": {
                            "type": "number"
                          },
                          "cancelledSubscriptions": {
                            "type": "number"
                          },
                          "country": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "dunningAmount": {
                            "type": "number"
                          },
                          "dunningInvoices": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "expiredSubscriptions": {
                            "type": "number"
                          },
                          "failedAmount": {
                            "type": "number"
                          },
                          "failedInvoices": {
                            "type": "number"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "nonRenewingSubscriptions": {
                            "type": "number"
                          },
                          "onHoldSubscriptions": {
                            "type": "number"
                          },
                          "pendingAdditionalCostAmount": {
                            "type": "number"
                          },
                          "pendingAdditionalCosts": {
                            "type": "number"
                          },
                          "pendingAmount": {
                            "type": "number"
                          },
                          "pendingCreditAmount": {
                            "type": "number"
                          },
                          "pendingCredits": {
                            "type": "number"
                          },
                          "pendingInvoices": {
                            "type": "number"
                          },
                          "refundedAmount": {
                            "type": "number"
                          },
                          "settledAmount": {
                            "type": "number"
                          },
                          "settledInvoices": {
                            "type": "number"
                          },
                          "subscriptions": {
                            "type": "number"
                          },
                          "test": {
                            "type": "boolean"
                          },
                          "transferredAdditionalCostAmount": {
                            "type": "number"
                          },
                          "transferredAdditionalCosts": {
                            "type": "number"
                          },
                          "transferredCreditAmount": {
                            "type": "number"
                          },
                          "transferredCredits": {
                            "type": "number"
                          },
                          "trialActiveSubscriptions": {
                            "type": "number"
                          },
                          "trialCancelledSubscriptions": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/create-invoice-for-customer": {
      "post": {
        "operationId": "billwerkplus.create-invoice-for-customer",
        "summary": "Create Invoice for Customer",
        "description": "Creates an invoice for a Billwerkplus customer.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/create-invoice-for-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "invoiceHandle",
                  "orderLines[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Customer handle."
                  },
                  "invoiceHandle": {
                    "type": "string",
                    "description": "Unique invoice handle."
                  },
                  "orderLines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Invoice order lines."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/create-on-demand-subscription-invoice": {
      "post": {
        "operationId": "billwerkplus.create-on-demand-subscription-invoice",
        "summary": "Create On-Demand Subscription Invoice",
        "description": "Creates an on-demand invoice for a Billwerkplus subscription.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/create-on-demand-subscription-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "invoiceHandle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Subscription handle."
                  },
                  "invoiceHandle": {
                    "type": "string",
                    "description": "Unique invoice handle."
                  },
                  "instant": {
                    "type": "boolean",
                    "description": "Process the invoice immediately.",
                    "default": false
                  },
                  "planManual": {
                    "type": "boolean",
                    "description": "Generate plan order lines manually for the invoice.",
                    "default": false
                  },
                  "planPeriodFrom": {
                    "type": "string",
                    "description": "Service period start for manually generated plan lines."
                  },
                  "planPeriodTo": {
                    "type": "string",
                    "description": "Service period end for manually generated plan lines."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/create-plan": {
      "post": {
        "operationId": "billwerkplus.create-plan",
        "summary": "Create Plan",
        "description": "Creates a plan in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/create-plan"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "handle",
                  "amount",
                  "scheduleType",
                  "intervalLength"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Plan name."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Unique plan handle."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Plan amount in the smallest account currency unit."
                  },
                  "scheduleType": {
                    "type": "string",
                    "description": "Plan scheduling type."
                  },
                  "intervalLength": {
                    "type": "number",
                    "description": "Number of schedule units between renewals."
                  },
                  "amountInclVat": {
                    "type": "boolean",
                    "description": "Whether amount includes VAT.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/create-subscription": {
      "post": {
        "operationId": "billwerkplus.create-subscription",
        "summary": "Create Subscription",
        "description": "Creates a subscription in Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/create-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customer",
                  "plan",
                  "handle",
                  "signupMethod"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer": {
                    "type": "string",
                    "description": "Existing customer handle."
                  },
                  "plan": {
                    "type": "string",
                    "description": "Plan handle."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Unique subscription handle."
                  },
                  "signupMethod": {
                    "type": "string",
                    "description": "How the customer provides payment information."
                  },
                  "test": {
                    "type": "boolean",
                    "description": "Create the subscription in test mode.",
                    "default": true
                  },
                  "showTerms": {
                    "type": "boolean",
                    "description": "Show terms of service on the signup page.",
                    "default": true
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Future start date for the subscription.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/delete-customer": {
      "delete": {
        "operationId": "billwerkplus.delete-customer",
        "summary": "Delete Customer",
        "description": "Soft-deletes a customer from Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/delete-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Customer handle.",
            "schema": {
              "type": "string",
              "description": "Customer handle."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeSubscriptions": {
                            "type": "number"
                          },
                          "cancelledAmount": {
                            "type": "number"
                          },
                          "cancelledInvoices": {
                            "type": "number"
                          },
                          "cancelledSubscriptions": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "string"
                          },
                          "dunningAmount": {
                            "type": "number"
                          },
                          "dunningInvoices": {
                            "type": "number"
                          },
                          "expiredSubscriptions": {
                            "type": "number"
                          },
                          "failedAmount": {
                            "type": "number"
                          },
                          "failedInvoices": {
                            "type": "number"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "nonRenewingSubscriptions": {
                            "type": "number"
                          },
                          "onHoldSubscriptions": {
                            "type": "number"
                          },
                          "pendingAdditionalCostAmount": {
                            "type": "number"
                          },
                          "pendingAdditionalCosts": {
                            "type": "number"
                          },
                          "pendingAmount": {
                            "type": "number"
                          },
                          "pendingCreditAmount": {
                            "type": "number"
                          },
                          "pendingCredits": {
                            "type": "number"
                          },
                          "pendingInvoices": {
                            "type": "number"
                          },
                          "refundedAmount": {
                            "type": "number"
                          },
                          "settledAmount": {
                            "type": "number"
                          },
                          "settledInvoices": {
                            "type": "number"
                          },
                          "subscriptions": {
                            "type": "number"
                          },
                          "test": {
                            "type": "boolean"
                          },
                          "transferredAdditionalCostAmount": {
                            "type": "number"
                          },
                          "transferredAdditionalCosts": {
                            "type": "number"
                          },
                          "transferredCreditAmount": {
                            "type": "number"
                          },
                          "transferredCredits": {
                            "type": "number"
                          },
                          "trialActiveSubscriptions": {
                            "type": "number"
                          },
                          "trialCancelledSubscriptions": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/get-add-on": {
      "get": {
        "operationId": "billwerkplus.get-add-on",
        "summary": "Get Add-On",
        "description": "Retrieves an add-on from Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/get-add-on"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Add-on handle.",
            "schema": {
              "type": "string",
              "description": "Add-on handle."
            }
          },
          {
            "name": "taxRateForCountry",
            "in": "query",
            "required": false,
            "description": "Country code to evaluate tax rate for.",
            "schema": {
              "type": "string",
              "description": "Country code to evaluate tax rate for.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/billwerkplus/latest/actions/get-charge": {
      "get": {
        "operationId": "billwerkplus.get-charge",
        "summary": "Get Charge",
        "description": "Retrieves a charge from Billwerkplus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/billwerkplus/latest/actions/get-charge"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Charge handle.",
            "schema": {
              "type": "string",
              "description": "Charge handle."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
[...]
