{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Userflow Universal API",
    "version": "0.0.5",
    "description": "Userflow lets you sync users, groups, and events into Userflow to personalize in-app onboarding and product adoption flows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/userflow/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/userflow/latest/actions/create-or-update-group": {
      "post": {
        "operationId": "userflow.create-or-update-group",
        "summary": "Create Or Update Group",
        "description": "Creates or updates a group in Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/create-or-update-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the group."
                  },
                  "attributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Group attributes to merge into the Userflow group."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Group attributes.",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Group name."
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Group creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Group ID."
                          },
                          "memberships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Group memberships."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          },
                          "users": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Users in the group."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/create-or-update-user": {
      "post": {
        "operationId": "userflow.create-or-update-user",
        "summary": "Create Or Update User",
        "description": "Creates or updates a user in Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/create-or-update-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the user."
                  },
                  "attributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "User attributes to merge into the Userflow user."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "User attributes.",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "User email."
                              },
                              "name": {
                                "type": "string",
                                "description": "User name."
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "User creation timestamp."
                          },
                          "groups": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User groups."
                          },
                          "id": {
                            "type": "string",
                            "description": "User ID."
                          },
                          "memberships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User memberships."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/create-webhook-subscription": {
      "post": {
        "operationId": "userflow.create-webhook-subscription",
        "summary": "Create Webhook Subscription",
        "description": "Creates a webhook subscription in Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/create-webhook-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "topics[]",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "apiVersion": {
                    "type": "string",
                    "description": "API version to use for webhook payloads."
                  },
                  "topics[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook topics to subscribe to."
                  },
                  "url": {
                    "type": "string",
                    "description": "Webhook destination URL."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_version": {
                            "type": "string",
                            "description": "API version used for the subscription."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subscription creation timestamp."
                          },
                          "disabled": {
                            "type": "boolean",
                            "description": "Whether the subscription is disabled."
                          },
                          "id": {
                            "type": "string",
                            "description": "Webhook subscription ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          },
                          "secret": {
                            "type": "string",
                            "description": "Webhook secret."
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Subscribed webhook topics."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/delete-group": {
      "delete": {
        "operationId": "userflow.delete-group",
        "summary": "Delete Group",
        "description": "Deletes an existing group from Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/delete-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "description": "The Userflow group ID to delete.",
            "schema": {
              "type": "string",
              "description": "The Userflow group ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the group was deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "Deleted group ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/delete-user": {
      "delete": {
        "operationId": "userflow.delete-user",
        "summary": "Delete User",
        "description": "Deletes an existing user from Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the user to delete.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the user to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the user was deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "Deleted user ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/delete-webhook-subscription": {
      "delete": {
        "operationId": "userflow.delete-webhook-subscription",
        "summary": "Delete Webhook Subscription",
        "description": "Deletes an existing webhook subscription from Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/delete-webhook-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookSubscriptionId",
            "in": "query",
            "required": true,
            "description": "ID of the webhook subscription to delete.",
            "schema": {
              "type": "string",
              "description": "ID of the webhook subscription to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the webhook subscription was deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "Deleted webhook subscription ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/get-content": {
      "get": {
        "operationId": "userflow.get-content",
        "summary": "Get Content",
        "description": "Retrieves a content object from Userflow by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/get-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentId",
            "in": "query",
            "required": true,
            "description": "Unique identifier for the content object.",
            "schema": {
              "type": "string",
              "description": "Unique identifier for the content object."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content creation timestamp."
                          },
                          "draft_version": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Draft version object."
                          },
                          "draft_version_id": {
                            "type": "string",
                            "description": "Draft version ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Content ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Content name."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          },
                          "published_version": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Published version object."
                          },
                          "published_version_id": {
                            "type": "string",
                            "description": "Published version ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Content type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/get-user": {
      "get": {
        "operationId": "userflow.get-user",
        "summary": "Get User",
        "description": "Retrieves a user from Userflow by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The Userflow user ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The Userflow user ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "User attributes.",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "User email."
                              },
                              "name": {
                                "type": "string",
                                "description": "User name."
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "User creation timestamp."
                          },
                          "groups": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User groups."
                          },
                          "id": {
                            "type": "string",
                            "description": "User ID."
                          },
                          "memberships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User memberships."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/get-webhook-subscription": {
      "get": {
        "operationId": "userflow.get-webhook-subscription",
        "summary": "Get Webhook Subscription",
        "description": "Retrieves a webhook subscription from Userflow by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/get-webhook-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookSubscriptionId",
            "in": "query",
            "required": true,
            "description": "ID of the webhook subscription.",
            "schema": {
              "type": "string",
              "description": "ID of the webhook subscription."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_version": {
                            "type": "string",
                            "description": "API version used for the subscription."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subscription creation timestamp."
                          },
                          "disabled": {
                            "type": "boolean",
                            "description": "Whether the subscription is disabled."
                          },
                          "id": {
                            "type": "string",
                            "description": "Webhook subscription ID."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          },
                          "secret": {
                            "type": "string",
                            "description": "Webhook secret when available."
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Subscribed webhook topics."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/list-attribute-definitions": {
      "get": {
        "operationId": "userflow.list-attribute-definitions",
        "summary": "List Attribute Definitions",
        "description": "Retrieves a list of attribute definitions from Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/list-attribute-definitions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of attribute definitions to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of attribute definitions to return."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Sort attribute definitions by created_at, display_name, or name.",
            "schema": {
              "type": "string",
              "description": "Sort attribute definitions by created_at, display_name, or name."
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Filter attribute definitions by scope.",
            "schema": {
              "type": "string",
              "description": "Filter attribute definitions by scope."
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Return attribute definitions after this definition ID.",
            "schema": {
              "type": "string",
              "description": "Return attribute definitions after this definition ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Definition creation timestamp."
                                },
                                "data_type": {
                                  "type": "string",
                                  "description": "Attribute data type."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Definition description."
                                },
                                "display_name": {
                                  "type": "string",
                                  "description": "Display name."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Attribute definition ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Internal name."
                                },
                                "object": {
                                  "type": "string",
                                  "description": "Returned object type."
                                },
                                "scope": {
                                  "type": "string",
                                  "description": "Definition scope."
                                }
                              }
                            },
                            "description": "List of attribute definitions."
                          },
                          "has_more": {
                            "type": "boolean",
                            "description": "Whether more results are available."
                          },
                          "next_page_url": {
                            "type": "string",
                            "description": "URL for the next page."
                          },
                          "object": {
                            "type": "string",
                            "description": "Response object type."
                          },
                          "url": {
                            "type": "string",
                            "description": "Current page URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/list-content": {
      "get": {
        "operationId": "userflow.list-content",
        "summary": "List Content",
        "description": "Retrieves a list of content objects from Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/list-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of content objects to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of content objects to return."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Sort content objects by created_at or name.",
            "schema": {
              "type": "string",
              "description": "Sort content objects by created_at or name."
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Return content objects after this content ID.",
            "schema": {
              "type": "string",
              "description": "Return content objects after this content ID."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter content by type: checklist, flow, or launcher.",
            "schema": {
              "type": "string",
              "description": "Filter content by type: checklist, flow, or launcher."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Content creation timestamp."
                                },
                                "draft_version": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Draft version object."
                                },
                                "draft_version_id": {
                                  "type": "string",
                                  "description": "Draft version ID."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Content ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Content name."
                                },
                                "object": {
                                  "type": "string",
                                  "description": "Returned object type."
                                },
                                "published_version": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Published version object."
                                },
                                "published_version_id": {
                                  "type": "string",
                                  "description": "Published version ID."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Content type."
                                }
                              }
                            },
                            "description": "List of content objects."
                          },
                          "has_more": {
                            "type": "boolean",
                            "description": "Whether more results are available."
                          },
                          "next_page_url": {
                            "type": "string",
                            "description": "URL for the next page."
                          },
                          "object": {
                            "type": "string",
                            "description": "Response object type."
                          },
                          "url": {
                            "type": "string",
                            "description": "Current page URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/list-event-definitions": {
      "get": {
        "operationId": "userflow.list-event-definitions",
        "summary": "List Event Definitions",
        "description": "Retrieves a list of event definitions from Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/list-event-definitions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of event definitions to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of event definitions to return."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Sort event definitions by created_at, display_name, or name.",
            "schema": {
              "type": "string",
              "description": "Sort event definitions by created_at, display_name, or name."
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Return event definitions after this definition ID.",
            "schema": {
              "type": "string",
              "description": "Return event definitions after this definition ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Definition creation timestamp."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Definition description."
                                },
                                "display_name": {
                                  "type": "string",
                                  "description": "Display name."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Event definition ID."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Internal name."
                                },
                                "object": {
                                  "type": "string",
                                  "description": "Returned object type."
                                }
                              }
                            },
                            "description": "List of event definitions."
                          },
                          "has_more": {
                            "type": "boolean",
                            "description": "Whether more results are available."
                          },
                          "next_page_url": {
                            "type": "string",
                            "description": "URL for the next page."
                          },
                          "object": {
                            "type": "string",
                            "description": "Response object type."
                          },
                          "url": {
                            "type": "string",
                            "description": "Current page URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/userflow/latest/actions/list-groups": {
      "get": {
        "operationId": "userflow.list-groups",
        "summary": "List Groups",
        "description": "Retrieves a list of groups from Userflow.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/userflow/latest/actions/list-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of groups to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of groups to return."
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Return groups after this group ID.",
            "schema": {
              "type": "string",
              "description": "Return groups after this group ID."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Sort groups by one or more supported fields.",
            "schema": {
              "type": "string",
              "description": "Sort groups by one or more supported fields."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attributes": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Group attributes.",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "Group name."
                                    }
                                  }
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Group creation timestamp."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Group ID."
                                },
                                "memberships": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Group memberships."
                                },
                                "object": {
                                  "type": "string",
                                  "description": "Returned object type."
                                },
                                "users": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Users in the group."
                                }
                              }
                            },
                            "description": "List of groups."
                          },
                          "has_more": {
                            "type": "boolean",
                            "description": "Whether more results are available."
                          },
                          "next_page_url": {
                            "type": "string",
                            "description": "URL for the next page."
                          },
                          "object": {
                            "type": "string",
                            "description": "Response object type."
                          },
                          "url": {
                            "type": "string",
                            "description": "Current page URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
[...]
