{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "iubenda Universal API",
    "version": "0.0.6",
    "description": "Connect to the iubenda Consent Database HTTP API to manage consents, subjects, legal notices, and consent proof documents."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/iubenda/latest/actions/create-consent": {
      "post": {
        "operationId": "iubenda.create-consent",
        "summary": "Create Consent",
        "description": "Creates a consent in iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/create-consent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subject": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Subject data for the consent event.",
                    "x-mindcloud-advanced": true
                  },
                  "subject.id": {
                    "type": "string",
                    "description": "Subject ID for the consent event.",
                    "example": "bd86b950-af4b-4a4f-9792-1690c18d42f1"
                  },
                  "subject.email": {
                    "type": "string",
                    "description": "Subject email address for the consent event.",
                    "example": "alex@example.com"
                  },
                  "subject.firstName": {
                    "type": "string",
                    "description": "Subject first name for the consent event.",
                    "example": "Alex"
                  },
                  "subject.lastName": {
                    "type": "string",
                    "description": "Subject last name for the consent event.",
                    "example": "Morgan"
                  },
                  "subject.fullName": {
                    "type": "string",
                    "description": "Subject full name for the consent event.",
                    "example": "Alex Morgan",
                    "x-mindcloud-advanced": true
                  },
                  "subject.verified": {
                    "type": "boolean",
                    "description": "Whether the consent subject is verified.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  },
                  "subject.phones[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of phone objects for the consent subject.",
                    "x-mindcloud-advanced": true
                  },
                  "subject.phones[].number": {
                    "type": "string",
                    "description": "A phone number with country code prefix for the consent subject.",
                    "example": "+5511999999999",
                    "x-mindcloud-advanced": true
                  },
                  "subject.phones[].label": {
                    "type": "string",
                    "description": "Label used to identify the consent subject phone number.",
                    "example": "personal",
                    "x-mindcloud-advanced": true
                  },
                  "legalNotices[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Legal notices associated with the consent.",
                    "x-mindcloud-advanced": true
                  },
                  "legalNotices[].identifier": {
                    "type": "string",
                    "description": "Identifier of a legal notice associated with the consent.",
                    "example": "codex_test_20260318_183536"
                  },
                  "legalNotices[].version": {
                    "type": "string",
                    "description": "Version of the associated legal notice. Auto-filled by iubenda when omitted.",
                    "example": "3",
                    "x-mindcloud-advanced": true
                  },
                  "proofs[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Proof entries associated with the consent.",
                    "x-mindcloud-advanced": true
                  },
                  "proofs[].content": {
                    "type": "string",
                    "description": "Proof content for the consent.",
                    "example": "Accepted privacy policy from signup form"
                  },
                  "proofs[].form": {
                    "type": "string",
                    "description": "Proof form for the consent.",
                    "example": "Website signup form"
                  },
                  "proofDocumentIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of documents that provide proof of the consent.",
                    "x-mindcloud-advanced": true
                  },
                  "preferences": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Consent preference values keyed by preference name.",
                    "x-mindcloud-advanced": true
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "IP address associated with the consent event.",
                    "example": "127.0.0.1",
                    "x-mindcloud-advanced": true
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "ISO 8601 timestamp at which the consent occurred.",
                    "example": "2026-03-18T21:37:27Z",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "subject_id": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/create-document": {
      "post": {
        "operationId": "iubenda.create-document",
        "summary": "Create Document",
        "description": "Creates a document in iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/create-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "Document file to upload. Max 1MB.",
                    "example": "Select a file under 1MB"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "mime_type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/create-legal-notice": {
      "post": {
        "operationId": "iubenda.create-legal-notice",
        "summary": "Create Legal Notice",
        "description": "Creates a legal notice in iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/create-legal-notice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "identifier",
                  "content"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Stable legal notice identifier.",
                    "example": "privacy_policy_v1"
                  },
                  "content": {
                    "type": "string",
                    "description": "Legal notice content, as a string or language-keyed object.",
                    "example": "We collect your email address to send product updates."
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "Legal notice timestamp.",
                    "example": "2026-03-18T21:44:43Z",
                    "x-mindcloud-advanced": true
                  },
                  "documentIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Document IDs associated with the legal notice.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/create-subject": {
      "post": {
        "operationId": "iubenda.create-subject",
        "summary": "Create Subject",
        "description": "Creates a subject in iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/create-subject"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Subject email address.",
                    "example": "alex@example.com"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Subject first name.",
                    "example": "Alex"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Subject last name.",
                    "example": "Morgan"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Subject full name.",
                    "example": "Alex Morgan",
                    "x-mindcloud-advanced": true
                  },
                  "verified": {
                    "type": "boolean",
                    "description": "Whether the subject is verified.",
                    "example": true
                  },
                  "phones[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of phone objects for the subject.",
                    "x-mindcloud-advanced": true
                  },
                  "phones[].number": {
                    "type": "string",
                    "description": "A phone number with country code prefix.",
                    "example": "+5511999999999",
                    "x-mindcloud-advanced": true
                  },
                  "phones[].label": {
                    "type": "string",
                    "description": "Label used to identify the phone number.",
                    "example": "personal",
                    "x-mindcloud-advanced": true
                  },
                  "id": {
                    "type": "string",
                    "description": "Subject ID. Auto-filled by iubenda when omitted.",
                    "example": "Leave blank to auto-generate",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/get-consent": {
      "get": {
        "operationId": "iubenda.get-consent",
        "summary": "Get Consent",
        "description": "Retrieves a consent from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/get-consent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "consentId",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the consent event",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the consent event",
              "example": "73430ae8-6382-42e3-8c57-943f59867467"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "ip_address": {
                            "type": "string"
                          },
                          "legal_notices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "owner": {
                            "type": "string"
                          },
                          "preferences": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "proof_documents": {
                            "type": "array",
                            "items": {}
                          },
                          "proofs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/get-document": {
      "get": {
        "operationId": "iubenda.get-document",
        "summary": "Get Document",
        "description": "Retrieves a document from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the document",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the document",
              "example": "456f1ede-028c-4b96-b0bc-a8d2e85a975c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file_data": {
                            "type": "string",
                            "description": "Raw file data returned by the Show Document endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/get-latest-consent-for-subject": {
      "get": {
        "operationId": "iubenda.get-latest-consent-for-subject",
        "summary": "Get Latest Consent for Subject",
        "description": "Retrieves the latest consent for a subject from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/get-latest-consent-for-subject"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subjectId",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the subject whose latest consent should be returned",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the subject whose latest consent should be returned",
              "example": "bd86b950-af4b-4a4f-9792-1690c18d42f1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "ip_address": {
                            "type": "string"
                          },
                          "legal_notices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "owner": {
                            "type": "string"
                          },
                          "preferences": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "proof_documents": {
                            "type": "array",
                            "items": {}
                          },
                          "proofs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "source": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/get-legal-notice-version": {
      "get": {
        "operationId": "iubenda.get-legal-notice-version",
        "summary": "Get Legal Notice Version",
        "description": "Retrieves a legal notice version from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/get-legal-notice-version"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "Identifier of the legal notice",
            "schema": {
              "type": "string",
              "description": "Identifier of the legal notice",
              "example": "codex_test_20260318_183536"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "Version of the legal notice",
            "schema": {
              "type": "number",
              "description": "Version of the legal notice",
              "example": 3
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Legal notice content for the requested version."
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Documents attached to this legal notice version."
                          },
                          "identifier": {
                            "type": "string",
                            "description": "Stable legal notice identifier."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Legal notice version timestamp."
                          },
                          "version": {
                            "type": "number",
                            "description": "Legal notice version number."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/get-subject": {
      "get": {
        "operationId": "iubenda.get-subject",
        "summary": "Get Subject",
        "description": "Retrieves a subject from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/get-subject"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subjectId",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the subject",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the subject",
              "example": "bd86b950-af4b-4a4f-9792-1690c18d42f1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "owner_id": {
                            "type": "string"
                          },
                          "phones": {
                            "type": "array",
                            "items": {}
                          },
                          "preferences": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/list-consents": {
      "get": {
        "operationId": "iubenda.list-consents",
        "summary": "List Consents",
        "description": "Retrieves consents from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/list-consents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subjectId",
            "in": "query",
            "required": false,
            "description": "Filter by subject ID.",
            "schema": {
              "type": "string",
              "description": "Filter by subject ID.",
              "example": "bd86b950-af4b-4a4f-9792-1690c18d42f1"
            }
          },
          {
            "name": "subjectEmailExact",
            "in": "query",
            "required": false,
            "description": "Filter by an exact subject email address.",
            "schema": {
              "type": "string",
              "description": "Filter by an exact subject email address.",
              "example": "alex@example.com"
            }
          },
          {
            "name": "subjectFirstName",
            "in": "query",
            "required": false,
            "description": "Filter by an exact subject first name.",
            "schema": {
              "type": "string",
              "description": "Filter by an exact subject first name.",
              "example": "Alex"
            }
          },
          {
            "name": "subjectLastName",
            "in": "query",
            "required": false,
            "description": "Filter by an exact subject last name.",
            "schema": {
              "type": "string",
              "description": "Filter by an exact subject last name.",
              "example": "Morgan"
            }
          },
          {
            "name": "subjectVerified",
            "in": "query",
            "required": false,
            "description": "Filter by subject verified status.",
            "schema": {
              "type": "boolean",
              "description": "Filter by subject verified status.",
              "example": true
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Filter by consent source: public or private.",
            "schema": {
              "type": "string",
              "description": "Filter by consent source: public or private.",
              "example": "private"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": false,
            "description": "Filter by IP address.",
            "schema": {
              "type": "string",
              "description": "Filter by IP address.",
              "example": "127.0.0.1"
            }
          },
          {
            "name": "fromTime",
            "in": "query",
            "required": false,
            "description": "Return consents from this timestamp onward.",
            "schema": {
              "type": "string",
              "description": "Return consents from this timestamp onward.",
              "example": "2026-03-01T00:00:00Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "toTime",
            "in": "query",
            "required": false,
            "description": "Return consents up to this timestamp.",
            "schema": {
              "type": "string",
              "description": "Return consents up to this timestamp.",
              "example": "2026-03-18T23:59:59Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor indicating after which consent results should be returned.",
            "schema": {
              "type": "string",
              "description": "Cursor indicating after which consent results should be returned.",
              "example": "last_consent_id",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of consents to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of consents to return.",
              "example": 25,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique consent identifier."
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "IP address stored with the consent, if available."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Identifier of the iubenda account owner."
                          },
                          "preferences": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Consent preferences keyed by preference name."
                          },
                          "source": {
                            "type": "string",
                            "description": "Whether the consent came from a public or private API key."
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subject summary for the consent."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Consent timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/list-documents": {
      "get": {
        "operationId": "iubenda.list-documents",
        "summary": "List Documents",
        "description": "Retrieves documents from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/list-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of documents to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of documents to return.",
              "example": 25
            }
          },
          {
            "name": "startingAfterIdentifier",
            "in": "query",
            "required": false,
            "description": "Cursor indicating after which identifier document results should be returned.",
            "schema": {
              "type": "string",
              "description": "Cursor indicating after which identifier document results should be returned.",
              "example": "privacy_policy_v1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique document identifier."
                          },
                          "mime_type": {
                            "type": "string",
                            "description": "Document MIME type."
                          },
                          "name": {
                            "type": "string",
                            "description": "Document file name."
                          },
                          "referenced": {
                            "type": "boolean",
                            "description": "Whether the document is referenced by a legal notice or consent."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Document upload timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/list-legal-notice-versions": {
      "get": {
        "operationId": "iubenda.list-legal-notice-versions",
        "summary": "List Legal Notice Versions",
        "description": "Retrieves legal notice versions from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/list-legal-notice-versions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "Identifier of the legal notice",
            "schema": {
              "type": "string",
              "description": "Identifier of the legal notice",
              "example": "privacy_policy_v1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of legal notice versions to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of legal notice versions to return.",
              "example": 10,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination across legal notice versions.",
            "schema": {
              "type": "number",
              "description": "Cursor for pagination across legal notice versions.",
              "example": 2,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Documents attached to this legal notice version."
                          },
                          "identifier": {
                            "type": "string",
                            "description": "Stable legal notice identifier."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Legal notice version timestamp."
                          },
                          "version": {
                            "type": "number",
                            "description": "Legal notice version number."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iubenda/latest/actions/list-legal-notices": {
      "get": {
        "operationId": "iubenda.list-legal-notices",
        "summary": "List Legal Notices",
        "description": "Retrieves legal notices from iubenda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iubenda/latest/actions/list-legal-notices"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "description": "Filter by an exact legal notice identifier.",
            "schema": {
              "type": "string",
              "description": "Filter by an exact legal notice identifier.",
              "example": "privacy_policy_v1"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Filter by an exact legal notice version.",
            "schema": {
              "type": "number",
              "description": "Filter by an exact legal notice version.",
              "example": 3
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter legal notices by content language such as en or it.",
            "schema": {
              "type": "string",
              "description": "Filter legal notices by content language such as en or it.",
              "example": "en"
            }
          },
          {
            "name": "legalNoticeId",
            "in": "query",
            "required": false,
            "description": "Filter by an exact legal notice ID.",
            "schema": {
              "type": "string",
              "description": "Filter by an exact legal notice ID.",
              "example": "0_privacy_policy",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fromTime",
            "in": "query",
            "required": false,
            "description": "Return legal notices from this timestamp onward.",
            "schema": {
              "type": "string",
              "description": "Return legal notices from this timestamp onward.",
              "example": "2026-03-01T00:00:00Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "toTime",
            "in": "query",
            "required": false,
            "description": "Return legal notices up to this timestamp.",
            "schema": {
              "type": "string",
              "description": "Return legal notices up to this timestamp.",
              "example": "2026-03-18T23:59:59Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startingAfterIdentifier",
            "in": "query",
            "required": false,
            "description": "Cursor identifier component for legal notice pagination.",
            "schema": {
              "type": "string",
              "description": "Cursor identifier component for legal notice pagination.",
              "example": "privacy_policy_v1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startingAfterVersion",
            "in": "query",
            "required": false,
            "description": "Cursor version component for legal notice pagination.",
            "schema": {
              "type": "number",
              "description": "Cursor version component for legal notice pagination.",
              "example": 3,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of legal notices to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of legal notices to return.",
              "example": 25,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
