{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BetterContact Universal API",
    "version": "0.0.8",
    "description": "BetterContact enriches contact and lead records with waterfall email and phone discovery, lead-finder searches, and account credit visibility."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/betterContact/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/betterContact/latest/actions/check-credit-balance": {
      "get": {
        "operationId": "betterContact.check-credit-balance",
        "summary": "Check Credit Balance",
        "description": "Retrieves the current BetterContact credit balance and account email.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterContact/latest/actions/check-credit-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsLeft": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterContact/latest/actions/create-enrichment": {
      "post": {
        "operationId": "betterContact.create-enrichment",
        "summary": "Create Enrichment",
        "description": "Creates an asynchronous BetterContact contact enrichment request.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterContact/latest/actions/create-enrichment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "company",
                  "enrichEmailAddress",
                  "enrichPhoneNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Contact first name for enrichment.",
                    "example": "Elon"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Contact last name for enrichment.",
                    "example": "Musk"
                  },
                  "company": {
                    "type": "string",
                    "description": "Company name for enrichment.",
                    "example": "Tesla"
                  },
                  "companyDomain": {
                    "type": "string",
                    "description": "Company domain for enrichment.",
                    "example": "tesla.com"
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "LinkedIn profile URL for enrichment.",
                    "example": "https://www.linkedin.com/in/elonmusk/"
                  },
                  "enrichEmailAddress": {
                    "type": "boolean",
                    "description": "Whether to enrich work email addresses.",
                    "default": true
                  },
                  "enrichPhoneNumber": {
                    "type": "boolean",
                    "description": "Whether to enrich direct phone numbers.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterContact/latest/actions/create-lead-finder-search": {
      "post": {
        "operationId": "betterContact.create-lead-finder-search",
        "summary": "Create Lead Finder Search",
        "description": "Creates an asynchronous BetterContact lead finder search.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterContact/latest/actions/create-lead-finder-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "filters",
                  "maxLeads"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Lead finder filters object, for example {\"company\":{\"include\":[\"OpenAI\"]},\"lead_seniority\":{\"include\":[\"founder\"]}}."
                  },
                  "maxLeads": {
                    "type": "number",
                    "description": "Maximum number of leads to return.",
                    "default": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterContact/latest/actions/get-enrichment-results": {
      "get": {
        "operationId": "betterContact.get-enrichment-results",
        "summary": "Get Enrichment Results",
        "description": "Retrieves BetterContact enrichment results by request ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterContact/latest/actions/get-enrichment-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "description": "The BetterContact enrichment request ID.",
            "schema": {
              "type": "string",
              "description": "The BetterContact enrichment request ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number"
                          },
                          "creditsLeft": {
                            "type": "string"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "companyAbout": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyAddressCity": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyAddressCountry": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyAddressState": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyAddressStreet": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyAddressZipcode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyCountryCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyCrunchbaseUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyDescription": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyDirectionsUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyDomain": {
                                  "type": "string"
                                },
                                "companyEmployees": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyEmployeesInLinkedin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyEmployeesNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyFollowers": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyFormattedLocations": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyFounded": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyFunding": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyHeadquarters": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyHeadquartersAddress": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyHeadquartersCity": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyHeadquartersCountry": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyImage": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyIndustries": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyIndustryCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyInvestors": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyLegalId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyLegalName": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyLinkedinId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyLinkedinUrl": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyLogo": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyName": {
                                  "type": "string"
                                },
                                "companyOrganizationType": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyPhoneNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companySimilar": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companySize": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companySpecialities": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyStockInfo": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "companyWebsite": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactActivity": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactAdditionalPhoneNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactAvatar": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactCity": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactConnections": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactCountry": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactCountryCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactCurrentCompany": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactEmailAddress": {
                                  "type": "string"
                                },
                                "contactEmailAddressProvider": {
                                  "type": "string"
                                },
                                "contactEmailAddressStatus": {
                                  "type": "string"
                                },
                                "contactExperience": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactFirstName": {
                                  "type": "string"
                                },
                                "contactFollowers": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactFullName": {
                                  "type": "string"
                                },
                                "contactGender": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactId": {
                                  "type": "number"
                                },
                                "contactJobTitle": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactLastName": {
                                  "type": "string"
                                },
                                "contactLinkedinId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactLinkedinProfileUrl": {
                                  "type": "string"
                                },
                                "contactLocation": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactPeopleAlsoViewed": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactPhoneNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactPhoneNumberCc": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactPhoneNumberProvider": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactPostalCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "contactPosts": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "doNotContact": {
                                  "type": "boolean"
                                },
                                "emailProvider": {
                                  "type": "string"
                                },
                                "enriched": {
                                  "type": "boolean"
                                },
                                "lastPhoneVerificationDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "object",
                            "properties": {
                              "catchAllNotSafe": {
                                "type": "number"
                              },
                              "catchAllSafe": {
                                "type": "number"
                              },
                              "emailEnrichment": {
                                "type": "object",
                                "properties": {
                                  "enriched": {
                                    "type": "number"
                                  },
                                  "notEnriched": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "notFound": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              },
                              "undeliverable": {
                                "type": "number"
                              },
                              "valid": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/betterContact/latest/actions/get-lead-finder-search-results": {
      "get": {
        "operationId": "betterContact.get-lead-finder-search-results",
        "summary": "Get Lead Finder Search Results",
        "description": "Retrieves BetterContact lead finder search results by request ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/betterContact/latest/actions/get-lead-finder-search-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "description": "The BetterContact lead finder request ID.",
            "schema": {
              "type": "string",
              "description": "The BetterContact lead finder request ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "string"
                          },
                          "creditsLeft": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "object",
                            "properties": {
                              "leadsFound": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
