{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Studio Ghibli Universal API",
    "version": "0.0.1",
    "description": "Call Studio Ghibli actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/studioGhibli/latest/actions/get-film-by-id": {
      "get": {
        "operationId": "studioGhibli.get-film-by-id",
        "summary": "Get Film by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/get-film-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource UUID documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Resource UUID documented by the provider."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Film description."
                          },
                          "director": {
                            "type": "string",
                            "description": "Director name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "image": {
                            "type": "string",
                            "description": "Provider image URL."
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related location URLs."
                          },
                          "movie_banner": {
                            "type": "string",
                            "description": "Provider banner URL."
                          },
                          "original_title": {
                            "type": "string",
                            "description": "Native original-language title."
                          },
                          "original_title_romanised": {
                            "type": "string",
                            "description": "Native romanised title."
                          },
                          "people": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related person URLs."
                          },
                          "producer": {
                            "type": "string",
                            "description": "Producer name."
                          },
                          "release_date": {
                            "type": "string",
                            "description": "Provider release-year string."
                          },
                          "rt_score": {
                            "type": "string",
                            "description": "Provider Rotten Tomatoes score string."
                          },
                          "running_time": {
                            "type": "string",
                            "description": "Provider running-time string."
                          },
                          "species": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related species URLs."
                          },
                          "title": {
                            "type": "string",
                            "description": "Film title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          },
                          "vehicles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related vehicle URLs."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/get-location-by-id": {
      "get": {
        "operationId": "studioGhibli.get-location-by-id",
        "summary": "Get Location by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/get-location-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource UUID documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Resource UUID documented by the provider."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "climate": {
                            "type": "string",
                            "description": "Climate."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Location name."
                          },
                          "residents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related person URLs."
                          },
                          "surface_water": {
                            "type": "string",
                            "description": "Native surface-water value."
                          },
                          "terrain": {
                            "type": "string",
                            "description": "Terrain."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/get-person-by-id": {
      "get": {
        "operationId": "studioGhibli.get-person-by-id",
        "summary": "Get Person by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/get-person-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource UUID documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Resource UUID documented by the provider."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "string",
                            "description": "Provider age value."
                          },
                          "eye_color": {
                            "type": "string",
                            "description": "Native eye-colour value."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Provider gender value."
                          },
                          "hair_color": {
                            "type": "string",
                            "description": "Native hair-colour value."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Person name."
                          },
                          "species": {
                            "type": "string",
                            "description": "Related species URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/get-species-by-id": {
      "get": {
        "operationId": "studioGhibli.get-species-by-id",
        "summary": "Get Species by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/get-species-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource UUID documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Resource UUID documented by the provider."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string",
                            "description": "Species classification."
                          },
                          "eye_colors": {
                            "type": "string",
                            "description": "Native eye-colours value."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "hair_colors": {
                            "type": "string",
                            "description": "Native hair-colours value."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Species name."
                          },
                          "people": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related person URLs."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/get-vehicle-by-id": {
      "get": {
        "operationId": "studioGhibli.get-vehicle-by-id",
        "summary": "Get Vehicle by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/get-vehicle-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource UUID documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Resource UUID documented by the provider."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Vehicle description."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "length": {
                            "type": "string",
                            "description": "Provider length string."
                          },
                          "name": {
                            "type": "string",
                            "description": "Vehicle name."
                          },
                          "pilot": {
                            "type": "string",
                            "description": "Related person URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          },
                          "vehicle_class": {
                            "type": "string",
                            "description": "Native vehicle class."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/list-films": {
      "get": {
        "operationId": "studioGhibli.list-films",
        "summary": "List Films",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/list-films"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Film description."
                          },
                          "director": {
                            "type": "string",
                            "description": "Director name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "image": {
                            "type": "string",
                            "description": "Provider image URL."
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related location URLs."
                          },
                          "movie_banner": {
                            "type": "string",
                            "description": "Provider banner URL."
                          },
                          "original_title": {
                            "type": "string",
                            "description": "Native original-language title."
                          },
                          "original_title_romanised": {
                            "type": "string",
                            "description": "Native romanised title."
                          },
                          "people": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related person URLs."
                          },
                          "producer": {
                            "type": "string",
                            "description": "Producer name."
                          },
                          "release_date": {
                            "type": "string",
                            "description": "Provider release-year string."
                          },
                          "rt_score": {
                            "type": "string",
                            "description": "Provider Rotten Tomatoes score string."
                          },
                          "running_time": {
                            "type": "string",
                            "description": "Provider running-time string."
                          },
                          "species": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related species URLs."
                          },
                          "title": {
                            "type": "string",
                            "description": "Film title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          },
                          "vehicles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related vehicle URLs."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/list-locations": {
      "get": {
        "operationId": "studioGhibli.list-locations",
        "summary": "List Locations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/list-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "climate": {
                            "type": "string",
                            "description": "Climate."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Location name."
                          },
                          "residents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related person URLs."
                          },
                          "surface_water": {
                            "type": "string",
                            "description": "Native surface-water value."
                          },
                          "terrain": {
                            "type": "string",
                            "description": "Terrain."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/list-people": {
      "get": {
        "operationId": "studioGhibli.list-people",
        "summary": "List People",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/list-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "string",
                            "description": "Provider age value."
                          },
                          "eye_color": {
                            "type": "string",
                            "description": "Native eye-colour value."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Provider gender value."
                          },
                          "hair_color": {
                            "type": "string",
                            "description": "Native hair-colour value."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Person name."
                          },
                          "species": {
                            "type": "string",
                            "description": "Related species URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/list-species": {
      "get": {
        "operationId": "studioGhibli.list-species",
        "summary": "List Species",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/list-species"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "string",
                            "description": "Species classification."
                          },
                          "eye_colors": {
                            "type": "string",
                            "description": "Native eye-colours value."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "hair_colors": {
                            "type": "string",
                            "description": "Native hair-colours value."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Species name."
                          },
                          "people": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related person URLs."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/studioGhibli/latest/actions/list-vehicles": {
      "get": {
        "operationId": "studioGhibli.list-vehicles",
        "summary": "List Vehicles",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/studioGhibli/latest/actions/list-vehicles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated list of response fields documented by the provider.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated list of response fields documented by the provider."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Vehicle description."
                          },
                          "films": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related film URLs."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider UUID."
                          },
                          "length": {
                            "type": "string",
                            "description": "Provider length string."
                          },
                          "name": {
                            "type": "string",
                            "description": "Vehicle name."
                          },
                          "pilot": {
                            "type": "string",
                            "description": "Related person URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "Canonical resource URL."
                          },
                          "vehicle_class": {
                            "type": "string",
                            "description": "Native vehicle class."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
