{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Hyrule Compendium Universal API",
    "version": "0.0.2",
    "description": "Call Hyrule Compendium actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/hyruleCompendium/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/hyruleCompendium/latest/actions/get-entry": {
      "get": {
        "operationId": "hyruleCompendium.get-entry",
        "summary": "Get Entry",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hyruleCompendium/latest/actions/get-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry",
            "in": "query",
            "required": true,
            "description": "Entry ID or name; names use underscores or URL encoding for spaces.",
            "schema": {
              "type": "string",
              "description": "Entry ID or name; names use underscores or URL encoding for spaces."
            }
          },
          {
            "name": "game",
            "in": "query",
            "required": false,
            "description": "Supported game; defaults to Breath of the Wild.",
            "schema": {
              "type": "string",
              "description": "Supported game; defaults to Breath of the Wild.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "common_locations": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "cooking_effect": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "dlc": {
                                "type": "boolean"
                              },
                              "drops": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "edible": {
                                "type": "boolean"
                              },
                              "fuse_attack_power": {
                                "type": "number"
                              },
                              "hearts_recovered": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "image": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "attack": {
                                    "type": "number"
                                  },
                                  "defense": {
                                    "type": "number"
                                  },
                                  "effect": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hyruleCompendium/latest/actions/list-all-entries": {
      "get": {
        "operationId": "hyruleCompendium.list-all-entries",
        "summary": "List All Entries",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hyruleCompendium/latest/actions/list-all-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game",
            "in": "query",
            "required": false,
            "description": "Supported game; defaults to Breath of the Wild.",
            "schema": {
              "type": "string",
              "description": "Supported game; defaults to Breath of the Wild.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "common_locations": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "cooking_effect": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "dlc": {
                                  "type": "boolean"
                                },
                                "drops": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "edible": {
                                  "type": "boolean"
                                },
                                "fuse_attack_power": {
                                  "type": "number"
                                },
                                "hearts_recovered": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "image": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "properties": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "attack": {
                                      "type": "number"
                                    },
                                    "defense": {
                                      "type": "number"
                                    },
                                    "effect": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hyruleCompendium/latest/actions/list-entries-by-category": {
      "get": {
        "operationId": "hyruleCompendium.list-entries-by-category",
        "summary": "List Entries by Category",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hyruleCompendium/latest/actions/list-entries-by-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": true,
            "description": "Documented compendium category.",
            "schema": {
              "type": "string",
              "description": "Documented compendium category.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4"
              ]
            }
          },
          {
            "name": "game",
            "in": "query",
            "required": false,
            "description": "Supported game; defaults to Breath of the Wild.",
            "schema": {
              "type": "string",
              "description": "Supported game; defaults to Breath of the Wild.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "common_locations": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "cooking_effect": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "dlc": {
                                  "type": "boolean"
                                },
                                "drops": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "edible": {
                                  "type": "boolean"
                                },
                                "fuse_attack_power": {
                                  "type": "number"
                                },
                                "hearts_recovered": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "image": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "properties": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "attack": {
                                      "type": "number"
                                    },
                                    "defense": {
                                      "type": "number"
                                    },
                                    "effect": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
