{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "finlight Universal API",
    "version": "0.0.5",
    "description": "Retrieve real-time financial news, article lookups, source lists, and sentiment-enriched article data from Finlight."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/finlight/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/finlight/latest/actions/fetch-article-by-link": {
      "get": {
        "operationId": "finlight.fetch-article-by-link",
        "summary": "Fetch Article By Link",
        "description": "Retrieves a single finlight article by URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finlight/latest/actions/fetch-article-by-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "in": "query",
            "required": true,
            "description": "Article URL to look up.",
            "schema": {
              "type": "string",
              "description": "Article URL to look up."
            }
          },
          {
            "name": "includeContent",
            "in": "query",
            "required": false,
            "description": "Include the full article content in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include the full article content in the response."
            }
          },
          {
            "name": "includeEntities",
            "in": "query",
            "required": false,
            "description": "Include company entities when the subscription tier supports them.",
            "schema": {
              "type": "boolean",
              "description": "Include company entities when the subscription tier supports them."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Article category labels."
                          },
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Country codes associated with the article."
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Image URLs returned for the article."
                          },
                          "language": {
                            "type": "string",
                            "description": "Language code for the article."
                          },
                          "link": {
                            "type": "string",
                            "description": "Canonical article URL."
                          },
                          "publishDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Article publication timestamp."
                          },
                          "source": {
                            "type": "string",
                            "description": "Source domain for the article."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Article summary text."
                          },
                          "title": {
                            "type": "string",
                            "description": "Article title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finlight/latest/actions/fetch-articles": {
      "get": {
        "operationId": "finlight.fetch-articles",
        "summary": "Fetch Articles",
        "description": "Finds financial news articles in finlight.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finlight/latest/actions/fetch-articles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query with optional advanced field filters.",
            "schema": {
              "type": "string",
              "description": "Search query with optional advanced field filters."
            }
          },
          {
            "name": "tickers[]",
            "in": "query",
            "required": false,
            "description": "Filter articles by stock ticker symbols.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter articles by stock ticker symbols."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "sources[]",
            "in": "query",
            "required": false,
            "description": "Filter articles by source domain list.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter articles by source domain list."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "excludeSources[]",
            "in": "query",
            "required": false,
            "description": "Exclude source domains from the results.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Exclude source domains from the results."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "countries[]",
            "in": "query",
            "required": false,
            "description": "Filter articles by ISO 3166-1 alpha-2 country codes.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter articles by ISO 3166-1 alpha-2 country codes."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter results by ISO 639-1 language code.",
            "schema": {
              "type": "string",
              "description": "Filter results by ISO 639-1 language code."
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date in YYYY-MM-DD format or ISO datetime.",
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format or ISO datetime."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date in YYYY-MM-DD format or ISO datetime.",
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format or ISO datetime."
            }
          },
          {
            "name": "includeEntities",
            "in": "query",
            "required": false,
            "description": "Include company entities when the subscription tier supports them.",
            "schema": {
              "type": "boolean",
              "description": "Include company entities when the subscription tier supports them."
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Sort field: publishDate or createdAt.",
            "schema": {
              "type": "string",
              "description": "Sort field: publishDate or createdAt.",
              "default": "publishDate"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort direction: ASC or DESC.",
            "schema": {
              "type": "string",
              "description": "Sort direction: ASC or DESC.",
              "default": "DESC"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "number",
              "description": "Number of results per page."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "number",
              "description": "Page number."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Article category labels."
                          },
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Country codes associated with the article."
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Image URLs returned for the article."
                          },
                          "language": {
                            "type": "string",
                            "description": "Language code for the article."
                          },
                          "link": {
                            "type": "string",
                            "description": "Canonical article URL."
                          },
                          "publishDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Article publication timestamp."
                          },
                          "source": {
                            "type": "string",
                            "description": "Source domain for the article."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Article summary text."
                          },
                          "title": {
                            "type": "string",
                            "description": "Article title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finlight/latest/actions/list-sources": {
      "get": {
        "operationId": "finlight.list-sources",
        "summary": "List Sources",
        "description": "Retrieves supported news sources from finlight.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finlight/latest/actions/list-sources"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "Source domain name."
                          },
                          "isDefaultSource": {
                            "type": "boolean",
                            "description": "Whether Finlight marks the source as a default source."
                          },
                          "originCountry": {
                            "type": "string",
                            "description": "Country code for the source origin when provided."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
