{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Eventbrite Universal API",
    "version": "0.0.9",
    "description": "Create events, manage attendees, orders, venues, and organizers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eventbrite/latest/actions/copy-event": {
      "post": {
        "operationId": "eventbrite.copy-event",
        "summary": "Copy Event",
        "description": "Copies an event in Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/copy-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "Event identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacity": {
                            "type": "number"
                          },
                          "capacityIsCustom": {
                            "type": "boolean"
                          },
                          "categoryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "changed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "local": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "utc": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "facebookEventId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "formatId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hideEndDate": {
                            "type": "boolean"
                          },
                          "hideStartDate": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inventoryType": {
                            "type": "string"
                          },
                          "inviteOnly": {
                            "type": "boolean"
                          },
                          "isExternallyTicketed": {
                            "type": "boolean"
                          },
                          "isFree": {
                            "type": "boolean"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "isReservedSeating": {
                            "type": "boolean"
                          },
                          "isSeries": {
                            "type": "boolean"
                          },
                          "isSeriesParent": {
                            "type": "boolean"
                          },
                          "listed": {
                            "type": "boolean"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "logoId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "onlineEvent": {
                            "type": "boolean"
                          },
                          "organizationId": {
                            "type": "string"
                          },
                          "organizerId": {
                            "type": "string"
                          },
                          "privacySetting": {
                            "type": "string"
                          },
                          "resourceUri": {
                            "type": "string"
                          },
                          "shareable": {
                            "type": "boolean"
                          },
                          "showColorsInSeatmapThumbnail": {
                            "type": "boolean"
                          },
                          "showPickASeat": {
                            "type": "boolean"
                          },
                          "showRemaining": {
                            "type": "boolean"
                          },
                          "showSeatmapThumbnail": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "local": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "utc": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "subcategoryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summary": {
                            "type": "string"
                          },
                          "txTimeLimit": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "venueId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "version": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/create-event-ticket-class": {
      "post": {
        "operationId": "eventbrite.create-event-ticket-class",
        "summary": "Create Event Ticket Class",
        "description": "Creates a new event ticket class in Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/create-event-ticket-class"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId",
                  "ticketClass.free",
                  "ticketClass.name",
                  "ticketClass.quantityTotal"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "Event identifier."
                  },
                  "ticketClass.free": {
                    "type": "boolean",
                    "description": "Whether this ticket class is free."
                  },
                  "ticketClass.name": {
                    "type": "string",
                    "description": "Ticket class display name."
                  },
                  "ticketClass.quantityTotal": {
                    "type": "number",
                    "description": "Total quantity for this ticket class."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualCost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualFee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoHide": {
                            "type": "boolean"
                          },
                          "capacity": {
                            "type": "number"
                          },
                          "category": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deliveryMethods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "donation": {
                            "type": "boolean"
                          },
                          "eventId": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "free": {
                            "type": "boolean"
                          },
                          "hasPdfTicket": {
                            "type": "boolean"
                          },
                          "hidden": {
                            "type": "boolean"
                          },
                          "hiddenCurrently": {
                            "type": "boolean"
                          },
                          "hideDescription": {
                            "type": "boolean"
                          },
                          "hideSaleDates": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "includeFee": {
                            "type": "boolean"
                          },
                          "maximumQuantity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "maximumQuantityPerOrder": {
                            "type": "number"
                          },
                          "minimumQuantity": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "onSaleStatus": {
                            "type": "string"
                          },
                          "orderConfirmationMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "quantitySold": {
                            "type": "number"
                          },
                          "quantityTotal": {
                            "type": "number"
                          },
                          "resourceUri": {
                            "type": "string"
                          },
                          "salesChannels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "salesEnd": {
                            "type": "string"
                          },
                          "salesEndRelative": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "salesStart": {
                            "type": "string"
                          },
                          "secondaryAssignmentEnabled": {
                            "type": "boolean"
                          },
                          "sorting": {
                            "type": "number"
                          },
                          "splitFee": {
                            "type": "boolean"
                          },
                          "tax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ticketParentId": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/create-organization-event": {
      "post": {
        "operationId": "eventbrite.create-organization-event",
        "summary": "Create Organization Event",
        "description": "Creates a new organization event in Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/create-organization-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "event.currency",
                  "event.end.timezone",
                  "event.end.utc",
                  "event.name.html",
                  "event.start.timezone",
                  "event.start.utc",
                  "organizationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "event.currency": {
                    "type": "string",
                    "description": "Event currency code (e.g. USD)."
                  },
                  "event.end.timezone": {
                    "type": "string",
                    "description": "End timezone (e.g. America/Chicago)."
                  },
                  "event.end.utc": {
                    "type": "string",
                    "description": "End datetime in UTC ISO format."
                  },
                  "event.name.html": {
                    "type": "string",
                    "description": "Event title."
                  },
                  "event.start.timezone": {
                    "type": "string",
                    "description": "Start timezone (e.g. America/Chicago)."
                  },
                  "event.start.utc": {
                    "type": "string",
                    "description": "Start datetime in UTC ISO format."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Organization identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacity": {
                            "type": "number"
                          },
                          "capacityIsCustom": {
                            "type": "boolean"
                          },
                          "categoryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "changed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "text": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "local": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "utc": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "facebookEventId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "formatId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hideEndDate": {
                            "type": "boolean"
                          },
                          "hideStartDate": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inventoryType": {
                            "type": "string"
                          },
                          "inviteOnly": {
                            "type": "boolean"
                          },
                          "isExternallyTicketed": {
                            "type": "boolean"
                          },
                          "isFree": {
                            "type": "boolean"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "isReservedSeating": {
                            "type": "boolean"
                          },
                          "isSeries": {
                            "type": "boolean"
                          },
                          "isSeriesParent": {
                            "type": "boolean"
                          },
                          "listed": {
                            "type": "boolean"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "logoId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "onlineEvent": {
                            "type": "boolean"
                          },
                          "organizationId": {
                            "type": "string"
                          },
                          "organizerId": {
                            "type": "string"
                          },
                          "privacySetting": {
                            "type": "string"
                          },
                          "resourceUri": {
                            "type": "string"
                          },
                          "shareable": {
                            "type": "boolean"
                          },
                          "showColorsInSeatmapThumbnail": {
                            "type": "boolean"
                          },
                          "showPickASeat": {
                            "type": "boolean"
                          },
                          "showRemaining": {
                            "type": "boolean"
                          },
                          "showSeatmapThumbnail": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "local": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "utc": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "subcategoryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summary": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "txTimeLimit": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "venueId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "version": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/create-organization-organizer": {
      "post": {
        "operationId": "eventbrite.create-organization-organizer",
        "summary": "Create Organization Organizer",
        "description": "Creates a new organization organizer in Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/create-organization-organizer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "organizer.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Organization identifier."
                  },
                  "organizer.name": {
                    "type": "string",
                    "description": "Organizer display name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "text": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "disableMarketingOptIn": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "logoId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "longDescription": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "text": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "numFutureEvents": {
                            "type": "number"
                          },
                          "numPastEvents": {
                            "type": "number"
                          },
                          "organizationId": {
                            "type": "string"
                          },
                          "resourceUri": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/create-organization-venue": {
      "post": {
        "operationId": "eventbrite.create-organization-venue",
        "summary": "Create Organization Venue",
        "description": "Creates a new organization venue in Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/create-organization-venue"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "venue.address.address1",
                  "venue.address.city",
                  "venue.address.country",
                  "venue.address.postalCode",
                  "venue.address.region",
                  "venue.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Organization identifier."
                  },
                  "venue.address.address1": {
                    "type": "string",
                    "description": "Street address line 1."
                  },
                  "venue.address.city": {
                    "type": "string",
                    "description": "City."
                  },
                  "venue.address.country": {
                    "type": "string",
                    "description": "Two-letter country code (e.g. US)."
                  },
                  "venue.address.postalCode": {
                    "type": "string",
                    "description": "Postal code."
                  },
                  "venue.address.region": {
                    "type": "string",
                    "description": "State/region code."
                  },
                  "venue.name": {
                    "type": "string",
                    "description": "Venue display name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "string"
                              },
                              "localizedAddressDisplay": {
                                "type": "string"
                              },
                              "localizedAreaDisplay": {
                                "type": "string"
                              },
                              "localizedMultiLineAddressDisplay": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "longitude": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ageRestriction": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "capacity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "resourceUri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/delete-event": {
      "delete": {
        "operationId": "eventbrite.delete-event",
        "summary": "Delete Event",
        "description": "Deletes an existing event from Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/delete-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "Event identifier.",
            "schema": {
              "type": "string",
              "description": "Event identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/get-attendee": {
      "get": {
        "operationId": "eventbrite.get-attendee",
        "summary": "Get Attendee",
        "description": "Retrieves an attendee from Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/get-attendee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendeeId",
            "in": "query",
            "required": true,
            "description": "Attendee identifier.",
            "schema": {
              "type": "string",
              "description": "Attendee identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "barcodes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "barcode": {
                                  "type": "string"
                                },
                                "changed": {
                                  "type": "string"
                                },
                                "checkinType": {
                                  "type": "number"
                                },
                                "created": {
                                  "type": "string"
                                },
                                "isPrinted": {
                                  "type": "boolean"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "cancelled": {
                            "type": "boolean"
                          },
                          "changed": {
                            "type": "string"
                          },
                          "checkedIn": {
                            "type": "boolean"
                          },
                          "costs": {
                            "type": "object",
                            "properties": {
                              "basePrice": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string"
                                  },
                                  "display": {
                                    "type": "string"
                                  },
                                  "majorValue": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "eventbriteFee": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string"
                                  },
                                  "display": {
                                    "type": "string"
                                  },
                                  "majorValue": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "gross": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string"
                                  },
                                  "display": {
                                    "type": "string"
                                  },
                                  "majorValue": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "paymentFee": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string"
                                  },
                                  "display": {
                                    "type": "string"
                                  },
                                  "majorValue": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tax": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string"
                                  },
                                  "display": {
                                    "type": "string"
                                  },
                                  "majorValue": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "created": {
                            "type": "string"
                          },
                          "deliveryMethod": {
                            "type": "string"
                          },
                          "eventId": {
                            "type": "string"
                          },
                          "guestlistId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "profile": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "refunded": {
                            "type": "boolean"
                          },
                          "resourceUri": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "ticketClassId": {
                            "type": "string"
                          },
                          "ticketClassName": {
                            "type": "string"
                          },
                          "variantId": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/get-current-user": {
      "get": {
        "operationId": "eventbrite.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isPublic": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/get-event": {
      "get": {
        "operationId": "eventbrite.get-event",
        "summary": "Get Event",
        "description": "Retrieves an event from Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "Event identifier.",
            "schema": {
              "type": "string",
              "description": "Event identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacity": {
                            "type": "number"
                          },
                          "capacityIsCustom": {
                            "type": "boolean"
                          },
                          "categoryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "changed": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "local": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "utc": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "facebookEventId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "formatId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hideEndDate": {
                            "type": "boolean"
                          },
                          "hideStartDate": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inventoryType": {
                            "type": "string"
                          },
                          "inviteOnly": {
                            "type": "boolean"
                          },
                          "isExternallyTicketed": {
                            "type": "boolean"
                          },
                          "isFree": {
                            "type": "boolean"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "isReservedSeating": {
                            "type": "boolean"
                          },
                          "isSeries": {
                            "type": "boolean"
                          },
                          "isSeriesParent": {
                            "type": "boolean"
                          },
                          "listed": {
                            "type": "boolean"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "logoId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "html": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "onlineEvent": {
                            "type": "boolean"
                          },
                          "organizationId": {
                            "type": "string"
                          },
                          "organizerId": {
                            "type": "string"
                          },
                          "privacySetting": {
                            "type": "string"
                          },
                          "resourceUri": {
                            "type": "string"
                          },
                          "shareable": {
                            "type": "boolean"
                          },
                          "showColorsInSeatmapThumbnail": {
                            "type": "boolean"
                          },
                          "showPickASeat": {
                            "type": "boolean"
                          },
                          "showRemaining": {
                            "type": "boolean"
                          },
                          "showSeatmapThumbnail": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          },
                          "start": {
                            "type": "object",
                            "properties": {
                              "local": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "utc": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "subcategoryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summary": {
                            "type": "string"
                          },
                          "txTimeLimit": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "venueId": {
                            "type": "string"
                          },
                          "version": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eventbrite/latest/actions/get-order": {
      "get": {
        "operationId": "eventbrite.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order from Eventbrite.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eventbrite/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Eventbrite order identifier (for example, 14395036633).",
            "schema": {
              "type": "string",
              "description": "Eventbrite order identifier (for example, 14395036633).",
              "example": "14395036633"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
[...]
