{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Creatomate Universal API",
    "version": "0.0.6",
    "description": "Create, render, and manage automated videos and images"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/creatomate/latest/actions/concatenate-multiple-videos": {
      "post": {
        "operationId": "creatomate.concatenate-multiple-videos",
        "summary": "Concatenate Multiple Videos",
        "description": "Creates a concatenated video render in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/concatenate-multiple-videos"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "videoUrls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "videoUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ordered list of video URLs to concatenate into one render."
                  },
                  "includeFadeTransition": {
                    "type": "boolean",
                    "description": "Whether to add the documented fade transition between clips after the first.",
                    "default": false
                  },
                  "transitionDurationSeconds": {
                    "type": "number",
                    "description": "Duration of the transition animation in seconds.",
                    "default": 1,
                    "x-mindcloud-advanced": true
                  },
                  "transitionType": {
                    "type": "string",
                    "description": "Creatomate transition type to apply between video clips.",
                    "example": "fade",
                    "default": "fade",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Creatomate render ID."
                          },
                          "outputFormat": {
                            "type": "string",
                            "description": "Output format requested for the render."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current render status returned by Creatomate."
                          },
                          "url": {
                            "type": "string",
                            "description": "Direct URL for the rendered output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-image-from-template": {
      "post": {
        "operationId": "creatomate.create-image-from-template",
        "summary": "Create Image From Template",
        "description": "Creates an image render from a template in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-image-from-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the image template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-render": {
      "post": {
        "operationId": "creatomate.create-render",
        "summary": "Create Render",
        "description": "Creates a new render in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-render"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  },
                  "renderScale": {
                    "type": "number",
                    "description": "The render scale from 0.1 to 10. Default is 1.0.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "maxWidth": {
                    "type": "number",
                    "description": "The maximum output width in pixels.",
                    "example": 1280,
                    "x-mindcloud-advanced": true
                  },
                  "maxHeight": {
                    "type": "number",
                    "description": "The maximum output height in pixels.",
                    "example": 720,
                    "x-mindcloud-advanced": true
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "The URL to call when the render completes.",
                    "example": "https://example.com/creatomate-webhook",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Optional metadata string to store with the render.",
                    "example": "mindcloud:demo",
                    "x-mindcloud-advanced": true
                  },
                  "outputFormat": {
                    "type": "string",
                    "description": "The RenderScript output format.",
                    "example": "mp4",
                    "x-mindcloud-advanced": true
                  },
                  "width": {
                    "type": "number",
                    "description": "The output width in pixels for a RenderScript request.",
                    "example": 1280,
                    "x-mindcloud-advanced": true
                  },
                  "height": {
                    "type": "number",
                    "description": "The output height in pixels for a RenderScript request.",
                    "example": 720,
                    "x-mindcloud-advanced": true
                  },
                  "elements": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The RenderScript elements array.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-render-from-render-script": {
      "post": {
        "operationId": "creatomate.create-render-from-render-script",
        "summary": "Create Render From RenderScript",
        "description": "Creates a render from RenderScript in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-render-from-render-script"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "outputFormat",
                  "width",
                  "height",
                  "elements"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "outputFormat": {
                    "type": "string",
                    "description": "The RenderScript output format.",
                    "example": "jpg"
                  },
                  "width": {
                    "type": "number",
                    "description": "The output width in pixels.",
                    "example": 1280
                  },
                  "height": {
                    "type": "number",
                    "description": "The output height in pixels.",
                    "example": 720
                  },
                  "elements": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The RenderScript elements array."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-render-with-metadata": {
      "post": {
        "operationId": "creatomate.create-render-with-metadata",
        "summary": "Create Render With Metadata",
        "description": "Creates a render with metadata in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-render-with-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId",
                  "metadata"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Metadata string to store with the render.",
                    "example": "mindcloud:metadata"
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-render-with-render-scale": {
      "post": {
        "operationId": "creatomate.create-render-with-render-scale",
        "summary": "Create Render With Render Scale",
        "description": "Creates a render with render scale in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-render-with-render-scale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId",
                  "renderScale"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "renderScale": {
                    "type": "number",
                    "description": "The render scale from 0.1 to 10. Default is 1.0.",
                    "example": 0.5
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-render-with-size-constraints": {
      "post": {
        "operationId": "creatomate.create-render-with-size-constraints",
        "summary": "Create Render With Size Constraints",
        "description": "Creates a render with size constraints in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-render-with-size-constraints"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "maxWidth": {
                    "type": "number",
                    "description": "The maximum output width in pixels.",
                    "example": 1280
                  },
                  "maxHeight": {
                    "type": "number",
                    "description": "The maximum output height in pixels.",
                    "example": 720
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-render-with-template-modifications": {
      "post": {
        "operationId": "creatomate.create-render-with-template-modifications",
        "summary": "Create Render With Template Modifications",
        "description": "Creates a render with template modifications in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-render-with-template-modifications"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId",
                  "modifications"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-render-with-webhook-callback": {
      "post": {
        "operationId": "creatomate.create-render-with-webhook-callback",
        "summary": "Create Render With Webhook Callback",
        "description": "Creates a render with a webhook callback in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-render-with-webhook-callback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId",
                  "webhookUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "The URL to call when the render completes.",
                    "example": "https://example.com/creatomate-webhook"
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/create-video-from-template": {
      "post": {
        "operationId": "creatomate.create-video-from-template",
        "summary": "Create Video From Template",
        "description": "Creates a video render from a template in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/create-video-from-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "The ID of the video template to render.",
                    "example": "0bb2ceb3-50b5-48f0-9fe2-84e6bcba43c0"
                  },
                  "modifications": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A key-value object of template modifications."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number"
                          },
                          "error_message": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "number"
                          },
                          "frame_rate": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "modifications": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "output_format": {
                            "type": "string"
                          },
                          "render_scale": {
                            "type": "number"
                          },
                          "snapshot_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "template_id": {
                            "type": "string"
                          },
                          "template_name": {
                            "type": "string"
                          },
                          "template_tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string"
                          },
                          "webhook_url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/distribute-elements-over-time": {
      "post": {
        "operationId": "creatomate.distribute-elements-over-time",
        "summary": "Distribute Elements Over Time",
        "description": "Creates a render that distributes elements over time.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/distribute-elements-over-time"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "backgroundAudioUrl",
                  "mediaUrls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "backgroundAudioUrl": {
                    "type": "string",
                    "description": "Audio track used as the timeline anchor for the fractional distribution."
                  },
                  "mediaUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ordered list of image or video URLs to distribute evenly over the timeline."
                  },
                  "mediaType": {
                    "type": "string",
                    "description": "Whether the distributed media items are images or videos.",
                    "default": "image"
                  },
                  "loopVideos": {
                    "type": "boolean",
                    "description": "Whether distributed video elements should loop to fill their fractional duration.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Creatomate render ID."
                          },
                          "outputFormat": {
                            "type": "string",
                            "description": "Output format requested for the render."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current render status returned by Creatomate."
                          },
                          "url": {
                            "type": "string",
                            "description": "Direct URL for the rendered output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/creatomate/latest/actions/generate-image-slideshow": {
      "post": {
        "operationId": "creatomate.generate-image-slideshow",
        "summary": "Generate Image Slideshow",
        "description": "Creates an image slideshow render in Creatomate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatomate/latest/actions/generate-image-slideshow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "imageUrls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "imageUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ordered list of image URLs to include in the slideshow."
                  },
                  "imageDurationSeconds": {
                    "type": "number",
                    "description": "How long each image should stay on screen before the next one.",
                    "default": 5
                  },
                  "includeTransitions": {
                    "type": "boolean",
                    "description": "Whether to add the documented transition animation between images.",
                    "default": true
                  },
                  "transitionType": {
                    "type": "string",
                    "description": "Creatomate transition type to apply between images.",
                    "default": "slide",
                    "x-mindcloud-advanced": true
                  },
                  "transitionDirection": {
                    "type": "string",
                    "description": "Direction used by the slide transition.",
                    "default": "180°",
                    "x-mindcloud-advanced": true
                  },
                  "includeZoomOut": {
                    "type": "boolean",
                    "description": "Whether to add the documented zoom-out effect to each image.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Creatomate render ID."
                          },
                          "outputFormat": {
                            "type": "string",
                            "description": "Output format requested for the render."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current render status returned by Creatomate."
                          },
                          "url": {
                            "type": "string",
                            "description": "Direct URL for the rendered output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
