{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Devin Universal API",
    "version": "0.0.2",
    "description": "AI software engineering agent for creating and managing Devin sessions, knowledge, playbooks, secrets, schedules, and organization resources through the Devin API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/devin/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/devin/latest/actions/append-session-tags": {
      "put": {
        "operationId": "devin.append-session-tags",
        "summary": "Append Session Tags",
        "description": "Updates session tags by appending new tags in Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/append-session-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "devinId",
                  "orgId",
                  "tags[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "devinId": {
                    "type": "string",
                    "description": "Session ID prefixed with devin-."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to append to the session."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags assigned to the session after append."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/archive-session": {
      "put": {
        "operationId": "devin.archive-session",
        "summary": "Archive Session",
        "description": "Archives an existing session in Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/archive-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "devinId",
                  "orgId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "devinId": {
                    "type": "string",
                    "description": "Session ID prefixed with devin-."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "is_archived": {
                            "type": "boolean",
                            "description": "Whether the session is archived."
                          },
                          "session_id": {
                            "type": "string",
                            "description": "Devin session ID."
                          },
                          "status": {
                            "type": "string",
                            "description": "Session status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/create-knowledge-note": {
      "post": {
        "operationId": "devin.create-knowledge-note",
        "summary": "Create Knowledge Note",
        "description": "Creates a knowledge note in Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/create-knowledge-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "body",
                  "name",
                  "orgId",
                  "trigger"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "string",
                    "description": "Knowledge note body."
                  },
                  "name": {
                    "type": "string",
                    "description": "Knowledge note name."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Knowledge note trigger text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type": {
                            "type": "string",
                            "description": "Access scope."
                          },
                          "body": {
                            "type": "string",
                            "description": "Knowledge note body."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "Folder ID when returned."
                          },
                          "folder_path": {
                            "type": "string",
                            "description": "Folder path."
                          },
                          "is_enabled": {
                            "type": "boolean",
                            "description": "Whether the note is enabled."
                          },
                          "name": {
                            "type": "string",
                            "description": "Knowledge note name."
                          },
                          "note_id": {
                            "type": "string",
                            "description": "Knowledge note ID."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "trigger": {
                            "type": "string",
                            "description": "Knowledge note trigger."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/create-playbook": {
      "post": {
        "operationId": "devin.create-playbook",
        "summary": "Create Playbook",
        "description": "Creates a new playbook in Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/create-playbook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "body",
                  "orgId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "body": {
                    "type": "string",
                    "description": "Playbook body/instructions."
                  },
                  "macro": {
                    "type": "string",
                    "description": "Optional playbook macro identifier such as !my_macro."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  },
                  "title": {
                    "type": "string",
                    "description": "Playbook title."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type": {
                            "type": "string",
                            "description": "Access scope."
                          },
                          "body": {
                            "type": "string",
                            "description": "Playbook body."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Creator identifier."
                          },
                          "macro": {
                            "type": "string",
                            "description": "Optional playbook macro."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "playbook_id": {
                            "type": "string",
                            "description": "Playbook ID."
                          },
                          "title": {
                            "type": "string",
                            "description": "Playbook title."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "Updater identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/create-schedule": {
      "post": {
        "operationId": "devin.create-schedule",
        "summary": "Create Schedule",
        "description": "Creates a new schedule in Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/create-schedule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "orgId",
                  "prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "agent": {
                    "type": "string",
                    "description": "Agent type: devin, data_analyst, or advanced."
                  },
                  "bypassApproval": {
                    "type": "boolean",
                    "description": "Whether to bypass approval for scheduled sessions."
                  },
                  "frequency": {
                    "type": "string",
                    "description": "Cron expression for recurring schedules."
                  },
                  "name": {
                    "type": "string",
                    "description": "Schedule name."
                  },
                  "notifyOn": {
                    "type": "string",
                    "description": "Notification policy: always, failure, or never."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt to run for scheduled sessions."
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 datetime for one-time schedules."
                  },
                  "scheduleType": {
                    "type": "string",
                    "description": "Schedule type: recurring or one_time."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent": {
                            "type": "string",
                            "description": "Agent type."
                          },
                          "bypass_approval": {
                            "type": "boolean",
                            "description": "Whether approval is bypassed."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation time."
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Creator identifier."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the schedule is enabled."
                          },
                          "frequency": {
                            "type": "string",
                            "description": "Cron frequency for recurring schedules."
                          },
                          "interval_count": {
                            "type": "number",
                            "description": "Interval count."
                          },
                          "last_edited_by": {
                            "type": "string",
                            "description": "Last editor identifier."
                          },
                          "last_executed_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last execution time."
                          },
                          "name": {
                            "type": "string",
                            "description": "Schedule name."
                          },
                          "notify_on": {
                            "type": "string",
                            "description": "Notification policy."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "prompt": {
                            "type": "string",
                            "description": "Schedule prompt."
                          },
                          "schedule_type": {
                            "type": "string",
                            "description": "Schedule type."
                          },
                          "scheduled_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "One-time scheduled execution time."
                          },
                          "scheduled_session_id": {
                            "type": "string",
                            "description": "Scheduled session ID."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update time."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/create-secret": {
      "post": {
        "operationId": "devin.create-secret",
        "summary": "Create Secret",
        "description": "Creates a new secret in Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/create-secret"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "key",
                  "orgId",
                  "type",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "isSensitive": {
                    "type": "boolean",
                    "description": "Whether the secret is sensitive."
                  },
                  "key": {
                    "type": "string",
                    "description": "Secret key/name."
                  },
                  "note": {
                    "type": "string",
                    "description": "Optional note for the secret."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  },
                  "type": {
                    "type": "string",
                    "description": "Secret type: cookie, key-value, or totp."
                  },
                  "value": {
                    "type": "string",
                    "description": "Secret value."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type": {
                            "type": "string",
                            "description": "Access scope."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Creator identifier."
                          },
                          "is_sensitive": {
                            "type": "boolean",
                            "description": "Whether the secret is sensitive."
                          },
                          "key": {
                            "type": "string",
                            "description": "Secret key."
                          },
                          "note": {
                            "type": "string",
                            "description": "Secret note."
                          },
                          "secret_id": {
                            "type": "string",
                            "description": "Secret ID."
                          },
                          "secret_type": {
                            "type": "string",
                            "description": "Secret type."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "Updater identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/create-session": {
      "post": {
        "operationId": "devin.create-session",
        "summary": "Create Session",
        "description": "Creates a new session in Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/create-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orgId",
                  "prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt for the new Devin session."
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title for the session."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "session_id": {
                            "type": "string",
                            "description": "Created Devin session ID."
                          },
                          "status": {
                            "type": "string",
                            "description": "Session status."
                          },
                          "status_detail": {
                            "type": "string",
                            "description": "Detailed session status."
                          },
                          "title": {
                            "type": "string",
                            "description": "Session title."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Devin session URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/delete-knowledge-note": {
      "delete": {
        "operationId": "devin.delete-knowledge-note",
        "summary": "Delete Knowledge Note",
        "description": "Deletes an existing knowledge note from Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/delete-knowledge-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteId",
            "in": "query",
            "required": true,
            "description": "Knowledge note ID.",
            "schema": {
              "type": "string",
              "description": "Knowledge note ID."
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "description": "Devin organization ID.",
            "schema": {
              "type": "string",
              "description": "Devin organization ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type": {
                            "type": "string",
                            "description": "Access scope."
                          },
                          "body": {
                            "type": "string",
                            "description": "Knowledge note body."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "Folder ID when returned."
                          },
                          "folder_path": {
                            "type": "string",
                            "description": "Folder path."
                          },
                          "is_enabled": {
                            "type": "boolean",
                            "description": "Whether the note is enabled."
                          },
                          "name": {
                            "type": "string",
                            "description": "Knowledge note name."
                          },
                          "note_id": {
                            "type": "string",
                            "description": "Deleted knowledge note ID."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "trigger": {
                            "type": "string",
                            "description": "Knowledge note trigger."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/delete-playbook": {
      "delete": {
        "operationId": "devin.delete-playbook",
        "summary": "Delete Playbook",
        "description": "Deletes an existing playbook from Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/delete-playbook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "description": "Devin organization ID.",
            "schema": {
              "type": "string",
              "description": "Devin organization ID."
            }
          },
          {
            "name": "playbookId",
            "in": "query",
            "required": true,
            "description": "Playbook ID.",
            "schema": {
              "type": "string",
              "description": "Playbook ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type": {
                            "type": "string",
                            "description": "Access scope."
                          },
                          "body": {
                            "type": "string",
                            "description": "Playbook body."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Creator identifier."
                          },
                          "macro": {
                            "type": "string",
                            "description": "Optional playbook macro."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "playbook_id": {
                            "type": "string",
                            "description": "Deleted playbook ID."
                          },
                          "title": {
                            "type": "string",
                            "description": "Playbook title."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "Updater identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/delete-schedule": {
      "delete": {
        "operationId": "devin.delete-schedule",
        "summary": "Delete Schedule",
        "description": "Deletes an existing schedule from Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/delete-schedule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "description": "Devin organization ID.",
            "schema": {
              "type": "string",
              "description": "Devin organization ID."
            }
          },
          {
            "name": "scheduleId",
            "in": "query",
            "required": true,
            "description": "Scheduled session ID.",
            "schema": {
              "type": "string",
              "description": "Scheduled session ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent": {
                            "type": "string",
                            "description": "Agent type."
                          },
                          "bypass_approval": {
                            "type": "boolean",
                            "description": "Whether approval is bypassed."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation time."
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Creator identifier."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the schedule is enabled."
                          },
                          "frequency": {
                            "type": "string",
                            "description": "Cron frequency for recurring schedules."
                          },
                          "interval_count": {
                            "type": "number",
                            "description": "Interval count."
                          },
                          "last_edited_by": {
                            "type": "string",
                            "description": "Last editor identifier."
                          },
                          "last_executed_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last execution time."
                          },
                          "name": {
                            "type": "string",
                            "description": "Schedule name."
                          },
                          "notify_on": {
                            "type": "string",
                            "description": "Notification policy."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "prompt": {
                            "type": "string",
                            "description": "Schedule prompt."
                          },
                          "schedule_type": {
                            "type": "string",
                            "description": "Schedule type."
                          },
                          "scheduled_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "One-time scheduled execution time."
                          },
                          "scheduled_session_id": {
                            "type": "string",
                            "description": "Deleted scheduled session ID."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update time."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/delete-secret": {
      "delete": {
        "operationId": "devin.delete-secret",
        "summary": "Delete Secret",
        "description": "Deletes an existing secret from Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/delete-secret"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "description": "Devin organization ID.",
            "schema": {
              "type": "string",
              "description": "Devin organization ID."
            }
          },
          {
            "name": "secretId",
            "in": "query",
            "required": true,
            "description": "Secret ID prefixed with secret-.",
            "schema": {
              "type": "string",
              "description": "Secret ID prefixed with secret-."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type": {
                            "type": "string",
                            "description": "Access scope."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Creator identifier."
                          },
                          "is_sensitive": {
                            "type": "boolean",
                            "description": "Whether the secret is sensitive."
                          },
                          "key": {
                            "type": "string",
                            "description": "Secret key."
                          },
                          "note": {
                            "type": "string",
                            "description": "Secret note."
                          },
                          "secret_id": {
                            "type": "string",
                            "description": "Deleted secret ID."
                          },
                          "secret_type": {
                            "type": "string",
                            "description": "Secret type."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "Updater identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/generate-session-insights": {
      "post": {
        "operationId": "devin.generate-session-insights",
        "summary": "Generate Session Insights",
        "description": "Generates session insights for a Devin session.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/generate-session-insights"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "devinId",
                  "orgId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "devinId": {
                    "type": "string",
                    "description": "Session ID prefixed with devin-."
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Devin organization ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "session_id": {
                            "type": "string",
                            "description": "Devin session ID."
                          },
                          "status": {
                            "type": "string",
                            "description": "Insight generation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/devin/latest/actions/get-knowledge-note": {
      "get": {
        "operationId": "devin.get-knowledge-note",
        "summary": "Get Knowledge Note",
        "description": "Retrieves a knowledge note from Devin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/devin/latest/actions/get-knowledge-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteId",
            "in": "query",
            "required": true,
            "description": "Knowledge note ID.",
            "schema": {
              "type": "string",
              "description": "Knowledge note ID."
            }
          },
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "description": "Devin organization ID.",
            "schema": {
              "type": "string",
              "description": "Devin organization ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_type": {
                            "type": "string",
                            "description": "Access scope."
                          },
                          "body": {
                            "type": "string",
                            "description": "Knowledge note body."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Creation timestamp."
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "Folder ID when returned."
                          },
                          "folder_path": {
                            "type": "string",
                            "description": "Folder path."
                          },
                          "is_enabled": {
                            "type": "boolean",
                            "description": "Whether the note is enabled."
                          },
                          "name": {
                            "type": "string",
                            "description": "Knowledge note name."
                          },
                          "note_id": {
                            "type": "string",
                            "description": "Knowledge note ID."
                          },
                          "org_id": {
                            "type": "string",
                            "description": "Organization ID."
                          },
                          "trigger": {
                            "type": "string",
                            "description": "Knowledge note trigger."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
[...]
