{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "APOD Universal API",
    "version": "0.0.5",
    "description": "Retrieve NASA astronomy images and metadata"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/aPOD/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/aPOD/latest/actions/get-astronomy-picture-by-date": {
      "get": {
        "operationId": "aPOD.get-astronomy-picture-by-date",
        "summary": "Get Astronomy Picture by Date",
        "description": "Retrieves an APOD entry from NASA by date.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aPOD/latest/actions/get-astronomy-picture-by-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date of the APOD image to retrieve in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Date of the APOD image to retrieve in YYYY-MM-DD format.",
              "example": "2014-10-01"
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "required": false,
            "description": "Return a thumbnail URL when the APOD media is a video.",
            "schema": {
              "type": "boolean",
              "description": "Return a thumbnail URL when the APOD media is a video.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "copyright": {
                            "type": "string",
                            "description": "Copyright holder when the entry is not public domain."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "APOD date."
                          },
                          "explanation": {
                            "type": "string",
                            "description": "NASA explanation text for the APOD entry."
                          },
                          "hdurl": {
                            "type": "string",
                            "description": "High-resolution image URL when NASA provides one."
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Media type returned by NASA, usually image or video."
                          },
                          "service_version": {
                            "type": "string",
                            "description": "NASA APOD service version."
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "description": "Video thumbnail URL when thumbs is enabled and the entry is a video."
                          },
                          "title": {
                            "type": "string",
                            "description": "APOD title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Primary image or video URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/aPOD/latest/actions/get-random-astronomy-pictures": {
      "get": {
        "operationId": "aPOD.get-random-astronomy-pictures",
        "summary": "Get Random Astronomy Pictures",
        "description": "Retrieves random APOD entries from NASA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aPOD/latest/actions/get-random-astronomy-pictures"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "description": "Number of random APOD images to retrieve. NASA allows positive integers up to 100.",
            "schema": {
              "type": "number",
              "description": "Number of random APOD images to retrieve. NASA allows positive integers up to 100.",
              "example": 5
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "required": false,
            "description": "Return thumbnail URLs when APOD media entries are videos.",
            "schema": {
              "type": "boolean",
              "description": "Return thumbnail URLs when APOD media entries are videos.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "copyright": {
                            "type": "string",
                            "description": "Copyright holder when the entry is not public domain."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "APOD date."
                          },
                          "explanation": {
                            "type": "string",
                            "description": "NASA explanation text for the APOD entry."
                          },
                          "hdurl": {
                            "type": "string",
                            "description": "High-resolution image URL when NASA provides one."
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Media type returned by NASA, usually image or video."
                          },
                          "service_version": {
                            "type": "string",
                            "description": "NASA APOD service version."
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "description": "Video thumbnail URL when thumbs is enabled and the entry is a video."
                          },
                          "title": {
                            "type": "string",
                            "description": "APOD title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Primary image or video URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/aPOD/latest/actions/get-todays-astronomy-picture": {
      "get": {
        "operationId": "aPOD.get-todays-astronomy-picture",
        "summary": "Get Today's Astronomy Picture",
        "description": "Retrieves today's APOD entry from NASA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aPOD/latest/actions/get-todays-astronomy-picture"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "required": false,
            "description": "Return a thumbnail URL when the APOD media is a video.",
            "schema": {
              "type": "boolean",
              "description": "Return a thumbnail URL when the APOD media is a video.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "copyright": {
                            "type": "string",
                            "description": "Copyright holder when the entry is not public domain."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "APOD date."
                          },
                          "explanation": {
                            "type": "string",
                            "description": "NASA explanation text for the APOD entry."
                          },
                          "hdurl": {
                            "type": "string",
                            "description": "High-resolution image URL when NASA provides one."
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Media type returned by NASA, usually image or video."
                          },
                          "service_version": {
                            "type": "string",
                            "description": "NASA APOD service version."
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "description": "Video thumbnail URL when thumbs is enabled and the entry is a video."
                          },
                          "title": {
                            "type": "string",
                            "description": "APOD title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Primary image or video URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/aPOD/latest/actions/list-astronomy-pictures-by-date-range": {
      "get": {
        "operationId": "aPOD.list-astronomy-pictures-by-date-range",
        "summary": "List Astronomy Pictures by Date Range",
        "description": "Retrieves APOD entries from NASA by date range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/aPOD/latest/actions/list-astronomy-pictures-by-date-range"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start of the APOD date range in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start of the APOD date range in YYYY-MM-DD format.",
              "example": "2017-07-08"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End of the APOD date range in YYYY-MM-DD format. Defaults to today when omitted.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End of the APOD date range in YYYY-MM-DD format. Defaults to today when omitted.",
              "example": "2017-07-10"
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "required": false,
            "description": "Return thumbnail URLs when APOD media entries are videos.",
            "schema": {
              "type": "boolean",
              "description": "Return thumbnail URLs when APOD media entries are videos.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "copyright": {
                            "type": "string",
                            "description": "Copyright holder when the entry is not public domain."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "APOD date."
                          },
                          "explanation": {
                            "type": "string",
                            "description": "NASA explanation text for the APOD entry."
                          },
                          "hdurl": {
                            "type": "string",
                            "description": "High-resolution image URL when NASA provides one."
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Media type returned by NASA, usually image or video."
                          },
                          "service_version": {
                            "type": "string",
                            "description": "NASA APOD service version."
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "description": "Video thumbnail URL when thumbs is enabled and the entry is a video."
                          },
                          "title": {
                            "type": "string",
                            "description": "APOD title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Primary image or video URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
