{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GoTeamup Universal API",
    "version": "0.0.4",
    "description": "Fitness management software that helps businesses schedule classes, take payments, and manage the key parts of their operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/goTeamup/latest/actions/cancel-customer-membership": {
      "put": {
        "operationId": "goTeamup.cancel-customer-membership",
        "summary": "Cancel Customer Membership",
        "description": "Cancels an existing customer membership in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/cancel-customer-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "The TeamUp customer membership ID"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeHold": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billedPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cancellationReason": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "number"
                          },
                          "discountCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountCodeMakesFreeForever": {
                            "type": "boolean"
                          },
                          "expirationDate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSetForCancellation": {
                            "type": "boolean"
                          },
                          "membership": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "paymentSubscription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "renewalDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/create-customer": {
      "post": {
        "operationId": "goTeamup.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Customer first name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Customer last name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "family": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "familyRole": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isLead": {
                            "type": "boolean"
                          },
                          "isStatusLocked": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "leadSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "object": {
                            "type": "string"
                          },
                          "participating": {
                            "type": "boolean"
                          },
                          "provider": {
                            "type": "number"
                          },
                          "referralCode": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "shareUrl": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "visibility": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/create-customer-membership": {
      "post": {
        "operationId": "goTeamup.create-customer-membership",
        "summary": "Create Customer Membership",
        "description": "Creates a new customer membership in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/create-customer-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customer",
                  "membership"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer": {
                    "type": "number",
                    "description": "Customer ID"
                  },
                  "membership": {
                    "type": "number",
                    "description": "Membership ID"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeHold": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billedPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cancellationReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "number"
                          },
                          "discountCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountCodeMakesFreeForever": {
                            "type": "boolean"
                          },
                          "expirationDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isSetForCancellation": {
                            "type": "boolean"
                          },
                          "membership": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "paymentSubscription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/create-membership": {
      "post": {
        "operationId": "goTeamup.create-membership",
        "summary": "Create Membership",
        "description": "Creates a new membership in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/create-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "type",
                  "category",
                  "allowRepeatPurchases",
                  "visibleToCustomers",
                  "purchasableOnlyByProvider",
                  "newCustomersOnly",
                  "oneTimeFee"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Membership name"
                  },
                  "type": {
                    "type": "string",
                    "description": "Membership type"
                  },
                  "category": {
                    "type": "number",
                    "description": "Membership category"
                  },
                  "allowRepeatPurchases": {
                    "type": "boolean",
                    "description": "Whether repeat purchases are allowed"
                  },
                  "visibleToCustomers": {
                    "type": "boolean",
                    "description": "Whether customers can see the membership"
                  },
                  "purchasableOnlyByProvider": {
                    "type": "boolean",
                    "description": "Whether only providers can purchase the membership"
                  },
                  "newCustomersOnly": {
                    "type": "boolean",
                    "description": "Whether only new customers can purchase the membership"
                  },
                  "oneTimeFee": {
                    "type": "number",
                    "description": "One-time fee amount"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeMemberCount": {
                            "type": "number"
                          },
                          "allotment": {
                            "type": "string"
                          },
                          "allowRepeatPurchases": {
                            "type": "boolean"
                          },
                          "beginOnFirstRegistration": {
                            "type": "boolean"
                          },
                          "category": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayPrice": {
                            "type": "object",
                            "properties": {
                              "currencySymbol": {
                                "type": "string"
                              },
                              "currencySymbolPosition": {
                                "type": "string"
                              },
                              "decimal": {
                                "type": "number"
                              },
                              "isoCurrencyCode": {
                                "type": "string"
                              },
                              "string": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "duration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "durationUnit": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "expirationDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "forSale": {
                            "type": "boolean"
                          },
                          "hasActiveMembers": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "incompleteReasons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "isDropin": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "newCustomersOnly": {
                            "type": "boolean"
                          },
                          "object": {
                            "type": "string"
                          },
                          "oneTimeFee": {
                            "type": "object",
                            "properties": {
                              "currencySymbol": {
                                "type": "string"
                              },
                              "currencySymbolPosition": {
                                "type": "string"
                              },
                              "decimal": {
                                "type": "number"
                              },
                              "isoCurrencyCode": {
                                "type": "string"
                              },
                              "string": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "penaltySystem": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "plans": {
                            "type": "string"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "currencySymbol": {
                                "type": "string"
                              },
                              "currencySymbolPosition": {
                                "type": "string"
                              },
                              "decimal": {
                                "type": "number"
                              },
                              "isoCurrencyCode": {
                                "type": "string"
                              },
                              "string": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "purchasableOnlyByProvider": {
                            "type": "boolean"
                          },
                          "shareable": {
                            "type": "boolean"
                          },
                          "startDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "terms": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "useProrate": {
                            "type": "boolean"
                          },
                          "visibleToCustomers": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/create-offering-type-helper": {
      "post": {
        "operationId": "goTeamup.create-offering-type-helper",
        "summary": "Create Offering Type Helper",
        "description": "Creates a new offering type in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/create-offering-type-helper"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "description",
                  "scheduleType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "scheduleType": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowsDropins": {
                            "type": "boolean"
                          },
                          "backgroundColor": {
                            "type": "string"
                          },
                          "cancellationNoticeInterval": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "string"
                          },
                          "customerVisibility": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dropinPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hasActiveSchedules": {
                            "type": "boolean"
                          },
                          "hasPricing": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "instructors": {
                            "type": "string"
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "maxAllowedAge": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "membershipsCount": {
                            "type": "number"
                          },
                          "membershipsSummaryDescription": {
                            "type": "string"
                          },
                          "minAllowedAge": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "registrationsCloseInterval": {
                            "type": "number"
                          },
                          "registrationsOpenInterval": {
                            "type": "number"
                          },
                          "scheduleType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "waitlistMax": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/create-order": {
      "post": {
        "operationId": "goTeamup.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer": {
                    "type": "number",
                    "description": "Customer ID"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cartUuid": {
                            "type": "string"
                          },
                          "comments": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isDelivered": {
                            "type": "boolean"
                          },
                          "isPaymentConfirmed": {
                            "type": "boolean"
                          },
                          "items": {
                            "type": "string"
                          },
                          "lockedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "modifiedAt": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "paymentConfirmedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalPrice": {
                            "type": "object",
                            "properties": {
                              "currencySymbol": {
                                "type": "string"
                              },
                              "currencySymbolPosition": {
                                "type": "string"
                              },
                              "decimal": {
                                "type": "number"
                              },
                              "isoCurrencyCode": {
                                "type": "string"
                              },
                              "string": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "totalPriceForDisplay": {
                            "type": "object",
                            "properties": {
                              "currencySymbol": {
                                "type": "string"
                              },
                              "currencySymbolPosition": {
                                "type": "string"
                              },
                              "decimal": {
                                "type": "number"
                              },
                              "isoCurrencyCode": {
                                "type": "string"
                              },
                              "string": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/get-customer-membership-usage": {
      "get": {
        "operationId": "goTeamup.get-customer-membership-usage",
        "summary": "Get Customer Membership Usage",
        "description": "Retrieves customer membership usage from GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/get-customer-membership-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The TeamUp customer membership ID",
            "schema": {
              "type": "number",
              "description": "The TeamUp customer membership ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "usagePeriods": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "endDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "maxUses": {
                                  "type": "number"
                                },
                                "periodType": {
                                  "type": "string"
                                },
                                "prorateAdjustment": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "remainingCount": {
                                  "type": "number"
                                },
                                "startDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "usedCount": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/get-membership-allotment": {
      "get": {
        "operationId": "goTeamup.get-membership-allotment",
        "summary": "Get Membership Allotment",
        "description": "Retrieves membership allotment details from GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/get-membership-allotment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The TeamUp membership ID",
            "schema": {
              "type": "number",
              "description": "The TeamUp membership ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ignoreNoShows": {
                            "type": "boolean"
                          },
                          "periodLimits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "maxUses": {
                                  "type": "number"
                                },
                                "period": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/get-provider-entitlements": {
      "get": {
        "operationId": "goTeamup.get-provider-entitlements",
        "summary": "Get Provider Entitlements",
        "description": "Retrieves provider entitlements from GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/get-provider-entitlements"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The TeamUp provider ID.",
            "schema": {
              "type": "number",
              "description": "The TeamUp provider ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customBrandedApp": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/list-customer-forms": {
      "get": {
        "operationId": "goTeamup.list-customer-forms",
        "summary": "List Customer Forms",
        "description": "Finds customer forms in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/list-customer-forms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "next": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "previous": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "string"
                                },
                                "fields": {
                                  "type": "string"
                                },
                                "forceStaleUpdates": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "memberships": {
                                  "type": "string"
                                },
                                "membershipsAppliesTo": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "offeringTypes": {
                                  "type": "string"
                                },
                                "offeringTypesAppliesTo": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "submissionsExpireAfter": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/list-customer-memberships": {
      "get": {
        "operationId": "goTeamup.list-customer-memberships",
        "summary": "List Customer Memberships",
        "description": "Finds customer memberships in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/list-customer-memberships"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "next": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "previous": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "activeHold": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "billedPrice": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "cancellationReason": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "customer": {
                                  "type": "number"
                                },
                                "discountCode": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "discountCodeMakesFreeForever": {
                                  "type": "boolean"
                                },
                                "expirationDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "number"
                                },
                                "isSetForCancellation": {
                                  "type": "boolean"
                                },
                                "membership": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "paymentSubscription": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "renewalDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "startDate": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goTeamup/latest/actions/list-customers": {
      "get": {
        "operationId": "goTeamup.list-customers",
        "summary": "List Customers",
        "description": "Finds customers in GoTeamup.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goTeamup/latest/actions/list-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "next": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "previous": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "family": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "familyRole": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "image": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "isLead": {
                                  "type": "boolean"
                                },
                                "isStatusLocked": {
                                  "type": "boolean"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "leadSource": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "object": {
                                  "type": "string"
                                },
                                "participating": {
                                  "type": "boolean"
                                },
                                "provider": {
                                  "type": "number"
                                },
                                "referralCode": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "shareUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "status": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "visibility": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
[...]
