{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DataForSEO Universal API",
    "version": "0.0.6",
    "description": "Analyze SERPs, keywords, backlinks, and SEO data at scale"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dataForSEO/latest/actions/get-bulk-keyword-difficulty": {
      "get": {
        "operationId": "dataForSEO.get-bulk-keyword-difficulty",
        "summary": "Get Bulk Keyword Difficulty",
        "description": "Retrieves bulk keyword difficulty from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-bulk-keyword-difficulty"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords[]",
            "in": "query",
            "required": true,
            "description": "Keywords to score for difficulty in bulk.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Keywords to score for difficulty in bulk."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string",
                            "description": "Submitted keyword evaluated for ranking difficulty."
                          },
                          "keywordDifficulty": {
                            "type": "number",
                            "description": "Difficulty score returned by DataForSEO."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-bulk-traffic-estimation": {
      "get": {
        "operationId": "dataForSEO.get-bulk-traffic-estimation",
        "summary": "Get Bulk Traffic Estimation",
        "description": "Retrieves bulk traffic estimates from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-bulk-traffic-estimation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targets[]",
            "in": "query",
            "required": true,
            "description": "Domains or URLs to estimate traffic for in bulk.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Domains or URLs to estimate traffic for in bulk."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "metrics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Estimated keyword and traffic metrics for the target."
                          },
                          "target": {
                            "type": "string",
                            "description": "Target domain evaluated for traffic estimation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-competitor-domains": {
      "get": {
        "operationId": "dataForSEO.get-competitor-domains",
        "summary": "Get Competitor Domains",
        "description": "Retrieves competitor domain data from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-competitor-domains"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Domain to analyze for competing domains.",
            "schema": {
              "type": "string",
              "description": "Domain to analyze for competing domains."
            }
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ignore_synonyms",
            "in": "query",
            "required": false,
            "description": "Exclude synonymous keywords from the comparison.",
            "schema": {
              "type": "boolean",
              "description": "Exclude synonymous keywords from the comparison.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avgPosition": {
                            "type": "number",
                            "description": "Average ranking position across intersecting keywords."
                          },
                          "competitorMetrics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Comparative metrics describing overlap with the target domain."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Competing domain returned for the requested target."
                          },
                          "fullDomainMetrics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Aggregated metrics for the full competing domain."
                          },
                          "intersections": {
                            "type": "number",
                            "description": "Count of shared ranking keywords between the target and competitor."
                          },
                          "metrics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Keyword and traffic metrics for the competing domain."
                          },
                          "seType": {
                            "type": "string",
                            "description": "Search engine type for the competitor-domain record."
                          },
                          "sumPosition": {
                            "type": "number",
                            "description": "Summed ranking position across intersecting keywords."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-domain-intersection": {
      "get": {
        "operationId": "dataForSEO.get-domain-intersection",
        "summary": "Get Domain Intersection",
        "description": "Retrieves domain intersection data from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-domain-intersection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target1",
            "in": "query",
            "required": true,
            "description": "Primary domain for the intersection analysis.",
            "schema": {
              "type": "string",
              "description": "Primary domain for the intersection analysis."
            }
          },
          {
            "name": "target2",
            "in": "query",
            "required": true,
            "description": "Comparison domain for the intersection analysis.",
            "schema": {
              "type": "string",
              "description": "Comparison domain for the intersection analysis."
            }
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstDomainSerpElement": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "SERP element details for the first compared domain."
                          },
                          "keywordData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Keyword descriptor object for the shared ranking term."
                          },
                          "secondDomainSerpElement": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "SERP element details for the second compared domain."
                          },
                          "seType": {
                            "type": "string",
                            "description": "Search engine type for the domain-intersection record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-domain-rank-overview": {
      "get": {
        "operationId": "dataForSEO.get-domain-rank-overview",
        "summary": "Get Domain Rank Overview",
        "description": "Retrieves domain rank overview data from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-domain-rank-overview"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Domain to analyze for rank overview.",
            "schema": {
              "type": "string",
              "description": "Domain to analyze for rank overview."
            }
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ignore_synonyms",
            "in": "query",
            "required": false,
            "description": "Exclude synonymous keywords from the overview.",
            "schema": {
              "type": "boolean",
              "description": "Exclude synonymous keywords from the overview.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "languageCode": {
                            "type": "string",
                            "description": "Provider language code used for the overview."
                          },
                          "locationCode": {
                            "type": "number",
                            "description": "Provider location code used for the overview."
                          },
                          "metrics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Aggregated ranking metrics for the requested domain."
                          },
                          "seType": {
                            "type": "string",
                            "description": "Search engine type for the domain overview record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-instant-page-analysis": {
      "get": {
        "operationId": "dataForSEO.get-instant-page-analysis",
        "summary": "Get Instant Page Analysis",
        "description": "Retrieves instant page analysis from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-instant-page-analysis"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL of the page to analyze.",
            "schema": {
              "type": "string",
              "description": "URL of the page to analyze."
            }
          },
          {
            "name": "enable_javascript",
            "in": "query",
            "required": false,
            "description": "Enable JavaScript rendering for the page.",
            "schema": {
              "type": "boolean",
              "description": "Enable JavaScript rendering for the page.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "custom_js",
            "in": "query",
            "required": false,
            "description": "Custom JavaScript code to execute.",
            "schema": {
              "type": "string",
              "description": "Custom JavaScript code to execute.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "custom_user_agent",
            "in": "query",
            "required": false,
            "description": "Custom User-Agent header value.",
            "schema": {
              "type": "string",
              "description": "Custom User-Agent header value.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "accept_language",
            "in": "query",
            "required": false,
            "description": "Language header value for accessing the website.",
            "schema": {
              "type": "string",
              "description": "Language header value for accessing the website.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checks": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Boolean on-page checks reported by the provider."
                          },
                          "contentEncoding": {
                            "type": "string",
                            "description": "Content encoding reported by the provider."
                          },
                          "fetchTime": {
                            "type": "string",
                            "description": "Provider fetch timestamp."
                          },
                          "lastModified": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Last-modified header details when available."
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "Media type reported by the provider."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Page metadata including title and content metrics."
                          },
                          "onpageScore": {
                            "type": "number",
                            "description": "Overall on-page score returned by DataForSEO."
                          },
                          "pageTiming": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Timing metrics returned by the on-page analysis."
                          },
                          "relativeUrlLength": {
                            "type": "number",
                            "description": "Relative URL length metric."
                          },
                          "resourceType": {
                            "type": "string",
                            "description": "Detected response resource type."
                          },
                          "server": {
                            "type": "string",
                            "description": "Server header observed during the fetch."
                          },
                          "size": {
                            "type": "number",
                            "description": "Document size in bytes."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "HTTP status code observed when DataForSEO fetched the page."
                          },
                          "totalDomSize": {
                            "type": "number",
                            "description": "Total DOM size reported for the page."
                          },
                          "url": {
                            "type": "string",
                            "description": "Normalized page URL analyzed by the endpoint."
                          },
                          "urlLength": {
                            "type": "number",
                            "description": "Absolute URL length metric."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-keyword-ideas": {
      "get": {
        "operationId": "dataForSEO.get-keyword-ideas",
        "summary": "Get Keyword Ideas",
        "description": "Retrieves keyword idea data from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-keyword-ideas"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords[]",
            "in": "query",
            "required": true,
            "description": "Seed keywords used to generate new keyword ideas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Seed keywords used to generate new keyword ideas."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avgBacklinksInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Average backlink metrics for ranking pages when available."
                          },
                          "keyword": {
                            "type": "string",
                            "description": "Suggested keyword returned by DataForSEO."
                          },
                          "keywordInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Keyword metrics such as search volume and competition."
                          },
                          "keywordProperties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional keyword properties returned by the provider."
                          },
                          "languageCode": {
                            "type": "string",
                            "description": "Provider language code used for the keyword idea."
                          },
                          "locationCode": {
                            "type": "number",
                            "description": "Provider location code used for the keyword idea."
                          },
                          "searchIntentInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Search intent classification returned for the keyword."
                          },
                          "seType": {
                            "type": "string",
                            "description": "Search engine type for the keyword-ideas record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-keyword-overview": {
      "get": {
        "operationId": "dataForSEO.get-keyword-overview",
        "summary": "Get Keyword Overview",
        "description": "Retrieves keyword overview data from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-keyword-overview"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords[]",
            "in": "query",
            "required": true,
            "description": "Keywords to summarize in the overview response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Keywords to summarize in the overview response."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avgBacklinksInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Average backlink metrics for ranking pages when available."
                          },
                          "keyword": {
                            "type": "string",
                            "description": "Keyword returned in the overview response."
                          },
                          "keywordInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Keyword metrics such as search volume and competition."
                          },
                          "keywordProperties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional keyword properties returned by the provider."
                          },
                          "languageCode": {
                            "type": "string",
                            "description": "Provider language code used for the overview."
                          },
                          "locationCode": {
                            "type": "number",
                            "description": "Provider location code used for the overview."
                          },
                          "searchIntentInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Search intent classification returned for the keyword."
                          },
                          "seType": {
                            "type": "string",
                            "description": "Search engine type for the keyword-overview record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-keywords-for-site": {
      "get": {
        "operationId": "dataForSEO.get-keywords-for-site",
        "summary": "Get Keywords for Site",
        "description": "Retrieves keywords for a site from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-keywords-for-site"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "description": "Domain to analyze for site keywords.",
            "schema": {
              "type": "string",
              "description": "Domain to analyze for site keywords."
            }
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include_subdomains",
            "in": "query",
            "required": false,
            "description": "Include subdomains of the target domain.",
            "schema": {
              "type": "boolean",
              "description": "Include subdomains of the target domain.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avgBacklinksInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Average backlink metrics for ranking pages when available."
                          },
                          "keyword": {
                            "type": "string",
                            "description": "Keyword returned for the requested target site."
                          },
                          "keywordInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Keyword metrics such as search volume and competition."
                          },
                          "keywordProperties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional keyword properties returned by the provider."
                          },
                          "languageCode": {
                            "type": "string",
                            "description": "Provider language code used for the keyword record."
                          },
                          "locationCode": {
                            "type": "number",
                            "description": "Provider location code used for the keyword record."
                          },
                          "searchIntentInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Search intent classification returned for the keyword."
                          },
                          "seType": {
                            "type": "string",
                            "description": "Search engine type for the keywords-for-site record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-organic-search-results": {
      "get": {
        "operationId": "dataForSEO.get-organic-search-results",
        "summary": "Get Organic Search Results",
        "description": "Retrieves organic search results from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-organic-search-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_engine",
            "in": "query",
            "required": true,
            "description": "Search engine name.",
            "schema": {
              "type": "string",
              "description": "Search engine name.",
              "enum": [
                "bing",
                "google",
                "yahoo"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Search keyword.",
            "schema": {
              "type": "string",
              "description": "Search keyword."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": true,
            "description": "Search engine language code.",
            "schema": {
              "type": "string",
              "description": "Search engine language code."
            }
          },
          {
            "name": "location_name",
            "in": "query",
            "required": true,
            "description": "Full location name in hierarchical comma-separated format.",
            "schema": {
              "type": "string",
              "description": "Full location name in hierarchical comma-separated format."
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "description": "Device type.",
            "schema": {
              "type": "string",
              "description": "Device type.",
              "enum": [
                "desktop",
                "mobile"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "description": "Number of results in the SERP.",
            "schema": {
              "type": "number",
              "description": "Number of results in the SERP.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "max_crawl_pages",
            "in": "query",
            "required": false,
            "description": "Number of search results pages to crawl.",
            "schema": {
              "type": "number",
              "description": "Number of search results pages to crawl.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "people_also_ask_click_depth",
            "in": "query",
            "required": false,
            "description": "Click depth on the people_also_ask element.",
            "schema": {
              "type": "number",
              "description": "Click depth on the people_also_ask element.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "breadcrumb": {
                            "type": "string",
                            "description": "Displayed breadcrumb text when available."
                          },
                          "description": {
                            "type": "string",
                            "description": "Displayed snippet or description when available."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Result domain when available."
                          },
                          "highlighted": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Highlighted snippet fragments when available."
                          },
                          "items": {
                            "type": "array",
                            "items": {},
                            "description": "Nested SERP items for grouped result blocks."
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional sitelink-style links returned for some organic results."
                          },
                          "page": {
                            "type": "number",
                            "description": "SERP page number for the result block."
                          },
                          "rankAbsolute": {
                            "type": "number",
                            "description": "Absolute rank position in the page results."
                          },
                          "rankGroup": {
                            "type": "number",
                            "description": "Grouped rank position for the result block."
                          },
                          "title": {
                            "type": "string",
                            "description": "Primary title shown for the result block."
                          },
                          "type": {
                            "type": "string",
                            "description": "SERP result block type."
                          },
                          "url": {
                            "type": "string",
                            "description": "Result URL when the block links directly to a page."
                          },
                          "websiteName": {
                            "type": "string",
                            "description": "Displayed website or source name when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-page-intersection": {
      "get": {
        "operationId": "dataForSEO.get-page-intersection",
        "summary": "Get Page Intersection",
        "description": "Retrieves page intersection data from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-page-intersection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pages",
            "in": "query",
            "required": true,
            "description": "Object containing the pages to compare, keyed by numeric identifiers such as 1 and 2.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Object containing the pages to compare, keyed by numeric identifiers such as 1 and 2."
            }
          },
          {
            "name": "location_name",
            "in": "query",
            "required": false,
            "description": "Location context for the DataForSEO Labs analysis.",
            "schema": {
              "type": "string",
              "description": "Location context for the DataForSEO Labs analysis."
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Language code for the analysis context.",
            "schema": {
              "type": "string",
              "description": "Language code for the analysis context.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "intersection_mode",
            "in": "query",
            "required": false,
            "description": "How the page sets should be combined for comparison.",
            "schema": {
              "type": "string",
              "description": "How the page sets should be combined for comparison.",
              "enum": [
                "intersect",
                "union"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "intersectionResult": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Comparison object describing how the submitted pages intersect for the keyword."
                          },
                          "keywordData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Keyword descriptor object for the shared ranking term."
                          },
                          "seType": {
                            "type": "string",
                            "description": "Search engine type for the page-intersection record."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dataForSEO/latest/actions/get-ranked-keywords": {
      "get": {
        "operationId": "dataForSEO.get-ranked-keywords",
        "summary": "Get Ranked Keywords",
        "description": "Retrieves ranked keyword data from DataForSEO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dataForSEO/latest/actions/get-ranked-keywords"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
[...]
