{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Desk Universal API",
    "version": "0.0.17",
    "description": "Manage Zoho Desk tickets, contacts, accounts, departments, organization metadata, and webhooks from MindCloud."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoDesk/latest/actions/create-account": {
      "post": {
        "operationId": "zohoDesk.create-account",
        "summary": "Create Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/create-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountName": {
                    "type": "string",
                    "description": "Name of the new account."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountName": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoDesk/latest/actions/create-contact": {
      "post": {
        "operationId": "zohoDesk.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lastName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name for the new contact."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email for the new contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isEndUser": {
                            "type": "boolean"
                          },
                          "isSpam": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoDesk/latest/actions/create-ticket": {
      "post": {
        "operationId": "zohoDesk.create-ticket",
        "summary": "Create Ticket",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/create-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subject",
                  "departmentId",
                  "contactId",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject of the new ticket."
                  },
                  "departmentId": {
                    "type": "string",
                    "description": "Department that will own the new ticket."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "Contact who raised the new ticket."
                  },
                  "status": {
                    "type": "string",
                    "description": "Status for the new ticket."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "departmentId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isSpam": {
                            "type": "boolean"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusType": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "ticketNumber": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoDesk/latest/actions/create-ticket-comment": {
      "post": {
        "operationId": "zohoDesk.create-ticket-comment",
        "summary": "Create Ticket Comment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/create-ticket-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ticketId",
                  "content"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ticketId": {
                    "type": "string",
                    "description": "The Zoho Desk ticket ID."
                  },
                  "content": {
                    "type": "string",
                    "description": "Plain-text comment content to append to the ticket."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "commentedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "commenterId": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "encodedContent": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isPublic": {
                            "type": "boolean"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoDesk/latest/actions/get-account": {
      "get": {
        "operationId": "zohoDesk.get-account",
        "summary": "Get Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "The Zoho Desk account ID.",
            "schema": {
              "type": "string",
              "description": "The Zoho Desk account ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountName": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoDesk/latest/actions/get-contact": {
      "get": {
        "operationId": "zohoDesk.get-contact",
        "summary": "Get Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "description": "The Zoho Desk contact ID.",
            "schema": {
              "type": "string",
              "description": "The Zoho Desk contact ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isEndUser": {
                            "type": "boolean"
                          },
                          "isSpam": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoDesk/latest/actions/get-department": {
      "get": {
        "operationId": "zohoDesk.get-department",
        "summary": "Get Department",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/get-department"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentId",
            "in": "query",
            "required": true,
            "description": "The Zoho Desk department ID.",
            "schema": {
              "type": "string",
              "description": "The Zoho Desk department ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAssignToTeamEnabled": {
                            "type": "boolean"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "isEnabled": {
                            "type": "boolean"
                          },
                          "isVisibleInCustomerPortal": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameInCustomerPortal": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoDesk/latest/actions/get-my-profile": {
      "get": {
        "operationId": "zohoDesk.get-my-profile",
        "summary": "Get My Profile",
        "description": "Retrieve the configuration details and permissions defined for the profile of the currently logged in user.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoDesk/latest/actions/get-my-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "default": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isVisible": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "permissions": {
                            "type": "object",
                            "properties": {
                              "accounts": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "activities": {
                                "type": "object",
                                "properties": {
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "agents": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "overview": {
                                    "type": "boolean"
                                  },
                                  "viewAllFields": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "calls": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "chat": {
                                "type": "object",
                                "properties": {
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "clientAction": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "clientActionConditions": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "clientActionLocationAssociation": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "clientActionModuleAssociation": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "clientEvents": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "comments": {
                                "type": "object",
                                "properties": {
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteOthers": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editOthers": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "community": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "moderate": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "communityComment": {
                                "type": "object",
                                "properties": {
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "communityTopic": {
                                "type": "object",
                                "properties": {
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "componentEventMappingAssociation": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "componentMapping": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "contacts": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "contracts": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "courses": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "crmInteg": {
                                "type": "object",
                                "properties": {
                                  "crmAccountsActivityCalls": {
                                    "type": "boolean"
                                  },
                                  "crmAccountsActivityEvents": {
                                    "type": "boolean"
                                  },
                                  "crmAccountsActivityTasks": {
                                    "type": "boolean"
                                  },
                                  "crmAccountsInfo": {
                                    "type": "boolean"
                                  },
                                  "crmAccountsNotes": {
                                    "type": "boolean"
                                  },
                                  "crmAccountsPotentials": {
                                    "type": "boolean"
                                  },
                                  "crmContactsActivityCalls": {
                                    "type": "boolean"
                                  },
                                  "crmContactsActivityEvents": {
                                    "type": "boolean"
                                  },
                                  "crmContactsActivityTasks": {
                                    "type": "boolean"
                                  },
                                  "crmContactsInfo": {
                                    "type": "boolean"
                                  },
                                  "crmContactsNotes": {
                                    "type": "boolean"
                                  },
                                  "crmContactsPotentials": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "eventMapping": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "events": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "financeInteg": {
                                "type": "object",
                                "properties": {
                                  "createContact": {
                                    "type": "boolean"
                                  },
                                  "createEstimate": {
                                    "type": "boolean"
                                  },
                                  "createInvoice": {
                                    "type": "boolean"
                                  },
                                  "createSalesOrder": {
                                    "type": "boolean"
                                  },
                                  "sendEstimate": {
                                    "type": "boolean"
                                  },
                                  "sendInvoice": {
                                    "type": "boolean"
                                  },
                                  "sendSalesOrder": {
                                    "type": "boolean"
                                  },
                                  "viewEstimate": {
                                    "type": "boolean"
                                  },
                                  "viewInvoice": {
                                    "type": "boolean"
                                  },
                                  "viewSalesOrder": {
                                    "type": "boolean"
                                  },
                                  "viewSubscription": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "gc": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "im": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "imConversations": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "imMessages": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "kbCategory": {
                                "type": "object",
                                "properties": {
                                  "admin": {
                                    "type": "boolean"
                                  },
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editAllArticles": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "manageKB": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "managerDashboard": {
                                "type": "object",
                                "properties": {
                                  "allView": {
                                    "type": "boolean"
                                  },
                                  "customize": {
                                    "type": "boolean"
                                  },
                                  "myView": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "mobileapp": {
                                "type": "object",
                                "properties": {
                                  "customMobileApps": {
                                    "type": "boolean"
                                  },
                                  "deskapp": {
                                    "type": "boolean"
                                  },
                                  "radar": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "modules": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "products": {
                                "type": "object",
                                "properties": {
                                  "create": {
                                    "type": "boolean"
                                  },
                                  "delete": {
                                    "type": "boolean"
                                  },
                                  "deleteSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "edit": {
                                    "type": "boolean"
                                  },
                                  "editSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "export": {
                                    "type": "boolean"
                                  },
                                  "import": {
                                    "type": "boolean"
                                  },
                                  "manageOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "reshareSharedCustomViews": {
                                    "type": "boolean"
                                  },
                                  "shareOwnCustomViews": {
                                    "type": "boolean"
                                  },
                                  "view": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "radar": {
                                "type": "object",
                                "properties": {
                                  "activities": {
                                    "type": "boolean"
                                  },
                                  "agentStats": {
                                    "type": "boolean"
                                  },
                                  "apiUsageAlerts": {
                                    "type": "boolean"
                                  },
                                  "auditLog": {
                                    "type": "boolean"
                                  },
                                  "averageHandlingTime": {
                                    "type": "boolean"
                                  },
                                  "channelTraffic": {
                                    "type": "boolean"
                                  },
                                  "contacts": {
                                    "type": "boolean"
                                  },
                                  "currentStats": {
                                    "type": "boolean"
                                  },
                                  "customerHappiness": {
                                    "type": "boolean"
                                  },
                                  "dailyToast": {
                                    "type": "boolean"
                                  },
                                  "dailyTrend": {
                                    "type": "boolean"
                                  },
[...]
