{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "EMnify Universal API",
    "version": "0.0.7",
    "description": "Manage IoT connectivity, SIMs, endpoints, and service profiles"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eMnify/latest/actions/create-application-token": {
      "post": {
        "operationId": "eMnify.create-application-token",
        "summary": "Create Application Token",
        "description": "Creates a new application token in EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/create-application-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "authToken"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "authToken": {
                    "type": "string",
                    "description": "Auth token from Retrieve Authentication Token.",
                    "example": "Paste the auth_token from Retrieve Authentication Token"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the new application token.",
                    "example": "MindCloud disposable app token"
                  },
                  "expiryDate": {
                    "type": "string",
                    "description": "Expiry date with optional time and time zone.",
                    "example": "2026-03-27T18:00:00+0000",
                    "x-mindcloud-advanced": true
                  },
                  "ip": {
                    "type": "string",
                    "description": "Allowed IP address in CIDR notation.",
                    "example": "203.0.113.0/24",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationToken": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/create-endpoint": {
      "post": {
        "operationId": "eMnify.create-endpoint",
        "summary": "Create Endpoint",
        "description": "Creates a new endpoint in EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/create-endpoint"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "authToken",
                  "serviceProfile.id",
                  "tariffProfile.id",
                  "status.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "authToken": {
                    "type": "string",
                    "description": "Auth token from Retrieve Authentication Token.",
                    "example": "Paste the auth_token from Retrieve Authentication Token"
                  },
                  "serviceProfile.id": {
                    "type": "number",
                    "description": "Service profile ID that determines network access settings.",
                    "example": 1442702
                  },
                  "tariffProfile.id": {
                    "type": "number",
                    "description": "Tariff profile ID that determines pricing and data limits.",
                    "example": 1659304
                  },
                  "status.id": {
                    "type": "number",
                    "description": "Initial endpoint status ID.",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name for the endpoint.",
                    "example": "MindCloud Stage 3 disposable endpoint"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated endpoint tags.",
                    "example": "stage3,disposable"
                  },
                  "imei": {
                    "type": "string",
                    "description": "IMEI with software version number.",
                    "example": "1234567890123456",
                    "x-mindcloud-advanced": true
                  },
                  "imeiLock": {
                    "type": "boolean",
                    "description": "Only allow connections from the specified IMEI.",
                    "example": false,
                    "x-mindcloud-advanced": true
                  },
                  "sim.id": {
                    "type": "number",
                    "description": "SIM ID to assign to the endpoint.",
                    "example": 3595575,
                    "x-mindcloud-advanced": true
                  },
                  "sim.activate": {
                    "type": "boolean",
                    "description": "Activate the assigned SIM during endpoint creation.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "Private IP address to assign.",
                    "example": "100.80.0.10",
                    "x-mindcloud-advanced": true
                  },
                  "ipAddressSpace.id": {
                    "type": "number",
                    "description": "IP address space ID required when an IP address is provided.",
                    "example": 54036,
                    "x-mindcloud-advanced": true
                  },
                  "organisation.id": {
                    "type": "number",
                    "description": "Organization ID for reseller-created endpoints.",
                    "example": 32462,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "ipAddress": {
                            "type": "string"
                          },
                          "ipAddressSpace": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/create-service-profile": {
      "post": {
        "operationId": "eMnify.create-service-profile",
        "summary": "Create Service Profile",
        "description": "Creates a new service profile in EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/create-service-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "authToken",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "authToken": {
                    "type": "string",
                    "description": "Auth token from Retrieve Authentication Token."
                  },
                  "name": {
                    "type": "string",
                    "description": "Service profile name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Service profile description."
                  },
                  "allowed3g": {
                    "type": "boolean",
                    "description": "Allow 3G connectivity."
                  },
                  "allowed4g": {
                    "type": "boolean",
                    "description": "Allow 4G/LTE and LTE-M connectivity."
                  },
                  "allowedNbIot": {
                    "type": "boolean",
                    "description": "Allow NB-IoT connectivity."
                  },
                  "allowedNbIotGeo": {
                    "type": "boolean",
                    "description": "Allow NB-IoT connectivity over satellite networks."
                  },
                  "applySmsQuota": {
                    "type": "boolean",
                    "description": "Apply SMS quota limits."
                  },
                  "applyDataQuota": {
                    "type": "boolean",
                    "description": "Apply data quota limits."
                  },
                  "retail": {
                    "type": "boolean",
                    "description": "Retail mode flag."
                  },
                  "smsP2pInt": {
                    "type": "boolean",
                    "description": "Allow internal person-to-person SMS."
                  },
                  "smsP2pExt": {
                    "type": "boolean",
                    "description": "Allow external person-to-person SMS."
                  },
                  "prepaid": {
                    "type": "boolean",
                    "description": "Deprecated prepaid flag.",
                    "x-mindcloud-advanced": true
                  },
                  "nipdp": {
                    "type": "boolean",
                    "description": "Enable NIPDP."
                  },
                  "breakoutRegion.id": {
                    "type": "number",
                    "description": "Breakout region ID.",
                    "x-mindcloud-advanced": true
                  },
                  "dns.id": {
                    "type": "number",
                    "description": "DNS configuration ID.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "serviceProfileId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/delete-endpoint": {
      "delete": {
        "operationId": "eMnify.delete-endpoint",
        "summary": "Delete Endpoint",
        "description": "Deletes an endpoint and its child entities from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/delete-endpoint"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token.",
              "example": "Paste the auth_token from Retrieve Authentication Token"
            }
          },
          {
            "name": "endpointId",
            "in": "query",
            "required": true,
            "description": "Endpoint ID to delete.",
            "schema": {
              "type": "number",
              "description": "Endpoint ID to delete.",
              "example": 18811970
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/get-endpoint-details": {
      "get": {
        "operationId": "eMnify.get-endpoint-details",
        "summary": "Get Endpoint Details",
        "description": "Retrieves details for an endpoint from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/get-endpoint-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token.",
              "example": "Paste the auth_token from Retrieve Authentication Token"
            }
          },
          {
            "name": "endpointId",
            "in": "query",
            "required": true,
            "description": "Endpoint ID to retrieve.",
            "schema": {
              "type": "number",
              "description": "Endpoint ID to retrieve.",
              "example": 18811970
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imei": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "imeiLock": {
                            "type": "boolean"
                          },
                          "imeiWithLuhn": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ipAddress": {
                            "type": "string"
                          },
                          "ipAddressSpace": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "ipAddressSpace": {
                                "type": "string"
                              },
                              "ipAddressVersion": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "serviceProfile": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tariffProfile": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "satelliteCapable": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/get-endpoint-usage-and-cost-statistics": {
      "get": {
        "operationId": "eMnify.get-endpoint-usage-and-cost-statistics",
        "summary": "Get Endpoint Usage And Cost Statistics",
        "description": "Retrieves endpoint usage and cost statistics from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/get-endpoint-usage-and-cost-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token."
            }
          },
          {
            "name": "endpointId",
            "in": "query",
            "required": true,
            "description": "Endpoint ID to inspect.",
            "schema": {
              "type": "number",
              "description": "Endpoint ID to inspect."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lastHour": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "rx": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "tx": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "sms": {
                                "type": "object",
                                "properties": {
                                  "rx": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "tx": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/get-monthly-organization-traffic-and-cost-statistics": {
      "get": {
        "operationId": "eMnify.get-monthly-organization-traffic-and-cost-statistics",
        "summary": "Get Monthly Organization Traffic And Cost Statistics",
        "description": "Retrieves monthly organization traffic and cost statistics from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/get-monthly-organization-traffic-and-cost-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "prepaidBalance": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "lastUpdate": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "serviceProfiles": {
                            "type": "number"
                          },
                          "sim": {
                            "type": "object",
                            "properties": {
                              "active": {
                                "type": "number"
                              },
                              "factoryTest": {
                                "type": "number"
                              },
                              "issued": {
                                "type": "number"
                              },
                              "suspended": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "tariffProfiles": {
                            "type": "number"
                          },
                          "users": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/get-my-organization-details": {
      "get": {
        "operationId": "eMnify.get-my-organization-details",
        "summary": "Get My Organization Details",
        "description": "Retrieves your organization details from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/get-my-organization-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token.",
              "example": "Paste the auth_token from Retrieve Authentication Token"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "class": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "countryCode": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isoCode": {
                                "type": "string"
                              },
                              "mcc": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "monthlyCostLimit": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "relation": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "type": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "verification": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verificationType": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/get-tariff-profile-details": {
      "get": {
        "operationId": "eMnify.get-tariff-profile-details",
        "summary": "Get Tariff Profile Details",
        "description": "Retrieves tariff profile details from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/get-tariff-profile-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token."
            }
          },
          {
            "name": "tariffProfileId",
            "in": "query",
            "required": true,
            "description": "Tariff profile ID.",
            "schema": {
              "type": "number",
              "description": "Tariff profile ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "inclusiveVolume": {
                            "type": "object",
                            "properties": {
                              "multi": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "organisationId": {
                            "type": "string"
                          },
                          "ratezone": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "mainZone": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "ratezoneStatusId": {
                                  "type": "string"
                                },
                                "selected": {
                                  "type": "boolean"
                                },
                                "tariffId": {
                                  "type": "string"
                                },
                                "validFrom": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "validUntil": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "tariff": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currency": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "currencyId": {
                                "type": "string"
                              },
                              "dataBlocksizeId": {
                                "type": "string"
                              },
                              "dataThrottleId": {
                                "type": "string"
                              },
                              "defaultSmsMoRate": {
                                "type": "number"
                              },
                              "defaultSmsMtRate": {
                                "type": "number"
                              },
                              "description": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organisationId": {
                                "type": "string"
                              },
                              "public": {
                                "type": "string"
                              },
                              "simActivatedRate": {
                                "type": "number"
                              },
                              "simActivationRate": {
                                "type": "number"
                              },
                              "simIssuedRate": {
                                "type": "number"
                              },
                              "simReactivationRate": {
                                "type": "number"
                              },
                              "simSuspendedRate": {
                                "type": "number"
                              },
                              "simSuspensionRate": {
                                "type": "number"
                              },
                              "simTerminationRate": {
                                "type": "number"
                              },
                              "tariffCategoryId": {
                                "type": "string"
                              },
                              "tariffCurrencyCategoryId": {
                                "type": "string"
                              },
                              "tariffStatusId": {
                                "type": "string"
                              },
                              "visibilityId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "usedCount": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/list-application-tokens": {
      "get": {
        "operationId": "eMnify.list-application-tokens",
        "summary": "List Application Tokens",
        "description": "Retrieves a list of application tokens from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/list-application-tokens"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token.",
              "example": "Paste the auth_token from Retrieve Authentication Token"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/list-endpoint-events": {
      "get": {
        "operationId": "eMnify.list-endpoint-events",
        "summary": "List Endpoint Events",
        "description": "Retrieves events for an endpoint from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/list-endpoint-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token."
            }
          },
          {
            "name": "endpointId",
            "in": "query",
            "required": true,
            "description": "Numeric ID of an endpoint.",
            "schema": {
              "type": "number",
              "description": "Numeric ID of an endpoint."
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Optional event filter in <filter>:<value> format.",
            "schema": {
              "type": "string",
              "description": "Optional event filter in <filter>:<value> format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eMnify/latest/actions/list-endpoint-sms-messages": {
      "get": {
        "operationId": "eMnify.list-endpoint-sms-messages",
        "summary": "List Endpoint SMS Messages",
        "description": "Retrieves SMS messages for an endpoint from EMnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eMnify/latest/actions/list-endpoint-sms-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "description": "Auth token from Retrieve Authentication Token.",
            "schema": {
              "type": "string",
              "description": "Auth token from Retrieve Authentication Token."
            }
          },
          {
            "name": "endpointId",
            "in": "query",
            "required": true,
            "description": "Endpoint ID whose SMS messages should be listed.",
            "schema": {
              "type": "number",
              "description": "Endpoint ID whose SMS messages should be listed."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
[...]
