{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ReputationLync Universal API",
    "version": "0.0.8",
    "description": "Manage customers and automate review requests and feedback outreach"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/reputationLync/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/reputationLync/latest/actions/add-customer": {
      "post": {
        "operationId": "reputationLync.add-customer",
        "summary": "Add Customer",
        "description": "Creates a new customer in ReputationLync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reputationLync/latest/actions/add-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Name of the customer to add.",
                    "example": "Jane Doe"
                  },
                  "emailId": {
                    "type": "string",
                    "description": "Customer email address. Provide this or Phone Number.",
                    "example": "jane.doe@example.com"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Customer phone number. Provide this or Email ID.",
                    "example": "855-555-1234"
                  },
                  "whatsappEnabled": {
                    "type": "string",
                    "description": "Use 1 if the phone number is WhatsApp-enabled, otherwise 0.",
                    "example": "1",
                    "x-mindcloud-advanced": true
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated tags to associate with the customer.",
                    "example": "retail,online",
                    "x-mindcloud-advanced": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language configured in ReputationLync for this customer.",
                    "example": "English",
                    "x-mindcloud-advanced": true
                  },
                  "source": {
                    "type": "string",
                    "description": "Source label for this customer creation.",
                    "example": "API",
                    "default": "API",
                    "x-mindcloud-advanced": true
                  },
                  "sourceXrefId": {
                    "type": "string",
                    "description": "External customer or transaction ID from the source system.",
                    "example": "order-1001",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customerDatesNotes": {
                            "type": "string",
                            "description": "Provider notes related to customer date handling."
                          },
                          "customerId": {
                            "type": "number",
                            "description": "Customer identifier created by ReputationLync."
                          },
                          "result": {
                            "type": "string",
                            "description": "Result message returned by ReputationLync."
                          },
                          "skipRatingRequest": {
                            "type": "boolean",
                            "description": "Whether the provider skipped the rating request flow for the new customer."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the add-customer request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reputationLync/latest/actions/list-customers": {
      "get": {
        "operationId": "reputationLync.list-customers",
        "summary": "List Customers",
        "description": "Retrieves customers from ReputationLync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reputationLync/latest/actions/list-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "description": "Return a specific customer by ReputationLync customer ID.",
            "schema": {
              "type": "string",
              "description": "Return a specific customer by ReputationLync customer ID.",
              "example": "824925"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": false,
            "description": "Filter customers by location identifier.",
            "schema": {
              "type": "string",
              "description": "Filter customers by location identifier.",
              "example": "12345",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfterDate",
            "in": "query",
            "required": false,
            "description": "Only return customers created after this date.",
            "schema": {
              "type": "string",
              "description": "Only return customers created after this date.",
              "example": "2023-04-01 00:00:00",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdBeforeDate",
            "in": "query",
            "required": false,
            "description": "Only return customers created before this date.",
            "schema": {
              "type": "string",
              "description": "Only return customers created before this date.",
              "example": "2023-04-30 23:59:59",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfterId",
            "in": "query",
            "required": false,
            "description": "Only return customers created after this internal record ID.",
            "schema": {
              "type": "string",
              "description": "Only return customers created after this internal record ID.",
              "example": "824000",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdBeforeId",
            "in": "query",
            "required": false,
            "description": "Only return customers created before this internal record ID.",
            "schema": {
              "type": "string",
              "description": "Only return customers created before this internal record ID.",
              "example": "825000",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "logId": {
                            "type": "number",
                            "description": "Provider log identifier for the request."
                          },
                          "result": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Matched customer records returned by ReputationLync."
                          },
                          "resultCount": {
                            "type": "number",
                            "description": "Number of matched customer records returned in the result array."
                          },
                          "status": {
                            "type": "string",
                            "description": "Provider status for the list-customer request."
                          },
                          "userId": {
                            "type": "string",
                            "description": "ReputationLync user identifier associated with the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reputationLync/latest/actions/validate-api-key": {
      "get": {
        "operationId": "reputationLync.validate-api-key",
        "summary": "Validate API Key",
        "description": "Validates an API key in ReputationLync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reputationLync/latest/actions/validate-api-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "logId": {
                            "type": "number"
                          },
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
