{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ecwid Universal API",
    "version": "0.0.7",
    "description": "Manage Ecwid products, orders, customers, and store data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ecwid/latest/actions/adjust-product-stock": {
      "put": {
        "operationId": "ecwid.adjust-product-stock",
        "summary": "Adjust Product Stock",
        "description": "Updates product stock in Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/adjust-product-stock"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productId",
                  "quantityDelta"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productId": {
                    "type": "number",
                    "description": "Ecwid product ID."
                  },
                  "quantityDelta": {
                    "type": "number",
                    "description": "Quantity adjustment amount."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-abandoned-cart": {
      "get": {
        "operationId": "ecwid.get-abandoned-cart",
        "summary": "Get Abandoned Cart",
        "description": "Retrieves an abandoned cart from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-abandoned-cart"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cartId",
            "in": "query",
            "required": true,
            "description": "Ecwid cart ID.",
            "schema": {
              "type": "number",
              "description": "Ecwid cart ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-category": {
      "get": {
        "operationId": "ecwid.get-category",
        "summary": "Get Category",
        "description": "Retrieves a category from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": true,
            "description": "Ecwid category ID.",
            "schema": {
              "type": "number",
              "description": "Ecwid category ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-customer": {
      "get": {
        "operationId": "ecwid.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a customer from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "Ecwid customer ID.",
            "schema": {
              "type": "number",
              "description": "Ecwid customer ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-customer-group": {
      "get": {
        "operationId": "ecwid.get-customer-group",
        "summary": "Get Customer Group",
        "description": "Retrieves a customer group from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-customer-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "description": "Ecwid customer group ID.",
            "schema": {
              "type": "number",
              "description": "Ecwid customer group ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-last-order": {
      "get": {
        "operationId": "ecwid.get-last-order",
        "summary": "Get Last Order",
        "description": "Retrieves the last order from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-last-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-order": {
      "get": {
        "operationId": "ecwid.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Ecwid order ID.",
            "schema": {
              "type": "number",
              "description": "Ecwid order ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-order-status": {
      "get": {
        "operationId": "ecwid.get-order-status",
        "summary": "Get Order Status",
        "description": "Retrieves an order status from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-order-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusId",
            "in": "query",
            "required": true,
            "description": "Ecwid order status ID.",
            "schema": {
              "type": "string",
              "description": "Ecwid order status ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defaultStatus": {
                            "type": "boolean",
                            "description": "Whether the status is an Ecwid default status."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the status can currently be assigned."
                          },
                          "orderStatusType": {
                            "type": "string",
                            "description": "Whether the status applies to payment or fulfillment."
                          },
                          "sendNotificationWhenStatusIsAssigned": {
                            "type": "boolean",
                            "description": "Whether Ecwid notifies customers when the status is assigned."
                          },
                          "statusId": {
                            "type": "string",
                            "description": "Ecwid order status identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-product": {
      "get": {
        "operationId": "ecwid.get-product",
        "summary": "Get Product",
        "description": "Retrieves a product from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Ecwid product ID.",
            "schema": {
              "type": "number",
              "description": "Ecwid product ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autogeneratedSlug": {
                            "type": "string"
                          },
                          "borderInfo": {
                            "type": "object",
                            "properties": {
                              "dominatingColor": {
                                "type": "object",
                                "properties": {
                                  "alpha": {
                                    "type": "number"
                                  },
                                  "blue": {
                                    "type": "number"
                                  },
                                  "green": {
                                    "type": "number"
                                  },
                                  "red": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "homogeneity": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "costPrice": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createTimestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customSlug": {
                            "type": "string"
                          },
                          "defaultCategoryId": {
                            "type": "number"
                          },
                          "defaultCombinationId": {
                            "type": "number"
                          },
                          "defaultDisplayedPrice": {
                            "type": "number"
                          },
                          "defaultDisplayedPriceFormatted": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "descriptionTranslated": {
                            "type": "object",
                            "properties": {
                              "es": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "discountsAllowed": {
                            "type": "boolean"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "fixedShippingRate": {
                            "type": "number"
                          },
                          "fixedShippingRateOnly": {
                            "type": "boolean"
                          },
                          "googleItemCondition": {
                            "type": "string"
                          },
                          "hasFreeShipping": {
                            "type": "boolean"
                          },
                          "hdThumbnailUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "inStock": {
                            "type": "boolean"
                          },
                          "isGiftCard": {
                            "type": "boolean"
                          },
                          "isSampleProduct": {
                            "type": "boolean"
                          },
                          "isShippingRequired": {
                            "type": "boolean"
                          },
                          "lowestPriceSettings": {
                            "type": "object",
                            "properties": {
                              "lowestPriceEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "media": {
                            "type": "object",
                            "properties": {
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "alt": {
                                      "type": "object",
                                      "properties": {
                                        "main": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "image1500pxUrl": {
                                      "type": "string"
                                    },
                                    "image160pxUrl": {
                                      "type": "string"
                                    },
                                    "image400pxUrl": {
                                      "type": "string"
                                    },
                                    "image800pxUrl": {
                                      "type": "string"
                                    },
                                    "imageOriginalUrl": {
                                      "type": "string"
                                    },
                                    "isMain": {
                                      "type": "boolean"
                                    },
                                    "orderBy": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameTranslated": {
                            "type": "object",
                            "properties": {
                              "es": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "choices": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "priceModifier": {
                                        "type": "number"
                                      },
                                      "priceModifierType": {
                                        "type": "string"
                                      },
                                      "text": {
                                        "type": "string"
                                      },
                                      "textTranslated": {
                                        "type": "object",
                                        "properties": {
                                          "es": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "defaultChoice": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "nameTranslated": {
                                  "type": "object",
                                  "properties": {
                                    "es": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "originalImage": {
                            "type": "object",
                            "properties": {
                              "height": {
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              },
                              "width": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "originalImageUrl": {
                            "type": "string"
                          },
                          "outOfStockVisibilityBehaviour": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "priceInProductList": {
                            "type": "number"
                          },
                          "productClassId": {
                            "type": "number"
                          },
                          "productCondition": {
                            "type": "string"
                          },
                          "relatedProducts": {
                            "type": "object",
                            "properties": {
                              "relatedCategory": {
                                "type": "object",
                                "properties": {
                                  "categoryId": {
                                    "type": "number"
                                  },
                                  "enabled": {
                                    "type": "boolean"
                                  },
                                  "productCount": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "shipping": {
                            "type": "object",
                            "properties": {
                              "flatRate": {
                                "type": "number"
                              },
                              "methodMarkup": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "showOnFrontpage": {
                            "type": "number"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "smallThumbnailUrl": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "object",
                            "properties": {
                              "defaultLocationIncludedTaxRate": {
                                "type": "number"
                              },
                              "taxable": {
                                "type": "boolean"
                              },
                              "taxClassCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          },
                          "unlimited": {
                            "type": "boolean"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updateTimestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "warningLimit": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-recently-used-product-swatches": {
      "get": {
        "operationId": "ecwid.get-recently-used-product-swatches",
        "summary": "Get Recently Used Product Swatches",
        "description": "Retrieves recently used product swatches from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-recently-used-product-swatches"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-repeat-order-url": {
      "get": {
        "operationId": "ecwid.get-repeat-order-url",
        "summary": "Get Repeat Order URL",
        "description": "Retrieves a repeat order URL from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-repeat-order-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Ecwid order ID.",
            "schema": {
              "type": "number",
              "description": "Ecwid order ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ecwid/latest/actions/get-store-profile": {
      "get": {
        "operationId": "ecwid.get-store-profile",
        "summary": "Get Store Profile",
        "description": "Retrieves a store profile from Ecwid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ecwid/latest/actions/get-store-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "properties": {
                              "accountEmail": {
                                "type": "string"
                              },
                              "accountName": {
                                "type": "string"
                              },
                              "accountNickName": {
                                "type": "string"
                              },
                              "availableFeatures": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "brandName": {
                                "type": "string"
                              },
                              "googlePlaySubscriptionsAvailable": {
                                "type": "boolean"
                              },
                              "itunesSubscriptionsAvailable": {
                                "type": "boolean"
                              },
                              "paid": {
                                "type": "boolean"
                              },
                              "registrationDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "supportEmail": {
                                "type": "string"
                              },
                              "suspended": {
                                "type": "boolean"
                              },
                              "trackStorefrontStats": {
                                "type": "boolean"
                              },
                              "whiteLabel": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "stateOrProvinceCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "designSettings": {
                            "type": "object",
                            "properties": {
                              "enableCatalogOnOnePage": {
                                "type": "boolean"
                              },
                              "enableCatalogSeamlessProductListView": {
                                "type": "boolean"
                              },
                              "hideCategoryBlockShowAllEnabledProducts": {
                                "type": "boolean"
                              },
                              "productDetailsAddToCartQuantityCompactView": {
                                "type": "boolean"
                              },
                              "productDetailsDescriptionCompactView": {
                                "type": "boolean"
                              },
                              "productDetailsEstimatedDeliveryTimeCompactView": {
                                "type": "boolean"
                              },
                              "productDetailsExpandedGalleryLayout": {
                                "type": "string"
                              },
                              "productDetailsFavoritesCompactView": {
                                "type": "boolean"
                              },
                              "productDetailsGalleryImagePosition": {
                                "type": "string"
                              },
                              "productDetailsGalleryLayout": {
                                "type": "string"
                              },
                              "productDetailsLayout": {
                                "type": "string"
                              },
                              "productDetailsPositionBreadcrumbs": {
                                "type": "number"
                              },
                              "productDetailsPositionBuyButton": {
                                "type": "number"
                              },
                              "productDetailsPositionProductDescription": {
                                "type": "number"
                              },
                              "productDetailsPositionProductName": {
                                "type": "number"
                              },
                              "productDetailsPositionProductOptions": {
                                "type": "number"
                              },
                              "productDetailsPositionProductPrice": {
                                "type": "number"
                              },
                              "productDetailsPositionProductSku": {
                                "type": "number"
                              },
                              "productDetailsPositionReviewSection": {
                                "type": "number"
                              },
                              "productDetailsPositionSaveForLater": {
                                "type": "number"
                              },
                              "productDetailsPositionShareButtons": {
                                "type": "number"
                              },
                              "productDetailsPositionSizeChart": {
                                "type": "number"
                              },
                              "productDetailsPositionSubtitle": {
                                "type": "number"
                              },
                              "productDetailsPositionWholesalePrices": {
                                "type": "number"
                              },
                              "productDetailsReviewsInSingleViewCompactView": {
                                "type": "boolean"
                              },
                              "productDetailsShareButtonCompactView": {
                                "type": "boolean"
                              },
                              "productDetailsShowAskQuestionSection": {
                                "type": "boolean"
                              },
                              "productDetailsShowAttributes": {
                                "type": "boolean"
                              },
                              "productDetailsShowBreadcrumbs": {
                                "type": "boolean"
                              },
                              "productDetailsShowBreadcrumbsPosition": {
                                "type": "string"
                              },
                              "productDetailsShowDeliveryTime": {
                                "type": "boolean"
                              },
                              "productDetailsShowImageAltTextAsVisibleDescription": {
                                "type": "boolean"
                              },
                              "productDetailsShowInStockLabel": {
                                "type": "boolean"
                              },
                              "productDetailsShowNavigationArrows": {
                                "type": "boolean"
                              },
                              "productDetailsShowNumberOfItemsInStock": {
                                "type": "boolean"
                              },
                              "productDetailsShowPricePerUnit": {
                                "type": "boolean"
                              },
                              "productDetailsShowProductDescription": {
                                "type": "boolean"
                              },
                              "productDetailsShowProductName": {
                                "type": "boolean"
                              },
                              "productDetailsShowProductOptions": {
                                "type": "boolean"
                              },
                              "productDetailsShowProductPhotoZoom": {
                                "type": "boolean"
                              },
                              "productDetailsShowProductPrice": {
                                "type": "boolean"
                              },
                              "productDetailsShowProductSku": {
                                "type": "boolean"
                              },
                              "productDetailsShowQty": {
                                "type": "boolean"
                              },
                              "productDetailsShowRatingSection": {
                                "type": "boolean"
                              },
                              "productDetailsShowReviewsSection": {
                                "type": "boolean"
                              },
                              "productDetailsShowReviewsSectionInOneCardView": {
                                "type": "boolean"
                              },
                              "productDetailsShowSalePrice": {
                                "type": "boolean"
                              },
                              "productDetailsShowSaveForLater": {
                                "type": "boolean"
                              },
                              "productDetailsShowShareButtons": {
                                "type": "boolean"
                              },
                              "productDetailsShowSubtitle": {
                                "type": "boolean"
                              },
                              "productDetailsShowTax": {
                                "type": "boolean"
                              },
                              "productDetailsShowWeight": {
                                "type": "boolean"
                              },
                              "productDetailsShowWholesalePrices": {
                                "type": "boolean"
                              },
                              "productDetailsStockPerOutletCompactView": {
                                "type": "boolean"
                              },
                              "productDetailsTwoColumnsWithLeftSidebarShowProductDescriptionOnSidebar": {
                                "type": "boolean"
                              },
                              "productDetailsTwoColumnsWithRightSidebarShowProductDescriptionOnSidebar": {
                                "type": "boolean"
                              },
                              "productDetailsWholesalePricesCompactView": {
                                "type": "boolean"
                              },
                              "productFiltersOpenedByDefaultOnCatalogPages": {
                                "type": "boolean"
                              },
                              "productFiltersOpenedByDefaultOnCategoryPage": {
                                "type": "boolean"
                              },
                              "productFiltersOrientation": {
                                "type": "string"
                              },
                              "productFiltersPositionCategoryPage": {
                                "type": "string"
                              },
                              "productFiltersPositionOnCatalogPages": {
                                "type": "string"
                              },
                              "productFiltersPositionSearchPage": {
                                "type": "string"
                              },
                              "productFiltersVisibleOnCatalogPages": {
                                "type": "boolean"
                              },
                              "productListBuybuttonBehavior": {
                                "type": "string"
                              },
                              "productListCardSpacingType": {
                                "type": "string"
                              },
                              "productListCategoryTitleBehavior": {
                                "type": "string"
                              },
                              "productListImageAspectRatio": {
                                "type": "string"
                              },
                              "productListImageHasShadow": {
                                "type": "boolean"
                              },
                              "productListImageSize": {
                                "type": "string"
                              },
                              "productListPriceBehavior": {
                                "type": "string"
                              },
                              "productListProductInfoLayout": {
                                "type": "string"
                              },
                              "productListRatingSectionBehavior": {
                                "type": "string"
                              },
                              "productListShowAdditionalImageOnHover": {
                                "type": "boolean"
                              },
                              "productListShowFrame": {
                                "type": "boolean"
                              },
                              "productListShowRatingInOneStar": {
                                "type": "boolean"
                              },
                              "productListShowRatingNumberInFiveStarsView": {
                                "type": "boolean"
                              },
                              "productListShowReviewsCountInFiveStarsView": {
                                "type": "boolean"
                              },
                              "productListShowSortViewasOptions": {
                                "type": "boolean"
                              },
                              "productListSizeProductOptionBehavior": {
                                "type": "string"
                              },
                              "productListSkuBehavior": {
                                "type": "string"
                              },
                              "productListSubtitlesBehavior": {
                                "type": "string"
                              },
                              "productListSwatchesProductOptionBehavior": {
                                "type": "string"
                              },
                              "productListTitleBehavior": {
                                "type": "string"
                              },
                              "shoppingCartProductsCollapsedOnDesktop": {
                                "type": "boolean"
                              },
                              "shoppingCartProductsCollapsedOnMobile": {
                                "type": "boolean"
                              },
                              "showBreadcrumbs": {
                                "type": "boolean"
                              },
                              "showFooterMenu": {
                                "type": "boolean"
                              },
                              "showSigninLink": {
                                "type": "boolean"
                              },
                              "showSigninLinkWithUnifiedAccountPage": {
                                "type": "boolean"
                              },
                              "swatchesProductOptionShape": {
                                "type": "string"
                              },
                              "swatchesProductOptionSize": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "featureToggles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "visible": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "formatsAndUnits": {
                            "type": "object",
                            "properties": {
                              "addressFormat": {
                                "type": "object",
                                "properties": {
                                  "multiline": {
                                    "type": "string"
                                  },
                                  "plain": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "currency": {
                                "type": "string"
                              },
                              "currencyDecimalSeparator": {
                                "type": "string"
                              },
[...]
