{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Payfunnels Universal API",
    "version": "0.0.7",
    "description": "Collect payments, create payment links, and manage subscriptions"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/payfunnels/latest/actions/cancel-subscription": {
      "put": {
        "operationId": "payfunnels.cancel-subscription",
        "summary": "Cancel Subscription",
        "description": "Updates a subscription by cancelling it in Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/cancel-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cancellationOption",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cancelDate": {
                    "type": "number",
                    "description": "Unix timestamp used when cancellation option is custom_date."
                  },
                  "cancellationOption": {
                    "type": "string",
                    "description": "When to cancel the subscription."
                  },
                  "id": {
                    "type": "string",
                    "description": "ID of the subscription to cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "chargeAmount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentMethod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentType": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalCollectedAmount": {
                            "type": "number"
                          },
                          "totalDueAmount": {
                            "type": "number"
                          },
                          "totalMaxPayment": {
                            "type": "number"
                          },
                          "totalSubscriptionAmount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/create-custom-plan-payment-link": {
      "post": {
        "operationId": "payfunnels.create-custom-plan-payment-link",
        "summary": "Create Custom Plan Payment Link",
        "description": "Creates a custom plan payment link in Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/create-custom-plan-payment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "description",
                  "amount",
                  "paymentSchedule"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Custom plan payment link title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the payment link."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the payment link, for example USD or GBP."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount charged immediately when the custom plan payment link is used."
                  },
                  "paymentSchedule": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Payment schedule object containing chargePhases and finalChargePhase."
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Whether the default tax rate should be applied."
                  },
                  "forwardProcessingFees": {
                    "type": "boolean",
                    "description": "Whether processing fees should be added to the payment link."
                  },
                  "displayBillingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a billing address."
                  },
                  "displayShippingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a shipping address."
                  },
                  "enableTermOfService": {
                    "type": "boolean",
                    "description": "Require the customer to accept terms of service."
                  },
                  "additionalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Additional checkout fields as an array of objects."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "amount": {
                            "type": "number"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayBillingAddress": {
                            "type": "boolean"
                          },
                          "displayShippingAddress": {
                            "type": "boolean"
                          },
                          "enableTermOfService": {
                            "type": "boolean"
                          },
                          "forwardProcessingFees": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isTaxable": {
                            "type": "boolean"
                          },
                          "paymentSchedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/create-one-time-payment-link": {
      "post": {
        "operationId": "payfunnels.create-one-time-payment-link",
        "summary": "Create One-Time Payment Link",
        "description": "Creates a one-time payment link in Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/create-one-time-payment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "description",
                  "amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Payment link title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the payment link."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the payment link, for example USD or GBP."
                  },
                  "amount": {
                    "type": "number",
                    "description": "One-time payment amount."
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Whether the default tax rate should be applied."
                  },
                  "forwardProcessingFees": {
                    "type": "boolean",
                    "description": "Whether processing fees should be added to the payment link."
                  },
                  "coupon[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional coupon definitions to apply at checkout as an array of objects."
                  },
                  "displayBillingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a billing address."
                  },
                  "displayShippingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a shipping address."
                  },
                  "enableTermOfService": {
                    "type": "boolean",
                    "description": "Require the customer to accept terms of service."
                  },
                  "additionalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Additional checkout fields as an array of objects."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "amount": {
                            "type": "number"
                          },
                          "coupon": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayBillingAddress": {
                            "type": "boolean"
                          },
                          "displayShippingAddress": {
                            "type": "boolean"
                          },
                          "enableTermOfService": {
                            "type": "boolean"
                          },
                          "forwardProcessingFees": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isTaxable": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/create-pay-what-you-want-payment-link": {
      "post": {
        "operationId": "payfunnels.create-pay-what-you-want-payment-link",
        "summary": "Create Pay What You Want Payment Link",
        "description": "Creates a pay-what-you-want payment link in Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/create-pay-what-you-want-payment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "description"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Pay-what-you-want payment link title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the payment link."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the payment link, for example USD or GBP."
                  },
                  "allowOneTime": {
                    "type": "boolean",
                    "description": "Whether one-time payments are allowed. The provider default is true."
                  },
                  "allowRecurring": {
                    "type": "boolean",
                    "description": "Whether recurring payments are allowed. The provider default is false."
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Whether the default tax rate should be applied."
                  },
                  "forwardProcessingFees": {
                    "type": "boolean",
                    "description": "Whether processing fees should be added to the payment link."
                  },
                  "displayBillingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a billing address."
                  },
                  "displayShippingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a shipping address."
                  },
                  "enableTermOfService": {
                    "type": "boolean",
                    "description": "Require the customer to accept terms of service."
                  },
                  "additionalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Additional checkout fields as an array of objects."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "allowOneTime": {
                            "type": "boolean"
                          },
                          "allowRecurring": {
                            "type": "boolean"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayBillingAddress": {
                            "type": "boolean"
                          },
                          "displayShippingAddress": {
                            "type": "boolean"
                          },
                          "enableTermOfService": {
                            "type": "boolean"
                          },
                          "forwardProcessingFees": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isTaxable": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/create-payment-plan-payment-link": {
      "post": {
        "operationId": "payfunnels.create-payment-plan-payment-link",
        "summary": "Create Payment Plan Payment Link",
        "description": "Creates a payment plan link in Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/create-payment-plan-payment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "description",
                  "amount",
                  "interval",
                  "numberOfPayments"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Payment link title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the payment link."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the payment link, for example USD or GBP."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment plan amount."
                  },
                  "interval": {
                    "type": "string",
                    "description": "Payment interval. Supported values are day, week, month, and year."
                  },
                  "numberOfPayments": {
                    "type": "number",
                    "description": "Number of payments to collect before the subscription cancels."
                  },
                  "trialDays": {
                    "type": "number",
                    "description": "Optional trial period in days. Must be greater than 2 days."
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Whether the default tax rate should be applied."
                  },
                  "forwardProcessingFees": {
                    "type": "boolean",
                    "description": "Whether processing fees should be added to the payment link."
                  },
                  "coupon[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional coupon definitions to apply at checkout as an array of objects."
                  },
                  "displayBillingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a billing address."
                  },
                  "displayShippingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a shipping address."
                  },
                  "enableTermOfService": {
                    "type": "boolean",
                    "description": "Require the customer to accept terms of service."
                  },
                  "additionalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Additional checkout fields as an array of objects."
                  },
                  "oneTimeSetupFeeProductId": {
                    "type": "string",
                    "description": "Optional one-time setup fee product ID to include in the payment link."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "amount": {
                            "type": "number"
                          },
                          "coupon": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayBillingAddress": {
                            "type": "boolean"
                          },
                          "displayShippingAddress": {
                            "type": "boolean"
                          },
                          "enableTermOfService": {
                            "type": "boolean"
                          },
                          "forwardProcessingFees": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "interval": {
                            "type": "string"
                          },
                          "isTaxable": {
                            "type": "boolean"
                          },
                          "numberOfPayments": {
                            "type": "number"
                          },
                          "oneTimeSetupFeeProductId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "trialDays": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/create-recurring-payment-link": {
      "post": {
        "operationId": "payfunnels.create-recurring-payment-link",
        "summary": "Create Recurring Payment Link",
        "description": "Creates a recurring payment link in Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/create-recurring-payment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "description",
                  "amount",
                  "interval"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Payment link title."
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the payment link."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the payment link, for example USD or GBP."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Recurring payment amount."
                  },
                  "interval": {
                    "type": "string",
                    "description": "Recurring interval. Supported values are day, week, month, and year."
                  },
                  "trialDays": {
                    "type": "number",
                    "description": "Optional trial period in days. Must be greater than 2 days."
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Whether the default tax rate should be applied."
                  },
                  "forwardProcessingFees": {
                    "type": "boolean",
                    "description": "Whether processing fees should be added to the payment link."
                  },
                  "coupon[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional coupon definitions to apply at checkout as an array of objects."
                  },
                  "displayBillingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a billing address."
                  },
                  "displayShippingAddress": {
                    "type": "boolean",
                    "description": "Prompt the customer for a shipping address."
                  },
                  "enableTermOfService": {
                    "type": "boolean",
                    "description": "Require the customer to accept terms of service."
                  },
                  "additionalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Additional checkout fields as an array of objects."
                  },
                  "oneTimeSetupFeeProductId": {
                    "type": "string",
                    "description": "Optional one-time setup fee product ID to include in the payment link."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "amount": {
                            "type": "number"
                          },
                          "coupon": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayBillingAddress": {
                            "type": "boolean"
                          },
                          "displayShippingAddress": {
                            "type": "boolean"
                          },
                          "enableTermOfService": {
                            "type": "boolean"
                          },
                          "forwardProcessingFees": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "interval": {
                            "type": "string"
                          },
                          "isTaxable": {
                            "type": "boolean"
                          },
                          "oneTimeSetupFeeProductId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "trialDays": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/create-setup-fee": {
      "post": {
        "operationId": "payfunnels.create-setup-fee",
        "summary": "Create Setup Fee",
        "description": "Creates a new setup fee in Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/create-setup-fee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "currency",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to charge for the setup fee."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code for the setup fee."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the setup fee."
                  },
                  "setAsDefault": {
                    "type": "boolean",
                    "description": "Set true to mark this setup fee as the default."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/delete-setup-fee": {
      "delete": {
        "operationId": "payfunnels.delete-setup-fee",
        "summary": "Delete Setup Fee",
        "description": "Deletes an existing setup fee from Payfunnels.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/delete-setup-fee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the setup fee to delete.",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the setup fee to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/get-payment": {
      "get": {
        "operationId": "payfunnels.get-payment",
        "summary": "Get Payment",
        "description": "Retrieves a payment from Payfunnels by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/get-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the payment to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the payment to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cardLast4": {
                            "type": "string"
                          },
                          "coupon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "processingFeeAmount": {
                            "type": "number"
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "refundAmount": {
                            "type": "number"
                          },
                          "setupFeeAmount": {
                            "type": "number"
                          },
                          "shippingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "taxAmount": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalAmountPaid": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/get-payment-link": {
      "get": {
        "operationId": "payfunnels.get-payment-link",
        "summary": "Get Payment Link",
        "description": "Retrieves a payment link from Payfunnels by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/get-payment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the payment link to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the payment link to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "amount": {
                            "type": "number"
                          },
                          "coupon": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayBillingAddress": {
                            "type": "boolean"
                          },
                          "displayShippingAddress": {
                            "type": "boolean"
                          },
                          "enableTermOfService": {
                            "type": "boolean"
                          },
                          "forwardProcessingFees": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "interval": {
                            "type": "string"
                          },
                          "isTaxable": {
                            "type": "boolean"
                          },
                          "numberOfPayments": {
                            "type": "number"
                          },
                          "oneTimeSetupFeeProductId": {
                            "type": "string"
                          },
                          "paymentSchedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/get-setup-fee": {
      "get": {
        "operationId": "payfunnels.get-setup-fee",
        "summary": "Get Setup Fee",
        "description": "Retrieves a setup fee from Payfunnels by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/get-setup-fee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the setup fee to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the setup fee to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/payfunnels/latest/actions/get-subscription": {
      "get": {
        "operationId": "payfunnels.get-subscription",
        "summary": "Get Subscription",
        "description": "Retrieves a subscription from Payfunnels by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/payfunnels/latest/actions/get-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the subscription to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the subscription to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "chargeAmount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentMethod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentType": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalCollectedAmount": {
                            "type": "number"
                          },
                          "totalDueAmount": {
                            "type": "number"
                          },
[...]
