{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Giphy Universal API",
    "version": "0.0.8",
    "description": "Giphy: Search, discover, and share GIFs, stickers, and clips"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/giphy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/giphy/latest/actions/autocomplete-gif-tags": {
      "get": {
        "operationId": "giphy.autocomplete-gif-tags",
        "summary": "Autocomplete GIF Tags",
        "description": "Finds autocomplete tag terms for GIFs in Giphy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giphy/latest/actions/autocomplete-gif-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "analyticsResponsePayload": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giphy/latest/actions/get-content-by-id": {
      "get": {
        "operationId": "giphy.get-content-by-id",
        "summary": "Get Content by ID",
        "description": "Retrieves GIF, sticker, or clip content from Giphy by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giphy/latest/actions/get-content-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "analytics": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "onclick": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "onload": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "onsent": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "analyticsResponsePayload": {
                            "type": "string"
                          },
                          "embedUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "images": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "downsized": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedLarge": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedMedium": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeight": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightDownsampled": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightSmallStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidth": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthDownsampled": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthSmallStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "hd": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "image480wStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "original": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "frames": {
                                    "type": "string"
                                  },
                                  "hash": {
                                    "type": "string"
                                  },
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "originalMp4": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "originalStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "preview": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "previewGif": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "previewWebp": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "isLowContrast": {
                            "type": "boolean"
                          },
                          "rating": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "isVerified": {
                                "type": "boolean"
                              },
                              "profileUrl": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            }
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giphy/latest/actions/get-content-by-ids": {
      "get": {
        "operationId": "giphy.get-content-by-ids",
        "summary": "Get Content by IDs",
        "description": "Retrieves GIF, sticker, or clip content from Giphy by IDs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giphy/latest/actions/get-content-by-ids"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altText": {
                            "type": "string"
                          },
                          "analytics": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "onclick": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "onload": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "onsent": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "analyticsResponsePayload": {
                            "type": "string"
                          },
                          "bitlyGifUrl": {
                            "type": "string"
                          },
                          "bitlyUrl": {
                            "type": "string"
                          },
                          "contentUrl": {
                            "type": "string"
                          },
                          "embedUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "images": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "downsized": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedLarge": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedMedium": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeight": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightDownsampled": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightSmallStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidth": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthDownsampled": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthSmallStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "hd": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "image480wStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "looping": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "original": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "frames": {
                                    "type": "string"
                                  },
                                  "hash": {
                                    "type": "string"
                                  },
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "originalMp4": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "originalStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "preview": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "previewGif": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "previewWebp": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "importDatetime": {
                            "type": "string"
                          },
                          "isLowContrast": {
                            "type": "boolean"
                          },
                          "isSticker": {
                            "type": "number"
                          },
                          "rating": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "sourcePostUrl": {
                            "type": "string"
                          },
                          "sourceTld": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "trendingDatetime": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "avatarUrl": {
                                "type": "string"
                              },
                              "bannerImage": {
                                "type": "string"
                              },
                              "bannerUrl": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "instagramUrl": {
                                "type": "string"
                              },
                              "isVerified": {
                                "type": "boolean"
                              },
                              "profileUrl": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "websiteUrl": {
                                "type": "string"
                              }
                            }
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giphy/latest/actions/get-emoji-variations": {
      "get": {
        "operationId": "giphy.get-emoji-variations",
        "summary": "Get Emoji Variations",
        "description": "Retrieves emoji variations from Giphy by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giphy/latest/actions/get-emoji-variations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emojiId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altText": {
                            "type": "string"
                          },
                          "analytics": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "onclick": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "onload": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "onsent": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "analyticsResponsePayload": {
                            "type": "string"
                          },
                          "bitlyGifUrl": {
                            "type": "string"
                          },
                          "bitlyUrl": {
                            "type": "string"
                          },
                          "contentUrl": {
                            "type": "string"
                          },
                          "embedUrl": {
                            "type": "string"
                          },
                          "emojiGroupId": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "images": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "downsized": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedLarge": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedMedium": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "downsizedStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeight": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightDownsampled": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightSmallStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedHeightStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidth": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthDownsampled": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthSmall": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthSmallStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "fixedWidthStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "hd": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "image480wStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "looping": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "original": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "frames": {
                                    "type": "string"
                                  },
                                  "hash": {
                                    "type": "string"
                                  },
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "webp": {
                                    "type": "string"
                                  },
                                  "webpSize": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "originalMp4": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "originalStill": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "preview": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "mp4": {
                                    "type": "string"
                                  },
                                  "mp4Size": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "previewGif": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
                                    "type": "string"
                                  },
                                  "size": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "string"
                                  }
                                }
                              },
                              "previewWebp": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "height": {
[...]
