{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cheddar Universal API",
    "version": "0.0.6",
    "description": "Cheddar handles subscription billing with pricing plans, customer subscriptions, tracked usage, invoices, charges, refunds, and promotions."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cheddar/latest/actions/add-custom-charge-or-credit": {
      "post": {
        "operationId": "cheddar.add-custom-charge-or-credit",
        "summary": "Add Custom Charge or Credit",
        "description": "Creates a custom charge or credit in Cheddar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest/actions/add-custom-charge-or-credit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerCode",
                  "chargeCode",
                  "quantity",
                  "eachAmount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerCode": {
                    "type": "string",
                    "description": "Customer code from Cheddar."
                  },
                  "chargeCode": {
                    "type": "string",
                    "description": "Code for the custom charge or credit."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Positive integer quantity for the custom charge or credit."
                  },
                  "eachAmount": {
                    "type": "number",
                    "description": "Positive or negative amount with two-digit decimal precision."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the custom charge or credit."
                  },
                  "invoicePeriod": {
                    "type": "string",
                    "description": "Billing period: current (default) or outstanding."
                  },
                  "remoteAddress": {
                    "type": "string",
                    "description": "Client IPv4 address for fraud protection and rate limiting.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "createdDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "gatewayToken": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "modifiedDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "subscriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "canceledDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccExpirationDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccFirstName": {
                                        "type": "string"
                                      },
                                      "ccLastFour": {
                                        "type": "string"
                                      },
                                      "ccLastName": {
                                        "type": "string"
                                      },
                                      "ccType": {
                                        "type": "string"
                                      },
                                      "createdDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "gatewayToken": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "invoices": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "billingDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "charges": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "code": {
                                                    "type": "string"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "eachAmount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "number"
                                                  }
                                                }
                                              }
                                            },
                                            "createdDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "number": {
                                              "type": "string"
                                            },
                                            "transactions": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "amount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "response": {
                                                    "type": "string"
                                                  },
                                                  "transactedDatetime": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  }
                                                }
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "plans": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "isActive": {
                                              "type": "boolean"
                                            },
                                            "isFree": {
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "trialDays": {
                                              "type": "number"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cheddar/latest/actions/add-item-quantity": {
      "put": {
        "operationId": "cheddar.add-item-quantity",
        "summary": "Add Item Quantity",
        "description": "Increments a customer item quantity in Cheddar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest/actions/add-item-quantity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerCode",
                  "itemCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerCode": {
                    "type": "string",
                    "description": "Customer code from Cheddar."
                  },
                  "itemCode": {
                    "type": "string",
                    "description": "Tracked item code from Cheddar."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Positive amount to add to the current tracked item usage. Defaults to 1.0000 when omitted."
                  },
                  "remoteAddress": {
                    "type": "string",
                    "description": "Client IPv4 address for fraud protection and rate limiting.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cheddar/latest/actions/cancel-subscription": {
      "put": {
        "operationId": "cheddar.cancel-subscription",
        "summary": "Cancel Subscription",
        "description": "Cancels an existing customer subscription in Cheddar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest/actions/cancel-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerCode": {
                    "type": "string",
                    "description": "Customer code from Cheddar."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "createdDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "gatewayToken": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "modifiedDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "subscriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "canceledDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccExpirationDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccFirstName": {
                                        "type": "string"
                                      },
                                      "ccLastFour": {
                                        "type": "string"
                                      },
                                      "ccLastName": {
                                        "type": "string"
                                      },
                                      "ccType": {
                                        "type": "string"
                                      },
                                      "createdDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "gatewayToken": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "invoices": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "billingDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "charges": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "code": {
                                                    "type": "string"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "eachAmount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "number"
                                                  }
                                                }
                                              }
                                            },
                                            "createdDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "number": {
                                              "type": "string"
                                            },
                                            "transactions": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "amount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "response": {
                                                    "type": "string"
                                                  },
                                                  "transactedDatetime": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  }
                                                }
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "plans": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "isActive": {
                                              "type": "boolean"
                                            },
                                            "isFree": {
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "trialDays": {
                                              "type": "number"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cheddar/latest/actions/create-customer": {
      "post": {
        "operationId": "cheddar.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer and subscription in Cheddar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "code",
                  "firstName",
                  "lastName",
                  "email",
                  "subscription.planCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "Unique code for the customer in Cheddar."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Customer first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Customer last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address."
                  },
                  "subscription": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Subscription details for the new customer."
                  },
                  "subscription.planCode": {
                    "type": "string",
                    "description": "Pricing plan code to subscribe the customer to."
                  },
                  "subscription.method": {
                    "type": "string",
                    "description": "Payment method: cc (default) or paypal."
                  },
                  "subscription.ccNumber": {
                    "type": "string",
                    "description": "Credit or debit card number when card payment details are provided."
                  },
                  "subscription.ccExpiration": {
                    "type": "string",
                    "description": "Card expiration in MM/YYYY format."
                  },
                  "subscription.ccCardCode": {
                    "type": "string",
                    "description": "Card verification code when required by the payment flow."
                  },
                  "subscription.gatewayToken": {
                    "type": "string",
                    "description": "Pre-tokenized payment method reference."
                  },
                  "subscription.couponCode": {
                    "type": "string",
                    "description": "Promotion coupon code to apply."
                  },
                  "remoteAddress": {
                    "type": "string",
                    "description": "Client IPv4 address for fraud protection and rate limiting.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "createdDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "gatewayToken": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "modifiedDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "subscriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "canceledDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccExpirationDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccFirstName": {
                                        "type": "string"
                                      },
                                      "ccLastFour": {
                                        "type": "string"
                                      },
                                      "ccLastName": {
                                        "type": "string"
                                      },
                                      "ccType": {
                                        "type": "string"
                                      },
                                      "createdDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "gatewayToken": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "invoices": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "billingDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "charges": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "code": {
                                                    "type": "string"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "eachAmount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "number"
                                                  }
                                                }
                                              }
                                            },
                                            "createdDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "number": {
                                              "type": "string"
                                            },
                                            "transactions": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "amount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "response": {
                                                    "type": "string"
                                                  },
                                                  "transactedDatetime": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  }
                                                }
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "plans": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "isActive": {
                                              "type": "boolean"
                                            },
                                            "isFree": {
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "trialDays": {
                                              "type": "number"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cheddar/latest/actions/create-one-time-invoice": {
      "post": {
        "operationId": "cheddar.create-one-time-invoice",
        "summary": "Create One-Time Invoice",
        "description": "Creates a one-time invoice in Cheddar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest/actions/create-one-time-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerCode",
                  "charges",
                  "charges[].chargeCode",
                  "charges[].quantity",
                  "charges[].eachAmount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerCode": {
                    "type": "string",
                    "description": "Customer code from Cheddar."
                  },
                  "charges": {
                    "type": "string",
                    "description": "Charge rows to include on the one-time invoice."
                  },
                  "charges[].chargeCode": {
                    "type": "string",
                    "description": "Charge code for one invoice line."
                  },
                  "charges[].quantity": {
                    "type": "number",
                    "description": "Positive integer quantity for one invoice line."
                  },
                  "charges[].eachAmount": {
                    "type": "number",
                    "description": "Positive or negative amount with two-digit decimal precision for one invoice line."
                  },
                  "charges[].description": {
                    "type": "string",
                    "description": "Description for one invoice line."
                  },
                  "remoteAddress": {
                    "type": "string",
                    "description": "Client IPv4 address for fraud protection and rate limiting.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "createdDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "gatewayToken": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "modifiedDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "subscriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "canceledDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccExpirationDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccFirstName": {
                                        "type": "string"
                                      },
                                      "ccLastFour": {
                                        "type": "string"
                                      },
                                      "ccLastName": {
                                        "type": "string"
                                      },
                                      "ccType": {
                                        "type": "string"
                                      },
                                      "createdDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "gatewayToken": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "invoices": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "billingDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "charges": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "code": {
                                                    "type": "string"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "eachAmount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "number"
                                                  }
                                                }
                                              }
                                            },
                                            "createdDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "number": {
                                              "type": "string"
                                            },
                                            "transactions": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "amount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "response": {
                                                    "type": "string"
                                                  },
                                                  "transactedDatetime": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  }
                                                }
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "plans": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "isActive": {
                                              "type": "boolean"
                                            },
                                            "isFree": {
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "trialDays": {
                                              "type": "number"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cheddar/latest/actions/delete-custom-charge-or-credit": {
      "delete": {
        "operationId": "cheddar.delete-custom-charge-or-credit",
        "summary": "Delete Custom Charge or Credit",
        "description": "Deletes a custom charge or credit from Cheddar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest/actions/delete-custom-charge-or-credit"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "query",
            "required": true,
            "description": "Customer code from Cheddar.",
            "schema": {
              "type": "string",
              "description": "Customer code from Cheddar."
            }
          },
          {
            "name": "chargeId",
            "in": "query",
            "required": true,
            "description": "Cheddar ID for the charge or credit to remove.",
            "schema": {
              "type": "string",
              "description": "Cheddar ID for the charge or credit to remove."
            }
          },
          {
            "name": "invoicePeriod",
            "in": "query",
            "required": false,
            "description": "Billing period: current (default) or outstanding.",
            "schema": {
              "type": "string",
              "description": "Billing period: current (default) or outstanding."
            }
          },
          {
            "name": "remoteAddress",
            "in": "query",
            "required": false,
            "description": "Client IPv4 address for fraud protection and rate limiting.",
            "schema": {
              "type": "string",
              "description": "Client IPv4 address for fraud protection and rate limiting.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "createdDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "gatewayToken": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "modifiedDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "subscriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "canceledDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccExpirationDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccFirstName": {
                                        "type": "string"
                                      },
                                      "ccLastFour": {
                                        "type": "string"
                                      },
                                      "ccLastName": {
                                        "type": "string"
                                      },
                                      "ccType": {
                                        "type": "string"
                                      },
                                      "createdDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "gatewayToken": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "invoices": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "billingDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "charges": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "code": {
                                                    "type": "string"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "eachAmount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "number"
                                                  }
                                                }
                                              }
                                            },
                                            "createdDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "number": {
                                              "type": "string"
                                            },
                                            "transactions": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "amount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "response": {
                                                    "type": "string"
                                                  },
                                                  "transactedDatetime": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  }
                                                }
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "plans": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "isActive": {
                                              "type": "boolean"
                                            },
                                            "isFree": {
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "trialDays": {
                                              "type": "number"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cheddar/latest/actions/delete-customer": {
      "delete": {
        "operationId": "cheddar.delete-customer",
        "summary": "Delete Customer",
        "description": "Deletes an existing customer from Cheddar.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cheddar/latest/actions/delete-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "query",
            "required": true,
            "description": "Customer code from Cheddar.",
            "schema": {
              "type": "string",
              "description": "Customer code from Cheddar."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "createdDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "gatewayToken": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "modifiedDatetime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "subscriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "canceledDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccExpirationDate": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "ccFirstName": {
                                        "type": "string"
                                      },
                                      "ccLastFour": {
                                        "type": "string"
                                      },
                                      "ccLastName": {
                                        "type": "string"
                                      },
                                      "ccType": {
                                        "type": "string"
                                      },
                                      "createdDatetime": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "gatewayToken": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "invoices": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "billingDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "charges": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "code": {
                                                    "type": "string"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "eachAmount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "quantity": {
                                                    "type": "number"
                                                  }
                                                }
                                              }
                                            },
                                            "createdDatetime": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "number": {
                                              "type": "string"
                                            },
                                            "transactions": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "properties": {
                                                  "amount": {
                                                    "type": "number"
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "response": {
                                                    "type": "string"
                                                  },
                                                  "transactedDatetime": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                  }
                                                }
                                              }
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "plans": {
                                        "type": "array",
[...]
