{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SAP ERP (S/4HANA) Universal API",
    "version": "0.0.3",
    "description": "Create, read, update, or delete business partner, supplier, and customer master data in SAP S/4HANA Cloud Public Edition through the Business Partner (A2X) sandbox API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sAPERPS4HANA/latest/actions/get-business-partner": {
      "get": {
        "operationId": "sAPERPS4HANA.get-business-partner",
        "summary": "Get Business Partner",
        "description": "Retrieves a business partner from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/get-business-partner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "businessPartner": {
                            "type": "string",
                            "description": "Business partner identifier."
                          },
                          "businessPartnerCategory": {
                            "type": "string",
                            "description": "Business partner category code."
                          },
                          "businessPartnerFullName": {
                            "type": "string",
                            "description": "Full business partner name."
                          },
                          "businessPartnerGrouping": {
                            "type": "string",
                            "description": "Business partner grouping."
                          },
                          "businessPartnerName": {
                            "type": "string",
                            "description": "Business partner display name."
                          },
                          "businessPartnerUUID": {
                            "type": "string",
                            "description": "Business partner UUID."
                          },
                          "createdByUser": {
                            "type": "string",
                            "description": "User who created the business partner."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/get-business-partner-bank-profile": {
      "get": {
        "operationId": "sAPERPS4HANA.get-business-partner-bank-profile",
        "summary": "Get Business Partner Bank Profile",
        "description": "Retrieves a business partner bank profile from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/get-business-partner-bank-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BankCountry": {
                            "type": "string"
                          },
                          "BankKey": {
                            "type": "string"
                          },
                          "BPMinimumReserve": {
                            "type": "string"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/get-business-partner-credit-worthiness": {
      "get": {
        "operationId": "sAPERPS4HANA.get-business-partner-credit-worthiness",
        "summary": "Get Business Partner Credit Worthiness",
        "description": "Retrieves credit worthiness for a business partner from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/get-business-partner-credit-worthiness"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BPCrdtWrthnssAccessChkIsActive": {
                            "type": "string"
                          },
                          "BPCreditStandingComment": {
                            "type": "string"
                          },
                          "BPCreditStandingDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "BPCreditStandingRating": {
                            "type": "string"
                          },
                          "BPCreditStandingStatus": {
                            "type": "string"
                          },
                          "BPForeclosureDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "BPForeclosureIsInitiated": {
                            "type": "boolean"
                          },
                          "BPLegalProceedingStatus": {
                            "type": "string"
                          },
                          "BPLglProceedingInitiationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          },
                          "BusinessPartnerBankruptcyDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "BusinessPartnerIsBankrupt": {
                            "type": "boolean"
                          },
                          "BusinessPartnerIsUnderOath": {
                            "type": "boolean"
                          },
                          "BusinessPartnerOathDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "BusPartCreditStanding": {
                            "type": "string"
                          },
                          "CreditRatingAgency": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/get-customer-for-business-partner": {
      "get": {
        "operationId": "sAPERPS4HANA.get-customer-for-business-partner",
        "summary": "Get Customer for Business Partner",
        "description": "Retrieves the customer for a business partner from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/get-customer-for-business-partner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AuthorizationGroup": {
                            "type": "string"
                          },
                          "BillingIsBlockedForCustomer": {
                            "type": "string"
                          },
                          "BPCustomerFullName": {
                            "type": "string"
                          },
                          "BPCustomerName": {
                            "type": "string"
                          },
                          "BR_ICMSTaxPayerType": {
                            "type": "string"
                          },
                          "CityCode": {
                            "type": "string"
                          },
                          "County": {
                            "type": "string"
                          },
                          "CreatedByUser": {
                            "type": "string"
                          },
                          "CreationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Customer": {
                            "type": "string"
                          },
                          "CustomerAccountGroup": {
                            "type": "string"
                          },
                          "CustomerClassification": {
                            "type": "string"
                          },
                          "CustomerCorporateGroup": {
                            "type": "string"
                          },
                          "CustomerFullName": {
                            "type": "string"
                          },
                          "CustomerName": {
                            "type": "string"
                          },
                          "DeletionIndicator": {
                            "type": "boolean"
                          },
                          "DeliveryIsBlocked": {
                            "type": "string"
                          },
                          "ExpressTrainStationName": {
                            "type": "string"
                          },
                          "FiscalAddress": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute01": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute02": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute03": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute04": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute05": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute06": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute07": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute08": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute09": {
                            "type": "string"
                          },
                          "FreeDefinedAttribute10": {
                            "type": "string"
                          },
                          "Industry": {
                            "type": "string"
                          },
                          "IndustryCode1": {
                            "type": "string"
                          },
                          "IndustryCode2": {
                            "type": "string"
                          },
                          "IndustryCode3": {
                            "type": "string"
                          },
                          "IndustryCode4": {
                            "type": "string"
                          },
                          "IndustryCode5": {
                            "type": "string"
                          },
                          "InternationalLocationNumber1": {
                            "type": "string"
                          },
                          "InternationalLocationNumber2": {
                            "type": "string"
                          },
                          "InternationalLocationNumber3": {
                            "type": "string"
                          },
                          "NFPartnerIsNaturalPerson": {
                            "type": "string"
                          },
                          "NielsenRegion": {
                            "type": "string"
                          },
                          "OrderIsBlockedForCustomer": {
                            "type": "string"
                          },
                          "PaymentReason": {
                            "type": "string"
                          },
                          "PostingIsBlocked": {
                            "type": "boolean"
                          },
                          "ResponsibleType": {
                            "type": "string"
                          },
                          "Supplier": {
                            "type": "string"
                          },
                          "TaxNumber1": {
                            "type": "string"
                          },
                          "TaxNumber2": {
                            "type": "string"
                          },
                          "TaxNumber3": {
                            "type": "string"
                          },
                          "TaxNumber4": {
                            "type": "string"
                          },
                          "TaxNumber5": {
                            "type": "string"
                          },
                          "TaxNumberType": {
                            "type": "string"
                          },
                          "TrainStationName": {
                            "type": "string"
                          },
                          "VATRegistration": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/get-related-business-partner": {
      "get": {
        "operationId": "sAPERPS4HANA.get-related-business-partner",
        "summary": "Get Related Business Partner",
        "description": "Retrieves a related business partner from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/get-related-business-partner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bpBalanceSheetCurrency": {
                            "type": "string",
                            "description": "Balance sheet currency."
                          },
                          "bpLastCapitalIncreaseYear": {
                            "type": "string",
                            "description": "Last capital increase year."
                          },
                          "bpLastCptlIncrAmtInBalShtCrcy": {
                            "type": "string",
                            "description": "Last capital increase amount in balance sheet currency."
                          },
                          "bpRegisteredOfficeName": {
                            "type": "string",
                            "description": "Registered office name."
                          },
                          "businessPartner": {
                            "type": "string",
                            "description": "Business partner identifier."
                          },
                          "businessPartnerIsEmployee": {
                            "type": "boolean",
                            "description": "Whether the business partner is an employee."
                          },
                          "businessPartnerIsVIP": {
                            "type": "boolean",
                            "description": "Whether the business partner is marked as VIP."
                          },
                          "businessPartnerOfficeCountry": {
                            "type": "string",
                            "description": "Office country code."
                          },
                          "businessPartnerOfficeRegion": {
                            "type": "string",
                            "description": "Office region code."
                          },
                          "customerIsUnwanted": {
                            "type": "boolean",
                            "description": "Whether the customer is marked as unwanted."
                          },
                          "factoryCalendar": {
                            "type": "string",
                            "description": "Factory calendar code."
                          },
                          "lastCustomerContactDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date of the last customer contact."
                          },
                          "tradingPartner": {
                            "type": "string",
                            "description": "Trading partner code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/get-supplier-for-business-partner": {
      "get": {
        "operationId": "sAPERPS4HANA.get-supplier-for-business-partner",
        "summary": "Get Supplier for Business Partner",
        "description": "Retrieves the supplier for a business partner from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/get-supplier-for-business-partner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AlternativePayeeAccountNumber": {
                            "type": "string"
                          },
                          "AuthorizationGroup": {
                            "type": "string"
                          },
                          "BirthDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "BR_TaxIsSplit": {
                            "type": "boolean"
                          },
                          "BusinessPartnerPanNumber": {
                            "type": "string"
                          },
                          "ConcatenatedInternationalLocNo": {
                            "type": "string"
                          },
                          "CreatedByUser": {
                            "type": "string"
                          },
                          "CreationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Customer": {
                            "type": "string"
                          },
                          "DataExchangeInstructionKey": {
                            "type": "string"
                          },
                          "DeletionIndicator": {
                            "type": "boolean"
                          },
                          "FiscalAddress": {
                            "type": "string"
                          },
                          "Industry": {
                            "type": "string"
                          },
                          "InternationalLocationNumber1": {
                            "type": "string"
                          },
                          "InternationalLocationNumber2": {
                            "type": "string"
                          },
                          "InternationalLocationNumber3": {
                            "type": "string"
                          },
                          "IsNaturalPerson": {
                            "type": "string"
                          },
                          "JP_SuplrAmtInCapitalAmount": {
                            "type": "number"
                          },
                          "JP_SupplierCapitalAmountCrcy": {
                            "type": "string"
                          },
                          "PaymentIsBlockedForSupplier": {
                            "type": "boolean"
                          },
                          "PaymentReason": {
                            "type": "string"
                          },
                          "PostingIsBlocked": {
                            "type": "boolean"
                          },
                          "PurchasingIsBlocked": {
                            "type": "boolean"
                          },
                          "ResponsibleType": {
                            "type": "string"
                          },
                          "SuplrProofOfDelivRlvtCode": {
                            "type": "string"
                          },
                          "SuplrQltyInProcmtCertfnValidTo": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "SuplrQualityManagementSystem": {
                            "type": "string"
                          },
                          "Supplier": {
                            "type": "string"
                          },
                          "SupplierAccountGroup": {
                            "type": "string"
                          },
                          "SupplierCorporateGroup": {
                            "type": "string"
                          },
                          "SupplierFullName": {
                            "type": "string"
                          },
                          "SupplierName": {
                            "type": "string"
                          },
                          "SupplierProcurementBlock": {
                            "type": "string"
                          },
                          "TaxNumber1": {
                            "type": "string"
                          },
                          "TaxNumber2": {
                            "type": "string"
                          },
                          "TaxNumber3": {
                            "type": "string"
                          },
                          "TaxNumber4": {
                            "type": "string"
                          },
                          "TaxNumber5": {
                            "type": "string"
                          },
                          "TaxNumberResponsible": {
                            "type": "string"
                          },
                          "TaxNumberType": {
                            "type": "string"
                          },
                          "VATRegistration": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/list-address-dependent-tax-numbers": {
      "get": {
        "operationId": "sAPERPS4HANA.list-address-dependent-tax-numbers",
        "summary": "List Address-Dependent Tax Numbers",
        "description": "Retrieves address-dependent tax numbers from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/list-address-dependent-tax-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressID": {
                            "type": "string"
                          },
                          "AuthorizationGroup": {
                            "type": "string"
                          },
                          "BPTaxLongNumber": {
                            "type": "string"
                          },
                          "BPTaxNumber": {
                            "type": "string"
                          },
                          "BPTaxType": {
                            "type": "string"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/list-address-independent-emails": {
      "get": {
        "operationId": "sAPERPS4HANA.list-address-independent-emails",
        "summary": "List Address Independent Emails",
        "description": "Retrieves address-independent emails from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/list-address-independent-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressID": {
                            "type": "string"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          },
                          "EmailAddress": {
                            "type": "string"
                          },
                          "IsDefaultEmailAddress": {
                            "type": "boolean"
                          },
                          "OrdinalNumber": {
                            "type": "string"
                          },
                          "Person": {
                            "type": "string"
                          },
                          "ValidityEndDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ValidityStartDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/list-address-independent-faxes": {
      "get": {
        "operationId": "sAPERPS4HANA.list-address-independent-faxes",
        "summary": "List Address Independent Faxes",
        "description": "Retrieves address-independent faxes from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/list-address-independent-faxes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressID": {
                            "type": "string"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          },
                          "FaxAreaCodeSubscriberNumber": {
                            "type": "string"
                          },
                          "FaxCountry": {
                            "type": "string"
                          },
                          "FaxNumberExtension": {
                            "type": "string"
                          },
                          "InternationalFaxNumber": {
                            "type": "string"
                          },
                          "IsDefaultFaxNumber": {
                            "type": "boolean"
                          },
                          "OrdinalNumber": {
                            "type": "string"
                          },
                          "Person": {
                            "type": "string"
                          },
                          "ValidityEndDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ValidityStartDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/list-address-independent-mobiles": {
      "get": {
        "operationId": "sAPERPS4HANA.list-address-independent-mobiles",
        "summary": "List Address Independent Mobiles",
        "description": "Retrieves address-independent mobiles from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/list-address-independent-mobiles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressID": {
                            "type": "string"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          },
                          "InternationalPhoneNumber": {
                            "type": "string"
                          },
                          "IsDefaultPhoneNumber": {
                            "type": "boolean"
                          },
                          "MobilePhoneCountry": {
                            "type": "string"
                          },
                          "MobilePhoneNumber": {
                            "type": "string"
                          },
                          "OrdinalNumber": {
                            "type": "string"
                          },
                          "Person": {
                            "type": "string"
                          },
                          "PhoneNumberExtension": {
                            "type": "string"
                          },
                          "PhoneNumberType": {
                            "type": "string"
                          },
                          "ValidityEndDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ValidityStartDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/list-address-independent-phones": {
      "get": {
        "operationId": "sAPERPS4HANA.list-address-independent-phones",
        "summary": "List Address Independent Phones",
        "description": "Retrieves address-independent phones from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/list-address-independent-phones"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressID": {
                            "type": "string"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          },
                          "DestinationLocationCountry": {
                            "type": "string"
                          },
                          "InternationalPhoneNumber": {
                            "type": "string"
                          },
                          "IsDefaultPhoneNumber": {
                            "type": "boolean"
                          },
                          "OrdinalNumber": {
                            "type": "string"
                          },
                          "Person": {
                            "type": "string"
                          },
                          "PhoneNumber": {
                            "type": "string"
                          },
                          "PhoneNumberExtension": {
                            "type": "string"
                          },
                          "PhoneNumberType": {
                            "type": "string"
                          },
                          "ValidityEndDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ValidityStartDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/list-address-independent-websites": {
      "get": {
        "operationId": "sAPERPS4HANA.list-address-independent-websites",
        "summary": "List Address Independent Websites",
        "description": "Retrieves address-independent websites from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/list-address-independent-websites"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressID": {
                            "type": "string"
                          },
                          "BusinessPartner": {
                            "type": "string"
                          },
                          "IsDefaultURLAddress": {
                            "type": "boolean"
                          },
                          "OrdinalNumber": {
                            "type": "string"
                          },
                          "Person": {
                            "type": "string"
                          },
                          "URLFieldLength": {
                            "type": "number"
                          },
                          "WebsiteURL": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sAPERPS4HANA/latest/actions/list-business-partner-address-emails": {
      "get": {
        "operationId": "sAPERPS4HANA.list-business-partner-address-emails",
        "summary": "List Business Partner Address Emails",
        "description": "Retrieves business partner address emails from SAP ERP (S/4HANA).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sAPERPS4HANA/latest/actions/list-business-partner-address-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "query",
            "required": true,
            "description": "Address identifier such as 27512.",
            "schema": {
              "type": "string",
              "description": "Address identifier such as 27512."
            }
          },
          {
            "name": "businessPartner",
            "in": "query",
            "required": true,
            "description": "Business partner identifier such as 11.",
            "schema": {
              "type": "string",
              "description": "Business partner identifier such as 11."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
[...]
