{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SweetProcess Universal API",
    "version": "0.0.5",
    "description": "Manage procedures, tasks, teammates, and process documentation"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sweetProcess/latest/actions/create-invitation": {
      "post": {
        "operationId": "sweetProcess.create-invitation",
        "summary": "Create Invitation",
        "description": "Creates a new invitation in SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/create-invitation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invitations[].contentType",
                  "invitations[].permission",
                  "invitations[].objectId",
                  "invitations[].toUserId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invitations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One or more invitation objects to send to SweetProcess."
                  },
                  "invitations[].sendMail": {
                    "type": "boolean",
                    "description": "Whether SweetProcess should send an email for this invitation row.",
                    "default": false
                  },
                  "invitations[].contentType": {
                    "type": "string",
                    "description": "The target object type for the invitation, for example team.",
                    "default": "team"
                  },
                  "invitations[].permission": {
                    "type": "string",
                    "description": "The permission level to assign, for example view.",
                    "default": "view"
                  },
                  "invitations[].objectId": {
                    "type": "number",
                    "description": "The numeric ID of the referenced team or document."
                  },
                  "invitations[].toUserId": {
                    "type": "string",
                    "description": "The SweetProcess user API URL that should receive the invitation.",
                    "example": "https://www.sweetprocess.com/api/v1/users/32010/"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "The shared object type, for example team."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the invitation was created."
                          },
                          "fromUser": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The user who created the invitation."
                          },
                          "id": {
                            "type": "number",
                            "description": "The numeric SweetProcess invitation ID."
                          },
                          "objectId": {
                            "type": "number",
                            "description": "The numeric ID of the shared target object."
                          },
                          "permission": {
                            "type": "string",
                            "description": "The permission granted by the invitation."
                          },
                          "sharedItem": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The shared SweetProcess object referenced by the invitation."
                          },
                          "status": {
                            "type": "string",
                            "description": "The invitation status, for example pending."
                          },
                          "toUser": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The invited SweetProcess user."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the invitation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/create-team": {
      "post": {
        "operationId": "sweetProcess.create-team",
        "summary": "Create Team",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/create-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The SweetProcess team name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional team description."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountWide": {
                            "type": "boolean",
                            "description": "Whether the team is account-wide."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "The SweetProcess content type for the record, for example team."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the team was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The team description."
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The SweetProcess web URL for the team."
                          },
                          "id": {
                            "type": "number",
                            "description": "The numeric SweetProcess team ID."
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the team was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The team name."
                          },
                          "numberOfPolicies": {
                            "type": "number",
                            "description": "The number of policies in the team."
                          },
                          "numberOfProcedures": {
                            "type": "number",
                            "description": "The number of procedures in the team."
                          },
                          "numberOfProcesses": {
                            "type": "number",
                            "description": "The number of processes in the team."
                          },
                          "numManagers": {
                            "type": "number",
                            "description": "The number of managers in the team."
                          },
                          "numReaders": {
                            "type": "number",
                            "description": "The number of readers in the team."
                          },
                          "numTeammates": {
                            "type": "number",
                            "description": "The number of teammates in the team."
                          },
                          "slug": {
                            "type": "string",
                            "description": "The team slug."
                          },
                          "teammatesCanAssignTask": {
                            "type": "boolean",
                            "description": "Whether teammates can assign tasks in the team."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the SweetProcess team."
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The users currently associated with the team."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/create-user": {
      "post": {
        "operationId": "sweetProcess.create-user",
        "summary": "Create User",
        "description": "Creates a new teammate in SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The teammate's display name."
                  },
                  "email": {
                    "type": "string",
                    "description": "The teammate's email address.",
                    "example": "teammate@example.com"
                  },
                  "isSuperManager": {
                    "type": "boolean",
                    "description": "Whether the new teammate should be invited as a super manager."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarImage": {
                            "type": "string",
                            "description": "The user's avatar image URL, when present."
                          },
                          "canEdit": {
                            "type": "boolean",
                            "description": "Whether the current actor can edit the user."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "The SweetProcess content type for the record, for example user."
                          },
                          "email": {
                            "type": "string",
                            "description": "The user's primary email address."
                          },
                          "emailaddresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The user's email address records."
                          },
                          "emailstatus": {
                            "type": "string",
                            "description": "The current email delivery status, when available."
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The SweetProcess web URL for the user."
                          },
                          "id": {
                            "type": "number",
                            "description": "The numeric SweetProcess user ID."
                          },
                          "isAccountOnly": {
                            "type": "boolean",
                            "description": "Whether the user exists only at the account level."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the user is active in SweetProcess."
                          },
                          "isBillingAdmin": {
                            "type": "boolean",
                            "description": "Whether the user is a billing administrator."
                          },
                          "isDeleted": {
                            "type": "boolean",
                            "description": "Whether the user has been deleted."
                          },
                          "isEmailVerified": {
                            "type": "boolean",
                            "description": "Whether the user's email is verified."
                          },
                          "isGuestUntil": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When a guest user's access ends, if applicable."
                          },
                          "isManager": {
                            "type": "boolean",
                            "description": "Whether the user is a manager."
                          },
                          "isSamlAccount": {
                            "type": "boolean",
                            "description": "Whether the user is a SAML account."
                          },
                          "isSuperManager": {
                            "type": "boolean",
                            "description": "Whether the user is a super manager."
                          },
                          "isSuperTeammate": {
                            "type": "boolean",
                            "description": "Whether the user is a super teammate."
                          },
                          "isTwoFactor": {
                            "type": "boolean",
                            "description": "Whether two-factor authentication is enabled."
                          },
                          "name": {
                            "type": "string",
                            "description": "The user's display name."
                          },
                          "teamMemberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The user's team membership objects."
                          },
                          "teams": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The teams currently associated with the user."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The user's configured time zone."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the SweetProcess user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/delete-team": {
      "delete": {
        "operationId": "sweetProcess.delete-team",
        "summary": "Delete Team",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/delete-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The numeric SweetProcess team ID.",
            "schema": {
              "type": "number",
              "description": "The numeric SweetProcess team ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/delete-user": {
      "delete": {
        "operationId": "sweetProcess.delete-user",
        "summary": "Delete User",
        "description": "Deletes an existing teammate from SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The numeric SweetProcess user ID.",
            "schema": {
              "type": "number",
              "description": "The numeric SweetProcess user ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/get-procedure": {
      "get": {
        "operationId": "sweetProcess.get-procedure",
        "summary": "Get Procedure",
        "description": "Retrieves a procedure from SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/get-procedure"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The numeric SweetProcess procedure ID.",
            "schema": {
              "type": "number",
              "description": "The numeric SweetProcess procedure ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "approvedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "approvedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "author": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "canAssign": {
                            "type": "boolean"
                          },
                          "canChange": {
                            "type": "boolean"
                          },
                          "canDelete": {
                            "type": "boolean"
                          },
                          "canEdit": {
                            "type": "boolean"
                          },
                          "canExport": {
                            "type": "boolean"
                          },
                          "connections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "content": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currentVersion": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "diagramPngStatus": {
                            "type": "string"
                          },
                          "diagramPngUrl": {
                            "type": "string"
                          },
                          "editedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "embedUrl": {
                            "type": "string"
                          },
                          "hashid": {
                            "type": "string"
                          },
                          "htmlUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isLarge": {
                            "type": "boolean"
                          },
                          "lanes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastReviewAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nextReviewAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "originalAuthor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "policies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "private": {
                            "type": "boolean"
                          },
                          "processes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "reviewer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reviewPeriodMonths": {
                            "type": "number"
                          },
                          "signoffRequestedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "signoffRequestedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "slug": {
                            "type": "string"
                          },
                          "stepsBlockedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "teamMemberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "teamNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "templateAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/list-procedures": {
      "get": {
        "operationId": "sweetProcess.list-procedures",
        "summary": "List Procedures",
        "description": "Retrieves procedures from SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/list-procedures"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Full-text search for procedures.",
            "schema": {
              "type": "string",
              "description": "Full-text search for procedures."
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "description": "Filter procedures within the given team.",
            "schema": {
              "type": "number",
              "description": "Filter procedures within the given team."
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Comma-separated tag names to filter procedures.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tag names to filter procedures."
            }
          },
          {
            "name": "policyId",
            "in": "query",
            "required": false,
            "description": "Filter procedures attached to the given policy.",
            "schema": {
              "type": "number",
              "description": "Filter procedures attached to the given policy."
            }
          },
          {
            "name": "visibleToUser",
            "in": "query",
            "required": false,
            "description": "Filter procedures visible to both the current user and the referenced user URL.",
            "schema": {
              "type": "string",
              "description": "Filter procedures visible to both the current user and the referenced user URL."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "approvedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "approvedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "author": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "canAssign": {
                            "type": "boolean"
                          },
                          "canChange": {
                            "type": "boolean"
                          },
                          "canDelete": {
                            "type": "boolean"
                          },
                          "canEdit": {
                            "type": "boolean"
                          },
                          "canExport": {
                            "type": "boolean"
                          },
                          "connections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "content": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currentVersion": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "diagramPngStatus": {
                            "type": "string"
                          },
                          "diagramPngUrl": {
                            "type": "string"
                          },
                          "editedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "embedUrl": {
                            "type": "string"
                          },
                          "hashid": {
                            "type": "string"
                          },
                          "htmlUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isLarge": {
                            "type": "boolean"
                          },
                          "lanes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastReviewAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nextReviewAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "originalAuthor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "policies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "private": {
                            "type": "boolean"
                          },
                          "processes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "reviewer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reviewPeriodMonths": {
                            "type": "number"
                          },
                          "signoffRequestedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "signoffRequestedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "slug": {
                            "type": "string"
                          },
                          "stepsBlockedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "teamMemberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "teamNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "templateAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/list-taskinstances": {
      "get": {
        "operationId": "sweetProcess.list-taskinstances",
        "summary": "List Taskinstances",
        "description": "Retrieves task instances from SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/list-taskinstances"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": false,
            "description": "Filter task instances belonging to the given task template.",
            "schema": {
              "type": "number",
              "description": "Filter task instances belonging to the given task template."
            }
          },
          {
            "name": "userUrl",
            "in": "query",
            "required": false,
            "description": "Filter tasks assigned to the given user API URL.",
            "schema": {
              "type": "string",
              "description": "Filter tasks assigned to the given user API URL."
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "required": false,
            "description": "Filter tasks for a specific document type such as procedure or process.",
            "schema": {
              "type": "string",
              "description": "Filter tasks for a specific document type such as procedure or process."
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "required": false,
            "description": "Filter tasks for the referenced document ID.",
            "schema": {
              "type": "number",
              "description": "Filter tasks for the referenced document ID."
            }
          },
          {
            "name": "completed",
            "in": "query",
            "required": false,
            "description": "Return only completed or incomplete task instances.",
            "schema": {
              "type": "boolean",
              "description": "Return only completed or incomplete task instances."
            }
          },
          {
            "name": "dueGte",
            "in": "query",
            "required": false,
            "description": "Lower bound for due date filtering in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Lower bound for due date filtering in ISO 8601 format.",
              "example": "2025-05-01"
            }
          },
          {
            "name": "dueLte",
            "in": "query",
            "required": false,
            "description": "Upper bound for due date filtering in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Upper bound for due date filtering in ISO 8601 format.",
              "example": "2025-05-31"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "The numeric SweetProcess task instance ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The task instance name."
                          },
                          "progress": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task progress metadata, including completion details and step progress."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the task instance."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/list-teams": {
      "get": {
        "operationId": "sweetProcess.list-teams",
        "summary": "List Teams",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/list-teams"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountWide": {
                            "type": "boolean",
                            "description": "Whether the team is account-wide."
                          },
                          "canEdit": {
                            "type": "boolean",
                            "description": "Whether the current actor can edit the team."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "The SweetProcess content type for the record, for example team."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the team was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The team description."
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The SweetProcess web URL for the team."
                          },
                          "id": {
                            "type": "number",
                            "description": "The numeric SweetProcess team ID."
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the team was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The team name."
                          },
                          "numberOfFolders": {
                            "type": "number",
                            "description": "The number of folders in the team."
                          },
                          "numberOfPolicies": {
                            "type": "number",
                            "description": "The number of policies in the team."
                          },
                          "numberOfProcedures": {
                            "type": "number",
                            "description": "The number of procedures in the team."
                          },
                          "numberOfProcesses": {
                            "type": "number",
                            "description": "The number of processes in the team."
                          },
                          "numberOfRoles": {
                            "type": "number",
                            "description": "The number of roles in the team."
                          },
                          "numManagers": {
                            "type": "number",
                            "description": "The number of managers in the team."
                          },
                          "numReaders": {
                            "type": "number",
                            "description": "The number of readers in the team."
                          },
                          "numTeammates": {
                            "type": "number",
                            "description": "The number of teammates in the team."
                          },
                          "slug": {
                            "type": "string",
                            "description": "The team slug."
                          },
                          "teammatesCanAssignTask": {
                            "type": "boolean",
                            "description": "Whether teammates can assign tasks in the team."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the SweetProcess team."
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The users currently associated with the team."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/list-users": {
      "get": {
        "operationId": "sweetProcess.list-users",
        "summary": "List Users",
        "description": "Retrieves users from SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/list-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Filter users by the numeric SweetProcess user ID.",
            "schema": {
              "type": "number",
              "description": "Filter users by the numeric SweetProcess user ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "The SweetProcess content type for the record, for example user."
                          },
                          "email": {
                            "type": "string",
                            "description": "The user's primary email address."
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The SweetProcess web URL for the user."
                          },
                          "id": {
                            "type": "number",
                            "description": "The numeric SweetProcess user ID."
                          },
                          "isAccountOnly": {
                            "type": "boolean",
                            "description": "Whether the user exists only at the account level."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the user is active in SweetProcess."
                          },
                          "isBillingAdmin": {
                            "type": "boolean",
                            "description": "Whether the user is a billing administrator."
                          },
                          "isDeleted": {
                            "type": "boolean",
                            "description": "Whether the user has been deleted."
                          },
                          "isEmailVerified": {
                            "type": "boolean",
                            "description": "Whether the user's email is verified."
                          },
                          "isManager": {
                            "type": "boolean",
                            "description": "Whether the user is a manager."
                          },
                          "isSuperManager": {
                            "type": "boolean",
                            "description": "Whether the user is a super manager."
                          },
                          "isSuperTeammate": {
                            "type": "boolean",
                            "description": "Whether the user is a super teammate."
                          },
                          "name": {
                            "type": "string",
                            "description": "The user's display name."
                          },
                          "teamMemberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The user's team membership objects."
                          },
                          "teams": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The teams currently associated with the user."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the SweetProcess user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sweetProcess/latest/actions/update-user": {
      "put": {
        "operationId": "sweetProcess.update-user",
        "summary": "Update User",
        "description": "Updates an existing teammate in SweetProcess.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sweetProcess/latest/actions/update-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "The numeric SweetProcess user ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "The teammate's display name."
                  },
                  "email": {
[...]
