{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Survicate Universal API",
    "version": "0.0.4",
    "description": "Access Survicate Data Export API surveys, responses, respondents, and personal-data endpoints from MindCloud."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/survicate/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/survicate/latest/actions/delete-personal-data-by-email": {
      "delete": {
        "operationId": "survicate.delete-personal-data-by-email",
        "summary": "Delete Personal Data By Email",
        "description": "Deletes personal data by email from Survicate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/delete-personal-data-by-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address for which to delete all associated data.",
            "schema": {
              "type": "string",
              "description": "The email address for which to delete all associated data."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Confirmation message about the deletion result."
                          },
                          "result": {
                            "type": "object",
                            "properties": {
                              "deleted_insights_hub": {
                                "type": "number",
                                "description": "Number of deleted Insights Hub records."
                              },
                              "deleted_respondents": {
                                "type": "number",
                                "description": "Number of deleted Survicate respondent-related records."
                              },
                              "total_deleted": {
                                "type": "number",
                                "description": "Total number of deleted records across services."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/get-personal-data-counters": {
      "get": {
        "operationId": "survicate.get-personal-data-counters",
        "summary": "Get Personal Data Counters",
        "description": "Retrieves personal data counts by email from Survicate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/get-personal-data-counters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address to search for across all data sources.",
            "schema": {
              "type": "string",
              "description": "The email address to search for across all data sources."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "insightsHub": {
                            "type": "object",
                            "properties": {
                              "authorAttributes": {
                                "type": "number",
                                "description": "Number of Insights Hub author attribute records."
                              },
                              "authors": {
                                "type": "number",
                                "description": "Number of Insights Hub author records."
                              },
                              "notes": {
                                "type": "number",
                                "description": "Number of Insights Hub note records."
                              },
                              "notesAttributes": {
                                "type": "number",
                                "description": "Number of Insights Hub note attribute records."
                              },
                              "total": {
                                "type": "number",
                                "description": "Total number of Insights Hub records."
                              }
                            },
                            "additionalProperties": false
                          },
                          "respondents": {
                            "type": "number",
                            "description": "Total number of respondent records associated with the email address."
                          },
                          "responses": {
                            "type": "number",
                            "description": "Total number of survey responses associated with the email address."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/get-response": {
      "get": {
        "operationId": "survicate.get-response",
        "summary": "Get Response",
        "description": "Retrieves a specific survey response from Survicate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/get-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surveyId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the survey containing the response.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the survey containing the response."
            }
          },
          {
            "name": "responseUuid",
            "in": "query",
            "required": true,
            "description": "The unique UUID of the response to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique UUID of the response to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Answers submitted in the response."
                          },
                          "collectedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the response was collected."
                          },
                          "deviceType": {
                            "type": "string",
                            "description": "Type of device used by the respondent."
                          },
                          "language": {
                            "type": "string",
                            "description": "Language shown to the respondent."
                          },
                          "operatingSystem": {
                            "type": "string",
                            "description": "Operating system used by the respondent."
                          },
                          "platform": {
                            "type": "string",
                            "description": "Client platform reported by Survicate."
                          },
                          "respondent": {
                            "type": "object",
                            "properties": {
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Respondent attributes included with the response."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "Unique identifier of the respondent."
                              }
                            },
                            "additionalProperties": false
                          },
                          "url": {
                            "type": "string",
                            "description": "URL where the survey was displayed."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Unique identifier of the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/get-survey": {
      "get": {
        "operationId": "survicate.get-survey",
        "summary": "Get Survey",
        "description": "Retrieves a specific survey from Survicate.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/get-survey"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surveyId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the survey to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the survey to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Email of the survey author."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the survey author."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the survey was created."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the survey is currently enabled."
                          },
                          "firstResponseAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the first collected response."
                          },
                          "folder": {
                            "type": "string",
                            "description": "Folder containing the survey."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the survey."
                          },
                          "lastResponseAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the most recent collected response."
                          },
                          "launch": {
                            "type": "object",
                            "properties": {
                              "endAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Scheduled survey end time, if any."
                              },
                              "responsesLimit": {
                                "type": "number",
                                "description": "Maximum responses allowed before the survey stops."
                              },
                              "startAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Scheduled survey start time, if any."
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string",
                            "description": "Survey name."
                          },
                          "responses": {
                            "type": "number",
                            "description": "Total number of responses collected."
                          },
                          "type": {
                            "type": "string",
                            "description": "Immutable survey type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/list-respondent-attributes": {
      "get": {
        "operationId": "survicate.list-respondent-attributes",
        "summary": "List Respondent Attributes",
        "description": "Retrieves attributes for a specific Survicate respondent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/list-respondent-attributes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "respondentUuid",
            "in": "query",
            "required": true,
            "description": "The unique UUID of the respondent.",
            "schema": {
              "type": "string",
              "description": "The unique UUID of the respondent."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The attribute identifier used for paginated results.",
            "schema": {
              "type": "string",
              "description": "The attribute identifier used for paginated results."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the respondent attribute."
                          },
                          "value": {
                            "type": "string",
                            "description": "Value of the respondent attribute."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/list-respondent-responses": {
      "get": {
        "operationId": "survicate.list-respondent-responses",
        "summary": "List Respondent Responses",
        "description": "Retrieves responses from a specific Survicate respondent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/list-respondent-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "respondentUuid",
            "in": "query",
            "required": true,
            "description": "The unique UUID of the respondent whose responses are being requested.",
            "schema": {
              "type": "string",
              "description": "The unique UUID of the respondent whose responses are being requested."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Include responses collected before this ISO 8601 timestamp with microseconds.",
            "schema": {
              "type": "string",
              "description": "Include responses collected before this ISO 8601 timestamp with microseconds."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "answers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Answers submitted in the response."
                              },
                              "collectedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the response was collected."
                              },
                              "deviceType": {
                                "type": "string",
                                "description": "Type of device used by the respondent."
                              },
                              "language": {
                                "type": "string",
                                "description": "Language shown to the respondent."
                              },
                              "operatingSystem": {
                                "type": "string",
                                "description": "Operating system used by the respondent."
                              },
                              "respondent": {
                                "type": "object",
                                "properties": {
                                  "attributes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": "Respondent attributes included with the response."
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "Unique identifier of the respondent."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "url": {
                                "type": "string",
                                "description": "URL where the survey was displayed."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "Unique identifier of the response."
                              }
                            },
                            "additionalProperties": false
                          },
                          "survey": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier of the survey."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the survey."
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of the survey."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/list-survey-questions": {
      "get": {
        "operationId": "survicate.list-survey-questions",
        "summary": "List Survey Questions",
        "description": "Retrieves questions from a specific Survicate survey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/list-survey-questions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surveyId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the survey.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the survey."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The question identifier used for paginated results.",
            "schema": {
              "type": "string",
              "description": "The question identifier used for paginated results."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answerChoices": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Display text of an answer choice."
                              },
                              "id": {
                                "type": "number",
                                "description": "Unique identifier of an answer choice."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Available answer choices for supported choice-based question types."
                          },
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Matrix question columns when the question type is matrix."
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "description": "Label of a form field."
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of a form field."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Form field definitions when the question type is form."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique identifier of the question."
                          },
                          "introduction": {
                            "type": "string",
                            "description": "Introduction shown before the question, when present."
                          },
                          "question": {
                            "type": "string",
                            "description": "Text of the question as displayed to the respondent."
                          },
                          "type": {
                            "type": "string",
                            "description": "Question type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/list-survey-responses": {
      "get": {
        "operationId": "survicate.list-survey-responses",
        "summary": "List Survey Responses",
        "description": "Retrieves responses for a specific Survicate survey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/list-survey-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surveyId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the survey containing the responses.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the survey containing the responses."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Include responses collected before this ISO 8601 timestamp with microseconds.",
            "schema": {
              "type": "string",
              "description": "Include responses collected before this ISO 8601 timestamp with microseconds."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Include responses collected after this ISO 8601 timestamp with microseconds.",
            "schema": {
              "type": "string",
              "description": "Include responses collected after this ISO 8601 timestamp with microseconds."
            }
          },
          {
            "name": "attributes[]",
            "in": "query",
            "required": false,
            "description": "Optional respondent attribute names to include in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional respondent attribute names to include in the response.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters[]",
            "in": "query",
            "required": false,
            "description": "Optional array of Survicate filter objects for narrowing responses.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Optional array of Survicate filter objects for narrowing responses.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Answers submitted in the response."
                          },
                          "collectedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the response was collected."
                          },
                          "deviceType": {
                            "type": "string",
                            "description": "Type of device used by the respondent."
                          },
                          "language": {
                            "type": "string",
                            "description": "Language shown to the respondent."
                          },
                          "operatingSystem": {
                            "type": "string",
                            "description": "Operating system used by the respondent."
                          },
                          "platform": {
                            "type": "string",
                            "description": "Client platform reported by Survicate."
                          },
                          "respondent": {
                            "type": "object",
                            "properties": {
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Respondent attributes included with the response."
                              },
                              "uuid": {
                                "type": "string",
                                "description": "Unique identifier of the respondent."
                              }
                            },
                            "additionalProperties": false
                          },
                          "url": {
                            "type": "string",
                            "description": "URL where the survey was displayed."
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Unique identifier of the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/survicate/latest/actions/list-surveys": {
      "get": {
        "operationId": "survicate.list-surveys",
        "summary": "List Surveys",
        "description": "Retrieves surveys from your Survicate workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/survicate/latest/actions/list-surveys"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Filter surveys created before or at this ISO 8601 timestamp with microseconds.",
            "schema": {
              "type": "string",
              "description": "Filter surveys created before or at this ISO 8601 timestamp with microseconds."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Filter surveys created on or after this ISO 8601 timestamp with microseconds.",
            "schema": {
              "type": "string",
              "description": "Filter surveys created on or after this ISO 8601 timestamp with microseconds."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the survey was created."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the survey is currently enabled."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the survey."
                          },
                          "launch": {
                            "type": "object",
                            "properties": {
                              "endAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Scheduled survey end time, if any."
                              },
                              "responsesLimit": {
                                "type": "number",
                                "description": "Maximum responses allowed before the survey stops."
                              },
                              "startAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Scheduled survey start time, if any."
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string",
                            "description": "Survey name."
                          },
                          "responses": {
                            "type": "number",
                            "description": "Total number of responses collected."
                          },
                          "type": {
                            "type": "string",
                            "description": "Immutable survey type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
