{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cal.com Universal API",
    "version": "0.0.11",
    "description": "Manage bookings, event types, schedules, and availability"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cal/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cal/latest/actions/add-booking-attendee": {
      "put": {
        "operationId": "cal.add-booking-attendee",
        "summary": "Add Booking Attendee",
        "description": "Updates a booking in Cal.com by adding an attendee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/add-booking-attendee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookingUid",
                  "name",
                  "timeZone",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookingUid": {
                    "type": "string",
                    "description": "Booking identifier from Cal.com path parameter."
                  },
                  "name": {
                    "type": "string",
                    "description": "Attendee full name."
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "Attendee IANA time zone."
                  },
                  "email": {
                    "type": "string",
                    "description": "Attendee email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "absent": {
                            "type": "boolean"
                          },
                          "bookingId": {
                            "type": "number"
                          },
                          "displayEmail": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/add-booking-guests": {
      "put": {
        "operationId": "cal.add-booking-guests",
        "summary": "Add Booking Guests",
        "description": "Updates a booking in Cal.com by adding guests.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/add-booking-guests"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookingUid",
                  "guests[]",
                  "guests[].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookingUid": {
                    "type": "string",
                    "description": "Booking identifier from Cal.com path parameter."
                  },
                  "guests[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of guest objects to add to the booking."
                  },
                  "guests[].email": {
                    "type": "string",
                    "description": "Guest email address."
                  },
                  "guests[].name": {
                    "type": "string",
                    "description": "Guest display name."
                  },
                  "guests[].timeZone": {
                    "type": "string",
                    "description": "Guest IANA time zone."
                  },
                  "guests[].phoneNumber": {
                    "type": "string",
                    "description": "Guest phone number."
                  },
                  "guests[].language": {
                    "type": "string",
                    "description": "Guest language code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "end": {
                            "type": "string"
                          },
                          "eventTypeId": {
                            "type": "number"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "location": {
                            "type": "string"
                          },
                          "meetingUrl": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "start": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/cancel-booking": {
      "put": {
        "operationId": "cal.cancel-booking",
        "summary": "Cancel Booking",
        "description": "Updates a booking in Cal.com by canceling it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/cancel-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookingUid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookingUid": {
                    "type": "string",
                    "description": "Booking identifier from Cal.com path parameter."
                  },
                  "cancellationReason": {
                    "type": "string",
                    "description": "Reason text to include when canceling the booking."
                  },
                  "cancelSubsequentBookings": {
                    "type": "boolean",
                    "description": "Whether to cancel future bookings in the recurring series."
                  },
                  "seatUid": {
                    "type": "string",
                    "description": "Seat booking UID when canceling a seat booking."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "end": {
                            "type": "string"
                          },
                          "eventTypeId": {
                            "type": "number"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "location": {
                            "type": "string"
                          },
                          "meetingUrl": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "start": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/confirm-booking": {
      "put": {
        "operationId": "cal.confirm-booking",
        "summary": "Confirm Booking",
        "description": "Updates a booking in Cal.com by confirming it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/confirm-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookingUid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookingUid": {
                    "type": "string",
                    "description": "Booking identifier from Cal.com path parameter."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "end": {
                            "type": "string"
                          },
                          "eventTypeId": {
                            "type": "number"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "location": {
                            "type": "string"
                          },
                          "meetingUrl": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "start": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/create-booking": {
      "post": {
        "operationId": "cal.create-booking",
        "summary": "Create Booking",
        "description": "Creates a booking in Cal.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/create-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "start",
                  "attendee",
                  "attendee.name",
                  "attendee.timeZone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "start": {
                    "type": "string",
                    "description": "Booking start time in ISO 8601 UTC format."
                  },
                  "attendee": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Attendee object including at least name and timeZone."
                  },
                  "attendee.name": {
                    "type": "string",
                    "description": "Attendee full name."
                  },
                  "attendee.email": {
                    "type": "string",
                    "description": "Attendee email address."
                  },
                  "attendee.timeZone": {
                    "type": "string",
                    "description": "Attendee IANA time zone."
                  },
                  "attendee.language": {
                    "type": "string",
                    "description": "Attendee language code."
                  },
                  "attendee.phoneNumber": {
                    "type": "string",
                    "description": "Attendee phone number."
                  },
                  "eventTypeId": {
                    "type": "string",
                    "description": "Event type ID to book when using ID-based routing."
                  },
                  "eventTypeSlug": {
                    "type": "string",
                    "description": "Event type slug to book when using slug-based routing."
                  },
                  "username": {
                    "type": "string",
                    "description": "Username owner for the event type route."
                  },
                  "teamSlug": {
                    "type": "string",
                    "description": "Team slug for team-scoped booking routes."
                  },
                  "organizationSlug": {
                    "type": "string",
                    "description": "Organization slug for org-scoped booking routes."
                  },
                  "guests[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Guest email list to include in the booking."
                  },
                  "meetingUrl": {
                    "type": "string",
                    "description": "Override meeting URL for this booking."
                  },
                  "location": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Booking location payload."
                  },
                  "location.type": {
                    "type": "string",
                    "description": "Location type discriminator."
                  },
                  "location.location": {
                    "type": "string",
                    "description": "Location value for custom location types."
                  },
                  "location.address": {
                    "type": "string",
                    "description": "Address value when using physical/in-person location types."
                  },
                  "location.phone": {
                    "type": "string",
                    "description": "Phone number when using phone location types."
                  },
                  "location.integration": {
                    "type": "string",
                    "description": "Integration identifier for integration-backed location types."
                  },
                  "bookingFieldsResponses": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dynamic booking field responses map."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata object for the booking."
                  },
                  "lengthInMinutes": {
                    "type": "number",
                    "description": "Override booking duration in minutes."
                  },
                  "routing": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Routing payload for round-robin or queued routing."
                  },
                  "routing.queuedResponseId": {
                    "type": "string",
                    "description": "Queued routing response identifier."
                  },
                  "routing.responseId": {
                    "type": "number",
                    "description": "Routing response identifier."
                  },
                  "routing.teamMemberIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Candidate team member IDs for routing."
                  },
                  "routing.teamMemberEmail": {
                    "type": "string",
                    "description": "Team member email for routing."
                  },
                  "routing.skipContactOwner": {
                    "type": "boolean",
                    "description": "Skip assigning the contact owner during routing."
                  },
                  "routing.crmAppSlug": {
                    "type": "string",
                    "description": "CRM app slug used by routing rules."
                  },
                  "routing.crmOwnerRecordType": {
                    "type": "string",
                    "description": "CRM owner record type used in routing."
                  },
                  "emailVerificationCode": {
                    "type": "string",
                    "description": "Email verification code for protected event types."
                  },
                  "instant": {
                    "type": "boolean",
                    "description": "Create instant booking when supported."
                  },
                  "recurrenceCount": {
                    "type": "number",
                    "description": "Recurring booking count for recurring event types."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "end": {
                            "type": "string"
                          },
                          "eventTypeId": {
                            "type": "number"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "location": {
                            "type": "string"
                          },
                          "meetingUrl": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "start": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/create-event-type": {
      "post": {
        "operationId": "cal.create-event-type",
        "summary": "Create Event Type",
        "description": "Creates an event type in Cal.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/create-event-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lengthInMinutes",
                  "title",
                  "slug"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "afterEventBuffer": {
                    "type": "number",
                    "description": "Buffer after each booking, in minutes."
                  },
                  "allowReschedulingCancelledBookings": {
                    "type": "boolean",
                    "description": "Allow rescheduling for cancelled bookings."
                  },
                  "allowReschedulingPastBookings": {
                    "type": "boolean",
                    "description": "Allow rescheduling for bookings that already occurred."
                  },
                  "beforeEventBuffer": {
                    "type": "number",
                    "description": "Buffer before each booking, in minutes."
                  },
                  "bookerActiveBookingsLimit": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Concurrent active booking limit settings."
                  },
                  "bookerActiveBookingsLimit.disabled": {
                    "type": "boolean",
                    "description": "Disable active booking limits."
                  },
                  "bookerActiveBookingsLimit.maximumActiveBookings": {
                    "type": "number",
                    "description": "Maximum number of active bookings per booker."
                  },
                  "bookerActiveBookingsLimit.offerReschedule": {
                    "type": "boolean",
                    "description": "Offer reschedule option when limit is reached."
                  },
                  "bookerLayouts": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Booker layout configuration object."
                  },
                  "bookerLayouts.defaultLayout": {
                    "type": "string",
                    "description": "Default booking page layout key."
                  },
                  "bookerLayouts.enabledLayouts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Enabled booking page layouts."
                  },
                  "bookingFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Booking field configuration objects."
                  },
                  "bookingFields[].disableOnPrefill": {
                    "type": "boolean",
                    "description": "Disable field edits when prefilled."
                  },
                  "bookingFields[].hidden": {
                    "type": "boolean",
                    "description": "Hide this booking field in forms."
                  },
                  "bookingFields[].label": {
                    "type": "string",
                    "description": "Display label for a booking field."
                  },
                  "bookingFields[].options[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Select options for option-based booking fields."
                  },
                  "bookingFields[].placeholder": {
                    "type": "string",
                    "description": "Placeholder text for a booking field."
                  },
                  "bookingFields[].slug": {
                    "type": "string",
                    "description": "Slug identifier for a booking field."
                  },
                  "bookingFields[].type": {
                    "type": "string",
                    "description": "Booking field type discriminator."
                  },
                  "bookingLimitsCount": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Booking count limit settings."
                  },
                  "bookingLimitsCount.day": {
                    "type": "number",
                    "description": "Max bookings per day."
                  },
                  "bookingLimitsCount.disabled": {
                    "type": "boolean",
                    "description": "Disable booking count limits."
                  },
                  "bookingLimitsCount.month": {
                    "type": "number",
                    "description": "Max bookings per month."
                  },
                  "bookingLimitsCount.week": {
                    "type": "number",
                    "description": "Max bookings per week."
                  },
                  "bookingLimitsCount.year": {
                    "type": "number",
                    "description": "Max bookings per year."
                  },
                  "bookingLimitsDuration": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Rolling duration booking limits settings."
                  },
                  "bookingLimitsDuration.day": {
                    "type": "number",
                    "description": "Max booked duration per day."
                  },
                  "bookingLimitsDuration.disabled": {
                    "type": "boolean",
                    "description": "Disable duration booking limits."
                  },
                  "bookingLimitsDuration.month": {
                    "type": "number",
                    "description": "Max booked duration per month."
                  },
                  "bookingLimitsDuration.week": {
                    "type": "number",
                    "description": "Max booked duration per week."
                  },
                  "bookingLimitsDuration.year": {
                    "type": "number",
                    "description": "Max booked duration per year."
                  },
                  "bookingRequiresAuthentication": {
                    "type": "boolean",
                    "description": "Require authenticated users to book this event type."
                  },
                  "bookingWindow": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Booking window settings."
                  },
                  "bookingWindow.disabled": {
                    "type": "boolean",
                    "description": "Disable booking window restrictions."
                  },
                  "bookingWindow.rolling": {
                    "type": "boolean",
                    "description": "Use rolling booking window semantics."
                  },
                  "bookingWindow.type": {
                    "type": "string",
                    "description": "Booking window mode type."
                  },
                  "bookingWindow.value": {
                    "type": "number",
                    "description": "Booking window value for numeric mode."
                  },
                  "bookingWindow.value[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Booking window values for list mode."
                  },
                  "calVideoSettings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Cal Video behavior settings."
                  },
                  "calVideoSettings.disableRecordingForGuests": {
                    "type": "boolean",
                    "description": "Disable recording for guests."
                  },
                  "calVideoSettings.disableRecordingForOrganizer": {
                    "type": "boolean",
                    "description": "Disable recording for organizer."
                  },
                  "calVideoSettings.disableTranscriptionForGuests": {
                    "type": "boolean",
                    "description": "Disable transcription for guests."
                  },
                  "calVideoSettings.disableTranscriptionForOrganizer": {
                    "type": "boolean",
                    "description": "Disable transcription for organizer."
                  },
                  "calVideoSettings.enableAutomaticRecordingForOrganizer": {
                    "type": "boolean",
                    "description": "Enable automatic recording for organizer."
                  },
                  "calVideoSettings.enableAutomaticTranscription": {
                    "type": "boolean",
                    "description": "Enable automatic transcription."
                  },
                  "calVideoSettings.sendTranscriptionEmails": {
                    "type": "boolean",
                    "description": "Send transcription emails."
                  },
                  "color": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Light and dark theme color settings."
                  },
                  "color.darkThemeHex": {
                    "type": "string",
                    "description": "Hex color for dark theme."
                  },
                  "color.lightThemeHex": {
                    "type": "string",
                    "description": "Hex color for light theme."
                  },
                  "confirmationPolicy": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Confirmation policy settings."
                  },
                  "confirmationPolicy.blockUnconfirmedBookingsInBooker": {
                    "type": "boolean",
                    "description": "Block unconfirmed bookings in the booker UI."
                  },
                  "confirmationPolicy.disabled": {
                    "type": "boolean",
                    "description": "Disable confirmation policy."
                  },
                  "confirmationPolicy.noticeThreshold": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Confirmation notice threshold settings."
                  },
                  "confirmationPolicy.noticeThreshold.count": {
                    "type": "number",
                    "description": "Notice threshold amount."
                  },
                  "confirmationPolicy.noticeThreshold.unit": {
                    "type": "string",
                    "description": "Notice threshold unit."
                  },
                  "confirmationPolicy.type": {
                    "type": "string",
                    "description": "Confirmation policy mode type."
                  },
                  "customName": {
                    "type": "string",
                    "description": "Custom label for this event type."
                  },
                  "description": {
                    "type": "string",
                    "description": "Event type description."
                  },
                  "destinationCalendar": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Destination calendar integration mapping."
                  },
                  "destinationCalendar.externalId": {
                    "type": "string",
                    "description": "Destination external calendar identifier."
                  },
                  "destinationCalendar.integration": {
                    "type": "string",
                    "description": "Destination integration slug."
                  },
                  "disableCancelling": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Disable cancelling settings."
                  },
                  "disableCancelling.disabled": {
                    "type": "boolean",
                    "description": "Disable cancelling for this event type."
                  },
                  "disableGuests": {
                    "type": "boolean",
                    "description": "Disable guest invitations for this event type."
                  },
                  "disableRescheduling": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Disable rescheduling settings."
                  },
                  "disableRescheduling.disabled": {
                    "type": "boolean",
                    "description": "Disable rescheduling for this event type."
                  },
                  "disableRescheduling.minutesBefore": {
                    "type": "number",
                    "description": "Minutes before start when rescheduling becomes disabled."
                  },
                  "hidden": {
                    "type": "boolean",
                    "description": "Hide event type from public listing."
                  },
                  "hideCalendarEventDetails": {
                    "type": "boolean",
                    "description": "Hide event details in calendar entries."
                  },
                  "hideCalendarNotes": {
                    "type": "boolean",
                    "description": "Hide calendar notes on event details."
                  },
                  "hideOrganizerEmail": {
                    "type": "boolean",
                    "description": "Hide organizer email from attendees."
                  },
                  "interfaceLanguage": {
                    "type": "string",
                    "description": "Booking page interface language."
                  },
                  "lengthInMinutes": {
                    "type": "number",
                    "description": "Duration for the event type in minutes."
                  },
                  "lengthInMinutesOptions[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Allowed duration options in minutes."
                  },
                  "locations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Allowed meeting location configuration objects."
                  },
                  "locations[].address": {
                    "type": "string",
                    "description": "Address value for physical locations."
                  },
                  "locations[].integration": {
                    "type": "string",
                    "description": "Integration value for integration-backed locations."
                  },
                  "locations[].link": {
                    "type": "string",
                    "description": "Link value for URL-based locations."
                  },
                  "locations[].phone": {
                    "type": "string",
                    "description": "Phone value for phone-based locations."
                  },
                  "locations[].public": {
                    "type": "boolean",
                    "description": "Expose this location publicly."
                  },
                  "locations[].type": {
                    "type": "string",
                    "description": "Location type discriminator."
                  },
                  "lockTimeZoneToggleOnBookingPage": {
                    "type": "boolean",
                    "description": "Prevent users from changing timezone on the booking page."
                  },
                  "minimumBookingNotice": {
                    "type": "number",
                    "description": "Minimum notice before a booking can be made, in minutes."
                  },
                  "offsetStart": {
                    "type": "number",
                    "description": "Start offset in minutes."
                  },
                  "onlyShowFirstAvailableSlot": {
                    "type": "boolean",
                    "description": "Only expose the first available slot."
                  },
                  "recurrence": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recurrence settings."
                  },
                  "recurrence.disabled": {
                    "type": "boolean",
                    "description": "Disable recurrence."
                  },
                  "recurrence.frequency": {
                    "type": "string",
                    "description": "Recurrence frequency."
                  },
                  "recurrence.interval": {
                    "type": "number",
                    "description": "Recurrence interval value."
                  },
                  "recurrence.occurrences": {
                    "type": "number",
                    "description": "Max recurrence occurrences."
                  },
                  "requiresBookerEmailVerification": {
                    "type": "boolean",
                    "description": "Require email verification before booking is completed."
                  },
                  "scheduleId": {
                    "type": "string",
                    "description": "Schedule ID assigned to the event type."
                  },
                  "seats": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Seats settings."
                  },
                  "seats.disabled": {
                    "type": "boolean",
                    "description": "Disable seats mode."
                  },
                  "seats.seatsPerTimeSlot": {
                    "type": "number",
                    "description": "Seats available per time slot."
                  },
                  "seats.showAttendeeInfo": {
                    "type": "boolean",
                    "description": "Show attendee info in seats mode."
                  },
                  "seats.showAvailabilityCount": {
                    "type": "boolean",
                    "description": "Show remaining availability count in seats mode."
                  },
                  "showOptimizedSlots": {
                    "type": "boolean",
                    "description": "Enable optimized slot suggestions."
                  },
                  "slotInterval": {
                    "type": "number",
                    "description": "Slot interval in minutes."
                  },
                  "successRedirectUrl": {
                    "type": "string",
                    "description": "Redirect URL after successful booking."
                  },
                  "useDestinationCalendarEmail": {
                    "type": "boolean",
                    "description": "Use destination calendar email when creating events."
                  },
                  "title": {
                    "type": "string",
                    "description": "Event type title."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Event type slug."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bookingUrl": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "hidden": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lengthInMinutes": {
                            "type": "number"
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scheduleId": {
                            "type": "number"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/create-schedule": {
      "post": {
        "operationId": "cal.create-schedule",
        "summary": "Create Schedule",
        "description": "Creates a schedule in Cal.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/create-schedule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "timeZone",
                  "isDefault"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Schedule name."
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "IANA time zone for the schedule."
                  },
                  "isDefault": {
                    "type": "boolean",
                    "description": "Set true to make this the default schedule."
                  },
                  "availability[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Availability windows for recurring weekly schedule blocks."
                  },
                  "availability[].days[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Weekday list for an availability window."
                  },
                  "availability[].startTime": {
                    "type": "string",
                    "description": "Start time for an availability window."
                  },
                  "availability[].endTime": {
                    "type": "string",
                    "description": "End time for an availability window."
                  },
                  "overrides[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Date-specific availability overrides."
                  },
                  "overrides[].date": {
                    "type": "string",
                    "description": "Override date in ISO date format."
                  },
                  "overrides[].startTime": {
                    "type": "string",
                    "description": "Start time for an override window."
                  },
                  "overrides[].endTime": {
                    "type": "string",
                    "description": "End time for an override window."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availability": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overrides": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "timeZone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/decline-booking": {
      "put": {
        "operationId": "cal.decline-booking",
        "summary": "Decline Booking",
        "description": "Updates a booking in Cal.com by declining it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/decline-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookingUid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookingUid": {
                    "type": "string",
                    "description": "Booking identifier from Cal.com path parameter."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "end": {
                            "type": "string"
                          },
                          "eventTypeId": {
                            "type": "number"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "location": {
                            "type": "string"
                          },
                          "meetingUrl": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "start": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/delete-event-type": {
      "delete": {
        "operationId": "cal.delete-event-type",
        "summary": "Delete Event Type",
        "description": "Deletes an event type from Cal.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/delete-event-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventTypeId",
            "in": "query",
            "required": true,
            "description": "Event type identifier from Cal.com path parameter.",
            "schema": {
              "type": "string",
              "description": "Event type identifier from Cal.com path parameter."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "lengthInMinutes": {
                            "type": "number"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cal/latest/actions/delete-reserved-slot": {
      "delete": {
        "operationId": "cal.delete-reserved-slot",
        "summary": "Delete Reserved Slot",
        "description": "Deletes a reserved slot from Cal.com.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cal/latest/actions/delete-reserved-slot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "description": "Reservation UID from Cal.com path parameter.",
            "schema": {
              "type": "string",
              "description": "Reservation UID from Cal.com path parameter."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
[...]
