{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ADP Universal API",
    "version": "0.0.52",
    "description": "Experience better HR and payroll"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/adp/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/adp/latest/actions/create-payroll-batch": {
      "post": {
        "operationId": "adp.create-payroll-batch",
        "summary": "Create Payroll Batch",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/adp/latest/actions/create-payroll-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyCode",
                  "batchID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyCode": {
                    "type": "string"
                  },
                  "entry[].additionalPayCodes[].payCode": {
                    "type": "string"
                  },
                  "entry[].fileNumber": {
                    "type": "string"
                  },
                  "batchID": {
                    "type": "string"
                  },
                  "entry[].additionalPayCodes[].hours": {
                    "type": "number"
                  },
                  "entry[].associateOID": {
                    "type": "string"
                  },
                  "entry[]": {
                    "type": "array",
                    "items": {}
                  },
                  "entry[].regularHours": {
                    "type": "number"
                  },
                  "entry[].overTimeHours": {
                    "type": "number"
                  },
                  "entry[].ptoHours": {
                    "type": "number"
                  },
                  "entry[].holidayHours": {
                    "type": "number"
                  },
                  "entry[].additionalPayCodes[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/adp/latest/actions/create-time-card": {
      "post": {
        "operationId": "adp.create-time-card",
        "summary": "Create Time Card",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/adp/latest/actions/create-time-card"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "associateOID": {
                    "type": "string"
                  },
                  "workAssignmentID": {
                    "type": "string"
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "entryTypeCode": {
                    "type": "string",
                    "description": "- dayPeriodEntry -> Used for employee whose the presence is declared in day period (morning, afternoon,\nfullday).\n- hoursEntry -> Used for employee whose the presence is declared in duration.\n- timePairEntry -> Used for employee whose the presence is declared in slice time.",
                    "default": "timePairEntry"
                  },
                  "duration": {
                    "type": "number",
                    "description": "indicate how many minutes were worked. INT -> 150 = 2 hours and 30 minutes",
                    "default": 0
                  },
                  "dayPeriodCode": {
                    "type": "string",
                    "default": "morning"
                  },
                  "entryCode": {
                    "type": "string",
                    "description": "what type of entry is being saved (service, meal, shop, tip, etc)",
                    "example": "TIPS, MEAL, SERVICE, SHOPPING, DRIVING, ETC"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/adp/latest/actions/get-payroll-earning-allocations": {
      "get": {
        "operationId": "adp.get-payroll-earning-allocations",
        "summary": "Get Payroll Earning Allocations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/adp/latest/actions/get-payroll-earning-allocations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alternateJobIDs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "idValue": {
                                  "type": "string"
                                },
                                "schemeCode": {
                                  "type": "object",
                                  "properties": {
                                    "shortName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "associatePayments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "associateOID": {
                                  "type": "string"
                                },
                                "payments": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "paymentAllocations": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "earnings": {
                                              "type": "object",
                                              "properties": {
                                                "earningsSections": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {
                                                      "earningsItems": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "configurationTags": {
                                                              "type": "array",
                                                              "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "tagCode": {
                                                                    "type": "string"
                                                                  },
                                                                  "tagType": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                      "dataTypeCode": {
                                                                        "type": "string"
                                                                      }
                                                                    },
                                                                    "additionalProperties": false
                                                                  },
                                                                  "tagValues": {
                                                                    "type": "array",
                                                                    "items": {
                                                                      "type": "string"
                                                                    }
                                                                  }
                                                                },
                                                                "additionalProperties": false
                                                              }
                                                            },
                                                            "earningAmount": {
                                                              "type": "object",
                                                              "properties": {
                                                                "amountValue": {
                                                                  "type": "number"
                                                                }
                                                              },
                                                              "additionalProperties": false
                                                            },
                                                            "earningClassificationCode": {
                                                              "type": "object",
                                                              "properties": {
                                                                "codeValue": {
                                                                  "type": "string"
                                                                },
                                                                "shortName": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "additionalProperties": false
                                                            },
                                                            "earningID": {
                                                              "type": "object",
                                                              "properties": {
                                                                "idDescription": {
                                                                  "type": "string"
                                                                },
                                                                "idValue": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "additionalProperties": false
                                                            },
                                                            "payRate": {
                                                              "type": "object",
                                                              "properties": {
                                                                "baseUnitCode": {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "codeValue": {
                                                                      "type": "string"
                                                                    },
                                                                    "shortName": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "additionalProperties": false
                                                                },
                                                                "rateValue": {
                                                                  "type": "number"
                                                                }
                                                              },
                                                              "additionalProperties": false
                                                            },
                                                            "timeWorkedQuantity": {
                                                              "type": "object",
                                                              "properties": {
                                                                "quantityValue": {
                                                                  "type": "number"
                                                                },
                                                                "unitTimeCode": {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "codeValue": {
                                                                      "type": "string"
                                                                    },
                                                                    "shortName": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "additionalProperties": false
                                                                }
                                                              },
                                                              "additionalProperties": false
                                                            }
                                                          },
                                                          "additionalProperties": false
                                                        }
                                                      }
                                                    },
                                                    "additionalProperties": false
                                                  }
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "itemID": {
                            "type": "string"
                          },
                          "payrollGroupCode": {
                            "type": "object",
                            "properties": {
                              "codeValue": {
                                "type": "string"
                              },
                              "shortName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "payrollProcessingJobID": {
                            "type": "string"
                          },
                          "payrollProcessingJobStatusCode": {
                            "type": "object",
                            "properties": {
                              "codeValue": {
                                "type": "string"
                              },
                              "shortName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "payrollRegionCode": {
                            "type": "object",
                            "properties": {
                              "codeValue": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "payrollScheduleReference": {
                            "type": "object",
                            "properties": {
                              "payrollRunNumber": {
                                "type": "string"
                              },
                              "payrollScheduleID": {
                                "type": "string"
                              },
                              "payrollWeekNumber": {
                                "type": "string"
                              },
                              "payrollYear": {
                                "type": "string"
                              },
                              "scheduleEntryID": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/adp/latest/actions/get-payroll-meta-data": {
      "get": {
        "operationId": "adp.get-payroll-meta-data",
        "summary": "Get Payroll Metadata",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/adp/latest/actions/get-payroll-meta-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/adp/latest/actions/get-worker": {
      "get": {
        "operationId": "adp.get-worker",
        "summary": "Get Worker",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/adp/latest/actions/get-worker"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aOid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "associateOID": {
                            "type": "string"
                          },
                          "customFieldGroup": {
                            "type": "object",
                            "properties": {
                              "codeFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "dateFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "indicatorFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "numberFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "percentFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "stringFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "stringValue": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "birthDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "communication": {
                                "type": "object",
                                "properties": {
                                  "landlines": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "access": {
                                          "type": "string"
                                        },
                                        "areaDialing": {
                                          "type": "string"
                                        },
                                        "countryDialing": {
                                          "type": "string"
                                        },
                                        "dialNumber": {
                                          "type": "string"
                                        },
                                        "formattedNumber": {
                                          "type": "string"
                                        },
                                        "itemID": {
                                          "type": "string"
                                        },
                                        "nameCode": {
                                          "type": "object",
                                          "properties": {
                                            "codeValue": {
                                              "type": "string"
                                            },
                                            "shortName": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "mobiles": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "access": {
                                          "type": "string"
                                        },
                                        "areaDialing": {
                                          "type": "string"
                                        },
                                        "countryDialing": {
                                          "type": "string"
                                        },
                                        "dialNumber": {
                                          "type": "string"
                                        },
                                        "formattedNumber": {
                                          "type": "string"
                                        },
                                        "itemID": {
                                          "type": "string"
                                        },
                                        "nameCode": {
                                          "type": "object",
                                          "properties": {
                                            "codeValue": {
                                              "type": "string"
                                            },
                                            "shortName": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "disabledIndicator": {
                                "type": "boolean"
                              },
                              "ethnicityCode": {
                                "type": "object",
                                "properties": {
                                  "codeValue": {
                                    "type": "string"
                                  },
                                  "longName": {
                                    "type": "string"
                                  },
                                  "shortName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "genderCode": {
                                "type": "object",
                                "properties": {
                                  "codeValue": {
                                    "type": "string"
                                  },
                                  "longName": {
                                    "type": "string"
                                  },
                                  "shortName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "governmentIDs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "countryCode": {
                                      "type": "string"
                                    },
                                    "idValue": {
                                      "type": "string"
                                    },
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "legalAddress": {
                                "type": "object",
                                "properties": {
                                  "cityName": {
                                    "type": "string"
                                  },
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "countrySubdivisionLevel1": {
                                    "type": "object",
                                    "properties": {
                                      "codeValue": {
                                        "type": "string"
                                      },
                                      "shortName": {
                                        "type": "string"
                                      },
                                      "subdivisionType": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "lineOne": {
                                    "type": "string"
                                  },
                                  "nameCode": {
                                    "type": "object",
                                    "properties": {
                                      "codeValue": {
                                        "type": "string"
                                      },
                                      "longName": {
                                        "type": "string"
                                      },
                                      "shortName": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "postalCode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "legalName": {
                                "type": "object",
                                "properties": {
                                  "familyName1": {
                                    "type": "string"
                                  },
                                  "formattedName": {
                                    "type": "string"
                                  },
                                  "givenName": {
                                    "type": "string"
                                  },
                                  "middleName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "maritalStatusCode": {
                                "type": "object",
                                "properties": {
                                  "codeValue": {
                                    "type": "string"
                                  },
                                  "shortName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "raceCode": {
                                "type": "object",
                                "properties": {
                                  "codeValue": {
                                    "type": "string"
                                  },
                                  "longName": {
                                    "type": "string"
                                  },
                                  "shortName": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tobaccoUserIndicator": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "workAssignments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "actualStartDate": {
                                  "type": "string"
                                },
                                "assignedWorkLocations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "object",
                                        "properties": {
                                          "cityName": {
                                            "type": "string"
                                          },
                                          "countryCode": {
                                            "type": "string"
                                          },
                                          "countrySubdivisionLevel1": {
                                            "type": "object",
                                            "properties": {
                                              "codeValue": {
                                                "type": "string"
                                              },
                                              "shortName": {
                                                "type": "string"
                                              },
                                              "subdivisionType": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "lineOne": {
                                            "type": "string"
                                          },
                                          "nameCode": {
                                            "type": "object",
                                            "properties": {
                                              "codeValue": {
                                                "type": "string"
                                              },
                                              "longName": {
                                                "type": "string"
                                              },
                                              "shortName": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "postalCode": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "assignmentStatus": {
                                  "type": "object",
                                  "properties": {
                                    "effectiveDate": {
                                      "type": "string"
                                    },
                                    "reasonCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "statusCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "baseRemuneration": {
                                  "type": "object",
                                  "properties": {
                                    "annualRateAmount": {
                                      "type": "object",
                                      "properties": {
                                        "currencyCode": {
                                          "type": "string"
                                        },
                                        "nameCode": {
                                          "type": "object",
                                          "properties": {
                                            "codeValue": {
                                              "type": "string"
                                            },
                                            "shortName": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "effectiveDate": {
                                      "type": "string"
                                    },
                                    "hourlyRateAmount": {
                                      "type": "object",
                                      "properties": {
                                        "currencyCode": {
                                          "type": "string"
                                        },
                                        "nameCode": {
                                          "type": "object",
                                          "properties": {
                                            "codeValue": {
                                              "type": "string"
                                            },
                                            "shortName": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "hireDate": {
                                  "type": "string"
                                },
                                "homeWorkLocation": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "object",
                                      "properties": {
                                        "cityName": {
                                          "type": "string"
                                        },
                                        "countryCode": {
                                          "type": "string"
                                        },
                                        "countrySubdivisionLevel1": {
                                          "type": "object",
                                          "properties": {
                                            "codeValue": {
                                              "type": "string"
                                            },
                                            "shortName": {
                                              "type": "string"
                                            },
                                            "subdivisionType": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "lineOne": {
                                          "type": "string"
                                        },
                                        "postalCode": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "industryClassifications": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "classificationCode": {
                                        "type": "object",
                                        "properties": {
                                          "codeValue": {
                                            "type": "string"
                                          },
                                          "shortName": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "nameCode": {
                                        "type": "object",
                                        "properties": {
                                          "codeValue": {
                                            "type": "string"
                                          },
                                          "shortName": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "itemID": {
                                  "type": "string"
                                },
                                "jobCode": {
                                  "type": "object",
                                  "properties": {
                                    "codeValue": {
                                      "type": "string"
                                    },
                                    "shortName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "jobFunctionCode": {
                                  "type": "object",
                                  "properties": {
                                    "codeValue": {
                                      "type": "string"
                                    },
                                    "shortName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "jobTitle": {
                                  "type": "string"
                                },
                                "managementPositionIndicator": {
                                  "type": "boolean"
                                },
                                "occupationalClassifications": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "classificationCode": {
                                        "type": "object",
                                        "properties": {
                                          "codeValue": {
                                            "type": "string"
                                          },
                                          "shortName": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "nameCode": {
                                        "type": "object",
                                        "properties": {
                                          "codeValue": {
                                            "type": "string"
                                          },
                                          "shortName": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "payCycleCode": {
                                  "type": "object",
                                  "properties": {
                                    "codeValue": {
                                      "type": "string"
                                    },
                                    "shortName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "payrollFileNumber": {
                                  "type": "string"
                                },
                                "payrollGroupCode": {
                                  "type": "string"
                                },
                                "payrollProcessingStatusCode": {
                                  "type": "object",
                                  "properties": {
                                    "shortName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "payrollScheduleGroupID": {
                                  "type": "string"
                                },
                                "positionID": {
                                  "type": "string"
                                },
                                "primaryIndicator": {
                                  "type": "boolean"
                                },
                                "seniorityDate": {
                                  "type": "string"
                                },
                                "terminationDate": {
                                  "type": "string"
                                },
                                "voluntaryIndicator": {
                                  "type": "boolean"
                                },
                                "wageLawCoverage": {
                                  "type": "object",
                                  "properties": {
                                    "coverageCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "wageLawNameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "workerTimeProfile": {
                                  "type": "object",
                                  "properties": {
                                    "timeAndAttendanceIndicator": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "workerDates": {
                            "type": "object",
                            "properties": {
                              "originalHireDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "terminationDate": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "workerID": {
                            "type": "object",
                            "properties": {
                              "idValue": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "workerStatus": {
                            "type": "object",
                            "properties": {
                              "statusCode": {
                                "type": "object",
                                "properties": {
                                  "codeValue": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/adp/latest/actions/get-workers": {
      "get": {
        "operationId": "adp.get-workers",
        "summary": "List Workers",
        "description": "Request the list of all available workers.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/adp/latest/actions/get-workers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "**Example:**\n- workers/workAssignments/positionID eq 'MR2000056'",
            "schema": {
              "type": "string",
              "description": "**Example:**\n- workers/workAssignments/positionID eq 'MR2000056'"
            }
          },
          {
            "name": "changedSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "associateOID": {
                            "type": "string"
                          },
                          "Base": {
                            "type": "string"
                          },
                          "customFieldGroup": {
                            "type": "object",
                            "properties": {
                              "codeFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "dateFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "indicatorFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "numberFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "numberValue": {
                                      "type": "number",
                                      "description": "Numeric custom-field value, including configured burden percentages when present."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "percentFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "shortName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "stringFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemID": {
                                      "type": "string"
                                    },
                                    "nameCode": {
                                      "type": "object",
                                      "properties": {
                                        "codeValue": {
                                          "type": "string"
                                        },
                                        "longName": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "stringValue": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "birthDate": {
                                "type": "string"
                              },
                              "communication": {
                                "type": "object",
                                "properties": {
                                  "landlines": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "access": {
                                          "type": "string"
                                        },
                                        "areaDialing": {
                                          "type": "string"
                                        },
                                        "countryDialing": {
                                          "type": "string"
                                        },
                                        "dialNumber": {
                                          "type": "string"
                                        },
                                        "formattedNumber": {
                                          "type": "string"
                                        },
[...]
