{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Freakonomics Radio Podcast Universal API",
    "version": "0.0.5",
    "description": "Read public episode and show metadata from the official Freakonomics Radio RSS feed."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/freakonomicsRadioPodcast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/freakonomicsRadioPodcast/latest/actions/list-episodes": {
      "get": {
        "operationId": "freakonomicsRadioPodcast.list-episodes",
        "summary": "List Episodes",
        "description": "Retrieves episodes from the Freakonomics Radio RSS feed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freakonomicsRadioPodcast/latest/actions/list-episodes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string",
                            "description": "Episode author string from the RSS item."
                          },
                          "contentEncoded": {
                            "type": "string",
                            "description": "Full encoded episode content HTML when provided."
                          },
                          "description": {
                            "type": "string",
                            "description": "Episode description HTML from the RSS item."
                          },
                          "enclosure": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Audio enclosure metadata for the episode."
                          },
                          "guid": {
                            "type": "string",
                            "description": "RSS item GUID."
                          },
                          "itunesAuthor": {
                            "type": "string",
                            "description": "Apple Podcasts author string."
                          },
                          "itunesDuration": {
                            "type": "string",
                            "description": "Apple Podcasts duration string."
                          },
                          "itunesEpisode": {
                            "type": "number",
                            "description": "Apple Podcasts episode number when provided."
                          },
                          "itunesEpisodeType": {
                            "type": "string",
                            "description": "Apple Podcasts episode type."
                          },
                          "itunesExplicit": {
                            "type": "boolean",
                            "description": "Whether the episode is marked explicit."
                          },
                          "itunesSubtitle": {
                            "type": "string",
                            "description": "Apple Podcasts episode subtitle."
                          },
                          "itunesSummary": {
                            "type": "string",
                            "description": "Apple Podcasts episode summary."
                          },
                          "itunesTitle": {
                            "type": "string",
                            "description": "Apple Podcasts episode title."
                          },
                          "link": {
                            "type": "string",
                            "description": "Canonical episode or show link from the RSS item."
                          },
                          "pubDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Episode publish date from the RSS item."
                          },
                          "title": {
                            "type": "string",
                            "description": "Episode title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
