{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TPS API Universal API",
    "version": "0.0.3",
    "description": "Screen phone numbers against TPS and CTPS suppression lists"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tPSAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tPSAPI/latest/actions/screen-phone-numbers": {
      "get": {
        "operationId": "tPSAPI.screen-phone-numbers",
        "summary": "Screen Phone Numbers",
        "description": "Screens phone numbers against TPS and CTPS lists in TPS API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tPSAPI/latest/actions/screen-phone-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumbers",
            "in": "query",
            "required": true,
            "description": "Phone numbers to screen against the selected TPS lists.",
            "schema": {
              "type": "string",
              "description": "Phone numbers to screen against the selected TPS lists."
            }
          },
          {
            "name": "checkTps",
            "in": "query",
            "required": false,
            "description": "Screen numbers against the TPS list.",
            "schema": {
              "type": "boolean",
              "description": "Screen numbers against the TPS list.",
              "default": true
            }
          },
          {
            "name": "checkCtps",
            "in": "query",
            "required": false,
            "description": "Screen numbers against the CTPS list.",
            "schema": {
              "type": "boolean",
              "description": "Screen numbers against the CTPS list.",
              "default": false
            }
          },
          {
            "name": "returnCallableNumbersOnly",
            "in": "query",
            "required": false,
            "description": "Return only numbers that are not on the selected list or lists.",
            "schema": {
              "type": "boolean",
              "description": "Return only numbers that are not on the selected list or lists.",
              "default": false
            }
          },
          {
            "name": "returnPrettierNumbers",
            "in": "query",
            "required": false,
            "description": "Include a prettier phone number field in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include a prettier phone number field in the response.",
              "default": false
            }
          },
          {
            "name": "returnDateAdded",
            "in": "query",
            "required": false,
            "description": "Include the date each number was added to the selected list or lists.",
            "schema": {
              "type": "boolean",
              "description": "Include the date each number was added to the selected list or lists.",
              "default": false
            }
          },
          {
            "name": "noLogging",
            "in": "query",
            "required": false,
            "description": "Prevent the provider from storing full numbers in logs.",
            "schema": {
              "type": "boolean",
              "description": "Prevent the provider from storing full numbers in logs.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
