{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Browse AI Universal API",
    "version": "0.0.9",
    "description": "Browse AI: Run robots, monitor websites, and manage scraped data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/browseAI/latest/actions/check-system-status": {
      "get": {
        "operationId": "browseAI.check-system-status",
        "summary": "Check System Status",
        "description": "Retrieves system status from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/check-system-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "messageCode": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          },
                          "tasksQueueStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/create-monitor": {
      "post": {
        "operationId": "browseAI.create-monitor",
        "summary": "Create Monitor",
        "description": "Creates a monitor in Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/create-monitor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "robotId",
                  "name",
                  "inputParameters",
                  "notifyOnCapturedScreenshotChange",
                  "notifyOnCapturedTextChange",
                  "capturedScreenshotNotificationThreshold"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "robotId": {
                    "type": "string",
                    "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
                    "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
                  },
                  "name": {
                    "type": "string",
                    "description": "Monitor name",
                    "example": "Monitor Products"
                  },
                  "inputParameters": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An object of input parameters to override default input parameters."
                  },
                  "schedules[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of schedules."
                  },
                  "schedule": {
                    "type": "string",
                    "description": "recurring schedule.",
                    "example": "FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR"
                  },
                  "notifyOnCapturedScreenshotChange": {
                    "type": "boolean",
                    "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured screenshots.",
                    "example": true
                  },
                  "notifyOnCapturedTextChange": {
                    "type": "boolean",
                    "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured texts.",
                    "example": true
                  },
                  "capturedScreenshotNotificationThreshold": {
                    "type": "number",
                    "description": "The \"screenshot changed\" email notification will be sent to you if the change is greater than this threshold (in percent).",
                    "example": 15
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capturedScreenshotNotificationThreshold": {
                            "type": "number",
                            "description": "The \"screenshot changed\" email notification will be sent to you if the change is greater than this threshold (in percent)."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Monitor creation date and time in the form of a Unix timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique robot monitor ID"
                          },
                          "inputParameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An object of input parameters to override default input parameters."
                          },
                          "name": {
                            "type": "string",
                            "description": "Monitor name"
                          },
                          "notifyOnCapturedScreenshotChange": {
                            "type": "boolean",
                            "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured screenshots."
                          },
                          "notifyOnCapturedTextChange": {
                            "type": "boolean",
                            "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured texts."
                          },
                          "pausedAt": {
                            "type": "number",
                            "description": "Monitor pause date and time in the form of a Unix timestamp."
                          },
                          "pausedReason": {
                            "type": "string",
                            "description": "Specifies the reason why the monitor is in a paused state."
                          },
                          "schedule": {
                            "type": "string",
                            "description": "recurring schedule."
                          },
                          "schedules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of schedules."
                          },
                          "status": {
                            "type": "string",
                            "description": "Represents the current state of the monitor. 'active' indicates that the monitor is currently operational and performing its intended functions, while 'paused' signifies that the monitor's activities are temporarily suspended. The 'paused' state may be due to reasons specified in the 'pausedReason' attribute."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Monitor last update date and time in the form of a Unix timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/create-webhook": {
      "post": {
        "operationId": "browseAI.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a webhook in Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "robotId",
                  "hookUrl",
                  "eventType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "robotId": {
                    "type": "string",
                    "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
                    "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
                  },
                  "hookUrl": {
                    "type": "string",
                    "description": "Webhook URL",
                    "example": "https://example.com/v2/webhooks/callback/events"
                  },
                  "eventType": {
                    "type": "string",
                    "enum": [
                      "tableExportFinishedSuccessfully",
                      "taskCapturedDataChanged",
                      "taskFinished",
                      "taskFinishedSuccessfully",
                      "taskFinishedWithError"
                    ],
                    "example": "taskFinished"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Monitor creation date and time in the form of a Unix timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique webhook ID"
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook URL"
                          },
                          "webhookEvent": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/delete-monitor": {
      "delete": {
        "operationId": "browseAI.delete-monitor",
        "summary": "Delete Monitor",
        "description": "Deletes a monitor from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/delete-monitor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "monitorId",
            "in": "query",
            "required": true,
            "description": "Unique monitor ID\n\nYou can find a monitor's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique monitor ID\n\nYou can find a monitor's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "e524ab69-4269-4d9d-b3d8-678112a10d29"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "messageCode": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/delete-webhook": {
      "delete": {
        "operationId": "browseAI.delete-webhook",
        "summary": "Delete Webhook",
        "description": "Deletes a webhook from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/delete-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "webhookId",
            "in": "query",
            "required": true,
            "description": "Unique webhookId ID",
            "schema": {
              "type": "string",
              "description": "Unique webhookId ID",
              "example": "6d7f1218-43fb-4735-ac71-21e81b1ab23e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "messageCode": {
                            "type": "string"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/get-bulk-run": {
      "get": {
        "operationId": "browseAI.get-bulk-run",
        "summary": "Get Bulk Run",
        "description": "Retrieves a bulk run from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/get-bulk-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "bulkRunId",
            "in": "query",
            "required": true,
            "description": "Unique bulk run ID",
            "schema": {
              "type": "string",
              "description": "Unique bulk run ID",
              "example": "5aa4df52-25bb-48da-bf38-ce4f2bd98dd5"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "number",
              "description": "Page number",
              "example": 1,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bulkRun": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "robotTasks": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "A paginated list of tasks."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/get-monitor": {
      "get": {
        "operationId": "browseAI.get-monitor",
        "summary": "Get Monitor",
        "description": "Retrieves a monitor from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/get-monitor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "monitorId",
            "in": "query",
            "required": true,
            "description": "Unique monitor ID\n\nYou can find a monitor's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique monitor ID\n\nYou can find a monitor's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "e524ab69-4269-4d9d-b3d8-678112a10d29"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capturedScreenshotNotificationThreshold": {
                            "type": "number",
                            "description": "The \"screenshot changed\" email notification will be sent to you if the change is greater than this threshold (in percent)."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Monitor creation date and time in the form of a Unix timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique robot monitor ID"
                          },
                          "inputParameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An object of input parameters to override default input parameters."
                          },
                          "name": {
                            "type": "string",
                            "description": "Monitor name"
                          },
                          "notifyOnCapturedScreenshotChange": {
                            "type": "boolean",
                            "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured screenshots."
                          },
                          "notifyOnCapturedTextChange": {
                            "type": "boolean",
                            "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured texts."
                          },
                          "pausedAt": {
                            "type": "number",
                            "description": "Monitor pause date and time in the form of a Unix timestamp."
                          },
                          "pausedReason": {
                            "type": "string",
                            "description": "Specifies the reason why the monitor is in a paused state."
                          },
                          "schedule": {
                            "type": "string",
                            "description": "recurring schedule."
                          },
                          "schedules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of schedules."
                          },
                          "status": {
                            "type": "string",
                            "description": "Represents the current state of the monitor. 'active' indicates that the monitor is currently operational and performing its intended functions, while 'paused' signifies that the monitor's activities are temporarily suspended. The 'paused' state may be due to reasons specified in the 'pausedReason' attribute."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Monitor last update date and time in the form of a Unix timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/get-robot": {
      "get": {
        "operationId": "browseAI.get-robot",
        "summary": "Get Robot",
        "description": "Retrieves a robot from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/get-robot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID You can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID You can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Robot creation date and time in the form of a Unix timestamp"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique robot ID"
                          },
                          "inputParameters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "Robot name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/get-robot-task": {
      "get": {
        "operationId": "browseAI.get-robot-task",
        "summary": "Get Robot Task",
        "description": "Retrieves a robot task from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/get-robot-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "Unique task ID",
            "schema": {
              "type": "string",
              "description": "Unique task ID",
              "example": "f3672790-4561-424b-8a7b-7b7df182b236"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capturedDataTemporaryUrl": {
                            "type": "string",
                            "description": "If your task's captured data exceeds 100KB, the data will be only accessible through this link. There's a 24 hours expiration time for this link (you need to call this API again to get a new link if it expires)."
                          },
                          "capturedLists": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "All lists captured in this task."
                          },
                          "capturedScreenshots": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "All screenshots captured in this task."
                          },
                          "capturedTexts": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Captured texts"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Task creation date and time in the form of a Unix timestamp"
                          },
                          "finishedAt": {
                            "type": "number",
                            "description": "Task finish date and time in the form of a Unix timestamp.\n\nIf `null`, it means robot is still running and capturing data.\n\nTasks time out with an error if they are not finished within 15 minutes (or the maximum duration allowed on your plan)."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique task ID"
                          },
                          "inputParameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An object of input parameters to override default input parameters."
                          },
                          "retriedByTaskId": {
                            "type": "string",
                            "description": "The ID of the task that retried this task, if this task failed with an error and was retried.\n\nFailed tasks get retried if \"Double Check\" option is enabled on robot Settings page. \"Double Check\" is enabled by default."
                          },
                          "retriedOriginalTaskId": {
                            "type": "string",
                            "description": "The ID of the original failed task this task was retrying. For example, if task A failed and was retried by task B, and task B was retried by task C, `retriedOriginalTaskId` will point to task A in both task B and C."
                          },
                          "robotBulkRunId": {
                            "type": "string",
                            "description": "Robot bulk run ID associated with this task"
                          },
                          "robotId": {
                            "type": "string",
                            "description": "Unique robot ID"
                          },
                          "runByAPI": {
                            "type": "boolean",
                            "description": "Whether the robot was ran through the API"
                          },
                          "runByTaskMonitorId": {
                            "type": "string",
                            "description": "Monitor ID that ran this check"
                          },
                          "runByUserId": {
                            "type": "string",
                            "description": "User ID who ran the robot on the dashboard"
                          },
                          "startedAt": {
                            "type": "number",
                            "description": "Task start date and time in the form of a Unix timestamp"
                          },
                          "status": {
                            "type": "string",
                            "description": "task status"
                          },
                          "triedRecordingVideo": {
                            "type": "boolean",
                            "description": "Whether the robot tried to record a video while performing this task.\n\nYou can change a robot's video recording setting on its Settings page. \n\nRobots try to record a video when a task is failed and auto-retried as well."
                          },
                          "userFriendlyError": {
                            "type": "string",
                            "description": "If task fails, a user-friendly error will be provided here."
                          },
                          "videoRemovedAt": {
                            "type": "number",
                            "description": "After your account's data retention period, task videos get removed and  this field will be video removal date and time in the form of a Unix timestamp."
                          },
                          "videoUrl": {
                            "type": "string",
                            "description": "If a video was recorded for this task, this is the link to the video."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/list-bulk-runs": {
      "get": {
        "operationId": "browseAI.list-bulk-runs",
        "summary": "List Bulk Runs",
        "description": "Retrieves bulk runs from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/list-bulk-runs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "number",
              "description": "Page number",
              "example": 1,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Bulk run creation date and time in the form of a Unix timestamp."
                          },
                          "failedTasks": {
                            "type": "number",
                            "description": "Number of failed tasks under this bulk run."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique bulk run ID"
                          },
                          "robotId": {
                            "type": "string",
                            "description": "Unique robot ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the bulk run."
                          },
                          "successfulTasks": {
                            "type": "number",
                            "description": "Number of successfully finished tasks under this bulk run."
                          },
                          "tasksCount": {
                            "type": "number",
                            "description": "Total number of tasks under this bulk run."
                          },
                          "title": {
                            "type": "string",
                            "description": "An optional string that describes the bulk run."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/list-monitors": {
      "get": {
        "operationId": "browseAI.list-monitors",
        "summary": "List Monitors",
        "description": "Retrieves monitors from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/list-monitors"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capturedScreenshotNotificationThreshold": {
                            "type": "number",
                            "description": "The \"screenshot changed\" email notification will be sent to you if the change is greater than this threshold (in percent)."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Monitor creation date and time in the form of a Unix timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique robot monitor ID"
                          },
                          "inputParameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An object of input parameters to override default input parameters."
                          },
                          "name": {
                            "type": "string",
                            "description": "Monitor name"
                          },
                          "notifyOnCapturedScreenshotChange": {
                            "type": "boolean",
                            "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured screenshots."
                          },
                          "notifyOnCapturedTextChange": {
                            "type": "boolean",
                            "description": "If set to `true`, an email notification will be sent to you when a change is detected in captured texts."
                          },
                          "pausedAt": {
                            "type": "number",
                            "description": "Monitor pause date and time in the form of a Unix timestamp."
                          },
                          "pausedReason": {
                            "type": "string",
                            "description": "Specifies the reason why the monitor is in a paused state."
                          },
                          "schedule": {
                            "type": "string",
                            "description": "recurring schedule."
                          },
                          "schedules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of schedules."
                          },
                          "status": {
                            "type": "string",
                            "description": "Represents the current state of the monitor. 'active' indicates that the monitor is currently operational and performing its intended functions, while 'paused' signifies that the monitor's activities are temporarily suspended. The 'paused' state may be due to reasons specified in the 'pausedReason' attribute."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Monitor last update date and time in the form of a Unix timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/browseAI/latest/actions/list-robot-tasks": {
      "get": {
        "operationId": "browseAI.list-robot-tasks",
        "summary": "List Robot Tasks",
        "description": "Retrieves robot tasks from Browse AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/browseAI/latest/actions/list-robot-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "robotId",
            "in": "query",
            "required": true,
            "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
            "schema": {
              "type": "string",
              "description": "Unique robot ID\n\nYou can find a robot's ID by opening it on the dashboard and copying its ID in the browser address bar.",
              "example": "c3689adb-50aa-44af-b265-a7e0d4e5846e"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "number",
              "description": "Page number",
              "example": 1,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Page size",
            "schema": {
              "type": "number",
              "description": "Page size",
              "example": 10,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Task status",
            "schema": {
              "type": "string",
              "description": "Task status",
              "enum": [
                "failed",
                "in-progress",
                "successful"
              ],
              "example": "successful"
            }
          },
          {
            "name": "robotBulkRunId",
            "in": "query",
            "required": false,
            "description": "filter the result based on robot bulk run ID",
            "schema": {
              "type": "string",
              "description": "filter the result based on robot bulk run ID",
              "example": "f6fb62b6-f06a-4bf7-a623-c6a35c2e70b0"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma separated list of fields to sort by. Default sorting is ascending and prefixing field names with a hyphen '-' yields a descending order.",
            "schema": {
              "type": "string",
              "description": "A comma separated list of fields to sort by. Default sorting is ascending and prefixing field names with a hyphen '-' yields a descending order.",
              "example": "-createdAt,finishedAt",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeRetried",
            "in": "query",
            "required": false,
            "description": "by passing false you can exclude the retried tasks",
            "schema": {
              "type": "boolean",
              "description": "by passing false you can exclude the retried tasks",
              "example": false
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "From task creation date and time in the form of a Unix timestamp",
            "schema": {
              "type": "number",
              "description": "From task creation date and time in the form of a Unix timestamp",
              "example": 1678795867879
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "To task creation date and time in the form of a Unix timestamp",
            "schema": {
              "type": "number",
              "description": "To task creation date and time in the form of a Unix timestamp",
              "example": 1678795867879
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capturedDataTemporaryUrl": {
                            "type": "string",
                            "description": "If your task's captured data exceeds 100KB, the data will be only accessible through this link. There's a 24 hours expiration time for this link (you need to call this API again to get a new link if it expires)."
                          },
                          "capturedLists": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "All lists captured in this task."
                          },
                          "capturedScreenshots": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "All screenshots captured in this task."
                          },
                          "capturedTexts": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Captured texts"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Task creation date and time in the form of a Unix timestamp"
                          },
                          "finishedAt": {
                            "type": "number",
                            "description": "Task finish date and time in the form of a Unix timestamp.\n\nIf `null`, it means robot is still running and capturing data.\n\nTasks time out with an error if they are not finished within 15 minutes (or the maximum duration allowed on your plan)."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique task ID"
                          },
                          "inputParameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An object of input parameters to override default input parameters."
                          },
                          "retriedByTaskId": {
                            "type": "string",
                            "description": "The ID of the task that retried this task, if this task failed with an error and was retried.\n\nFailed tasks get retried if \"Double Check\" option is enabled on robot Settings page. \"Double Check\" is enabled by default."
                          },
                          "retriedOriginalTaskId": {
                            "type": "string",
[...]
