{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GiveForms Universal API",
    "version": "0.0.6",
    "description": "Create donation forms and manage nonprofit fundraising"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/giveForms/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/giveForms/latest/actions/list-donations": {
      "get": {
        "operationId": "giveForms.list-donations",
        "summary": "List Donations",
        "description": "Finds donations for your organization in GiveForms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giveForms/latest/actions/list-donations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "anonymous": {
                            "type": "boolean"
                          },
                          "appFee": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "convertedAmount": {
                            "type": "string"
                          },
                          "convertedCurrency": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "donationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "donationHonor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "donationType": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "expMonth": {
                            "type": "number"
                          },
                          "expYear": {
                            "type": "number"
                          },
                          "feeCovered": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "formattedAmount": {
                            "type": "string"
                          },
                          "formattedAppFee": {
                            "type": "string"
                          },
                          "formattedConvertedAmount": {
                            "type": "string"
                          },
                          "formattedProcessingFee": {
                            "type": "string"
                          },
                          "formName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "last4": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentChargeId": {
                            "type": "string"
                          },
                          "paymentType": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "processingFee": {
                            "type": "number"
                          },
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "recurring": {
                            "type": "boolean"
                          },
                          "state": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "utmCampaign": {
                            "type": "string"
                          },
                          "utmContent": {
                            "type": "string"
                          },
                          "utmMedium": {
                            "type": "string"
                          },
                          "utmSource": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
