{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Tavily Universal API",
    "version": "0.0.4",
    "description": "Search, extract, crawl, map, and research web content"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tavily/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tavily/latest/actions/crawl-site": {
      "get": {
        "operationId": "tavily.crawl-site",
        "summary": "Crawl Site",
        "description": "Crawls a website from a base URL with Tavily.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tavily/latest/actions/crawl-site"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowExternal",
            "in": "query",
            "required": false,
            "description": "Whether to include external domain links in the results.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include external domain links in the results."
            }
          },
          {
            "name": "chunksPerSource",
            "in": "query",
            "required": false,
            "description": "Maximum number of relevant chunks to return per source when instructions are provided.",
            "schema": {
              "type": "number",
              "description": "Maximum number of relevant chunks to return per source when instructions are provided."
            }
          },
          {
            "name": "excludeDomains[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to exclude specific domains or subdomains.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to exclude specific domains or subdomains."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "excludePaths[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to exclude specific URL paths.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to exclude specific URL paths."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "extractDepth",
            "in": "query",
            "required": false,
            "description": "Extraction depth. Accepted values are basic or advanced.",
            "schema": {
              "type": "string",
              "description": "Extraction depth. Accepted values are basic or advanced."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Content format. Accepted values are markdown or text.",
            "schema": {
              "type": "string",
              "description": "Content format. Accepted values are markdown or text."
            }
          },
          {
            "name": "includeFavicon",
            "in": "query",
            "required": false,
            "description": "Whether to include the favicon URL for each result.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include the favicon URL for each result."
            }
          },
          {
            "name": "includeImages",
            "in": "query",
            "required": false,
            "description": "Whether to include images in the crawl results.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include images in the crawl results."
            }
          },
          {
            "name": "includeUsage",
            "in": "query",
            "required": false,
            "description": "Include credit usage information in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include credit usage information in the response."
            }
          },
          {
            "name": "instructions",
            "in": "query",
            "required": false,
            "description": "Natural language instructions for the crawler.",
            "schema": {
              "type": "string",
              "description": "Natural language instructions for the crawler."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Total number of links the crawler will process before stopping.",
            "schema": {
              "type": "number",
              "description": "Total number of links the crawler will process before stopping."
            }
          },
          {
            "name": "maxBreadth",
            "in": "query",
            "required": false,
            "description": "Max number of links to follow per page.",
            "schema": {
              "type": "number",
              "description": "Max number of links to follow per page."
            }
          },
          {
            "name": "maxDepth",
            "in": "query",
            "required": false,
            "description": "Max depth of the crawl from the root URL.",
            "schema": {
              "type": "number",
              "description": "Max depth of the crawl from the root URL."
            }
          },
          {
            "name": "selectDomains[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to include only specific domains or subdomains.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to include only specific domains or subdomains."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "selectPaths[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to include only specific URL paths.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to include only specific URL paths."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum time in seconds to wait for the crawl operation before timing out.",
            "schema": {
              "type": "number",
              "description": "Maximum time in seconds to wait for the crawl operation before timing out."
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The root URL to begin the crawl.",
            "schema": {
              "type": "string",
              "description": "The root URL to begin the crawl."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base_url": {
                            "type": "string",
                            "description": "The base URL that was crawled."
                          },
                          "request_id": {
                            "type": "string",
                            "description": "Unique request identifier from Tavily."
                          },
                          "response_time": {
                            "type": "number",
                            "description": "Time in seconds it took to complete the request."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Extracted content from the crawled URLs."
                          },
                          "usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Credit usage details for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tavily/latest/actions/create-research-task": {
      "post": {
        "operationId": "tavily.create-research-task",
        "summary": "Create Research Task",
        "description": "Creates a research task in Tavily.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tavily/latest/actions/create-research-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "citationFormat": {
                    "type": "string",
                    "description": "Citation format. Accepted values are numbered, mla, apa, or chicago."
                  },
                  "input": {
                    "type": "string",
                    "description": "The research task or question to investigate."
                  },
                  "model": {
                    "type": "string",
                    "description": "Research model. Accepted values are mini, pro, or auto."
                  },
                  "outputSchema": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional JSON Schema object that defines the research output shape."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the research task was created."
                          },
                          "input": {
                            "type": "string",
                            "description": "The research task or question being investigated."
                          },
                          "model": {
                            "type": "string",
                            "description": "The research model used by Tavily."
                          },
                          "request_id": {
                            "type": "string",
                            "description": "Unique request identifier for the research task."
                          },
                          "response_time": {
                            "type": "number",
                            "description": "Time in seconds it took to complete the request."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the research task."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tavily/latest/actions/extract-content": {
      "get": {
        "operationId": "tavily.extract-content",
        "summary": "Extract Content",
        "description": "Retrieves web page content from URLs with Tavily.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tavily/latest/actions/extract-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunksPerSource",
            "in": "query",
            "required": false,
            "description": "Maximum number of relevant chunks to return per source when query is provided.",
            "schema": {
              "type": "number",
              "description": "Maximum number of relevant chunks to return per source when query is provided."
            }
          },
          {
            "name": "extractDepth",
            "in": "query",
            "required": false,
            "description": "Extraction depth. Accepted values are basic or advanced.",
            "schema": {
              "type": "string",
              "description": "Extraction depth. Accepted values are basic or advanced."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Content format. Accepted values are markdown or text.",
            "schema": {
              "type": "string",
              "description": "Content format. Accepted values are markdown or text."
            }
          },
          {
            "name": "includeFavicon",
            "in": "query",
            "required": false,
            "description": "Include the favicon URL for each result.",
            "schema": {
              "type": "boolean",
              "description": "Include the favicon URL for each result."
            }
          },
          {
            "name": "includeImages",
            "in": "query",
            "required": false,
            "description": "Include extracted images in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include extracted images in the response."
            }
          },
          {
            "name": "includeUsage",
            "in": "query",
            "required": false,
            "description": "Include credit usage information in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include credit usage information in the response."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Optional user intent used to rerank extracted content chunks.",
            "schema": {
              "type": "string",
              "description": "Optional user intent used to rerank extracted content chunks."
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum time in seconds to wait before timing out the extraction.",
            "schema": {
              "type": "number",
              "description": "Maximum time in seconds to wait before timing out the extraction."
            }
          },
          {
            "name": "urls[]",
            "in": "query",
            "required": true,
            "description": "One or more URLs to extract content from.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more URLs to extract content from."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "failed_results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "URLs that could not be processed."
                          },
                          "request_id": {
                            "type": "string",
                            "description": "Unique request identifier from Tavily."
                          },
                          "response_time": {
                            "type": "number",
                            "description": "Time in seconds it took to complete the request."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Extracted content results for the requested URLs."
                          },
                          "usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Credit usage details for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tavily/latest/actions/get-research-task-status": {
      "get": {
        "operationId": "tavily.get-research-task-status",
        "summary": "Get Research Task Status",
        "description": "Retrieves Tavily research task status and results by request ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tavily/latest/actions/get-research-task-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the research task.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the research task."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Research report content returned by Tavily."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the research task was created."
                          },
                          "request_id": {
                            "type": "string",
                            "description": "Unique request identifier for the research task."
                          },
                          "response_time": {
                            "type": "number",
                            "description": "Time in seconds it took to complete the request."
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Sources used in the research report."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the research task."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tavily/latest/actions/get-usage": {
      "get": {
        "operationId": "tavily.get-usage",
        "summary": "Get Usage",
        "description": "Retrieves API key and account usage details from Tavily.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tavily/latest/actions/get-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Account plan and aggregate usage information."
                          },
                          "key": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "API key-level usage and credit limits."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tavily/latest/actions/map-site": {
      "get": {
        "operationId": "tavily.map-site",
        "summary": "Map Site",
        "description": "Maps a website from a base URL with Tavily.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tavily/latest/actions/map-site"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowExternal",
            "in": "query",
            "required": false,
            "description": "Whether to include external domain links in the discovered URLs.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include external domain links in the discovered URLs."
            }
          },
          {
            "name": "excludeDomains[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to exclude specific domains or subdomains.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to exclude specific domains or subdomains."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "excludePaths[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to exclude specific URL paths.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to exclude specific URL paths."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "includeUsage",
            "in": "query",
            "required": false,
            "description": "Include credit usage information in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include credit usage information in the response."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Total number of links the mapper will process before stopping.",
            "schema": {
              "type": "number",
              "description": "Total number of links the mapper will process before stopping."
            }
          },
          {
            "name": "maxBreadth",
            "in": "query",
            "required": false,
            "description": "Max number of links to follow per page.",
            "schema": {
              "type": "number",
              "description": "Max number of links to follow per page."
            }
          },
          {
            "name": "maxDepth",
            "in": "query",
            "required": false,
            "description": "Max depth of the mapping from the root URL.",
            "schema": {
              "type": "number",
              "description": "Max depth of the mapping from the root URL."
            }
          },
          {
            "name": "selectDomains[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to include only specific domains or subdomains.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to include only specific domains or subdomains."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "selectPaths[]",
            "in": "query",
            "required": false,
            "description": "Regex patterns to include only specific URL paths.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Regex patterns to include only specific URL paths."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum time in seconds to wait for the map operation before timing out.",
            "schema": {
              "type": "number",
              "description": "Maximum time in seconds to wait for the map operation before timing out."
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The root URL to begin the site map discovery.",
            "schema": {
              "type": "string",
              "description": "The root URL to begin the site map discovery."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base_url": {
                            "type": "string",
                            "description": "The base URL that was mapped."
                          },
                          "request_id": {
                            "type": "string",
                            "description": "Unique request identifier from Tavily."
                          },
                          "response_time": {
                            "type": "number",
                            "description": "Time in seconds it took to complete the request."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "URLs discovered during the site map operation."
                          },
                          "usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Credit usage details for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tavily/latest/actions/search-web": {
      "get": {
        "operationId": "tavily.search-web",
        "summary": "Search Web",
        "description": "Finds web search results in Tavily by query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tavily/latest/actions/search-web"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunksPerSource",
            "in": "query",
            "required": false,
            "description": "The maximum number of relevant content chunks to return per source when search depth is advanced.",
            "schema": {
              "type": "number",
              "description": "The maximum number of relevant content chunks to return per source when search depth is advanced."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Prioritize search results from a specific country when topic is general.",
            "schema": {
              "type": "string",
              "description": "Prioritize search results from a specific country when topic is general."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Return results before this date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return results before this date in YYYY-MM-DD format."
            }
          },
          {
            "name": "excludeDomains[]",
            "in": "query",
            "required": false,
            "description": "A list of domains to specifically exclude from the search results.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of domains to specifically exclude from the search results."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "includeAnswer",
            "in": "query",
            "required": false,
            "description": "Include an LLM-generated answer. Accepted values are false, true, basic, or advanced.",
            "schema": {
              "type": "string",
              "description": "Include an LLM-generated answer. Accepted values are false, true, basic, or advanced."
            }
          },
          {
            "name": "includeDomains[]",
            "in": "query",
            "required": false,
            "description": "A list of domains to specifically include in the search results.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of domains to specifically include in the search results."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "includeImageDescriptions",
            "in": "query",
            "required": false,
            "description": "When include images is true, also return a description for each image.",
            "schema": {
              "type": "boolean",
              "description": "When include images is true, also return a description for each image."
            }
          },
          {
            "name": "includeRawContent",
            "in": "query",
            "required": false,
            "description": "Include cleaned HTML content from each result. Accepted values are false, true, markdown, or text.",
            "schema": {
              "type": "string",
              "description": "Include cleaned HTML content from each result. Accepted values are false, true, markdown, or text."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The search query to execute with Tavily.",
            "schema": {
              "type": "string",
              "description": "The search query to execute with Tavily."
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Return results after this date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return results after this date in YYYY-MM-DD format."
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum time in seconds to wait for the search request.",
            "schema": {
              "type": "number",
              "description": "Maximum time in seconds to wait for the search request."
            }
          },
          {
            "name": "timeRange",
            "in": "query",
            "required": false,
            "description": "The time range back from the current date to filter results by publish or update date.",
            "schema": {
              "type": "string",
              "description": "The time range back from the current date to filter results by publish or update date."
            }
          },
          {
            "name": "searchDepth",
            "in": "query",
            "required": false,
            "description": "Controls the latency versus relevance tradeoff for the search.",
            "schema": {
              "type": "string",
              "description": "Controls the latency versus relevance tradeoff for the search."
            }
          },
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "description": "The category of the search.",
            "schema": {
              "type": "string",
              "description": "The category of the search."
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "description": "The maximum number of search results to return.",
            "schema": {
              "type": "number",
              "description": "The maximum number of search results to return."
            }
          },
          {
            "name": "includeImages",
            "in": "query",
            "required": false,
            "description": "Also perform an image search and include image results.",
            "schema": {
              "type": "boolean",
              "description": "Also perform an image search and include image results."
            }
          },
          {
            "name": "includeFavicon",
            "in": "query",
            "required": false,
            "description": "Include favicon URLs for each result when available.",
            "schema": {
              "type": "boolean",
              "description": "Include favicon URLs for each result when available."
            }
          },
          {
            "name": "autoParameters",
            "in": "query",
            "required": false,
            "description": "Automatically configure search parameters based on the query intent.",
            "schema": {
              "type": "boolean",
              "description": "Automatically configure search parameters based on the query intent."
            }
          },
          {
            "name": "exactMatch",
            "in": "query",
            "required": false,
            "description": "Return only results containing the quoted exact phrase.",
            "schema": {
              "type": "boolean",
              "description": "Return only results containing the quoted exact phrase."
            }
          },
          {
            "name": "includeUsage",
            "in": "query",
            "required": false,
            "description": "Include credit usage information in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include credit usage information in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "LLM-generated answer when include_answer is requested."
                          },
                          "auto_parameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Auto-selected search parameters when auto_parameters is enabled."
                          },
                          "follow_up_questions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Suggested follow-up questions when provided by Tavily."
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Image search results when include_images is enabled."
                          },
                          "query": {
                            "type": "string",
                            "description": "The search query that was executed."
                          },
                          "request_id": {
                            "type": "string",
                            "description": "Unique request identifier from Tavily."
                          },
                          "response_time": {
                            "type": "number",
                            "description": "Time in seconds it took to complete the request."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ranked search results returned by Tavily."
                          },
                          "usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Credit usage details for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
