{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Exa Universal API",
    "version": "0.0.7",
    "description": "Exa: Search, research, and extract structured web data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/exa/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/exa/latest/actions/answer": {
      "get": {
        "operationId": "exa.answer",
        "summary": "Answer",
        "description": "Retrieves an answer from Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/answer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The question or query to answer.",
            "schema": {
              "type": "string",
              "description": "The question or query to answer."
            }
          },
          {
            "name": "stream",
            "in": "query",
            "required": false,
            "description": "If true, the response is returned as a server-sent events (SSS) stream.",
            "schema": {
              "type": "boolean",
              "description": "If true, the response is returned as a server-sent events (SSS) stream.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "description": "If true, the response includes full text content in the search results",
            "schema": {
              "type": "boolean",
              "description": "If true, the response includes full text content in the search results",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string"
                          },
                          "citations": {
                            "type": "object",
                            "properties": {
                              "author": {
                                "type": "string"
                              },
                              "favicon": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "image": {
                                "type": "string"
                              },
                              "publishedDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "text": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "costDollars": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "total": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/cancel-webset": {
      "put": {
        "operationId": "exa.cancel-webset",
        "summary": "Cancel Webset",
        "description": "Cancels a running webset in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/cancel-webset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The id or externalId of the Webset"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "enrichments": {
                            "type": "string"
                          },
                          "excludes": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imports": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "monitors": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "searches": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/cancel-webset-enrichment": {
      "put": {
        "operationId": "exa.cancel-webset-enrichment",
        "summary": "Cancel Webset Enrichment",
        "description": "Cancels a running webset enrichment in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/cancel-webset-enrichment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "webset",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "webset": {
                    "type": "string",
                    "description": "The id or externalId of the Webset"
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the Enrichment"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "options": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "websetId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/cancel-webset-search": {
      "put": {
        "operationId": "exa.cancel-webset-search",
        "summary": "Cancel Webset Search",
        "description": "Cancels a running webset search in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/cancel-webset-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "webset",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "webset": {
                    "type": "string",
                    "description": "The id of the Webset"
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the Search"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "behavior": {
                            "type": "string"
                          },
                          "canceledAt": {
                            "type": "string"
                          },
                          "canceledReason": {
                            "type": "string"
                          },
                          "count": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "criteria": {
                            "type": "string"
                          },
                          "entity": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "exclude": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "progress": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "analyzed": {
                                "type": "string"
                              },
                              "completion": {
                                "type": "string"
                              },
                              "found": {
                                "type": "string"
                              },
                              "timeLeft": {
                                "type": "string"
                              }
                            }
                          },
                          "query": {
                            "type": "string"
                          },
                          "recall": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scope": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "websetId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/context": {
      "get": {
        "operationId": "exa.context",
        "summary": "Context",
        "description": "Retrieves context from Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/context"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query to find relevant code context.",
            "schema": {
              "type": "string",
              "description": "Search query to find relevant code context."
            }
          },
          {
            "name": "tokensNum",
            "in": "query",
            "required": false,
            "description": "Token budget for the response. Use a number or dynamic.",
            "schema": {
              "type": "number",
              "description": "Token budget for the response. Use a number or dynamic."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "costDollars": {
                            "type": "string"
                          },
                          "outputTokens": {
                            "type": "number"
                          },
                          "query": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "response": {
                            "type": "string"
                          },
                          "resultsCount": {
                            "type": "number"
                          },
                          "searchTime": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/create-import": {
      "post": {
        "operationId": "exa.create-import",
        "summary": "Create Import",
        "description": "Creates a new import in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/create-import"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "count",
                  "entity.type",
                  "format",
                  "size"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "count": {
                    "type": "number",
                    "description": "Number of records in the import."
                  },
                  "csv.identifier": {
                    "type": "number",
                    "description": "CSV column index or identifier column setting."
                  },
                  "entity.type": {
                    "type": "string",
                    "description": "Entity type for imported records."
                  },
                  "format": {
                    "type": "string",
                    "description": "Import format, such as csv."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional import metadata object."
                  },
                  "size": {
                    "type": "number",
                    "description": "Size of the import file in bytes."
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional import title."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Number of records in the import."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "entity": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Imported entity configuration."
                          },
                          "failedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Import failure timestamp."
                          },
                          "failedMessage": {
                            "type": "string",
                            "description": "Human-readable failure message."
                          },
                          "failedReason": {
                            "type": "string",
                            "description": "Reason the import failed."
                          },
                          "format": {
                            "type": "string",
                            "description": "Import format."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique import identifier."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          },
                          "status": {
                            "type": "string",
                            "description": "Import status."
                          },
                          "title": {
                            "type": "string",
                            "description": "Import title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "uploadUrl": {
                            "type": "string",
                            "description": "Presigned upload URL."
                          },
                          "uploadValidUntil": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Upload URL expiration timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/create-monitor": {
      "post": {
        "operationId": "exa.create-monitor",
        "summary": "Create Monitor",
        "description": "Creates a new monitor in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/create-monitor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "search.query",
                  "webhook.url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional key-value metadata object."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional display name for the monitor."
                  },
                  "outputSchema": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional JSON schema for structured monitor output."
                  },
                  "search.contents": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional content extraction configuration object."
                  },
                  "search.numResults": {
                    "type": "number",
                    "description": "Number of results to retrieve per run."
                  },
                  "search.query": {
                    "type": "string",
                    "description": "Search query to run on every monitor execution."
                  },
                  "trigger.period": {
                    "type": "string",
                    "description": "Interval duration like 1h, 6h, 1d, or 7d."
                  },
                  "trigger.type": {
                    "type": "string",
                    "description": "Use interval when scheduling the monitor."
                  },
                  "webhook.events[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of monitor events to deliver."
                  },
                  "webhook.url": {
                    "type": "string",
                    "description": "HTTPS URL that receives monitor events."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique monitor identifier."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata."
                          },
                          "name": {
                            "type": "string",
                            "description": "Monitor display name."
                          },
                          "nextRunAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Next scheduled run timestamp."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured output schema configuration."
                          },
                          "search": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Search configuration."
                          },
                          "status": {
                            "type": "string",
                            "description": "Monitor status."
                          },
                          "trigger": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Interval trigger configuration."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "webhook": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Webhook configuration."
                          },
                          "webhookSecret": {
                            "type": "string",
                            "description": "One-time webhook signing secret returned only on creation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/create-webhook": {
      "post": {
        "operationId": "exa.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a new webhook in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "events[]",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "events[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook events to subscribe to."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional webhook metadata object."
                  },
                  "url": {
                    "type": "string",
                    "description": "HTTPS endpoint that receives webhook deliveries."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Subscribed webhook events."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique webhook identifier."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata."
                          },
                          "object": {
                            "type": "string",
                            "description": "Returned object type."
                          },
                          "secret": {
                            "type": "string",
                            "description": "Webhook signing secret."
                          },
                          "status": {
                            "type": "string",
                            "description": "Webhook status."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook delivery URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/create-webset": {
      "post": {
        "operationId": "exa.create-webset",
        "summary": "Create Webset",
        "description": "Creates a new webset in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/create-webset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "search": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Create initial search for the Webset.",
                    "x-mindcloud-advanced": true
                  },
                  "import": {
                    "type": "string",
                    "description": "Attach/load data from existing Imports or Websets into this Webset. For CSV Imports, this schedules ingestion and creates a staging pool of items (ImportItems do not automatically appear as Webset Items; searches create Webset Items). This does not filter searches. To filter a search to only look within an Import or Webset, use search.scope instead.",
                    "x-mindcloud-advanced": true
                  },
                  "enrichments": {
                    "type": "string",
                    "description": "Add enrichments to extract additional data from found items.\n\nEnrichments automatically search for and extract specific information (like contact details, funding data, employee counts, etc.) from each item added to your Webset.",
                    "x-mindcloud-advanced": true
                  },
                  "exclude": {
                    "type": "string",
                    "description": "Global exclusion sources (existing imports or websets) that apply to all operations within this Webset. Any results found within these sources will be omitted across all search and import operations.",
                    "x-mindcloud-advanced": true
                  },
                  "externalId": {
                    "type": "string",
                    "description": "The external identifier for the webset.\n\nYou can use this to reference the Webset by your own internal identifiers.",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs you want to associate with this object.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "enrichments": {
                            "type": "string"
                          },
                          "excludes": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imports": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "monitors": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "searches": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/create-webset-enrichment": {
      "post": {
        "operationId": "exa.create-webset-enrichment",
        "summary": "Create Webset Enrichment",
        "description": "Creates a new webset enrichment in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/create-webset-enrichment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "webset",
                  "description"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "webset": {
                    "type": "string",
                    "description": "The id or externalId of the Webset"
                  },
                  "description": {
                    "type": "string",
                    "description": "Provide a description of the enrichment task you want to perform to each Webset Item."
                  },
                  "format": {
                    "type": "string",
                    "description": "Format of the enrichment response.\n\nWe automatically select the best format based on the description. If you want to explicitly specify the format, you can do so here.",
                    "x-mindcloud-advanced": true
                  },
                  "options[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "When the format is options, the different options for the enrichment agent to choose from.",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Set of key-value pairs you want to associate with this object.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "options": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "websetId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/create-webset-search": {
      "post": {
        "operationId": "exa.create-webset-search",
        "summary": "Create Webset Search",
        "description": "Creates a new webset search in Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/create-webset-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "webset",
                  "count",
                  "query"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "webset": {
                    "type": "string",
                    "description": "The id of the Webset"
                  },
                  "count": {
                    "type": "number",
                    "description": "Number of Items the Search will attempt to find.\n\nThe actual number of Items found may be less than this number depending on the query complexity."
                  },
                  "query": {
                    "type": "string",
                    "description": "Natural language search query describing what you are looking for.\n\nBe specific and descriptive about your requirements, characteristics, and any constraints that help narrow down the results.\n\nAny URLs provided will be crawled and used as additional context for the search."
                  },
                  "entity.type": {
                    "type": "string",
                    "default": "custom",
                    "x-mindcloud-advanced": true
                  },
                  "entity.description": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "criteria": {
                    "type": "string",
                    "description": "Criteria every item is evaluated against.\n\nIt's not required to provide your own criteria, we automatically detect the criteria from all the information provided in the query. Only use this when you need more fine control.",
                    "x-mindcloud-advanced": true
                  },
                  "exclude": {
                    "type": "string",
                    "description": "Sources (existing imports or websets) to exclude from search results. Any results found within these sources will be omitted to prevent finding them during search.",
                    "x-mindcloud-advanced": true
                  },
                  "scope": {
                    "type": "string",
                    "description": "Limit the search to specific sources (existing imports). Any results found within these sources matching the search criteria will be included in the Webset.",
                    "x-mindcloud-advanced": true
                  },
                  "recall": {
                    "type": "string",
                    "description": "Whether to provide an estimate of how many total relevant results could exist for this search.\nResult of the analysis will be available in the `recall` field within the search request.",
                    "x-mindcloud-advanced": true
                  },
                  "behavior": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs you want to associate with this object.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "behavior": {
                            "type": "string"
                          },
                          "canceledAt": {
                            "type": "string"
                          },
                          "canceledReason": {
                            "type": "string"
                          },
                          "count": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "criteria": {
                            "type": "string"
                          },
                          "entity": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "exclude": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "progress": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "analyzed": {
                                "type": "string"
                              },
                              "completion": {
                                "type": "string"
                              },
                              "found": {
                                "type": "string"
                              },
                              "timeLeft": {
                                "type": "string"
                              }
                            }
                          },
                          "query": {
                            "type": "string"
                          },
                          "recall": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "scope": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "websetId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exa/latest/actions/delete-monitor": {
      "delete": {
        "operationId": "exa.delete-monitor",
        "summary": "Delete Monitor",
        "description": "Deletes an existing monitor from Exa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exa/latest/actions/delete-monitor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Monitor identifier.",
            "schema": {
              "type": "string",
              "description": "Monitor identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique monitor identifier."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata."
                          },
                          "name": {
                            "type": "string",
                            "description": "Monitor display name."
                          },
                          "nextRunAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Next scheduled run timestamp."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured output schema configuration."
                          },
                          "search": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Search configuration."
                          },
                          "status": {
                            "type": "string",
                            "description": "Monitor status."
[...]
