{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Checkvist Universal API",
    "version": "0.0.7",
    "description": "Manage checklists, tasks, notes, and due dates"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/checkvist/latest/actions/change-task-status": {
      "put": {
        "operationId": "checkvist.change-task-status",
        "summary": "Change Task Status",
        "description": "Updates a task status in Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/change-task-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "action",
                  "checklistId",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "action": {
                    "type": "string",
                    "description": "Use close, invalidate, or reopen."
                  },
                  "checklistId": {
                    "type": "number",
                    "description": "The checklist ID."
                  },
                  "taskId": {
                    "type": "number",
                    "description": "The task ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "backlinkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "collapsed": {
                            "type": "boolean"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "due": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "linkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updateLine": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/create-checklist": {
      "post": {
        "operationId": "checkvist.create-checklist",
        "summary": "Create Checklist",
        "description": "Creates a checklist in Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/create-checklist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The checklist name."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "Set to 1 to create a public checklist."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "itemCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "options": {
                            "type": "number"
                          },
                          "percentCompleted": {
                            "type": "number"
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "readOnly": {
                            "type": "boolean"
                          },
                          "relatedTaskIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "taskCompleted": {
                            "type": "number"
                          },
                          "taskCount": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userCount": {
                            "type": "number"
                          },
                          "userUpdatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/create-task": {
      "post": {
        "operationId": "checkvist.create-task",
        "summary": "Create Task",
        "description": "Creates a task in Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "checklistId",
                  "content"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "checklistId": {
                    "type": "number",
                    "description": "The checklist ID."
                  },
                  "content": {
                    "type": "string",
                    "description": "The task text."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "A due date in Checkvist smart syntax."
                  },
                  "parentId": {
                    "type": "string",
                    "description": "The parent task ID."
                  },
                  "position": {
                    "type": "number",
                    "description": "The 1-based position under the parent task."
                  },
                  "priority": {
                    "type": "number",
                    "description": "The task priority or color, from 0 to 9."
                  },
                  "status": {
                    "type": "string",
                    "description": "The optional task status."
                  },
                  "tags": {
                    "type": "string",
                    "description": "A comma-separated list of tags."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "backlinkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "collapsed": {
                            "type": "boolean"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "due": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "linkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updateLine": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/create-task-note": {
      "post": {
        "operationId": "checkvist.create-task-note",
        "summary": "Create Task Note",
        "description": "Creates a task note in Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/create-task-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "checklistId",
                  "comment",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "checklistId": {
                    "type": "number",
                    "description": "The checklist ID."
                  },
                  "comment": {
                    "type": "string",
                    "description": "The note text."
                  },
                  "taskId": {
                    "type": "number",
                    "description": "The task ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "emailMd5": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/delete-checklist": {
      "delete": {
        "operationId": "checkvist.delete-checklist",
        "summary": "Delete Checklist",
        "description": "Deletes a checklist from Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/delete-checklist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "query",
            "required": true,
            "description": "The checklist ID.",
            "schema": {
              "type": "number",
              "description": "The checklist ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "itemCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "options": {
                            "type": "number"
                          },
                          "percentCompleted": {
                            "type": "number"
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "readOnly": {
                            "type": "boolean"
                          },
                          "relatedTaskIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "taskCompleted": {
                            "type": "number"
                          },
                          "taskCount": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userCount": {
                            "type": "number"
                          },
                          "userUpdatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/delete-task": {
      "delete": {
        "operationId": "checkvist.delete-task",
        "summary": "Delete Task",
        "description": "Deletes a task from Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/delete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "query",
            "required": true,
            "description": "The checklist ID.",
            "schema": {
              "type": "number",
              "description": "The checklist ID."
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The task ID.",
            "schema": {
              "type": "number",
              "description": "The task ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "backlinkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "collapsed": {
                            "type": "boolean"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "details": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "due": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "linkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updateLine": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/delete-task-note": {
      "delete": {
        "operationId": "checkvist.delete-task-note",
        "summary": "Delete Task Note",
        "description": "Deletes a task note from Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/delete-task-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "query",
            "required": true,
            "description": "The checklist ID.",
            "schema": {
              "type": "number",
              "description": "The checklist ID."
            }
          },
          {
            "name": "noteId",
            "in": "query",
            "required": true,
            "description": "The note ID.",
            "schema": {
              "type": "number",
              "description": "The note ID."
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The task ID.",
            "schema": {
              "type": "number",
              "description": "The task ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "emailMd5": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/get-checklist": {
      "get": {
        "operationId": "checkvist.get-checklist",
        "summary": "Get Checklist",
        "description": "Retrieves a checklist from Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/get-checklist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "query",
            "required": true,
            "description": "The checklist ID.",
            "schema": {
              "type": "number",
              "description": "The checklist ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "itemCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "options": {
                            "type": "number"
                          },
                          "percentCompleted": {
                            "type": "number"
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "readOnly": {
                            "type": "boolean"
                          },
                          "relatedTaskIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "taskCompleted": {
                            "type": "number"
                          },
                          "taskCount": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userCount": {
                            "type": "number"
                          },
                          "userUpdatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/get-current-user": {
      "get": {
        "operationId": "checkvist.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "The Checkvist account email."
                          },
                          "emailMd5": {
                            "type": "string",
                            "description": "The MD5 hash of the account email."
                          },
                          "id": {
                            "type": "number",
                            "description": "The Checkvist user ID."
                          },
                          "pro": {
                            "type": "boolean",
                            "description": "Whether the account is on a Pro plan."
                          },
                          "username": {
                            "type": "string",
                            "description": "The Checkvist username."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/get-task": {
      "get": {
        "operationId": "checkvist.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "query",
            "required": true,
            "description": "The checklist ID.",
            "schema": {
              "type": "number",
              "description": "The checklist ID."
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The task ID.",
            "schema": {
              "type": "number",
              "description": "The task ID."
            }
          },
          {
            "name": "withNotes",
            "in": "query",
            "required": false,
            "description": "Include task notes in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include task notes in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "backlinkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "collapsed": {
                            "type": "boolean"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "due": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "linkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updateLine": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/import-tasks": {
      "post": {
        "operationId": "checkvist.import-tasks",
        "summary": "Import Tasks",
        "description": "Imports tasks into a checklist in Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/import-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "checklistId",
                  "importContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "checklistId": {
                    "type": "number",
                    "description": "The checklist ID."
                  },
                  "importContent": {
                    "type": "string",
                    "description": "The checklist content to import."
                  },
                  "importContentNote": {
                    "type": "string",
                    "description": "A note to attach to the first created task."
                  },
                  "parentId": {
                    "type": "number",
                    "description": "The parent task ID."
                  },
                  "parseTasks": {
                    "type": "boolean",
                    "description": "Recognize smart syntax in imported tasks."
                  },
                  "position": {
                    "type": "number",
                    "description": "The 1-based position for the first imported task."
                  },
                  "replaceExisting": {
                    "type": "boolean",
                    "description": "Replace the existing checklist content."
                  },
                  "separateWithEmptyLine": {
                    "type": "string",
                    "description": "Control how imported tasks are split."
                  },
                  "status": {
                    "type": "number",
                    "description": "The optional status for the first imported task."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigneeIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "backlinkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "collapsed": {
                            "type": "boolean"
                          },
                          "commentsCount": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "due": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "linkIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tagsAsText": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updateLine": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkvist/latest/actions/list-checklists": {
      "get": {
        "operationId": "checkvist.list-checklists",
        "summary": "List Checklists",
        "description": "Retrieves checklists from Checkvist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkvist/latest/actions/list-checklists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "Return archived checklists.",
            "schema": {
              "type": "boolean",
              "description": "Return archived checklists."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort checklists, for example updated_at:asc or id:desc.",
            "schema": {
              "type": "string",
              "description": "Sort checklists, for example updated_at:asc or id:desc."
            }
          },
          {
            "name": "skipStats",
            "in": "query",
            "required": false,
            "description": "Skip checklist user and task stats for a faster response.",
            "schema": {
              "type": "boolean",
              "description": "Skip checklist user and task stats for a faster response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the checklist is archived."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "When the checklist was created."
                          },
                          "id": {
                            "type": "number",
                            "description": "The checklist ID."
                          },
                          "itemCount": {
                            "type": "number",
                            "description": "The total number of checklist items."
                          },
                          "name": {
                            "type": "string",
                            "description": "The checklist name."
                          },
                          "options": {
                            "type": "number",
                            "description": "The checklist options bitmask."
                          },
                          "percentCompleted": {
                            "type": "number",
                            "description": "The percent of completed tasks."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "Whether the checklist is public."
                          },
                          "readOnly": {
                            "type": "boolean",
                            "description": "Whether the checklist is read-only."
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Checklist tags keyed by tag name."
                          },
                          "tagsAsText": {
                            "type": "string",
                            "description": "The checklist tags as plain text."
                          },
                          "taskCompleted": {
                            "type": "number",
                            "description": "The number of completed tasks."
                          },
                          "taskCount": {
                            "type": "number",
                            "description": "The total number of tasks."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "When the checklist was last updated."
                          },
                          "userCount": {
                            "type": "number",
                            "description": "How many users are on the checklist."
                          },
                          "userUpdatedAt": {
                            "type": "string",
                            "description": "When the current user's checklist state was updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
[...]
