{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Webex Universal API",
    "version": "0.0.2",
    "description": "Use Cisco Webex APIs for messaging spaces, messages, memberships, teams, meetings, webhooks, and user profile details."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/webex/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/webex/latest/actions/create-meeting": {
      "post": {
        "operationId": "webex.create-meeting",
        "summary": "Create Meeting",
        "description": "Creates a new meeting in Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/create-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "start",
                  "end"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Meeting title.",
                    "example": "MindCloud Test Meeting"
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Meeting start time in ISO-8601 format.",
                    "example": "2026-04-20T15:00:00Z"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Meeting end time in ISO-8601 format.",
                    "example": "2026-04-20T15:30:00Z"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agenda": {
                            "type": "string",
                            "description": "Meeting agenda."
                          },
                          "allowAnyUserToBeCoHost": {
                            "type": "boolean",
                            "description": "Whether any user can be co-host."
                          },
                          "dialInIpAddress": {
                            "type": "string",
                            "description": "Dial-in IP address."
                          },
                          "enabledAutoRecordMeeting": {
                            "type": "boolean",
                            "description": "Whether automatic recording is enabled."
                          },
                          "enabledJoinBeforeHost": {
                            "type": "boolean",
                            "description": "Whether participants can join before host."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Meeting end time."
                          },
                          "excludePassword": {
                            "type": "boolean",
                            "description": "Whether the password is excluded from invitations."
                          },
                          "hostDisplayName": {
                            "type": "string",
                            "description": "Host display name."
                          },
                          "hostEmail": {
                            "type": "string",
                            "description": "Host email address."
                          },
                          "hostUserId": {
                            "type": "string",
                            "description": "Host user identifier."
                          },
                          "id": {
                            "type": "string",
                            "description": "Meeting identifier."
                          },
                          "joinBeforeHostMinutes": {
                            "type": "number",
                            "description": "Minutes participants can join before host."
                          },
                          "meetingNumber": {
                            "type": "string",
                            "description": "Webex meeting number."
                          },
                          "meetingType": {
                            "type": "string",
                            "description": "Meeting type."
                          },
                          "password": {
                            "type": "string",
                            "description": "Meeting password when returned."
                          },
                          "phoneAndVideoSystemPassword": {
                            "type": "string",
                            "description": "Phone and video system password when returned."
                          },
                          "publicMeeting": {
                            "type": "boolean",
                            "description": "Whether the meeting is public."
                          },
                          "recurrence": {
                            "type": "string",
                            "description": "Recurrence rule for recurring meetings."
                          },
                          "reminderTime": {
                            "type": "number",
                            "description": "Reminder offset in minutes."
                          },
                          "scheduledType": {
                            "type": "string",
                            "description": "Scheduled meeting type."
                          },
                          "sessionTypeId": {
                            "type": "number",
                            "description": "Session type identifier."
                          },
                          "sipAddress": {
                            "type": "string",
                            "description": "SIP address for joining from a video system."
                          },
                          "siteUrl": {
                            "type": "string",
                            "description": "Webex site URL."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Meeting start time."
                          },
                          "state": {
                            "type": "string",
                            "description": "Current meeting state."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Meeting timezone."
                          },
                          "title": {
                            "type": "string",
                            "description": "Meeting title."
                          },
                          "unlockedMeetingJoinSecurity": {
                            "type": "string",
                            "description": "Join security for unlocked meetings."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Browser link for the meeting."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/create-membership": {
      "post": {
        "operationId": "webex.create-membership",
        "summary": "Create Membership",
        "description": "Creates a new membership in Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/create-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "roomId",
                  "personEmail"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "roomId": {
                    "type": "string",
                    "description": "Room to add the member to.",
                    "example": "Y2lzY29zcGFyazovL3VzL1JPT00v..."
                  },
                  "personEmail": {
                    "type": "string",
                    "description": "Email address of the member to add.",
                    "example": "apps@mindcloud.co"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Membership creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Membership identifier."
                          },
                          "isModerator": {
                            "type": "boolean",
                            "description": "Whether the member is a moderator."
                          },
                          "isMonitor": {
                            "type": "boolean",
                            "description": "Whether the member is a monitor."
                          },
                          "isRoomHidden": {
                            "type": "boolean",
                            "description": "Whether the room is hidden for the member."
                          },
                          "personDisplayName": {
                            "type": "string",
                            "description": "Display name for the member."
                          },
                          "personEmail": {
                            "type": "string",
                            "description": "Email address for the member."
                          },
                          "personId": {
                            "type": "string",
                            "description": "Person identifier for the member."
                          },
                          "personOrgId": {
                            "type": "string",
                            "description": "Organization identifier for the member."
                          },
                          "roomId": {
                            "type": "string",
                            "description": "Room associated with the membership."
                          },
                          "roomType": {
                            "type": "string",
                            "description": "Type of room associated with the membership."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/create-message": {
      "post": {
        "operationId": "webex.create-message",
        "summary": "Create Message",
        "description": "Creates a new message in Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/create-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "roomId",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "roomId": {
                    "type": "string",
                    "description": "Room to send the message to.",
                    "example": "Y2lzY29zcGFyazovL3VzL1JPT00v..."
                  },
                  "text": {
                    "type": "string",
                    "description": "Plain-text message body.",
                    "example": "Hello from MindCloud"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Structured message attachments."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Message creation timestamp."
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "File URLs or identifiers attached to the message."
                          },
                          "html": {
                            "type": "string",
                            "description": "HTML-rendered message body when present."
                          },
                          "id": {
                            "type": "string",
                            "description": "Message identifier."
                          },
                          "markdown": {
                            "type": "string",
                            "description": "Markdown message body when present."
                          },
                          "mentionedGroups": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Groups mentioned in the message."
                          },
                          "mentionedPeople": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "People mentioned in the message."
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent message identifier for threaded replies."
                          },
                          "personEmail": {
                            "type": "string",
                            "description": "Email address of the sender."
                          },
                          "personId": {
                            "type": "string",
                            "description": "Person identifier of the sender."
                          },
                          "roomId": {
                            "type": "string",
                            "description": "Room containing the message."
                          },
                          "roomType": {
                            "type": "string",
                            "description": "Type of room containing the message."
                          },
                          "text": {
                            "type": "string",
                            "description": "Plain-text message body."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Message update timestamp when edited."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/create-room": {
      "post": {
        "operationId": "webex.create-room",
        "summary": "Create Room",
        "description": "Creates a new room in Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/create-room"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Room title.",
                    "example": "MindCloud Test Room"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Room creation timestamp."
                          },
                          "creatorId": {
                            "type": "string",
                            "description": "Person identifier for the room creator."
                          },
                          "id": {
                            "type": "string",
                            "description": "Room identifier."
                          },
                          "isLocked": {
                            "type": "boolean",
                            "description": "Whether the room is locked."
                          },
                          "isPublic": {
                            "type": "boolean",
                            "description": "Whether the room is public."
                          },
                          "isReadOnly": {
                            "type": "boolean",
                            "description": "Whether the room is read-only."
                          },
                          "lastActivity": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the most recent room activity."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Organization identifier that owns the room."
                          },
                          "teamId": {
                            "type": "string",
                            "description": "Associated team identifier when the room belongs to a team."
                          },
                          "title": {
                            "type": "string",
                            "description": "Room title."
                          },
                          "type": {
                            "type": "string",
                            "description": "Room type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/create-team": {
      "post": {
        "operationId": "webex.create-team",
        "summary": "Create Team",
        "description": "Creates a new team in Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/create-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Team name.",
                    "example": "MindCloud Team"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Team creation timestamp."
                          },
                          "creatorId": {
                            "type": "string",
                            "description": "Person identifier for the team creator."
                          },
                          "id": {
                            "type": "string",
                            "description": "Team identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Team name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/create-webhook": {
      "post": {
        "operationId": "webex.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a new webhook in Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "targetUrl",
                  "resource",
                  "event"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Webhook display name.",
                    "example": "MindCloud webhook"
                  },
                  "targetUrl": {
                    "type": "string",
                    "description": "HTTPS endpoint that receives webhook events.",
                    "example": "https://example.com/webex"
                  },
                  "resource": {
                    "type": "string",
                    "description": "Webhook resource type.",
                    "example": "messages"
                  },
                  "event": {
                    "type": "string",
                    "description": "Webhook event type.",
                    "example": "created"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appId": {
                            "type": "string",
                            "description": "Webex app identifier associated with the webhook."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Webhook creation timestamp."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "Person identifier that created the webhook."
                          },
                          "event": {
                            "type": "string",
                            "description": "Event type the webhook listens to."
                          },
                          "filter": {
                            "type": "string",
                            "description": "Optional event filter expression."
                          },
                          "id": {
                            "type": "string",
                            "description": "Webhook identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Webhook display name."
                          },
                          "orgId": {
                            "type": "string",
                            "description": "Organization identifier for the webhook."
                          },
                          "ownedBy": {
                            "type": "string",
                            "description": "Webhook ownership scope."
                          },
                          "resource": {
                            "type": "string",
                            "description": "Resource type the webhook listens to."
                          },
                          "status": {
                            "type": "string",
                            "description": "Webhook status."
                          },
                          "targetUrl": {
                            "type": "string",
                            "description": "HTTPS endpoint that receives webhook notifications."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/delete-meeting": {
      "delete": {
        "operationId": "webex.delete-meeting",
        "summary": "Delete Meeting",
        "description": "Deletes an existing meeting from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/delete-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetingId",
            "in": "query",
            "required": true,
            "description": "Meeting identifier.",
            "schema": {
              "type": "string",
              "description": "Meeting identifier.",
              "example": "123456789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/delete-membership": {
      "delete": {
        "operationId": "webex.delete-membership",
        "summary": "Delete Membership",
        "description": "Deletes an existing membership from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/delete-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membershipId",
            "in": "query",
            "required": true,
            "description": "Membership identifier.",
            "schema": {
              "type": "string",
              "description": "Membership identifier.",
              "example": "Y2lzY29zcGFyazovL3VzL01FTUJFUlNISVAv..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/delete-message": {
      "delete": {
        "operationId": "webex.delete-message",
        "summary": "Delete Message",
        "description": "Deletes an existing message from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/delete-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Message identifier.",
            "schema": {
              "type": "string",
              "description": "Message identifier.",
              "example": "Y2lzY29zcGFyazovL3VzL01FU1NBR0Uv..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/delete-room": {
      "delete": {
        "operationId": "webex.delete-room",
        "summary": "Delete Room",
        "description": "Deletes an existing room from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/delete-room"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "description": "Room identifier.",
            "schema": {
              "type": "string",
              "description": "Room identifier.",
              "example": "Y2lzY29zcGFyazovL3VzL1JPT00v..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/delete-team": {
      "delete": {
        "operationId": "webex.delete-team",
        "summary": "Delete Team",
        "description": "Deletes an existing team from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/delete-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Team identifier.",
            "schema": {
              "type": "string",
              "description": "Team identifier.",
              "example": "Y2lzY29zcGFyazovL3VzL1RFQU0v..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/delete-webhook": {
      "delete": {
        "operationId": "webex.delete-webhook",
        "summary": "Delete Webhook",
        "description": "Deletes an existing webhook from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/delete-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "query",
            "required": true,
            "description": "Webhook identifier.",
            "schema": {
              "type": "string",
              "description": "Webhook identifier.",
              "example": "Y2lzY29zcGFyazovL3VzL1dFQkhPT0sv..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/get-meeting": {
      "get": {
        "operationId": "webex.get-meeting",
        "summary": "Get Meeting",
        "description": "Retrieves a specific meeting from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/get-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meetingId",
            "in": "query",
            "required": true,
            "description": "Meeting identifier.",
            "schema": {
              "type": "string",
              "description": "Meeting identifier.",
              "example": "123456789"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agenda": {
                            "type": "string",
                            "description": "Meeting agenda."
                          },
                          "allowAnyUserToBeCoHost": {
                            "type": "boolean",
                            "description": "Whether any user can be co-host."
                          },
                          "dialInIpAddress": {
                            "type": "string",
                            "description": "Dial-in IP address."
                          },
                          "enabledAutoRecordMeeting": {
                            "type": "boolean",
                            "description": "Whether automatic recording is enabled."
                          },
                          "enabledJoinBeforeHost": {
                            "type": "boolean",
                            "description": "Whether participants can join before host."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Meeting end time."
                          },
                          "excludePassword": {
                            "type": "boolean",
                            "description": "Whether the password is excluded from invitations."
                          },
                          "hostDisplayName": {
                            "type": "string",
                            "description": "Host display name."
                          },
                          "hostEmail": {
                            "type": "string",
                            "description": "Host email address."
                          },
                          "hostUserId": {
                            "type": "string",
                            "description": "Host user identifier."
                          },
                          "id": {
                            "type": "string",
                            "description": "Meeting identifier."
                          },
                          "joinBeforeHostMinutes": {
                            "type": "number",
                            "description": "Minutes participants can join before host."
                          },
                          "meetingNumber": {
                            "type": "string",
                            "description": "Webex meeting number."
                          },
                          "meetingType": {
                            "type": "string",
                            "description": "Meeting type."
                          },
                          "password": {
                            "type": "string",
                            "description": "Meeting password when returned."
                          },
                          "phoneAndVideoSystemPassword": {
                            "type": "string",
                            "description": "Phone and video system password when returned."
                          },
                          "publicMeeting": {
                            "type": "boolean",
                            "description": "Whether the meeting is public."
                          },
                          "recurrence": {
                            "type": "string",
                            "description": "Recurrence rule for recurring meetings."
                          },
                          "reminderTime": {
                            "type": "number",
                            "description": "Reminder offset in minutes."
                          },
                          "scheduledType": {
                            "type": "string",
                            "description": "Scheduled meeting type."
                          },
                          "sessionTypeId": {
                            "type": "number",
                            "description": "Session type identifier."
                          },
                          "sipAddress": {
                            "type": "string",
                            "description": "SIP address for joining from a video system."
                          },
                          "siteUrl": {
                            "type": "string",
                            "description": "Webex site URL."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Meeting start time."
                          },
                          "state": {
                            "type": "string",
                            "description": "Current meeting state."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Meeting timezone."
                          },
                          "title": {
                            "type": "string",
                            "description": "Meeting title."
                          },
                          "unlockedMeetingJoinSecurity": {
                            "type": "string",
                            "description": "Join security for unlocked meetings."
                          },
                          "webLink": {
                            "type": "string",
                            "description": "Browser link for the meeting."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/webex/latest/actions/get-membership": {
      "get": {
        "operationId": "webex.get-membership",
        "summary": "Get Membership",
        "description": "Retrieves a specific membership from Webex.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/webex/latest/actions/get-membership"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membershipId",
            "in": "query",
            "required": true,
            "description": "Membership identifier.",
            "schema": {
              "type": "string",
              "description": "Membership identifier.",
              "example": "Y2lzY29zcGFyazovL3VzL01FTUJFUlNISVAv..."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
[...]
